<div class="left_art_zw"> 
 <h1>06中国日化市场回顾与展望：展望</h1> 
 <p class="left_art_zw_zz"> 来源：中国营销传播网&nbsp;&nbsp;&nbsp; 时间:2007-7-8 9:59:00 </p>  
 <div class="wz"> 
  <strong>展望篇</strong> 
  <p>&nbsp;&nbsp;&nbsp; <strong><font color="#ff1493">一、洗涤行业向规模化方向发展</font></strong></p>
  <p>&nbsp;&nbsp;&nbsp; 本土洗涤用品生产企业近年来迅速成熟，在此领域可以说占据绝对优势。目前，我国洗衣粉市场同质化现象严重，中档产品竞争激烈。就区域结构而言，农村及中小城市市场将成为跨国公司与本土企业竞争的主战场。</p>
  <p>&nbsp;&nbsp;&nbsp; 其中衣物洗涤剂、碗碟清洁剂、衣物柔顺剂等产品的生产技术和市场已日臻成熟。用于浴室、地板、玻璃、厨房、厕所等硬表面护理的专用或多功能清洁用品的使用有待进一步普及，总体市场容量有限，这些产品的普及应用和分销高度依赖现代零售通路，品牌形象在消费者心目中不够清晰，导致家居清洁用品的品牌市场占有率相对比较分散。</p>
  <p>&nbsp;&nbsp;&nbsp; 洗涤用品的主流方向为绿色、植物、节能节水、高效温和、使用安全。其中技术含量成为推动洗涤用品市场发展的主要驱动力，我国洗衣粉企业要长期维持一定的市场份额，先进的技术、产品的更新频次将是未来发展的重点。</p>
  <p>&nbsp;&nbsp;&nbsp; 从洗涤用品生产结构来看，肥(香)皂的产量增幅不及合成洗涤剂，合成洗涤剂的比例进一步提高，洗涤剂功能趋向于洗涤效果、方便使用、织物保养和个性化需求四个方面，并且更加关注环保、节能、节水产品的研发，浓缩产品和液体洗涤剂的市场地位上升是大势所趋。从竞争手段看，技术成为推动洗涤用品市场发展的主要驱动力，技术开发主流仍为节能、节水、高效、温和、使用方便、安全与环保。随着利润空间越来越少，产品间差异越来越小，营销策略成为竞争的重要手段。在营销策划中，“文化”品味日益浓重。</p>
  <p>&nbsp;&nbsp;&nbsp; 未来一个时期，洗涤???业将继续面临较大的成本压力，实行规模化经营来降低成本是必由之路；同时，通过产品系列化，在原有优势产品的基础上，进行品牌延伸，推出新产品作为原有产品的补充，延长产品价值链。</p>
  <p>&nbsp;&nbsp;&nbsp; 近两年，拥有强势品牌的洗涤用品生产企业如纳爱斯、立白等，明显加大了以延长产品价值链为核心的战略调整力度，加大对个人护理用品、化妆品行业及牙膏等关联市场的投入，拓展产品线，新产品、新品牌纷纷上市，改变单一的产品线，力图改善企业经济效益并分散风险。</p>
  <p>&nbsp;&nbsp;&nbsp;<strong><font color="#ff1493"> 二、彩妆成为化妆品行业发展的重要增长点</font></strong></p>
  <p>&nbsp;&nbsp;&nbsp; 由于彩妆产品消费目标群是集中度相当高的群体，虽然在市场分布上十分分散，但消费能力十分出色，而且，随着彩妆企业越来越注重彩妆产品的绿色无害，使彩妆的消费群体得到较大幅度的增长。</p>
  <p>&nbsp;&nbsp;&nbsp; 从市场销售渠道来看，彩妆保持大型商场超市销售为主要销售通路的政策丝毫没有受到批发市场、网络销售、药妆、连锁加盟等新通路快速发展的影响。</p>
  <p>&nbsp;&nbsp;&nbsp; 从消费层次来看，已经渐渐改变了过去那种一线城市为主，二线城市为辅的特点，呈现出国际品牌一线城市唱主角，如雅诗兰黛、倩碧等，大众品牌二、三线市场主动，如羽西、美宝莲、ZA等，三线及广大的乡镇市场则由低档品牌垄断，层次分明，各有所得。<br>从功能上来看，更加注重于保湿、防水、防晒、防汗、上卸妆方便的功能，即注重了肌肤养护的功能。</p>
  <p>&nbsp;&nbsp;&nbsp; 从色彩上看，中规中矩的日常妆容依然是主流色彩，但已经形成了部分张扬个性，色彩突出的妆容成为吸引眼球的卖点的状况，这和消费群体年轻化、社会发展容忍个性张???有关。</p>
  <p>&nbsp;&nbsp;&nbsp; 从产品结构来看，唇膏依然是主要的产品，另外，眼影、睫毛膏、靓甲、粉底等产品的销售也比较理想，但眼线产品的使用已经下滑。</p>
  <p>&nbsp;&nbsp;&nbsp; <strong><font color="#006400">三、化妆品超市使百货店的专柜受到挑战</font></strong></p>
  <p>&nbsp;&nbsp;&nbsp; LVMH旗下的化妆品零售商SEPHORA丝芙兰在华门店数量已达13家，零售网络覆盖北京、上海、杭州和宁波。至此，SEPHORA丝芙兰已成功实现其在华的“加速度”发展计划——以每月至少一家新店的速度开拓中国市场；在众说纷纭中声名鹊起的莎莎化妆品超市也于去年底在上海连开两家新店，使其在上海的专卖店达到5家。据悉，莎莎还计划在北京、成都、杭州等城市布点，在5年内开设100家专卖店，抢占潜力巨大的内地化妆品市场。</p>
  <p>&nbsp;&nbsp;&nbsp; 有关资料预测，到2008年，我国化妆品市场销售总额可??800亿元左右。“美容经济”正在成为继房地产、汽车、电子通讯、旅游之后的“第五大消费热点”。巨大的市场潜力不仅吸引了国际一流的化妆品品牌，也让包括屈臣氏、SEPHORA丝芙兰等在内的一些国际化妆品零售商巨头们纷纷垂涎于中国内地市场，并将其崭新的“化妆品超市”，即“一站式”的零售理念展现在国人面前。</p>
  <p>&nbsp;&nbsp;&nbsp; 如果说，早几年屈臣氏开在内地时尚街区的店堂，是喜欢美容护肤美眉们的淘宝圣地的话，如今的上海莎莎、SEPHORA丝芙兰更是让都市白领们欲罢不能的“一站式”败金场所。</p>
  <p>&nbsp;&nbsp;&nbsp; 这些走精致化路线的化妆品超市，还拥有努力研发自有品牌、专业美容顾问指导、免费皮肤分析、教授彩妆美甲、自助试用新品等贴心标签。SEPHORA丝芙兰的网上商店，更是把功夫延伸到了门店之外，该网站还计划在2007年年中全面引入其线???店铺内所有的品牌商品。</p>
  <p>&nbsp;&nbsp;&nbsp; 对于众多化妆品零售商巨头们雄心勃勃闯滩中国内地市场的做法，有关业内专家分析认为：目前在中国，百货店的专柜销售模式拥有化妆品近70%的市场，而化妆品超市的这一数据几乎为零。但在欧洲和美国市场，两者几乎各占有50%的市场份额。随着屈臣氏、法国丝芙兰等先后在内地登陆，这必将使原本几乎“独霸天下”的百货公司专柜开始受到挑战。</p>
  <p>&nbsp;&nbsp;&nbsp; <strong><font color="#ff1493">四、市场并购加剧，产业集群区域明显</font></strong></p>
  <p>&nbsp;&nbsp;&nbsp; 自2004年以来，外资品牌轮番降价并采取跟随定位匹配的连锁超市、购买优势的化妆品专营店等措施抢占渠道，同时在广告宣传方面投放巨额资金，构筑传播壁垒，逐步向二、三线市场逼近，国内化妆品企业的持续竞争力将经受考验。</p>
  <p>&nbsp;&nbsp;&nbsp; 2007年的化妆??市场将依然延续过去几年的并购风潮。这说明，化妆品市场正在逐渐走向集中。这种市场竞争集中化体现了两个意义：一是跨国企业加快了对中国市场的资本渗透，如北京大宝23亿挂牌待购、德国拜尔斯多夫与丝宝合资、南风与利华合资传言等事件，这种着眼于拓宽销售渠道目的的并购已经被欧莱雅证明了它的价值。</p>
  <p>&nbsp;&nbsp;&nbsp; 而并购的另一个含义则是民族企业的反击，年中时节立白收购重庆奥妮、上海高姿，年末时节传来澳雪国际、美日洁宝与神秘第三方合并组建新企业，这两个颇具代表性的案例证明经过几年的发展，中国的民族企业在部分市场领域已经具备了向国际拼派叫板的实力。但由于日化行业本身错综复杂，不会因为几次大的并购和价格战风暴就能完全整合，即使欧莱雅收购小护士，其并购测算的价值到2006年也仅完成了25%。未来中国化妆品行业???进入更全面的深度整合时期，行业集中度也将逐步提高，高、中、低端品牌结构将进一步重构。</p>
  <p>&nbsp;&nbsp;&nbsp; 2007年，中国化妆品行业出现产业集群的趋势更加明显，全国的化妆品企业主要集中在以广州、汕头、珠海为主的珠三角和以上海为中心、江浙两省辐射的长三角地区，尤其是汕头，其化妆品企业的数量占广东的70%，全国的45%。全国呈现了广东为主的生产集群，上海为主的销售集散群，东北为主的原料集群三大基地的格局。</p>
  <p>&nbsp;<strong><font color="#ff1493">&nbsp;&nbsp; 五、专营店将成为化妆品行业的主流渠道</font></strong></p>
  <p>&nbsp;&nbsp;&nbsp; 专营店、专卖店、精品店、化妆品连锁店在2006年的日化市场折腾得够呛，在两大生产基地的品牌广州、上海，也由此产生出品种齐全、包装精美的各种针对专营店渠道的类型，势必在潜力无穷的日化市场拼出条血路！</p>
  <p>&nbsp;&nbsp;&nbsp; 真正的专营店、精品店的运作不是停留在口头上，而是要在以人才为中心、以战略为目标的基础上，拥有较强的区域保护制度、精细化的系统管理，同时建立严谨的反馈机制能作出信息迅速传达、管理一致。</p>
  <p>&nbsp;&nbsp;&nbsp; 2007年，企业在操作专营店品牌的过程中需要有个性的管理体制、务实的操作理念、明确的市场定位作引导，更要职业经理人的专业质素。</p>
  <p>&nbsp;&nbsp;&nbsp; 在2007年的化妆品市场除了要做更细分化的市场拓展与维护的渗透工作，还需要做更多的售后服务，通过良好的品牌服务形象引导品牌基础发展，同时也少不了及时有效的教育培训、教育消费以及经常性的促销推广、CI规划。只要企业秉承公司的核心服务机制以及诚心的市场理念，2007年专营店的出路在一切市场行为中就能水到渠成，取得更大的业绩！</p>
  <p>&nbsp;&nbsp;<strong><font color="#ff1493">&nbsp; 六、营销通路不断创新</font></strong></p>
  <p>&nbsp;&nbsp;&nbsp; 随着新消费税的调整，跨国公司在华扩张成本降低，日化企业纷纷表示，有意进军中国农村市场。随着一二级市场的日趋饱和，县乡级市场的重要性越发凸显出来。业内分析称，在不成熟营销生态环境下，有两种典型的观点和模式：一种是过渡业态观点，认为中国的低线市场从渠道到品牌的认知等营销要素会以较快的速度过渡到规范业态；另一种是渠道和终端派，主张不做城市、不做品牌做销量。目前从日化行业来看，两种模式都没有获得公认的成功。中国市场的多样化与复杂性，是所有进人中国的外国品牌所必须考虑和面对的问题。洗化企业在中国探索发展进取的过程中，都在尝试通过各种渠道打破单一的销售方式，寻求多样化发展。</p>
  <p>&nbsp;&nbsp;&nbsp; 互联网。化妆品已经成为在互联网上销售??入排名第三的行业，市场潜力巨大，许多用户非常喜欢和习惯在网上采购化妆品。基于对市场的分析，欧莱雅中国公司决定首选兰蔻在中国开展化妆品的网上营销业务。</p>
  <p>&nbsp;&nbsp;&nbsp; 普通化妆品专卖店。资生堂将在2008财年(2008年4月-2009年3月)把在中国销售资生堂产品的商店由现在的1000家增加到5000家。</p>
  <p>截至2005年，资生堂在中国的专卖店已经达到1000家，2008年，这个数字预计可以达到5000家。。到06年底，资生堂将再开700家专卖店，而这些专卖店全部集中在中国的二、三级市场。在广东省内有53家资生堂专卖店，主要集中在没有大型百货商店的二、三线城市，其中粤西及珠三角地区为重点拓展区域。目前广州市内还没有专卖店，只有4家国际形象专柜设立于百货公司内。</p>
  <p>&nbsp;&nbsp;&nbsp; 2005年1月，DHC化妆品进军中国市场。一年半多的时间相对于许多化妆品大???牌建立发展运营的十几年历史来说是非常短暂的，但DHC却取得了让业内惊叹的成就。据悉，DHC订购热线平均每2秒钟接进一个电话，DHC网站访问人数已达39万人次。通过电话、网络索取试用装的顾客络绎不绝。在中国化妆品市场初战告捷。</p>
  <p>&nbsp;&nbsp;&nbsp; DHC的销售方式对于中国化妆品市场来说是全新的，采用了网络销售、电话销售、目录销售为主的销售模式。6大类、400多种产品直接从日本总部运到上海的仓储物流中心，再直接到达消费者手中。</p>
  <p>&nbsp;&nbsp;&nbsp; 目前，DHC已经在国内的上海、北京、广州、深圳、杭州等各大中城市进行了市场拓展，在其中的43个城市实现了货到付款，并在上海开通了移动pos机付款业务。此外，DHC还在上海建设了一个1200平方米的仓储物流中心，以完成订单处理、配货、包装并发货到第三方物流公司的一系列流程。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp; <strong>总结篇 </strong></p>
  <p>&nbsp;&nbsp;&nbsp; 我们认为，未来化妆品市场将更加细化——高端的更高端，大众的更个性。</p>
  <p>&nbsp;&nbsp;&nbsp; 从产品结构来看，美容用品比例将大幅上升，养护型日常彩妆将是中国市场的发展重点；</p>
  <p>&nbsp;&nbsp;&nbsp; 从产品理念看，防晒、抗衰老和绿色是化妆品理念发展的重点，以生物制剂、生物活性提取物、天然植物添加剂为代表的化妆品新原料，仍将成为产品开发的主导方向。</p>
  <p>&nbsp;&nbsp;&nbsp; 从消费群体来看，儿童化妆品、老年护肤品以及男用化妆品将具有很大的市场潜力，特别是男妆市场的逐步扩大，将使男妆成为中国化妆品市场的下一个亮点。</p>
  <p>&nbsp;&nbsp;&nbsp; 我国本土企业只有把握住有潜力的细分市场并形成自己独有的竞争优势，才能在未来的化妆品市场竞争中拥有一席之地。</p>
  <br> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjUwZDczMmExNTlkODgzZTY5ZGJh.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>