<div class="left_art_zw"> 
 <h1>1000名代理商，2000美业连锁，200家国内外品牌，共同打造代理商核心竞争力。</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/6/13 14:44:06 </p>  
 <p class="dd"> 第一届亚洲经销商大会。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img src="/image/information/ZmVmNzJhY2NkNGY2NGZiOTRhNjcy.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">前言，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">By 赵劲松。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">经销商，俗称代理商，亦叫中间商。在<a href="/cg/2.shtml" target="_blank">美发</a>行业中，经销商地位相当重要，经销商是整个<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>行业产业链条中信息传播不可或缺的重要环节，他们既是品牌和沙龙间的沟通桥梁，也是沙龙与沙龙之间互动的平台，据统计，美发沙龙获取的信息80%来自于当地经销商；他们承担了品牌推广的任务，如果没有经销商召集美发沙龙老板和发型师、提供场地做宣讲会，品牌将很难单独完成推广及市场服务；此外，经销商的存在大大降低了沙龙的库存成本和断货风险，当地经销商能在1天内将美发沙龙所需货物送达，避免了物流的压力。特别是像中国、美国、印度这样的大国，美发沙龙数量众多，级别和档次不同、需求各异，必须由经销商在其中协调才得以精细化地服务整体市场。经销商优秀，当??美发业健康发展，生意蒸蒸日上；反之则混乱不堪。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">中国美发行业经过三十几年的发展，取得了长足进步，经销商功不可没。但是，当今中国美业大部分经销商生存艰难的现状也不容忽视。一，思想保守，不愿学习新概念和新技术，对新产品不感兴趣，不敢挑战自己。二，经营方式和思路陈旧，十几年前甚至二十几年前的成功模式今天还在使用。三，从老板到员工普遍年龄都比沙龙的从业人员年长。四，资金运用到其他行业，对美业不够专注。五，只想从上游厂家获利，但又无法帮助品牌推广和占有市场，更没有能力帮助沙龙成长，导致美发沙龙跳开当地经销商向上游寻求支持。六，不够努力，没有理想和长远规划，得过且过。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">特别是这几年随着移动互联网的普及和社交软件的广泛应用，经销商被边缘化了。茫然、无助、慌乱，是大部分美业经销商心境的真实写照。有人选择离开美发行业，有人向上游投资发展，结果不甚理想。留下的我们该如何经营？如何破局？这是需要大家共同思考的问题。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">难得的是，在泥泞的道路中有几个坚毅的身影没有随波逐流，而是方向明确、步伐坚定、踟躇前行。其中，胡永国、苏忠利、陈汉立、何世诚是他们中的杰出代表。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MGM4NDRmZDkzMGNiMTliOTYzMmM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>胡永国</strong>，他参照苹果手机的营销模式建立他的“新汇”王国，发型师免费体验是他的经营内核。发型师是感性的一群人，自己用过感觉好的产品就会终生追随，粘性非常高，特别是染烫产品。因此，他先在上海建立体验中心，不断地请老师讲课、课后实操，让学员真正掌握产品的作用与技巧。回到店里，他们都能很自信地帮客人解决头发的问题。解决了客人的问题就是解决了发型师的问题。发型师逐渐依赖了新汇，产品自然越用越多。新汇逐渐将这种模式推广到长三角地区乃至全中国。2016年，销售额突破人??币1亿元。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>苏忠利</strong>，充分利用圣薇娜及AHA得天独厚的资源，大胆尝试薄利多销的模式，细致服务每一个沙龙，满足不同的需求。敢于投入，勇于探索，屡屡成为当地行业里第一个吃螃蟹的人。2007年，在长春体育馆，举行千名发型师大赛，到场行业观众达5000人，开吉林省美业聚会人数最多之先河。2008年，投入大量资金，召开“天池之巅，白山论见”，聚集吉林省最优秀美发沙龙老板300人，同亚洲顶级美发连锁沙龙的总裁们一同探讨、切磋，研究适合吉林美业发展之路。近十年来，喜利佳美业销售额直线上升，2017年达到2000万元。同年，第二届“天池之巅，白山论见”在长春最高端的凯悦饭店如期举行，提升品牌形象的同时，扩大了品牌影响力，也增加了淡季销量。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>陈汉立</strong>，联合其他地级市经销商，通过先行付出、跨区帮扶、资源整合，探索出地级市经销商联合经营新模式。地级市经销商相对于省会城市经销商，覆盖面小、服务美发沙龙数量少、得到上游的资源有限，而且当地发型师素质不高、获利能力低下，优秀品牌产品的代理权难以取得。但他联合省内各地级市经销商，采取贴近客户的一站式服务，把信阳乃至豫南市场经营得有声有色。合纵连横，是地级市经销商抗衡省会城市经销商之道。他正在筹备成立AHA河南分会，希望利用AHA的全球资源，更有效地帮助河南省发型师快速提升。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>何世诚</strong>，入行二十几年，一直坚持教育带动产品销售的理念。专业美发经销商有别于其他产品经销商，一个新的色号、一款有别于以往的烫发水需要让发型师理解并熟练掌握，这必然要通过培训教育才能达成。所以他投入大量资金在成都黄金地段建立了培训中心，将聘请的专职老师和品牌提供的专家相结合，几乎每天设有课程。从基础的染发教程到高精尖的技术的手把手课程，到最新的潮流技术发布，课程涵盖了发型师几乎全部的技术需求。同时推广到位，产品同步下达到美发沙龙，一条龙服务。解决了美发沙龙的问题，销售则水到渠成。他代理的某国内知名品牌的染发膏销售多年来在全国200个经销商中一直排名第一。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">以上四位，是行业经销商成功模式的代表。在坚守专业美发行业的信念下，他们懂得分析当地市场状况、调整角色、结合自身优势、善用资源、合纵连横、不断求变，开拓出属于自己的成功道路。当然还有不少经销商也在当地取得了一定的成绩，由于篇幅有限，不在此一一赘述。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/Yjk4YmYyNDcwYjQ3MDFjNzY0NzU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">市场在转变，汹涌的时代浪潮下不进则退。我们要破局、要转型、要成功，先行者胡永国、苏忠??、陈汉立、何世诚发起了本次亚洲经销商大会，希望大家可以对照他们的经验和教训来检视自己，思考并探讨出适合自己的发展方向，发掘新一代经销商的潜能，让专业美发行业往更健康的方向发展。希望未来有越来越多的经销商加入到发起人的行列。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">唯有改变，才是永恒不变的法则。</span> </p> 
  <p> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NmYzMzg4MTk4N2RjZmEzMjEwMzUy.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>