<div class="left_art_zw"> 
 <h1>10元护肤品进店翻20倍 辞职员工</h1> 
 <p class="left_art_zw_zz"> 来源：青岛早报&nbsp;&nbsp;&nbsp; 时间:2007-6-15 10:05:00 </p>  
 <div class="wz"> 
  <p>　　给10元一瓶的廉价护肤品贴上“OLAY”的牌子，就自称是玉兰油的高端产品，身价翻20倍，卖到200元。昨天，李沧工商永安路工商所执法人员根据辞职美容师姜女士的举报，在四流中路一家美容院内查扣了涉嫌假冒的“玉兰油”等护肤品30余瓶。街头美容院非法经营谋取暴利的内幕也被揭开，工商人员提醒爱美的女士看紧自己的钱包，别掉入商家的美丽陷阱。 </p>
  <p>　　诱导顾客高消费 </p>
  <p>　　“我自己不愿意在这行干了，也不想看他们再忽悠人。”前天，在青岛干美容师的外来务工者姜女士，来到永安路工商所，举报四流中路一家美容院欺骗消费者的黑幕。姜女士老家在山东，来青岛工作一年多，一直在这家美容院工作，工作就是向顾客推荐“高档”美容护肤品，从中赚取提成。可是由于不善诱导顾客高消费，姜女士的收入一直是店里最少??。前段时间，姜女士毅然决定退出该行业，她不但自己退出这个行业，还准备把自己接触到的美容业黑幕抖出来，让消费者当心。 </p>
  <p>　　护肤品进价不到10元 </p>
  <p>　　昨天上午，永安路工商所的执法人员来到姜女士举报的美容院，在店里查处了很多没有中文标识，只有“OLAY”标志的洗面奶、护理液等。工商人员现场查扣了这些涉嫌假冒的化妆品，并将店主陈某带回工商所处理。姜女士告诉工商人员，店里这些有“OLAY”标志的护肤品，进价不到10元，而卖给顾客每瓶洗面奶要200元。目前此案还在进一步调查处理中。 (刘文剑 苏雷 摄影报道) </p>
  <p>　　“护肤品”多没中文说明 </p>
  <p>　　昨天，记者走访了中山路一带的一些路边美容院，结果发现没有中文标示的护肤品在美容院大行其道，被当做国际品牌销售，价格不菲。而这些店家都自称是这些品牌的“青岛地区??代理”。在湖北路上一家美容美体店里，女美容师给记者推荐的一款“京美洋子”护肤品上，上面全是日文，没有中文说明，而这款补水护理套餐也卖到了700元的高价。 </p>
  <p>　　记者了解到，根据《产品质量法》，包装上全用洋文而没有中文标识的商品属“三无”产品。 </p>
  <p>　　办卡消费陷阱多姜女士曝光美容院坑人三招 </p>
  <p>　　昨天，姜女士给记者介绍了目前一些市面上的美容院最常用的坑人办法。 </p>
  <p>　　国际品牌 </p>
  <p>　　其实都是些仿制品 </p>
  <p>　　姜女士说，他们店里假冒的“OLAY”化妆品实际上大部分是广州、深圳等地生产的十几元廉价仿制品。姜女士说，他们对顾客促销时，都说这是玉兰油的高端产品，是该店独家代理的。如果顾客问外面的超市和商场为什么见不到，他们的解释是该店在青岛地区独家代理了这些高端产品，这些高端产品只在美??机构销售，不进入超市、商场等日用护理品市场。 </p>
  <p>　　毒素试验 </p>
  <p>　　面膜变黑是正常的 </p>
  <p>　　“小姐你好，我们美容店正在做活动，免费提供一次美容机会，来试试吧。”这种经历很多女士都遇到过。姜女士说，这只是招揽生意的第一步，顾客被领进美容院后，美容师会拿出一瓶排毒膏或排毒面膜给顾客免费“体验”，一般的情况是，顾客用上这种特制的排毒膏或面膜后，面膜就变成了黑色，美容师就会故作惊讶地说，“面膜变黑说明您脸上毒素太多，再不排毒以后会色素沉积，形成大片色斑。”而实际上，姜女士说这种药膏和面膜根本不具有“测毒”功能，药膏和面膜在仪器摩擦下，显出黑色是正常，“测毒”是美容师在故弄玄虚。 </p>
  <p>　　办卡消费 </p>
  <p>　　给顾客用便宜产品 </p>
  <p>　　姜女士说，在促销过程中，一旦顾客流露出一点要购买的意思，美容师便会拉上店长或其他美容师一起来“游说”，说目前搞活动，办卡划算，办美容卡是身份象征等等。而实际上，这些少则五六百元，多则上万元的消费卡，给顾客用的都是最便宜的护肤品。一旦顾客购买了消费卡，做了几次美容以后，店家会进一步促销，美容师会想法子让顾客转卡，即增加卡的消费项目，将原来的单项卡变成银卡、金卡等。如果顾客犹豫，美容师会故意“激将”，让顾客增加花费，“你每个月挣那么多钱，这几千块钱都舍不得，太不会活了。”对于实在拉不到的顾客，店家的服务就会越来越缩水，应付了事。 </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/N2M0ZGI5YTAxNWJjZDZkMWU5OTIz.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>