<div class="left_art_zw"> 
 <h1>11月的上海美业，将会发生一件大事</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/28 16:42:22 </p>  
 <p class="dd"> 近日，第24届上海国际美容美发化妆品博览会近日在光大会展中心完美落幕！ </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2017第24届上海国际美容<a href="/cg/2.shtml" target="_blank">美发</a>化妆品博览会（<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">秋季</span>）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">时间：2017年11月3-5日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地点：上海光大会展中心</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">展会回顾：</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第24届上海国际美容<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>化妆品博览会已于2017年4月1日在光大会展中心完美落幕！本次活动共持续三天，众多精彩内容。汇集了三百多厂商，吸引了近2万多名观众到现场观展，交易额更是创下新纪录。来自韩国、日本、法国、美国、新加坡、澳洲、德国、中国香港、中国台湾的近90家企业助阵，并给予此次美博会衷心的祝福和高度的赞扬。使得本次博览会成为上海春季耀眼的国际性展会之一。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">2017第24届上海国际美容美发化妆品博览会(秋季)将于2017年11月3-5日在上海光大会展中心举办。同期将举办的“第十六届上海国际美发美容节，第十八届上海国际美发美容美甲邀请赛”更是值得期待。上海美发美容行业协会和上海秀博展览有限公司强强联合，继续将上海美发美容节期间具有标志性的特色活动品牌整合运作，统筹组织策划；集产品展示、高峰论坛、时尚潮流发布、大赛优秀作品展示等众多项目同时同地交叉进行，精彩不断！相信凭借历届合作的成功经验，本届博览会将成为行业内您不容错过的品牌博览会。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">大会讯息</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">展会名称：2017第24届上海国际美容美发化妆品博览会（<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">秋季</span>）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">展出时间：2017年11月3-5日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">展览地点：上海光大会展中心（徐汇区漕宝路88号） &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">布展时间：2017年11月1日18:00—2日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">撤展时间：2017年11月5日15:00</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">主办单位：上海美发美容行业协会、上海秀博展览有限公司</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">承办单位：上海秀博展览有限公司</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">参展范围</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">美容护肤品、化妆品、美容仪器、中医美容、美容保健品、美体瘦身、美发、彩妆香水、美甲纹绣、原料??OEM及包装等；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">参展要求</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">具有企业法人营业执照；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">经营进口化妆品需有：商检合格证、卫生合格证；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">厂家需有生产许可证、卫生许可证、不经营假冒伪劣产品等。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">参展费用</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">㈠9㎡标准展位收费 [展位内设施包括：铝合金围板、一张咨询桌、两把折椅、两只射灯、一个220V/500W的电源插座、展位内满铺地毯、楣板上书中英文公司名称]</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国际区展位：RMB18800/9m2 &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">A区展位：RMB9800 /9m2 &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">B区展位：RMB7800 /9m2</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">㈡室内光地收费 [不提供任何设施]（光地地毯、水、电、气及特殊装修管理费等另算）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国际区：RMB1800/㎡ &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">A区：RMB1000元/㎡ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; B区：RMB800元/㎡</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">折扣优惠：光地36平米（含）以上9折优惠，光地54平米（含）以上8.5折优惠，</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">光地72平米（含）以上8折优惠，光地90平米（含）以上7.5折优惠，</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">其它广告</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">拱门￥10000元/期 门票：￥5000元/万张（3万张起印） 胸牌：￥20000元/期</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">广告牌：￥10000元/块 气球￥10000元/期 会议室￥8000元/3小时</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">手袋20000元/2千 请柬￥20000元/万张（1万张起印）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">参展细则</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、填写参展申请及合约表邮寄或传真至组织单位；021-51714528</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、展商签订展位销售合同后三个工作日内支付50%展位费或全款至承办单位作为定金，余款在2017年10月10日前付清，逾期未支付定金的单位，主办方有权终止其签订的合同、并取消、出售和调整该展商预定的展位；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、2017年10月10日后报名的参展单位，须全额一次付清参展费；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、展商在汇出各项费用后，请将银行汇款单传真至组织单位并注明公司名称；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、组织单位收到参展申请及展台费用后，将于2017年10月10日前寄《参展商手册》给参展商；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">参加本届展会的预期收益</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、宣传推广???牌，扩大知名度和美誉度；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、约见老客户，开拓新客户；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、寻找经销商和代理商，建立销售渠道，扩大销售网络；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、开展国际贸易，扩大进出口业务量；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、与终端用户见面，进行洽谈交流；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6、与同行见面，开展技术合作、代加工业务；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">7、获取最新工程、采购信息和投标机会；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">8、认识新的供应商和合作伙伴。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">为展商提供的服务</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在大会官方网站上免费为参展企业做长达一年的广告宣传;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">免费为参展商提供公共责任保险、展场清洁、24小时场馆保卫等服务；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">大会提供交通运输、展具租赁、礼仪等服务，展商根据情况选用；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">大会指定三星--五星各档酒店，展商凭证入住将享受超级优惠。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">敬请参展企业及时与我们沟通联络，获取最新展会信息</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzM5ODEyZTY1YzFhOWE5NTBlM2Rh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>