<div class="left_art_zw"> 
 <h1>12.8亲启：中???医疗美容大会暨国际医美高峰论坛邀请函</h1> 
 <p class="left_art_zw_zz"> 来源：中国整形美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/25 14:01:22 </p>  
 <p class="dd"> 中国医疗美容大会暨国际医美高峰论坛通过与全球顶尖大师面对面授习的方式，让会议真正回归学术。 </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年12月8日-10日，由中国整形美容协会主办的“中国医疗美容大会暨国际医美高峰论坛”将于上海世博中心隆重开幕???</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">本届大会是中国整形美容协会在国家层面与美国整形美容协会、</span><span style="font-family:Microsoft YaHei;font-size:14px;">IMCAS等多个国家地区协会全面合作的一次高峰论坛，紧扣国际、科学、艺术、人文特质，通过与全球顶尖大师面对面授习的方式，力求把热点问题讲深、讲透、讲明白，让每位参会者都能有参与感和获得感，力求让会议真正回归学术。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">凡中国整形美容协会会员均可享受优惠价！</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YTA0OTk4OTk4MjYxNWRiN2RhNjY3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OTUwYjUzY2Y0YWE3NzA2NGRlNzI2.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZDVkN2Q0YjcxMTJlNjM5ZTI5NmIy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YzQ4YjA1MGJhOTEzODUxZDNmYzVk.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OGFjMjY0MzRjZjcxY2IwNTJiMzhj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YmZiY2NkZTQ2ODhmNjc1NWI5MGI3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YjFjYzkxYTQ1NjQ0MTRkN2Y4MWJj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZTcxODMxYWJkOWEzODFhN2E4ZDcw.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MmU0YjllMDI4ZTBmNTQ2Yzk1ODcz.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OThlNjQ3YTQ0NmYxMTA4N2UxMTkz.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZTRlMDExZDcxMWQ2MzM5NjljYWJi.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZjlmMmE2Mzg5MjVkZGQxNjY1ZGZm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NmYwOWMyOGU1OGMzNGMwMjkyYTc1.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Y2Y0NGI3MDk2ODY3MWNkZjZkNzFm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZDg4ZDNjNjllNTI2NzhkYWQ0NTcz.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OTQ2MDYzZDYyYjgwZDJlM2U2OWQ1.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/M2FiZmFhN2ZkOWRjNmNlNzUzOTBm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MGRmODgzZTVkNzE5MDQ4ZWQwMzRh.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YTgwNTU1OGQzZTQ1NGFkMWQ3NGQ5.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YzJhYTk1OWUzOTUxN2Y2M2M1MjA4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Y2NhM2IzZmZmYzhjNmJkYjBmMWNh.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NTFkZTI1ZDA4NWQ4OGM3M2NhY2Fh.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YWRkODg1YmEyNjc3ZDg1YmVhNTYy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZGFkZTBiZDc3YzNjMmY0MDNkOGU1.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Nzc5M2RhNzg2YmQ1Zjg5ZjI3ODAx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YWFiNTBkMWYyMzI5Y2FhNzcxMzll.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">会员报名享优惠 即日起，至12月8日，凡中国整形美容协会会员报名可享受优惠价！</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;报名前请咨询王老师：17001010777</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">中国整形美容协会（</span></strong><strong><span style="font-family:Microsoft YaHei;font-size:14px;">Chinese Association of Plastic and Aesthetics ,CAPA）</span></strong> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">中国整形美容协会是经中华人民共和国卫生部审核批准、民政部登记成立的国家一级民间社会团体，成立于</span><span style="font-family:Microsoft YaHei;font-size:14px;">2009年，是由从事整形美容临床、教学、科研管理等相关单位和个人自愿结成的行业性的全国性的非营利性的社会组织。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZDFjNmY5MDI0NTlmYzYxM2VhOGVl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>