<div class="left_art_zw"> 
 <h1>12位发业顶尖大咖邀你一起掀起中国发业新革命！</h1> 
 <p class="left_art_zw_zz"> 来源：中国发博会专业供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/2 11:14:57 </p>  
 <p class="dd"> 12位发业顶尖品牌大咖现场揭秘假发、美发、植发、增发、养发、育发 如何创新融合、开拓新的市场空间。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjU1ZDhkZTk1N2YyYmYwNzY3YWUz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">假发、<a href="/cg/2.shtml" target="_blank">美发</a>、植发、增发、养发、育发，</span><span style="font-family:&quot;font-size:14px;">如果你只从事以上一个项目，</span><span style="font-family:&quot;font-size:14px;">有没有觉得竞争越来越大，</span><span style="font-family:&quot;font-size:14px;">同质化越来越严重，</span><span style="font-family:&quot;font-size:14px;">盈利空间越来越小，</span><span style="font-family:&quot;font-size:14px;">那么，如何解决以上问题呢？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">解决头发问题、拓展销售渠道，</span><span style="font-family:&quot;font-size:14px;">推广产品技术、提升盈利能力，</span><span style="font-family:&quot;font-size:14px;">中国发业革命从此开始！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017中国发业创新融合论坛，</span><span style="font-family:&quot;font-size:14px;">8月18-19日上海世博展览馆，</span><span style="font-family:&quot;font-size:14px;">我们邀请了12位发业顶尖品牌大咖，</span><span style="font-family:&quot;font-size:14px;">现场为您揭秘，</span><span style="font-family:&quot;font-size:14px;">假发、<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>、植发、增发、养发、育发，</span><span style="font-family:&quot;font-size:14px;">如何创新融合、开拓新的市场空间，</span><span style="font-family:&quot;font-size:14px;">革命，不是谁都可以干的！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">想和他们一起掀起发业革命吗？</span><span style="font-family:&quot;font-size:14px;">现在0元抢票入场，</span><span style="font-family:&quot;font-size:14px;">活动现场298元购票/张。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>活动详情</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">主办单位：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国轻工工艺品进出口商会发制品分会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">国家发制品及护发用品质量监督检验中心</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">承办单位：中国发博会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">时间地点：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月18-19日</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">上海世博展览馆3号馆中国发博会会议区</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">论坛主题：融合?共享市场</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">我们将用中国发博会12年、8届的行业积累，邀请行业内从业大咖、知名品牌代表，用他们无私奉献的精神与数年的从业经验，向我们呈现10余个精彩演讲，提升植发医院、养发馆、假发店、美发沙龙店的盈利能力。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">届时将有500多家假发、美发、增发植发、养发育发厂家、经销商、品牌商，1000多位美发沙龙老板及学校、植发医院、养发馆相关行业精英、养发品牌运营商及运营店、假发生产及品牌运营人员、媒体、相关专家齐聚上海，共商发业融合大计，为中国发业的繁荣昌盛构建创新、健康、和谐的生态链。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾介绍</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>论坛上半场</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>假发&amp;美发&amp;植发篇</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>时间：8月18日9:00-12:00</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>地点：上海世博展览馆3号馆中国发博会会议区</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：张杰</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国轻工工艺品进出口商会副会长</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲主题：“一带一路”撬动轻工产业新支点</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzhhYmJmODhjZTlmNGIxZDYwYTNl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：张菊芳</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">杭州市第一人民医院（三甲医院）医疗美容科&amp;整形外科主任</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">南京医科大学硕士生导师</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中华医学会整形外科分会毛发移植学组组长</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国整形与美容协会毛发移植分会会长</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：全球植发发展及中国植发市场浅析</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.中国大陆植发开始于二十世纪九十年代初，进入2000年后进入飞速发展期，植发作为一项医疗手术，逐渐走入寻常百姓的视野中。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.毛发移植现已作为一个经典术式，作为一个唯一能够持久有效改变男性雄激素性脱发外观的方法，在医疗行业逐渐市场化的今天，正引领极大的市场份额。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.中国植发正逐渐走向世界，也在世界医疗界占据一席之地。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Yzg2ODNhYzk1YzUzNWFlYzdmZWVh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：郑文青</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">全球首家上市假发品牌Rebecca总经理</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">伦敦摄政商业学院国际营销管理专业硕士研究生</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">最擅长营销、并购</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲主题：解构瑞贝卡国内市场品牌运营之路</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Mzg5NjIxOGZmYzNkMGY3YzBkZDIy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：郑建兴</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">北京妙镜界科技有限公司董事长</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">互联网+美业创新领航人</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲主题：创新?升级——用互联网技术改变美业形态</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">在时??的战场，我们美业人的机会在哪里？如何把时间资源套现？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/N2JhZDFjOGIwODUwY2VkODFkYjM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：李建云</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国最为时尚顶尖的美发沙龙IN STYLE品牌设计师兼CFO</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：颠覆传统美业：如何玩转互联网美业与潮流时尚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzY2OGJiZTQ4ODdhODYwYzQ0ZGI0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：钟日生</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">台湾假发之父</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">得意假发创始人</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：</span><span style="font-family:&quot;font-size:14px;">柔情以善?仪态万千——充满生命力色彩的假发品牌经营学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.台湾高端假发业现今概况和未来经营方向分析。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.美业人面对『假发』应具备的思维和态度。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWNhNjJkMzg4N2IyZmUwMTliYzdh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：金呔臣</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国轻工工艺品进出口商会发制品分会常务副理事长</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">山东永方达国际贸易有限公司董事长</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲主题：</span><span style="font-family:&quot;font-size:14px;">美国假发市场分析暨??形势下假发企业的发展</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国发制品未来之路解析</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjFlMjNjYWU3Mzk2OTRiMmUzYjli.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>论坛下半场</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>植发&amp;增发&amp;养发育发篇</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>时间：8月19日9:00-12:00</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>地点：上海世博展览馆3号馆中国发博会会议区</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：罗林川</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">最具投资价值黑马企业--上海黑黛增发CEO</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲主题：</span><span style="font-family:&quot;font-size:14px;">四大核心竞争力，让客户价值和企业价值高度统一</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.如何把异业实体店联盟起来？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.如何帮助增发行业资源整合？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.如何让沉睡的客户激活？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.如何让客户转变成营销人员？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.如何让消费者积极成为股东？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.如何让员工自发主动做事？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.让客户价值和企业价值高度统一秘诀</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGE2MDg0MjExZDk1NThhMzZhOTM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾???杨勤萍</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">复旦大学附属华山医院皮肤科副主任</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">主任医师</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">博士研究生导师</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：</span><span style="font-family:&quot;font-size:14px;">打破传统，以医代养——医学技术+专业服务</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWQ4ZjU4N2YzMjFiYzlhOTMyYTk3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：王冬芳</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国?科发源医疗集团营销副总经理</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：</span><span style="font-family:&quot;font-size:14px;">“脑袋”变了，钱袋来了</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">从植发医院到毛发种植国际连锁医院的转变如何实现？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">从一名发友到十余万发友客源如何转变？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">引领国内毛发种植趋势走向今后又会是如何？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzgxOTA1ZjgzZjQ5MzNiZmVlYTRi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：王文颂</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">意大利.台湾雪瑞尔养发馆总裁执行特助</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：</span><span style="font-family:&quot;font-size:14px;">?变?是唯一不变，头发、头皮?生?养?疗? 过去、现在、未来</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">从台湾本土养发市场谈起，到大陆养发市场，再延伸到全球的养发市场，从服务、技术、产品、客人的需求及潜在心理需求，帮助观众解决三个问??：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.如果你是做美发的，想在养发领域有所突破？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.如果你是做养发的，想对精致化服务了解更多？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.如果你是做假发的，想清楚怎样资源整合？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.听说养发领域很火热，能不能做？为什么要做？怎么去做？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ODExMDBjMWViZDQ2ZWRkY2Y0OTEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>演讲嘉宾：朱袁蒙</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国植发权威机构博士园副总裁</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">留美学者</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">演讲议题：</span><span style="font-family:&quot;font-size:14px;">毛发健康行业的现状及发展趋势—养防治健 医美结合</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">植发、治理、养护项目进驻美发店带来的好处？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">植发、治理、养护项目进驻假发店带来的好处？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">植发、治理项目进驻养发店带来的好处？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmU5NDcyMmY4ZDBiZjgyNDUwMTM0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">解决头发问题、拓展销售渠道，</span><span style="font-family:&quot;font-size:14px;">推广产品技术、提升盈利能力。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGFmZTA5ZGU4OWI0ODYyNGU1YmNk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>