<div class="left_art_zw"> 
 <h1>2006黑龙江省发型化妆大赛报名开</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-4-23 13:01:00 </p>  
 <div class="wz">
   　　本报20日讯为了让创造并守护美丽的理发师与化妆师们充分展示自己的才艺，同时推举出行业的真正明星，本报与省美发美容协会将联合举办“2006黑龙江省发型化妆大赛”，报名工作即日展开。
  <p>　　据省美发美容协会迟忠远会长介绍，本次大赛的主题确定为“走进生活”，比赛的内容也偏重体现人们日常工作生活中的发型、着色、化妆及美容护肤项目。&nbsp;<br>&nbsp;<br>　以期通过这次范围涵盖全省的行业大赛，展示理发师、化妆师们的高超技艺，同时引领人们的“美丽消费”潮流。另据了解，本次比赛的项目也是历来划分最细致的一次，共计14项。其中，初级竞赛设为男女剪吹两项，高级竞赛全为真人模特，包括创意发型四项、沙龙发型三项、时尚化妆三项，更有美容方面的护肤及纹刺两项前卫的设置。大赛决赛将最终决出全省行业??星及行业新秀，并向国家推荐。</p>
  <p>　　该协会赵秘书长说，本次大赛的数十名评委都是我省乃至我国美发美容行业的大师名师。大赛中，本报将对部分选手的作品进行介绍，同时请评委团予以点评，向人们普及发型化妆知识，进一步提高欣赏水平，倡导健康的美丽。</p>
  <p>　　咨询热线：0451-53609196。</p>
  <p>　　报名地址：哈市南岗区国民街69号301室。<br></p>
  <p align="right">引自：黑龙江生活报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OGMxNjQ4MjFkODYzODYzY2Y1NTZk.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>