<div class="left_art_zw"> 
 <h1>2006第12届江苏美容美发博览会开</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-7-3 14:30:00 </p>  
 <div class="wz"> 
  <p> </p>
  <p><img style="FILTER: " height="1006" alt="" hspace="0" src="/image/information/NWMzODgzZjUxNTgyOTkxZmNiOTcy.jpg" width="680" border="0"></p> 
  <p><img style="FILTER: " height="1043" alt="" hspace="0" src="/image/information/ZTA2NDM4NDIwODEzZmUzMmM0YWQ0.jpg" width="680" border="0"></p> 
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/M2M3ZjEyYjllNDYzNzlmOGUxOGVk.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>