<div class="left_art_zw"> 
 <h1>2006第十二届江苏美容美发节开幕</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-10-12 16:22:00 </p>  
 <div class="wz"> 
  <p> </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2006第十二届江苏美容美发节在国际展览中心隆重举行，哈发为您带来第一手的资料！</p> 
  <p><embed src="http://f.hair8.net/sbff/06-10-12/2.mpg" width="400" height="400" type="audio/x-pn-realaudio-plugin" console="Clip1" controls="IMAGEWINDOW,ControlPanel,StatusBar" autostart="true"></p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161056.jpg" target="_blank"><img src="/image/information/ZjA1NDBkOWNjZGQwNTdjMGM1M2Rk.jpg" border="0"></a></p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161151.jpg" target="_blank"><img src="/image/information/NWE3MzJjZWI1NzU0OWM2NmE4ODg5.jpg" border="0"></a></p> 
  <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主持人的宣布下，开幕式正式开始</p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/2006101216132.jpg" target="_blank"><img src="/image/information/ZGI0YWU5MGRiOGYzZDMzMTQxOTRj.jpg" border="0"></a></p> 
  <p align="center">陈宗<wbr>庸先生发表讲话</p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161426.jpg" target="_blank"><img src="/image/information/M2Q1NGExMDk5MTc0YTk1YmY3MmUw.jpg" border="0"></a></p> 
  <p align="center">法国同行上台发表讲话</p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161558.jpg" target="_blank"><img src="/image/information/MGQ5YzYzNmQ1MjQwNGIwZDgyZDRk.jpg" border="0"></a></p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161636.jpg" target="_blank"><img src="/image/information/MDdhMTlhODBjZDI4ZjRkZWEzMDQ0.jpg" border="0"></a></p> 
  <p align="center">金莎学校的同学门在表演剪刀秀</p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161859.jpg" target="_blank"><img src="/image/information/ZWQwMmI0ZjE0MTMyZjg3YzdkZjc5.jpg" border="0"></a></p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161914.jpg" target="_blank"><img src="/image/information/MDdmMzg1ZDk1MmEwMzZlMmY0NWQx.jpg" border="0"></a></p> 
  <p align="center">来宾们剪彩</p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061012161958.jpg" target="_blank"><img src="/image/information/Y2UwZjVhNzc4Y2UzZjkzYjMwNTk2.jpg" border="0"></a></p> 
  <p align="center"><a href="/manage/manage/upload/upfiles/2006101216208.jpg" target="_blank"><img src="/image/information/MGU4MmJhOGQ0MzZhNjEzM2UyMzli.jpg" border="0"></a></p> 
  <p align="center">参赛人员陆续进场，第十二届江苏美容美发节正式拉开帷幕！</p>
  <a href="/manage/manage/upload/upfiles/20061012161743.jpg" target="_blank"></a> 
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzRkNWQ5YWQ1YmI0M2ViYmI2NmIx.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>