<div class="left_art_zw"> 
 <h1>2007年原装进口化妆品加速入华</h1> 
 <p class="left_art_zw_zz"> 来源：信息时报&nbsp;&nbsp;&nbsp; 时间:2007-5-15 11:00:00 </p>  
 <div class="wz"> 
  <p>　　法国品牌凯莱蒂娅把美博会作为首次亮相的平台、瑞士知名品牌VALMONT宣布旗下NATURE系列正式进入中国市场……在前日落幕的第26届广州国际美博会上，各大原装进口化妆品纷纷宣布以广州作为进入中国市场的第一站，而原有的进口品牌也称将加大在中国市场的开拓力度。</p>
  <p>　　对此，业界分析认为，由于国际品牌化妆品已在百货商场等大众通路形成一定的品牌格局，因此新进入的品牌将以专业美容通路为突破口，这将对国内专业美容品牌形成压力。</p>
  <p>　　国内美容市场快速增长</p>
  <p>　　据有关数据，国内美容业正成为继房地产、汽车、电子通信、旅游之后的第五大消费热点，去年，美容服务业实现产值2200亿元左右，快速增长的美容市场吸引了越来越多原装进口化妆品的进入。</p>
  <p>　　记者在今届美博会上就看到不少原装进口化妆品品牌的身影：法国品牌凯莱蒂娅宣布把广州作为其进入亚洲市场的首站；瑞士大有名气的化妆品品牌VALMONT也宣布旗下NATURE系列正式进入中国市场，他们的目标是进入主流城市的高档美容院。而一些进口品牌的总裁也亲临现场，可见其对中国市场的重视。<br>　　需求回升吸引品牌进驻</p>
  <p>　　需求回升是原装进口化妆品纷纷进军国内的主要原因。凯莱蒂娅中国经销商、广州市多恩生物科技有限公司副总经理周东耀告诉记者，国内的经销商和消费者对高端进口品牌的需求有所回升，原装进口化妆品大有市场。他透露，在展会第一天，他们就接到了二三十份定单。而VALMONT中国总代理、深圳卓越新世纪贸易有限公司总经理曾彩云也称，自2006年进入中国以来，VALMONT的销售业绩每个月都有增长，因此她对NATURE系列在国内的上市充满信心。</p>
  <p>　　美博会主办方、广东省美容美发化妆品行业协会会长马娅在接受记者采访时表示，今届美博会的原装进口品牌一共有20多个，数量和布展规模都比往届多和大，而参展的进口品牌在国外都非常知名。“这说明了国内消费者对专业美容的品质要求提高了，相信在未来会有更多的高端品牌陆续进入。”业内人士陈先生也认为，今届美博会上的进口品牌数量增加了，参展的位置也越来越好，这都说明了他们对中国市场越来越重视。 </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NmFhZmEwYmMxNDY0NzhiYjA5ODIx.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>