<div class="left_art_zw"> 
 <h1>2007年化妆品市场全球新动态</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网&nbsp;&nbsp;&nbsp; 时间:2007-5-31 10:16:00 </p>  
 <div class="wz"> 
  <p>　 近来，知名市场调研公司Mintel的全球新产品数据库（GNDP）预测了2007年超市的主要化妆品流行潮流。该公司GNDP的custom solutions部主管David Jago也表示，由于所谈到的潮流趋势而不是流行一时的狂热而已，因此消费者可能还需要一段时间来感知所有这些化妆品趋势。下面就让我们来看看2007年化妆品市场将主要呈现何种面貌？</p>
  <p>&nbsp;&nbsp;&nbsp; 一 化妆品新热点：亚马逊流域</p>
  <p>&nbsp;&nbsp;&nbsp; 消费者对天然产品及富有异国情调的原料成分的热衷已经是化妆品及护理品行业司空见惯的事情了。Mintel公司根据这一现象推断，越来越多的公司将引进亚马逊流域的原料成分。一些具有异国风情的水果，如acai和cupuacu等在其独特的抗衰老功效方面已经颇为声名远播，因此化妆品生产商争相抓住机遇，拓展Natura化妆品系列，因此以亚马逊流域的原料为主要成分的化妆??和其他美容品将广受欢迎。</p>
  <p>&nbsp;&nbsp;&nbsp; 具体说来，被称为“亚马逊流域青春活力果”的拿那/瓜拉那提取物就是典例。瓜拉那原产亚马逊流域，最早由印地安人种植，印地安人视它的种子为“神果”，他们习惯在狩猎和搏斗时咀嚼瓜拉那种子，以便获得能量。1907年，巴西开始用瓜拉那生产饮料，之后很快就流行开来，由于它浓烈的热带地域特色的风味，瓜拉那被广泛用于食品、饮料和制药工业中，拥有广泛的消费人群。而瓜拉那所含有咖啡因，能够温和而缓慢地刺激神经，刺激维持的有效期长，对人体没有危害，而其他来源的产品通常起效快，但持续时间短，另外瓜拉那还可减少疲劳和增强活力。食品行业是如此，化妆品行业也逐步发现并充分利用亚马逊流域的天然植被价值之所在。</p>
  <p>&nbsp;&nbsp;&nbsp; 二 种族产品流行</p>
  <p>&nbsp;&nbsp;&nbsp; Mintel根据相关数据及调研表示，未来一年内Fair-trade产品的销售将继续增长，消费者对种族产品的钟爱毫不衰减，市场将出现更多新鲜且季节性鲜明的产品。</p>
  <p>&nbsp;&nbsp;&nbsp; 三 可再充型包装走俏</p>
  <p>&nbsp;&nbsp;&nbsp; 近年来，与日俱增的包装垃圾成为各国人们颇感头疼的问题。一些不负责任的商家一味选用掺入塑料成分的高档复合包装和轻质的软质包装，使得用后处理难度增大或处理成本升高，成为城市的“白色污染源”。为此，一些发达国家由于资源危机和防治污染的双重压力，纷纷开发 “绿色包装”。绿色包装策略又叫生态包装策略，指包装材料能够再循环利用、再生利用或自然降解，并在产品的全生命周期中对人体和环境不会造成危害的适度包装。另外Mojo Cosmetics公司推出的TITAN refillable lipstick（TITAN可再充型口红）也是这一方面最好的例证，它最具特色的是其子弹型口红填充???（bullet refills）有7种不同颜色，色彩采用具有水合作用的植物药材精华、持久不褪色、色质高档闪亮，可长期使用，不断填充。</p>
  <p>&nbsp;&nbsp;&nbsp; Mintel公司人士表示，包装生产商将顺应消费者对ethical包装产品需求的增长趋势，于2007年推出更多类似功能的产品。Mintel公司GNDP的custom solutions部主管David Jago还表示，这些产品还将更加多样化，以更好地保护环境，减少所使用包装材料的数量，从而更好地适应社会的可持续发展。</p>
  <p>&nbsp;&nbsp;&nbsp; 四 天然产品大行其道</p>
  <p>&nbsp;&nbsp;&nbsp; 关于这一趋势的报道几乎铺天盖地，再次不做赘述。如Creme de jour Enrichie之类的产品不再在动物身上进行实验测试，而是采用麦卢卡树 (manuka，一种产于澳洲的桃金娘科树)蜜等天然原料成分。这些产品市场定位非常明确，就是那些既崇尚身体健康又追求外部美观的消费者，事实上，这一消???群正在不断扩大，Mintel公司预测2007年将会有更多该类产品上市。</p>
  <p>&nbsp;&nbsp;&nbsp; 五 回归淳朴</p>
  <p>&nbsp;&nbsp;&nbsp; 市场研究公司Mintel还表示，各种数据显示化妆品及护理品界将回归传统原料及简单包装的潮流。这主要是由于目前化妆品生产商争相推出多样化、功能细化的产品，使得消费者面临太多的选择，一时难以作出适合自己皮肤和身体状况的决定。因此，原料成分和包装也许能成为吸引消费者眼球的亮点。</p>
  <p>&nbsp;&nbsp;&nbsp; 六 网络营销</p>
  <p>&nbsp;&nbsp;&nbsp; 正如“博客”潮流一样，化妆品公司也将融入现代网络革命，通过因特网向消费者传达更多的信息。传统营销方式将逐步退居次要位置，更多的产品将通过网络传送到千家万户。化妆品公司可通过增加促销活动、在线竞赛、知识问答、赠送礼品或其他方法扩展其网络销售。</p>
  <p>&nbsp;&nbsp;&nbsp; 七 关注男士化妆品</p>
  <p>&nbsp;&nbsp;&nbsp; 男士化妆品及护理品领域正在慢慢崛起并日趋繁荣，但其市场空缺还是不容忽视。这一方面，碧欧泉Biotherm公司起步较早，具有成熟市场的一些优势，其推出的Biotherm home age fitness night recharge产品就是例证，据称可一夜之间使皮肤重新复活具有全新活力。</p>
  <p>&nbsp;&nbsp;&nbsp; 八 看好青少年市场</p>
  <p>&nbsp;&nbsp;&nbsp; Mintel公司还预测，由于成年人市场已经相对饱和及成熟，而在纽约这样的大城市，儿童市场也已受到许多化妆品及护理品公司的重视和一定程度上的开发，未来将会有更多公司聚焦青少年产品市场。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODUzZWViN2MzOWRmMWJiZGM3YmM1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>