<div class="left_art_zw"> 
 <h1>2007全国健康美妆名品展将在洛阳</h1> 
 <p class="left_art_zw_zz"> 来源：工商时报&nbsp;&nbsp;&nbsp; 时间:2007-3-23 15:34:00 </p>  
 <div class="wz"> 
  <p>　　由全国工商联美容化妆品业商会主办，洛阳中原康城服务会展有限公司承办的“2007全国健康美妆名品联展暨2007第二届中国洛阳美容美发文化节活动”将于2007年4月6日－8日在河南省洛阳市中原康城举行。</p>
  <p>　　本次展会以“和谐健康，合作共赢”为主题，目的是为中国健康美妆产业名品开拓国内、国际市场提供交流合作平台，促进我国健康美妆产业的繁荣发展，共建国际化、规模化、品牌化、现代化、专业化、信息化于一体的多功能健康产业集散中心，成为中原最大的物流及采购基地。博览会期间，组委会将组织中国医药产业（洛阳）峰会、全国工商联美容化妆品业商会经销商专业委员会2006“诚信承诺单位”颁奖大会、健康产业国际合作论坛、第四届世界养生大会“茶文化与养生”论坛、“2007中原审美流行风尚”大型时尚表演和“真国色”毛戈平化妆艺术成就中原行等权威特色主题活动，堪称中国美妆产业高端资源的总动员。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTcyNjM1OWE3MzlmYzE5ODY1OWFl.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>