<div class="left_art_zw"> 
 <h1>2007亚洲美发沙龙商业大奖,与亚</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2007-4-24 11:21:00 </p>  
 <div class="wz">
   &nbsp; 
  <table id="__01" height="1481" cellspacing="0" cellpadding="0" width="680" align="center" border="0">
   <tbody>
    <tr>
     <td><img height="152" alt="" src="/image/information/M2ViZDM4M2FiZGQwMDkwMzkxMjBj.jpg" width="680"></td>
    </tr>
    <tr>
     <td style="LINE-HEIGHT: 160%" background="http://f.hair8.net/shidian/ASBS/images/ASBS1_02.jpg" height="192">
      <blockquote>
       <p>报名 </p>
       <p>1. 报名截止日期为2007年5月31日。<br>2. 2007年6月15日之前将公布所有入围名单。<br>3. 每位入围者准备组委会所要求的详细资料和数据进行最后的评比。<br>4. 主办机构在收到参赛者的档案后，发送确认信息。<br>5. 沙龙的参加编号另行通知。<br>6. 提交档案参加初选无须缴付报名费用。 <br></p>
      </blockquote></td>
    </tr>
    <tr>
     <td style="LINE-HEIGHT: 160%" background="http://f.hair8.net/shidian/ASBS/images/ASBS1_03.jpg" height="384">
      <blockquote>
       <p>入围 </p>
       <p>》》入围沙龙<br>- 入围证书 1份<br>- 「亚洲美发沙龙商业大奖亚洲论坛」入场券1张 价值1980元/张 </p>
       <p>》》 决赛获胜者<br>- 获奖证书 1份<br>- 奖杯 1个<br>- 本地及国际传媒的广泛报道，包括「亚洲美发沙龙商业大奖」的国际媒体伙伴和多份本地报章。<br>- 写入「2007亚洲美发沙龙商业大奖」大奖年鉴<br>- 获奖沙龙将于2007年6月起在「亚洲美发沙龙商业大奖」网页中刊出。 <br>- 获奖沙龙及个人均可使用「亚洲美发沙龙商业大奖」2007得奖者标志作宣传用途。<br>版权归属<br>参赛沙龙及个人需为其提供的数据、文字及图片的真实性和版权负责，并须就因知识产权引起的任何法律后果负全部责任，由于参赛者提供的所有数据而引起的一切法律纠纷，均与组织方无任何关系。参赛作品所涉及到的模特肖像权、摄影作品使用权将授权给中国国际美容时尚周。</p>
      </blockquote></td>
    </tr>
    <tr>
     <td style="LINE-HEIGHT: 160%" bgcolor="#ffffff" height="174">
      <blockquote>
       <p>其他<br>1. 经过审核，未能符合参赛资格的沙龙均会被取消资格。 <br>2. 经过审核，资料中存在虚假内容的沙龙将会被取消资格。<br>3. 在公平合理的前提下，评审团就奖项所做出的决定均为最终决定，参赛者无权提出异议。<br>4. 主办机构有权刊载及展示获奖沙龙的名称、装修图片，不需另行通知参赛者。<br>5. 参赛沙龙提交的沙龙内部资料和数据，除参评沙龙注明为保密资料，否则主办机构有权在相关媒体宣传中进行刊载。 </p>
      </blockquote></td>
    </tr>
    <tr>
     <td style="LINE-HEIGHT: 140%" bgcolor="#ffffff" height="207">
      <blockquote>
       <p>提供 </p>
       <p>1．沙龙法人或代表身份证件<br>2．营业执照副本<br>3．员工招聘制度、财务制度和培训制度<br>4．员工获奖证书<br>5．媒体宣传或合作媒体清单及样刊复印件<br>6．美发沙龙照片</p>
      </blockquote></td>
    </tr>
    <tr>
     <td style="LINE-HEIGHT: 160%" background="http://f.hair8.net/shidian/ASBS/images/ASBS1_06.jpg" height="263">
      <blockquote>
       <p>联系 </p>
       <p>若参赛沙龙获得入围权，入围企业须向主办机构缴纳人民币一千八百元整。「2007亚洲美发沙龙商业大奖」工作小组逐一通知入围企业和奖项，跟进付款事宜。 <br>》》 汇款细则<br>将报名表和汇款凭证传真至组委会并请保留原始汇款单和现金收据以备后续使用。<br>邮局汇款<br>公司名称：北京隆美联盟国际会展有限公司 <br>地址：北京市东城区东直门南大街9号华普花园D座802室 邮编：100007<br>收件人：寻找中国下一位美发大师服务小组 张玉红 <br>电话：010 - 84098148 84098615 传真：01084094407<br></p>
      </blockquote></td>
    </tr>
    <tr>
     <td background="http://f.hair8.net/shidian/ASBS/images/ASBS1_07.jpg" height="109">
      <div class="style1" align="center">
       <font color="#800080"><br><font size="2"><a href="http://f.hair8.net/shidian/ASBS/cssq.doc">点击下载参赛申请表</a></font></font>
      </div></td>
    </tr>
   </tbody>
  </table>
  <p>
   <!-- End ImageReady Slices --></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZDczZWI5MmMxZTA3NDdkZWJmODk4.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>