<div class="left_art_zw"> 
 <h1>2007年中国美容行业研究</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网&nbsp;&nbsp;&nbsp; 时间:2007-2-6 10:08:00 </p>  
 <div class="wz"> 
  <p>　　美容业正在成为继房地产、汽车、电子通讯、旅游之后的第五大消费热点，巨大的商机已经凸现。今后几年，以科技创新、品牌创新、质量创新、服务创新为本的‘新美容经济’将成为中国第三产业中的最大亮点。截至2005年，中国的美容服务业直接就业者约1200万人，美容就业机构总数近180多万家，年营业收入近（人民币，下同）2000亿元，较2004年增长近20％。据预测，未来三至五年，中国美容经济年产值将超过5000亿元。 </p>
  <p>　　2006年11月从美容化妆品商会获悉，今后美容院将和现在的酒店一样挂上等级牌，实行“星级”管理，此项政策有望2007年开始实施。“星级”评定制度，是以美发美容店的技术力量、服务质量、卫生水平和规模设施等作为指标，综合考察评定美发美容店是否达标或是达到某个星级水平，最终的目的是规范目前的美容市场。对此，业内人士认为，“星级”管理的实施对我国美容业无疑是个好消息。美容行业可借助在抬高准入门槛的同时，促使行业集体升级。 </p>
  <p>　　2006年美容业走向品牌差异化营销时代。一直以来品牌建设是推动美容行业往前发展的重要的力量，但在美容经济市场进一步细分，竞争的不断加剧的大环境影响下，美容业势必将走向品牌差异化营销时代。当然品牌差异化营销并不是一个新的概念，其它行业已先行一步，在美容业里一直也潜移默化的存在着，只是在以往还不是时代主流方向。然而2006年，品牌差异化营销将浮出水面，并逐渐成为当今美容业主流发展方向。 </p>
  <p>　　市场需求大、从业人员结构复杂、实验性比较强和产业结构水平比较低，是当前中国美容业的4大特点。尽管经过了20多年的发展，但美容业至今没有进入成熟期，整个行业由于长期处于无序发展状态，寻找一种崭新的适合时代要求的产???运作模式迫在眉睫。商务部公布的统计资料表明，独立开办企业业主的成功率不到20％，加盟连锁店而开办的企业，成功率却高于90％。特许加盟连锁经营方式具有突出优势，但目前在国内发展还具有一定的滞后性，预计未来这一营销方式将成为主流。但他同时指出，特许加盟连锁经营虽然是一种先进的营销方式，但它并不能适用于所有的美容营业机构。除了特许加盟连锁经营外，规模很小但具有专业化、特色化的美容机构，也是未来的发展趋势之一。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmI1N2ZlMWY0ODJjNmEzM2IyNGM5.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>