<div class="left_art_zw"> 
 <h1>2007年，发型谁最“炫”？</h1> 
 <p class="left_art_zw_zz"> 来源：武汉晨报&nbsp;&nbsp;&nbsp; 时间:2007-1-13 10:04:00 </p>  
 <div class="wz"> 
  <p>　　2007年，发型谁最“炫”？ </p>
  <p>&nbsp;&nbsp;&nbsp; 近日，2007美涛创意发型发布会隆重登场，为明年的美丽指出了方向。本次发布会得到中国美容美发协会和吉米造型机构倾力支持。迷情、简爱及锋尚三大流行主题魅力登场。 </p>
  <p>&nbsp;&nbsp;&nbsp; 三大系列主题的创意来源于现代都市生活 ：在节奏紧张的繁华都市，人们情感的交织、对现实和未来的憧憬形成复杂的冲突，陷入迷情的陷阱；快捷的生活带来崇尚简单直白的生活方式，体现简约的魅力；而在个性的追求中，建立自己的符号，锋尚不群。 </p>
  <p>　　迷情系列：永恒的红色经典 </p>
  <p>&nbsp;&nbsp;&nbsp; “迷情”展现成熟、性感。卷发是永远的流行，迷情系列捕捉到都市女人的各种情感变化，将发的卷曲与内心情感紧密联系在一起。层叠张扬的发卷让女人的火热激情由发梢涌动而出。 </p>
  <p>　　简爱系列：特立独行的白色精灵 </p>
  <p>&nbsp;&nbsp;&nbsp; “简爱”追求本质。简爱系列返璞归真去繁从简的潮流引领,更是燃起了人们心灵深处的简约渴望。将简约进行到极致，拂去夸张的造型和缤纷的色彩，精致细腻的东方情结与高贵典雅的欧洲风格完美融合，用自然纯净的创造思想，直观整体地表现了造型一气呵成的完美处理。 </p>
  <p>　　锋尚系列：彰显个性蓝色魅力 </p>
  <p>&nbsp;&nbsp;&nbsp; “蓝色锋尚”充满着自我个性、崇尚自由。锋尚系列，为秀发带来艺术雕塑般的时尚造型感，在这个锋尚当道的年代，大胆出位，彰显率真性情。或长或短，或曲或直，为时尚的叛逆者而生的前卫风格，以其不连续的染色和修剪线条，打破了所有既定的规则。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NWE4MGUwNWFjNmNkOWMyNjBkNjgw.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>