<div class="left_art_zw"> 
 <h1>2016连达杯马来西亚站冲刺中</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/21 13:43:11 </p>  
 <p class="dd"> AHMA将在7月5日-6日由AHMA大师会员——王川老师在北京辉艺学院开设马来西亚总决赛冠军冲刺班。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmMwYjlhNDRmZjFhYmEyYzk2ZjQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016“连达杯”已经顺利落幕，各赛区获奖选手均获得参加马来西亚总决赛资格。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">为让选手们在比赛中取得更好的表现，AHMA将在7月5日-6日，由AHMA大师会员——王川老师在北京辉艺学院开设7月18日马来西亚总决赛冠军冲刺班！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>参与方式：</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">时间：2016年7月5日至6日（两天）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地点：北京辉艺学院( 北京通州宋庄画家村万盛园)</span> </p> 
  <p> <strong><br> </strong> </p> 
  <p> <strong><span style="font-size:14px;">课程内容：</span></strong><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">激发国际比赛创作灵感 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">比赛作品大师深度点评 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">比赛技巧 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><a href="/cg/2.shtml" target="_blank">美发</a>专业心理建设和职业规划</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程费用：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">分赛区获奖选手￥300/人（工本费）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">其他学员￥1000/人</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">报名截止日期：2016年6月28日</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>报名须知：</strong></span> </p> 
  <p> 1.<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学员差旅需要自理 &nbsp;</span> </p> 
  <p> 2.<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学员需带上比赛前置工具（包括染碗染刷，电卷棒，特殊色染膏，造型产品等）</span> </p> 
  <p> 3.<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">需自行购买比赛指定连达教习头（分赛区获奖选手无需购买）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">联系方式：电话020-38259146 &nbsp; / &nbsp;微信 ：AHMA000</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTYwMDQ2NzhkNGJiNTE3MjlmMTNi.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjYwNTY0NzBiZjBlODQyYTc0OTkx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>