<div class="left_art_zw"> 
 <h1>2016年第十七届上海国际美发美容美甲邀请赛动员大会于7月11日召开</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/7/12 16:20:27 </p>  
 <p class="dd"> 2016年7月11日，上海美发美容行业在上海商学院召开了第十七届上海国际美发美容美甲邀请赛动员大会。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTQyOTBiM2I1YmNiMTMzOGY1N2Ri.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年7月11日，在上海商学院召开了第十七届上海国际<a href="/cg/2.shtml" target="_blank">美发</a>美容美甲邀请赛动员大会。上海<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容行业协会会长董元明，副会长陈林声、张文英、刘万军、郁苗、丁家庆、马宽明、周日快，副秘书长石恒喜、沈靖等人出席会议。会议由副会长陈林声主持，会长董元明做重要讲话。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YmFmMTUwNmQ2ZWQ4ZDU4NDU0NGQx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Zjk1NDg5MWVhN2QxYWIxODVjNzc3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">会议主要围绕第十七届上海国际美发美容美甲邀请赛选手招募及等级考证为主要内容。各副会长及专业委员会主任做大赛动员，并当场确定招募人数，将此次大会推向新的起点。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDllOWE1MWExOTkzMGY3NWNkMjk3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">与会专家就大会动员做了新的分类及规划，并将在此次大赛中推行。美容专业委员会张文英副会长、殷秋华、刘利敏、紫苏代表，纹饰专业委员会副主任委员杨韵、汪凌、李耀澎分别作了招募情况的汇报。美甲专业委员会副主任委员郁苗副会长及其他委员分别作了分享及规划。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MWZjMzRlMDY4YWI3YzA0MjBhZjc1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">针对此次大赛，专业委员会副主任委员及各大连锁企业纷纷响应并参与其中。丁家庆就美发大赛选手招募做了重要动员。大型企业采取分摊制，在大赛中呈现创新项目展示。副主任委员分享了以往经验并就提升参与名额分别作了汇报。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OGYxZjEyNTkwYTViNzQyNWZjZTYx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">上海美发美容行业协会副秘书长石恒喜重申大赛细则，明确考证赛事的制度及准则，并详细阐述劳动局给予协会的符合行业规???的考级证书评审权力及考试要求。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ODM4NDdmYTU0MTE4MDk4NDZlMzVl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">马宽明副会长期望此次大赛能够成为行业专业的一个导向。因此次大赛与美容节各大活动打包在一起，负责人周日快副会长也做了相应讲话，介绍了此次大赛的综合性优势及特点，并要求在此次大赛中扩大宣传力度，体现行业专业性，吸引行业展商，全方位展览，扩充观众流量。上海美发美容行业协会美容大师刘利敏特别提出为今年大赛增加新的亮点，???妆大赛的主题将定为古典田园妆。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">此次美容节将往届八大活动打包在一起，八大活动立体交叉，规模较往届翻番，综合各活动优势，力求建立一个新的定位，新的推广，新的平台。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NGNkNDVjYWQ3NGYyOGU4YjVlNDE0.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>