<div class="left_art_zw"> 
 <h1>2017中国美发美???协会第五届理事会会长办公会在北京召开！</h1> 
 <p class="left_art_zw_zz"> 来源：中国美发美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/1 11:42:54 </p>  
 <p class="dd"> 中国美发美容协会第五届理事会会长办公会于8月30日在北京召开，近三十位会领导出席了此次会议。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTIzMDc5OTQ1ZGQ0MmUyZDUyZjI2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（参会人员合影）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmUwODYzMDkwMWZjZWNhNTNmOTA5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmI2NjQxODVlYjA2ZGNiN2EwMGNh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（会议现场）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国<a href="/cg/2.shtml" target="_blank">美发</a>美容协会第五届理事会会长办公会于8月30日在北京召开，近三十位会领导出席了此次会议。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWExYjdlOWQzYTdhNmQzODhiNjM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（中美协会长闫秀珍讲话）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">会上，闫秀珍会长首先对中美协近期工作进行了总结，她表示：“在各地协会、各副会长单位的鼎力支持和积极配合下，???美协坚持‘贴近市场、贴近企业、贴近消费者’的工作宗旨与踏实务实的工作作风，认真开展各项工作，以高度的责任心和使命感，在行业自律、会员服务、行业标准化、职业教育、国际合作等方面做出了不懈努力，为推动整个行业的健康发展做出了积极的贡献，受到了会员和从业者的认可与尊敬。”</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">在此期间，协会在国际交流合作、推动职教发展、推进标准化工作、承担政府任务、行业发展研究、行业宣传引导等方面均取得不俗成绩。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzVkYWRiMmQ1YzI1MWYwNzcwZjA5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（中美协常务副会长高文红发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTI1YzVhMWIzNzE4MWEwMTBmY2Mw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（中美协副会长马立致发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NWY0NTBjMzg2MzU5MDE3OWQ4YjUy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（中美协副秘书长孙骏飞发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">闫秀珍会长讲话后，协会领导成员就“美业经济形势分析”、“推进职业教育校企合作”等主题展开发言讨论，建言献策，延展分析。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTI0MjQwMDhiOWJmYWM0YzY5OWNk.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MDI1MWUzZDI4NTI2ZmJhZjVhYjUz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>