<div class="left_art_zw"> 
 <h1>2017年无锡市生活服务业职业技能大赛美发美容项目比赛圆满落幕！</h1> 
 <p class="left_art_zw_zz"> 来源：无锡市美发美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/26 14:23:45 </p>  
 <p class="dd"> 2017年无锡市生活服务业职业技能大赛于12月20日圆满落下帷幕，一起回顾大赛的精彩画面。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;2017年无锡市生活服务业职业技能大赛于12月20日圆满落下帷幕，本次大赛由无锡市商务局??无锡市人力资源和社会保障局、无锡市总工会、共青团无锡市委员会、无锡市妇女联合会共同主办，由无锡市商业联合会、无锡市<a href="/cg/2.shtml" target="_blank">美发</a>美容行业协会承办，由新汇美材无锡分公司协办，全行业超过150名精英报名参与了此次比赛，经过2天的激烈角逐，无锡芭宝丽美容<a href="/cg/2.shtml" target="_blank">美发</a>店的梅建军获得<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>项目第一名，无锡金莎美容美发化妆美甲培训学校的李慧获得美容项目第一名。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;下面让我们跟随镜头一起回顾大赛的精彩画面吧！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YTllZjQwYWE3YTRiZjExN2YzNjhi.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MDc5OTA0OGFlZTBlZmRmODZkZWQ5.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ZTdiOWFlMWFkN2JmNjhlZjNkZWNh.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MGQxOGE4N2ZlYTlmYTU1YTU3Mjhl.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/NzdhNjNlNmYxYzFlNTViZTQyM2Q4.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ZjUzMDExMGM3ZGViNWU1NzJhNmQx.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MTNlYmJkYzI2NjUwOTYwOWY5Yzcy.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/NmE2ZWFlNGU3NWY5ZWYwZWE2NTBl.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/NDdiNmE3MzhhMTA2MTE3MDg4OTJi.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/N2YyNDQ0N2JlM2YxZGJmYWZjODFk.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YTkzNzczNmIxNzkxN2FkZjQzOGJm.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MmM2NjFiMDZiZGJjYjM4MDcwODM4.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ZTRhOWRhNDY3M2ZhM2RhZjBlNGY5.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MDk4NWRiMTNjY2VkOTFjZDY4OWUy.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;<span style="font-family:Microsoft YaHei;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;<span style="font-family:Microsoft YaHei;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span></span></span></span></span></span></span></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/NTdlNjZiMGRiMzE2Yzc4NmUyOWI1.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YzNhZmVmNGRhNWY3YzQzMDRlOTRl.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/NzcwOTU3Y2Q0ZDEyZDMzNGQyZGE0.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ODdkYjUzY2NkNzBhZGIyMTA5NGVl.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/N2ZjNmYxOTNiMGUzYTg4MTliMDJj.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/Zjc2NDk2MjQzYTY4ZGJmZWM1NTBj.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/M2RhYTM1MzkyMjgzMDYyZTE3Njgy.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MGNlZGFlNTlmY2VlZDJkMTdkMDkx.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/OWUyM2I0ZWFjYzhmNjZmZmNjZTBj.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/OTY5YzZhODgxOWE1MjU0YWMyZGFl.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YWE2MzUyMjM4Nzc0YmVmZTAyMDc5.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MThjYzllYjZlY2M3MGNiZTA4ODcz.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YWFjYTUxZjg0ZDVjZTI2N2I5NGE2.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ODdhNDY1YmNhY2Y3NjQ4NjQ5ODc1.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MTQzM2Q2ZWE0YTZkYWQ2NTZhYjRl.jpg">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/OWUzZmZmMjczNDNiMGY0NTUyNjE1.jpg"></span> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDNhYzRmMmQ1ZWJlYjczZjVjM2Ri.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>