<div class="left_art_zw"> 
 <h1>2017年佛山市职工美容美发时尚设计技能大赛精彩回顾</h1> 
 <p class="left_art_zw_zz"> 来源：佛山美容美发协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/7 11:55:54 </p>  
 <p class="dd"> “2017年佛山市职工美容美发时尚设计技能大赛”于昨日在禅城区丰收街?菁创聚举行。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">美业</span><span style="font-family:&quot;font-size:14px;">2017美业工联会，</span><span style="font-family:&quot;font-size:14px;">美容&amp;化妆技能竞赛 ? 我为美代言</span><span style="font-family:&quot;font-size:14px;">?731总决赛?</span><span style="font-family:&quot;font-size:14px;"><span style="font-family:&quot;font-size:14px;">由市总工会主办，市美容</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:&quot;font-size:14px;">美发</span></a><span style="font-family:&quot;font-size:14px;">行业工联会承办的“2017年佛山市职工美容<a href="/cg/2.shtml" target="_blank">美发</a>时尚设计技能大赛”于昨日在禅城区丰收街?菁创聚举行。</span></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>各方努力</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017-7-31-10:00</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">禅城区祖庙街道朝安北路32号丰收街?菁创聚社局3号楼（丰收家?演播厅）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">主办单位：佛山市总工会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">承办单位：佛山市美容<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>行业工会联合会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">支持单位：祖庙街道办事处、丰收街菁创聚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">协办单位：佛山市禅城区美容美发协会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市禅城区权艺职业技能培训学校</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">广东御之叶科技有限公司</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市美容行业协会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市雅妃高端美学文化传播有限公司</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">在美业，让心，在阳??下学会舞蹈，</span><span style="font-family:&quot;font-size:14px;">本场竞赛出席领导嘉宾：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市劳动竞赛委员会副主任、市总工会副主席：杨玉瑞</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市总工会经济工作部部长：甘欢迎</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市总工会组织部部长：邓新明</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">祖庙街道人力资源和社会保障局副局长：骆育莲</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市禅城区美容美发协会常务会长：刘权</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市禅城区美容美发协会秘书长：许家</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市美容行业协会会长：陈惠华</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">等 ???</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/N2JjZTk2YzJkOTNmZTFhOGNjNjEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评委阵容</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmVlNmRmMTY5OGU4MmVmNjMyMzMx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDlhNjA2MjRlMzc0OTY1ZmQxOGZl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">佛山市总工会经济工作部部长甘欢迎先生致词</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">感谢市领导的高度重视，感谢美容美发行业工会联合会的广泛发动，精心组织，感谢祖庙街道办事处丰收街以及各个协办单位大力支持</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">希望裁判评委能够秉公评判，希望我们的选手能够沉着应战，赛出水平，通过竞赛能够提升全市美容美发技术水平，展现行业风采。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">祝愿各位选手取得优秀成绩，祝愿大赛取得圆满成功，也祝在座各位身体健康！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MmI5OTE0OTVjM2E1MGRmMTBkMTcy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">佛山市美容美发行业工会联合会禅城区副主席、佛山市禅城区美容美发协会常务会长刘权先生致词</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">忠心感谢主办方佛山市总工会，感谢主办方市总工会的领导，台前台后的工作人员对这次大赛的支持，感谢现场的评委，同时感谢现场的所有参赛选手。预祝这次大赛取得圆满成功，也祝在座各位工作圆满，身体健康，万事如意。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">启动：</span><span style="font-family:&quot;font-size:14px;">共同拉开2017年佛山市职工美容美发时尚设计技能大赛序幕</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTViZGIxOTBhNTkzOGFiODljOTI3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">大赛评委宣誓</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2I5NTI4YzgxMjQ4MmQ3N2Q0OTNh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">我以我个人的名义在此庄重宣誓：拼搏与奋斗成就人生梦想；创造与奉献打造美协脊梁；</span><span style="font-family:&quot;font-size:14px;">作为此次比赛评委，我们郑重承诺；</span><span style="font-family:&quot;font-size:14px;">保证在比赛评审中将严守公开、公平、公正的原则，遵照评分细则，严肃认真、高度负责地完成好评委职责，并自觉接受大家的监督，营造了一个良好的相互学习、相互交流的平台全体评委尊重参赛选手，文明评判，秉公办事，圆满完成此次比赛评委任务。</span><span style="font-family:&quot;font-size:14px;">最后，我们全体评委团祝贺此次大赛圆满成功！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/YmY1MmM0NWMxZjE2YWEwZDliMjQw.jpg" alt=""> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">开场当然先欣赏我们美业人员的舞姿（首脑御容倾力出演手语舞蹈：礼）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">欣赏完舞蹈的美姿态，接下来才是我们美业人真正的态度，美容师技能竞赛通过初赛和培训，最终决出60名选手参加本次决赛。决赛分为技术手法、日常妆面两部分，艺术化妆师技能竞赛从报名人员中筛选出30名选手参加培训并进入决赛，通过模特妆面、整体服饰发型搭配计分。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YmIyNjA4Y2UyZTQ1MTAwZGJmYzBk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">选手们的模特都是素颜上台的喔！竞赛见证了选手们的巧手打造。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmExMmU1YTFlZGU0MmFkNjRhMGQy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/N2VkMGIxOTI2NGFkODc2N2U2NjAz.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2QzNmY3ZWIxYjk5MWI5MWQ2OTk1.jpg" alt=""><br> </span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">化妆师们正在现场激烈的比赛中~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjcyM2Y1ZDgyODcwOGU3MDExNTBm.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjUzZjQxODEzYzVlZjlkNjRlZGU2.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ODFjOGQzYWYzN2M4YjExODhmMjg0.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTE1ZWVkMmZhN2UxMzlhNzM1MzRi.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDFkODczYTRkN2ZjYTg3YmRjNWFm.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2I1MTM2Y2I0NWU5ZTJlMjM2OTlk.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTBkZWE4NDdmMDg0ZTQ2ODdjMmFj.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTllYWJhMDQzMzFmZDUyYzMwYWQw.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YjkyOTU1NjA0ODE3MjUzNjYxZjVk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">美容师们正在现场激烈的比赛中~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NzcxYzdjMGEzMDFiNTRhMDRjM2Mx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YjY3NzM2OThmODQyODhhZmY2ZjY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">美容&nbsp;</span><span style="font-family:&quot;font-size:14px;">化妆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MWMyNjIxMjgxNWM0MDQ2MWVjODU2.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDg0MTQ0ZDEwZTA3M2U5YzAyZTEw.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDUzZDMxMjA4MTFhNjJmZThhYjVk.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWJjN2FkMGEyNzAyYWJhODBlM2Nh.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTNmZDYwNGE2YmIyMWMzNWI2MzA2.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ODk5MzI5MGJiNzEyNzUwYjE0Zjli.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTBmMzlkZTJmY2M2N2EwOGM5ZDgx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">选手们正在现场激烈的比赛中~评委们也在仔细的给各位选手打分，舞台上，她们悄然绽放，收获着她们的成长与感动；舞台下，她们默默付出，演绎着属于她们的青春故事。或许，她们在台下练习了一遍又一遍，就为了台上这短短的45分钟展现自己，突破自己，拼出精彩,赛出人生！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDYyYTUzNmM5MmIyYjM3MDBjNDdj.jpg" alt=""><span style="font-family:&quot;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjZlZjczNjk0YzMwZWU1OWQ4ZThm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">同场加影！</span><span style="font-family:&quot;font-size:14px;">2016年匠心杯技术能手证书颁发</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">化妆组领奖选手：连佳丹、黄春柳、付云玉、卢建华、黄春艳、孙群</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">美发组领奖选手：王清春、周欢、管小祥、黄慧</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">大家还记得16年9月我们由人社局主办的匠心杯美发化妆技能竞赛吗？当时的现场小编至今还记得忙出冷汗举办得多么盛大完美！</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>Lifetime honor</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>美发行业终生荣誉奖</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">朱炽雄先生，业内人称B哥，斯斯hairsalon创始人，60年代开始踏入美发行业，六十多岁依然用心为美业服务，荣获佛山美容美发终身成就奖，行业需要工匠精神，兢兢业业50年的用心服务，用心付出，朱炽雄先生受之无愧。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzNiNWMyZjFjMDNiYjg0MzI4OGZl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">佛山市美容美发协会常务会长刘权???生向朱炽雄（B哥）颁发终生荣誉奖</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>赛果&nbsp;</strong></span><span style="font-family:&quot;font-size:14px;"><strong>谁是状元！</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017年佛山市职工（美容师）技能竞赛技术状元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">获奖选手：李杏仪</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>?2017年佛山市职工（美容师）?</strong></span><span style="font-family:&quot;font-size:14px;"><strong>?技能竞赛技术能手?</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">梁小芳技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">朱丽丽技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">夏春华技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">黄嘉如技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">张梦媛技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">袁福华技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">柯旭琴技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">杨璐璐技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">谢福娣技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">许翠敏技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>2017年佛山市职工（美容师）特色奖项</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">李红秀 &nbsp;敬业精神奖</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">陈进 &nbsp;调膜能手奖</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">戴荣 &nbsp;细心服务奖</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWJjYjljMDdjMThjYmUyN2E1NmE4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市总工会经济工作部甘欢迎部长、佛山市总工会组织部邓新明部长，为美容组获奖者们颁发奖座。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市总工会经济工???部甘欢迎部长为美容组特色奖项获奖者们颁发奖座。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGEwM2I4NzJlM2ZmNzFhMWVhNzdk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>?2017年佛山市职工（艺术化妆师）?</strong></span><span style="font-family:&quot;font-size:14px;"><strong>?技能竞赛技术能手?</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">韦德妙技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">简福美技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">张韶熠技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">温智明技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">陈丹凤技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">周润凤技术能手</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>2017年佛山市职工（美容师）特色奖项</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">陈春玲 &nbsp;最具创意奖</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">何颖雅 &nbsp;最具时尚奖</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">朱秀 &nbsp;最具灵气奖</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Mzc4MjRmZmYwZTNmOWU1OGU0NmVk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市美容美发协会秘书长许家先生、国家级评委何志英老师，为化妆组选手们颁发化妆组奖座。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">佛山市美容美发协会秘书长许家先生、佛山市美容行业协会会长陈惠华女士，为美容组特色奖获奖者颁发奖座。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjA3NWFlYzczOTk2MTQ0MDY1NGJh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">本次竞赛是市美容美发行业工联会成立后举办的第一场竞赛，展现了我市美容美发从业人员专业的技艺和敏锐的时尚触角，体现了美容美发从业人员的大胆创新，追求卓越的精神。佛山美容美发行业工会??合会还将举办更多精彩技能比赛，请大家继续多多支持喔！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OThkNGFmZGEwZGI0ZWJhY2Y3N2Rk.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmVlNTBkMDRmNTNjY2E5NmVjNzM2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>