<div class="left_art_zw"> 
 <h1>2017“上海工匠”荣誉获得者最终名单揭秘！上海美协领导爆出双黄蛋！</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/21 11:26:35 </p>  
 <p class="dd"> 上海美发美容行业协会副会长陈林声、纹饰专业委员会荣誉主任李要朋荣获2017“上海工匠”！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">喜报！喜报！</span> </p> 
  <p> <br> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YmQyNjQ5ODQyMzhkNjAwOGZkOTEy.jpg">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年5月“上海工匠”选树活动在上海职工科技节期间正式启动，上海<a href="/cg/2.shtml" target="_blank">美发</a>美容行业协会副会长陈林声、纹饰专业委员会荣誉主任李要朋荣获2017“上海工匠”荣誉！</span> </p> 
  <p> <br> </p> 
  <p align="center"> <img alt="" src="/image/information/ZmM3ODEzODEyMmVlMDc2MzUyY2Q1.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">行业骄傲，匠心典范！</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/M2RmYmZjM2E4MzczMjQ4M2U5Mjkx.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>陈林声</strong></span> </p> 
  <p align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;">中国<a href="/cg/2.shtml" target="_blank">美发</a>大师，</span><span style="font-family:Microsoft YaHei;font-size:14px;">国家级高级技师（一级），</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容行业协会副会长，</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海市技师协会第四届</span><span style="font-family:Microsoft YaHei;font-size:14px;">委员会副会长，</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海市劳动模范，</span><span style="font-family:Microsoft YaHei;font-size:14px;">三学状元，</span><span style="font-family:Microsoft YaHei;font-size:14px;">杰出技术能手，</span><span style="font-family:Microsoft YaHei;font-size:14px;">出版个人专着《世纪发型??术》，</span><span style="font-family:Microsoft YaHei;font-size:14px;">荣获亚洲国际美容美发大赛晚宴组发型冠军等多个奖项。</span> </p> 
  <p align="center"> <br> </p> 
  <p align="center"> <img alt="" src="/image/information/ZjdmYzJkMDdkZjYwNjc0OGI2NTA1.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">行业骄傲，匠心典范！</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MTFiZDVlZjgxZDE0MDRjMDJhNjI1.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">李要朋</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">全国技术能手，</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海技术能手，</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海美容大师，</span><span style="font-family:Microsoft YaHei;font-size:14px;">??海美发美容行业协会纹饰专业委员会荣誉主任，</span><span style="font-family:Microsoft YaHei;font-size:14px;">亚洲大赛人体彩绘冠军，</span><span style="font-family:Microsoft YaHei;font-size:14px;">亚洲美发化妆大赛裁判员，</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海美容美发美甲邀请赛监察长，</span><span style="font-family:Microsoft YaHei;font-size:14px;">澎美国际学院总策划，</span><span style="font-family:Microsoft YaHei;font-size:14px;">澎美禅绣创始人</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MGRmYmJjNGE4NWZkZmJhNDdmMTI4.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZjE1M2RkN2Y1NjI4ZmQ4ZWUyYTRj.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">那么...</span><span style="font-family:Microsoft YaHei;font-size:14px;">上海工匠是如何诞生的？</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;">今年5月，2017年“上海工匠”选树活动在上海职工科技节期间正式启动。和一般选树活动不同的是，参选人群不受年龄、性别、学历、职级、职称、技能等级、工作年限、荣誉基础等条件限制。</span><span style="font-family:Microsoft YaHei;font-size:14px;">没了条条框框的约束，本次选树群英荟萃，767名深藏不露的技能高手齐聚一堂，人数较2016年的上海工匠选树同期增长32%！竞争相当激烈！</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MTM5NGUyZTVkZmQ3OGU5YTQ2YjVk.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODNjODYxYjEzYTFhYjU4ZTUzZTI0.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>