<div class="left_art_zw"> 
 <h1>2017 YESIDO中国匠心色彩大师赛获奖名单及作品</h1> 
 <p class="left_art_zw_zz"> 来源：YESIDO椰岛造型供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/23 10:56:10 </p>  
 <p class="dd"> 选手个个创意非凡，走心玩转时尚色彩，作品更是别具匠心，这样精彩的大赛真是高潮迭起~美得不要不要的！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">亲爱的椰粉们~2017 YESIDO中国匠心色彩大师赛，已完美落幕！选手个个创意非凡，走心玩转时尚色彩，作品更是别具匠心，这样精彩的大赛真是高潮迭起~美得不要不要的！锵锵锵！</span><span style="font-family:&quot;font-size:14px;">小编马上给大家揭晓，2017 YESIDO中国匠心色彩大师赛，获奖名单及作品~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">部处长赛获奖名单</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军：江枫</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">亚军：蔡明红</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">季军：李凯</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>部处长赛获奖作品赏析</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军：江枫</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：新华家园店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-65605340</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市江汉区新华家园悦景居门面</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTljMjgyMjczYzEwOTM4ZjM1NDYy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">亚军：蔡明红</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：凯德广场店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-83736077</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市硚口区武胜路凯德广场4楼21-22B</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NWJkZWZlZTQ0MmI0NjEwNWE2NzJj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">季军：李凯</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：成都八店（高新伊藤店）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：028-61292510</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：成都市高新区天府二街</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">999#伊藤洋华堂二楼</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGZjYjI4MTdjYWNjNDk1NWVlMjI5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">区域???监赛获奖名单</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军：石远龙</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">亚军：何杰</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">季军：汪牧帆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>区域总监赛获奖作品赏析</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军：石远龙</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：十堰万达店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：0719-8125090</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：十堰市北京北路99号</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">万达广场2楼椰岛造型</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2I2MDQ4M2E2MjU4ODZhZjJhMjZk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">亚军：何杰</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：汉口城市广场店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-59003918</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市江岸区汉口城市广场</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">C区家乐福2号门</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWRlY2IzNDkzYTRlNWM4MzZhOTkz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">季军：汪牧帆</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：西安十四店（龙首村人人乐店）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：029-86293833</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：西安市未央区未央大道宫园壹号</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">人人乐超市负一楼入口处</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzAzZTIyMDQ0MGY3MzllMzY5YjE1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">总监/店长获奖名单</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">总冠军：占志超、西安九店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 张弛、名流店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 熊洋、木兰广场店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 罗恒、洪山店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 李斌、港澳中心店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军：胡馨予、育才店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>总监/店长获奖作品赏析</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">总冠军：占志超</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：西安九店（西安草场坡店）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：029-89244808</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：西安市未央区凤城五路赛高街区</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">沃尔玛超市2楼出口处</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGE5M2VjNTk2ZWIwZDM2MzUxYzQ2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 张弛</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：名流店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-61907170</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市盘龙城巨龙大道</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">名流人和天地商业广场二期二楼</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDJiY2ExZTZlMDQyYTA5YWQyMjVm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 熊洋</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：木兰广场店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-85928005</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市黄陂区转盘交汇处木兰</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">国际广场二楼C08椰岛造型</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzI1OGFjNDgzMDdiOGIxNGQxZWM1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 罗恒</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：洪山店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-87640046</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市街道口乐天城一楼（群光广场旁）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzNmOGRmY2Y0NjNjM2IyZGJmNDRk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军： 李斌</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：港澳中心店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-82750080</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市江汉二路新世界时尚广场2楼</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OGE5ODU1OTZmOGQwOTFhYmQ2NTBk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">冠军：胡馨予</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">门店：育才店</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">电话：027-82654921</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：武汉市江岸区解放公园路48号</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（育才幼儿园旁）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">作品赏析</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjZkZTMwMDI5NmYxMWUwYjcxZjZh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">让中国人美丽起来！美来自“匠心”，美来自“色彩”~感谢所有参赛选手为我们带来的精彩作品，让我们为他们喝彩！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YWI3MDQ0ZWE1NDQ1MDU3NDkzZWE1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>