<div class="left_art_zw"> 
 <h1>2017年中国技能大赛—上海市职业技能大赛决赛展现最高水平的技能比武！</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/27 12:04:29 </p>  
 <p class="dd"> 11月25日，2017年中国技能大赛——上海市职业技能大赛决赛，在上海市工业技术学校拉开帷幕。 </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">11月25日，2017年中国技能大??——上海市职业技能大赛决赛，在上海市工业技术学校拉开帷幕。这是继上个月上海选手在阿布扎比第44届世界技能大赛实现金牌零的突破后，对标世界技能大赛标准和竞赛规则，选拨优秀技能人才，展示上海职业技能最高水平的竞技比武。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZDVjMTVhMmIyMjZjOTk1NGY0Y2Qx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZTY2ZGJlZWMyMGI2NWVjN2U2ZTQx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OTNkMjdkMDg5NTEyZGU4ZTg2NjAx.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span><span style="font-family:Microsoft YaHei;font-size:14px;">据了解，作为上海市级一类技能大赛，今年共设汽车维修、数控铣、电工、中式烹调、西式面点、</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">师、养老护理、网站设计、花艺、工业机器人、国际货代、商务软件等</span></span><span style="font-family:Microsoft YaHei;font-size:14px;">12个比赛项目。大赛学习借鉴世界技能大赛办赛理念，引进世赛技术标准和竞赛规则。在项目设置上，充分考虑与本市产业经济发展相适应，既有体现《中国制造2025》的智能装备项目，又有以“四新经济”为导向的战略新兴产业项目，也有符合社会发展必需的服务行业项目，12个项目均与世赛技术标准全面对接，其中养老护理员、工业机器人、国际货代、商务软件为首次列入??级一类竞赛的项目。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YzNmN2U0N2FhYjY4OTFjNGFmYmEy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZjIyY2E5ZDJkOGYwOGQ0Yzk0YjRl.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">参赛选手和裁判代表宣誓</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OTUxMzA0ZDIyMjcwZjQ1MTg3YWYx.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">来自各区、高技能人才培养基地及高校的</span><span style="font-family:Microsoft YaHei;font-size:14px;">44家参赛单位，通过层层选拔，最终有161支参赛代表队的近700名选手登上决赛的擂台，其中不乏多名高级技师。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">在办赛方式上，积极引入世赛通行的技能比赛和展示互动的开放模式。市民不仅可观摩选手紧张激烈的比赛，还可以在现场展示区亲身体验新技术、新技能。这种体验式互动，可进一步激发更多青年走技能成才之路。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">数控铣工比赛现场</span></strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZWYwNzU0ZDhiOGJlOTJjODA2YmZi.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZTNkNDM5ZmU3MzZhZmI4YTI1ZDk5.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZTVhMThlNmQ3MjdkMTc4MDRmNGU2.jpg"> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">12月，本市将全面启动第45届世界技能大赛上海参赛选手的选拔工作，为2021年上海承办第46届世界技能大赛营造良好的社会氛围。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTFkOTcwNmZlOTQ0YTFlYTVhOGRk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>