<div class="left_art_zw"> 
 <h1>2017你还没有尝试过迷雾薰衣草紫吗？</h1> 
 <p class="left_art_zw_zz"> 来源：望子菲灵???业供稿&nbsp;&nbsp;&nbsp; 时间:2017/3/25 12:03:45 </p>  
 <p class="dd"> 菲灵“WeeklyColor”应运而生，与您一起解读2017年最流行的发色，做您的专属色彩大师。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">目前染发色彩已成为流行的风向标，出彩的发色能够提升个性与魅力，了解当下最流行的发色已成为爱美女生的首要任务。菲灵一直致力于“发现美，创造美，人人美”，为女性创造美的事业。菲灵“WeeklyColor”应运而生，与您一起解读2017年最流行的发色，做您的专属??彩大师。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTkxOGQwMjZkYjg2YTJjNzFhMDk0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">阳春三月，万物复苏，我们迎来了一个多彩浪漫的季节，换一个迷人的发色一起去踏青吧！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTQ2MDYyZTcxNmFhMGRjNDYzYzRi.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTI1MzM1ZTg3MWI0ZmNjMmZjMWVi.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTcxOTQ1MDU0NzZkOWU0ZmY2MmZk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWU1NmE3NzYyMzY0ZjViZjg3MDFk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTNkN2MzOTcwODExZmE3ODI4MWQ5.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MWM1MDYxN2QwMDFiZjJkMWE4YjI4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>