<div class="left_art_zw"> 
 <h1>2017“连达杯”华东赛区赛激烈开赛！</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/7/7 14:21:54 </p>  
 <p class="dd"> 希望年轻一代从比赛准备和过程中启发思考规划职业生涯，培养正确的人生目标。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZjkwNzQwZWMzOTBjYzNlZmVjNzI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">华东赛区 2017.07.07</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">上午9:00准时开赛</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">地点：无锡市滨湖区马山七里风光堤 凤谷山庄</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OTI0MWMxOGRmMjEyYzc5ZDhjYzBj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NWQ1MGNiYTY4NTIwZjJiYTFjYmJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">特别鸣谢合办方：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YWNkNTFiM2Q3ZmNjYjU1ZWQ2NTM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">赛前培训和选手前置正在</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NTc3NDQwYzI4MjBkMmE1OWZjZTlk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZjUyZWZhNjFmYzA1MWU0MjVmOTM2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NDBiNWUzYTAxYTYwOTk5NDBmZGI1.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZWZkZDIwYjA3NWY1ZTVkYTYzZWNj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NTUwYmYyZWFlYjY3OWM4MzY5NWM3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MmEyYTAyMDI4ZGU0MmQ5MTlhNjE1.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/Mjk3OTYxYmVjMjQ0NGJkMjMwZGUy.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MDI0NjcxZGRhZDY0YWIwZGIwOTFl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OWY1YTM1NDJlYjkzMmYzMGY4MWRi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZTNjZmM3MmMxNGIzN2U2NDU2YTZl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YjUwN2ZmM2M2NTAxODc5Zjg0OTgx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">培训导师示范作品</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OGEzYWQ3ZTU3YWIyNzY5YTgxYThl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZWMyMThjOTU4YWY1Nzk2ZjNhNDcw.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NWU1YTI4ZjU0YzJiY2JiODFlOGNi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">鸣谢此次活动技术指导老师</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/Y2Y3YzA4YWIzZmUwMjgxOWI1NDMz.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZGQ2OTBiMTUxNjdkODc3ZWI2Nzg1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2017 “连达杯”发型及造型大赛全球唯一指定教习头——Linda Hair。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">梦想有时候可以很简单，只要你开始行动，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">舞台有时候可以很接近，只要你踏出第一步，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">我们有舞台，你有梦想，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">一起~~来参加！</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">比赛的意义：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">AHMA 发型及造型精英大赛 一直秉承关注年轻一代“助我成长，创造未来”的宗旨，倡导通过竞赛提升青年<a href="/cg/2.shtml" target="_blank">美发</a>人的技术和时尚美感。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">关注新入行年轻人的基础知识教育，希望年轻一代从比赛准备和过程中启发思考规划职业生涯，培养正确的人生目标。锻炼<a href="/cg/2.shtml" target="_blank">美发</a>年轻人对于<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>行业的专??精神，锻炼正能量的竞赛心态。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">希望通过此次比赛唤起行业对于公平公正的竞赛气氛，建立行业标准化，振兴美发行业。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzA1ZmYxMTNjZTNmOWRiZjBkNWVm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>