<div class="left_art_zw"> 
 <h1>2017最IN风尚的一次集体展示，第三届上海“永琪杯”美发大赛震撼登场！</h1> 
 <p class="left_art_zw_zz"> 来源：永琪美容美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/10/21 12:39:23 </p>  
 <p class="dd"> 金秋十月，2017第三届上海“永琪杯”，美发大赛即将绚丽开场！这是上海永琪一年一度的时尚潮流盛典！ </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OThlYjJhN2I0ZGM5YWNmNWVkMThl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><span style="font-family:'Microsoft YaHei';font-size:14px;">金秋十月，2017第三届上海“永琪杯”，</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:'Microsoft YaHei';font-size:14px;">美发</span></a><span style="font-family:'Microsoft YaHei';font-size:14px;">大赛即将绚丽开场！这是上海永琪一年一度的时尚潮流盛典！是2017最IN风尚的一次集体展示！更是最新炫酷技术与造型的巅峰对决！</span></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">让我们回顾一下2016年第二届上海“永琪杯”<a href="/cg/2.shtml" target="_blank">美发</a>大赛的情景，那一幕幕流光溢彩、创意行秀的画面给到现场观众一台震撼瞩目的享受，也是再次树立了永琪时尚美业前端企业的标志！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MWU5N2JkN2JlZTY5ZmQ0MTVlYWE4.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2016年上海永琪第二届<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>大赛是成功的，是令人难忘的。而在此基础上，2017年上海永琪第三届美发大赛更是要办出风格，办出新貌。要为今后的大赛盛典奠定水准与基调！为此，本届大赛以技术为本，以创意为核心，立足打造一场走在时尚前沿的amazing show!</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZTc2ODk3NWRjNjIwZTgxM2I3M2Q5.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YTUyNWRhY2E5ZDQxNGMzNjg5MWIy.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZmJhYzQzMzNjMzI0OWIzYjQ2OTk2.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MWM3NDJhM2ZmYmZjYTFhY2RkZjhk.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">一场完美的时尚秀需要团队合作与资源整合，而最重要的是对于潮流的把握和对美与艺术的诠释与体现。大赛海选时的严格把关，永琪每位美发经理的倾力发挥，每位老师的精准把控对于这场秀来说都是至关重要的细节累计！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">而本次大赛的赛制也同样能助推选手们在台上淋漓尽致的发挥自己的技艺与对时尚的理解！</span><span style="font-family:'Microsoft YaHei';font-size:14px;">不同的创意相互碰撞出火花，给到观众风格迥异的视觉体验，而在极短时间内的作品呈现，也考验着发型师内在积累的技艺和时尚素养！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjJkYmM2NDc0NGRjMjg4MzdkZDAx.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NWU0MjYwNjg5NDc1OTllMTY5MjY2.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">让我们提前看看本次大赛有哪些时尚聚焦点！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;">看点1.</span></strong><strong><span style="font-family:'Microsoft YaHei';font-size:14px;">创意时尚组与商业经典组对2017年度潮流发型的诠释与2018年度流行发型的预现！</span></strong></span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODZjNzM0OTE5OGQ4OGFhY2Q0NTNk.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">创意时尚组：诠释着前卫、摩登、流行风向的再塑造。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OWIwZGI3ZTQ3ODg1MDA3YzUxZTRk.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">商业经典组：展示着青春、活动、把握着流行风向的顶端。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YTY1OWUxNTdkOGI4OWE4M2I0ZjQw.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;">看点2.</span></strong><strong><span style="font-family:'Microsoft YaHei';font-size:14px;">概念造型视觉盛宴！</span></strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">由永琪美发部资深老师团队协作的，三大造型作品将在本次大赛上一一展示亮相！造型是秀场的明珠，是时尚界的永恒的热点话题，期待着您的闪光灯。期待着您脱口而出的amazing！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODg3NWYyM2IxY2IwZWRhOTM1ZWE2.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>看点3.时尚界资深权威评委！</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">一场业内秀，聚集了潮流美发届的领军人物???不得不说也是给我们从业人员一次学习与交流沟通的平台。</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>舒耀华-九月学院造型总监</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>常常-BENSON连锁沙龙创始人</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>KEN-威娜专业美发商业合作造型人</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>朱琦-威娜专业美发大区教育经理</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>翟红强-欧莱雅专业美发大客户产品经理</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>梁国华-歌薇形象大使</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>安相-北京新空间美发学校创始人</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>邱森-永琪美发教育部创意总监</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>这一连串名字意味着本次秀典的规格与份量！</strong></span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZGI5YWI0NDM4YTI1MDg2NWEwYjMx.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGU3NDIyZjc3OTkwZmI4NmRlZGI2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>