<div class="left_art_zw"> 
 <h1>2017榜样女性慈善夜在京都星光璀璨，行业领袖舟舟谦携手群星汇聚慈善力量成为爱出力</h1> 
 <p class="left_art_zw_zz"> 来源：北京美舟凤尚形象设计中心供稿&nbsp;&nbsp;&nbsp; 时间:2017/10/21 10:52:04 </p>  
 <p class="dd"> 2017 榜样女性慈善夜在京都开幕，百位明星红人怀揣一颗慈善的爱心聚集慈善夜共同为公益出一份力。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzE3YjAxNWYwZDQ0N2Q0YTM4OWFh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">群星荟萃，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">来自社会各界最具影响力，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">2017榜样女性慈善夜，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">在京都星光璀璨，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">百位明星红人怀揣一颗慈善的爱心聚集慈善夜，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">共同为公益出一份力，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">汇聚榜样力量，为爱发声，感谢有你！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGE3M2UwYzkxYjk2ZjMyOGJlODBk.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTE0NjQ2MzkxYWIzMjQ0NmE5OGVm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>榜样力量</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">“我不是一个榜样或典范，但是我成为了我想成为的人”</span><span style="font-family:'Microsoft YaHei';font-size:14px;">这位狮子座的女人用自己特立独行的方式，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">成为了一个超越时间的女性“???样”</span> </p> 
  <p style="text-align:right;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">——Chanel</span> </p> 
  <p style="text-align:right;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>星光熠熠，闪耀红毯</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">慈善夜明星云集，在红毯环节慈善夜明星嘉宾一一揭开神秘面纱。身为行业领袖受邀嘉宾明星造型师舟舟谦成与众</span><span style="font-family:'Microsoft YaHei';font-size:14px;">多当红明星大咖海清、邓萃雯、焦俊艳、金晨、蒲巴甲、周觅、于小彤、王一博、卢杉，张栗坤等同台惊艳亮相。</span><span style="font-family:'Microsoft YaHei';font-size:14px;">???场所有嘉宾或大气优雅，或甜美灵动，或帅气腔调十足。实在美的让爱发光。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">《瑞丽伊人风尚》中国"榜样OL"作为行业先锋、行业领袖一直呼吁关爱女性美丽健康美丽 。带着使命感和荣誉在</span><span style="font-family:'Microsoft YaHei';font-size:14px;">美丽的事业不断贡献着自己的舟舟谦成， 此次出席榜样女性慈善夜盛典，同为爱出力，无私奉献，心存善心，传</span><span style="font-family:'Microsoft YaHei';font-size:14px;">递温暖，点亮光芒。更是积极投身慈善事业，和明星偶像们一起成为真正的榜样。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjkzMzUxY2Y5MjQwODA0MDYxOTBi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>魅力榜样女性 &nbsp; &nbsp;海清</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MGEwN2FmNjllYmVmZjQwM2M4ZWQ1.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>香港实力派独立女性 &nbsp; 邓萃雯</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NWZiYjI0YWZjN2VhYTBhZjNhNTNl.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>明星好友 人气演员时尚榜样 &nbsp;金晨</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MjI5ZGViNGUzY2UzMjUwNGY0OTg5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>舟舟谦成与阳光???气孔垂楠弟弟合影</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MjRkZTJkN2U2YmFkMmY5NjY2ZTky.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>青春派代表黄俊捷弟弟合影</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MDhjMGE4NDg1ZmY4NzQyMTA2ODQ0.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>与开心俱乐部的喜剧新星 &nbsp; 朱天福 何欢 &nbsp;许君聪合影</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/M2M5NWE0ZDA0NDY1YjJmNmFkZWQ5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>广告界宠儿美妞 &nbsp; 欧阳佳</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MGNhNWQ0MWVmNzZjMDJlMTYxMjY5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>美业领袖人物 &nbsp;</strong></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">舟造型发装整体设计学院创始人舟舟谦成作为中国美丽事业的传承者领袖</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">我们的使命：</span><span style="font-family:'Microsoft YaHei';font-size:14px;">将最美的中国带给世界，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">将最美的世界带回中国。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGRiNWI3NjliOTk4MWRkNzE3MTcx.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZmQyOGI2YTM3NTIwNGM0YmEzM2Jj.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTZkOGNjNjU1YzRjOTA2M2ZiMDEy.jpg" alt=""><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ODFiNDdiNmExM2VmMTAwODJiMGM3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">为慈善相聚</span><span style="font-family:'Microsoft YaHei';font-size:14px;">为公益努力。</span><span style="font-family:'Microsoft YaHei';font-size:14px;">每一个到场的明星都是闪烁的星辰，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">汇聚成银河，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">化作榜样的力量前行，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">为爱心的温度出力，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">希望有越来越多的人参与到公益中来，</span><span style="font-family:'Microsoft YaHei';font-size:14px;">让世界多一份爱！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDFlNjA2Y2U3MjMyYWM0OGVlM2I2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>