<div class="left_art_zw"> 
 <h1>2017北京美协技能大赛，舟造型助力“发装整体造型”成立赛项</h1> 
 <p class="left_art_zw_zz"> 来源：北京美舟凤尚形象设计中心供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/29 12:48:34 </p>  
 <p class="dd"> 舟造型势必和政府 美协一起将最美的中国呈现给世界，把最美的世界带回中国，圆美丽中国梦！ </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/YmFhZDIxMjZjNmUwM2VjYWI0ZDhm.jpg"><span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/Nzg3MTU2YmIxYjAyZTc3NTdhNjJl.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/M2EyY2ZjNjVmMGI4MDg4MGZmMTNl.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"></span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/MWNjM2NiODM1N2JjMzRjZTk0MWJm.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/OGM0N2M2YWZmN2I3OGQ4ODQ4NjVk.jpg"><span></span></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">如今的中国美业教育市场大家一窝蜂的推崇欧美和日韩时尚却唯独忽略了东方印??的美学魅力与光芒舟造型发装学院就像一股清流为我们带来一种叫</span><span style="font-size:14px;">‘东方美’的强大而独特的文化磁场，将东方文化进行国际化的演绎更是舟造型崇尚的美丽哲学，七年来舟造型发装整体教育为中国</span><a href="/cg/2.shtml" target="_blank"><span style="font-size:14px;">美发</span></a><span style="font-size:14px;">沙龙开辟了一条符合时代的全新发展之路，在这个平台，无数的发型师成功转型为整体形象设计师！</span></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <img alt="" src="/image/information/MDQ4MDgwZTk1ZDUzZGExMzg4MmJm.jpg"><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">2017北京</span><a href="/cg/2.shtml" target="_blank"><span style="font-size:14px;">美发</span></a><span style="font-size:14px;">美容协会技能大赛上#发装整体造型#成立赛项，感恩美协和中国美业对舟造型教育理念的认可与推崇，舟造型势必和政府 美协一起将最美的中国呈现给世界，把最美的世界带回中国，圆美丽中国梦！</span></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <img alt="" src="/image/information/NDI1YTVkZDRlZDU3ZDgxOWQxYzU5.jpg"><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">本次赛项评委团迎来了中国美业最重磅级的行业大咖，</span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/MDI1Y2UwYWMzNmYyNTU4NzVjMDBh.jpg"><span></span></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">同时被誉为时尚界的金手指，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">成龙大哥的御用造型师</span> <span style="font-size:14px;">，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">梵音天后</span><span style="font-size:14px;">-萨顶顶御用造型师，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">央视春晚特邀造型师，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">米兰时装周</span> <span style="font-size:14px;">法国戛纳电影节特邀造型师，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">《美丽俏佳人》特邀达人讲师，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">时尚界评价为</span><span style="font-size:14px;">“时尚公益环保第一人”，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">北京舟造型发型学院的创始人更被北美协特聘为<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>赛项的评委长，</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">为所有参赛选手给予最具整体形象设计的权威评分！</span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/ZWIyMDhkMTlmOWNlYjZjNjA4Yzgy.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/MDIxMzc5MGY1NTk0ODU0MzBmOWMz.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/NTQzY2NlNWRiNmRmY2FjYjNiYjc3.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/ZWM2MTJmMDQzZGQ3ZWUyODRjN2Yx.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/ODkwMTM3ODU3ZDE0NDRhYjk1MGUw.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/MzBmNDM1MmYxMDhiNzg5Y2E4MTE3.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/NDQxYzExNDA4OTA5MzhmYzlmMmVm.jpg"></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><span><span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/NjA4MzdmNWQxNTExM2I4Y2EzOTQ0.jpg"><span></span></span></span></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">特别播报</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">发装整体造型</span><span style="font-size:14px;">|赛项</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">冠军</span><span style="font-size:14px;">:来自浙江杭州艾米明星造型公馆的创始人??米</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">季军</span><span style="font-size:14px;">:来自北京妆点生活的创始人任丽琼</span></span> </p> 
  <span style="font-family:微软雅黑;font-size:9pt;"> <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">冠军</span> <span style="font-size:14px;">艾米</span></span> </p> <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span></span></span><span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> </span> 
  <p class="MsoNormal" align="center"> <img alt="" src="/image/information/MjI1ZGRkNDBkMWU4N2IxM2M1Mjc0.jpg"> </p> 
  <span style="font-family:微软雅黑;font-size:9pt;"></span> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/OGRhMzMzNzFiOWFhMDkwNGQ0MjY0.jpg"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/YjFmZTk1OTFhZjRjY2YwMTkzZjM3.jpg"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <img alt="" src="/image/information/NTdjOTk2OTFkZWI4ZDE1Y2U2Njlk.jpg"><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">季军</span> <span style="font-size:14px;">任丽琼</span></span><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/YWRmNDcyODExNjA1ZDdkZjNiNGVl.jpg"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/ZTI4MWRjZGU4MjRkMzFkYjdkYTIy.jpg"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/ZjU5NGI1MmFhMDUyOTEzMmEzMzBj.jpg"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/MzkyMzNkYTBmMzdjYjM4ZDZlZmE5.jpg"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:14px;">ZHOU（发装整体设计学院）历届学员毕业大合集</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"><img alt="" src="/image/information/YWQxMTk3ZWM1YzI4OGY2MGU0NGZh.jpg"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" align="center"> <img alt="" src="/image/information/Y2E5ZWIwMGQ3N2JjODY4ZGJmMTQz.jpg"><span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal" align="center"> <span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-family:微软雅黑;font-size:9pt;"></span><span style="font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:9pt;"></span> </p> 
  <p class="MsoNormal"> <span style="font-family:微软雅黑;font-size:14px;"><span style="font-size:14px;">最适合美业人学习的整体造型，</span></span><span style="font-family:微软雅黑;font-size:9pt;"><span style="font-size:14px;">通过学习帮你具备整体形象设计的审美理念，掌握出街造型</span><span style="font-size:14px;">.生活美妆.服饰搭配.发型创意.美感呈现的专业技术，2017年倒数第三期，你一定不???再错过！</span></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjAzNjY3MTYzYzM3MjBmZDA5YjY1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>