<div class="left_art_zw"> 
 <h1>2017国际美业嘉年华技能大赛震撼启幕！</h1> 
 <p class="left_art_zw_zz"> 来源：辽宁省美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/17 11:04:41 </p>  
 <p class="dd"> 2017国际美业嘉年华技能大赛震撼启幕，给你一个尽情展示自己技能才华的国际舞台！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">这是美业人的一次机会、一次挑战；这是前进者的一次历练、一次提升；有“梅花香自苦寒来，宝剑锋从磨砺出”的毅力；有“黄沙百战穿金甲，不破楼兰终不还”的决心；更有“会当凌绝顶一览众山小”的豪情。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">为更好的繁荣美容<a href="/cg/2.shtml" target="_blank">美发</a>美妆艺术事业，弘扬美业人精益求精的匠心精神，让每一位<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>从业者都有机会实现登顶的梦想，2017国际美业嘉年华技能大赛震撼启幕，给你一个尽情展示自己技能才华的国际舞台！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzE2NmQ1NGU0NWZhM2I2NzlkNmY4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjQxYTI5ZGFmYWIzNDk3ZjdiODQ0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>半永久美妆大赛</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">美妆眉组、美妆唇组、美瞳线组</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>技能大赛</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">化妆组、美发组、美甲组</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>技能大赛青年组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">化???组、美发组</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTAyMDU0MGMwNmYzMTI3YTI4ZDdh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>半永久美妆大赛</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">美妆眉组：线条眉、雾眉、美妆唇、美瞳线</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>技能大赛</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">化妆组：白纱新娘妆、古典新娘妆、晚宴妆、创???妆</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">美发组：潮流短发修剪、中长发修剪造型、时尚扎发造型、标准杠组</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">美甲组：Uv甲油法式组、光疗彩绘组</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>技能大赛青年组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">（要求：18岁以下；在校学生）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">化妆组：白纱新娘妆、古典新娘妆、晚宴妆、创意妆</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">美发组：潮流短发修剪、中长发修??造型、时尚扎发造型、标准杠组</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDdhYWIwYzM0OTc1NzEyMDZhZWU2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>参赛荣誉</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1、获得冠亚季军选手，颁发小金人奖杯、精美获奖证书；</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2、参赛选手即获精美获奖证书；</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3、参赛选手可获得等级资格证书；</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4、参赛即可有与明星合影机会；</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5、参赛即获得价值1680元论坛、讲座入场券一张。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>奖项设置</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1、冠军一人，亚军二人、季军三人</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2、最佳设计奖按参赛人数25%设定（20人以上设）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3、最佳创意奖按参赛人数25%设定（20人以上设）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjQ4ODM0MTE0NjEzZGJlNDg0MmJj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTA1YmZkYWY1ZTFmOTgyZGQyMmI5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTY2YTNkNDFhNDhjZjVkMjdiMmFl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. &nbsp;选手按比赛规定时间报到，并做好准备工作，如违规视为自动弃权。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. &nbsp;选手必须佩带选手证方可进入比赛现场，参加比赛。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. &nbsp;遵守赛场规定，服从工作人员安排，违反或不服从，将酌情扣分或取消比赛???格。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. &nbsp;必须统一使用组委会提供的脸模；工具及材料自备（品种不限），必须使用托盘；必须穿着无尘服，佩戴无尘帽、口罩和手套（组委会提供）；保持操作台干净整洁。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. &nbsp;遵守比赛要求，保持赛场安静，按时完成操作，尊重评判员。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6. &nbsp;比赛时间：30分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzMzZTJjZmViOWE5ZTc0YzFiMzRl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>白纱新娘妆</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 选手自带真人模特，模特面部不能有纹刺痕迹。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 选手自带符合主题的模特服装，风格款式不限，体现实用、时尚新娘特点。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 颈部以下的粉底可以在进入赛场前打好，发型可以在进入赛场前做好。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 面部眉型可提前修好，除此外，面部不允许有任何其它修饰的痕迹。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：60分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">化妆技术70%：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 粉底厚薄均匀，妆面色彩协调，层次过渡衔接自然。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 化妆技法新颖独特，有创意感。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体造型30%：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 整体造型构思新颖，风格独特，个性鲜明。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 妆面、色彩、发型、服饰整体协调，符合命题要求。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWM5NjNhYWIyOWExZTkxYzVjNDE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>古典新娘妆</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 选手自带真人模特，模特面部不能有纹刺痕迹。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 选手自带符合主题的模特服装，风格款式不限，体现实用、时尚新娘特点。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 颈部以下的粉底可以在进??赛场前打好，发型可以在进入赛场前做好。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 面部眉型可提前修好，除此外，面部不允许有任何其它修饰的痕迹。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：60分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">化妆技术70%：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 粉底厚薄均匀，妆面色彩协调，层次过渡衔接自然。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 化妆技法新颖独特，有创意感。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体造型30%：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 整体造型构思新颖，风格独特，个性鲜明。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 妆面、色彩、发型、服饰整体协调，符合命题要求。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZThjZDIwMjFkMjY5ZmU4YjBiZGI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>晚宴化妆</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 选手自带真人模特，模特面部不能有纹刺痕迹。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 选手自带符合主题的模特服装，风格款式不限，体现实用型晚宴特点。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 颈部以下的粉底可以在进入赛场前打好，发型可以在进入赛场前做好。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 面部眉型可提前修好，除此外，面部不允许有任何其它修饰的痕迹。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：60分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">化妆技术70%：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 粉底厚???均匀，妆面干净，自然柔和伏贴，突出皮肤细腻质感。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 妆面色彩协调，层次过渡衔接自然。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 面部轮廓清晰，比例匀称，妆面设计与造型意图吻合。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体效果30%：注重整体效果，整体造型构思新颖，设计意图明确，个性特点鲜明，体现造型创作能力；妆面、色彩、发型、服饰搭配，符合模特自身条件和晚宴化妆要求。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OGRkMWE3NWIyNTVhNmI2NTY2YTZm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>创意化妆</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 选手自带模特和服装。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 基础粉底（包括面部粉底）可在赛前打好。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 创作以面部妆容为主，图案需在比赛过程中手工绘制完，赛前不可有面部勾勒痕迹，禁止使用胶纸及模板等进行面部图案的绘制。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 服装及配饰符合主题要求，禁止使用比基尼式服装，禁止添加???托作品的道具。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：60分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">化妆技术60%：手法新颖独特，妆容符合主题，具有创意感。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体效果40%：妆面、色彩、发型、服饰整体协调，符合命题要求。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTZkY2NhMDU3ZGY4NGE5NTU3NGQw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>潮流短发修剪（指定模具头）</strong></span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. &nbsp;款式：选手将表现女士潮流短发修剪造型。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. &nbsp;湿发：选手到指定的操作位置。比赛执行总监给三分钟打湿头发。如果头发不够湿，赛场监督和协理会再次打湿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. &nbsp;颜色：可以使用一种或多种颜色。最后发型的色彩必须和谐，并被大众消费者所接受。禁止使用彩色喷雾。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. &nbsp;工具：??止使用电推剪。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. &nbsp;修剪：比赛开始前，全头各区域的头发长度最少8厘米。头发必须不能提前修剪或提前造型。整个发型的修剪必须在允许的时间内完成。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6. &nbsp;发品：允许使用所有的发品。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：50分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">修剪效果60%：发型时尚，新颖。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体造型40%：整体造型具有潮流形，符合发廊沙龙消费需求。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTRhN2UxYjRkZjcwMDE2OThlZWFi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>中长发修剪造型</strong></span><span style="font-family:&quot;font-size:14px;"><strong>（指定模具头）</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 款式：选手将表现女士中长发修剪造型发型。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 湿发：选手到指定的操作位置。比赛执行总监给三分钟打湿头发。如果头发不够湿，赛场监督和协理会再次打湿???</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 颜色：可以使用一种或多种颜色。最后发型的色彩必须和谐，并被大众消费者所接受。禁止使用彩色喷雾。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 工具：吹风工具，禁止使用电夹板和电卷棒。允许使用所有的发品。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. 造型：赛场修剪不少于2cm，发帘波纹造型，与后面衔接自然；整体造型饱满，纹理均匀。发丝流畅；</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：50分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">修剪效果20%：发型时尚，新颖。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">??风造型20%：线条清晰流畅，发丝柔顺光泽度饱满，富有弹性。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体造型60%：整体造型自然搭配和谐，符合发廊沙龙消费需求。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">接发：禁止添加假发条。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjI4MWVkMDM1NmFiM2ZhMTVmNzhi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>时尚扎发造型（指定模具头）</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 款式：选手将表现时尚扎发造型</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 湿发：比赛开始前，执行总监下达梳开头发指令后，选手把模特或模头的头发梳开，并梳向后面。监督委员会将检查这些指令是否被遵守。在允许的比赛时间内，选手可以打湿头发、修型、吹风或造型。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 颜色：可以使用一种或多种颜色。最后发型的色彩必须和谐，并被大众消费者所接受。禁止使用彩色喷雾。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 发片：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">a) &nbsp;可以使用最少1片，最多3片发片，但必须不能提前造好型。发片必须梳直，不做任何准备地平放在桌上，等待监督梳开检查。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">b) &nbsp;每一个发片的直径必须在任何方向上不超过2英寸（5厘米）。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">c) &nbsp;发片的头发长度自定。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">d) &nbsp;发片必须和谐地与发型结合，但不能被剪成几片。发片只能在比赛时间内被梳理造型。发片不能覆盖超过40%的头部表面。选手在比赛中可以用剪刀清理发尾。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. 接发：最多可以使用20%的独立接发发束来增加发量，发长和突出的颜色。必须在赛前做好。禁止使用双束发条。禁止带夹子的接发，所有的接发必须以接头固定。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6. 支撑物：禁止使用任何种类的支撑物。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7. 发饰：禁止使用由头发或类似纤维制成的饰品和整个假发套。监督委员会将检查这些规则是否被遵守。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：40分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">线条清晰流畅20%。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">发丝柔顺光泽度饱满20%。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体造型60%：整体造型创意感强。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2VkMWQ2ZThkYzc5ZTY3MjAyZTBi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>标准杠组（指定模具头）</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 款式：选手将表现标准卷杠造型。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 湿发：选手到指定的操作位置。比赛执行总监给三分钟打湿头发。如果头发不够湿，赛场监督和协理会再次打湿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 分区：赛前不可为模头分区。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：30分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">全头最少54个卷发杠，少一根扣2分，多了不加分。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">排列30%：排列整齐，平整光滑，实用性强。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">发片20%：发片大小均匀，与杠具比例相等。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整体效果50%：不窝发稍、不挤杠、不翘杠、皮筋一字对口。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">修剪：比赛开始前可为模头进行修剪，但长度不少于20cm。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">发品：允许使??所有的发品。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NzZjNzJmMDhlMzhkYmZiNTc4MTMx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>Uv甲油法式组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 现场制作：模特一双手甲油胶法式</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 赛项内容：甲油胶整甲黑色打底，画白色法式边。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 指甲主体必须使用甲油胶产品（任何品牌的黑白色甲油胶、底胶、封层胶），要求本甲，不可使用任何指甲贴片、水晶、光疗指甲延长产品。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 比赛现场可以使用不超过36W的专业美甲光疗灯。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. 不可使用任何指甲配饰</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6. 打磨、抛光仅可用手工工具，不可使用电动打磨、抛光仪器，不可使用任何亮油、功能油及营养油。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">须配备美甲专用托盘和消毒盒，自带电源插座，建议选手配备作品说明。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：60分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">一、Uv甲油法式须符合国际标准法式甲的基本要求：（10分，每小项2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 自然甲体必须以黑色打底。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 指甲形状只可以做成方圆，长度比例协调匹配，形状对称一致。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 指甲必须是本甲，不可做任何形式的延长。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 甲油胶法式弧度清晰一致，两边对称，无高低之分。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. 甲油胶颜色均匀，无气泡、无凹陷，边缘无缺损。表面光滑平整无划痕，指甲边缘细致不粗糙。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">二、组合，配合：底色均匀，色彩饱满，法式弧度柔和自然。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">三、构图：构图合理，法式弧度一致，符合视觉审美规律。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">四、细节：线条流畅，弧度无高低之分，手法细腻。(10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">五、视觉效果：对视觉有强烈的舒适简洁感。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">六、创意：突出主题。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">七、色彩：色彩协调，颜色分明。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">八、主题：主题鲜明突出，贯???于十指。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">九、技艺技巧：技术娴熟，手工精美，有一定技巧难度。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">十、整体印象：画面干净清晰，无指纹及其它脏污痕迹，能够给人留下深刻印象。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzM5MmJiYzg3ZDQ2MzhlMTJiNWY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>光疗彩绘组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>比赛要求：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.现场制作：模特右手光疗延长树脂甲及彩绘（赛前完成模特左手光疗延长树脂甲及彩绘）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.赛项内容：以“诗画山水”为主题进行光疗延长彩绘创作</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.指甲主体必须使用光疗产品（任何颜色的光疗延长胶、光疗模型胶、光疗封层胶）以独立延长的方式制作光疗树脂延长甲，不可使用任何指甲贴片、水晶产品。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.比赛现场可以使用不超过36W的专业美甲光疗灯。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.仅可使用大赛允许的指甲配饰：镭射亮粉、彩胶、专业指甲彩绘颜料（丙烯类、水粉类），专业指甲彩绘笔，专业光疗笔。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.十指均要有彩绘图案，每指彩绘面积不可超过指甲总面积的1/2。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.参赛作品不可抄袭前人作品，不可拷贝已注册的形象标志（如动画人物等）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.打磨、抛光仅可用手工工具，不可使用电动打磨、抛光仪器，不可使用任何亮油、功能油及营养油。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">须配备美甲专用托盘和消毒盒，自带电源插座，建议选手配备作品说明。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛时间：100分钟</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">评分标准：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">一、主体光疗树脂甲须符合国际标准光疗树脂甲的基本要求：（10分，每小项2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1. 自然甲体与游离缘比例不超过1:1。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2. 指甲形状可以做成方形、菱形、尖圆形，长度比例协调匹配，形状对称一致。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3. 指甲前缘厚度均匀、端正；指根、指甲侧沟与皮肤保持0.3~0.8mm距离。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4. 侧视弧度呈抛物线，弧度均匀，十指最高点一致；侧边缘线与甲裂壁保持同一直线，细致不粗糙；正视拱度清晰一致。（2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5. 铺胶均匀，无气泡、无凹陷、无溢胶，边缘无缺损。表面光滑平整无划痕，指甲边缘细致不粗糙。???2分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">二、组合，配合：主次色调搭配和谐；底色均匀，色彩饱满，过渡色柔和自然。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">三、构图：构图合理，主次、虚实、明暗应用合理，符合视觉审美规律。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">四、细节：线条流畅，设计精巧，手法细腻。(10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">五、视觉效果：对视觉有强烈的震撼力和吸引力。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">六、创意：创意新颖，突出主题，敢于创新。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">七、色彩：色彩协调，层次分明。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">八、主题：主题鲜明突出，贯穿于十指。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">九、技艺技巧：技术娴熟，手工精美，有一定技巧难度。（10分）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">十、整体印象：画面干净清晰，无指纹及其它脏污痕迹，能够给人留下深刻印象。（10分） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p style="text-align:center;"> <img src="/image/information/Y2IzZWM0YzAzY2Y1YzFiZWZhYzc1.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZDJjNzEzMWFjYWU3NTlmMzRlYzBm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>