<div class="left_art_zw"> 
 <h1>2017重磅惊喜，特孚索彼超值半价课程粉墨登场</h1> 
 <p class="left_art_zw_zz"> 来源：TrevorSorbie特孚索彼供稿&nbsp;&nbsp;&nbsp; 时间:2016/12/31 15:00:31 </p>  
 <p class="dd"> 特孚索彼上海研习中心推出新年惊喜，两门人气课程——TS经典课程&amp;当代染发课程均半折优惠。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">为迎接2017年的到来，Trevor Sorbie上海研习中心倾心推出新年惊喜：人气课程——TS经典课程&amp;当代I染发课程，半折优惠。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>1、5天TS经典课程5 Days Trevor Sorbie Classic Course</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程详情：帮助学员进一步巩固基础剪裁技巧，系统构建专业剪发思维与理念。通过导师的示范，结合实操，将TS经典技术与沙龙实用技巧融为一体，迅速提升<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>技艺，为助理升发型师的必备课程。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程亮点：简明易懂，含TS经典萤火虫发型</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程价格：原价8000元、现半价4000元</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>2、5天当代I染发课程5 Days Contemporary Color I Course</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程详情：针对性的染发手法教???，全面完善挑染核心技术。发挥无限创意，将TS的色彩理念转化成沙龙商业利润，用经典的技巧丰富您的染发模式，适用于有志于进一步提升染发技艺的技师，或有意探索色彩艺术的发型师。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程亮点：巴黎染，像素染，勾染，倒梳染</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程价格：原价5000元、现半价2500元</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">本优惠仅限至2017年02月28日前报名，该优惠需全额缴付学费，任何疑问请于工作日10：00~18：00致电学院，400-650-5205，名额有限，还不速速抢购？然而，惊喜远不止如此，2017春?夏Trevor Sorbie英国团队将派遣一位资深导师?亲临上海，届时将会为各位热爱英伦美发的发型师们带来英伦前线一手的剪裁&amp;染发技艺。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">自2015年以来，享誉世界的英伦美发品牌 —TREVOR SORBIE已在中国发展至5家门店，分别落位于西安金地、杭州万象城、江阴以及上海新天地，明年春夏之交，上海Plaza66恒隆店也将揭开其神秘的面纱，而其作为Trevor Sorbie与Truefitt&amp;Hills的概念店，相信亦将会在上海乃至全国的美发圈内掀起一阵时尚的风暴。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGRhYzkwY2JiMGVlOWJiYjhiYzcy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>TREVOR SORBIE 新天地店开业迎客</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">TREVOR SORBIE新天地店在2016年的圣诞节于湖滨道无限极荟精彩亮相，美发沙龙位于2层，简雅大气的店外饰佐以商场2F的极佳地理落位，引得顾客驻足观望。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWQ0OTA0NDE1ZDk0NDczZGY3ZmY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">进入沙龙内，除了氛围点缀的美发座椅与专业产品外，皆以典雅高贵的自然原色为主，简单清新。从细节处不难发现Trevor Sorbie中国团队的用心所在——不论是进口的纹理墙纸，还是概念元素的装饰灯皆呼应着TREVOR SORBIE M.B.E的品牌愿景——要大胆做到与众不同，但一定要大方???体。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWQxMjYyZTc5M2U0ODNiNmRiMzQ3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2FkN2UwZWViZDAzZjRkYWQ4M2Zj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmUwYWQwMWRiZmUwOTMwMGIyNjVi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmIxY2RmY2Q4OGE5MjBjZjQwZmMw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">别致的Men's Cut VIP Room将英伦风情淋漓尽致地体现在了细节处，复古的英伦美发椅，经典的英国国旗油画，以及英国着名皇家理容品牌Truefitt&amp;Hills林林总总的细节无所不在地体现了TS中国团队的细致。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzdjZDNjNGQ3MzA2OTYzNzBjZjZi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">???龙内另一包间则深谙女性的爱美心理，半身镜+化妆灯，诸多电影中后台化妆间标配，相信每一位钟爱时尚的女性都会为之所痴迷。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjMxY2ExNjQ2NzBhYjBjZTI5NDI0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">我们将以无微不至的理念来服务每一位莅临的贵宾，每一位VIP客户均将可尊贵享用，Evian依云水?San Pellegrino圣培露以及奢享各种极致礼遇。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">圣诞节开业当天，沪上知名网红KOL? Menthae俞璐更是来到店中修饰发型，风华绝代，更平添一丝妩媚的韵味。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2VhNWFkYThmMDk4MDg0MjRlZDdj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWYwZjY1Mjg2ZDZhOGZkY2Y1Mzc3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODdhZWRiNjg1NzMxYmQ5YjY0NmFl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjVlMjcwNjkwODVkY2E2OWE5ZGRj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2IwNDhkYTZmNmU2OGNjMTRhNTBm.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTc2ZDEzYjZhMDQ4ZjBlNzJkZDI3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjlhMGQxOWE1OTNlMjAxYmNjNjMx.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzhjZjhmNTIzNmM4NDYyNjgyMjEw.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODYyYTkyYWFkNzM1ZTg2MDEzYjdk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjcxZGQ3MTFhMmQxMTZlYzIwMzY2.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTg4N2ZjYjhhOWE5OTlhZjk4OTVk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">营业时间：10：00am~10：00pm</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：上海市黄浦区湖滨路168号无限极荟购物中心2F-W18</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：021-53868966</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">交通：地铁10、13号线新天地站</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 地铁1号线黄陂南路站</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 地铁8号线老西门站</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>TREVOR SORBIE 江阴店开业迎客</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">TREVOR SORBIE江阴店于12月28日，在江阴市高巷路粉墨登场。沙龙外观大气美观，引得路人纷纷驻足观望。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDhkZWVkYWMyN2NhN2Y0ZGY2Zjli.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjlhNDRhYzYzNzc3OTc3NTA0YTkz.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjYyN2E4ZWNjYmIwYzdkMmUyZjJj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTQzNTdmMDE4YjQzMmQwZGY5YzQ0.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzY2OTRlYzUyNTNlNzlkYjZjZTUz.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjE3YThiNjdlMjMwYzdkM2NhOTNi.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzA3YjgzZGMyMmFiYzc3MzdjOTQy.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2ViMjc1YTg0YzIwZjVjZTgzYThl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">上海店地址：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">新天地湖滨道店</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：黄浦区湖滨路168号无限极荟购物中心2F-W18</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：021-53868966</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Plaza66恒隆广场店</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：静安区南京西路1266号恒隆广场4F-13(Coming Soon)</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：021-50988018</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">西安分店地址</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">西安金地广场店</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：雁塔区曲江池东路金地广场2F-F204</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：029-89666561</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">杭州分店地址</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">杭州万象城广场店</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：江干区富春路701号万象城二期B1-S92</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：0571-86708246</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">江阴分店地址</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">江阴店</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：江阴市高巷路112-116号</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：0510-86897788</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Mjk1YThkODBkODc0MTYxNzM0YmU1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相??新闻--> 
 <div>  
 </div> 
</div>