<div class="left_art_zw"> 
 <h1>2017吹风电棒课程收官之作，造型大集合！</h1> 
 <p class="left_art_zw_zz"> 来源：时尚造型艺术中心学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/19 11:26:56 </p>  
 <p class="dd"> 2017年最后一期吹风电棒课程，时尚造型艺术学院感恩有这些学员的一路相伴。 </p> 
 <div class="wz"> 
  <div style="text-align:center;"> 
   <strong><span style="font-size:14px;font-family:&quot;">CuttingEdge</span></strong> 
  </div> 
  <br> 
  <span style="font-size:14px;font-family:&quot;"> 2017年最后一期吹风电棒课程，时尚造型艺术学院感恩有这些学员一路相伴，来回顾一下这周的作品，希望大家喜欢，么么哒。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img src="/image/information/YmMyMjA2ZGM5MWQ3ZWM3MTE3Y2Fl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/M2I5MDNlZWEyZjQyYjg1MDA4ZWM4.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NmM2NWQyNTExMmQ2NGUxYjA1YTg3.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/N2I3ZjI4ZmVhMjE1Mzc4OGQwYjYz.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NGEzNDAzNWEwNGYwY2EwOTljOTA0.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/N2NjMWEzMTkwZDY0YTZhNGJlODIz.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YTI1YjMxMjE1NmMwYmM4OTJiNzU1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YzcxMmI3NmYzNzcxYzFjZWEzY2Jl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTMyYjE1Mzk5OTE3ZWE5NzZiNjNm.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODhkMDgxZWVlNTQ2NmI2Mjk0NjY2.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTEzZTM1MzljNTM5YWRlOGFlZjQy.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZTRjMDhjMzVmOGIzMzFhMGNkYTEz.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NWIwNTM3YzdiYWE4NWZkZDg1YThl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjViZDU4ZjFmYjIzYWEzMzNkNmVh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">一些课堂小花絮呢</span> </p> 
  <p style="text-align:center;"> <img src="/image/information/NDYxNmZlODVjMjI5MmUxMGJlMDJj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjhiZTFiNGE0ZmM3Y2VhM2ZmYmQ2.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NGNiZWQxMDNlZTk4YjU1MTRmOWE4.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/Yzc3YzkyOTc2Njc0MGU0N2U4Njgw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NmZmODg3NzM0Njg0ODhkYWZlYTli.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjFiZjg2ODcwNjFiZWEyMDY0Nzlh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NGI0Y2U2ZDczMDVhMDNkZGE2NDBk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">一些课后练习小花絮呢</span> </p> 
  <p style="text-align:center;"> <img src="/image/information/YWMzYTgyYTliNjc0NjMxZjk5ZGU4.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjZmNDZkMmZjMDBkMzJlNDNhYzJl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NjAyM2I0YzQyZDk2ODg0MGE0Mzlj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NmE2MTVhYmRmZDMwMDljODU0NGMw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZmRjMTUwOTZhMmU5YWNkM2Q3YWMw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">2017年最后一期</span><span style="font-size:14px;font-family:&quot;">《皇牌工艺吹风班》,</span><span style="font-size:14px;font-family:&quot;">毕业啦，祝福学生们。</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/Yzk0YmRiOGQ5MmRjOWQ3MzdiZmJm.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MTNjMjBkMjYwY2Q2OTk1ZjVkMzRm.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">往期作品回顾</span><span></span><span></span><span></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZGQ0NzQwYjdhNmM2OWY1Nzc0MTky.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDE1MzA5ZTU1MTUzNWUzNGM0NDg0.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NDg5ZWM0ZmM4ZDk0ODhkNzU0NTM5.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZmFmMTgyYTU2Y2RjZWQ1NDFkMGQx.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MmFmZGVhNjhmMTk3YWJlYzgzOTRh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/M2M4ZGQyMjcwMDYyNDA0MGU1ZDhk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OWE0OTQxNzU5YTQ0OWE2YTYxMzY3.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODlmMzNkZjcwMDhmOTYxZDQ1MzIx.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YTJiNzcwZDQ3OWY5YzQxMzcyZGI0.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/Yjk3YjgzZDRhYTU4YzE1MjEwMjkw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MzY0MzZjZTk4ZDU3NjI1MzdiMmQ1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjhmMWMxNzk1Njg5OWFmODMyZWJj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NWU1NmU3ZjdjMjBkMjdmZWM1MTRl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MDI2ZjZjZjAwZGMwYzE2MTQ0YWYy.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZTRhOWE2NGE2OGZjZmQ4MDJlZDVk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NDcyN2JlYzE4ZDgzNjBlZDIwNmY1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjI1MDE2YzMyNDFlMDU1ODlkZWZi.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/M2I1MmJiYzdlODZjZTAxNmMyZmNk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MzlmZWNhMjFhOGYwZGI0YzZiM2Ni.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODI2Njc5NGYwNzdhYzYxMWJjODZh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span style="font-size:14px;font-family:&quot;"> 想用你的双手创造更多的财富么？</span>
  <span style="font-size:14px;font-family:&quot;">那就先把发型做好！</span>
  <span style="font-size:14px;font-family:&quot;">欢迎大家报名学院明年课程！</span>
  <span style="font-size:14px;font-family:&quot;">强调！强调！</span>
  <span style="font-size:14px;font-family:&quot;">优惠继续5折</span>
  <span style="font-size:14px;font-family:&quot;">再送价值近300的礼物</span>
  <span style="font-size:14px;font-family:&quot;">赶紧报名哦！</span>
  <span style="font-size:14px;font-family:&quot;">我们和别人争得就是时间</span>
  <br> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjA1MDAxMTg1YWQ1NDI1YTg0NjU5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>