<div class="left_art_zw"> 
 <h1>2017亚洲首家油头学院开幕了，复古绅士形象这里最地道</h1> 
 <p class="left_art_zw_zz"> 来源：创星学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/5 16:06:49 </p>  
 <p class="dd"> 2017亚洲首家油头学院——创星油头学院开幕了，帮助更多中国沙龙塑造精致复古绅士形象。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWFkMjIwMmExOGIwOGRjNmRiMDFk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDg5ZDJhNmMxNDQ2ZTc0N2VmZjky.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODEyZGIzNDM3M2ZjMmU2YjQwNzVl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTVjYmEyYjE3NTEzOTEyMGJjYzZl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>创星学院油头分享：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Slicked BackHairstyle——大背头</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Slicked back hairstyle是油头大家族的鼻祖，盛行于20年代的Slickedback hairstyle。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2YwOWU1NGE4ODQ2MTRjODM1ZDc4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Side Swept——旁分绅士头</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">从30年代起，油头开始出现了一些新的形式，像Side Swept就是其中一种侧分贴服的变化！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjI2MmUxNzczMzMwZGMzZWM0OGUy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Quiff Hair——飞机头</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Quiff Hair一样是往后梳，延伸出一种两侧往内卷的Quiff Hair在80年代流行。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTg3NTQ2NzZkYjQ3MGQ4YjAxMjg5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1970s（The beatles 披头士）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmU0NDczZjQ0NTdkMTM3ODY5ZmZh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1980s（The rolling stones狼式）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGEzYTYxNzJmOGQ4MDk0NDhkODEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1980s（Slick back 狼式背头）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODQ2ODQ2ZWRkYjQyM2E2YWFhYTg0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1990s（ 蘑菇式）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWUyOTMyYTFhMjRmN2Q3NDBkYmNi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2000s（mohican 莫西干式）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGM1NTEwYjQxNDFiYzMxNDkxNjJk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>当代油头的多元潮流</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">油头打造技巧：传统的油头打理其实非常简单：洗头后用毛巾吸干水分，涂上发油，然后用梳子往后梳就行了！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTI4YTU2ZDJiZTczYzc4M2Y0MDRm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">细软发质：细软的发质打造油头相对??说是比较简单的，容易定型！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGUxYjk3YjFhOGE2OWU3ODM5Njlj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">发质粗硬发量厚重：这种发质打理油头相对来说最困难，不过掌握方法了也比较容易！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDgyNjZhMWRlZmFlNzNhYWE5ZjEx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">卷曲发质：卷曲的发质或是受损的头发通常缺乏水分，容易干枯毛躁所以要有专业造型技术才会呈现油头光亮的特质！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTAzYjM2NGNlYTRhNjM0MDJkOWU2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTU1ZDZkZTg5YjU1ODY3N2IyMTg1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzM4ZGVlZTJmZjg0NDA3ZTg4MzI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>创星学院油头-脸型设计</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/Yzc2ZjBiNGY4OTIzNTk1YjQ4ZmIx.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">圆型脸</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGJhZDEyNGNhMTAxMDZiOTNkODBm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">方型脸</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTU5ZTM1MTVkOGRhZjU3M2Q1MGJm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">长型脸</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YThjNGZiYzAwYTA5NTMxNGJjYzlj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">菱型脸</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWNmNzYyN2Q0NDhmOWZiZjlhNmJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">角型</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzU1YWYwOGMzNjA0ZTBmYjg0OWZm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">鹅蛋脸</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTBkMDU1NDgwMjYyZTg3ZTA5OGZh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>创星学院油头-发脚设计</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/Y2M0ZjQyMDQ0ODhkODFjMGU5Y2M3.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MjMwMzE0YTIwNjNiMWUyYzFlZWM5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MzViMWM3OWNjYzkxYjYwM2IzNzhl.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>创星油头学院</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中国首家复古油头教育落户在四川省成都市，学院位于“春熙路”锦华馆10号，锦华馆修建于1914年，由“春熙路”北通往正“科甲巷”。 古时是蜀绣刺线交易之地“锦华馆”由此得名，有繁华似锦之意，从此就成为创星打造绅士男士时尚的起源点，专业男士复古油头技术???修基地！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmQ3MzRiNzllOWJlY2FhMzU5ZGE5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTRjYWNhYjUxMjA3MmMwMDM0ODM0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创星学院<a href="/cg/2.shtml" target="_blank">美发</a>教育团队</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTllNWVlMmE4ZWZkYzAwOTVhN2Fh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创星学院油头教育团队</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWEyYTc0MjA0NWQ3ZjNkMzdmMmZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创星学院原创作品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2Q1MTI3MjcxNDFiNWY2YjMxMGMz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创星复古油头系统课程</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWJhZjU4ZGU5MDcyNmFmYTdmOTU0.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWU1ZDRmOTViMjBlMDA3ZDU0ZGNk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>