<div class="left_art_zw"> 
 <h1>2017中国国际轻奢周，实现跨界融合的真谛！</h1> 
 <p class="left_art_zw_zz"> 来源：美博会供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/12 12:03:06 </p>  
 <p class="dd"> 中国国际轻奢周圆满落幕，让我们一起来回顾五日以来的精彩盛况！ </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">此次盛会，在马娅会长的指导和带领下，在中国国际轻奢周组委会执行主席张赵原先生的策划与执行中，以邓兆萍、刘勇等国际时尚设计大师引领下，配备以东方宾利首席名模曾玲玲为代表的顶级名模阵容，以及顶级秀导大师王维平先生倾力打造，通过顶级的时尚演绎，塑造整体的轻奢形???风采，引领美业品牌向轻奢化、国际名牌化、中华国际时尚化方向升级发展，打造国际范、常态化、标杆性的美博会轻奢时尚跨界大秀。本次轻奢周在海珠区文广局的指导下，广州塔与海珠区新的社会阶层人士联谊会协办下，得以圆满举行。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/NTIxOThjY2ViMjkzNjY1YTc5ZGZi.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/MDk5NDI3ODZmNzM1NTQ2ODUzYjQ1.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/MmFlNjg3MGIyZDZjMTY2YzFhMDI2.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">回顾五日以来的精彩盛况，从先锋秀品牌</span><span style="font-size:14px;font-family:&quot;">LA DSAIL，到开幕式压轴秀，着名服装设计师邓兆萍老师的《织梦岭南·广府荟》，再到闭幕压轴秀，金顶奖设计师刘勇先生的《LIUYONG》品牌发布。轻奢周期间还有谢海平、杨宝志两位原创设计大咖的加盟，国家级非物质文化遗产香云纱的鼎力支持，亚太设计师联盟原创品牌的独特演绎。中国国际轻奢周不是一个单一主题的时装秀场，而是一个轻奢品牌为核心的综合时尚周，期间除了服装设计外，珠宝、皮包领域的轻奢品牌晶石灵和Top Beauty令到中国国际轻奢周更加丰富多元。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MGYyOGJkMDlkYzVhODY4ZjhkZWVh.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MzhlZGI5ODVmYTFlODAzZjNiOTc0.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MDdkYWY2ZDYxNDA0ZDE2YjY4YjFh.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZDhhYjI3NmY4ZmZkZmUzZDkwZTRj.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/OWNkZmU4MzE4ODNhYjQ2MDhlNzJk.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/YThjNmQxYzA4MjU2OGE2MDQwYjFi.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MzlhMTA4OTQzYzQ4NWRhZjQ1MjRk.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NzdmYzVmNjhjOGY1MWY2Mzg1ZjA0.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NjdiYTdhMDhlM2VmZTljMzViMTNl.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MDMyMTc0YWIwZWU1ZmViODY3ZGM5.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MjE2ZGI1YjRjMzFkOThiNmVkZjQ5.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NzExZDI1Y2FlNTk5MDgzMTk5YjUw.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NGQ4ZmU3NmE4OTZiOTRhMGNiNWNl.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/OWYzZGIwNDBmODhjZGFiMzQyOGIx.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NGY3ZDI2NDkxZTY0N2U2NzM4MzEy.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MWMwZjdjNzM1MjU1MzU4ZjM5MDIy.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZTFlOGNmNjg0YmU5ZWZkYzZlZGY3.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NjViNjZkZWE0MThkMTU0YWVhOWM2.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MGI1ZTViMmQ2Njc2ZDkxNTZlZTg2.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">活动闭幕式当晚，中国国际轻奢周组委会授予广州塔旅游文化发展股份有限公司、海珠区新的社会阶层人士联谊会、亚太设计师联盟会，</span><span style="font-size:14px;font-family:&quot;">2017年度最佳合作伙伴奖，并由广州塔市场营销总监林恒风先生，海珠区新的社会阶层人士联谊会会长、广州华新集团有限公司副总裁莫俊刚先生，亚太设计师联盟会会长邓宇先生，三位代表所属机构上台领奖。由中国国际轻奢周组委会执行主席张赵原先生给三位获奖单位代表颁奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/ZWJkMTFlNzUyNmI0Mzk0ODZkY2My.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">LA DSAIL（拉蒂赛）打破传统礼服只适用于正式社交场合的固有概念，提倡简约不简单的穿衣理念，基于“让现代女性精致从容”的目标，LA DESAIL紧扣轻奢生活元素，传递现代都市人群优雅自信、时尚个性、不循规蹈矩的新生活方式。当晚被授予LA DSAIL（拉蒂赛）品牌2017年度轻奢品牌星秀之星奖拉蒂赛董事长徐传荣先生上台领奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">KK，作为资深时尚摄影师，有其独到的构图以及专业的摄影素养，把轻奢时尚的美呈现得淋漓尽致。而志仔，同样作为资深时尚摄影师，钻研摄影艺术，谋求新突破，新境界，与轻奢周的创办宗旨吻合，发现蓝海，开辟新领域。活动当晚二者被授予2017轻奢时尚摄影年度创作力人物奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/YTE5MGJiYWU2MDMzODI3MWUxMzc4.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">香云纱，</span><span style="font-size:14px;font-family:&quot;">2008年入选国务院批准文化部第二批国家级非物质文化遗产名录，广东省的一种古老的汉族手工织造和染整制作的植物染色面料，已有一百多年的历史。作为传统工艺香云纱的传承者和推动者，谌启菊女士被组委会授予2017轻奢产业非遗文化时尚设计奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">洪雁先生作为业内知名人士，出色的设计师兼商人，他用非凡的天才创造了时尚工业的新平台。</span><span style="font-size:14px;font-family:&quot;">TOP BEAUTY??超的创意和敏锐的贸易触觉，在合理的价格上满足客户的高要求。洪雁先生在当晚荣获2017轻奢工艺品年度创作力人物奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">何秋良女士，用绚丽的天然宝石，守护中国女性心中渴望的爱与美好。带着这个美丽的梦想，开创了属于东方女性的宝石品牌</span><span style="font-size:14px;font-family:&quot;">“CHENIM 晶石灵”，并为中国彩宝产业经济发展做出卓越的贡献。当晚，中国国际轻奢周组委会授予何秋良女士2017轻奢彩宝年度经济人物奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">传承与创新，一直是设计师思路探索的方向。不脱传统的同时又符合现???时尚流行。而谢海平，作为东方情怀缔造者，秉承对中国传统文化的深刻理解，他一贯提倡用最质朴的材料绘出最华丽的中国时尚礼服，并在轻奢周中带来精彩的展现。中国国际轻奢周组委会授予谢海平先生</span><span style="font-size:14px;font-family:&quot;">2017轻奢产业传统文化时尚设计人物奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">杨宝志，不做品牌的傀儡，只做纯粹的设计！他一直拉扯着时尚与服饰文化的手，在艺术与生活和商业之间痛苦挣扎并满足快乐。以独特的精彩时尚展现，俘获现场观众的心。中国国际轻奢周组委会当晚授予杨宝志先生</span><span style="font-size:14px;font-family:&quot;">2017轻奢产业创意时尚设计人物奖。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">由海珠区新联会秘书长吕瑾女士给</span><span style="font-size:14px;font-family:&quot;">5位获奖者颁奖！</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/NWM4MDY1MjY3MWQ5MjFmNjg3Njhm.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">邓兆萍女士，作为中国着名服装设计师，入行至今一直都以中国元素来作为主要灵感来源，尤其她一直身处的岭南文化。她从千年底蕴的中华文化吸取设计灵感，从她的</span><span style="font-size:14px;font-family:&quot;">“青花瓷”系列、“茶马古道”系列、???根”系列和禅文化服装等系列中都能够感知到中华文化中美的积淀，并为轻奢产业发展做出卓越的贡献。活动当晚，组委会授予邓兆萍女士2017轻奢产业年度杰出贡献奖，由张赵原主席和吕瑾秘书长给邓兆萍女士颁奖；</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/NmJhYzk5N2JiNTQ5N2U2YmVhMDdi.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">刘勇大师，作为</span><span style="font-size:14px;font-family:&quot;">2016年中国服装设计界最高奖项金顶奖获得者，蜚声四海，在他看来时尚是包容的，符合自己心境、心情以及审美、职业和生活方式需求的。因此，对??种时尚应有包容心，允许不同的人接受各自的时尚。本次中国国际轻奢周，他带来了全新的视觉观感。活动当晚被中国国际轻奢周组委会授予刘勇先生2017轻奢产业年度风云人物奖。由张赵原主席和吕瑾秘书长给刘勇先生颁奖；</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/ODgxMjFjMzU5M2Y5YmNjZDQwN2I3.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/NDEwMDcwNGFhMzA3YTc5ZDIwNzM1.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/YjIzYmRiNjgzYTVhMzQwNzZjOWUy.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">美博会，作为全球规模最大的美业展览，通过中国国际轻奢周这样一个引领</span><span style="font-size:14px;font-family:&quot;">“新风尚”、构筑“新高地”、促进跨界“新变革”的时尚平台,将多位顶级时尚届名流积淀的艺术底蕴和时尚的设计魅力纷纷呈现于其中。未来的中国国际轻奢周，在马娅会长的重推之下，将成为跨界高地，创意高地，时尚高地，品牌高地，轻奢新风尚将形成巨大的磁场效应，真正起到引领产业变革与改变时尚生活方式。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">2017美博会轻奢梦想已经起航，2018中国国际轻奢周、中国国际轻奢展，期待更多的时尚创意与精彩。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/NWZkNDk1NzZjOGVmMWJhOGYwMTI3.jpg" alt=""></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzYxZmJjMTIwNDVlZGE5M2M3MjAz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>