<div class="left_art_zw"> 
 <h1>2017歌薇Color Zoom跃型耀色中国区颁奖盛典获奖作品大赏</h1> 
 <p class="left_art_zw_zz"> 来源：歌薇专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/7 12:26:31 </p>  
 <p class="dd"> 2017年8月3日，“2017歌薇Color Zoom跃型耀色中国区颁奖盛典”在上海西岸艺术中心开场 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NGViOTFjMDBhN2FlYmQ5ZWZiMDNk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017年8月3日，“2017歌薇Color Zoom跃型耀色中国区颁奖盛典”在上海西岸艺术中心盛大开场。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">23位入围选手在舞台上展现自己独特的创意、想法和热情，并决出了最终的冠军选手。</span><span style="font-family:&quot;font-size:14px;">各组别的冠军将在10月3日代表中国前往西班牙巴塞罗那，参加歌薇跃型耀色全球挑战赛，我们期待他们载誉而归！</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>伙伴组冠军</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>吴鹏飞</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZDJiOWYzZjFjYTI4YTZmMjllYzM5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">艾特制造 联合创始人</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">歌薇 GOLD CLUB 成员</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGM2MDI1N2RhNDA1MDU3OWZmMTA4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">吴鹏飞作品</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">作品灵感：曾有个女孩问我，“目光所及???尘埃遍布世间角落。黑色、灰色、暗淡无光的，你怎么知道自己遇见，是对的？”两年过去了，果真没能再见。于是，我做了这幅“浮光幻影”，想告诉她。你看宇宙浩瀚美丽，皆因星云幻化的迷梦之纱，星云本是尘埃，有了星星的照亮，却成了世间最美的浮光。送你这朵星云，即便黯淡喑哑失散天涯，我们之间也不会再有时差。</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>新锐组冠军</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>Chloe Ng</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NTYyZGRiNDE0MWM5NDRjMGRjZTcw.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">MainStage 沙龙色彩技术总监</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWU0YzI1MDg0YjUxYzYxODVlMWMy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">Chloe Ng 作品</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">发型与色彩灵感来源于成群的水母在海里像一顶顶圆伞在水中迅速漂游，边缘长有一些须状的触手，在水中发光，闪耀着微弱的淡绿色或蓝紫色光芒，有的还带有彩虹般的光晕，当???们在海中游动时，就变成了一个光彩夺目的彩球。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>创意组冠军</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>文科</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NTYwNjJjZTc5MGQ1NWJlNDc5OGUy.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">长沙StarRoom星秀堂造型设计室艺术总监</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/M2Q1YjgzNGYyOWExMzlhNzUzNzIx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">文科作品</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">灵感来源于梵高的星空《星月夜》，在去年纽约游学时与之偶遇，被令人幻象的蓝色星轨 感觉在不断翻滚的橙黄色明月 还有暗黑幽灵般的曲张植物深深吸引，透过歌薇今年的浮光幻影主题，选用灰蓝为主色调的幻彩设计及立体多元的裁剪造型，表达在和谐当下的我们在渐近迷失或者盲目跟风的流行之中，多一些属于自己的个性魅力与潮流态度。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:&quot;font-size:14px;">现场最具人气奖</span> </p> 
  <p class="MsoNormal"> <span style="font-family:&quot;font-size:14px;">黄俊超</span> </p> 
  <span style="font-family:&quot;font-size:14px;"> <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> <img src="/image/information/ODg4YmMwM2NiYmU4YWYwYmQzZWMx.jpg" alt=""></span> 
  <p> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">黄俊超 &nbsp;Jun Chao, HUANG</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">合肥 &nbsp;黑白秀形象设计沙龙</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">同时，现场也决出了各组别的优胜选手。</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>伙伴组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/OGUwYTAyOTQzNjdjOTRlNTNhMzg2.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;">伙伴组亚军</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">朱建铭 &nbsp;Kenji Zhu</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">长沙 &nbsp;铭与颜发型定制沙龙</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Nzc3MmQ0Y2MzODc2ODNkYjI5MTcx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">伙伴组季军</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">林蔚巍 Val Lin</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">上海 &nbsp;梳香</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OGViZTE3M2Y0MDVmMGQ4YThlNTE3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">伙伴组优胜</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">岳汉桥 &nbsp;John Yue</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">武汉 &nbsp;卡丽诗<a href="/cg/2.shtml" target="_blank">美发</a>美容培训学校</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ODYyNDdiNzJmNzBkN2YxYjMxZmFl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">伙伴组优胜</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">杨宏 &nbsp;Wayne Yang</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">长沙 &nbsp;私人定制 &nbsp;U_Case</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>创意组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YjdiZWU5NTJlZDJiYmJhODNkYzJh.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">创意组亚军</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">张行 &nbsp;Snoopy Zhang</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">西安 &nbsp;拉酷发型</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTJhZjNiZmNiNzA3ZTU4ODU0OTcz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">创意组季军</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">周琦 &nbsp;Qi Zhou</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">宜昌 &nbsp;七点时尚专业<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>沙龙</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWVjZDU5ZmJlYjkzZWRhZjUxNmM3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">创意组优胜</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">韩晓君 Xiao Jun, HAN</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">兰州 &nbsp;自由风专业美发沙龙</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzhkNjc5YjRmYTc3ZWU3ZjBhMjM0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">创意组优胜</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">赵唐元 &nbsp;Tangyuan ZHAO</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">沈阳 &nbsp;酷发美发沙龙</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>新锐组</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ODEzNGZjMmI0MTBmODI3ZjU0MmM3.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">新锐组亚军</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">钱家健 &nbsp;Jia Jian, QIAN</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">广州 &nbsp;八佰伴</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTNhNGMwNTg2YTQ4MWJkMTZhMjkx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">新锐组季军</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">郑全涛 &nbsp;Jason Zheng</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">西安 &nbsp;顽石沙龙</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTBjYWZhYzg2YjE3MWRmM2E0Mzc2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">新锐组优胜</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">方律闻 &nbsp;Scott Fang</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">杭州 &nbsp;WU`WAKE UP</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTM1OTBiNjFiMGQ5NWM4NzcxOTFh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">新锐组优胜</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">鞠伟东 &nbsp;Wei Dong, JU</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">沈阳 &nbsp;酷发美发沙龙</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">恭喜所有获奖选手！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjJlNTg1MTEwMDFiY2I3MGFlMDg1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>