<div class="left_art_zw"> 
 <h1>2017最热潮流色，像艺术家绘画一样的巴黎染发技术</h1> 
 <p class="left_art_zw_zz"> 来源：巴黎欧莱雅沙龙专属供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/22 11:34:24 </p>  
 <p class="dd"> 2017最热潮流色，尽在巴黎欧莱雅沙龙专属！ </p> 
 <div class="wz"> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZGU5OTNlMWFhY2RkMmJhZTI2YzJh.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> &nbsp;<img alt="" src="/image/information/ODgzZmNkYmNmNWJlMDZmY2EyNGZh.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/YzAzYmNhZmRiY2I2ZDhmNTVhYzZi.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/OGEzY2UyOWI0NDI1NTQ5MDI4OTBj.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/OTQ3ZmVkMDU5MjIzYjIxYzgzNmZh.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZGYzM2M2NmU4ODQzYmVjNmE3NTgy.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MjU1OTAwY2ExNGI3NGM1MWQ0OGY5.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZWY5YmRjN2NlOTQzMTg4NDE5MjMw.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NzhjNjdkNDFiNTMzNzA1MjQ3ZDMy.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MmQ0OTJiNjBmNWQ5YWQzZmE2MWZl.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NGNkNjkxM2E1Y2I1YjExOTQ4NzI2.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NTE4MzRlYTQzMjRhYTI2MDZhZThl.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MzgzYWJjMWVlNGY4MDA3YzllY2Jk.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MWU2MGNiM2E0ZmVkNGJjMjU0ODYw.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MjJlNmMxNGQ0NTIxMzBiNjI4YTFl.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MzdiY2MwZGIzYTJhMDg5ODY4OTY1.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZGMwNzhmYmUxYjdiYWY0NmQ4NDFh.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NjI3YmZmN2VkZmIxM2E4MDhhNzZi.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NzNlYjc4ZjQ5OTZkYjgyY2I2ZDEx.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MjBlY2JmMzY1YTI1Mzc2NzliOWI1.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZTU2ZWY4ZmQyYzI0MWQ4YWFiNGI2.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MDdmMTExNGU5YWYzOTgyMWYxODMy.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/YTIyZDUyZjhhNDA3MDdmYTZhNzBk.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZjA2MjE2NDExN2RkODRjODg2MTQ3.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZGU1YWU1YzE2MDc0MWM4ZTM0Yzkz.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/OGE3OGIyZGM4MTM4NGIyODExZmZj.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NTUxZmEyNWI2NTFjMDAzMTZkNDVj.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/MmU5YTdkNGZiODI1MzA1NDE4NWQy.jpg"> </p> 
  <p align="center"> &nbsp; </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjA2OGEwOTQ1Y2U1YzEwY2E4MWY4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>