<div class="left_art_zw"> 
 <h1>2017第一波发型潮流元素来袭，免费时尚潮课上线</h1> 
 <p class="left_art_zw_zz"> 来源：北京共想学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/6 15:25:14 </p>  
 <p class="dd"> 近日，共想学院为大家带来2017年第一波潮元素，并推出王牌课程《时尚潮色设计》与《时尚电棒造型》。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">属于2017的潮元素——THINK共想</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTM2YmJiYjljZGNlODE1NWVkNTY4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTI0MTlmZGEwY2VlYTdkYjBjMzk2.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDVmYjdlMmZjYWQ1YTE0YjZjMzVh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjRmM2M1NmFjMzM1YzliMjgyNDRk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGQwODE1YzVhZjM3MjI0ODg2ZTRi.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzBmYTE2MmI3NjcxNWQ5ODU4NDM3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmFjYzU4MWMyODAzOTZjMTk0OGMx.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDMzNmZmYWUyNDcwNjlhY2E0NTlh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzIyMmY0NjY2YTAyNGU4NjBlZWQx.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTk5ZjcxZWFkZjRiZTUxZDNjNjdh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODQyYjExZGFhOTc5OGM0NGE1Y2Vl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTQ3MDQ1Njg5ODFhOTIyYjdlMjcy.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njg4MGJmM2VmYmIzOTQwYzJjMjc4.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">THINK共想学院2017开始上班！哈妹先送上一批2017流行元素。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>共想潮牌课程推荐：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">《时尚潮色设计课程》</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课时：</strong>3天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>学费：</strong>1980</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>内容：</strong>2017最新最时尚潮色设计理论；四季色彩、风格色彩搭配；各种潮色配方；各种改色、改蜡、漂色、提浅、多段色修正；最新染发技巧如分区染、渐变染、透视染等等！真实实操、完全掌握最流行趋势染色技术！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">《时尚电棒造型课程》</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课时：</strong>3天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>学费：</strong>1980元</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>内容：</strong>通??十大基础技法，把风格、廓形、纹理、美感等融为一体，打造出当下最时尚、唯美、个性的造型！此课程结合了艾薇老师多年的电棒造型心得，2017年全新升级版造型课程。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzEwOTg3Y2EzMmZjNTM0YTgxMzU3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>