<div class="left_art_zw"> 
 <h1>2017上海第一美博会招展告急</h1> 
 <p class="left_art_zw_zz"> 来源：上海美博会供稿&nbsp;&nbsp;&nbsp; 时间:2016/9/28 14:59:22 </p>  
 <p class="dd"> 第22届中国亚洲上海美博会将在上海新国际博览中心举行。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">知名企业名单：欧莱雅、百雀羚、联合利华、韩束、雅姿兰黛、韩束、云南白药、相宜本草、自然堂、珀莱雅、奥洛菲、片仔癀、隆力奇、修正药业、安婕妤、伽蓝集团、曼秀雷敦、洁宝、宝洁、好迪、子卬、美即等众多知名品牌参展（未列明全部）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjUyMDEwNmExZDIwZjcxNWJjMWUx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>2017第22届中国亚洲上海美博会(上海CBE)</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>时间：</strong>2017年5月23日—25日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>地点：</strong>上海新国际博览中心(W1-W5 E1-E7 N1-N5)</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>批准单位：</strong>上海市人民政府</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>重点支持单位：</strong>中国人民政府商务部流通产业促进中心</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>主 办 单 位：</strong>上海百文会展有限公司第22届CBE将覆盖上海新国际博览中心全馆，展览面积达到260000平方米。17大馆，50个小馆，展品展区功能更明晰。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">更多国家和地区参与，立足中国放眼世界，构建化妆品行业的世界地图。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">渠道和终端资源更深入，展商、观众互动渠道更灵活。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">首设N5彩妆潮流馆，汇聚彩妆知名品牌，专业造型机构，创立时尚沙龙，造型秀，色彩趋势发布等延展活动，促进品牌贸易交流及传播。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzBkM2EzNDhjMjQzZTg3NTIzZjQ0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>展会介绍：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">17个室内展馆和近50个户外展厅，总规模26万平方米；18个国家展团，总共超过30个国家和地区的3500家参展企业；超过90个国家和地区50万人次的专业买家通过化妆品资讯、EDM邮件对数万日化买家数据库分类发送行业趋势、品牌参展动态。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>日化全渠道重点辐射：</strong>全国百强连锁店为覆盖的10000万家优质连锁店全国各地级市县城乡镇地区近30000万家优质化妆品店。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">全国百强代理商全国各省市优质经销商全国各省市的国内外优质百货商场、购物中心全国各省市的国内外优质超市卖场</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>专业周到的服务：</strong>会前定向邀约优质买家，会中专车专人接待VIP买家，会后对专业买家进行上门或电话回访。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>展品范围：</strong>香水、护肤、彩妆、洗涤及个人护理用品；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;包装、原料、机械以及OEM、ODM等供应链产品。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;专业美容院护肤品、美体产品及仪器；水疗SPA产品及设备；<a href="/cg/2.shtml" target="_blank">美发</a>用品及工具；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;美甲产品及工具；美容化妆书刊、杂志及美容<a href="/cg/2.shtml" target="_blank">美发</a>学校等。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>展品分类如下：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">W1馆——护肤、个人护理用品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">W2馆——香水、彩妆及化妆用具</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">W3馆——彩妆及化妆用具、孕婴童护理用品、口腔护理、家用洗涤</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">W4馆——彩妆及化妆用具、护肤</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">W5馆—— 包材</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E1馆——面膜、护肤、男士护理</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E2馆——国家组团、进口代理品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E3馆——国家组团、国际保养品 、进口代理品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E4馆——国际组团、医学美容、美容院和SPA产品、美容仪器</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E5馆——国际组团、美甲美睫纹绣产品、<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>产品仪器及发廊家具</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E6馆——护肤 、面膜、洗护、洗涤、卫生护理、纸制品、零售模式和配??服务</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">E7馆——国际组团、进口产品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>高端美容展分布：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>日化技术展分布：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">N1馆——国际组团、OEM/ODM、包材</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">N2馆——国际组团、原料及配方、包材</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">N3馆——国际组团、机械设备</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">N4馆——国际组团、OEM/ODM、包材、机械设备 N5进口潮品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>地址：</strong>上海市淮???中路300号香港新世界大厦22楼</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>联系人：</strong>李皓：13524069290</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; QQ：2826167102&nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;E-mail：baiwencbe@126.com</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjcxZjM2NmM4YTI4MDc5ZDA4YmIz.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MmNiMGI4NThjYzkxYjgwNjhiMDQx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>