<div class="left_art_zw"> 
 <h1>2017“连达杯”华东赛区上榜作品，亚洲总决赛还??远么？</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/7/20 11:37:49 </p>  
 <p class="dd"> 2017年7月7日 2017“连达杯”美发及造型精英大赛华东赛区在人杰地灵的无锡举办。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTRhMDM1ZjA5NjM0NGEyNjE5Zjdj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017年7月7日 2017“连达杯”<a href="/cg/2.shtml" target="_blank">美发</a>及造型精英大赛华东赛区在人杰地灵的无锡举办，经过激烈的角逐评选出各大奖项，以及可以在10月12日印尼雅加达通往AHMA <a href="/cg/2.shtml" target="_blank" title="美发">美发</a>及造型精英大赛亚洲总决赛的名单。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">让我们来回顾一下各位选手创意作品,图片巨多，建议WIFI下打开。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjU2ODAwNWEwYTBkMGYwNzM3YjE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">新锐之星组获奖名单</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDhmNGUxM2FjNWE2OGY1MWViNzYw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">新锐之星组冠军:许威</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTJlMWQ3OTg5YWRhZDAyZWY2MzRi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">亚军作品 周黎</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Nzc0NTNmOTVlMDk0NmFhM2E3YWU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">季军作品 孙令辉</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWI5MzlkODU0YTU5OTEzNGFkODQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优异奖作品 魏波</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OGM1YmI3Yzg1NmEwNDY2ZDg3Mzdk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优异奖作品 张先明</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>其他选手作品如下：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZDc5ZjExNmQwNGYzNjA4ODg2YzMw.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ODY0YmE5MTdkZTUwODY5ZmRkODcx.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NzEzZTY4ZDNiMTZjMTEzOGU2MzNi.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MmFhZGE3ZDZiZGFkMDA1ZjljOTY2.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YTVlZDE4YzY3OTYzNzFlZGYwNzVl.jpg" alt="">&nbsp;&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/Yzg4NWI0YjJkM2IyYjQxYmNhMjVk.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MWYzOGJkNjJjZGViY2RjNGZmMDgy.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YzRjZjliYzU4YjhhZmU2NDYwZDY2.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YTNmY2I2ODg1NzcwMDcwZWY5NWM1.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ODNlY2I2MGIxMzk0ODQ0NjJjMjc4.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MmIxMWZjZjU4MjY5NTFlNTMxZjJh.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MTRkY2RjMGJiYzA0YmQ3OWI1NmY1.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZTk2MGQ2YmM0OWNjNzM5MTlmYTk1.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>&nbsp;</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">时尚梳编组获奖名单</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWM0NjA5NjE2ODkzMjJkYjM2ZDll.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">时尚梳编组冠军 陈青峰</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NzhiOTk0MjYzZDdkYmE3ZDc3YzNk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">亚军作品:彭砚砚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDQ0ZDM1ODVkZTdlYTU1NjIxY2Y3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">季军作品:孙辉</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzlhM2NjNmY1MGUyN2M4ZWMwNzNk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优异奖作品:张健</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTYzMGI3YjM4ZmEwNTZjYTVhMTg5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优异奖作品:高健</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>其他获奖作品：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/OWEzZGQ5YTdmOWYwN2E5YmExZTk4.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZmI1ZTZlOWU0YjBlZjkxYzRmNjk5.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NmUzODQ3ZWM4YjA1MTg4OTgxOWEw.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZmNkMTE0NTc2MjFlYTRkZmVjZjdh.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/N2ZmZDE1Yjg2Y2QxNWI5NmVmYjY3.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MTE2Y2RmODQwOWY0MGZjMTBmODk0.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017 “连达杯”发型及造型大赛全球唯一指定教习头——Linda Hair</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">梦想有时候可以很简单，只要你开始行动，</span><span style="font-family:&quot;font-size:14px;">舞台有时候可以很接近，只要你踏出第一步，</span><span style="font-family:&quot;font-size:14px;">我们有舞台，你有梦想，</span><span style="font-family:&quot;font-size:14px;">一起~~来参加！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">比赛的意义：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">AHMA 发型及造型精英大赛 一直秉承关注年轻一代“助我成长，创造未来”的宗旨，倡导通过竞赛提升青年美发人的技术和时尚美感。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">关注新入行年轻人的基础知识教育，希望年轻一代从比赛准备和过程中启发思考规划职业生涯，培养正确的人生目标。锻炼美发年轻人对于美发行业的专业精神，锻炼正能量的竞赛心态。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">希望通过此次比赛唤起行业对于公平公正的竞赛气氛，建立行业标准化，振兴美发行业。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">下一站2017年8月1 日台湾分赛区，敬请期待！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTE1MGJjOGEyOGZiMGRmYzQ4NzZh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>