<div class="left_art_zw"> 
 <h1>2017第9届中国发博会上海国际发型时??周圆满闭幕!</h1> 
 <p class="left_art_zw_zz"> 来源：发博汇供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/21 12:04:43 </p>  
 <p class="dd"> 历时3天的第9届中国发博会&amp;2017上海国际发型时尚周圆满闭幕，各路展商、嘉宾、大咖“鸣锣收兵”。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YjNiNTNmOTExZGUxNTFmNzJhYzlj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">批准单位：中华人民共和国商务部</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">主办单位：中国轻工工艺品进出口商会</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">协办单位：世界发型设计家协会（ICD）中国</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">承办单位：中国轻工工艺品进出口商会发制品分会、郑州汇卓展览策划有限公司</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">历时3天的第9届中国发博会&amp;2017上海国际发型时尚周圆满闭幕，各路展商、嘉宾、大咖“鸣锣收兵”，本届展会观众突破历史新高，送走高朋，回顾精彩，速来围观中国发博会现场三天精彩瞬间：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.大咖群聚/高朋满座8月18日9时，全球各地采购商欢聚一堂，有序登记入场。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/M2QyMjc1Y2IyYzBlY2M5ZDkwMTJm.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2FjZDkyOTI0YjUyMjlmMzAyZmEx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTVhODkzOGM2ODI1MTIxZTA3Nzgx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTFkOGNjYzI4Y2U4MGJlYjRiNTBj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDNlMzkyZmMyZTEyMzIwMjVlYTZm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.领导嘉宾走红毯、接受媒体采访、巡馆，中国轻工工艺品进出口商会副会长张杰先生等领导嘉宾参观本届展会企业展品。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDg5YzlkZDkxN2NmNjlkZmM4ZGM2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWQxMzgyMmEyZjgwMjMxNDgwZjA3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzlmMWEzNjA3NmQ5Zjg0NmE0MDk3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MmUyN2I0MTIzY2U5MjdiYmFiYjky.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YmIwYTgxMzc5NzQ0MzIyYjAyMWVh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.现场品牌展商各显风采，500家发业知名品牌展览展示最新产品和技术</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWNlOTQyZDJlNGVhZGRjZDI2YTRj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGVlZmQ1Y2U2ZWQzYWI5OGIwNTJk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTc1ZTBiZjc0YzllMDM2NWVhYzQx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDViZWI5YTNhYmM0NmZkNzlkNDFh.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzMxNzRjODk1YWQ1MWVjZDgyZWJj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTg4YjhkYjBlN2YxYWFlNzEwNzA5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjgzMmE5MjNjMWU5ZTg2ZjYxODBk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjQ4NTYyZWZkMDBhMDIxZGE2MmJj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTE1ZDEwYTk0MmU3YzIzZTI1Y2Fl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2Y1Y2I5MjI0MWY3OWVjMzJjZjg1.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmU2MmQ0OWExNWJkMDg1MzNhOGUw.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGJiNDU3MDMwMjZjMTkzOGFmZWJm.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2NmYTA5YWE0NDExNTAxYWFlYzU5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Zjg0ZWQ1ZjlhYTE0YTc1MGVmZWRl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGUyZTVkODYzYmEwODE3ZjZhOTgz.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTFjMmNmYTkwNWVmMGViOTRlOWFj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.太和发艺文化博物馆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTgzN2MwM2YwYTc1YTNlYWMwNGEz.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjdiYWY0MDA2NjE4NTZkMGNhMGUy.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MmQ1NjBkNDRmNjFlYWE2YTcwYWM3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmRhZWNhYjk1NzRlMDZiNWNiNDE2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.Rebecca X 2017第三届中国国际接发艺术大赛，120名选手实力比拼，强者终将抱得“荣誉”归</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YWI5MGVkMjBhZWNiZjRiNjYwNWZk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjlmMzU5Zjg5ZjQyNjUwMWZjYjVk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NWY5ODA0Zjg0OTM3MzI5YzZjOTZl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWMyMWE5MTNiNjM5NTdhMWYyYmQ3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzI0YTAxYzBlOGIwNmFiMjg5MjNl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NmZjNjg3YWE4ZWZlOTM1NDllYzEy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.美业新势力—四国接发大师表演秀，中国、日本、澳大利亚、加拿大四国美业大师同台献技，带您发掘美业未来新势力，开启美业新典范，掀起美业新时尚。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OGFjZTIzNzJlOGI4ZTJkNzA2MGQz.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjMyNzEwODAyNjQ0MzFlOTMzYzU5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Nzg3OWY3ZjUxNjIyMTYzZWM1MTE2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzExNWZlZmNiYTVmZjIwZDhlMjFi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjQ2MTVlY2Q3YTNjYjgxMGMxYTgy.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MWJjY2U2MzExYmNlM2I5MDBiOWUx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTA0Y2Q0NjlkNzQxMDc3NTlhNDg5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.2017中国发业创新融合论坛，12位行业大咖精彩演讲，思想密度高，信息含量大，让人深受启发???现场爆满，吸引了四百多名发业精英认真聆听，不舍离开。“融合发展”是大趋势，“融合发展”代表着未来，让我们携起手来，共同拥抱中国发业融合发展的新时代。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGQ0MDJhYjFhNjBjNDM3MTgzODM2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Zjg5M2Y2MzE1MzAzMDBlZWEwYjU4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDdkNjlkNTM4ZWM5NjNhNDIyOTUy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.2017中国发制品跨境电商高峰论坛，政府代表、跨境电商实力平台、发制品电商运营专家、第三方服务商、百万美金假发大卖家等多位大咖助力中国发业跨境卖家。并且，峰会现场成立“中国发制品电商专业委员会”，号召大家结伴前行、相互借力，打破区域壁垒，实现共商、共建、共享、共赢的发展大计。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzgyNjk5NmE1MTEyNTgwZGJiMmEw.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDE3MTBkMDM5ZGU2MmRmZTEyNWQ1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9.2017中国美业行业协会领袖峰会，</span><span style="font-family:&quot;font-size:14px;">加强各地行业发展的融合创新、合作共享、互利共赢，探讨行业热点难题，推动行业健康、可持续发展。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDhiYzFjMzVkMDhhOGJhNzQ4Mzdh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">10.“毛发移植修复外科与头皮健康管理分委会”筹备会，</span><span style="font-family:&quot;font-size:14px;">二十余位行业专业针对毛发移植与头皮健康的技??交流/互相学习</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OGFhMTk3MjI2OTA1NDUyYjM4YjY2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzAwYWFlYWZmMTg0YjhmOTFiYjA4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2UyMmZiMzU5MGNlM2Q1NGMxZjRk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">11.2017年度ICD中国发博会系列培训课程</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDllNDJkYzgwMzAyM2JhMDYwNDlk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZmIyZDYzMDdkOTIyODZhYzJmZDE1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">12.太和县发艺文化产业恳谈交流会，8月17日，太和发艺文化产业恳谈交流会在上海世博洲际酒店宴会厅举行。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzBjOGI4MmU0ZWZjYmU1ODU5Y2Y4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGM3YzM2ZTFiYjE1Nzc3OTcyNDli.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzU3ODA3NTMwMmEzMzkwZWIwMWNi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NGIwNWE3NjI5MjNlYzI2OWIxYThi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">13.第九届中国发博会鄄城县智慧发艺晚宴盛典。</span><span style="font-family:&quot;font-size:14px;">上海世博洲际酒店，美业行业领导、全球发业知名品牌代表、时尚媒体齐聚一堂，共话鄄城智慧发艺文化产业园以及中国发业发展 。并在晚宴期间为对中国发制品行业和中国发博会有特殊贡献的人士/媒体及行业组织进行了颁奖。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjE1MjlkOGIxZjFmMzk5ZDAyMDVi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZTZlZmZlOGM0Y2M0MGFiM2NjZWYz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">14.玛雅脏辫文化技术公开课，非洲文化、脏辫、个性、时尚、新潮！短短三天相聚，老友重逢，新友相识，沟通交流、合作共赢，我们同属于中国发业大家庭，我们共同经营着“顶上”事业。专注/创新/共享市场，中国发博会旨在搭建行业趋势、交流、交易平台，深耕行业，服务每一家企业，每一位发业人，不忘初心，2018年8月，再相会。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MWNhYTBhNWMzNzA1MDJkZjlmMzY5.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzUyNmI5NjJhZDI0Zjc1MjlkNWNm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>