<div class="left_art_zw"> 
 <h1>2017沙宣上海大师秀倒计时，人气king的决定权在你手中！</h1> 
 <p class="left_art_zw_zz"> 来源：沙宣专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/2 11:41:51 </p>  
 <p class="dd"> 今年的酷玩秀活动也迎来最后一期，以下六位发型师谁会将大师班门票收入囊中，为欣赏的他/她投上一票吧。 </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>距离大师秀，已进入最后倒计时</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:&quot;font-size:14px;"> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">今年的酷玩秀活动也迎来最后一期！</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">以下六位发型师，究竟谁会笑到最后，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">将大师班门票收入囊中？</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">决定权在你手中，为欣赏的他</span><span style="font-family:Microsoft YaHei;font-size:14px;">/她投上一票吧！</span> </p> 
  <p> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">- 01 -</span><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/M2IxOTcyNzc1ZDRjYzFkNzdkOWNh.jpg"><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MGE4ZTg3OGEzNzA0OWM4MTE3NTI3.jpg"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型师丨张飞</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">承德</span> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">南北巴洛克</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">俱乐部</span></span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">曾学课程丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">abc剪裁</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作品描述丨客人原有发型感觉随意，缺乏个性；脸型偏长，不够立体。采用线条和重量达到平衡，使其更加立体。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">- 02 -</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MWEzMGM0NjliMWY5ODg5ZmFjMDMz.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MzA4ZmViNjg1N2Y3ZjI0NjNjY2Qw.jpg"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型师丨宋羽</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">贵州</span><span style="font-family:Microsoft YaHei;font-size:14px;"> martin salon</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">曾学课程丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">abc剪裁、当代剪裁、abc烫发</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作品描述丨灵感来自一种蝴蝶。作品使用了经典堆积、去除重量两种技术；刘海做了不规则剪裁，让模特五官看上去更显立体，同时增加时尚感。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">- 03 -</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NjVkODk1NDgxMDYwNjM5YzA0ZTZk.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MDQxN2U1MWI5ZjQ0YmNhZGMxODEx.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型师丨任伟</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">益州</span> <span style="font-family:Microsoft YaHei;font-size:14px;">发伟前线</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">曾学课程丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">abc剪裁、当代剪裁</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作品描述丨模特是圆形脸型，运用尖状不对称的剪裁，使模特更具立体感和时尚感。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">- 04 -</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/OTM4MWU1YzVlMzcwOTU0MjZmMDFj.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/YmEyZjlmMjUzNmIwYjg2NzgwMTY0.jpg"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型师丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">Andy</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">深圳</span><span style="font-family:Microsoft YaHei;font-size:14px;"> ANDY L发型设计沙龙</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">曾学课程丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">abc剪裁、abc染发、当代剪裁、创意集锦</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作品描述丨灵感来源</span><span style="font-family:Microsoft YaHei;font-size:14px;">20世纪20年代后期美国默片时代的红星柯琳·摩尔(Colleen·Moore).柔顺的发丝及亮丽颜色烁出炫亮光泽仿佛来自火星的女郎。深色而厚重的方形刘海突出迷人眼睛，贴合面部齐线条体现整个发型的干净利落。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">- 05 -</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ODEzZGJiNjcxYjk0YTg3NWQ3NWVh.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NzQ2M2Y5NjE4ZmQ5MGU4NjdkNTky.jpg"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型师丨李金辉</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">天津</span><span style="font-family:Microsoft YaHei;font-size:14px;"> MQ STudio</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">曾学课程丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">abc剪裁、当代剪裁</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作品描述丨灵感来源沙宣经典造型</span><span style="font-family:Microsoft YaHei;font-size:14px;">HAVINGTON（海雯顿），结合当代设计观念，做了大胆创新：发型具有线条和轻盈感，使整体形成强有力的对比。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">- 06 -</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NTlkNGJmNDhhYjhmYzUwMGM5YjM0.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NDZlMjZmMzgzOWExZGNlNmNjNjIx.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型师丨徐明哲</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">上海</span> <span style="font-family:Microsoft YaHei;font-size:14px;">东田造型</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">曾学课程丨</span><span style="font-family:Microsoft YaHei;font-size:14px;">abc剪裁</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作品描述丨运用</span><span style="font-family:Microsoft YaHei;font-size:14px;">C技术下区圆形去除，收紧两侧；刘海M型分区C技术建立错落层次感；灰蓝色片染制造视觉上的错觉，勾画脸型轮廓。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">注：投票将于</span><span style="font-family:Microsoft YaHei;font-size:14px;">11月16日 00:00am截止</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWI4MDRmZjRhMTBhZDgxY2E2MWVi.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>