<div class="left_art_zw"> 
 <h1>2017中国国际技能大赛即将举行！快来围观工匠盛会！</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/6/6 13:40:24 </p>  
 <p class="dd"> 2017中国国际技能大赛后天举行！快来围观工匠盛会！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2017中国国际技能大赛后天举行！行业人快来围观！全程体验美容项目和<a href="/cg/2.shtml" target="_blank">美发</a>项目的国际化标准和水平！涨姿势的机会还不快快约起来！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">正式比赛将于6月7??至6月8日在上海市和江苏省苏州市同时举行，来自35个世界技能组织成员的400多名选手和专家将参加大赛相关活动，上海赛区赛场设在上海世博展览馆。 酷炫时尚的<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>大赛、手工打磨的木制家具、自主设计的机器人、栩栩如生的糖艺西点、精美的花艺……想亲临观摩匠人们是如何“妙手生花”的吗？市人社局邀你去看2017年中国国际技能大赛啦~届时，比赛项目附近将设有与竞赛项目配套及具有当地特色的技能展示互动区域，比赛进行时展馆走廊区域会有热场活动，邀请中职院校组织学生进行茶艺（中国功夫）、街舞、民族舞、啦啦操等形式的表演。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NTE4OGFiNmQzNjcxZGY3OGYzMmU0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">世界技能大赛被称为“世界技能奥林匹克”，是最高层级的国际性职业技能赛事，其竞技水平代表当今世界最先进的水平。2017年中国国际技能大赛将为参加今年10月第44届世界技能大赛的各成员选手创造实战训练提升技能的机会，为中国上海申办46届世界技能大赛积累经验。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">截至目前，世界技能大赛项目有6大类50个。本次国际技能大赛共设置了21个比赛项目，均为第44届世界技能大赛正式比赛项目。其中上海赛区赛场设在上海世博展览馆，有15个比赛项目。下面，了解一下上海赛区的比赛项目吧。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">上海赛区比赛项目介绍</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>美容</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">美容即美化人们的容貌。运用专业的护肤方法和按摩手法，对人体的肌肤进行全面的护理和保养。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NjA1OTIxZDAxMGNjMmY2ZGZlY2Ey.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>美发</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">美发项目是指对男士和??士头发进行剪发、接发、烫发、染发、造型、胡须设计等处理和养护，以努力表现客人的外形和个性。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NmZhMGNhZGMxNzNkNDYxZjI4NTk5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>车身修理</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">电气装置项目是指运用传统和新兴技术，对各类特定设计的商业或家用电气装置进行安装、调试、运行。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/N2UyYTlmN2ZhZDlhN2VmMDE2N2E5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>电气装置</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">电气装置项目是指运用传统和新兴技术，对各类特定设计的商业或家用电气装置进行安装、调试、运行。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/Y2RmYjM5MmM5ZjYyM2FiMzBjMjkz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>精细木工</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">精细木工是通过组装内外部构件，制作从窗格到楼梯，从书架到桌子等各种商用及民用物品。精细木工与家具制作、木框架搭建等建筑行业的其他工种以及相关产品等联系紧密。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ODQyMTA1NDU3M2Y1MjZlOGY1ZWRk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>电子技术</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">电子技术项目是指根据电子学原理，运用电子元器件设计和制造某种特定功能的电路，以解决实际问题。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MGMzNDRiZTA4ZDg3MjI5OWMzMjE2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>工业控制</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">工业控制项目是指根据一个（或部分）工业流程做出的模拟解决方案，进行电气设备和工业自动化元件的安装以及程序设计与调试。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZmQwMzE1MTAzMzEyZTRlNTkwZmY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>机电一体化</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">机电一体化是利用机械、电子、气动和计算机技术为工业建立自动化系统。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NWYyNDBlMjg3MDdiOTZmYzc0M2Rm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>移动机器人</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">移动机器人项目是指运用相关的理论知识和操作实践经验，围绕机器人的机械和控制系统进行工作。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzAwNTA0ZjI2MWUzMGJmMGQ5ZTc0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>焊接</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">焊接项目是指按照图纸要求进行准确组装，并按照图纸规定的焊接方法和相应的焊接标准进行焊接操作。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZjQwNzc1Y2JkNjFjZDJkYzg1YTZm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>信息网络布线</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">信息网络布线项目是指利用以太网技术、局域网技术、办公室和家庭网络技术，进行大楼综合布线（包括主干布线和水平布线）、住宅和办公楼综合布线（办公室和家庭布线）及厂外综合布线。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZTdkMGFhM2FiNzk4ZWMwYWQxYjc2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>网站设计与开发</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">规划、设计、调试并维???网站，同时整合第三方平台与社交媒体平台。网站设计包含了许多不同的技能与学科，包括开发与维护，重设计或升级网站。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/M2MxMWQ4YzgxNzUxYWJjNmM2MDU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>花艺</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">花艺项目是指根据花卉设计的构图、色彩理论、设计理念和技术来设计鲜花、叶子、植物和配饰，合理安排修剪鲜花和植物的工序来整理花束，同时对花、叶子、植物、容器、包装材料和装饰配件进行选材和护理。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZWExNWFiZWQyZDgxNzI3N2RiM2Q5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>平面设计技术</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">平面设计技术项目是指熟悉设计生产工艺流程，能在规定的期限和压力下，完成广告设计、编辑设计、企业和信息设计、包装设计四个竞赛模块工作任务。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/N2I5YTlmNDQzNmQ4NTc0NWVkYTFl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>餐厅服务</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">餐厅服务项目是指能够在餐桌或吧台提供个性化菜肴和饮料服务。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NDVhOTQ1NDFjMzI4OWY3NDU1NjFl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">在6月7日、8日正式比赛的两天里，比赛项目附近会设置与竞赛项目配套及具有当地??色的技能展示互动区域。这些区域会邀请大赛设备赞助单位、职业院校师生、企业职工、市民等观摩比赛并参与互动。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">技能展示和互动的内容包括：①与竞赛配套的项目，如车身修理、精细木工、电气装置等；②反映产业领域和前沿技术手段的项目，如VR技术、绿色智能建筑与施工、智能制造等；③中国传统文化技能项目，如传统面点、服装饰品、剪纸花艺等。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/Njg5NDZhOGNlYTQwNjE0YzM5OWEy.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NjNhMDgyNjNmYTU4YTFhZjE0MjBk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YjA0ODY3NzYxN2UzYTAyOTAxNTkw.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmZmMGJkMzg5YzcwZDg1NzQ0ZDky.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>