<div class="left_art_zw"> 
 <h1>2018新出发，国际沙龙美发节全国巡???——南宁站!</h1> 
 <p class="left_art_zw_zz"> 来源：国际欧芭集团供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/6 11:44:21 </p>  
 <p class="dd"> 名姿团队用一把剪刀，剪出唯美的线条，国际沙龙美发节南宁站的现场上让我们看到了全球最顶级的美发艺术。 </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">——2018出发，衍变，因你而变</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">透过这个华丽的舞台，我们???到社会在衍变，技术在衍变，时尚在衍变，而我们的美业定会衍变到一个新巅峰!</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/M2NhNWFmNDJkNTg0ZGM4MjhlMjZk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">【2018丽竹莱熙成立30周年系列活动——国际沙龙</span><a href="http://www.hair8.net/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span><span style="font-family:Microsoft YaHei;font-size:14px;">节巡演（南宁站）】1月3日在万达嘉华度假酒店成功举办！这是2018年丽竹莱熙公司成立30周年的系列活动之一！特别感恩全国美业精英的大力支持，感谢国际沙龙</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">节组委会、名姿</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">学院、国际欧芭、欧黎专业<a href="/cg/2.shtml" target="_blank">美发</a>品牌、印觉<a href="/cg/2.shtml" target="_blank">美发</a>连锁机构、MTID<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>机构的全力配合。分享美发技术，引领潮流时尚，国际沙龙美发节下一站巡演，1月8日我们柳州见！！</span></span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjAyMGExYmNiZmRmNzE1N2JmNDkz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">此次盛会汇聚了广西各地区的美发精英，近800位美业同行???以及各大直播平台将近10万的观众共同观看2018年潮流趋势发型秀。开启世界时尚饕餮盛宴——衍变?因你而变！</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDRjZmJiNWRiNGIyMDYzODNlYzNl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjkxN2UxZDZmZDFiNDJjN2Q2ZTA0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">主办方：广西丽竹莱熙商贸有限公司执行总经理廖海峰致辞</span> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWIxMjcwODk1OTQ4NWRiMzcyMTMy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;"> <strong>【2018欧芭与你出发看世界】</strong> </p> 
  <strong></strong> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">国际欧芭麦文轩总经理在现场分享日本Apish管理及客户服务心得，用心服务顾客，以专业传播时尚、将中国美链接全球、将发型与服装的结合。还分享了伦敦FELLOWSHIP中国技术课程，中国代表团队每年10月在伦敦向全球发布最新发型趋势，全球10多个国家时尚发型巡演，与世界三大时装周（米兰、伦敦、纽约）合作。2018，携手欧芭，你可能就是下一个中国骄傲！</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">欧芭，16年的探索，16年的梦想。每一次的原创，是我们对梦想的超越。每一次的突破，是我们对责任的担当。每一次的高科技，是我们对专业的尊敬。这里，有我们对梦想生生不息的坚持。这里，有我们对初心百折不回的坚守???这里，有我们对创业艰辛努力的奋斗。欧芭会继续秉承着成就他人，顺便成就自己、成就同行，顺便贡献行业的经营理念为大家服务。</span> 
  <p> <br> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGI5YmUyN2M4NmY0MDlmMTZmNDM5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <strong></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>【成立名姿广西分校签约仪式】</strong></span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">广西丽竹莱熙商贸有限公司总经理杨妹连和名姿美发学院校董吴龙现场签约，2018年名姿广西分校课程正式启动。丽竹&amp;名姿成为战略联盟，强强联手完美结合，将带来广西美业人技术创新力量，开启新的篇章！</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmIxNDgwMzUwZTQ2NTAxMmU0NGUz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <strong></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>【蔡艺卓——灵魂之旅】</strong></span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">国际欧芭董事长蔡艺卓先生的灵魂之旅以《我的美业人生》短片开场，简单概括出他对30年从业的领悟，对50年人生的理解。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">蔡艺卓先生说：“30年如一日，我没有一分钟讨厌美发，我生下来就是为了美发”。他始终都专注美发业，力争成为最好的手艺人，他把美发当成生命终身去做。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">我的第一个十年：趴在理发店的玻璃窗外学习。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">第二个十年：我用麦克风成就他人；</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">第三个十年：搭建平台，链接平台 ——国际沙龙美发节</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">蔡艺卓先生在阐述事业经历的同时，将50年的人生感悟娓娓道来。</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjA0Nzg3OTJjMjE5NGRlYTc2YmFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <strong></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>【出发?2018——衍变，因你而变】</strong></span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">音乐界人士的最高目标是登上维也纳金色大厅，服装界人士的最高目标是登上米兰国际时装周，美发界人士的最高目标是登上英国国际沙龙美发??！国际欧芭董事长蔡艺卓先生连续3年带领中国的美发事业走向世界美发殿堂。</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWZhODE5NTRiZThiYjQ5NTliNmEz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODdlNDJkYTJlOWU2MmZiMjQ0YzIx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjYwMGNjNTQ4YmE2ODAwYTc1N2Mw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <strong></strong><strong><span style="font-family:Microsoft YaHei;font-size:14px;">【MT-谜题】</span></strong> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">MT·ID专业美发造型技术团队，以时尚创意、精湛技术缔造出全新视觉，让创意得以淋漓尽致的表现，给观众带了来一场全新??时尚与艺术碰撞的视觉盛宴！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDE2OWRkMjlkYzY1NGUyMTc5N2Fj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NmM0YjE5OTFiZTlmNmQ3YzQxNTZi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDdiZTEyZjQzMjgyY2U5ZTRlNzYy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>【E·joy印觉形象设计机构】</strong></span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">发型与服装的跨界大师秀，精彩演绎了美发艺术带来的视觉盛宴，把最新技术与最新的时尚造型相结合。</span> </p> 
  <p style="text-align:center;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWE1M2I1MmQwOTliMmZjNjBlNDll.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjkzNjcxMmEzM2M4NDRmNzBjOTUx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjA5ZjVmYmM1NWI1YTFmYTYyYmYz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTM0MzVjYjcxZGI0ODhjNzBhMzUw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Mjc5YmI3ZDY4YjY3OTI5MzFlZDY4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>名姿美发学院——衍变·《金鱼》时尚秀</strong></span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">名姿团队的一把剪刀加上熟练的动作，剪出唯美的线条，设计出最新最潮的英伦风尚，绽放新的艺术灵感，产生震撼人心的视觉效果，国际沙龙美发节南宁站的现场上让我们看到了全球最顶级的美发艺术！</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTMwOWU2N2JlNDMwMjBmMjFmMWEx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">像素染以不同的梳理方式呈现出不一样的色彩造型，变化万千，却始终充满玄幻色彩，让现场观众感受到色彩的魅力。</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmNjMGJlZWJiMmM5NGE1MmNlODJl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">名姿美发学院团队谢幕</span> </p> 
  <p style="text-align:center;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTQxNDM3YjkxODJjMGRkNzNlYzlm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">参会嘉宾与美发团队、模特合影</span> </p> 
  <p style="text-align:center;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTA4ZDg0NTY3NWU5OWUxYzFmYzE4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">广西丽竹莱熙工作人员与模特合影留念</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">丽竹莱熙成立30周年系列活动二丨国际沙龙美发节巡演（柳州站），1月8日将在柳州耀眼绽放！</span> 
  </div> 
  <span> 
   <div style="text-align:left;"> 
    <span style="font-family:Microsoft YaHei;font-size:14px;">1月8日，我们柳州见！</span> 
   </div> </span>
  <span> <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">地址：柳州市潭中中路-白沙路 皇嘉凯歌大剧院</span> </p> <p style="text-align:left;"> <br> </p> </span> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTAwNGY5MGIxOTUxZGI0NTlhYThl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjBkZjBiMzEzZjJmYjdiODYyZWMz.jpg"> </p> 
  <p> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTIwNTJkZGEzODdlODU0ZjEwNjZj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>