<div class="left_art_zw"> 
 <h1>2018Futurewise 大师课完美收官 ，捕捉“未来感”色彩剪裁新趋势！</h1> 
 <p class="left_art_zw_zz"> 来源：TONIANDGUY供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/28 13:54:00 </p>  
 <p class="dd"> 想让你的预约表爆满就不能只依靠技术，更多时候要向你的客人销售你的品位，所以培养好的品位至关重要。 </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY 2018 Futurewise 新趋势，大师课程火热进行到第二天。虽然已经经过一天的学习，但是同学们也都一直状态饱满期待着和大师们一起，揭秘更多新趋势的奥秘。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MzZiNDc0ZWU3YTJlNjczZjJmMDdk.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">不要用一种技术为所有客人服务，分区分线也是如此，根据客人的不同情况调整分区分线位置，这就是TONI&amp;GUY的“适应性”</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">From 陈础威 Frankie Chan</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY中国区行政总裁及艺术总监</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/OTg5YjAxMDI0NTM0NTg4ODMzMTJh.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">想让你的预约表爆满就不能只依靠技术，更多时候要向你的客人销售你的品位，所以培养好的品位至关重要</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">From Bill Watson</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY南半球教育总监</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MzA3YTkxYmE2NGQ2YzVkOGZlNmQ2.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">不断寻找能激起学习热情的兴奋点，保持学习的能力</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">From 黄伟诚 Ben Huang</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY中国</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">教育学院资深讲师</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/Mjc2MTk5OWM4YTUwNDZjZTM4YTZh.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">色彩让发型更加完美、饱满，用心感知色彩的情感</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">From 赵业映 Billy Zhao</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY中国<a href="/cg/2.shtml" target="_blank">美发</a>教育学院高级讲师</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NjlhMmM1MTMzMmYyZGQ3Y2EzYTJm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">勤学苦练是提高技术的唯一途径</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">From 刘楚韩 Hango Liu</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY中国<a href="/cg/2.shtml" target="_blank">美发</a>教育学院助教讲师</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">趋势推荐</span></strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MjQyNDBiZDY4Y2ZkYWEwZGEyMjRl.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">Gucci服装推荐</span></strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">看到过新趋势图片的学员也已经发现，Futurewise灵感部分取材于GUCCI从服装搭配和妆容，大师课都尽量还原秀场真实场景。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">INTERLOCKING ANGLES--KATIE</span></strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YjlkNWIyNjIyZjAwNTkzMDY0MTYw.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>剪裁灵感来源</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">外形轮廓来源于九十年代出现的强烈刘海以及近几年大热的服装模特Angelina Jesson，强烈的刘海以及保留外线的长度，增加结构对比的强度。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Yzg1MTc0ZjY0NDIxMDBiMTM5NGZm.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>颜色灵感来源</strong></span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MWE1OTcyNzMyMTdkMTRhMGY1YzVj.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">色彩调制最初始的灵感来源于时装设计师</span><span style="font-family:Microsoft YaHei;font-size:14px;">David Ferreira在他AW 2017的合集，布料和着色都有着强烈的色彩对比感，借用新颖的扭转发片技术，达到色彩的渐变或者轮廓形状的调整。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">INTERLOCKING CURVES--ALINA</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ODk3Y2Q1YzViMjA5MmE1OWM0YmUx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>剪裁灵感来源</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZmY4YTI2ZTZhOTczMWUwOGY2MTVk.jpg"> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">整体形状是一个变形的</span><span style="font-family:Microsoft YaHei;font-size:14px;">MULLET，现如今它变成很时尚并不断向前发展的代表性发型，灵感来源于日版的《Harpers Bazaar》模特戴了一顶抽象的头盔，长发自然垂落于耳后。据此创作出锯齿状的边缘外线以及短刘海，让最终的形状呈现可爱灵动又不失高雅的整体感。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>颜色灵感来源</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OGE3MzUzNjNhMzQ4ZTA0NGU0ZTdj.jpg"> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">色彩的灵感来源于一些氧化后的金属以及一些矿物，在发型中分出前区和后区创造色调覆盖叠加的焦点位置。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">TONI&amp;GUY作为伦敦时装周唯一官方造型赞助商，一直享有着世界上唯一的时尚风向标式存在的<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>品牌这样的殊荣TONI&amp;GUY也不断利用经验丰富的艺术团队，创作完成了基于流向趋势关键点上的分步骤进行教育培训的EDITORIAL系列。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">EDITORIAL BACKLE UP</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZWIwZWZmN2UwMTY1M2JlYWVhNTgw.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>创意灵感来源</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MmIxYmQ2NjQ1NzU5MTNmZjJlNDE0.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">此造型利用</span><span style="font-family:Microsoft YaHei;font-size:14px;">editorial经典的卷发技术加上固定的分区分线，创作出的更现代化的MULLET形状，灵感来源于HOUSE OF HOLLAND在伦敦时装周上，给模特做的修饰脸型的方形卷。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">EDITORIAL STINGER</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZjZjNzQ0MzAzMGNhMjg5YjViOTRm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>创意灵感来源</strong></span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NWYzNDVjMGY0NWY1OTMwYTRlZGFh.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">灵感来源于伦敦时装周上展示的不同材质，在皮带、包以及珠宝上运用的编制造型迸发出了这款厚实的四股式鱼尾辫编发造型。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>大师课程现场作品赏析</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YTM2N2Q2MDJjMzdlZDhkZTRhODk4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MDQ0OWVjNmE2MzUzMzNkNjdjYTlj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OGViMGU3ZDAwOGI3NDk0Y2YyZTI3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZmU1ZTlhNTg4MjMzMmM0OTAxZGRj.jpg"> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">我们毕业啦！！！</span></strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MjEyNzI3NWU2NTk3ZjBmZDk2Yzlm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGY4ODdmMzc0NzQwNDczNTYyZTQ1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>