<div class="left_art_zw"> 
 <h1>2018年美形中职联盟，这是什??来头？戳这里，全知道!</h1> 
 <p class="left_art_zw_zz"> 来源：中国美发美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/5 12:03:08 </p>  
 <p class="dd"> 美发与形象设计专业中职教育联盟2017年第二次工作会议在潍坊召开，共计46人参加此次会议。 </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/N2JlNWExMDEyZmY2NGJmMGMwYTM3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">12月2日，在2017全国</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">美容职业教育教学指导委员会年会期间，召开了<a href="/cg/2.shtml" target="_blank">美发</a>与形象设计专业中职教育联盟（以下简称“美形中职联盟”）2017年第二次工作会议。会议由美形中职联盟轮值主席校山东省潍坊商业学校旅游系副主任毛晓青主持，全国23所中职院校代表共计46人参加了此次会议。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NTc5MTM4M2EzYmNiZDA3MDQ3OTNj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">会上美形中职联盟轮值主席校领导孙中升向参会人员作出了</span><span style="font-family:Microsoft YaHei;font-size:14px;">“2018年美形中职联盟工作设想”汇报。山东省潍坊商业学校孙中升校长表示：美形中职联盟成员校要秉承联盟精神，通过分享交流增进凝聚力，提升整体实力，积极响应全国<a href="/cg/2.shtml" target="_blank">美发</a>美容职业教育教学指导委员会的工作安排，美形中职联盟的工作成果是交给教育部及全国<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容职业教育教学指导委员会的最好答卷。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZTBhZDc0ZDIwNzZjOGM5Yzc3ZWI0.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">随???，山东省潍坊商业学校旅游系副主任毛晓青在会议现场向与会人员详尽介绍了</span><span style="font-family:Microsoft YaHei;font-size:14px;">2018年美形中职联盟具体工作事项，内容涵盖形式交流、课题申报、名师评选、现代学徒制典型学校参访以及发展联盟成员等事宜。与会人员在会上对2018年工作设想思路进行深入讨论，为2018年服务于全国美发美容职业教育教学指导委员会中职教育各项工作的开展奠定了良好基础。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MGY2NGQzOWQ4NGM1NjdmNTNmMTRj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">讨论结束后，山东省潍坊商业学校副校长任云杰在会上发言表示：希望有更多学校??入美形中职联盟，共同促进专业、师资、学生各领域层面的成长，共促专业建设良好发展。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YzkwY2MyMWRhY2I2ZmM5ODFhMDg5.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NmMxYTJhY2U4ZjQ5M2Y0NzMxNWQ0.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><span style="font-family:Microsoft YaHei;font-size:14px;">会议间隙，山东省潍坊商业学校旅游系副主任毛晓青带领与会人员参观了山东省潍坊商业学校形象设计系，与会代表对学校建设有了更多了解。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjYwNjNhYmUxNzJkNWMxZjk2Y2Y5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>