<div class="left_art_zw"> 
 <h1>2018美尚星艺传承,实力打造“明星+手艺人”首场美业人自己的明星盛会！</h1> 
 <p class="left_art_zw_zz"> 来源：佰特曼美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/18 12:48:37 </p>  
 <p class="dd"> 2018美尚星艺传承！《明星+手艺人》美业人自己的明星盛会，2018打造明星店！明星手艺人。 </p> 
 <div class="wz"> 
  <p align="left" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><span style="font-family:Microsoft YaHei;font-size:14px;">2018美尚星艺传承！《明星+手艺人》美业人自己的明星盛会！2018打造明星店！明星手艺人！传承美业匠心精神！向美业人致敬！&nbsp;一场集合时尚，潮流，美丽，快乐的明星演唱会！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">对任何人而言，</span><span style="font-family:Microsoft YaHei;font-size:14px;">手艺从来都不是与生俱来来或浑然天成的，</span><span style="font-family:Microsoft YaHei;font-size:14px;">哪怕是一个最简单的基本动作，</span><span style="font-family:Microsoft YaHei;font-size:14px;">即便看得见、摸得着，</span><span style="font-family:Microsoft YaHei;font-size:14px;">但其中却总有些做不出、或达不到的某种标准或审美。</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODlhOWY3NWFiYzU4ZjRjZjY3MThl.jpg">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">特邀明星助阵</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Mjg5MjY4YjIwMWNmMzg4NDg4YjZm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">真·DESIGNER 回顾</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">更多期待,与您相约2018星艺传承！</span><span></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzE3YTg0NjRhNTU0ZTc5N2Y4Mjhm.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTE3NTM0ODYwMzExMjk4YzA3NDIw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>