<div class="left_art_zw"> 
 <h1>2018超级设计师时代到来!舟造型《红人计划》全面启动!</h1> 
 <p class="left_art_zw_zz"> 来源：舟游时尚&nbsp;&nbsp;&nbsp; 时间:2018/1/9 11:37:14 </p>  
 <p class="dd"> 2018我们精彩继续，璀璨星光，美业超级设计师时代的到来，赶快上这一趟航班吧。 </p> 
 <div class="wz"> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">崭新的2018，我们如何脱颖而出？看这里超级设计师诞生的摇篮。</span> 
  </div> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">全新上市</span> 
  </div> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 2018年北京舟造型发妆装学院重磅推出全新《红人计划》课程。此课程为“超级设计师打造计划”中的起航课程，成为中国美业新生代设计师想在技术价值化、设计师品牌化的大趋势下突围并脱颖而出最好的启点。</span>
  <br> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 课程涉及提升设计师专业技术的全面性和你未知待开发领域，帮助从事美业的纹绣师、发型师、化妆师遇见美好，拥有自信，获得高端客户群体的青睐，成为自己圈层的榜样。</span>
  <br> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 我们突破传统教学方式，将专业教学与时尚实战教学完美跨界融合，同时也因才施教，为入学成员提供完美的和丰富的教学成果体验，在享受中完成学业，红人计划—挖掘你的明星潜质。</span>
  <br> 
  <div style="text-align:center;"> 
   <br> 
  </div> 
  <div style="text-align:center;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&lt; &nbsp;红人计划 &nbsp;&gt;</span></strong> 
  </div> 
  <strong> 
   <div style="text-align:center;"> 
    <strong><span style="font-family:Microsoft YaHei;font-size:14px;">挖掘你的明星潜质</span></strong> 
   </div> </strong> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">100个席位</span> 
  </div> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">即刻报名8800元</span> 
  </div> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">12个月内分阶段完成</span> 
  </div> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">北京舟造型发妆装学院</span> 
  </div> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span>
  <br> 
  <br> 
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">??习课程一</span></strong>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 出街造型－视觉传达（价值4960元）</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 四天课程内容：</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 12018商业灵动造型的主流趋势</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 2视觉传达拍摄技巧+高品质镜头作品呈现</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 3TPO的不同场合的造型设计</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 4设计师的标签定位与自我品牌价值塑造</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 5拍摄不用修片白?透?美的减龄发型大片</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 开课时间：每月12－15号</span>
  <br> 
  <br> 
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">学习课程二</span></strong>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 明星V整美妆术（价值6000元）</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 四天课程内容：</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 1提升整体发、妆、装的形象设计力</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 2红人设计师的自我品质形象打造</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 3传授明星化妆术如何商业运用</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 4面部五官密码与形象定位的关系</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 5女神生活美妆/约会美妆/OL美妆/Party美妆的打造技术与技法</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 开课时间：每月8-11号</span>
  <br> 
  <br> 
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">学习课程三</span></strong>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 私训—红人计划（价值6000元）</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 4天（开课时间与内容私训定制）</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span>
  <br> 
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">学习课程四</span></strong>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 三次时尚活动践习（价值3800\次）</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 践习内容：</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 1国际时装周</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 2时尚节目录制</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 3大型选美大赛</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 4明星颁奖盛典</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 5时尚杂志拍摄与明星街拍</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;备注：因材施教，每位红人可享有三次参加时尚活动现场实习的机会，实习活动由经纪人根据积分管理制度来进行优先安排。</span>
  <br> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> &lt; 红人计划 &gt;纹绣市场经纪人</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 张利老师：13886092710</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> &lt; 红人计划 &gt;</span>
  <a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a>
  <span style="font-family:Microsoft YaHei;font-size:14px;">市场经纪人</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 骆骆老师：18888841054</span>
  <br> 
  <br> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 下面就和小编一起来回看2017年为大家精选师哥师姐驰骋于时尚明星领域践习足迹吧……</span>
  <br> 
  <div style="text-align:center;"> 
   <br> 
  </div> 
  <div style="text-align:center;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">精彩回顾2017</span></strong> 
  </div> 
  <div style="text-align:center;"> 
   <br> 
  </div> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年3月</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">中国国际时装周</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 葛澜2017\18“亲?密”发布会</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 葛澜婚纱——人人都能消费得起的高级定制，2011年-2013年连续三年荣获得《时尚新娘》“定制品牌奖”“时尚婚礼服设计大奖”等???创立10年来，已为数万名新人提供高质量的定制嫁衣。</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 学习</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 亮点</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 走进时尚的现场，通过高级定制的现场发布会梳妆，真正的理解“量身定制”和“专属设计”的理念，帮助你轻松驾驭高品质顾客</span>
  <br> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWZmYzkwYmM4Y2NmZDU0M2MzZmEx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzJlNjBjNTAyODk5MDMxNmMwYzc1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmEzYTA3MGExZWY2MWQ2ODY4YjEy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTI5ZmQzODczOTY5NmI5M2NmMzRj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzI2OGU1MGEyNDVmYTQ0YWZjZjg5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmQyNzY1M2ViOWJjNmQwZTUzMjQw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDZiYzczN2M2ZmU1ZDFhZTg3ZDQx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWJlNTY2NjJhNjEzOWM0ZTlkMzM0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年4月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国国际时装周</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">藏服首秀2017\18“太阳的部落”发布会</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">着名歌手阿佳娜姆，AJ-NAMO藏族时装发布会“太阳部落的灵感与跨界”，以民族与时尚融合，艺术与实用衔接为设计理念，将草原之舟牦牛的黑、藏红、哈达白和氆氇色，隐藏在服饰之中，细节处散发璀璨动人光芒。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">舟造型团队大胆尝试，将藏元素印记无瑕融于模特头饰造型、妆彩中，配合佛教音乐大师级制作人王宇翔专门为秀量身制作的游牧部落原生态世界音乐，堪称民族文化盛宴大赏，令人拍手叫绝。民族的才是世界的！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzNjZDBlYjA4ZTI5YTI2MDBjYjQ0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjczNzU5MDA5MTFiOWQ1NDMyYzZj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDJlYzNhM2U3N2VkNDYyMTg5MGU5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTI2NmRkNzlmMzQ3ZTc1YTUxMmMz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjkyNThjZmJkODc4M2Q0NDEwOTRm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGQ4ODUzMWNjODM1NzRmN2ViNzZh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWE0YmZjZDkxNjIzZWNkMGRjY2Q0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Y2M2Y2Q4ZmI1ODk4ZTRhYWM2NTA4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWY1ZTExNTQ1NjM0YTdlZmE3OTA2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDg1MWJkODI5Yzc4YmZjYmQxZmJm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzBlYThiNGJmMWU5NWQ3ZWU0ZjFm.jpg"> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODhlNTJjZGRlNDdlYzE0NjM5NzNm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年4月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国国际时装周</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">明星漾衣2017\18发布会</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">明星漾衣联合时尚明星熊乃瑾、包贝尔、孙耀琦发布各自原创服装潮牌系列，掀起明星‘漾’风潮。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">明星跨界到设计师领域，设计师跨界到明星领域，在这个品牌化的时代，每位设计师都需要进行自我品牌的树立与打造，让时尚为你赋能，打开你所未涉及的思维领域，成为最有时尚敏锐度的沙龙设计师。</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDNiYTg0YmQ0MWE2MGY2NGFmNjM3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTFkNmI4Y2M5ZDk0OGI5ZjUwMzY4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzljNDU2ZjM5M2E4ZGIxMzc1ODI2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjVhY2NlYzFmNmU2YmUyMzNmNWFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzlkNTZhNzg5ZDgxMDZhZTBhOWE5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGY3NDU2ZWE1ZjM3NDc5YTBiNTI0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzI4MzUzMWJjMTU5ZWQxZGE0NDQz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTAyYWM5ZGM5ZDNhYjBiYzc4MDk5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGU1MTE3OGZhNjAxNzJlYjY5ZGVi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjYyYTI2YzU0NTYwMmRmY2UzNDk1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年6月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">美妆节目——美丽俏佳人</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">美丽俏佳人被誉为时尚界的造星基地，中国美业最权威的经纪公司北京舟造型发妆装学院，特邀天团时尚达人老师为中国女性普及发妆装整体造型专业知识，让顾客的美丽显而易见。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">当你还在沙龙为??何给顾客推荐产品组织话术而懊恼时，天团已受邀美丽俏佳人时尚栏目，拿着产品面对多台机位镜头侃侃而谈，与编导对接专业的美妆造型知识如何普及女性，创新并引领女性对形象美学的认知，让镜头把你的技术专业呈现给千万女性观众，轻松圈粉。</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGY2ZWZmNGQ4NWI3MzM4MGVmYzc4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODVhMjExZDIyYWRmNWFkYTRkM2Jl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGIxOTQwNDUyNzgwYmVhODI1NjYx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTAyZjM3MDExYTdmZGJhYzI4ZWIw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGQ3OTVkZmQzMmJkM2MxZTUxMDdh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDUzY2E3MTZkMTg4ZDQzZjlkNWUx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年7月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">Grace Chen瑰丝陈——七星豪华邮轮时装发布会</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">Grace Chen，在世界上最具影响力的时装设计师之一，她追求的目标是帮助每一位女性发掘自身的美，彰显她们的价值和影响力。穿上 Grace Chen 最新定制的礼服，专业的天团造型师打造的最流行妆容，和专业模特们一起走秀，让顾客也成为T台上耀眼的明星。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">Party经济的时代到来，如何搭建顾客的社交圈，和让顾客成为明星是与Grace Chen老师合作最大的收获，用整体造型的技术带你来到最顶级的圈层，去向世界最美的地方，让你的设计自信由内而外的洋溢，你还怕你的设计没有灵感吗？你不认为你的设计可以更加值钱吗？</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWYzMzhjMGZmNTVlNDcxNmIxOTll.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGRhOWRlYjcyMGZkNmNkNDQ4NjIw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWZjN2JjMDJjMGM1NTY2ZjljNjZi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDZmZWJmYzIwZGY0ZjU5OGIxYjlj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmU0MzIyNjg3ZDQwNjg1NGU0NGIw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGQ2ODVlMDZlY2RkZmUxNTAzNmRl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWQ0MGJjZTg4NWMwMjc2NWFkOWZl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWMyNzk0NTc4MmQ3YWJlOGI0MDdk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年9月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">2017北京时装周</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">在当前国家“一带???路”的重大战略背景下，全球时尚界也刮起愈演愈烈的全球时尚的影响既有博大精深的中国文化。2017北京时装周盛典的举办承载着让时尚肩负起民族文化复兴的重要使命，更意在挖掘中国元素，用最震撼的华服设计引领和定义中国时尚，为中国服饰文化的传承与创新贡献力量。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学着从自己的世界走出去，学习从沙龙的视角走出去，天团打造了北京时装周8天共14个服装品牌秀440位模特妆发设计的战绩。帮助参与成员具备在当地承接时尚活动和沙龙会的能力，并树立品牌威武，成为顾客心中的明星沙龙品牌。</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWFmNWU3NGRkZTE0NWIxMWJhOGRj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTVjYjNiMDI4ZTRjMGQ3NjkxMzQz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODM1MWZkMmFlMTBiMzU4M2YwNGNj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWE3NjgzYmU5MDBlNWYwNzU1NjIw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDVlZjU1NmMxYmQzNTE2ZTRkMDAz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2I1ZTYxOGM1OTlhNTc3MjU3NDUy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年11月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">亚洲天使爱瑞丽—??第十三届瑞丽模特大赛，韩国济州岛赛区</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">选拔从4月正式拉开序幕，历经7月－8月覆盖北京、广州、南京、青岛、武汉、厦门、昆明、重庆、上海、沈阳10个城市的全国地区赛、于11月汇集本届大赛50强选手前往济州岛进行集训赛，最终有20名选手获得今天总决赛入场券，由舟造型明星造型天团全程打造。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">参与瑞丽的明星名模选拔大赛化妆造型工作，见证女孩从沙子到钻石的历练全程，而化妆造型的专业设计无疑为每一位女孩的晋级加分，我们也收获了最时尚潮流的造型技术带回沙龙引风尚！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjViNmJiMGZjMzZiMDJiMzY5N2Y0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2Q3MGQ4NTIzZDMwZmI2MDA5MGFj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2M0NzU0OWU2MmM5NzYyMmZkODY4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzFiMTM3ZWU5YTU4Y2U1MDViODI2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWIxYmI1NTNjNTc0NTAyOGYzYzYz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年11月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国国际时装周2018秋冬\19春夏，Comme Tu Es?刘嘉</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">梅赛德斯-奔驰中国国际时装周（2019春夏发布秀）在北京先锋时尚地标751D?PARK盛大启幕，中国首位原创亲子装的独立设计师刘嘉，此次Comme Tu Es?刘嘉2018SS时装发布会的主题是”王子公主成长记“</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亲子主题为参与的成员带来无数的沙龙经营灵感，沙龙专注化，孩子成为更大的消费主流，你是否知道如何把握商机，成为当地的特色沙龙呢？</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWRjZTBiZjVlN2U3YmNmMzU2MTg4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWVhOTJkZDUwOTk2N2NkMjhkN2Rm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzdmMmE1NmQwMmJhYjAzMjA3MzRk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGIyN2Y0NTk3MDdjNGVhYTI0ZjZl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGZlYWFjMGFkM2E5NGFkNzJlNjU2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDIxNmJmZDk1NGJmMDM5MDJmYjc2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年11月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国国际时装周，2018秋冬\19春夏发布会“敬·自然”</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">AJ-NAMO阿佳娜姆扎根民族情怀和信仰，把祖辈留下的传统服饰文化保留在设???当中，型格大气的款式中凸显不落俗套的设计细节，藏元素柔和律动，牦牛黑、氆氇白、宝蓝色、松石绿及喇嘛红为核心的主题色调，以及藏区贝类饰品的搭配，彰显对自然的敬畏感，既有神秘高贵的西藏文化色彩又有着与众不同的时尚品味。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">每一位设计师都拥有有趣的灵魂，在当代讯息普照的环境下，我们是否可以成为新一代的传承者，将中国文化和东方文化呈现给世界，本次藏服时装秀，造型依然成为时装周秀场瞩目的焦点，将东方文化进行现代化的演绎我们做到了为中国美业发声！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTFlMTc1N2NlMWUyMTc0N2JmMDNk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTZkMjZmYjJkMDU2ZDFmMTM2YzZm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzVjMmU5MGZmZjUyYmY2YzQ5MzFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODgzOGViNGUxMzEzMGEyMDY1NzYw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzE4MmJhNTZiYTAxYTUwYzk1NWEz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWFkYjllYWQ0MDc0YWYwYTQ1ZTI3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTQ1ZWZkYTRmNjkxOWM1MTUwN2Q4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YmIzNDEwMmQ4ZmQwYTJiYjM1Y2Y2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjcxYmY5MjRlNzY0NjIzN2Q2ZjEz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年12月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">2017瑞丽粉丝节</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">“亚洲天使爱瑞丽第13届瑞丽模特大赛 ”总决赛，以及“第5届瑞丽美容大赏颁奖典礼”两大最具含金量和影响力的颁奖典礼，一并而出足已让整座京城被时尚风暴洗礼，明星嘉宾马苏、郭碧婷、盛一伦、王晓晨、阿兰、张萌、麦迪娜、张予曦、海陆、宋轶、黄靖翔、李晓峰等群星璀璨，时尚界大咖，美妆专家及人气模特现身，星光熠熠。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">时尚圈最大的盛典之一，天团成员与明星、名人、名模一同现身红毯，用专业技术征服时尚，从幕后到台前，成为你顾客身边的明星造型师，成为让员工崇拜的领导人。</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDVhYjg3YmQxNDZiZjVmNDUyOWZh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODVjMDQ3NTZkODI0OGY1YjFhNjIx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjYwZDcyMTA4YzY2NmQ5M2I5OTQz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Yjk2ZGQ4MmM2MGU3YTEwYTcxMTEz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWE3ZWIxNDhlYTRhMzZlNzhkNTAy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTIzYzViY2QzNzhhNGFhNmVmOGVl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWRmNmYyMTkyYTBmNWYxNTZiYzk3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjJjMTVjYTJkY2Y4NDI1MzIyMzll.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年12月</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">第16届电影频道电影百合奖颁奖典礼暨2017中国电影年度数据发布盛典</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国最权威的电影发布盛典之一在北京隆重举行，包括最佳导??，最佳编剧，最佳男、女演员，优秀故事片等在内的多项大奖花落各家，黄晓明、张柏芝、黄景瑜、林允、马丽、谢飞、翟俊杰、冯小刚、斯琴高娃、吴京、周笔畅、张天爱、凯丽等众多电影人与明星纷纷来到现场为活动助阵，同时最大惊喜亮点是，本次盛会全部电影人与明星妆发，由中国美业首支时尚梳妆团队，北京舟造型明星造型天团倾力打造。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">学习</span><span style="font-family:Microsoft YaHei;font-size:14px;">亮点</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">你还在沙龙低头苦干，朋友圈发着千篇一律的发型样式，你知道顾客更关注的是你和谁在一起？你刷朋友圈的内容是否值得她在朋友面前炫耀你是她的造型师吗？你还在思考时天团已为所有明星嘉宾打造完妆发的同时，面对面零距离的交流中！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YmI5M2I3ODI5ZjJiMWUxOGY3MjIz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDFmNzVmYjU4MjBmNWYzZjQ4Yzcx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWIxMGU0MTFhZGJmMzJmMjgyZjYw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGU4YzQxNDRmMzc1ZmI2NjQwZjUy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjBiN2ZhNWUyNGQwZDI2OWU2ZTBk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2ViNzE3OTI2OWNkODNhMDZhMDUw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWQwOTFhMDZkODBlYWYwM2JlOWQ0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDZjYjY0YjI3YjdiNGZiZTJmZGVi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTE5MWM1YTJlYTY0ZWZiNzhmYTQx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWY2ODEzYzRmNzcyYjE4ZTliMTUy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGM4OTA5NDE3ZDBmMzU4Mzg5NTA4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2018我们精彩继续</span><span style="font-family:Microsoft YaHei;font-size:14px;">璀璨星光，</span><span style="font-family:Microsoft YaHei;font-size:14px;">美业超级设计师时代的到来。</span><span style="font-family:Microsoft YaHei;font-size:14px;">赶快上这一趟航班吧，</span><span style="font-family:Microsoft YaHei;font-size:14px;">迟到一分钟可能错过一个世纪。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">咨询热线</span><span style="font-family:Microsoft YaHei;font-size:14px;">骆校：18888841054</span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGUxODRhMDgwYmM3MWVlNDgyYjE3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>