<div class="left_art_zw"> 
 <h1>2018年第一股发色流行风——紫气东来</h1> 
 <p class="left_art_zw_zz"> 来源：资生堂专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/6 11:19:27 </p>  
 <p class="dd"> 走进资生堂专业美发合作沙龙，让你的发型师将2018年的潮流色彩在你的发丝上点缀，开年好运。 </p> 
 <div class="wz"> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">元旦假期结束意味着我们已经进入了2018年，新的一年，一切都有新气象。世界最权威的色彩机构Pantone赶在新旧交替之际公布了2018年的流行色预测。</span>
  <br> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 2018春夏的流行色：Ultra Violet</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> Ultra Violet的首字母缩写是“UV”，对了，就是我们防晒时会提到的那个UV，这个颜色的全名叫做紫外光色。根据Pantone的说法，紫外光象征宇宙的神秘，以及创意和个性。同时它也是代表女性的颜色。它并不是光谱里的传统紫色，而是相对来说比紫更偏蓝色调的一种颜色。</span>
  <br> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWFmNThhZTliZGE0OTEzYTdlZDRk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">把Ultra Violet（紫外光色）和英国女王大人御用的Royal Purple（皇室紫）放在一起对比就比较明显了，确实相对来说更蓝一些，但其实色调也很接近，看起来可以说一样高贵了。</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGNmMWY4NDhkZDk1ZjIyMDE2OGUw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">2018是紫色占据主导的一年，但把紫色一股脑地往身上搬恐怕不是一个好选择。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Nzg2ZTI1MjFlYzBhOWNkN2ExNzZl.jpg">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">紫色和黄色是色卡上的对比色，亚洲人的肤色多为暖黄，因此穿着紫色不仅很难打造想要的潮流气质，甚至容易显得脸色不好。想要追赶这波UV紫的潮流，更有心机的聪明做法可以选择在发色上做文章。使用心机染的技法，利用部分挑染的方式在发丝间点缀UV紫，将潮流的亮点藏在发间，隐约流露，既是可爱的心机???是敏锐的时尚触觉！资生堂专业</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">普盈丝系列染膏的烟熏紫色系LA、紫罗兰棕色系V及加强紫罗兰色V-C能完美实现追逐潮流的愿望！</span> </p> 
  <p> <br> </p> 
  <p align="center"> <img alt="" src="/image/information/NjkzMGI5YWFkMzQ1OWI0YzExOTdk.jpg"> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">普盈丝系列染膏</span></strong> </p> 
  <p style="text-align:center;"> <strong><br> </strong> </p> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">资生堂专业</span>
  <a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a>
  <span style="font-family:Microsoft YaHei;font-size:14px;">普盈丝系列染膏携手彩妆师和发型师共同开发，运用彩妆概念，针对东方女性肤色而特别设计，以柔和的棕色作为基底色调，可有效控制偏红的天然色素，令发色清亮，低调含蓄，与东方美肌和谐融合，衬托东方女性与生俱来的自然美感。</span> 
  <p> <br> </p> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">可以完美呈现出紫色的高贵优雅，又能衬托肤色的产品，这个新春，怎能错过？走进资生堂专业<a href="/cg/2.shtml" target="_blank">美发</a>合作沙龙，让你的发型师将2018年的潮流色彩在你的发丝上点缀，开年好运将伴随整整365天哦！是时候出门染个发啦！</span>
  <br> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmE5NjQxY2M0Nzk5YzRlYmVkMTFl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>