<div class="left_art_zw"> 
 <h1>2018“一带一路??美业大会，听说全国的总裁校长都来了！</h1> 
 <p class="left_art_zw_zz"> 来源：形象中国网供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/16 13:30:00 </p>  
 <p class="dd"> 第10届金尚奖时尚盛典之夜盛大开启，来自全国各地总裁校长及美业精英们都相聚于上海这个充满时尚的城市。 </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">1月14日，由国务院国资委轻工机关服务局、教育部社培中心全国形象领域教育实验中心、美中文化艺术交流协会???办的2018“一带一路”第四届世界美业大会之第十届中国国际总裁校长年会暨第10届金尚奖时尚盛典之夜盛大开启！来自全国各地的总裁校长及美业精英们都相聚于上海这个到处充满时尚气息的城市。来吧！让我们共同走进签到现场，一同领略美业风采。</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWZkODNmMDgyZjE2MDU3ZmI4Zjdh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjBmMDQ0ZGRlNzBjMzJlZGZiMmY4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGExZjJlOWJlMmI0ZWJiNjBhYjlm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">我们欢迎您</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">welcome to shanghai</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">欢迎您参加由国务院国资委轻工机关服务局、教育部社培中心全国形象领域教育实验中心、美中文化艺术交流协会主办的2018“一带一路”第四届世界美业大会之第十届中国国际总裁校长年会暨第10届金尚奖时尚盛典之夜感谢您的到来！我们共同参与本次美业盛典，见证美业荣耀时刻！</span> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmI3YjExMjkwYTlmODUxZjZkMTVh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDI5M2RhZWIzMjAzNmFkODFkZTlh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTM0OTYwM2JlYzU4MTE5NzhjMjQw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjFlY2EyMGUzNWZkYzI4NjM2MGRi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTBkYzM2ZTRlNTg1OTYwNzAwNDEw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWUzMTdjYTdkZDRhNDQ5ZTYyMWY2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDlmM2U2YWNlMzE3MTM2ZjQ0NDU3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzEzMTkwMWZhZGU4OWZjN2RlZWI5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTlhNGNlZjg1ZWYzNWQxNjBkMDMz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzM3NjBkM2UzMmY5ZTc4MWE4OGE3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzRjNzM5N2FlNWIyOGQwODJmNWZl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODk2ZTdmZjcxN2RlYTc5YWE1M2Q3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjQxYjcwYzk2OGM0YWVkOTE1NTNj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODk2NTE3Nzc5OTk4OGVhMTA3M2My.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Njk4YzI1OThjY2Y0YmQ3ZTJiMDA5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmQ3ZDVlMDMwMmZlMTIxZTgyOTYx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2YyZmRhMDI0MWI4MjdhYmUwNmI4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjYwZTI3NjZiYWY4OWE3OGZlMjA2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmM1OTk4N2FkZDk1YzM5MzVhZWZj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTZiOTU5YzM4YTY0MWUxZTRkZjFi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDdkMDViMzJhMDQ5ZjhlOTk5ZGEy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTNmOGIzMmQ1YzI5MGM2Yzk0Y2Mx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWM0N2FmMDc0MDZkNGY4ZDY3ZTUy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTU4MzZkODQ1Zjc4MzUwYzYzMDdl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDJmMzExMjU1OWY2MGI3N2IzMWJj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDc5Yjk5ZGUwYjY1YjgxOWQ0ZjEy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NmFlMjE3ZjM4Y2E1YTZjMWNmOWMw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzIxMDdkYjAyNjY3YTQ4YmFmZjJm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWVmMjZhNTk1OTBkZjdhZGQyNGE4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTZmNTNlOGQ0Y2ZkOTQyMjU2NDNl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDIwNTQ3ZDRkYjBhYzUyZTMyMmRm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTNkZjBiY2UzNGVmNjFiMGY0ZWZj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTY4MGQ2N2UyYTAyMjVlNDU2ODI2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Y2FiY2U3ZDAyNGI0N2M4Y2U0ODAz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTIxODcyNzBkMjdhMzM2ZjFhN2Vj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODBkMzVhYjQ2MTA2MmRkNzBhMDZi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGFmMDE1M2I1ZjA1ZWIxOWM1YzFj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjYxNjEyMzZiNDAyN2EwODE5YWI5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzEyODZhNjI0ZTYyNTJlNjIyNWNl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YmFhZjAxOTM2YTYzODVkOWZjMzYy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NmE1NDAxOGVjZjJiOTIxMWY5ZDYz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmIzZGNiMDMyNzUzOGMyZWU0ZTcz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzBjNDM3NDdiZWMxNzNjODA0Njg2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDgwZjU3NjY3NDczNTJjNDFhNWY3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NmMwMjM3NjI5M2QzNDkwZGFkMTIz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGU5ZGM0OWJjMjFkZjJkYjVjNDJj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODc0NDg1NjFjZDBiNTUyYTJiMjNk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWU2NWExZTgwMThmMjA1NGJjMjQ3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YmRmNmU4MTEyYjYyNTE1MTU3MDI5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YmZhMTU5ZDQ2MGVhMjY1YTU5YmZj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGJhZjY4NWQ0NjI4NWU3MjQ2MTk4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTcxYzViNjcxN2RjMGM2N2ZlYTI2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzljNmY5YjFkZDlkMDNiMWYwNDVk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDAyZWE1YmMyMzVmNzZkMTZmOTI1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGQ0Y2ExMGJiNmUwY2U0NzAyNjQ2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTQwNTUyMjA5NWQxODY4ZjE4NWQ5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTRjNmFhNjI3NTdkMjQ4ZTE2Nzcz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzFmZGNjYjg3YjgwYzE1YjgyMzUw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjAyMTBiMWMyMWQwZmIxZDZkNzNm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWU0YTlhNDU3Yzg2MzYxMzFlMDJk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2JjZDc4M2Y0ZTQzZWI0OTU2Nzg3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGIxNjE5NjdiOWFiOTZjY2IzMTkx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjhiMGQ0Mjk0NmM4ZThkMjQxNGVm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzFhZmNhYjIzYWM5ODY0MjA1NTBk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGJmZjEyZWM4NjNkNzM5OWVkZWZk.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTg0ODJjYzRmN2Y1YzkwYmEzYTFj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>