<div class="left_art_zw"> 
 <h1>20多个男神“扑面而来”是一种什么样的体验？！毛戈平学校带你感受荷尔蒙爆棚的神秘现场！</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/8 12:45:46 </p>  
 <p class="dd"> 深圳毛戈平形象设计艺术学校助阵2017 年度首届中国旅游先生深港澳赛区总决赛。 </p> 
 <div class="wz"> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">2017年11月18日，由香港卫视、中国国际文化传播集团主办的2017年度中国旅游先生深港澳赛区总决赛，在深圳观澜新湖新城华丽上演！各地超模冠军在T台上争奇斗艳，倾力演绎。一个个阳光帅气的大男孩，大方的在舞台上尽情展现自己阳刚并且兼具才华的一面，全方位诠释中国旅游先生内外兼修的综合素质。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTk5ZmIwM2ZjZGJhZTYxMjZhNWE4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2JhMDRjMzhlZjM1MzFhNWYyMzkx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzM0NTk2YTVkYWJkMDdlYTU4ZDlh.jpg"> </p> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 时装秀、泳装秀、礼服秀精彩纷呈，既力呈时尚魅力之美，又力捧品牌内涵之力。为美丽和品牌的结合作出了全新的诠释，为深圳人民献上了一场视听饕餮盛宴。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Yjk3ZDEwZWQwOTI2M2VhNWZmYTIz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDc3OGU4OTlhZmIzNmMwNmU3Mzk0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGJlMDljMmM1NDA0YmRlMGFlNzc0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzgxOTQ0MmU0ZTAyZjlmMmY4YzU5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWFhMzQwNGRkYzJjNjA0MDViMmFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDBmN2U2ZDRjMTQ1ZjgwZjg2NWY1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWVlZjIyMWQwMmZhNDg3ZDQ0NjRl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWM4OTU1OTA4N2JkMDhlMTFmYzdm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">通过层层筛选的大赛选手，在这个舞台上让才华绽放，向赛事评委们展现出卓越的才艺素质。现场评委老师根据参赛选手的舞台表现的完整性、协调性、感染力以及综合印象进行现场评分和点评。深圳毛戈平形象设计艺术学校常务校长姜宇老师也作为嘉宾出席了该活动。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjE3ZjQwOWJlMjQyZGMwM2I2Yjgz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmU5MjE2YThhMDEwODk1MWRmMDUw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDUyMDhkOGYyMjk4MDUyMGI3OTli.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWRmMzZmMzEwZTA4ZGE1ZDRhNmMz.jpg"> </p> 
  <p> <br> </p> 
  <p> <span><span style="font-family:Microsoft YaHei;font-size:14px;">深圳毛戈平形象设计艺术学校师生受邀担任本次发布会特约化妆造型团队，30余名师生根据服装风格为此次大赛精心设计的妆容及造型，赢得了合作方的充分肯定！并以靓丽的形象，专业的职业素养成为大赛上一道美丽的风景线。</span><br> </span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODNkNzVkNTllNzQxNTY1NjkxZDc5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTMwNWI1NmYyZDFkNTQyZjA1Njcz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Nzc2ZTg5MzlhNzI3M2ZjMmE0ODk1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTA2OTc4MjUwMGMzZmI0NmE2Mjhk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Yzg2YjY2NWQxYTgwNzFkNDk0ZGE3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGExNDYzYmIwYmRmOTczMTc0YmY3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGZkNTU4OTkwYjBjMjY4MmNkZDU2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGY0YWQyNDE4ZmUyNWJhZjJhZGEx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmE4MGE4MWVjZDcwMWQ5ZTJhOWU5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODdmMzE4NDZkM2I3NjQ3NTkxNjY3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">深圳毛戈平形象设计艺术学校祝贺大赛取得圆满成功！在这场精彩大赛之后，11月25日的第八届中国旅游小姐深港澳赛区总决赛暨颁奖盛典的舞台上，将会绽放出怎样的时代光彩？让我们拭目以待！</span>
  <span></span>
  <br> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 您想成为一名专业形象设计师吗？梦想从来不怕开始得太晚或太早，一切都才刚刚好。课程详情回复数字1即可了解欢迎你的加入！</span> 
  <p align="center" class="wz_tp"> <img src="/image/information/Y2MyYjYyNTFmNjkzOTcxZDA2YWNj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>