<div class="left_art_zw"> 
 <h1>21天效应”刘金汨大师班求知法则，见证??发大师的习惯养成记！</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲流国际发型艺术研发机构供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/8 11:10:06 </p>  
 <p class="dd"> 21天效应:一个人的动作、或想法，如果重复21天就会变成一个习惯性的动作或想法。 </p> 
 <div class="wz"> 
  <p align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;">在行为心理学中，人们把一个人的新习惯或理念的形成并得以巩固至少需要21天的现象，称之为21天效应。这是说，一个人的动作、或想法，如果重复21天就会变成一个习惯性的动作或想法。</span> </p> 
  <p align="right"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;—— 21天效应</span> </p> 
  <p align="right"> <br> </p> 
  <p align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;">刘金汨亲传弟子班就是一个21天效应的接受过程，在这个学习的过程里，大家学习的是技术，感悟的是人生。技术是我们的生存根本，来弟子班学到的是技术和幸福感。</span> </p> 
  <p align="center"> <br> <span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;这种幸福感和习惯的养成，我们持续了整整21天，今天我们毕业啦。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;"> 勤学苦练，练技术我们是认真的</span> </p> 
  <p align="center"> <br> </p> 
  <p align="center"> <img alt="" src="/image/information/YjNjNmNhMTk5ZjlhOGI0NjljYWEy.jpg"> </p> 
  <p align="center"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">那年花开月正圆</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2U1ZjYxZDljNjViNjRlM2ZkMzVj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">义剪让我们的技术有了灵魂</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGIxMzQxYzc0MGIxODhhNTc4NmU0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">珍惜青春梦一场珍惜相聚的时光</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTJhYzhmOTEwYjU3YWQ4NDRkNGQ2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGM5OTE3ZDg4ZWRiZDg4NzkxMGQ4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">谁能够不扬梦想这张帆</span> </p> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjAxMWVlZGQ4M2ZiMzliMDFiOGIy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">师徒契约，脉脉相承</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDc1MjcxMjgzNzhkMDVmMDJhNTA2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTY0Zjc4OTNkMDAxMTIyOWJhNGM0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2Y2Y2ViNmUyZGUzYmU3ZjExOGUz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">花开时刻</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjZhZjIyOTE2Yzk1NDU2ZDA3ODdk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDU4MDVhMTZjNThhOTAyZmI4Yzc0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjU0ZjVkY2I2ZjA4ZjAzOTMxZWFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2018年2月24日我们再聚!</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGI1NjY3N2MxZTA2YThlMjlhOTM3.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTY5NDgxMzA5Yzg4Y2JmYzVhNzA1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>