<div class="left_art_zw"> 
 <h1>22家美容院八成美容用品汞超标</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-6-10 10:49:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp; 8日，榆次区质监局对本辖区内美容院销售的美容用品进行为期一个月的检查结束。检查中发现，美容院美容用品八成汞含量超标。
  <p>&nbsp;&nbsp;&nbsp; 5月上旬开始，榆次区质监局对辖区22家美容院、37种美容祛斑产品进行了检查。此次检查利用高科技现场检测试剂，通过现场滴定，根据试纸颜色变化来确定汞含量是否超标。经执法人员现场检验，美容用品中八成汞含量超标。其中，一些美白袪斑产品中的汞含量超过国家标准规定范围40多倍。另外，检查中还发现美容院美容用品存在未标注生产日期及有效期等严重质量问题。</p>
  <p>&nbsp;&nbsp;&nbsp; 执法人员对存在问题的美容院依法进行了查处。同时，也提醒美容产品消费者，在美容院做美容时，要仔细看清美容院提供的化装品的标识，拒绝使用无生产许可证号、无厂名厂址以及无生产日期和有??期的产品。如消费者发现美容产品存在以上问题，可立即向榆次区质监局举报。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">&nbsp;来自:山西青年报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MDFlYjRmNjZlZmI0MzEyMjE3MDE1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>