<div class="left_art_zw"> 
 <h1>23岁姑娘用6年学剪发，一跃成为副教授！</h1> 
 <p class="left_art_zw_zz"> 来源：哈发网自主采编&nbsp;&nbsp;&nbsp; 时间:2017/5/13 11:29:24 </p>  
 <p class="dd"> 造型师和副教授，听起来风马牛不相及。但是在重庆，有个23岁的重庆妹儿，把这两件事同时做到了！ </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODRiNjRlYmM2MmNiYjIyYzQxMjVh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">造型师和副教授，听起来风马牛不相及。但是在重庆五一高级技工学校，有个美容</span><a href="/cg/2.shtml" target="_blank">美发</a><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">专业23岁的重庆妹儿，把这两件事同时做到了！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OWMxZTlhYjMyMDVkMmZkNzVjMWE4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">技能界“奥林匹克”冠军</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">她叫聂凤，通过6年的刻苦训练，2015年她在巴西举行的技能界“奥林匹克???-世界技能大赛上，作为中国的唯一代表，一举夺得<a href="/cg/2.shtml" target="_blank">美发</a>行业冠军，实现中国<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>行业零的突破。凭借这个成绩，她不仅享受到了和奥运会冠军同等的待遇，还破格成为副教授，享受特殊津贴。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWU4MzM1ZTM4MWExZmMyNjQyZjIz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">台上三分钟 台下十年功</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">听起来很简单对不对？其实很辛苦。6年时间里，聂凤每年休假时间不超过10天，每天??行2000米的跑步训练，剪掉了3000多个头模，花了100多万！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">目前，聂凤除了在校任教，还在自己老师何先泽的工作室剪发，价格200多元。经她手剪出的发型，不仅好看，而且妆容、造型都符合人的性格，能展现人的个性。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjExODc4ODcwNjQ3MGI5NGJkZDBi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">工匠精神就是精益求精</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">聂凤说，目前她正在准备到澳大利亚留学半年，到北岸职业技术学院跟全??界最牛的发型师多娜学习。未来，她打算回到重庆开一个自己的工作室，让美容美发行业更加规范健康，让匠人的手艺更加有价值。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZWUxZGQyNTkyMGIyYzliZjJjZjRh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>