<div class="left_art_zw"> 
 <h1>国内化妆品零售价高出海外近1/3</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网&nbsp;&nbsp;&nbsp; 时间:2007-5-17 16:42:00 </p>  
 <div class="wz"> 
  <p>　　今年，中美商会白皮书首次将目光聚焦于化妆品行业。“化妆品在国内的零售价格比其它市场高出30%—40% 。这将使得中国化妆品行业失去竞争市场的价格优势。”日前发布的中美商会白皮书中，发出这样的 “盛世危言”。据化妆品业内人士介绍，进口关税和消费税两道“关卡” 是中国化妆品价格偏高的主要原因。<br></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YWE0ZThlZTg4ZTBmZThjOGIzMGQy.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>