<div class="left_art_zw"> 
 <h1>30岁男人的“不老歌”</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网-云网&nbsp;&nbsp;&nbsp; 时间:2007-7-7 9:39:00 </p>  
 <div class="wz"> 
  <p><strong>&nbsp;&nbsp;&nbsp; La Mer??蓝之谜面霜</strong> </p>
  <p>&nbsp;&nbsp;&nbsp; 一款神奇的面霜，能够使肌肤明显变得柔嫩紧实、充满光泽，还能够改善较深的皱纹与粗大毛孔。在使用上要注意，一定要用挑棒取出厚厚的膏体，在指尖温热之后才能发挥强大的保湿和修护效果，否则会觉得厚重且难于抹开。</p>
  <p>&nbsp;&nbsp;&nbsp; <strong>碧欧泉男士橄榄叶青春眼霜&nbsp; </strong></p>
  <p>&nbsp;&nbsp;&nbsp; 碧欧泉男士橄榄叶青春眼霜具有改善老化痕迹的眼部产品，对于30岁的男性眼部皮肤有很好的预防和修复老化的作用。眼霜的使用上要用无名指轻轻点压眼周肌肤，方向是由内而外，这样利于排出眼部毒素，消灭黑眼圈。</p>
  <p>&nbsp;&nbsp;<strong>&nbsp; Fancl防晒露30号</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 具有SPF30和PA+++的高倍数防晒值，能够保护皮肤免受紫外线的伤害。先在皮肤表面拍开，然后顺着一个方向涂抹均匀。清爽的质地非常适合???士使用，同时产品无添加，敏感皮肤也能放心使用。</p>
  <p>&nbsp;&nbsp;&nbsp; <strong>曼秀雷敦男士润唇膏</strong></p>
  <p>&nbsp;&nbsp;&nbsp; SPF30特强防晒功能，有效隔离紫外线UVA及UVB的伤害，预防因阳光所引致的唇部灼伤、松弛及过早出现唇纹,适合长时间户外活动时使用。</p>
  <p>&nbsp;&nbsp;&nbsp; <strong>雅诗兰黛的特润修护露</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 在白天中和绝大部分因紫外线、环境污染和氧化物导致的游离基，而在夜晚又持续释放富含透明质酸的卓效保湿成分，这款既具有防护作用，又具有修护效果的产品是非常值得推荐的。</p>
  <p>&nbsp;&nbsp;&nbsp; <strong>YSL灵芝重生修护霜</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 植物精华类产品，一种强效的肌肤再生保养剂，有助迅速防卫及活化肌肤，有效保护肌肤对抗环境刺激，意想不到地维持肌肤胶元及弹性。显着地恢复肌肤明亮光泽，使肌肤感觉完美顺??及明亮。适合任何肤质使用。 </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGEwMDE5MWU1YzYyNDk4ODllOWY1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>