<div class="left_art_zw"> 
 <h1>3100万买下柳州制药 两面针欲转</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-8-25 10:37:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8月23日,G两面针(600249.SH)发布公报称,董事会已同意公司以竞拍方式出资3100万元人民币购买广西柳州制药有限责任公司依法破产的整体资产,即该公司原国有划拨工业用地使用权、生产性建筑物、生产性设备等。
  <p>　　对此,公告的解释是"为坚定贯彻两面针将制药业培育打造成为公司第二支柱产业的发展战略"。</p>
  <p>　　柳州两面针股份有限公司是国内较大的中草药牙膏生产企业,核心产品为两面针牙膏。2004年,两面针出资控股了广西亿康药业股份有限公司,构建了其进入药业的发展平台。在当年的收购报告书中,两面针提及收购是为了使植物药业发展为公司的核心产业之一,改变目前产品结构为单一口腔产品的现状。</p>
  <p>　　两年后,两面针再次明确提出:要将制药业打造成为第二支柱产业。对此,两面针董秘办有关人士向记者表示,目前日化行业竞争激烈,利润摊薄,而制药产业较高的利润率是吸引其进入的重要原因。</p>
  <p>　　根据有关机构调研报告:2005年,牙膏产量前三名已被佳洁士、高露洁,以及联合利华旗下的中华牙膏所占据。</p>
  <p>　　与此同时,外资企业牙膏品牌开始通过降价等手段向中低端市场进入,高露洁、佳洁士甚至推出低价格的草本系列牙膏,抢占国内草本牙膏市场份额。</p>
  <p>　　自2004年开始,两面针牙膏的利润率不断下降。与此同时,牙膏之外,两面针的洗涤用品和妇女卫生用品两大业务也发展不顺。据此次半年报显示,洗衣粉等洗涤用品利润率为-4.36%。</p>
  <p>　　据悉,目前制药产业利润率是两面针所有主要产业中最高的,为36.56%,已经超过两大主要业务——牙膏和卫生用品。</p>
  <p>　　早在两年前,就有一些日化企业进军医药产业,其中包括上海家化。但在去年,家化已经把旗下医药资产出售。原因是医药产业业绩平平,而家化也希望全力发展日化行业。</p>
  <p>　　两面针方面表示,相比上海家化,两面针位于广西中草药产业基地,资源丰富,发展成本较低,同时,中草药产业也得到当地政府大力支持。同时,草药牙膏业务也可以得到原料支持,进而控制成本。</p>
  <p>　　2005年底,广西亿康药业7个生产车间已经全部通过了国家GMP认证,并拥有了199个独家药号。此次收购的广西柳州制药有限责任公司,乃是亿康药业前身,是继参股后进一步收购资产的举措。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">&nbsp;</p>
  <p align="right">来自:中国国际美容网</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NWEyZGI5MjI1NWVkNzRjYTg0ZjEy.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>