<div class="left_art_zw"> 
 <h1>3D打印技术的临床应用，将使美容院线降低??本且零风险</h1> 
 <p class="left_art_zw_zz"> 来源：广州美博会供稿&nbsp;&nbsp;&nbsp; 时间:2016/11/14 15:03:42 </p>  
 <p class="dd"> 今年二月份，英美医学研究人员已经研发出可以打印出耳朵、骨骼和肌肉结构的3D打印机。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2017年3月广州美博会展位已全部售罄！5月上海大虹桥美博会展位火热预定中！9月广州美博会开始接受预定！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">近年来3D??印技术不断发展，运用到各个行业。现在医用3D打印技术也日渐成熟，完美整形也指日可待，前几个月就一直传出3D打印整形技术的消息。美博君跟大家一样也是很期待。不过美博君了解到美国一家医院借3D打印技术已经成功开发出用于抽脂手术的新型医疗设备。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjE1NmRiMmExMzU3ZTI0N2U4YmZi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">之前，科学家们一直在研究器官移植和整形方面的临床应用。在今年2月份，英美医学研究人员已经研发出一种3D打印机，可以打印出耳朵、骨骼和肌肉结构。把这些结构植入到动物体内，可以融合再生，发展出血管系统。未来两三年内就会用到人类的临床试验中去了。我国有些大型医院已经引进了“远程数字化设计+3D打印”技术，听说上半年武汉一个大学生，对自己脸型不太满意，便去医院进行这种技术的整形，手术完成只用了4天。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTk1ZGMxODkwZTk2OGY1N2E0OTNj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">再看看近日用3D打印开发出来的抽脂手术设备。专家表示“很多医生为能安全地抽取脂肪而付出了很多努力，然而多年来却成效甚微。我们的目的就是为了让3D打印技术来提高手术的安??性。”这种设备能在极其微小的切口中，去除胃里的脂肪或者肌肉下的脂肪。在以前，要去除这些部位的脂肪只能用切掉呢。而且通过3D打印结构，研究人员还能通过数字计算来预测，抽取一定量脂肪后，会产生多少过量的皮肤。随着临床运用上3D技术的不断创新和发展完善，相对于传统临床手术，不但降低了手术风险，还给求美者节约美容支出。做到让美丽“零风险”。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzcyNWJlNDRkODljNzRhZmE3NzJl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>