<div class="left_art_zw"> 
 <h1>3个月，90天，让你看到不一样的新娘外拍!</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/8 11:48:11 </p>  
 <p class="dd"> 26名同学分组合作、策划、设计、摄影都很积极团结为今天的拍摄而努力，呈现的作品也很完美！ </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年8月24日，一大早同学们都提前来到学校，为今天的“外拍实践”做准备！这次外拍的模特、化妆造型师都是我们本班的同学，在忙碌的几天里，我们26??同学分组合作、策划、设计、摄影都很积极团结为今天的拍摄而努力！创作的过程是愉悦的，同时也是紧张的，最终在老师的鼓励和帮助下，每个新娘都美美的呈现出来！在这次活动中，同学们也吸取了很多经验！在服饰选择、饰品搭配、风格走向、妆面色调、发型造型方面都应该在继续加强学习和感悟，勇于发挥自己的强项和弥补自己的不足！十分感谢李顺老师和张媛媛两位老师们的细心指导…这次的拍摄活动也算是考验同学们在这两个多月所学到的所有东西的一种总结！因为这第三个月又即将结束了…希望后面的学习中同学们更加刻苦努力！fighting！</span> </p> 
  <p class="MsoNormal"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-family:Microsoft YaHei;font-size:14px;">---601化妆全科班学员：杨紫怡</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZjIwMDBiYmM5ZDM3NWExNTM3MDE5.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZjllNjkyZDFlY2RlM2I4ODA0ZTRh.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/YTBkNTFjMWRhNTA3YzI4MTAxN2Jm.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MmM2MGZkZTdhNzEwNThiMTUyNWIx.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZDExYzhlODkwMzJlYWU1ODNkOWIy.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZmIzZjA3YWYxOGQ4NDI3NjkxNDBh.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NWZiZmZkNDA5MzViMDM1ZDk0Zjdm.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NDcxN2FmMGJkMjRkN2I0YjFlMDI0.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NzNhYTA1ZGM5MjZmZDc0NjRjMjhk.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/YmM2ZTZmNzYxYzMwMzg4YTQ5ZTcy.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MDQxZWFkYjg0Yjc1NTM4ZmEyYjhl.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZjA0ZjUxYTA5ZmViZGE3ZDIxNTc4.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MTcyYzBlOGU4MThkODVlM2E3YTdh.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MTBjNDM1ZGYyMDRhZWQ3ZDcxOTMz.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MTA0MTdiNzllYjcyN2M4OTdjOGRh.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZTRjN2YwOTAzZDc2OGNjNzVkMDJl.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NWIyMjIwMDQ3ZDQ4MGUyYTA1MWRm.jpg"><img alt="" src="/image/information/MGFlNzZiN2U3YzM0YzIzOTA2MTc1.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/YTRkNWIwZjlhY2EwMWY3NmU2OWZj.jpg"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/OGIwYjkwMjBmNjExOTVhYmU1YjM2.jpg"><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzNiMzhkYjY0OWJmZmRkMDQzYWE4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>