<div class="left_art_zw"> 
 <h1>3天学会生活美妆？明星机构LIN·MAKEUP办得到！</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/4 11:26:07 </p>  
 <p class="dd"> 新年来临，LIN?MAKEUP2018年课程全新改版！在最少的时间内最大程度的实现提升。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NzJlNzM1ZDMyZDI1YWQ3NWY2YjNl.jpg"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">新年来临，LIN?MAKEUP2018年课程全新改版！</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">在结合2018最新时尚趋势、教学实战经验和学员反馈，我们根据不同学习阶段，在原先课程的基础上，对课程内容进行了相应的调整，从理念到技法，扎实基础的同时，紧随时尚潮流，在最少的时间内最大程度的实现提升。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGEwYmRjMjg0YjQ2MmYyMDZmY2Iw.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">同时，LIN?MAKEUP今年特别新增了为期3天的生活美妆课程——【生活BEAUTY美妆班】，适用于零基础、想要学习日常妆、主题妆的化妆新手，主打以实用、易上手的方式，让新手快速get多种风格美妆与美妆技能，避免错误的化妆手法。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Mzc5ZmYxZTdmYjNjYzVmMWQxY2Zh.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">即日起，报名以上任意课程，均有好礼赠送。仅限新年第一期课程哦~数量有限，先到先得！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZmIyMjk2MzNmMjY3NzQxYWMzNWJj.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZDJkMDgzNzA4OWQ2MTM4ODJjNDM1.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZTYwYzAxMjlkMTQzN2JhZTBhOWI0.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ODRhMDgzMDY1MDk5MTE0ODQ3MmFh.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ODU3MjRlMWZkYmIyOTE0ZjY5M2Qx.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/M2M2YWFmNDY0ZTMwNTFhYzE0YTM4.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NGUyOGQ5ZDQxYjhlZDBkNDAxZDBl.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MmM5YmVjMDNiYjVmMDU3NzhhZGU1.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/OTY0YzZjNzY2MWJjMWY0OGY5OWJm.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/Zjk5NmNlNDBlMjA2Y2RiY2NmNWFi.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ODk1ODc4MGY3NGRlNGZmNjg1ZjRj.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZDVhZWZiNTc3MDZiNDUzMWQ1ZmY2.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NjA0MTMzNjNmOTJmN2M5NmNlNTQ3.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NDAxMzI1ZmQ5OWQyMjU0NzJmNTFj.jpg"></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODk4ZmYzOTkxMGI2MjQ3MjM2YzY5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>