<div class="left_art_zw"> 
 <h1>4月9-10号剪发技术课程火热招生</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2007-3-16 16:09:00 </p>  
 <div class="wz"> 
  <p> </p>
  <p><img src="/image/information/ZDM3NTE2MmRjMmZkNGQ0N2MxNjkx.jpg" border="0"><br><img src="/image/information/YzU0ZWE2ZjJjN2M1MDQ2YzkwZWQx.jpg" border="0"></p> 
  <p>&nbsp;</p> 
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZjZiMmQ5N2Y1ODhkYmViZDI2ODFm.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>