<div class="left_art_zw"> 
 <h1>5+5系统组合王牌课程，回归技术，凝心聚力!</h1> 
 <p class="left_art_zw_zz"> 来源：ReMINGLE中国供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/12 11:44:41 </p>  
 <p class="dd"> 打破传统的教学理念，全新的教育培训系统，现报名预定课程将享受超值优惠。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">【回归技术，凝心聚力】</span><span style="font-family:&quot;font-size:14px;">打破传统的教学理念，全新的教育培训系统，现报名预定课程将享受超值优惠。</span><span style="font-family:&quot;font-size:14px;">特别推荐王牌系统课程，5+5系统组合王牌课程 10天，（实战派技术教育，不满???全额退款）。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWE2Mjc3NzNlMjc1NGJlOGI3ZTc3.jpg" alt=""><img src="/image/information/Y2EyYTExYmJmZmRhMzVhOWM2ZDk3.jpg" alt=""><img src="/image/information/ZTU2YjhjOTBlODg4MDE4OWI0NGJj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">中国实战派教育先驱，时刻激发您的灵感，预定以下所有课程享受特大优惠，5人以上更多优惠哦。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">【回归技术-Back To basic】</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">全新教学理念：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">一所传授运用剪刀创造发型与色彩共舞的专业实战派技术教育学???，注重每一款作品妆容与服装配饰的搭配，包括灯光布置.取景,更注重每一款原创作品拍摄与修片的整个过程，现场出片。一切以结果为导向。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">所有课程必须提前预定名额：</span><span style="font-family:&quot;font-size:14px;">极力推荐学院8-9月系统课程特惠现已开始接受名额预定，请致电 021-56318622。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>经典剪裁 + 剪染烫商业课程</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>Classic Cut + Cut Color &amp; Perm</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MzIzNmRhMjAzMzA4ZTE0ZjNlZGFm.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>经典剪裁 + 剪染烫商业课程</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月份：8月1-10号 &nbsp; &nbsp; &nbsp; &nbsp;8月15-24号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9月份：9月5 -14号 &nbsp; &nbsp; &nbsp; 9月19 -28号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：10天9晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：专业发型师&amp;总监层面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：10000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间6750元，并赠送酒店住宿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>教学内容：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">A:前期五天</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.经典核心剪发理论知识</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">全面讲解六大剪发要素（头部相关的点－分线与分区－面的概括－梳发分配－提升角度－剪切口）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.站位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.手位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.分区的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.传授方形.圆形.三角形的内外部技术结构形状</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.经典的合理运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.个性化处理的方法</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.经典的造型变化运用</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">B:后期五天</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.分区组合的合理运用性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.堆积重量比例平衡控制</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.个性化处理量感立体面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.内外精修纹理流向呈现</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.配合潮流色彩与造型烫</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.造型内外面支撑点控制</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.趋势彩妆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.摄影教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9.手机修图教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">10.原创大片呈现</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">此课程是睿阁最受欢迎的沙龙进修课程，前期5天学习剪发含金量最高级别??技术课程。后期5天运用经典技术结合不同的分区加上睿阁独创的个性化纹理修饰处理的方法，配合高级色彩与造型烫的结合。打造新鲜 魅惑.潮流的商业短发。</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>经典剪裁课程（第一阶段） Classic Cut</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ODIzMzgwYmQ5ZmNhZjFhODIwMTAy.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>经典剪裁课程（第一阶段）</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>最新第四代，与伦敦同步发布</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月份：8月1 -5号 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 8月15 -19号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9月份：9月5 -9号 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9月19 -23号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：5天4晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：专业发型师&amp;总监层面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：5000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间单个报名8.5折4250元，2??行1人付费，并赠送酒店住宿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.经典核心剪发理论知识--全面讲解六大剪发要素</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">（头部相关的点－分线与分区－面的概括－梳发分配－提升角度－剪切口）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.传授方形－圆形－三角形的内外部技术结构形状</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.站位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.手位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.分区的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.经典的合理运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.个性化处理的方法</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.经典的造型变化运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">剪发技术含金量最高的技术课程共分两个阶段完成，（第一阶段传授经典核心九款技术）帮助学员掌握ReMINGLE睿阁核心系统经典剪发7款技术的精华，此套经典剪发技术系统能够精准解决沙龙中剪发遇到的疑难问题与处理技巧环节，手把手教学指导练习，提供全方位的剪发技术提升。 &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>剪染烫商业课程 Cut Color &amp; Perm</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YzEwZTVjMTkxMTNkMTFmMDhlNzI4.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>沙龙商业剪染烫课程</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期： &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月份：8月6 -10号 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;8月20 -24号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9月份：9月10 -14号 &nbsp; &nbsp; &nbsp; &nbsp; 9月24 -28号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：5天4晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：专业发型师&amp;总监层面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：原价5000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间8.5折4250元，并赠送酒店住宿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.分区组合的合理运用性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.堆积重量比例平衡控制</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.个性化处理量感立体面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.内外精修纹理流向呈现</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.配合潮流色彩与造型烫</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.造型内外面支撑点控制</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.趋势彩妆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.摄影教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9.手机修图教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">10.原创大片呈现</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">此课程是睿阁主打的沙龙商业课程，演绎沙龙时尚潮流短发，传授实用的短发剪裁技巧，开启灵动风格美学，打破常规，专攻潮流发型，采用睿阁独创的美感修饰个性化处理技巧打造各种纹理及形状，配合高级极致色彩以及造型烫技巧，打造专属于你的美学定制。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>经典剪裁课程（第二阶段） Classic Cut</strong></span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NWE4ZGQzOWMxY2EwZWE2MDI3NDk2.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>经典剪裁课程（第二阶段） &nbsp;</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>最新第四代，与伦敦同步发布</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月份：8月6 -10号 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 8月20 -24号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9月份：9月10 -14号 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;9月24 -28号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：5天4晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：必须进修过经典剪裁一阶段课程</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：5000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间单个报名8.5折4250元，2人行1人付费，并赠送酒店住宿</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.经典核心剪发理论知识--全面讲解六大剪发要素</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">（头部相关的点－分线与分区－面的概括－梳发分配－提升角度－剪切口）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.传授方形－圆形－三角形的内外部技术结构形状</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.站位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.手位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.分区的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.经典的合理运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.个性化处理的方法</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.经典的造型变化运用</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学。</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">剪发技术含金量最高的技术课程共分两个阶段完成，（第二阶段）帮助学员掌握ReMINGLE睿阁核心系统经典剪发7款技术的精华，此套经典剪发技术系统能够精准解决沙龙中剪发遇到的疑难问题与处理技巧环节，包括新增男士经典以及UNDERCUT技术，手把手教学指导练习，提供全方位的剪发技术提升。 &nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>创意组合课程Creative course</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NTY4NWZmN2M2MTY5NGJmNzUyZjJh.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>创意组合课程</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期： 8月8 -12号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9月19 -23号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：5天4晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：???监层面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：5000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间8.5折4250元，并赠送酒店住宿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.分区组合的合理运用性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.堆积重量比例平衡控制</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.个性化处理量感立体面</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.内外精修纹理流向呈现</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.配合潮流色彩与造型烫</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.造型内外面支撑点控制</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.趋势彩妆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.摄影教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9.手机修图教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">10.原创大片呈现</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果： &nbsp;</span><span style="font-family:&quot;font-size:14px;">此课程是睿阁主打的突破思维课程，突破原有的设计思维，演绎沙龙创意发型，传授实用的创意剪裁技巧，打破常规，专攻潮流发型，采用睿阁独创的美感修饰个??化处理技巧打造各种纹理及形状，配合高级极致色彩技巧，做到真正的设计思路开阔。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>沙龙商业混合色彩课程</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZGU5OTU3MzgwZDFmOTI1MzczMzdl.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>沙龙商业混合色彩课程</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期：9月25 -29号 &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：5天4晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：专业技师&amp;专业发型师</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：5000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间单个报名8.5折4250元，2人行1人付费，并赠送酒店住宿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.色彩理论</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.季度色彩搭配</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.分区教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.上色技巧</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.摄影教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.手机修图教学 &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学，发条使用，头模实操。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">透过商业色彩趋势的讲解，以及时尚色彩的配方概念，除了让学员掌握当今的流行趋势，并且使用自己沙龙中的染膏品牌调配出实用的商业色彩，结合实用的商业染发分区和商业配色概念的教学，使学员快速掌控色彩流行趋势与染发操作细节，学习结束后，可直接在沙龙里服务客人。让学员透过本次学习，能够成为更专业的色彩师。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>沙龙经典染发课程 Classic Color</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/OTMxMTZmNDVkNjA2ZTlhMGQyNmM0.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>沙龙经典染发课程</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期：8月15 -19号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：5天4晚</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：专业技师&amp;专业发型师</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：5000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间7.5折3750元，并赠送酒店住宿。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.色彩理论</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.水彩调色</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.天然底色</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.染膏测试</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.配方调整</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.发质判断</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.解决问题</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.分区教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9.上色技巧</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">10.沟通教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">11.色彩搭配</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">12.摄影教学</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">13.手机修图教学 &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学，发条使用，头模实操。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">此课程是色彩技术的源头课程，能帮助你解决在沙龙染发操作的一切色彩的根本性第一阶段：从三原色理论、天然底色判断、漂色细节与配方调配来提高色彩的准确度以及配方公式的制定。第二阶段：透过几何图形来了解分区概念与运用，再结合经典染发分区和挑染、片染的上色技巧，来提升经典染发技术。第三阶段：结合配色课程与沟通流程教学，让学员透过本次的学习能够让色彩师掌握专业染发的基础技术。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>发型师基础训练课程（长期班）</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/MjE0M2FkNGJjOTc4Y2EzMDBlODM3.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>沙发型师基础训练课程</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">开课日期：8月22号</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程天数：四周</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">适合对象：助理技师晋升发型师</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学费：12000元</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">优惠方案：限时优惠期间8.5折10200元。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教学内容：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">1.经典剪发核心剪发理论知识--全面讲解六大剪发要素</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">（头部相关的点－分线与分区－面的概括－梳发分配－提升角度－剪切口）</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2.传授方形－圆形－三角形的内外部技术结构形状</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">3.站位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">4.手位的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">5.分区的重要性</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">6.经典的合理运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7.个性化处理的方法</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8.经典的造型变化运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9.商业发型的转换</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">10.染烫如何配合剪裁的设计</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">11.造型的技巧运用</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">12.毕业典礼的考核</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">授课形式：影音图画教学，真人模特儿示范，手把手指导教学。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程学习效果：</span><span style="font-family:&quot;font-size:14px;">这是一门针对沙龙内部晋升发型师的内训课程，此课程是提供你开启沙龙发型设计师的系统技术课程，是帮助你打开沙龙发型师晋升的第一把钥匙课程分三阶段进行，具体包括传授教授ReMINGLE睿阁重要性的核心剪发技术，造型技巧，商业剪染烫搭配设计等一系列的系统核心.，通过整体的强化训练，我们将打造一个真正属于沙龙内部实战经验的专业发型设计师。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">2017年亲传弟子内训班30周，（零基础长期班）学费80000元，制定属于你的专属成长计划，学院储备导师专用。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODBmMDM3ZWIwNjU5MDRhYzliMWMz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>