<div class="left_art_zw"> 
 <h1>5人生产上万件化妆品</h1> 
 <p class="left_art_zw_zz"> 来源：长沙晚报&nbsp;&nbsp;&nbsp; 时间:2007-5-30 14:02:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一幢简陋的民房内，竟然能生产出上百种高档化妆品，其中一盒6瓶装看似精美的系列护肤品标明的销售价格高达上千元。28日上午，湘潭市雨湖工商执法人员根据群众举报，一举查封了该非法生产窝点。
  <br>
  <br>　　据了解，这是目前湘潭查处的生产规模最大的化妆品制假窝点。
  <p>　　制假窝点位于湘潭市雨湖区先锋乡建新村一处普通民宅内。这间毫不起眼的民宅内，生产、加工着100多种上万件化妆品。这些“名贵”系列化妆品的包装上，标注的生产商竟然是“广东泓丽化妆品有限公司”。执法人员调查发现，化妆品销往湘潭、西安等地。产品价格表上也可清楚地看出，一盒6瓶装精美的系列护肤品销售价格高达上千元。据化妆品生产车间的一名中年妇女交待，她是生产车间的负责人，她们这里共有5个人生产，卫生许可证等证件正在办理中。湘潭工商执法人员现场查封了该生产车间。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MDcyM2Q5YTQzMTBjNTExMTRiZDcz.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>