<div class="left_art_zw"> 
 <h1>5月8日重庆安利纽崔莱健康跑准备</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-5-17 10:28:00 </p>  
 <div class="wz">
   轻松准备 为健康，让我们跑起来！ 
  <p>　 “安利纽崔莱健康跑－为2007年世界特殊奥林匹克运动会加油” </p>
  <p>　　暨纪念重庆市直辖九周年全民健身活动启动仪式启动仪式将在渝举行 </p>
  <p>　 （5月8日讯）由重庆市体育局主办、安利（中国）日用品有限公司独家冠名赞助的“安利纽崔莱健康跑——为2007年世界特殊奥林匹克运动会加油”暨纪念重庆市直辖九周年全民健身活动启动仪式将于6月18日在重庆市奥林匹克体育中心正式举行， 着名的前奥运冠军，具有“东方神鹿”美称的王军霞也将作为“安利纽崔莱健康跑”推广大使再度入渝，与重庆广大体育爱好者一起融入本次活动中。 </p>
  <p>　　作为一项深受广大群众喜爱的全民健身活动启动仪式，“安利纽崔莱健康跑”自2002年诞生以来，已连续5年在全国多个城市成功举办，并逐渐发展成为一年一度的群众健身活动。同往常一样，今年的“安利纽崔莱健康跑”将在广州、上海、杭州等21个城市陆续举办，这也是这一具有5年历史的活动第二次在重庆举行。 </p>
  <p>　　在5月8日的“安利纽崔莱健康跑--为2007年世界特殊奥林匹克运动会加油”暨纪念重庆市直辖九周年全民健身活动启动仪式新闻发布会上，举办方向媒体与社会大众介绍了活动概况和报名细则。重庆市体育局领导亲临现场并致辞，活动冠名赞助商安利公司代表也阐述了赞助健康跑活动的初衷，并进一步向来宾介绍了安利倡导的“营养、运动、健康”的生活方式。与以往不同的是，自2005年9月19日开始，“安利纽崔莱健康跑”正式更名为“安利纽崔莱健康跑——为2007年世界特殊奥林匹克运动会加油”活动。这一举动将开启安利纽崔莱健康跑与特奥的全面合作历程，为安利纽崔莱健康跑这一全民健???活动启动仪式注入新的内涵和活力。6月18日也是重庆直辖九周年纪念日，“安利纽崔莱健康跑”活动也将作为一份特殊的生日礼物，献给年轻的直辖市。 </p>
  <p>　　本项活动在全国的蓬勃发展，离不开社会各界的关注和支持，除了安利（中国）日用品有限公司连续五年担任独家冠名赞助商外，还得到了重庆顶津食品有限公司（康师傅矿物质水）、广州威健体育用品有限公司（YONEX）、重庆百货大楼股份有限公司超市公司（重百超市）、泰康人寿保险股份有限公司重庆分公司的协同赞助，以及重庆希尔顿酒店、重庆忆念美健身美容连锁有限公司的大力支持。 </p>
  <p>　　今年的安利纽崔莱健康跑将于4月29日－6月17日正式接受市民报名，所有希望参与到这一盛大活动中来的体育爱好者只需要交纳15元的报名费，就能参加本次安利纽崔莱健康跑，还可以获赠一件精美T恤衫和??赛当日免费水供应。另外，活动当日还将举行盛大的纽崔莱运动嘉年华、精彩的娱乐表演、刺激的现场抽奖等活动，中奖者更有机会亲临2007年世界特殊奥林匹克运动会开幕式现场，共同见证这一体育盛事。 </p>
  <p>　　为了方便广大市民参与，活动主办方在重庆市内设立了许多接近大家身边的报名点，包括： </p>
  <p>　　安利（中国）日用品有限公司渝中店、沙坪坝店、涪陵店； </p>
  <p>　　重百超市各分店； </p>
  <p>　　YONEX专卖店； </p>
  <p>　　重庆忆念美健身美容连锁有限公司下属健身俱乐部； </p>
  <p>　　重庆和平数码彩扩有限公司冲印店； </p>
  <p>　　重庆丽影数码影像； </p>
  <p>　　重庆老地方数码影像； </p>
  <p>　　重庆市金根摄影扩印服务有限公司冲印店； </p>
  <p>　　勿忘我艺术沙龙； </p>
  <p>　　届时的健康跑路线为：重庆市奥林匹克体育中心10号门－袁茄路一谢陈路－科园四路－科园二街－奥体二支路－重庆市奥林匹克体育中心二号通道。另外，跑步结束后重庆奥体中心外场还将举行盛大的纽崔莱运动嘉年华及健康咨询活动；体育中心内将举行全民健身及娱乐表演，中间安排抽奖环节，所有参加健康跑的市民都可以免费参与，一起享受健康与运动的带来的乐趣。 </p>
  <p>　　2006年“安利纽崔莱健康跑-为2007世界特殊奥林匹克运动加油” 暨纪念重庆市直辖九周年全民健身活动启动仪式开跑在即，为健康，让我们跑起来！ </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:腾讯</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzNmMWNlM2E1MjQwMjFjZmRiMzFm.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>