<div class="left_art_zw"> 
 <h1>5款精品春夏潮流造型，你掌握了么？</h1> 
 <p class="left_art_zw_zz"> 来源：欧黎柔润号供稿&nbsp;&nbsp;&nbsp; 时间:2017/7/6 14:24:36 </p>  
 <p class="dd"> 5款春夏潮流时尚发型（短发、中发、短发），现场剪发、烫染、吹风、造型手把手教学。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MGNiYmRkYzFhZjJlMDMzNTIyZDcy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">时间：7月2日-4日 &nbsp;地点：名姿<a href="/cg/2.shtml" target="_blank">美发</a>学院杭州校区</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTZlODY0MjE3Y2Q1ZjMyYzRjODNl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">主办：宁波欧黎经销商、名姿<a href="/cg/2.shtml" target="_blank">美发</a>学院</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">老师：名姿<a href="/cg/2.shtml" target="_blank">美发</a>学院杭州校长汪胜利，烫染总监Johnny。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NmJkYWJmNTk1NjY5ZWY3NDA2YmU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">对象：老板，店长，总监</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">目的：以技术为核心，以教育引领潮流；传递工匠精神，美业生生不息??</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">核心：</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">5款春夏潮流时尚发型（短发、中发、短发），现场剪发、烫染、吹风、造型手把手教学。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Y2ZjNmFkYmM1ZDNlOGVmMzQ1MGY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>1</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/N2E4OTZiODRiYTkxYTExZjgxMjlk.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>2</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/MTM0MDc5NjYyYzBkODQ3Y2YzMzA5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>3</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/ZGE0MDdkZTYwNzRlMGEzODQ0ZmU2.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>4</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/MThkZDIyY2MxY2E1ODdhZmY0YWE1.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>5</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/MDdmOGQ0ZTUyYWRlZGQyZDIxYmI1.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>6</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/Y2JkYjQ5MGQ4ZDY4NjViZTBlNzEz.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">欧黎色彩定制，颠覆潮流时尚！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDE3ZTJiNzQ3OGQxNTM5MGMzMTNh.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjkzOTkzMWNjYWIyZmUxOTBkYTk4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>