<div class="left_art_zw"> 
 <h1>618 施华蔻携手天猫带你撩翻天</h1> 
 <p class="left_art_zw_zz"> 来源：施华蔻美发世家供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/18 14:33:54 </p>  
 <p class="dd"> 全民期待的618天猫粉丝狂欢节开始啦， 施华蔻携手天猫带你狂欢！ </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全民期待的618天猫粉丝狂欢节倒计时1天！这么激动人心的时刻，扣子们是不是按捺不住了呢？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">那么，问题来了，此次618狂欢怎能少了wuli仲基？</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NDI1N2ViNjFjODYyYmIzNjNjNjA5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">当当，本次618为扣子们准备的宋仲基精美周边帅气登场！皮质双肩潮包、台历、明星片、精美4G U盘等等超多好礼别说你不要！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmNlYjFkMjFmYmFmMTQ3MzBhYTQ3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">觉得这些周边还不够嗨？憋着急，宋欧巴一比一的人型立牌满足你的所有少女心～有了它就能和宋欧巴一起吃饭，睡觉，看电视啦！小扣悄悄告诉你高颜值的立牌照可是出自施华蔻x宋仲基广告大片拍摄现场哦。</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">扣子们都知道，每到大促的时候面对玲琅满目的产品该如何选择？憋着急，3款必Buy爆款组合强势登陆！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YmZmMGYwZDBlZDNiMmNmMjEyMWJj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">???用任何发质的高口碑镇店之宝施华蔻多效修护19套装，可是不少扣子们的入店必买款！蕴含19种新活成分，多方位修护，1瓶即可解决都市秀发8大困扰！（前5000名加赠价值66元水感动力发膜）更多详情可至施华蔻天猫旗舰店查询。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDI1MjJjOTZiM2I4Nzg5YjFiMzgx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">施华蔻怡然染发霜一直被公认为时尚圈的染发明星！植物精粹+无氨温和的特点尤其适合长辈及敏感人群~想拥有温和健康染发体验的小伙伴们，3盒分享装自用送人??超划算哟！（前20000名加赠价值39.9元施华蔻多效19旅行装＋宋仲基限量明信片）更多详情可至施华蔻天猫旗舰店查询。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OGM5ZjRlOGQyM2YzNDI3ODBiNTU3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">人气居高不下的施华蔻8金纯盈润套装专门针对细软、出油、分叉发质！融入8种珍稀精油&amp;0硅油，不但能令秀发柔韧不油腻，还能蓬松轻盈，为你开启护发新体验！！（前3000名加赠价值29元施华蔻恒时珍粹欧米伽发膜50ml） 更多详情可至施华蔻天猫旗舰店查询。</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>除了超值低价的爆款组合外，</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>更有7重惊喜等你来享！</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>施华蔻618，你还可以这么玩儿。</strong></span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第一式：先领券，后购物，618的正确打开方式</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3档优惠券，满立减</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">满199减20，满299减30，满500减50</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmQ0OGQ1NDVjNWQ5N2Q2ZjFhMjIz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第二式：购物金额累计前10有豪礼，我是土豪我怕sei</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">每日订单金额累计前10名有豪礼</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">冠军、亚军赠价值4999元卡西欧自拍神器</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第3-10名赠价值2400元日立美容仪</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ODRiMTllMGNkNjg1MDhjZjEyZTk3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第三式：超级满赠，宋欧巴周边等你来抢</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">消费满149元，前5000名送迟早遇见你手账本，5001-10000名送精华深透旅行装</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">消费满219元，前8000名送宋仲基USB+精华深透旅行装，8001-10000送台历+精华深透旅行装</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">满399元，送宋仲基定制礼盒，内含宋仲基定制u盘，日历和手账本（限量2000份）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDQwZjk0OWQyZmQ4YzUzZDMzN2Uz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第四式：全民抽奖，豪华大礼任你抽！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6.15-17日，收藏任意宝贝或加入购物车，各获抽奖机会1次</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6.18-20日，任意购买产品，获得抽奖机会2次</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZjA3YWI2MDQzNzYzZGM0YTI5ZTNm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第五式： 你扫货，我买单</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">618当天1秒免1单，10秒免1单。900个免单名额，就怕你不来</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmQ3ZmE4NzI3NmU1ZjAyMjRkNzUz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第六式：72小时整点抢好礼，get宋欧巴同款潮包</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">618当天每个整点订单前100名，???宋仲基限量潮流光泽感皮质背包</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">618-20日 共72小时 每小时付款金额最高的前5名赠 价值168元的补水仪</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MTBiM2RiYjVhOWY3ZmQ3N2ZlOTA4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">第七式：超值秒杀，撩上天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6.16-17 &nbsp;9.9元包邮秒杀，每天上午10点整开始秒杀，加赠￥20优惠券</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6.18-6.20 &nbsp;0.01元秒杀，每天上午10点，下午2点整点开杀</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZGI5YzMyZDM4NjBjNDE5ODQ5MWJh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">年中盛典重磅来袭，复制本信息打开手机淘宝 ，和万千蔻粉一同狂欢。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Yjk4OGRkNmZkMWMwYTEzOGE1Y2Mw.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmQyODYxNGE1YjUzYjFhM2YzYmQw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>