<div class="left_art_zw"> 
 <h1>6个月，15天，只为这一场出师秀惊艳四座</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2017/7/18 11:56:05 </p>  
 <p class="dd"> 2017年6月29日，杭州毛戈平形象设计艺术学校第四届化妆造型全科班毕业展精彩绽放。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2017年6月29日，杭州毛戈平形象设计艺术学校第四届化妆造型全科班毕业展精彩绽放。本次毕业展发布会以“璀璨星光”为主题。同学们运用半年所学到的化妆造型技术并历经近半个月的精良制作，为我们呈现了一场精彩纷呈的T台秀；精???的妆容和独特的造型作品接连亮相，震撼全场！模特展示结束后，化妆师们携模特闪耀登场，向观众们展示自我的风采。接下来学校领导为获奖学员颁奖，并预祝同学们在今后的艺术道路上用自己的双手去创造更多美丽的梦想！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzY3ZGMzNjRhNzE4MzkwZDRlYmVj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YjcyMDE3NWE4MDQ3MDkzOWU1MTVi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTVhYjZkZTczMWU4MzQ4MjcwZTY4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NWM1ZjAzNzcyMjJlOTIzMWNjMDg4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NDI0ZDlkODYxNDFmYjk2MWE5OTc5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/N2ZiMDU0NWFjOGQ3MDA4ZmRhZjEx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzM2ZDJlMjIzNDVhZTgwZTk3YjI1.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YjM1ZWQyZDllYjJjNGRkOTI0OTA2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YjMzZjRhZTg3ZDUzMDY0NjYxMTky.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OTMzYTAwNjJiMDQ2YTYzYmJhOTVk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NDJiN2Y1MmEzNDNhODc1MGFjMTU2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTIzNDJmZWJkYjg1Y2JjY2RjNjBm.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NTIyMGZhYTZlYzg4YmRkYzJmNzlj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MGI3MWZiY2FiMTgzMjllYzAwODkw.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/Yjg5NTc0MDNkNTE5ZWM1ZWQ1YjQ3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YTE3NGE3ODEwZjVkYjBmZDAyOWQ1.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MDE1MjFlZDNkOTQ1M2M0MjdlN2Jl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NmU0NGE4YWFiODJlNzg2Y2VkY2I2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzY3Y2JmYTc2YjU3YTllOWZkNDU5.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZTc2YzEyZDAwNWVhMTYwMmJiNTY1.jpg" alt="">&nbsp;</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NGIwZThjYTlkZTc4Y2U4M2JmZTA4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>