<div class="left_art_zw"> 
 <h1>74幅油头作品，谁是那8位“油头大神”？“油”你说了算！</h1> 
 <p class="left_art_zw_zz"> 来源：望子菲灵专业供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/19 14:32:03 </p>  
 <p class="dd"> 自“油”你名堂油头大赛自正式启动以来反响热烈！ </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:&quot;">自“油”你名堂 ｜ 油头大赛</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">大赛自正式启动以来反响热烈，以油头大赛之名，融合油头时尚，引领中国油头潮流尖端，展现中国油头型男魅力。三个多月的赛程已近尾声究竟8位“油头???神”花落谁家？这一次由你说了算！！！</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">这次入围“油头大神”角逐的共有74位发型师的作品，这些作品诠释了属于中国的型男油头文化。再一次给予我们视觉冲击，展现出中国新一代发型师对油头的态度，将创新精神发挥的淋漓尽致，打破一切格局限制</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">做最有态度的油头造型。（以下为部分本次油头总决赛参赛作品）</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmZlNGU2MjNjZmM0ZmVlNzJlMjdk.jpg"> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTEwNWY2NzZkN2MwYjdhZDM0YjRi.jpg"> </p> 
  <p> <br> </p> 
  <div style="text-align:center;"> 
   <img src="/image/information/NmYxMDIwZWRiOTg5NDgzYWE1M2Ix.jpg" alt=""> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTQ1ZTg3OWRjYjg2ZTBlYzNhNDIz.jpg"> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/M2Y1ODNhMDExYTg2ZjZkNWI3OTdk.jpg"> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzEzYzdkYWIwNmI4ZjM1NDJkZjVm.jpg"> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmU0OWY1MWIwZDk3ZGQyYzViMmYx.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">74幅油头作品精彩有态度的作品，还不为他们疯狂打call？谁是你心中的“油头大神”？即日起—9月24日23:55分。自“油”你名堂油头总决赛网络投票正式启动！</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">投票时间截止后</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">票数最高的前8位将获得冠军“油头大神”</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">赶快为你心中的“油头大神”投票吧！</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;"><strong>&nbsp;投票详情</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">本次大赛网络投票以公开、公平、公正为原则：</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">①投票时间：即日起至9月24日23:55分截止。</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">②投票规则：每个IP地址每天限投3票。投票时间截止后，票数最高的前8位将获得“油头大赛”冠军称号。</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">③投票方式：</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">方式一：识别下方二维码，进入投票链接为你喜欢的油头作品投票。</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">方式二：关注“菲灵专业”或“FEELING菲灵”微信公众号，点击菜单栏“油头决赛”，为你喜欢的作品投票。</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">投票截止后</span>，<span style="font-family:&quot;font-size:14px;">我们将于9月27日公布最终结果，</span><span style="font-family:&quot;font-size:14px;">八位油头大神将获得属于他们的荣耀！</span> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">为那些致力于中国油头文化创新的匠心</span>，<span style="font-family:&quot;font-size:14px;">为那些创造美的事业的手艺人，</span><span style="font-family:&quot;font-size:14px;">赶快为你心中的“油头大神”投上宝贵的一票，</span><span style="font-family:&quot;font-size:14px;">让我们共同见证最终8位“油头大神”的诞生吧！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjAyMjAzZTY3YzU0N2FhMzRkZWFm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>