<div class="left_art_zw"> 
 <h1>80%发型师都会忽视的发型细节，做不好真的显??大</h1> 
 <p class="left_art_zw_zz"> 来源：望子菲灵专业供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/8 11:39:51 </p>  
 <p class="dd"> 一般环境下，仙境蝶灰这个发色只能看到一头乌黑的头发，但在灯光或阳光底下，藏在黑发里的颜色就若隐若现。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">仙境蝶灰这个发色在一般环境下，只看到一头乌黑的头发，但一旦到灯光或阳光底下，藏在黑发里的颜色就若隐若现了。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTVjZjJhN2Q2MTY0NzQyNDI3ZTlh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTFhNzI5MTE5MTBiNjMwMTA0YTc3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGRiMmIzMDBiMmJmMTNjMTY1ZmUy.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDU0MzFhNDYyM2M3Y2QxMDVlN2E3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmVkYzJiOWYxZTE1MTZhNWNhZWVk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjZhZmU0MWQxYzljMzQ1YTkzMjE0.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGZmNTMzMjljMDdiZDM2YTFjYWI1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>