<div class="left_art_zw"> 
 <h1>8月30日赵一铭影视造型秀将在北京隆重举行</h1> 
 <p class="left_art_zw_zz"> 来源：哈发网自主采编&nbsp;&nbsp;&nbsp; 时间:2016/7/19 15:06:52 </p>  
 <p class="dd"> 金品源影视造型学校校长、高级化妆造型讲师赵一铭将在北京798艺术区隆重举行国内第一场纯影视造型秀。 </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';">8月<span>30</span>日金品源影视造型学校校长、高级化妆造型讲师赵一铭将在北京<span>798</span>艺术区隆重举行国内第一场纯影视造型秀。<br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;"></span><span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ZTAxODU0ZWFiNDJhYWU4M2IwOTZl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/NTM5MGQ0ZGQxYTU0YWMzYjQ3OTAw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/NTVlMWRkNDM3NDkzZjljODUyYTJh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ODFhNDlmNThkNjc2MmFhMTI2YmFl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/NTRkMmRlYzEzNDZhZTIzYTE0NTBl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>活动概况：</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MmEyZjcyZmE3NDVkNzg2MmI4NzVi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>活动流程：</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/NjAzYTc0MjQzZjlhNjMzMWRkNDk5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/YjQwZGVlNTk3YzViNDhlMjljMTE4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>主题：《梦回唐朝》</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ODI1M2I0ZGI4ZDlmNGE1OTk5ZjE4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/OGFhNTEyNWFiNjgxMDA3N2UyOTMw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>主题：《欢喜唐朝》</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/NjNjZTIyYWM2YjM0Njk0MTY3Y2Nh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/Mzk0MGEzNzhlN2UwYjI0NzAyMjU3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>主题：《情锁唐朝》</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MTk2NTU3NDg2MmIwZjFmMmY0YmE5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/YjE0NGZmNTJlMWZmYWFhNTQxZDlh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>主题：《云雨高唐》</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ZjdiODFmM2FmM2E3MzczNDMxOTJi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/YWZhOGJkMzk4ZGFlNGVjNDM1ZTA3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>主题：《大唐盛世》</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/YTgxNDAwOWYyOWE5NmQ0Mzk1YWY5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong>明星颁奖：</strong></span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ODJlOGYyOTFlOGY1NzRkNWY5OWVh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/YjEzMjRkODZiY2QyY2I1NGQ2NjUy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/OGRjN2E3NDM2MGEwYWQ3NmJkYWRk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ODczMjM3NDIwZWU2YmJlNWU2YTE2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ZjM5NDY3MjJiZjY2NDJjZjNlYzUz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MTkxMjk5OWI4ZTZjOTBkZmQ0NzVj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ZWZmYWJlYTMzYjJhMmUyMTkwZjhh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MmExODBlYzliNWM3MTZjNDhhZjcy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MmVhYWUyMzgzNGE2MDllMzk2NmZk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/ZGJiMjdiZDBlZGNlNTZjNTAwYTUx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MTZlNmVlZDQ4NGZlZWJlMjhlYzkx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/MzZiNTJhMWY4M2IxMWI3MTYxMmY4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/OGQyOTk4ZTgwNDViY2RhOGVmY2M3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';"><img src="/image/information/NTBlNDlhNzNlZDNkMTMxZDZmODk4.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Mjk3ODAzMmJkNmU5YjkxNzk2OTE2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>