<div class="left_art_zw"> 
 <h1>AHMA???型及造型精英大赛亚洲各分赛区报名通道，现已全线开通</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/10 11:25:29 </p>  
 <p class="dd"> 梦想有时候可以很简单，只要你开始行动；舞台有时候可以很接近，只要你踏出第一步。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">梦想有时候可以很简单，只要你开始行动，舞台有时候可以很接近，只要你踏出第一步，我们有舞台，你有梦想，一起来参加???</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDU5MjJkN2E3ZTIxNGFmODMwNWQy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTU0Yzc4YzQ2ZDI0MzQ1OGM4OTU2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGQ4NGI3YjgxOGQxY2U2MDhlODcx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">AHMA发型及造型精英大赛一直秉承关注年轻一代“助我成长，创造未来”的宗旨，倡导通过竞赛提升青年<a href="/cg/2.shtml" target="_blank">美发</a>人的技术和时尚美感。关注新入行年轻人的基础知识教育，希望年轻一代从比赛准备和过程中启发思考规划职业生涯，培养正确的人生目标。锻炼<a href="/cg/2.shtml" target="_blank">美发</a>年轻人对于<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>行业的专业精神，锻炼正能量的竞赛心态。希望通过此次比赛唤起行业对于公平公正的竞赛气氛，建立行业标准化，振兴美发行业。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGI1ZjliMzI1MmUwY2I4NTk3OTJh.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTY0YzIxZDkwNWM3NjdjY2ZlN2My.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>