<div class="left_art_zw"> 
 <h1>AHMA创办人《循环》讲述了当今社会问题</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/7/5 13:57:59 </p>  
 <p class="dd"> 《循环》是AHMA创办人叶惠敏小姐写的关于当今社会问题的文章，阅读《循环》，寻求美业发展。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">AHMA创办人叶惠敏小姐的文章（已在美业杂志2016年7月刊刊登）</span> </p> 
  <p> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzIwODMwNjk4M2MxNzY1YzU5MmMz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjY5MzEwMTY3NzliZGY4YzFlMTAy.jpg" alt=""><br> </span> </p> 
  <p> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';"><strong>《循环》</strong></span> </p> 
  <p> <span style="line-height:1.5;font-size:14px;font-family:'Microsoft YaHei';">在今年，国家劳动局废除了一些行业的上岗证，这个举动的目的是降低入行门槛，让更多人入行增加就业率。我们不评论国家这个举动的正确与否，因为还没有回馈数据说明什么，而我从这里看到的不仅仅??就业率，而是当局看到行业瓶颈。对于其他行业来说，<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>业只是属于服务业的一个小版块，而从上世纪八十年代因为备受西方潮流风气的影响而市场经济形成和发展，但是对于拥有十几亿人口的国家来说，本来入行门槛就底的行业，“上岗证”取消的这个举动只能说明行业就业率已经出现了危机才引发了当局这个举动。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">从上世界八十年代开始，发展至今行业传承的主流还是师徒制度，几十年的时代变迁里这种制度居然没有提升进歩过，与现在高速发展的信息时代形成了强烈的冲突。在饥饿寻温饱的年代，师傅的话无论如何都是对的，师傅教的手艺都是对。但是现在已解??了温饱的年代，有意愿进入这个行业的几乎都是因为热爱和梦想而来的，如果师傅说的不对的时候，讯息时代的小孩通过了越来越多的渠道可以获得答案，师徒制度濒临崩溃。师徒制度之后又应该是什么行业法则来取代呢？正规的基础教育，有系统和标准的教育，理论与实际结合的职业规划等，以上在发达国家每个行业都是习以为常的法规，值得中国发展现阶段的美发行业去借鉴参考。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">其实这个举动之前已经有种种的迹象表明行业的一些问题，例如中国传承千年的盘发技术在希望追求直线精准剪发的冲击已经快到断层，现在的发型师可以剪很直的线，却不懂得帮自己的姐妹出嫁时候盘个吉发，有点可悲。多年追求??术的高层次，回头发现基础的技术反而完全不会，基础教育的真空决定了中国美发攀升艺术高度时候的后继无力，所以在中国美发人平均高水平时候却走不出国门。断层现象让中国美发界不得不面对，没有了新人入行令业界健康循环有问题，渐渐只有老人做发型师的时候，年轻的顾客又该何去何从？</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">没有循环的水是死水，养不了潜龙，没有健康循环的行业发展吃力。作为泱泱大国，出现行业断层，行业自己是否有团结意识去共同面对和解决决心是要看行业内的大家自己。当局的这个举动刚好是给行业一个警告讯号，不知道在美发业的大家是否有看懂？不是说取消了“上岗证”就可以更乱来，而是显得含金量的证件??于美发师本人的重要性，证件是能力技术一个职业等级的证明，规范的行业制度是一种保障，大家是否有正确的证书观念去帮助行业的发展呢？</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MTc4NjllMjE3YTgxNWVmMTJmNTlm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>