<div class="left_art_zw"> 
 <h1>AHMA北京俱乐部要成立啦！</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/17 14:09:29 </p>  
 <p class="dd"> 1月13日晚上，AHMA创办人叶惠敏女士前往北京与业界欢聚，同时进行AHMA北京俱乐部筹备工作会议。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDRjZTMxNDIyZGM2ZjZkOGFkZDIy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">1月13日晚上，AHMA创办人叶惠敏女士前往北京与业界欢聚，同时进行AHMA北京俱乐部筹备工作会议。会议上叶女士与各位分享了AHMA广州俱乐部???12月21日举办的“大师零距离 · 广州站”活动（详情可点击下方蓝字回顾），同时北京俱乐部的筹备工作也踏出第一步。北京俱乐部在AHMA总会的带领下，旨在促进北京美业的健康发展，促进业界联系及研讨活动，合力改善美业的营商环境和提升服务素质。</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">（</span><span style="font-family:Microsoft YaHei;font-size:14px;">AHMA广州俱乐部</span><span style="font-family:Microsoft YaHei;font-size:14px;">正式成立，大师零距离分享）</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">AHMA 创办人叶惠敏女士与AHMA北京俱乐部成员合照</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span></span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGM4ZWE3ZWQ2NDk4MDNkNGYzNDZh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzI1M2E1NmIyOTY1YTFkNWJiMzFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWZkNjkxMDYwODBmMWEwZmU4NWY5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/M2ExMWQ0YTQ0MTdkZWNlMjNiZjI5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDFmNzhhMTEyN2YzZTlmZGE0OGJi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTY3MTkwODRlZGQ5YmY5OWQ4MjA4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">次日，创办人???惠敏女士参观了由陈萌在2010年创办的TWOFACE双面理发馆。陈萌是叶女士在2005年，参观日本Toni&amp;Guy时遇到的从中国去日本学全科</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">的留学生，当时他已经考取了日本国家的认证。当时叶女士诚意邀请他，聘请他回北京Toni&amp;Guy工作。他从2009年自主创业，创立了品牌TWOFACE双面理发馆，发展至今已有9间品牌店，每一家店都充满了复古感，步入沙龙就有进入复古博物院中，每一个角落场景都是一个故事，让人感到舒服且回味。</span> </p> 
  <div> 
   <br> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDFjNDc0YTE0YWFkMTlmNTJlMWM0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjRjNzNkODA4MTNhYzYzM2YyMzFj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWJjNDVmYWQxMDgyOWYxMGQzMzVm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzYxMTI3YTUzZjg1NTE3NTA4MWE3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjRjZTM3NDQ2MTljZWFjNmY3YWNm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzJlNGFlZWQzNjE4YTA5OTQ2ZjYy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWI0MTQ1ZDg1NTVjNmMwZGNhNTdm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGIzZWUwMTdjZWY4ZWMwNGU3N2I3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTY5ODliNmFkNjAzYjg4N2Q1Mjc5.jpg"> </p> 
  <div> 
   <span><br> </span> 
  </div> 
  <p align="center" class="wz_tp"> <img src="/image/information/MDFiN2UzMjZhMzNlMzM3MGE5ZmYw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>