<div class="left_art_zw"> 
 <h1>AHMA与香港知专设计学院形象设计概念研讨会顺利举行</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/4 13:54:08 </p>  
 <p class="dd"> 8月2日，AHMA携手香港知专设计学院在台湾举办了形象设计概念研讨会。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">8月2日，AHMA携手香港知专设计学院在台湾举办了Image Design Concept Seminar形象设计研讨会。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTJmOWE0Y2RhMzYwMzRlNmNmYzE2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>Image Design Concept Seminar</strong></span> </p> 
  <p> <strong>主讲导师：<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">Ms.Cecilia Pritchard</span></strong> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">生于瑞典；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">AHMA 大师会员；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">香港知专设计学院时装及形象设计讲师；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">毕业于英国伦敦艺术大学；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">丰富的艺术背景，<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>及专业化妆能力给了她一个很好的机会自由创作及参与各类电影拍摄，电视节目录影及各大时尚产业活动。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTc1MjdhOGZlZmYzZjZlMTFjNzNl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NWNhZmE5ZDEyMThiMzg1NzI3YmUx.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/N2I5ZmVkMjI4ZTVkYTU1NzliZWQ4.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/OTNkYTJmYzdhZjgyYjA4YWUwNDJj.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NDFmMjkyNTBmNTZkYTcxNjNhOWRh.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/OGE3ZmVmMjU2NTE4YTliNzM1MTdm.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MTdkZTgzN2NhMjdkMDk5NmIwZDc2.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><strong><br> </strong></strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><strong>活动当天模特欣赏：</strong></strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDlhMDNkOTMzMzE5ZWIyY2RkMDJk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWJlOWUwNWE0M2Y3NjQyMDc4ZDUw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWNjOGVhNmE0ZTVkZjhlNmY4MGIx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2JhOWYwM2QyMzRlZDcwNTFjZWFi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDU5YTdjZGNiNTg5ZmJlYTU3YWJk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTUwYjBhOTFkMTUyM2Q5YTE3MjAz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>幕后花絮：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTAyNjdmYjNhZjY0ZjgzNzRlZGQw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjEwYTRiYjJiZjIzNWIzMGEwODI0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTFkYzQ4NGQwNjgyZTdmYWZjYWQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>鸣谢单位</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">组织单位：亚洲发型艺术家协会香港总会</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">联合举办单位：亚洲发型艺术家协会台湾分会</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">教育支持单位：</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">香港知专设计学院（HKDI）</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWZhNGQ4OGRhN2NmOTA5MWRmNzE4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>