<div class="left_art_zw"> 
 <h1>AHMA香港会员欢乐聚</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型艺术家协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/19 14:16:14 </p>  
 <p class="dd"> 8月16日晚，AHMA举办聚会，并邀请AHMA新一任理事及会员参与。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">8月16日晚，AHMA举办聚会邀请AHMA新一任理事及会员参与，聚会上AHMA委任由沼山智宏Tomo Numayama先生(日本籍)担任AHMA总会会长，任期为2016年至2018年。希望AHMA在沼山智宏会长带领下，AHMA可以更好发挥亚洲<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>平台的功能，加强亚洲各地美发业者的交流和联系，将东方美发艺术走向更国际化。另外，此次聚会也再次恭喜AHMA新任理事叶??祺Zen Yip先生获得2016 GOLDWELL COLOR ZOOM香港区比赛冠军，在这里也预祝Zen在瑞典总决赛中取得好成绩。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjgzZjdmNTY2OTM2MjA1ZjhlZmI1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjkzMjhmNmU4MmZiZjYzODI0MGYw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWNlNDM2NDA3OWY0MDU2NTkyODU4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">聚会上，AHMA创办人叶惠敏女士还为新一任副会长们及理事们颁发证书及奖座，AHAM作为一个美发业的交流平台，我们希望更多有想法有创意的发型师、导师、发廊管理者等加入我们的大家庭，让我们一同为业界发展贡献自己的一份力量。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/N2JlYzFkYzMzZjdiZDEzMTIxYjFl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>