<div class="left_art_zw"> 
 <h1>AMANI倾力打造2016年上海国际电影节</h1> 
 <p class="left_art_zw_zz"> 来源：阿玛尼护肤造型供???&nbsp;&nbsp;&nbsp; 时间:2016/6/22 11:49:26 </p>  
 <p class="dd"> 为期9天的2016上海国际电影节宣告精彩落幕，AMANI发型师们为国内外明星、导演等打造专属造型。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年6月19日晚，随着金爵奖各个奖项的揭晓，为期9天的2016上海国际电影节宣告精彩落幕。一系列令人惊喜的数字随之出炉：今年共收到来自114个国家和地区的报名影片2403部，展映近600部中外佳片，场次达1360场，票房超过2000万元，所有数字均超过创下历史新高的去???。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳动画片：《小怪物茉莉》（德国/瑞士/瑞典）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Nzc3MGFlOGRiZTRjNGU0YWNiZmQy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳纪录片：《当两个世界碰撞时》 （秘鲁）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmM2ZDhkYWY4MTg0YmE0ZmJjMzE2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳艺术贡献奖：《雾》（菲律宾）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NGI0Y2ZkYjE2ODk5MTY2MDJkYTRh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳摄影奖：郭达明《皮绳上的魂》 中国</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MWUzMDVlYWY4ZWNjYmViNjUzOTg5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳编剧奖：安德瑞拉斯· 格鲁伯 &nbsp;《汉娜睡狗》德国/奥地利</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjVlYTMyZTdlOTUxMGE5Y2FlN2Nl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳女演员：藤山直美 《团地》 日本</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTYzOWEwZjc2OTg5YmM2NGU2YTg4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳男演员：刘烨《追凶者也》中国</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDljODA4YzNiODhkYmEyY2JlMThm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳导演：安提·乔金恩 &nbsp;《恶之花》芬兰</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Y2I1YTFlMzBlMjMxMzVjNjBlZTZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">评委会大奖：《德州见》意大利</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTFiZDVhZmE5NGYwMmMwOWM3ZjA4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">最佳影片：《德兰》中国</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmM1NWM2MWE4ZGQzZGVlNzkzZDI1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">为期9天的上海国际电影节精彩落幕，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">AMANI的时尚态度将永不结束！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">在6.11-6.19为期9天的??影节系列活动中，AMANI先后派出了50组，100余人的匠心发型师暨明星造型团队参与上海国际电影节系列活动，为国内外明星、导演、主持人等影视大咖们，提供全方位的专属造型支持！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjJjMmY0Y2MyNjlhYTJmNTkzZDg0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">AMANI匠心发型师暨明星造型团队非常重视此次合作，从团队成员的个人形象到造型用品都可以用苛刻来形容，严格要求团队成员注重工作纪律，怀着一颗匠心，用心打造明星造型，全程助力上海国际电影节！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>国际巨星梅格·瑞恩</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmRmNTk4MDQ5MDIxMDE5ODc3MzEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>蜘蛛侠导演山姆·雷米</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YTdhYTYzMTY0ODAzOWMwYTc5MWM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>徐峥</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NDA3YTNiMjhkMzY3ZjU4NGJhODUz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OGY2NjdjZTFjZWY0YTY1N2QzYWEy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>谭凯</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZjZhOWFkZWJiODBjMTdjMjUxODBl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>尔冬升</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDQzZmMwYmNhYjlhM2JmMDRjZGU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>卢燕</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDk1MjRiZGY1MTkxNjg1YzM2ZTJh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>刘硕</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDNjZWY3NTk4MmY5OGY1OGNmYjJl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>快手枪手快枪手导演：潘安子</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/M2Y5ZmM2Zjc1MGI4ZjUxMjA5ZmVm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">AMANI品牌创始人程军建先生为亚新提名酒会颁奖</span></strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjFmYTBhNGJmMDEwOTgwZTFhMzI4.jpg" alt=""><br> </span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">AMANI匠心发型师暨明星造型团队&amp;众明星</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZjBiMDRlNTIyZWQxNGJmZTEwYzQx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTZlYzliOTdkNTFmYTMzODY0Y2Vj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MWU0OGMxYzA1MWNmOGZhMDIzMDU1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YzhjMzAwNDM2ZDE0MDVjN2EwMGU5.jpg" alt=""></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">在AMANI有这么一群人，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">他们从未离开过美业这个行业，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">他们用一辈子的时间只做一件事</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">美容<a href="/cg/2.shtml" target="_blank">美发</a>这一件事，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">他们就是AMANI的匠心发型师，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">他们始终尊重手艺、敬畏手艺，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">一直在追寻一颗纯粹的匠心，争做一名真正的匠者。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">「你」，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">是AMANI在寻找的美业匠人吗？</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YjAzZGVkMTlmODE1MWY1ZWI3Y2Yy.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTBkMDMwMTJhNjdjNGVjMGM1MWM0.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>