<div class="left_art_zw"> 
 <h1>ANTONLEE时尚设计学院八月课程安排</h1> 
 <p class="left_art_zw_zz"> 来源：安东尼美发艺术学院供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/9 14:10:24 </p>  
 <p class="dd"> 安东尼学院秉着大师亲临授课，创造更多未来大师的教育使命，设计开展了针对不同学员的不同课程。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>时尚设计课程（4天）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程强调培训发型师独立分析潮流发型与不同客户需求，并能为顾客设计出多款新颖的时尚发型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">开课时间：8月20日-23日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">收费：4800元 （特价2900元）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDk0MTVlYzE1MGQ1OWU5OTY4ZTVm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTFjYTE5ODg2OTExMjQ4YzA2ZGQ2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODViNmZlZDM3OTU2NGZhZDRiNTBl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDQzOTY2ZWViNDJlZWY4NTA5NTI1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDE3NjQ2YmJhYzE2Yjg2M2UyODI5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzgxN2ZiZTkxYmYyMDcxNjkyZTZi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjAyMDRiMTA3MGM4YTgyMjE1ZmM2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTQ1MWIxMWY0NWExMjUxODgwNjUx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDgxZjVhODE3NmI2YjFiZGQ0Zjgz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjdhOGRkYWFhOGNhODhlZmM5NTQ5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>经典设计课程（5天）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">经典裁剪技术的原理，把一切的发型都归为科学的最基本型，然后用点线面的方法来完成这些型，这是对概念的理解，用什么样的剪裁技术方法完成，这就是我们要掌握的技术。从原则上来说，掌握了这些技术，可以创造任何发型，但创作的基本原理是什么，其他就是对于结构比例及轮廓的理解及美的视觉原理，就是层次纹理与结构轮廓的整体综合关系，但有一个最重要的元素就是对人物的头型，脸型，发质，发量的比例及美的视觉（发型其实做的是人物美学设计）。课程中会让你精确的把???这些重点。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">开课时间：8月15日-19日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">收费：7800元（折后5460元）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">此课程ANTON校长亲授。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTVhNDNiZTNiZjhiZmUzODQ5NzAx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Zjk1N2JlYTI3Nzk1OGQxZmZmMGVj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjY0MTAwMGU5MjM5NzFmZmYxMzY4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWYzOGQwYWQzYzQ2NTM3MWVmMmY3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>当代设计课程（5天）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">组合发型的设计方法；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">分解运用技术；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创造不同的发型风格???</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">头型、脸型，发型的比例平衡调整运用。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>设计风格：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">后现代主义设计风格建筑：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWUxMjg0NGJhZDY2ZTM2NjRkMWVh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">后现代主义设计风格服装：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmRjYTc3ZTFhYjEzMGJkYTUzNGQ2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">后现代主义设计风格发型：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2E1ZTkxMWE2NDdiZDE4Njk1ZDAz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">解构主义风格设计建筑：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDIyNmZiNTViNDJlYjdmZWRiMTBm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">解构主义风格设计服装：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2NhZWVjZGM5ZWM3MGVjMGFiNDJl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>作品分析：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MDJjYWEyZDk5ZDEzZTQwNzljNDEz.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NzZhMjJlOGIzODQ0Y2E5OWIxNjY2.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/N2JmYTUyZDdhYTdmNjBkMDEzMjI0.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZjFkNGNlYThmZjI4YmVjYmZlYjdl.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">课程内容：</span></strong></span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NzRmNWU5OGQ4MmVmNjEwZGFiMjc3.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">开课时间：8月22日-26日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">收费：8200元（折后6150元）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">此课程ANTON校长亲授。</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2Q4MTk3Nzc3NmVlMGE4NjJhOTMz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWJmMjA0MzVkZjc0MDc4YzliNGU2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>沙龙经典课程</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">九大标准裁剪技术，经典发型的规范裁剪方法，最有效精准的基本功练习方法，是创造所有发型的根本。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">理解掌握“三维立体几何”裁剪方法，方圆三角形状；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">零度角、堆积重量、去除重量的技术；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">手把手教学让您短期内有质的突破。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">开课时间：8月29日-9月5日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">收费：5800元（折后3500元）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzU2OTU4MWMxYTQ0OTk2YWNkMjk2.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzNhMTViOWQ1MTYwOGJmMTBhZjNi.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>