<div class="left_art_zw"> 
 <h1>ANTON LEE时尚设计学院六月??程，重新定义“中国风”</h1> 
 <p class="left_art_zw_zz"> 来源：安东尼美发艺术学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/26 11:03:14 </p>  
 <p class="dd"> 安东尼时尚艺术学院的“设计中国”由国人的文化基因中，提炼出的属于中国女性的性感和优雅。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>Anton Lee“<strong>设计中国</strong>”：重新定义中国发型</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">在Anton Lee时尚艺术学院创始人Anton 心中，他的“设计中国”并不是大红大紫的中国红和古风醉人的长发飘飘，是从国人结构、轮廓、色彩、肌理等角度，用全球通行的<a href="/cg/2.shtml" target="_blank">美发</a>技艺，用国际化的技术和审美，呈现出属于中国人人种本质特点的发型。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">发型是一种视觉艺术，更是一种生活艺术。中国发型师经历了沙宣、托尼盖时期的技术锤炼，日系、韩系时期的风格指引，终于从全盘接收国外的“拿来主义”中，摸索出了属于中国人自己的<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>精髓。Anton Lee的“设计中国”真正从“内在精神”读懂了中国人。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">Anton的“设计中国”由国人的文化基因中，提炼出的属于中国女性的性感和优雅。为中国发型设计师自我风格的形成，指引出了崭新的方向。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>学院以往作品</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTMzYjMyMzE4YzdiMWM3Y2VhMzYz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MWY5YjEzZDUxMmIyYmU4OGY5N2Fm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>沙龙时尚与造型美妆</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">人物美学融合极致妆容，构建独一无二的造型风格（凡报名沙龙时尚课程赠送三晚造型美妆课程）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>沙龙时尚课程（4天）</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">专业系统化人物美学与风格、黄金美感比例设计等理论知识</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">全程真人模特演示最具人气、潮流商业发型，通过手把手实操来锻炼发型师对裁剪、打薄、造型综合的技术控制能力</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">提升发型师自身美感思维、设计变化能力、自媒体营销能力</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">增加客户满???度、烫染率及回头率</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">提高企业品牌专业服务的市场竞争力</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程简介：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">人物9大美学风格定位</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">发型与人物黄金美感比例设计关系</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">主打中短发立体空间裁剪系统</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">独特打薄调量修饰技术（内外结构柔和处理、线条流向控制、破碎支撑过渡技术等）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">烫发染色设计搭配（3D造型烫、3D染、无痕渐变、立体晕染等）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">经典吹风、百变电棒造型各类手法的演示</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">沙龙作品拍摄及自媒体营销</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">开课时间：6月12日-15日</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">收费：5800元（折后3480元）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>设计中国与美拍摄影</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">用镜头来记录和掌握全球性的设计理念，发现和捕捉美的瞬间（凡报名设计中国裁剪课程赠送3晚美拍摄影课程）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>设计中国裁剪课程（4天）</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">感受设计中国裁剪技术风格的魅力</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">为中国人群量身定制的发型裁剪设计体系</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">打造出真正适合中国人群的完美发型</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">根据中国人的头型、脸型、发质、发量特定设计的长中短发型的分区、分份，发型量感与层次的分配空间落点与头型、脸型的关系，发型量感与层次的推动方向与头型、脸型的关系，发型大中小量感的裁剪方法与量感的调整，发型的结构比例，发型的内轮廓与脸型的比例美感裁剪方式。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">开课时间：6月6日-9日</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">收费：6800元（折后4800元）ANTON校长亲授</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>裁剪设计与服装搭配</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">让服饰风格同发型风格达到一致，打造整体的设计美感（凡报名裁剪设计课程赠送4晚服装搭配课程）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>裁剪设计课程（5天）</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">掌握发型构成的裁剪技术，各种量与型，分区与发型，发型的局部与整体的比例，发型的分区的组合与运用，技术的组合与运用，各种发型的裁剪分区与方法，各种发型长度、层次、内外轮廓与人物的头型、脸型、发质、发量的关系</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">第一时间掌握为你的顾客设计发型，选择发型的方法</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">开课时间：6月12日-16日</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">收费：8000元（折后5600元）ANTON校长亲授</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>国际专业裁剪课程</strong>（8天6晚）（凡报名国际专业裁剪课程赠送6晚吹风电棒造型课程）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">学习建立科学的剪发系统，快速晋身到专业发型师，或锤炼更清晰的剪发思维，掌握九种裁剪技术，八项裁剪操作细节，熟练掌握多款沙龙实用发型技术操作方法，学习立体几何裁剪技术，对发型结构???全面的认识，分解不同形状的技术细节</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">本课程是你职业生涯最有力的基石，带你理解发型最基本型和形成基本型的技术特征</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">6晚课程内容安排：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">3晚吹风课程、3晚电棒课程</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">1吹风手法的功效与运用、1电棒的手法及表现的形式</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2不同形态的吹风技巧、2不同纹理的造型方式</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">3造型的美感特征</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">每晚两小时</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">开课时间：6月19日-26日</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">收费：6000元（折后3600元）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>课程作品图片</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/MjM0MDFhNjE3OTQxOTFjMzVhNTky.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/NWQzYzQ1MGExNDZhZTViY2I4M2Yy.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong><img src="/image/information/ZjRlYWEwMDkyMDY0MWQ0MmMwNDdm.jpg" alt=""><br> </strong></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmJhMzE1NzUxNWJlY2QyMTJkYWJh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>