<div class="left_art_zw"> 
 <h1>A级标准理发店用具一客一消毒</h1> 
 <p class="left_art_zw_zz"> 来源：金羊网-羊城晚报&nbsp;&nbsp;&nbsp; 时间:2006-10-21 9:57:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 佛山美容美发店卫生量化评级在全省率先推行
  <p>　　理发店的剪刀、剃刀随便用水冲冲就算“消毒”，不配备传染病顾客专用的理发工具……这是记者调查佛山多家美容美发场所的普遍现状。</p>
  <p>　　令人欣慰的是，记者近日从佛山市卫生监督所了解到，全市正对6000多家美容美发店进行卫生量化评级，A级为优秀，B、C级为一般，D级为差（不予卫生许可或责令停业整顿），各营业场所必须对自己的等级牌匾进行公示。此举在全省首开先例。</p>
  <p>　　据了解，全市美容美发业卫生监督管理量化分级计划明年底完成。</p>
  <p>　　审查严把卫生许可关</p>
  <p>　　据有关负责人介绍，在预防性卫生监督和卫生许可证复审换证工作中，依照《公共场所卫生监督量化分级管理指南》和《卫生许可审查量化评分表》要求，加???对美容美发场所的卫生硬件和软件建设的审查，从严把好卫生许可关，对达不到A、B、C等级要求的，或评定结果为差的单位不予卫生许可或责令停业整顿，逾期整改不到位的单位，坚决不能发证或换证。</p>
  <p>　　记者在评分标准表上看到，有14个条件是A级缺一不可的，其中包括理发美容用具消毒设施齐全，用无臭氧紫外线消毒柜消毒，并且要做到“一客一换一消毒”，有消毒记录，设置专门的烫染专间，配备传染病顾客专用理发工具并有明显标识。</p>
  <p>　　等级公示顾客明了</p>
  <p>　　在经常性卫生监督过程中，卫生监督部门结合评分标准对经营单位进行监督和技术指导，并对评价差的企业进行降级和清理整顿。通过复审换证，在卫生许可证上标记公共场所卫生信誉度级别，并颁发相应等级的牌匾，悬挂在醒目的位置。届时，顾客可以自主选择等级的美容美发场??消费。</p>
  <p>　　另外，卫生监督部门将通过加强经营单位负责人、卫生管理人员和从业人员的培训和指导，使经营单位自觉承担在保证公共卫生安全中的责任，促进自身管理水平的提高，杜绝危害公共卫生事件和传染病的发生。</p>
  <p>　　烫染气体刺激人体</p>
  <p>　　根据要求，理发座位大于五个的理发店要设烫、染专间，并有机械排风设施。但记者调查大部分的美容美发店都没有达到要求，一般都是一个大厅分成两边，一边理发，一边烫染，且多数都没机械排风设施。</p>
  <p>　　卫生监督人员介绍，烫发、染发熏出的气体含氨气，对呼吸道、眼睛有刺激，可能引起皮肤过敏。</p>
  <p>　　在普谰路一家理发店，店内生意不错，记者见到大厅内有八个座位都已经坐满，剪发、烫发、染发都在一起，烫发染发时的蒸汽在店内萦绕，空气中弥漫着一股理发店特有的气味。</p>
  <p>　　市民称赞挂牌监督</p>
  <p>　　记者就如何看待美容美发店卫生量化评级采访了一些市民和行业经营者。</p>
  <p>　　当记者问到美容美发时是否询问消毒，是否知道烫发、染发熏出的气体有毒时，许多市民表示并没有注意这些问题，理发前从来不询问理发工具是否消毒，觉得烫发、染发在一起十分正常。</p>
  <p>　　市民高小姐表示，毕竟消毒不是肉眼能够识别的，希望卫生部门经常监督。</p>
  <p>　　市民刘女士高兴地说，美容美发店挂牌监督是件好事情，可以监督营业场所，改进卫生设施，给顾客提供安全的消费环境，顾客选择场所有了标准。</p>
  <p>　　一些大型美容美发店有表示一定要拿下A级。一些小型美容美发店则表示拿A级不那么容易。</p>
  <p>　　数量大成监督难点</p>
  <p>　　据了解，由于美容美发业数量庞大，卫生设施薄弱，而卫生监督所人力有限，完善卫生设施???加强消毒和通排风成为监督工作的难点。</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGRmOGJhNzJkNDUyZWJlMTZlODE4.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>