<div class="left_art_zw"> 
 <h1>Berry Sweet半熟少女 or Champagne都市白领!你更爱哪款？！</h1> 
 <p class="left_art_zw_zz"> 来源：玫丽盼专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/13 11:08:33 </p>  
 <p class="dd"> 可人的浆果，宛如半熟少女新鲜甜美的容颜，2018年1月，让我们体验浆果色系带来的奇妙乐趣。 </p> 
 <div class="wz"> 
  <span style="font-size:14px;font-family:&quot;">可人的浆果，宛如半熟少女新鲜甜美的容颜，诱人的绯红和多变的色彩，带着迷人的鲜甜香气。2018年1月，让我们体验浆果色系带来的奇妙乐趣。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img src="/image/information/NTkzZWNiNTE1OTFmZDhiOWY1Yzlh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NzU5MzRmYTAxMjYwOWI2NDEzYzM0.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span style="font-size:14px;font-family:&quot;">柔美米棕色与璨金光泽的组合，闪耀香槟般瑰丽金辉，释放引人入胜的迷人魅力。2018年1月，姜橙米色与薄荷米色赋予秀发设计更华美动人的全新质感。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img src="/image/information/ODM1YmY4ZTc5M2ZhNmQzNzg5ZDFi.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTU2OWJlZTU5N2FkZTllZjk5NmZk.jpg" alt=""> </p> 
  <br> 
  <p align="center" class="wz_tp"> <img src="/image/information/NmRmOWE3OTY0Yjg5MTQ0OTE4Yjk5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>