<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：台湾快乐发型(HAPPYHAIR) 董事长陈景堂</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/24 16:41:05 </p>  
 <p class="dd"> HAPPYHAIR董事长陈景堂先生用三十一年的时间把品牌不断发展壮大，同时还组建了三十多个义剪团队。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">顾 问 &nbsp;陈景堂</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWE2MTU3MzE0NGQxYmIwMjk5OWIx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">陈景堂</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">台湾快乐发型(HAPPYHAIR) 董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">从业经历：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1987~至今，从业31年；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐剪烫专门店门店经理；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐剪烫专门店管理中心经理；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐剪烫专门店稽核经理；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐发型美容专业连锁加盟处处处长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐发型美容专业连锁人力资源处处长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐发型(HAPPYHAIR)营业处处长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐丽康企业副总经理；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐发型(HAPPYHAIR)执行董事。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzg4MzNhYjRlODU3ODI1MmY1YTlk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>关于快乐丽康集团</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/Njk1MjM0MDRhNjg2MTBjNDQxZWJj.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创立于1976年，从「快乐女子美容院」一家店，到「快乐剪烫专门店」、多家分店的「快乐发型美容专业连锁」，接着转型为「HAPPYHAIR」，到今日拥有六大沙龙品牌，代理经营日本、欧美优质商品、一百多个通路点，上千名员工的「快乐丽康集团」。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐丽康集团旗下包括五大发型沙龙——HAPPYHAIR、GENIC、V-SALON、LET’S HAIR、M-PALACE及养护品牌RECOME HAIR SPA，并领先业界设立虚实整合的专业发品电子商务网站BeautyLabs。另外发展香氛品牌「伊圣诗芳疗生活馆」、餐饮品牌「Solor Kitchen日光大道健康厨坊」、书店「伊圣诗私房书柜」以及寝具品牌「优居选品COYUCHI」，代理之专业发品事业包含「宣尼专业发品」、「AG HAIR」，更有「雅丰．菲仕美医疗事业」等，快乐成功整合发型沙龙、专业发品、芳疗事业、健康餐饮、医学美容及中医诊所等各领域品牌，成为台湾第一跨足各种美丽及生活事业的美学企业集团。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzI5Y2EyMWMyNWEyYmZiNjNmZGY2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>重视健康的沙龙品牌</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/YmFmOTE3MDIzYmU2YjJiYTEyZjhl.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐的发型设计师会针对顾客的需求仔细咨询、沟通，量身打造发型提案，并再次确认所有消费项目和??格，让顾客能够安心消费。造型结束后，设计师进行作品说明，同时教导如何居家保养及维护造型。消费结束后，设计师则会联系顾客追踪发型状况及满意度，这就是快乐主张的服务流程。希望顾客感受到精致细腻的标准服务，完整的造型过程、透明化的消费、丰富的人文内涵及领先市场需求的营销策略，快乐种种跳脱传统的作法，不仅打造发型沙龙文化的新印象，更带给顾客「感动服务」的美丽经验。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>快乐人的公益DNA</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZDAzMDE2NWMwYzZkNzc4N2U3ZDQx.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">慈济证严上人曾勉励快乐「除了洗发，更要洗心」，从此公益的理念深植于快乐。透过义剪、募款等活动的发起及参与，公益DNA在快乐人的心中流动。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">目前快乐约有三十多个义剪团队，设计师每月自发性的利用休假投入义剪，在各地教养院、养老院、安宁病房、偏乡学校等地义剪。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">除了各项公益活动，快乐内部也成立「快乐丽康关怀基金」，主要使用于员工的急难紧急救助、弱势员工家庭照顾，近年来更扩大基金公益用途如推广环保、社会救助等，也数度在国际间发生重大灾难时，提供???急救难之捐款。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2003-2016年间，快乐于内部发起募款，打造四台「快乐天使号」捐血车及一台血液运送车，捐赠给台北、台中、台南以及高雄捐血中心，为各地需要「热血」的人服务。集团旗下的雅丰．菲仕美医疗团队也经常与快乐、伊圣诗各品牌共同下乡或上山，为学童及老师举办义诊、捐赠活动等。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>关怀弱势，爱护地球</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/YjA3OGEzOTYwMGIwZDY4OGY5ZTgy.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2009年，快乐将「世界地球日」前一周、也就是4月15日订定为「快乐地球日」，并举办一系列有关环保、健康等主题的活动，从倡导员工「蔬食、搭乘大众运输工具、提早一小时关招牌灯」等三件事，到参与国家地理频道所举办的世界地球日活动，将多吃蔬果、使用环保袋以及落实资源回收等观念传递给社会大众，2009年更与日本REAL公司共同合作「内蒙古种植落叶松」的计划，旨在于减缓沙尘暴为地球所带来的危害。延续这样的公益意念，2012年快乐在三莺陶花源地景公园种下227棵台湾原生树木，打造「快乐森林」，为挚爱的土地尽一份永恒心力。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Mzg0YjYyZjZiODhiZDI0MGQyZjlj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">我们不断以各种形式活动让快乐的公益理念「关怀弱势，爱护地球」具体呈现在大众面前，不仅全体伙伴投入其中，更希望能够带动顾客共同参与！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>快乐绿色行动</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MzI4MjIzMzhjYmYyNWI3ZDM3MGVh.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">由伊圣诗芳疗生</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">活馆、日光大道健康厨坊与环资协会、政府单位共同合作举办的的「台北地球日」，连续多年以「绿色艺术市集」为主轴结合在地小农、爱地球歌手、环保手作达人，共同策划出农夫市集、创意市集、乐活艺文音乐、绿色影展等活动，展开台湾最具特色的绿色嘉年华！藉由伊圣诗散播环保的乐活种子，希望把爱护土地、珍惜资源的信念传达给大众。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>快乐E化　始终领先</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MzJhZWM4MDc3NGYyZWEyNjA0YWY4.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>业界首创 &nbsp;开发APP软件</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MDUwZjM0OTg4MTJmOGE1NmQ2MTMw.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2012年因应手机、平板计算机等行动??置普及化，更领先同业推出互动版APP「快乐发型书」，应用程序中累积超过万组发型作品，并提供GPS定位查询以及网友上传造型功能，丰富的内容使得「快乐发型书」APP一上架就获得台湾及大陆、港澳地区网友的热烈下载，iOS以及Android版双双荣获了下载数第二的排名，台湾品牌HAPPYHAIR凭借着丰富的网络内容跃升国际，成为令人瞩目的时尚品牌。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>BeautyLabs</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NThhZTVhNjMwMjcyY2E0OWE3NzVl.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2014年成立的「BeautyLabs专业沙龙发品购物网」，是台湾目前唯一以专业发品为诉求的购物网站，贩卖的产品皆是经过快乐丽康集团专业团队所精选及认同的高质量商品，可说是全台最权威的专业发品购物网！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">BeautyLabs结合快乐丽康集团所经营的专业线之商品！并由HAPPYHAIR、GENIC、LETS HAIR、V-SALON、M-PALACE、RECOME HAIR SPA之设计师及芳疗师驻站，各种头皮问题、恼人发况、最新趋势的护理及造型潮流，都能够在这里找到适合您的解决之道。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>众多媒体报导与国际品牌合作</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/YjEwYWEyMzhhZDVhM2Q0MTNmZWVi.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快乐丽康集团以「时尚生活美学」串连旗下各品牌，提供精致、感动服务与优质的产品，不仅深受顾客肯定，更获得众多影视、平面媒体及国际品牌的专题报导或邀请合作，包含苹果日报、自由时报、女人我最大、Fashion Guide、中天电视、民视明日之星以及国际中文版杂志与网络平台等媒体，更与国际美妆品牌包括DIOR、SISLEY、CLINIQUE、雅诗兰黛、伊丽莎白雅顿、娇兰、植村秀长期配合。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>畅销发型书　风靡华人世界</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MTAyYzc2NGVhZWQxNWYzOGZhNjcx.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">羡慕网拍正妹们多变又好看的发型？2012年6月，明星造型师Miyake所编着的畅销生活类书籍「网拍正妹都想偷偷学的不败编发全图解」，内容邀请了Miyake打造出一百款正妹最爱的编发发型，由十一位当红网拍模特儿如可比、妞妞、玮玮等友情跨刀，更有数十位艺人及明星??心推荐，本书内容具相当可看性与实用性，不仅于全台书店通路销售，更进入博客来书店生活类新书销售排行榜前五名，并在马来西亚及中国大陆上市及销售。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODUzYzcwNTEyMzAzODY3YTExODQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2013年，与台湾大型出版公司城邦集团合作，由尖端出版社邀请HAPPY HAIR旗下品牌十大人气设计师Fabe、Iven、Ivy等担任作者，共同创作并发行「百万部落客、网拍麻豆都想学！10大人气造型师教你打造超韩系正妹发」一书，蝉连博客来畅销生活类书及排行榜，同步于海峡三地及马来西亚???市销售。是台湾第一本以韩国当红女明星为主题，与百万部落客、知名Model等人亲身示范的发型书，简单六步骤让读者能够轻松完成令自己也迷恋不已的明星造型！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>会员中心　忠诚度最高的美丽顾客群</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZDY3MDVmMDk1OGZhZGRhZDAwZDcw.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">HAPPYHAIR领先业界首创会员中心，建立系统化的会员服务制度。会员除凭卡享有消费优惠，活动月更有专属折扣与不定期商品特惠，以及精心为会员准备的快乐好礼。会员中心所发行的双月刊H2-CLUB，提供丰富的时尚流行及美学信息，锁定女性族群，发行量超过十万份，不但抢先预知时尚潮流，更成为各大国际媒体及知名品牌争相合作的刊物。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>会员讲座与VIP主题活动 从内到外的生活美学体验</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">会员中心不定期举办各项免费会员讲座课程，举凡香氛、手作、环保、时尚饰品等内容，让会员享受美学生活的乐趣！近年来，会员中心固定每年举办一至两次会员专属电影特映会，挑选经典或女性议题优质电影，在北中南三地同步放映，让会???顾客从外在到内在都能实践对美的追求。快乐不仅能满足会员顾客发型的时尚与健康，更令其感受VIP级的生活美学体验。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>RECOME HAIR SPA</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZThjYzY0NTcxZmE2MmE2MjM1NDFl.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立：2013年12月</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">品牌简介：承袭畅销十余年的快乐发型NO.1 HAIR SPA所???造出的养护专业品牌「RECOME HAIRSPA」，陆续进驻HAPPYHAIR分店，不仅引进专业芳疗师培训计划，更结合头部肌肤养护专业、植物香氛疗法及发质护理科技，为人体最重要的头部彻底纾压，让头皮肌肤趋于平衡稳定的状态！除了时尚、更令发丝拥有健康、纯粹、自然的完美呵护，同时为各商圈中的HAPPYHAIR带来更为升级的保养专业。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>V-SALON</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/YTJhNjM0NDhmNDY1ZjQ0ODI1NWYz.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立：2005年5月</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">品牌简介：V-SALON是由快乐发型所成立的培训沙龙。快乐的准设计师在分发各店以前，将进入V-SALON四至六个月的时间，与顾客面对面进行专业服务的实战训练。V-SALON设立于台北最精华的东区，这不仅是一大创举、更是一项高成本的投资，目的是希望年轻设计师们在这个与全球时尚同步的区域工作时，能够激发出更多的创意！采取全程一人服务制的专业发造型团队，V-SALON令顾客感受到物超所值、无微不至的贴心服务！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>宣尼专业发品</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZDYxYzRiNzJmMGY1NmU5ZGE1ZTE3.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立：2002年9月</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">品牌简介：快乐旗下之沙龙专业发品代理专业，坚持选择效能最佳、最天然纯净的发品，因为只有高质量的发品，才能创造有质感的秀发。代理品牌包含来自日本的REAL，旗下最具代表性为萃取自天然花植色彩的植萃养发系列；意大利EMMEDICIOTTO则具有国际性专业美感。宣尼严谨为产品质量把关，创造「形、质、色」合一的完美造型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>REAL</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MGZkMDExODA3MjMxYjcwODJiMmRh.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立：1945年</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">品牌简介：来自日本的高质感专业沙龙级发品品牌「リアル化学株式会社」。经营人岩崎社长为化工博士出身，深切了解产品质量的好坏为企业首要的重点，因此企业理念为「人を美しく、地球を美しく &nbsp;人美，地球也美」，产品??发首重健康与质感，采用大量天然成分，并减少使用化学物质，产品包装更选择环保材料，并首创使用低碳太阳能板工厂，从研发到制造都将对环境的伤害降至最低。经营理念与HAPPYHAIR不谋而合，因此独家引进，相信其充满质感的专业发品能够为顾客带来全面性的型、质、色修护。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">最具代表性的产品首推「植萃养发Botanical Color」，100%萃取自天然植物成分用以蕴养发丝，打造「水润」、「柔软」、「弹力」、「清爽」的养发新概念，不仅能够调整染后秀发光泽，使其流露细致透明光彩，更令每个人都能拥有强韧发质。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTY5ZjBjZjQzNmRlZmZkMWVkZDhm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>EMMEDICIOTTO</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ODc5NWEyZGRjZDM3YTBhOTQ0MjY3.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立：2004年</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">品牌简介：迄今已营销世界二十三国的意大利专业发妆品牌EMMEDICIOTTO于2013年9月以台湾为亚洲第一站，并选择HAPPYHAIR旗下品牌沙龙为上市起点。品牌创办人暨全球创意总监Mr. Mauro Sopranzetti在十八岁开始了他的设计师生涯，过去二十多年曾担任全球知名专业发品的国际创意团队总监，精通发型造型与保养，透过无数次在时尚城市的旅行，了解世界各地不同的需求，以此打造出解决各项发丝问题的专业发品，丰富的经历更造就了卓越的发妆技术与know-how。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">EMMEDICIOTTO旗下系列以不同数字与颜色对应不同发妆品特性，不仅使设计师与顾客的沟通变得更简单容易，更透过每日对肌肤与秀发的细心照顾，表达出健康自然的个人品味与形象——这同时也是品牌所展现的美丽哲学「呵护秀发，如同呵护肌肤」。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzJjNDI5N2VkNjU1MzQ5OWUyNzFm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmQzODY5YjVmZDMxMmVkMWY1MDIz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTdkOGVmMzhhZTcwOTIwNmNhNjM1.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzNjZjhiYWRiZjI1NDU1NWM3YTYy.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>