<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：香港发哲学院Chinology academy创始人徐翰章</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/25 14:28:04 </p>  
 <p class="dd"> 香港发哲学院是一所既能充分理解市场，又能保持开阔世界观和高品位审美的专业美发学院。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">顾 问 &nbsp; Norman Chui 徐翰章</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTgwMjQ4M2M0ZTg5YWQwY2ZkZDkz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Norman Chui 徐翰章</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">香港发哲学院 Chinology academy 创始人，Norman经常游历于世界各地交流观摩。虽然香港发哲学院Chinology academy 扎根香港，教学范围却包括大中华地区及东南亚各地。在中国地区发展教育已超过15年，既能充分理解市场，又能保持开阔的世界观，技术观念升华???东西方的结合及高品位生活所带来的感悟。同时也是英国伦敦沙宣“Ultimate Master终极大师〞证书获得者。2012年底于上海成立香港中国发哲大师学院上海旗舰店。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODk4YTUzZWQyZTNiMmY4MGE0NGUw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>艺人合作：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国内着名艺人胡兵、翟颖、潘虹、陈冲、宋佳等发型、形象顾问。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>品牌合作：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国际名牌<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>产品〝歌薇 &nbsp;GOLDWELL〞中国地区技术总监；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">露华浓REVLON(HAIRCARE ELECTRICAL APPLIANCES)中国总经销创意总监。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>秀场造型及时尚大片制作：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国内各大服装品牌服装〝Gianni Versace〞、〝Nina Ricci〞 、〝Trussadi〞、〝Escada〞等发布会发型总监；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">为国内顶尖服装设计师黄新元、张肇达、博涛、赵卫国、唐炜等服装册拍摄创意发型；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国内着名服装杂志〝Elle世界服装之苑〞、〝Frends风采〞、〝新现代画报〞 、〝Fagaro追求〞、〝L＇Officiel魅力〞，香港〝BAZAAR时尚芭莎〞、〝Jessica〞专用发型师；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国内着名发型杂志〝美发态度〞专栏作家，提供个人美发创意及世界各地见闻；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">为少数华人发型师创意被刊登在〝伦敦金融时报〞及国际版艾丝〝ESTETICA〞杂志。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>对外培训：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">上海六星级酒店〝Grant Hyatt 金荗凯悦酒店〞高级员工形象培训；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">香港发艺学会〝GOLD CLUB〞顾问；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">香港〝有线电视〞CEO、国内〝三???重工股份有限公司〞CEO个人发型形象顾问；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">香港教育统筹局〝美发专业技能提高课程〞之深造剪发课程导师及高级染发班导师。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>国内及国外经历：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">香港职业训练局美发业〝过往资历认可〞评核员；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1998年-2004年GOLDWELL合作多城市开发艺术发布会；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1998-2012被邀请出席参与全球各大型国际发型活动嘉宾；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2003年在台湾的台北、台中、高雄三大城市举办教学发布会；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2003-至今创作季节性时尚系列发型全球发布；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2005年-2007年两届〝中国发型师年会〞首席表演嘉宾；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2006年CCTV第一届中国发型大赛评委；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2007-2011在东南亚多国城市巡回举行发型秀；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2008-2010在全国多个城市举办“发哲”技术概念发布会；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2012年于上海开办香港中国发哲大师学院(chinology academy)</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2013年10月担任GOLDWELL〝全球色彩大赛〞亚洲首席评委；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2014年9月被邀请去美国芝加哥为当地连锁示范讲解发哲技术；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2014年11月被邀请加入亚洲发型师协会(AHA)，任亚洲艺术总监</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2015年6月于亚洲发型师节(AHF)代表中国演出国际大师秀；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2015年6月在上海及11月在韩国首尔代表中国，在亚洲发型师节的国际大师Show演出；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年6月在上海代表中国，在亚洲发型师节的国际大师Show演出。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjQ3MzhhMzNkYWFkMWYwNzJhYWEz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzYxNzVkYjdlZGEwYmFlYjkwOTRh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzM2ZWMzNWRkYmZiMGJmMGUxZmRj.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjE4ODdmOGNiYWRhNjBmZGNhNGI0.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>