<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：台湾A Salon美发彩妆造型连锁董事长吕长安</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/20 15:08:39 </p>  
 <p class="dd"> 绿色经营、稳健成长、循序渐进、基业长青，是爱沙龙经营的核心宗旨。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">顾 问 &nbsp;吕长安</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGZiMzdhZDY2NDY5YmRhOWVjYWJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">吕长安</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">A Salon<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>彩妆造型连锁董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">A Plue艾普络斯时尚集团执行长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">AHA亚洲发型师协会台湾区常务会长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">唯可漫国际经管顾问公司经管顾问；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">台湾省女子美容同业公会联合会连锁店顾问；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">台湾美发沙龙网时尚专栏经营管理专栏作者。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">语录：因为专注 所以专业</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">毕业于台湾美术名校，1995年却进入了美发行业，2000年开始专研美发行业的经营管理。10余年来走访欧美与亚洲各国发型沙龙，醉心于研究各国美发沙龙文化的差异与环境变迁后的因应之道，对于美发技术与艺术如何融合，商业与专业如何共存有着非常独特的见解，因为全心投入行业，这个工作对他来说已经不是工作的范畴或经验的积累，而是个人生命的主体与人生使命！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">对于行业的提升与两岸的交流一直是吕长安最大的兴趣与抱负，2014年亚洲美业金紫荆大奖于台湾举办，他号召串连台湾老中青三代美业菁英共襄盛举，将台湾美业文化与实力展现在亚洲各国代表面前，开创了台湾美业发展史上难得的行业大团结，更让亚洲美业人士对台湾美发有了更新的认知与定义！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njk5YWNmNWUxZTBlNzQ4NGYyNWRj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzQ0YTBlMmE1YzA2NDQxNTAzNjEw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmJlOGQ2MTFlYjFjYjQ0MTRmN2Ey.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDNmNGY0M2ExYjBiNzU4OTQ5NjRi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDZkMWU1OTFjOGMwNGQ4OGExYmM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>A Salon美发彩妆造型连锁</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">由创始人吕长安先生2001年成立于台湾台北，本着专业分工与客群精准定位的多品牌经营模式活跃于竞争激烈的新北市、台北市，旗下拥有客层明确的三个品牌，分别为以白领阶层为消费群体的A.Salon美发彩妆造型，以年轻学生为消费群体的us salon，以及专作染发、护发的A.Color(爱卡罗专业染护沙龙），目前共有52家门市分布于北台湾。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">绿色经营、稳健成长、循序渐进、基业长青，是爱沙龙经营的核心宗旨。因此爱沙龙百分之八十五以上的同事都是由助理位阶经过公司循序渐进的教育系统培训成为店内设计师，而百分之五十的员工在体系内任???的时间都超过10年。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">A.Salon总管里处位于台湾台北最繁华时尚的东区，因为交通方便又有时尚的环境背景，是各分店主管及员工开会、上课与交流最好的场所，总管理处设有营运部、教育部、美材部、人资部、财务部等五大部门，提供与控管着旗下门市的营业数据与营运需求，并不断的取得国际信息与技术资源，源源不断提供给旗下门市员工成长茁壮的养分，这也是A.Salon确保稳健成长、基业长青的核心竞争力！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDJkNTUxZjY0YjA4M2UwZjRkOTYz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTc0ZjY1ZTk3Yzk1YWFjZDBlNzUz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWEwODgxYzBlNzBlODBmYzgxNGY3.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzJiMzI5NzkxMmNhMDQwNGJhMzM4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>