<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：西安爱克斯形象设计管理有限公司董事长陈立功</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/20 15:01:38 </p>  
 <p class="dd"> “让顾客更满意，让员工更幸福，让企业更壮大”是陈立功长期以来奉行的经营理念。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">顾 问 &nbsp;陈立功</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTA1ZDUxZTVkYTJjZjA2NjkyMzQz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">陈立功</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中国人民公安大学毕业，本科学历，学士学位。西安爱克斯形象设计管理有限公司董事长；陕西省和西安市知名品牌X21商标持有人；第五届陕西省美容<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>化妆品业协会副会长；西安思源学院???物形象设计专业美发设计与管理教研室主任；2006年中国美发最具影响力人物。2008年中国美丽产业年度人物奖“奉献金奖”。多次获得陕西省美发行业特别贡献奖、最具影响力人物奖等荣誉。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">陈立功于1998年创建X21美发品牌，X是西安汉语拼音第一个大写字母，21是指二十一世纪，寓意是在21世纪，把X21做成西安市、陕西省乃至全中国知名品牌。现在已经获得陕西省工商局颁发的“X21”陕西省知名品牌和西安市工商局颁发的“X21”西安市知名品牌，实现了第一步和第二步目标。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">“让顾客更满意，让员工更幸福，让企业更壮大”是陈立功长期以来奉行的经营理念。1998年从日本学成回国后，他把国外先进美发理念与国内美发行业传统运作手法相融合，??时将日本的管理经验与公安大学的知识有机的融合在一起，1999年在中国较早创建自己独特的管理体系，经他设计制作《美容美发管理信息系统》软件，通过将十几家店联网，实现了网络化管理。他带领X21管理团队，结合公安系统及饭管理系统的精华，经过十九年不断总结和提高，形成具有鲜明特色的X21管理模式，使得X21在西北乃至全国美发界日渐享有盛誉，引领西北美发业最新潮流并成为行业风向标之一。2006年5月他与西安思源学院联合创办《人物形象设计专业》(发型设计与管理)两年全日制大专班，并设有美发试验店，以保证学生技术提升。为提高美发行业从业人员整体水平做出重大贡献。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTJhOGQ4ZmQ3YTFhYjdkMDJmZDYw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGU5MGU0NDFhOGU3ZWViY2IxOTNh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDQ3YTQxM2Q2YWNhOGFmNzM5NDhi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWZmZWY4OTY3YmVkNzJiYTMwZDYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzU1YTI4YmExMWRkYzdhNmVlMzBi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGZlNTI1NDc3YTIyYWIzNmMxMzk5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>爱克斯形象设计管理有限公司</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">X21成立于1998年5月12日。是陕西唯一家同时拥有“五星级美发店”和“特级美发店”行业最高品级的美发连锁机构。现有直营连锁店14家。X21是全国最早设计使用并拥??美发管理系统的美发企业之一，1999年就为每位会员都建立详实的个人电子档案，以便能对顾客进行有针对性的个性化服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1993年X21创始人陈立功东渡日本学习美发；1998年5月12日，X21第一家营业面积为230平米的南新街店开张，此后在西安热门商圈陆续连开了十几家店，业务蒸蒸日上，在古城美发界逐渐叫响名号，现已发展会员6万余人。X21奉行“让顾客更满意，让员工更幸福，让企业更壮大”的经营理念。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">X21的员工具有很强的集体荣誉感。他们经过每年不间断参加素质教育、技术培训、外语学习，严格的升级考核，以及旅游、演讲、发型比赛等一系列活动，个人素质和能力得到了很大提高。就像员工自己谱词谱曲店歌所写的那样：“为了顾客更??意，我们用心的做，为了企业更壮大，我们努力工作不怕苦”。他们本着这种热忱及不懈的追求，不断提升和完善自己，得到顾客及同行好评。除在陕西省各种美发大赛获得很多奖项外，还在各种全国美容美发技能大赛分别获得优异成绩，2006年还有两位员工代表中国参加第31届亚洲发型化妆大赛，取得两个第二名的好成绩。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2006年X21与西安思源学院联合创办美发大专班，全日制，学制两年。到现在共有学生三百多名。美发大专班把为美发业培养高级技能型人才作为学院的追求，把教会学生“是什么”、“做什么”、“怎么做”作为培养学生的逻辑出发点和归宿，使学生了解和掌握“我知道什么”、“我会做什么”、“我该怎么做”作为价值取向，并在实习实训中充分得到锻炼。学生毕业后，分别在陕西省??广州、北京、上海、江苏、四川、西藏、甘肃和宁夏等地就业和从事美发经营。随着一届届学生毕业，会进一步提升美发行业整体水平，为提高美发人的社会地位做出更大贡献。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MThkZmFkZWY1Nzk0ZTJlM2Y2NzNk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTJhY2MxYTFlNDY1MzEwYmRjYzhi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWE1ODQxZTMyNmY4MzYxMmMxN2Uy.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzE2NWY3NDFiYzUyMDkzZjk5MGE1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>