<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：北京付军剪艺专业连锁创始人兼技术总监付军</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/21 11:38:49 </p>  
 <p class="dd"> 以工匠精神严格要求自己，每一道工序都要做到精益求精，只有拥有工匠精神的积淀，才能达到事业的高峰。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">顾 问 &nbsp;付 &nbsp;军</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NGIzZmU2MmIyMzk0ZjMzNjZhN2Fl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">付 &nbsp;军</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">付军剪艺专业连锁创始人，技术总监 ；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">毕业于北京师范大学美术系；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">进修清华大学经???管理学院高管教育中心高级时尚与奢侈品管理课程；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>获得荣誉：</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">精工杯美容<a href="/cg/2.shtml" target="_blank">美发</a>大赛女子组季军（1998年）；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">精工杯国际美容<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>大赛评委（1999年）；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">远东区国际美容美发大赛评委（2001年）；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">亚洲美容美发大赛中国队教练（2004年）；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">亚洲美容美发大赛评委（2006年）；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">荣获《美在中国》中国当代60位造型师称号（2009年）；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">中国美发奥斯卡行睿榜标杆人物；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">国家级专业美发考评员。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MzIyMGFhYWNiNWI1ZjAzYWE1NTlh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MmFiNjM2OWJhZTJjNjY0ZTUwYjU0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzhlMTI2MWE1OGQ1MTg1ODJlZDAy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>北京付军美业时尚管理咨询有限公司</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">由付军先生始创于2001年，旗下有付军剪艺及Just Fashion两个专业品牌。现拥有8家付军剪艺专业美发沙龙、1家Just Fashion高端美发沙龙和1所专业美发教育中心。2009年被精品网、搜狐网、美容时尚报、风尚志等多家媒体评为最受信赖美发沙龙奖。JF教育团队成员多次受清华大学、北京大学、人民大学、北京师范大学等众多名校邀请进行形象讲座。在过去的几年中，付军剪艺不仅用心做好企业，并且还???极参与公益活动，做好爱心企业。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>企业愿景：</strong>构筑发展平台 、成就你我梦想——打造具备上市资质的企业。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>企业核心价值观：</strong>明道而远、聚力而起、由善而达、构筑发展平台、成就你我梦想</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>企业发展理念：</strong>向下扎根、自然会枝繁叶茂</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>企业经营理念：</strong>时尚、专业、品质、品位</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>企业服务理念：</strong>为消费者真诚着想的服务才是服务，让顾客愉悦的服务才是服务，超出客户预期的服务才是服务。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>企业技术理念：</strong>以工匠精神严格要求自己，设计每一款发型，修剪每一束头发，烫每一个发卷，染每一片头发，每一道工序都要做到精益求精，工匠精神的积淀，才能达到事业的高峰。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>员工精神：</strong>勤勉、快乐、卓越 —— 坚持成就未来。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZTkxMWQ2NmI1ZjdhNjQ0M2IwYWYz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZmRmMGQzOGI0OWQ3OWU4Yjk1ZmNh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzdjZWNhZTc0YTc5YTc0ODc0MDIy.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YmRmMTIyMGViOGFjZDIzMGIyNGUy.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>