<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：台湾名留集团董事长郑茂???</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/20 15:12:38 </p>  
 <p class="dd"> 1982年，第一家名留国际剪烫染护专业沙龙总店在台北正式成立。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">顾 问 &nbsp;郑茂发</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzY0MDFhODdhMDhjY2E2NjYyZWY4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">郑茂发</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">台湾名留集团董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">名留国际股份有限公司董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">名丽生技股份有限公司董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">名瑿医美股份有限公司董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">大中华卓越企业??协会第二届理事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中华全球台商协会副会长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">两岸大中华健康产业协会副理事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">北京大学商学院第一期结业；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">清华大学法学院第五期结业。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDJhNWY0NWU1ZDA4ODg4ODRjOTBl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmFmYTAzMTkxZjk3ZjllMDM0Y2Qx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmQ2Mjg4MWNhYmU0Mjc1NmMyYmIy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzY0NWY1NTgzODkyMTRhYTNjYzk5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTJjMjU4OGVjZWZmNjQ5ODE1MWM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTI2N2FkMjBhMjdjOGNhYWU0Yjc4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDYwMzU2OTIzZWY0Y2MzZmVkN2Yw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>名留集团</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>——台湾最美丽的一块版图</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>看见名留</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">名留集团创始于1982年，创办人也是现任的董事长郑茂发先生花了三十余年的心血一手建立出「名留、上越、PS、AT」等四个连锁<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>品牌，全省展店近三百家并扩大事业版图跨产业成立「名丽生化科技公司」、「名瑿医美诊所」、「MyHair生发植胡中心」及「瑿美人SPA」，坚持以「顾客满意就是名留存在的价值」为事业经营的核心理念，希冀提供台湾消费者最好的美丽体验。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>资深名店 经典地位</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1982年8月第一家名留国际剪烫染护专业沙龙总店成立于台北市中山区的农安街上，开店初期就以精致质感及新潮发型吸引明星艺人及政商名流趋之若鹜，其中又以1号红牌设计师郑茂发为所有名人的不二选择，曾经服务过的明星有当时红遍全台秀场的高凌风及其合音天使阿珠与阿花还有亚洲歌唱女王邓丽君，其它如刘瑞琪、方芳芳、张菲、胡瓜等人皆是店里常客，名留总店在当时台北人的心目中逐渐成为了一家影视歌星的专门店也奠定了名留集团日后在台湾美发界的经典地位。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>顾客满意 分众服务</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2000年5月名留集团跨出了最重要的一步，当时「名留国际剪烫染护专业沙龙」总店数已达37家但董事长郑茂发先生为了满足不同族群的顾客需求于是创立了名留集团第二美发品牌「上越国际发型」，并强调以日式的品牌风格去满足哈日族这群顾客的喜好。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2003年1月及3月名留集团更将分众服务的理念发挥到淋漓尽致，分别在交通便利的人潮汇集的精华商圈内积极设立了「PS国际发型」及「AT国际发型」这两个美发品牌，目的就是要提供年轻顾客更新潮及更有活力的快速时尚。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>创新服务 业界指标</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在这样一个传统的美发产业当中，名留集团除了拥有最优质的技术之外还积极提供顾客「传统产业、创新服务」的全新感受，从动辄超过百坪的消费空间到结合科技与娱乐的复合式大店，处处都是为了更贴近市场并且超越顾客期待，在店中所营造出的多种特色如：主题风格概念店、设计师变装秀、自助无限饮料吧皆是跳脱传统产业的经营模式并以创新服务成为业界仿效的指标。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>跨足生技 进军医美</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2010年由名留集团引进了JEAN CARE的保养配方，在长时间的测试及实验下终于研发出最贴近消费者的产品，为了将这份美好分享给名留的每一位顾客于是成立了「名丽生物科技股份有限公司」，秉持着真心呵护、专注完美的品牌精神把最安全及最有效的保养品提供给大家，这一切只因为「You Care,We Care More 您在乎的 我们更在乎」。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2012年筹备5年之久的名留医学美容事业，终于由一群在医界各领域的菁英所组成的医美团队来共成创立并取名为「名瑿医美诊所」，每一位名瑿团队的成员都有着高雅时尚的审美观及温柔细心的巧手并运用最专业的医疗技术搭配最新进的仪器设备，就是要让您在变年轻??变漂亮之余更能有被宠爱及被呵护的感受「My Doctor Is Your Friend!」是「名瑿医美诊所」的宗旨与目标，强调最能贴近您内心的医疗关怀为本质。由衷希望团队里的每一位医师、工作伙伴都能成为「你或你的」好朋友！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>以人为本 永续经营</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">名留集团董事长郑茂发先生认为『人才决定市场』也是企业的根本，所以不管是小从助理大至高阶主管他都抱持着感恩的心来与员工相处，除此之外更重视员工的教育训练，小从基础技术课程大至激励心灵成长皆有全方面的培训计划，同时郑董事长也不断的应邀到四处演讲回馈社会，台北科技大学、经国管理暨健康技术学院及各大专院校、高中职乃至企业团体、社团法人都有他的身影，立足台湾美发界??有以人为本并不断提升自我的软实力，才能造就名留集团在高度竞争的大时代里还能够不断成长、永续经营的成功法则。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzM5YzkxNmE0MzEyMTZhMTBkYzgx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmJmMTUyZjBhYjhmNDExYmQzODA1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGE0ZmUwYTQ4NWM1NmY0MmVmNjYw.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjE0MDIzOTU4NjYzZjEyNTIzMmJi.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>