<div class="left_art_zw"> 
 <h1>CBC中国美业企业家俱乐部顾问：??疆小司发艺创始人司俊涛</h1> 
 <p class="left_art_zw_zz"> 来源：美丽公益事业传媒供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/14 16:52:23 </p>  
 <p class="dd"> 小司发艺1988年创立于新疆乌鲁木齐，至今已有27年的品牌历史，目前拥有五家高端店面。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBC中国美业企业家俱乐部 China Beauty industry entrepreneurs Club</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">顾 问 &nbsp;司俊涛</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YThmZDY3N2ZkMGI4YjBhM2RlM2Jl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">司俊涛</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">小司发艺品牌创始人；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">小司传媒有限公司董事长。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTBlZjk0NjU0Y2FmZjBiYTMxOGUw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWFkOTVhNTE1YTY5NzFkYzRjNTQ0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTUzNGJhZmE2NTkzYjA0ZmIwM2Nm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGM1ODAzYjJmZjRjZGU4NGE5ZjMz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDUyMTkzZjlmNTRkNDc5MjBjNTE3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>小司发艺</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">小司发艺1988年创立于新疆乌鲁木齐，至今已有27年的品牌历史，目前拥有五家高端店面，并于2014年成立小司传媒。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">小司发艺拥有高素质技术团队百余名，懂技术、善管理的核心管理者二十余位，技术研发和教育传播者十余位。形成从技术过硬到管理完善升华至教育传播的健康、良性可持续发展。秉承以诚信为核心、技术为根本、服务为特色的经营理念，得到社会和顾客的一致好评认可，树立???好口碑。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">小司发艺创始人、小司传媒有限公司董事长司俊涛先后被推选为法国<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>师协会(HCF)新疆区主席、欧莱雅品牌全国创意导师、国家级美发师高级评委、国家级发型大赛特邀评委、全球美丽小姐总决赛评委等。为推动新疆美业做出巨大贡献，带领新疆美业与全国同业交流、以及与国际接轨，小司发艺用对行业的热爱、对社会的责任，继续谱写新疆美业新篇章！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjBhYWIxZGQ3MGIxZTE1MDkxNzAz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzhjOTNmNjNhYjEwYmQ0ZjE0MWQx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmI2ZjJmYTdmZDhhMTg1NWIwYjY4.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjUzNzdkNTZjODc4YWM1ZDkzNWMx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>