<div class="left_art_zw"> 
 <h1>Design In China丨名姿美发学院&amp;“金顶奖”得主计文波跨界演绎“金鱼”主题秀！</h1> 
 <p class="left_art_zw_zz"> 来源：国际沙龙美发节组委会供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/6 13:17:02 </p>  
 <p class="dd"> 中国跨界的桥梁开启，孵化人才推动中国美业发展，引领全球潮流趋势。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWI3ZWIwM2YwZGUzMzVkNDYzZmRm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTdhYWViNzgwZjI3ZDY4MDE1ZjVm.jpg"> </p> 
  <span style="font-family:&quot;font-size:14px;"></span>
  <br> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>中国跨界的桥梁</strong></span> 
  </div> 
  <span style="font-family:&quot;font-size:14px;"><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">培训界“黄埔军校”——名姿<a href="/cg/2.shtml" target="_blank">美发</a>学院&amp;服装界奥斯卡奖“金顶奖”得主计文波大师联袂主演跨界大师秀主题——《金鱼》。中国设计崛起，时尚*技术；发型*时装，整体形象高定新时代。【中国梦】不是copy in china;而是design in china</span></span>
  <br> 
  <br> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>孵化人才推动中国美业</strong></span> 
  </div> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">MiZi<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>学院被誉为“中国黄埔军校”</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">被中国美发美容协会授予“中国美发美容名校”。</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">创办24周年来，全国拥有5所学校，每所学校拥有800--2000平方米的时尚美发美容模拟沙龙教育空间，MiZi美发学院一直是制造美发明星梦的摇篮。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjgzN2UwNzk3YWZhYmU1OWU3YzBm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTQzOTMwY2Q5ZWVjMjA2Y2FhZTQ0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTk1N2I5NWM2MmNlMjNjNTMyYWVl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTc5YThjZjE0ZjA5ZjM5M2YyZDhl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODg1OTdmMDYyYjYyMGRhYzQ1MTQx.jpg"> </p> 
  <div style="text-align:center;"> 
   <br> 
  </div> 
  <span style="font-family:&quot;font-size:14px;"> 
   <div style="text-align:center;"> 
    <strong><span style="font-family:Microsoft YaHei;font-size:14px;">引领全球潮流趋势</span></strong> 
   </div> </span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp; &nbsp;联手英国、日本、西班牙、韩国等世界顶尖美发美容权威机构，采用科学先进的教学模式，为中国美业孵化人才30多万，可谓是桃李满天下，成就国家美业栋梁之才，推动中国美发行业问鼎世界美发最高殿堂引领全球潮流趋势，定义未来中国美业之路。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGNlNDFjYzNjMTFkZmFhY2VkNTQ4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDc0MmNiMmFlMjlhMWZjNjY2MTVj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span style="font-family:&quot;font-size:14px;"> 
   <div style="text-align:center;"> 
    <strong><span style="font-family:Microsoft YaHei;font-size:14px;">服装“奥斯卡”金顶奖</span></strong> 
   </div> </span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">服装“奥斯卡”金顶奖得主——计文波先生。</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">现已成为国际知名时装设计师</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">中国服装奥斯卡“金顶奖”获得者、</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">上海国际时装周时尚功勋名师、</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">BQ红人榜时装设计大师、</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">中国《时尚先生》终身成就设计大师</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">中华礼服设计大师、</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">中国首位入选米兰时装周官方日程举行专场发布的中国设计师和品牌、</span>
  <span style="font-family:Microsoft YaHei;font-size:14px;">同时首位以外国设计师身份进入东京时装周举行专场发布的中国设计师。</span>
  <br> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGEyZGZjZjI3NGNmZDZhYmE0NGZm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NmJjMTEwYjgzMGNlMzEzYTA5N2Vj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGExNDNhYTQ0NGMwZWVlNjU0ZjU1.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjM2MzI2ZWI0MTViOWIzMDNhMDNl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>