<div class="left_art_zw"> 
 <h1>EG 为发型插上艺术的翅膀</h1> 
 <p class="left_art_zw_zz"> 来源：哈发网网络自主采编&nbsp;&nbsp;&nbsp; 时间:2016/6/27 15:00:21 </p>  
 <p class="dd"> 2016年6月22日,EG美发教育学院《意—建筑与发型》发型秀亮相第十一届AHA亚洲发型师节。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img src="/image/information/ZGM0YTUxNWQyOTZkNjM0NTdkMzY5.jpg" alt=""> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年6月22日，EG<a href="/cg/2.shtml" target="_blank">美发</a>教育学院《意—建筑与发型》发型秀亮相第十一届AHA亚洲发型师节，在上海跨国采购会展中心举办了一场震撼全场的教学和秀场！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGNjZTI1MDc2OTVhODUxN2NjNzFk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">EG<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>教育在AHA亚洲发型师节《意——建筑与发型》发型秀：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmI3ZTEwZWE5NDVmNDUxNGI1Mjlj.jpg" alt=""><br> </span></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-size:14px;font-family:'Microsoft YaHei';">10款发型，揭示发型与建筑间千丝万缕的联系，点、线、面、角度、长</span>度、体积、面积…….</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">创意是空间的想象力，结构的设计、颜色的纹理，每个角度都彰显着发型师的创意。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">发型是有态度的，她会说话，会哭会笑，会欢乐和悲伤，发型师是有腔调的，他们是有翅膀的艺术家。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/M2EwOWZiOWQ5NjJhM2M1NTU4MWQy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/N2I1ZGY5N2M2M2NjYjg3YTM2ODQ5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MWU2NmY0ZjQ0YTJkM2Y4NDIzYzA3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTJmODFjMzUyZDFlMzJlNmE2N2Ji.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">EG美发教育学院上海跨国采购会展中心设置了展位，张北平老师和丁煜老师在“技术舞台”展现剪发技术，每天都有发型演示！让前来取经的发型师收益良多。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzA0NWZjNTY4YTg5Yzc3MjI4NjU3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjI4MTJjNjA1ZGFhNTc3NWEwMGIz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWQ4ZTg3MDgwZTYxMmMwNDYwMWZj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">22日下午，EG美发教育学院还带来了一场“2016潮流发型解析”公开培训课程，EG谢红宇老师和林国华老师现场为观众打造几款潮流发型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzc3M2Q5MGJkOGI0Zjk0MGRjMDRh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWY1ZmNmNzE0NDEwYmQ2M2UzMmNm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">《意—建筑与发型》发型秀的成功不仅只是EG全体的努力，也离不开“舟造型”提供的化妆支持，更是第十一届发型师节所有成员的辛苦劳动成果。EG，为发型插上艺术的翅膀。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2ViYTdkMTA3ZGEwZWZiY2ZmNzk3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGU4MGRhOWUyNmYxOWI4NzY0YTJk.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjA0MTI5NTZlZmExMjRiNTgyOGFh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>