<div class="left_art_zw"> 
 <h1>FUTUREWISE创意剪??课程全新升级，激发灵感开启你的2018！</h1> 
 <p class="left_art_zw_zz"> 来源：TONIANDGUY供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/4 13:14:26 </p>  
 <p class="dd"> 2018过去一年中TONI&amp;GUY国际艺术团队进行了全球范围的旅行，与更多领先潮流的服装设计师合作。 </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MjRmYjQyMWVhZWMxOTQwMTU1Yjg5.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">2018过去一年中TONI&amp;GUY国际艺术团队进行了全球范围的旅行，与更多领先潮流的服装设计师合作,了解多元文化的时尚趋势，参与领先又具有创意的秀场活动，这一系列的历程给予了艺术团队的创作灵感，从而有了动态裁剪搭配与丰富色彩的年度趋势FUTUREWISE。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YjQ0ODhhM2U1MTVjOTA1ZjY2YzEx.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">2018年首期创意剪裁课程于11月30日落下帷幕，在这场为期三天的课程中，陈础威Frankie Chan以及TONI&amp;GUY教育团队的讲师们，上演了一幕幕精彩的瞬间</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ODgzY2I0N2Q0NjU0NjFlNDM2ZWU4.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">每一款发型完成后都给在场的学员们带来无限的震撼与惊喜。发型不再仅仅是头发本身，它融合了先锋的观念、精湛的技术。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YTA5NWFkMjAwYzliZThhNTc1ZDY1.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NTljYzNlMjBiZmIyOTA5NzIzZmUw.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YjllYjhkMjFjZjA5YjE0OWQ2ZmRj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">发型魅力无穷无尽，让学员更加深刻感受到了</span><span style="font-family:Microsoft YaHei;font-size:14px;">2018年新趋势的魅力，也助力更多精英发型师以更快的步伐开启新的征途。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NmRkMWI0NjlkMDE2NjI5M2ZmNWEz.jpg"><img alt="" src="/image/information/YmJkMmVjZDY1ZDBiNTczNjZkMWEw.jpg"> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">更多课程详情及优惠信息，请致电010-6416 9588。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">北京市朝阳区三里屯路11号太古里北区N2楼三层-37单元，课程火热销售中，报名从速！！！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZWE2ODg2Y2VjZmUxZDhhYTAwMDVj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>