<div class="left_art_zw"> 
 <h1>Jean Paul Gaultier限量版香水夏</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-8-8 10:04:00 </p>  
 <div class="wz"> 
  <p> </p>
  <p align="center"><img src="/image/information/ZTdmOTc3MGRjYTk3MDI4MTNhNDFh.jpg"></p> 
  <p>　　前卫时尚大师Jean Paul Gaultier来到怡人的海滩仰望天际时，看到超现实主义描绘出的灿烂晴空，设计出此款充满迷人色彩的纸鸢，正在天际快速地飞翔旋转…氛围的夏季香水系列，气氛浪漫迷人，瓶身与时装系列同样精彩。</p> 
  <p>　　香调： 清新花香调</p> 
  <p>　　前味： 玫瑰、香橙花、柑橘、西西里岛柠檬。</p> 
  <p>　　中味： 鸢尾花、白依兰花、百合</p> 
  <p>　　后味： 香草、清新麝香</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p align="right">来自:中国国际美容网</p> 
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/N2Q2MDYzYzU0YmEyODgxNDU5MWQ2.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>