<div class="left_art_zw"> 
 <h1>Kraemer Paris 日本福冈店盛大开业！中法日韩各区代表都来了！</h1> 
 <p class="left_art_zw_zz"> 来源：苏豪艺盟美发学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/21 12:39:14 </p>  
 <p class="dd"> 同样的专业，同样的用心！ 苏豪一直走在时尚的前沿 只为向你带来不一样的美感。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWM0YmExMzc1ZjE1YjIwNTIzODQ0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">Kraemer Paris</span></strong> </p> 
  <span> 
   <div style="text-align:center;"> 
    <strong><span style="font-family:Microsoft YaHei;font-size:14px;">日本福冈</span></strong> 
   </div> </span> 
  <div style="text-align:center;"> 
   <br> 
  </div> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzI3Nzk2ZWM3MjE2ZTMyMzYzMzY4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjhjZDIyYjAwN2NlMDRkOGVjNTU1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">Kraemer Paris</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">于12月9日正式落地日本福冈</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">感谢一众大咖到场支持~</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">嘉玛巴黎（LK）品牌全球创始人兼集团总??亚力克·嘉玛先生</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国区苏豪路易士·嘉玛形象设计机构创始人兼行政总裁王健峰先生 (fung)</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">中国区苏豪路易士·嘉玛形象设计机构创始人兼营运总监雷子文先生 (simon)</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWRiZDNkODJjZTc2M2JkYjA5NmI5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTA1YWE1MzIzNDRmOTQyNzE2YzQ2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">当然少不了来自苏豪路易士·嘉玛形象设计机构的中国、法国、日本、韩国各地的代表！大家齐聚日本福冈，共贺Kraemer Paris日本福冈盛大开业！</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTY1OGZiMzY2MzEzNjE2MjQ3NmQ4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDBmOGQ5YmYxMmVlZWM1ODA0ZjY0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">同样的专业，同样的用心！</span><span style="font-family:Microsoft YaHei;font-size:14px;">苏豪一直走在时尚的前沿</span><span style="font-family:Microsoft YaHei;font-size:14px;">只为向你带来不一样的美感！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTU5ZGYzZTU1ODEyMjk3NGM4Mzdi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">中、法、日、韩各地的小伙伴</span><span style="font-family:Microsoft YaHei;font-size:14px;">还进行了技术交流，共同进步！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzYxYjczY2VhNTIyODYwOTEzMWE2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">嘉玛巴黎品牌全球创始人兼集团总裁亚力克·嘉玛先生</span><span style="font-family:Microsoft YaHei;font-size:14px;">发表讲话并对潮流发型进行分析分享~</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjhlNDhhNzU0MzgyNWY0OGIyODZk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/M2I2Mzc3ZDJiNWE1NzJhMDVmZmRj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTAwODFlZDQyNmUyM2FiMDc2ODNl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">语言不通，并没有影响他们的交流。</span><span style="font-family:Microsoft YaHei;font-size:14px;">当所有人全神贯注于自己喜爱的美业时，</span><span style="font-family:Microsoft YaHei;font-size:14px;">就已经明白对方想..</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTY5MTkwZWEwMTg5NmM0Y2QwMzY0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTFjZDIzZmQ3ZmM0YThiNGQxYWVm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NmRhNGZjMGNhZGM3OGUwMjBkMGQ1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">苏豪人执着所爱的美业，</span><span style="font-family:Microsoft YaHei;font-size:14px;">无论有多少种语言???</span><span style="font-family:Microsoft YaHei;font-size:14px;">也无法阻挡苏豪人的进步！</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">认真交流过后，</span><span style="font-family:Microsoft YaHei;font-size:14px;">Kraemer Paris日本的小伙伴一尽地主之谊，</span><span style="font-family:Microsoft YaHei;font-size:14px;">一起好好的大吃一顿！</span><span style="font-family:Microsoft YaHei;font-size:14px;">而后，再送给我们自己亲手所画，</span><span style="font-family:Microsoft YaHei;font-size:14px;">代表爱与和平的</span><span style="font-family:Microsoft YaHei;font-size:14px;">友谊之画</span><span></span><span></span><span></span><span></span><span></span><span style="font-family:Microsoft YaHei;font-size:14px;">.</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDU5M2UxODQ2ODViNThiN2Y2MzYy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmQ0NTAxNDgxZDBlMTk0Yjg5MjA4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmU1ZmRkYzhiMzU0ZTk5N2U1OTAz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjBmMDEwZDJlYjY0ZWJmOWNhMTQx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">这次日本之行，相信大家都满载而归了~小编在这里祝日本福冈店生意蒸蒸日上！苏豪分店越开越多！</span>
  <br> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzVmYTNkNWJmMGViMGMwMDc1N2Uw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>