<div class="left_art_zw"> 
 <h1>LINMAKEUP 百变造型有态度</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳造型供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/22 13:40:14 </p>  
 <p class="dd"> LIN MAKEUP九月课程，大师亲授精英班，罗涛主讲，集合浓缩当下最IN时尚妆发。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全新的五种不同风格，围绕一个主题“百变”，以五个阶段造型演绎不同的人生态度。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWMwYzlmNmEzMThiOTE0YzNiOTI4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：岳晓琳（LIN MAKEUP创始人）</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">摄影：邵闯</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">后期：叶萍</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">服装搭配：徐徐</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWVhOTBhNmVjMzBkNzBiYzg1ZmVi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">偏爱英伦风格的全新视角，拼接色彩的整体服饰搭配，白纱浪漫元素加入中性味道，帽子稍加设计感，明艳的发色是本组片子的特别之处。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDgxOTA2MjE1YzFkNWRmMzgzOTcy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">新派绅士，高腰位的服饰设计，发式与眼影打造出看上去漫不经心的视觉效果，但又很吸引人，不羁，贪玩，但又尊崇时尚简单法则。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTVlODEyNTA0Y2E5ODc4OWQ2MjA0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">青涩，假发片的交错，复古中带着现代简约，但是需要有些小小的设计感的细节，掩藏起来的不简单妆容，带点男孩子的淘气但与精致毫不冲突，在一些的焦躁中蜕变，期待浪漫的到来。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGQ4YmNlMjVjZDQ0ZjMxMzNhZThl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTZlM2MxNTEyN2JmY2RkYzhkYjg3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">优雅女士的从容和淡定，珍珠项链浪漫气氛溢出，漂亮精致的发饰搭配也是非常重要的，偏哑光的红唇，深色眼影与腮红衬出五官的立体，一种过渡，也是修炼。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWJiNWExNmI4ZTg0N2Y4ZDgyYjli.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWViYmIwYjExMTYzMjcwNzZjZDE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">金色的女王风范，整体服饰由金色点缀的定制礼服，华丽的发箍以及耳坠，眉型画出适中的浓度，中分发式搭配暗红唇色显得庄重十足。百变之后修炼出你的专属风格，让每一处风景都充满了仪式感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>九月课程预告：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">本班次内容是岳晓琳老师及机构技术总监罗涛老师融合多年教学与实战经验，亲自设定精华版课程，适合时间少、工作多的化妆造型师快速提升。集合浓缩了当下最IN时尚妆发，课堂呈现丰富的妆容与发型完美结合典范。演示结合现场辅导，使造型师极易掌握并树立自我作品的鲜明风格。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDU3M2UxOWZjOTE2Yzk0NDdiY2I5.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Y2M1M2U2NGVjNzhlYzU5ZWU1MjU3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>