<div class="left_art_zw"> 
 <h1>LINMAKEUP九月精品课公告</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳造型供稿&nbsp;&nbsp;&nbsp; 时间:2016/9/5 14:11:45 </p>  
 <p class="dd"> LINMAKEUP九月精品课程开课啦。大师亲授精英班，国际化的高品质课程设置。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>大师亲授精英班（国内最具影响力权威课程）（十天收获如同积累十年的技术）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、国际化的高品质课程设置，让你达到具有国际视野的标准及能力；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、岳晓琳老师及罗涛老师亲授课??，大师专业技能分享，启发你的时尚态度 ，觉醒独立创新思维；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、当下时代最具影响力造型师研修汇集地；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTdjNWUwYzQyMjQ4NjQ1NzIyNDAz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2YwMmE3ZWEzOTc3Mzg2YTUwYjIx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>时尚美妆造型提升班（美妆新娘刷新课程??（影楼化妆师提升时尚感必修课程）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、全新时尚美妆理念，颠覆传统影楼技法，学习时尚杂志美妆打造要领；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、时尚美妆造型流行趋势结合最实用新娘造型技巧；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、全面提升妆容及发型的精致度，精准掌握人物修饰要点。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjEzNWU2NDg2N2I4Mzc1ZGY5ZjZk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTM5NzA0M2M3NzUwMDI4NGRkNTFi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>余爱老师——经典饰品课 （YUAI饰品高端定制创始人——余爱老师亲授）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一、烫花染色2天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二、时尚头纱1天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三、经典刺绣1天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">四、羽毛处理1天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">五、焊接点翠1天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">六、法国传统帽饰3天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">七、整体妆发造型搭配饰品</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2YxMmYyNTk0Njg1MzZkNGMwN2Uw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTU5NWU1ZmU3YmI4NDAyYmFhMWNi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>罗涛老师|时尚新娘高级造型研修班（精致小班授课课程）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、LIN MAKEUP化妆造型??监罗涛老师一对一教学辅导，五天四夜一对一解决问题，快速刷新理念和技能的高密度课程；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、将时尚理念和风格化妆融入新娘造型，全程观摩现场大片拍摄，解决实战工作难题；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、打破以往化妆方式及理念，从标准化化妆基础提升风格打造，开启人物风格造型打造运用，解决千人一面的困惑；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmFiNGJiZmUxYjAzZThmM2RlYmYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzMzYmE3NmZlNWNiNzE0M2FmMWNh.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MDE0OWE1ZGEwOTM0MDQyYjkyM2Y3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>