<div class="left_art_zw"> 
 <h1>LIN·MAKEUP丨胸口有一千只蝴蝶翻腾的感觉是???么样！你有过么？</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/5 11:04:12 </p>  
 <p class="dd"> 你想表达、想诉说的，最终都会通过色彩、通过质感、通过光影展现出来。 </p> 
 <div class="wz"> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">一组小野君的创作分享，以及她关于创作灵感的一些想法。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDFkMmNhYmIzYzYwYWU1ZTVlNzg2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWIzYmQ3ZGNhNjNlNWI3NDEyODIz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">创作灵感：</span><span style="font-family:Microsoft YaHei;font-size:14px;">最近常常被问到类似这样的问题。其实我也十分好奇我的老师、朋友、那些我所欣赏崇拜的大神们，他们是如何看待和得到灵感的？</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">即使在现在我也会死缠烂打，非常厚脸皮地问我的老师：“你为什么要这样？”“为什么要那样？”“为什么要放这朵花？为什么不选那件衫？”似乎希望在这些小小的缝隙里，能窥探或学习到更多更广的一些什么，他们的思考方式？他们的技巧？他们是如何去理解的？都是我迫切想要得到的答案。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">但是，这是最有趣的地方，也是最矛盾的地方。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">一位摄影大师说过：“我可以教你一千种我打光的方式与技巧，但是我没法和你解释，为什么会在那个瞬间按下快门，捕捉我所看到的。”是不是呢？确实是。</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzhjMmU1YWYzMWU0MGQ1Mjc4MTk4.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjgzMDUyZjY1MTczN2VkZjY5NTBk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">对于不同的颜色、不同的质感，我们每一个人的感受也都是不同的。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">一开始我们在模仿中学习，就像书法绘画一样，先形似再神似。但这个世界上没有两片完全相同的树叶，也没有两张完全一样的妆容。一双眼、一对眉、一张脸，时时刻刻都在变化，而手上功夫在达到一定熟练度、能自如控制时，你自然就会有一套属于自己的为什么要这样、为什么要那样的理论和依据。</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGE1YWNiYzNiNTFjMTFhNjlhMWZm.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDhiMTFhNTRjZWNkOWQwZWY4MmZk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">同时，持有自己的态度与见解是件非常重要的事情。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">就好像学历史一样，事件人物都在那里，我们每个人拿到手里的都是相等的份量。关键点不在于你是否牢牢记住了所有的一切，而在于在这些已知的线索里，如果你是当事人你会如何处理、看待？是否也能得出同样的答案？</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">理性或者感性，每一个人都不尽相同，当我自己无法冷静充满逻辑的去分析思考时，那就忘记这些所有的规则，只需要静下心来“感受”，只是“感受”就好。保持好奇心，对人对物对这个世界。</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YmMyYjA2NjllYzk4MDNiN2FjZDZj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">保持敏感又开放的心，你会在某次旅行中，在几万尺高空飞机的窗户边上，偶然看到那些橙色与紫色的云，看到落日的余晖轻轻洒在那些云朵上面。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">下次你手拿笔刷的时候，用到浅紫色的眼影和橘杏色的腮红时，你会想到在那个瞬间看到的画面，会在不经意之间用浅金色柔和整个妆容，让它们轻盈又浪漫起来。</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDZmOGI2YWE2YWRkMzY1OTRmNzM1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">一个完整的灵感就像一幅拼图，它由无数个想法组成，???它们收集起来，连点成线，连线成面，最后，完整的拼图自然会呈现在你的面前。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">而你想表达、想诉说的，最终都会通过色彩、通过质感、通过光影展现出来。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">以上是我关于创作灵感的一些想法，也是我给自己的回答和总结。希望在创作这条路上的我们，每一次创作都会胸口有一千只蝴蝶翻腾的感觉......</span><span></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDM2MTBlMjcxMzUyNmM5MTcyYzkw.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NmVmMmJjMjAxODg0MGUyZDA1OGJk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>