<div class="left_art_zw"> 
 <h1>LIN?MAKEUP进军互联网遭质疑，岳晓琳女士深??对话各界声音</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳造型供稿&nbsp;&nbsp;&nbsp; 时间:2016/12/22 14:49:41 </p>  
 <p class="dd"> 在时尚文化圈，岳晓琳和她的LIN?MAKEUP是一个“个性的存在”。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年12月16日，“中国创意化妆造型艺术家”岳晓琳带领的LIN?MAKEUP品牌正式开启了网络商城板块业务，这也意味着LIN?MAKEUP全线产品一脚踏进了以普通受众为核心群体的全新领域。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTZjZDk2NTYyYWEzODM1MzM2ZDg3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">北京岳晓琳文化传播有限责任公司董事长；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">LIN?MAKEUP创始人；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">LIN彩妆品牌创始人；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中国创意化妆造型艺术家；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">国家级化妆造型评委。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在时尚文化圈，岳晓琳和她的LIN?MAKEUP是一个“个性的存在”：他们是高端品牌秀场的幕后功臣，也是明星活动的御用班底，化妆造型在他们的亲身实践中，变成了非单纯技巧性的基础工作，而且沉淀了深厚知识体系、融入了独特个人审美的复杂艺术创造。这样一个在业内外兼具专业和商业高度、享誉国际的知名品牌，眼下却一反常态进军“网络”市场不免让人心生疑虑。带着来自各界的质疑声音，笔者（今日头条）与岳晓琳女士展开了这次深入的对话。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTI1ODg1MmNkNTE5M2EwY2RmYjQ5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>专访中国创意化妆造型艺术家岳晓琳女士</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Q：最近有媒体称您为“文化企业家”，之前大家对您的评价是“中国创意化妆造型艺术家”，那您觉得您到底是“艺术家”还是“企业家”呢？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳：并不矛盾，这都是我。前者是我们品牌在市场活动中的定位，后者是对我个人专业能力的一个肯定。不是说所有商业的东西都会抹杀艺术的基因，放眼全球可以看到很多艺术造诣很高的艺术家，同时也是极具商业头脑的精英，可以把个人品牌做得很好，让更多的人通过商业化的形式去理解和欣赏艺术的价值。我认为商业和艺术并不是绝对对立的。但确实如何平衡好这两者的社会责任以及能量的分配，对我个人来说是一个极大的挑战。好在目前我们的团队比较优秀，也都非常努力，这让我平添了很大的信心。企业家，这个名词显然我现在还做的非常不够，但也不能回避，坚定的走下去是我现在的选择。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Q：虽说您的公司之前有零星地售卖化妆工具，但是现在竟然大张旗鼓地做起了网络商城卖口红，以“艺术家”的行业地位去做微商不怕被人说“掉价”吗？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳：刚开始的时候我也会有这方面的顾虑，尤其我是一个从小就不好意思卖东西的人，也很在乎别人怎么看自己。但现在选择网络商城这个渠道，我认为做事情要懂得“顺时施宜”，要顺应社会的发展去做事业而不是固步自封。另外我深知这么多年来我们LIN?MAKEUP并非一个深入广大群众的“大众品牌”，在这一领域我们的知名度远远不够，只是在化妆造型专业群体里被大家所熟知。过去多年拥有了很多簇拥者，欣赏并支持我们。所以我们以互联网时代商业契机来发展现在的“社群粉丝经济”。“社群粉丝经济”的主要形式就是分享，而这种分享都是源于对我们专业度的信任，进而选择我们旗下产品。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTYzOTUzNGE5MzFhYzNjMGQ2NmM1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Q：外界传言您这次走下“神坛”大举进军产品市场，是因为缺钱，对此您如何回应呢？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳：做任何产品，肯定都是为了盈利，企业只有盈利并发展才是成功的，才能去谈梦想并承担应有的社会责任。但是，我们也不会因为缺钱而去做产品，那就违背了我们创立品牌的初衷。做产品首先是源于我过去常年一线化妆造型工作的实践，我很容易接触到受众的真实需求，并了解市场缺口，同时也有机会接触国际一流的原料及产品生产基地，能够为这两者牵线搭桥，并且做出我们自己的中国“质”造，而非中国“制”造，这是我这些年来追求的理想。我们可以让最好的国外工厂为我们生产，而非我们去完全模仿国外。我们从自己做起，带着仰视国际大牌的敬畏心摸索，未来要让更多人相信彩妆品中国“质”造是有实力的。同时会继续坚持不断???升我们的审美力，并以此为梦想追逐。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Q：相比化妆造型，您在产品领域几乎是“零基础”的外行，真的不担心会砸掉自己20年来积攒的口碑吗？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳：20年前，我也是从零开始的。我一直很欣赏一句话，就是“做人，要有清零的心态”。如果你永远都只是抱着自己的那一点点成绩固步自封，还谈什么挑战和进步呢，待在那里坐享其成就好了。我之前能够用20年积攒口碑做起来化妆造型技术品牌，那我现在愿意付出更多的时间做产品。很多事情都是一步一步来的，从不了解到了解、到精通，这需要一个学习和成长的过程。所以我不怕被人说“外行”，正因为我是“外行”，我才更努力。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTkyZGM1NzU2OGViYTU4YzVjNTI4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Q：从彩妆艺术家到做网络商城，很多人都质疑您此举根本就是一场“炒作”，面对此类质疑，您是否想为自己解释几句？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳：任何一个事件都可能有争议，不管别人是否认识、是否了解，都可能有人站出来持评判意见。尤其是网络发达之后，也许每天都要面对各种各样的“质疑”。有时候我走在路上就想，这个经历可能放到未来几年后再去回想，每一次都会有不一样的感受。而我现在面对的其实是未知，这种未知就像你身处在黑夜???，只能看到远方似乎有一点点光亮，但不足以让你看清脚下究竟是怎样的路，所以我现在只能尽我所能去做到最好，在这个过程中去体验和收获。当然，只要是善意的意见和建议我都会接受。我们不可能一出手就做到最好，也一定会看到自己和别人之间的差距，我们要做的是努力地去缩小这种差距，不断地提升和完善自己。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Q：从化妆造型的垂直行业到网络商城的平台化路线，每一步您都出乎意料，那您下一步的商业布局将是怎样的呢？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳：无论到何时，我认为我们公司最重要的板块肯定是“技术”，LIN?MAKEUP造型要持续努力，保持行业高度永远是我们的核心，我们一定要争取去做到引领化妆造型行业。未来，我们会根据市场的变化，一步???发展，目前部分计划还在筹备中，也不是很成熟，也就暂时不对外宣布。产品之路，任重而道远，这份压力已经不小，我们会继续完善产品和服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjQ4OGIwNDNhZTJkZDhiNjAwYThm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">从“中国创意化妆造型艺术家”到“文化企业家”，岳晓琳在40多岁的年纪里再一次投入到创业的大潮中，她坦诚表示“压力挺大的”。但偏偏就是这种顶着压力上的创业精神，让她和她的LIN?MAKEUP又一次地站在时尚圈的舆论中心。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在瞬息万变的时尚文化产业，没人能够准确预知未来，但是缩手缩脚肯定不会是向未来“say hi”的最佳方式。勇于试错、不断挑战自我的岳晓琳之所以能够带着团队不断攀上新的高度，也许就只是多了这份不安于现状的热情和持之以恒的韧性。这一次是网络商城，那么下一次呢？这份坚持的力量究竟能否让岳晓琳造型走出自己的一片天地，建立以美业为基础的商业帝国，也将是一个悬念，让我们拭目以待。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OGNhMmFjMGVmOWI1MDY1ODFhMWJk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>