<div class="left_art_zw"> 
 <h1>LIN?MAKEUP国际彩妆造型流行趋势发布大片分享</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳供稿&nbsp;&nbsp;&nbsp; 时间:2017/2/25 12:28:29 </p>  
 <p class="dd"> 近日，岳晓琳老师携团队首次走出北京倾情分享“2017中国婚纱行业化妆造型及战略突围峰会”。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2017年2月20日—2月21日，岳晓琳老师携LIN?MAKEUP主创团队首次走出北京倾情分享，“2017中国婚纱行业化妆造型及战略突围峰会”在苏州虎丘婚纱城拉开大幕。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjY1NGUxNGQxMTA4YmE2ODQ3MzE1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">LIN?MAKEUP彩妆造型国际流行趋势发布现场座无虚席</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2M4NDUzZTg0NzVkZmY1NWM5ZmM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWZlOTVhZDI3NzM2ODY4Yzg3NWQ4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjcxNWIzY2U5MjYwN2Q3NGQzOGQw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjE4YTI0NDMyZThkYjQ2NGIwMDNm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">其中，岳晓琳老师及LIN MAKEUP主创团队专场将专业与实践相结合，重点讲解2017年度彩妆及服搭趋势，以时尚和实用的双重角度，理性分析总结消费者在审美变化中产生的新需求；此外，在妆面造型这一品牌优势项???之外，同步融入服饰搭配的衔接与选择，突破技术和手法的专业思维局限，从宏观审美及整体协调两方面进行理念输出。刚从纽约时装周归来的岳晓琳，还将更多国际时尚资讯带到现场，并在分享环节与学员展开深入互动。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWM0MTQ1ODIxZmJiNzc5NjNlMGYw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">岳晓琳老师现场部分作品分享</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">服饰品牌：丹妮斯、赫伯缔</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGZkZGQwMGFhYmVhODZjMzY1MTU3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjBkYTM4ZjNiM2EzYmM5YzNmYTAw.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTVjODgwNTZkMDg1ZjU1ZDViMWQ4.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTY5MWRiNTg1Mjg2NzEyYThmN2Q1.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmJiNDAyNjczMzNlMWQ1ZWMwMDIx.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTVkYmFmYjY0NGQ0Y2IzZTdiNzEy.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDkxOWMwNjk1Y2RkMGI0MDk4MjZi.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzdjOGQ0ODhiZGQwNWQ5OTEyOWE3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmU0MmZkOWM5MjBhYzExZjEwZGUy.jpg" alt=""></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">苏州虎丘婚纱城总经理顾伟春现场发言，作为北京岳晓琳文化传播有限责任公司旗下品牌—LIN BRIDE新娘化妆造型工作室，也于活动当日宣布正式入驻苏州虎丘婚纱城，以品牌独有的技术和服务继续为消费者带去美的享受，让“中国女性婚恋首选形象设计品牌”的称号日益深入人心。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2U4M2VmNjgwMTdjZjZlM2Q1Mzky.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">“LIN MAKEUP岳晓琳造型”与北大青鸟文化艺术研究院也达成相关战略合作，北大青鸟文化艺术研究院院长王鹏教授亲临现场与岳晓琳签署合作协议，成立“北大青鸟文化艺术研究院中国化妆造型艺术研究中心”，为行业的发展和进步提供理论和学术方面的支持。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzNiMjQwMWZlY2M0ZTBjYjM5MmZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">LIN彩妆品牌与CCTV央视网商城正式签约，并以国家级媒体的推荐品牌身份正式亮相市场。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTUzY2I3OWI0ZmI2OTc0NDU1NzBh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmEyNTllM2UxMDVkNTVkYTI1ODk4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzk2NjdhOGE4ZmVlYjk2OTY4MjI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">江京海老师现场授课《2017年轻资产商业战略布局》</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDUzMGEyZGZkODVlOWFjZGE0MmE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">这是2017年度最具价值的婚尚产业大课，也是LIN MAKEUP团队首度在外地举办规模盛大的全国公开课，更是北京岳晓琳文化传播有限责任公司多维度发展的实力彰显。作为活动当天重要角色之一“LIN彩妆”，不仅赢得了全场嘉宾、同行以及学员的热情关注，现场销售更是异常火爆。而这场解读时尚风向、展示中国本土原创高端彩妆品牌实力的“2017中国婚纱行业化妆造型及战略突围峰会”，既给时代、行业、以及同行提供了全新的视角，也让更多身处行业中心的人，领略到全新的风景！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTE5MTEyNGVhMWEzNDkyYzE1MGI1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTI1YWI0Y2I3N2UxYTg2MzRkZDA1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjYxYjg2ZGIxMzdmMGMyNjJiZmJi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzgxOGYxZTQ1MjQ4ODQzYWFlNjc5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTVmY2E1ZTYzMzc4MTYwM2FmZTJl.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjhiYWE3YTk2N2Y5NThmYTJkYTE3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>