<div class="left_art_zw"> 
 <h1>MCB 巴黎国际美发美容展</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2007-5-19 10:16:00 </p>  
 <div class="wz"> 
  <p> </p>
  <table id="__01" height="2222" cellspacing="0" cellpadding="0" width="680" align="center" border="0"> 
   <tbody> 
    <tr> 
     <td colspan="2"><img height="200" alt="" src="/image/information/NDFmZWMyYTVjZThmMTgyZGZjMTlm.jpg" width="680"></td>
    </tr> 
    <tr> 
     <td style="LINE-HEIGHT: 160%" width="376" bgcolor="#ffffff" height="99"> 
      <blockquote> 
       <p>主办单位: <br>Organizer: COMOEXPO Paris<br>COMOEXPO Paris<br></p>
      </blockquote></td> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 160%" width="304" bgcolor="#ffffff" height="99"> 
      <blockquote> 
       <p>举办日期:<br>Date: 2007年9月22日(星期六) ——2007年9月24日(星期一)Sat. Sep. 22, 2007 - Mon. Sep. 24, 2007<br></p>
      </blockquote></td>
    </tr> 
    <tr> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 160%" width="376" height="103"> 
      <blockquote> 
       <p><br>支持单位:<br>Supporter: 世界美发组织 法国国家美发协会<br>Organisation Mondiale Coffure (OMC)<br>French National Hairdressers’ Federation (FNCF)<br></p>
      </blockquote></td> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 160%" width="304" bgcolor="#ffffff" height="105"> 
      <blockquote> 
       <p>举办地点:<br>Venue: 巴黎凡尔赛门展览馆<br>Paris Porte de Versailles Exhibition Center</p>
      </blockquote></td>
    </tr> 
    <tr> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 160%" width="376" background="http://f.hair8.net/shidian/mcb/images1/mcb_06.jpg" bgcolor="#ffffff" height="46"> 
      <blockquote> 
       <p>合作伙伴:<br>Sponsor: 法国欧莱雅 德国威娜 日本宝贝蒙<br>L’Oreal, Wella, Takara Belmont</p>
      </blockquote></td> 
     <td width="304" background="http://f.hair8.net/shidian/mcb/images1/mcb_07.jpg" height="64">&nbsp;</td>
    </tr> 
    <tr> 
     <td rowspan="2"><img height="186" alt="" src="/image/information/ZmVmZGExMzUzMDY3YTAwM2UxOTUw.jpg" width="376"></td> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 100%" width="304" background="http://f.hair8.net/shidian/mcb/images1/mcb_09.jpg" bgcolor="#ffffff" height="103"> 
      <blockquote> 
       <p>展会周期:<br>Frequency: 每年一届<br>Annual<br>展会性质:<br>Admission: 专业观众<br>Professionals Buyers</p>
      </blockquote></td>
    </tr> 
    <tr> 
     <td width="304" background="http://f.hair8.net/shidian/mcb/images1/mcb_10.jpg" height="83">&nbsp;</td>
    </tr> 
    <tr> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 160%" bgcolor="#ffffff" colspan="2" height="219"> 
      <blockquote> 
       <p>　　“MCB巴黎”是业内人士必看的重大行业展会，由世界顶级大赛、一流展会、品牌秀场及专业美发论坛等多个部分组成。“MCB巴黎2007”将于2007年9月22日－24日在法国巴黎举办。<br>　　 巴黎国际美容美发展览会是世界顶级的美容美发用品专业展览会。该展会自创办以来就取得了丰硕的成果，2006年展出面积40000平米，全球300多家公司参展、品牌达500多个，其中仅新展商就有81家，国际展商比例高达13％，比2005年增长了5％。展会吸引专业观众55000人次，其中66％是专业美发沙龙管理经营者，美容美发用品代理商、经销商和生产厂家占了将近20％。骄人的业绩得益于其覆盖全球的网络宣传：邮寄广告直投，直达专业美发沙龙；法国14家电视广播同步宣传，全世界300多名记者亲临???场；高点击率网站宣传直达每个角落。<br>“MCB巴黎”以其独特的优势和专业性创造了别开生面的美容美发盛事，展示和提高技艺，捕捉最新流行趋势，寻找创新产品，传播先进理念，建立稳固长久的联系。<br>　　此外，作为“MCB巴黎”另一重要组成部分的全球美发大赛是仅次于世界杯发型大赛的顶级赛事，届时各大世界顶级选手都将亲临现场，参与到从比赛、观摩到评论的各个赛事环节中去。本次大赛包括技术类、时尚类和个人类三个类别。技术类涵盖初、高级女士创意发型、女士晚装发型、女士色彩创意、男士创意发型、男士传统造型修剪、男士色彩创意等；时尚类涵盖初级女士盘发、高级女士盘发、高级女士长发色彩、初级女士潮流色彩修剪、初级男士长发沙龙造型、高级男士长发沙龙造型、初级潮流造型修剪、高级潮流造型修剪、初级沙龙色彩造型、高级沙龙色彩造型等；个人类含新娘长发造型、女士潮流造型修剪及色彩、男女整体造型等。<br></p>
      </blockquote></td>
    </tr> 
    <tr> 
     <td style="FONT-SIZE: 12px; LINE-HEIGHT: 160%" background="http://f.hair8.net/shidian/mcb/images1/mcb_12.jpg" bgcolor="#ffffff" colspan="2" height="1100"> 
      <blockquote> 
       <p>展品范围<br>1-护发产品<br>专业护发产品 / 染发产品 / 烫发及卷发产品 / 直发产品<br>2-工具&amp;原料<br>催化剂 / 护发用具和仪器 / 烫发用具 / 颈刷 / 橡胶刷 / 卷发夹&amp;卷筒 / 修面刷 / 无边锁色帽 / 电动刷和各类毛刷 / 喷雾 / 喷剂 / 染发披肩 / 剪发披肩/剪刀 / 法兰帽 / 定型帽 / 专业棉花 / 磨剃刀皮带 / 剃刀及配件 / 蒸汽拉直 /烫发染发材料 / 铝箔/网状面纱 / 塑料定型薄膜 / 发型设计用手套 / 上漆面具 / 折叠镜 / 浴缸水嘴 / 纸尖 / 梳子 / 用具和仪器的保养及维修 / 泡泡布 / 干手机及配套部件 / 红外线烘干设备 / 发型展示 / 电动剪刀及配件 / 收纳箱&amp;收纳包 / 家用护发用品收纳箱</p> 
       <p>3-亚麻制品及服饰–卫生用具<br>床单 / 手套 / 睡衣&amp;晨衣 / 一次性用品/抗菌类产品 / 染发用围裙 / 理发师专业服装 / 毛巾 / 单一用途毛巾 / 消毒设备 / 拖鞋及纱笼</p> 
       <p>4-美发厅家具-装潢-设备<br>洗脸盆 / 家庭洗护发脸盆 / 迎宾台 / 服务台 / 理发台 / 儿童枕头 / 扶手椅及配套脸盆 / 美容椅 / 按摩椅 / 镜子 / 家具 / 洗护间家具 / 报刊架 / 置伞箱 / 脚凳 / 展示间 / 橱窗装饰</p> 
       <p>5-假发&amp;接发<br>毛制替代品 / 天然头发接发 / 合成假发 / 自然假发 / 假发的增补和衔接</p> 
       <p>6-美容-化妆-美甲<br>美容专业用具及设备 / 脱毛蜡 / 专业化妆 / 个人护理和美容用品 / 指甲用品 / 修甲用品 / 日光浴</p> 
       <p>7-专业机构-企业<br>协会 / 银行和保险业 / 养老基金及互助机构 / 信用机构 / 连锁加盟 / 独立经销网 / 理发服务网络的建立/信息处理 / 代理机构 / 各类软件<br><br>8-培训<br>培训中心 / 美发美容学校 / 培训视听设备</p> 
       <p>9-出版物<br>书籍 / 影集 / 明信片 / 照片 / CD</p> 
       <p>10-媒体<br>报刊 / 杂志 / 网络</p> 
       <p>11-服装配饰&amp;头饰<br>时尚配件 / 珠宝挂件 / 珠宝头饰 / 珠宝箱 / 头巾</p> 
       <p>12-文身&amp;钻孔<br>文身 / 钻孔珠饰</p> 
       <p>13-按摩<br>按摩器械 / 专业按摩用具</p> 
       <p>中国地区联系方式：</p> 
       <p>MCB法国巴黎国际美发美容展 中国代表处 <br>地址：上海市北京西路1701号静安中华大厦7楼705室（200040）<br>联系人：朱伏莲小姐 顾绮佩小姐<br>电话：021-62884953<br>传真：021-62884963<br>E-mail：sbachina@sbaltd.cn, lydia@sbaltd.cn<br>网址：<a href="http://www.tradefairguide.com/" target="_blank">www.tradefairguide.com</a> 　<a href="http://www.salonmcb.com/" target="_blank">www.salonmcb.com </a></p>
      </blockquote></td>
    </tr> 
    <tr> 
     <td bgcolor="#ffffff" colspan="2" height="24">&nbsp;</td>
    </tr> 
    <tr> 
     <td colspan="2">&nbsp;</td>
    </tr>
   </tbody>
  </table>
  <!-- End ImageReady Slices -->
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWYyYmVkNjY4MDEyMTIxMWJiNTc1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>