<div class="left_art_zw"> 
 <h1>Mitsukoshi, Shiseido与 Fujitsu</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网&nbsp;&nbsp;&nbsp; 时间:2007-2-7 10:05:00 </p>  
 <div class="wz"> 
  <p>　　日本的Mitsukoshi、Shiseido与 Fujitsu三家公司联合宣布参与名为“未来百货商店”的现场测试项目，时间从1月26日到2月12日。目的是验证RFID标签在百货商店化妆品柜扩大应用的可行性。这个项目是得到日本经贸产业省 (METI) 资助项目的一部分。&nbsp;&nbsp;<br>&nbsp;<br>　　日本的Mitsukoshi、Shiseido与 Fujitsu三家公司联合宣布参与名为“未来百货商店”的现场测试项目，时间从1月26日到2月12日。目的是验证RFID标签在百货商店化妆品柜扩大应用的可行性。这个项目是得到日本经贸产业省 (METI) 资助项目的一部分。</p>
  <p>　　这是日本首次对RFID标签在化妆品上面应用的可行性进行现场测试。</p>
  <p>　　现场测试是日本经贸产业省 (METI) 资助项目的一部分，项目的名称是利用无线标签改进物流与配送效率的现场测试（2007）。项目的责任单位是日本百货业协会。</p>
  <p>　　RFID标签在日本的百货商店??经用于妇女服装鞋子的库存管理，用于化妆品的现场测试则是第一次。 </p>
  <p>　　现场测试的地点是东京银座旗舰百货商店一楼的 Shiseido柜台以及Mitsukoshi 百货商店的 Sakae (名古屋) 分店。Mitsukoshi 百货商店是日本着名百货企业之一。 RFID标签粘贴在 Shiseido公司的 Cl de Peau Beaut 品牌化妆品上面（一种着名的化妆品品牌），一些化妆品试样也会加贴RFID标签。 各种样品的信息显示装置可以让顾客在触摸式屏幕前，只要在RFID读取器上面晃动一下有标签的化妆品，就可以详细显示样品的信息。其它的测试项目还有顾客咨询服务、化妆品分类、配送渠道等。目的是评估RFID标签对化妆品供应链管理效率的影响、加贴RFID标签以后对顾客购买化妆品欲望的影响、对进货选择的影响等。</p>
  <p>　　现场测试期间附带进行以下两种测试：</p>
  <p>　　A. 化妆品用户信息反馈</p>
  <p>　　现场测试???间会安装一台“化妆品用户信息反馈”终端，带有触摸式显示屏幕以及RFID读取器。顾客只需在读取器上面晃动一下带有标签的化妆品样品，就会听到其它顾客使用该化妆品的真实录音信息反馈。在银座百货公司有31种这样的化妆品，Sakae百货公司有41种这样的化妆品。 </p>
  <p>　　由于这次现场测试的目的是显示RFID标签作为化妆品解说员的魅力，所以在化妆品销售楼层除去Shiseido公司的 Cl de Peau Beaut 系列化妆品会粘贴RFID标签，其它公司的化妆品也会加贴RFID标签。( 信息反馈终端安装地点：化妆品楼层入口处附近)</p>
  <p>　　B. 模拟实时化装系统</p>
  <p>　　一个带有摄像头、显示器、RFID读取器的活动小间会安装在现场，如果需要顾客在显示器上面立刻可以看到某种化妆品在自己脸部的效果（即模拟实时化装）。顾客只需在读取器上面晃动一下加贴标签的化妆品例如唇膏或者眼影即可。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTZlMmFmNDIyZjQzN2M5NzIyZjE0.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>