<div class="left_art_zw"> 
 <h1>MU&nbsp;SALON丨乐队演奏、模特表演，是开业现场还是时装秀</h1> 
 <p class="left_art_zw_zz"> 来源：苏豪艺盟美发学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/10/6 11:46:22 </p>  
 <p class="dd"> Kraemer Paris苏豪路易士?嘉玛发廊专业打造上海的MU SALON开业啦！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">哇，又时装表演又乐队表演，这次苏豪是又接了什么大型的outjob吗？！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p align="center"> <img alt="" src="/image/information/YTJiZTg5YTZmN2E3MWY4Mjk5MzZh.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">不是啦！是上海的MU SALON开业啦！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">MU SALON是由Kraemer Paris苏豪路易士?嘉玛发廊、Hair Code芭曲发型机构和MU 时尚生活方式概念店联合打造~</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>三大品牌</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p align="center"> <img alt="" src="/image/information/YTAxYmQ3NzRiOTQyOWE3YjQ4ZjUy.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>Kraemer Paris</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>苏豪路易士?嘉玛发廊</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">苏豪路易士?嘉玛形象设计机构 ，源于法国的国际性<a href="/cg/2.shtml" target="_blank">美发</a>品牌Kraemer Paris （LK），覆盖全球11个国家200多家分店。接轨国际的Kraemer Paris作为苏豪路易士?嘉玛形象设计机构旗下中坚主流品牌，20年来致力为客人量身打造最适合的个人形象，混合国际和中国本土最领先的技术和<a href="/cg/2.shtml" target="_blank">美发</a>体现概念，为客人带来最新的国际时尚<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>潮流趋势。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>Hair Code</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>芭曲发型机构</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;HAIR CODE芭曲发型机构来自于香港高端美发沙龙，创立于1999年，旗下拥有接近2500名员工。分店遍布全国20多个城市，包括广州、成都、上海、重庆、郑州、大连、青岛、长沙、合肥等地，2013年更开设首间国际分店，为顾客提供一站式尊贵服务。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>MU 时尚生活方式概念店</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">由mu fashion group延伸的跨界概念店，集服装、咖啡及美发沙龙与一体，打造一个时尚生活方式集合点。透过不同的生活元素融合在一起，带给客户一种时尚、便捷、全新的服务生活体验。在欣赏原创商品之余享受生???的休闲艺术。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>开业现场</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">说了那么多是不是很激动呢？！下面让大家感受一下现场的气氛！</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/Y2YwZjdjZDIwYjYzNjYyNjgxMzIz.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MDViMzgyZDA0MGUwZGRiMWM3OWMw.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YTRhZWE3ZGUwZDAxYjVmZTFhYTlk.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YzA0ZGRhY2U1NzkyNGVmNDkzYzAz.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MTJiNjNmZmMwNDFmZTIyZmYxMjJh.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/MjhhMGM0OThiN2Y2ZDM4ZjAyNTE3.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ZDExYjM2MTM1NzdiYzYyZDY2NDA1.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/Y2I4OTI4YmU5YjU2NDI3ZTY2YTVi.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/YmMxZDQzZmU4YjU0OTYyYWEyZjJk.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ZWFlZjIxNjhiYzZhZTNkMzNjNzZl.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><img alt="" src="/image/information/ODljZmE1MWIwOWRmMzg5OGZjZTQw.jpg"></span> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;">除了有乐队演奏，还有时装表演，是不是很赞呢！</span><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>商场信息</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>&nbsp;</strong></span> </p> 
  <p align="center"> <img alt="" src="/image/information/Zjc0NDQyYjEyM2YyZmU1ODViZTYy.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">MU SALON所在的兴业太古汇，购物中心面积约10万平方米，包括地下两层和地面四层，与两个户外广场无缝连接。项目拥有近250个零售品牌，涵盖时尚服装、配饰和美妆购物、国际化的餐饮选择、休闲书店、超市及瑜伽中心。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p align="center"> <img alt="" src="/image/information/YTc5MTFiOGI1Nzg3ZTBkM2IyZjRi.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">其中有14个首次进入中国内地市场的品牌、12个首次在上海设店的品牌和12家独特的品牌概念店。商场和酒店将拥有超过40家中外餐饮，从休闲餐饮到名厨料理一应俱全。Kraemer Paris by hair culture苏豪路易士?嘉玛形象生活馆联手Hair Code芭曲发型机构在兴业太古汇也设有分店哦~</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">新店开张你是不是也想去试试呢~赶紧打电话约起来吧~</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">MU SALON</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">地址：上海静安区南京西路789号</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">兴业太古汇负一层LG118单元</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">电话：021-52556013</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">对生活执着，是一种坚定的信念；</span><span style="font-family:Microsoft YaHei;font-size:14px;">对工作执着，是一种精神寄托；</span><span style="font-family:Microsoft YaHei;font-size:14px;">对爱情执着，是人生中的一种美丽；</span><span style="font-family:Microsoft YaHei;font-size:14px;">对美执着，是一种幸福的追求！</span><span style="font-family:Microsoft YaHei;font-size:14px;">我们愿意陪你一起追求这种幸福！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjY3YmFkNjI3NDVhYTA2NDFmM2U3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>