<div class="left_art_zw"> 
 <h1>NEW YEAR LOOK！威娜要你开年就做闪闪小公主！</h1> 
 <p class="left_art_zw_zz"> 来源：Wella威娜专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/3 11:41:49 </p>  
 <p class="dd"> 新的一年从“头”开始，百变的威娜EIMI教你简单编发， 轻松变身最闪耀的派对公主， 招来一年好运势。 </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">伴随着欢呼，终于告别了2017，开启了2018年的全新旅程！新的一年，你是否已经立好各种Flag了呢？农历新年也即将到来，</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">你是否也已经准备好了？</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Yzg1Y2JkZTI0MmZiODM2YzYwZTZj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">新的一年从“头”开始，当然少不了一个NEW YEAR LOOK，不仅加持你的新年运势，而且绝对能让你成为NEW YEAR PARTY的女王！</span> </p> 
  <div> 
   <br> 
  </div> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGI5NDc4NDI3MzJmNDhmYjg2YjNi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">百变的威娜EIMI教你简单编发，轻松变身最闪耀的派对公主，招来一年好运势！</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第一步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">使用威娜EIMI轻盈秀发护理乳，增加头发光泽，顺柔秀发。</span> </p> 
  <div> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjU2Mjk4MzVlMDAzMGFmNjlmZjkw.jpg"> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第二步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">将头发分为5份，并用卷起用发夹固定</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTE4NzljNjg2MTJmN2E1YjA2ODM3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第三步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">取1硬币大小的EIMI PEARL STYLER于手心，在分别打造每个秀发区域前，均匀涂抹于头发，增加柔润度和纹理。</span> </p> 
  <div> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTQ0Zjg5ZGU1ZTI5YjBmODRkMzBj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzAxM2I1MTMyZTQyZThiZmRlNTlh.jpg"> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第四步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">将一边的2个区域扎成一股，并留一部分头发绕于皮筋固定处。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjFmZTA3YjI0ZjcwZTBlMDFkNGUy.jpg"> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第五步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">取一硬币大小的威娜EIMI哑色发泥，均匀涂抹于头发，保持秀发弹性并定型</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWMxYWVjYTkzYTAwYjMwMDgxNDY5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第六步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">将2边头发进行编发，蜈蚣辫或者旋转着将头发编紧即可</span> </p> 
  <div> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmMxYzExNGVjODcwNWI5MjE4NDhi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGYwY2FiMzMxZTA1ZWQwNWU3ZDY4.jpg"> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第七步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">使用威娜EIMI酷凝胶涂抹于发根部分，抚平毛躁，增加光泽</span><br> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzczMzk3NGEyNGE4YjgxODgzMTU1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第八步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">将两边的编发固定在中央，最后将后侧的头发进行编发</span><br> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTRkNzc4NGQ1ZmE1MjdhZmUyZGQ3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">第九步</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">将马尾轻轻扯松更显自然，将刘海部分微微烫卷，喷上威娜EIMI动感固发胶定型</span><br> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTFhMmUzYmQyNzE1NzRmMTI3N2M5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">优雅而闪耀的NEW YEAR PARTY LOOK就完成啦~</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDk5OTc1Yjk2ZjNjZjJhMzNlYjhl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;">百搭的编发无论是配晚礼服还是休闲穿搭都能轻松hold住！最后再来回顾下这款造型必备的四款神器：威娜EIMI酷凝胶 125ml,创造坚如磐石般极富表现力的炫亮创意造型，帮助保护头发，免受紫外线伤害。</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YWFlZTJmODU1OGFiM2VmZmRkMjYz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;">威娜EIMI动感固发胶 300ml</span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">在45秒内创造完</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">型，帮助保护头发免受潮湿、紫外线和热损伤。</span></span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDlkMDdjOTM0N2JhYWRmNDQwZmIw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;">威娜EIMI哑色发泥 75ml</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">在一整天中，重塑完美造型，其配方中含有矿物质和蜂蜡，定型的同时保持秀发弹性。</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTFmODYxOGNiNmUwNzVkZWI4NDQ2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;">威娜EIMI PEARL STYLER 100ml</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">增加头发层次感，灵活打造发型造型效果，使头发柔顺光滑</span><br> <span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODAzNmE5YmMxNDdmZWIyY2IxZTMy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2018年一起做闪闪小公主吧！</span><span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTQ2MzZiZTEyZDFmNTQ3ODFkZGZl.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGNkMGUwNTM4OTUzYjE5MzcxMTA3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>