<div class="left_art_zw"> 
 <h1>oba欧芭专业美发打造有型的油头造型</h1> 
 <p class="left_art_zw_zz"> 来源：国际欧芭集团供稿&nbsp;&nbsp;&nbsp; 时间:2016/7/6 14:31:38 </p>  
 <p class="dd"> 欧芭专业美发『弘扬工匠精神，缔造美业人生』东站老工匠师吴龙老师现场为您演绎2016潮流复古油头造型。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2RkNjA1MjU3ZjYyYTczZjUxMDEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">复古油头早在几十年前就已??欧美时尚圈兴起，而近两年大有复兴的趋势，很多国内男星都有尝试这种发型！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmEzODRiODZkOWM0MGIzNGU5MzA5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">在男士们为数不多的发型之中，复古油头绝对称得上是高大上又经典不过时的那款，尤其当你西装革履参加正式宴会时，一个一丝不乱油亮有型的油头造型绝对能镇压全场。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Y2UwZmU1OGRlYTY5NmY1ODA1NTJl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NWM0ZmZjZTZkNTRhMzUxZTQyZTYy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">从屌丝逆袭到高富帅的秘密武器！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">发型师作为潮流的引领者，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">为男顾客打理出帅气的油头造型！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">就??王道！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">想知道如何打理？</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">7月19日『弘扬工匠精神，缔造美业人生』山东站，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">老工匠师吴龙老师现场为您演绎</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">2016潮流复古油头，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">并带来打造油头的爆款产品。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NDI3ZjUxNzk4ZDQ0OWZkNDkxM2Ez.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDQ1YWYyMWU4MDVkZjY0YzQyNjhh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>主办单位：</strong>国际欧芭集团</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>承办单位：</strong>山东汉威化妆品有限公司</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>联合发起单位：</strong>中华工商联合会美容化妆品业商会<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>专业委员会</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>时间：</strong>2016年7月19日 &nbsp; 13:00-18:00</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>地址：</strong>济南市市中区英雄山路228号蓝海大酒店四楼蓝海厅</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTQ1NThhZGM4NjU0MWYyYjIyYzQy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzMyN2M4NDZjMTIyMWZlN2Y2MGU2.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjJlNzE0Njc1MTNiYjNhMDFmYThl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>