<div class="left_art_zw"> 
 <h1>OL选用美肤精华素6大疑惑</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-4-6 11:03:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 即使你有千百个不愿意，也必须面对现实。25岁，我们的皮肤开始衰老，简单的保养品开始显得力不从心。是时候把精华素请上梳妆台了，尽管它们总是价格不菲。很多OL简单地把精华素看做具有特殊滋养元素的护肤品，那就正好中了生产厂家的计了。
  <p>　　1 精华素有哪些种类？ <br>&nbsp;<br>　　植物精华素：从各种野生或养殖的植物中提取的精华素，如桑叶精华、玫瑰精华、金盏花精华等，主要效用是滋润、平衡水分和油脂分泌、消除红肿、减轻炎症。</p>
  <p>　　果酸精华素：从水果中提炼果酸，选取其中对肌肤保养有用的物质制成的精华素，如柠檬精华、水蜜桃精华、苹果精华等，果酸精华素具有较强的毛孔收敛功效，过敏性肤质不适用。</p>
  <p>　　矿物精华素：从死海淤泥、海底矿石、海水或温泉等矿物质丰富的物质中提取的精华，可以令肌肤??美平衡。</p>
  <p>　　动物精华素：动物精华素具有抗皱、防干燥的功效。如骨胶原精华、貂油精华、羊油脂精华等，其性质温和、养分充足，适用于缺水性肌肤。</p>
  <p>　　维生素精华素：从对皮肤有益的维生素中提取的精华，如维生素E精华、维生素C精华，不同的维生素精华有不同的功效，有很强的针对性。</p>
  <p>　　2 谁该使用精华素？</p>
  <p>　　过了25岁的女性往往会因为年龄的增长或疲劳压力而肤色灰暗、皱纹增多，应该从此时就开始重视保湿防皱。精华素中的透明质酸等保湿成分浓度高于普通化妆水、乳液、面霜等产品，所以年纪偏大的女性应该选用一些特效精华素。年轻女孩如果眼部周围容易产生小细纹，也可以适量补充精华素。</p>
  <p>　　3 精华素能不能天天使用？</p>
  <p>　　皮肤专家的回答是不需要。尤其是健康的肌肤，无需每天使用精华素，且不要让精华???在脸上停留过久。许多人因为使用不当，越用精华素皮肤反而越干，这很可能是因为她们把浓缩型精华素当成滋养霜来用了。一般来说，浓缩型精华素主要通过按摩来发挥作用，20分钟后就应该清洗掉。</p>
  <p>　　4 是不是整张脸都要使用精华素？</p>
  <p>　　不少品牌的精华素都具有特殊针对性，所以这些类型的产品最好局部使用，不提倡在整个脸上大面积使用。关键是看清产品说明，或者咨询美容顾问。</p>
  <p>　　5 痘痘侵扰时能不能使用精华素？</p>
  <p>　　最好慎用。我们皮肤表面存在着的单细胞微生物--细菌。细菌在其生长繁殖的过程中需要大量的维生素、蛋白质和生物细胞类营养物质。而这些营养物质也正是一般“精华素”的主要成分，因此如果在痘痘部位使用“精华素”，很容易加重感染。</p>
  <p>　　6 如何保存精华素？</p>
  <p>　　精华素的生产、加工、运输和包???多采用真空或无菌操作，往往不加任何防腐剂。因此，一旦精华素的包装破裂或未使用完，就很容易受到空气中细菌和灰尘的污染，发生变质。所以开瓶后的精华素，放在冰箱保存为宜。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:华夏经纬网</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGM4ZTliOGYxM2VkYjYyMWQwODUz.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>