<div class="left_art_zw"> 
 <h1>OYA beauty 3D 大片 展现都市女性的时尚魅力</h1> 
 <p class="left_art_zw_zz"> 来源：LEE MUKES供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/29 15:44:31 </p>  
 <p class="dd"> Lee Mukes 担任创意总监，指导拍摄、重金打造的OYA beauty 3D 大片。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">重金打造的OYA beauty 3D 大片由 Lee Mukes 担任创意总监，指导拍摄，将好莱坞式的奢华时尚融入OYA Beauty品牌特质“Live to love color". 结合尖端3D摄像技术，呈现都市女性的性感前卫。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzE4YTJiODM2MTY4OWI0ZGI2ZWY1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NzE5MTgwOTNkZTQwMzUwMmRiNmI3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmU5ZGJjMGQ2YTc3ZTY2NTA4NzQ5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NDU1MDhkNDE1ZTkxNWQ3MTJjMWQ1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"> </span></p>
  <p> 关注LEEMUKES官方微信，获取每周持续更新的海量前沿<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>造型技术视频。完善提高你的专业创意和技术, 成为行业顶尖的美发师！ </p>  
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjgxMGYzYjAyMjViNTc5NTdkMGE4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>