<div class="left_art_zw"> 
 <h1>POETICA的禅意表达，沙宣全球创意总监重新演绎2016年秋冬集锦</h1> 
 <p class="left_art_zw_zz"> 来源：沙宣专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/3/30 15:17:36 </p>  
 <p class="dd"> 近日，沙宣创意总监Mark Hayes与上海创意团队共同打造了创意大片"POETICA 诗意吟游”。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">沙宣学院集锦 2016秋冬季 POETICA 诗意吟游</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGNmM2VlY2M5ODUwYWJiNDgwNmY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">由沙宣全球创意总监 Mark Hayes 与上海创意团队共同呈献的一组创意大片，拍摄方式以摄影师 Tim Walker 作品布景的视界，重新演绎 2016年秋冬集锦 "POETICA 诗意吟游"，展现了对未来世界的构想。一个未被定义的未来，混沌与诗意并存的世界。充斥着东西方文化的交叠，时空彷佛贯穿着过去、现在与未来。数字时代的波希米亚风，古老传统与现代功能性服装的混搭营造了错乱的未来感。从导演王家卫的电影“2046”和“花样年华”中的旗袍与爱情，到日本电影'吉原炎上'中的花魁，以及近年在韩国街头随处可见的年轻人身着的韩服，塑造出3个新的族群：科???游牧民，奇异花魁和虚拟流浪者。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTA2NzNiMDRkYmE4YTVkMmRiMzMw.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDdkYzI2NWUyZjRjNmU4OWM2ZTkx.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2ExYmQxNWQ5NGU0MmI1YTg4YjBh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTRjYjQwZGY4NTk1YTRmYjgwM2Ey.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2NhMGQ5MmQwNzg5YTUzZmFjNjQw.jpg" alt=""></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTZlOTUwMDI2NWQwYjBlMTM4N2Mx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>