<div class="left_art_zw"> 
 <h1>POLA正式入驻 日系化妆品“四大</h1> 
 <p class="left_art_zw_zz"> 来源：北京商报&nbsp;&nbsp;&nbsp; 时间:2007/7/23 10:19:00 </p>  
 <div class="wz">
   　　78岁的POLA并没有掩饰她对北京的青睐。
  <p>&nbsp;&nbsp;&nbsp; 上周末，日本POLA集团正式宣布以专柜形象正式入驻北京市场。至此，资生堂、花王、高丝、POLA——日本化妆界的“四大花旦”在北京聚首，这意味着日系化妆品销售更加激烈的竞争即将展开。</p>
  <p>&nbsp;&nbsp;&nbsp; POLA在日本主要是通过无店铺销售的，2005年进入中国的化妆品市场，换成了店铺销售。POLA THE BEAUTY综合美容沙龙是该公司拓展市场的主要渠道，而这次在北京设立专柜也是POLA首次在中国以专柜身份亮相。</p>
  <p>&nbsp;&nbsp;&nbsp; POLA中国区总经理坂本树志向记者表示：“POLA从进入中国开始，就酝酿着涉足北京市场，此番我们在经过仔细考察后决定在北京首设专柜，这也表明我们对北京的市场是有信心的。”</p>
  <p>&nbsp;&nbsp;&nbsp; 目前，POLA在中国设立化妆品专柜与开设综合美容沙龙发展计划同步开始实施。该公司计划2011年在中国进入50家高级百货店化妆品柜台和设立20家高档美容沙龙。 </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjBmODMzZDVjNGQ1OWVlZWZkYzY3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>