<div class="left_art_zw"> 
 <h1>Rebecca 携手《时装L’OFFICIEL》 范冰冰瓷肌红唇登封面</h1> 
 <p class="left_art_zw_zz"> 来源：瑞贝卡时尚假发供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/30 14:45:22 </p>  
 <p class="dd"> 范冰冰头戴一款性感Rebecca时尚假发，拍摄《时装L’OFFICIEL》封面大片。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">近日，范冰冰受邀拍摄《时装L’OFFICIEL》封面大片，雪白的肌肤配以红唇魅惑而唯美，一头性感Rebecca时尚假发，一改过去利落的风格，反而带有不同的妩媚感。其实，你也可以像冰冰一样，简单的齐刘??打造一个随意的湿发造型，仍旧可以光彩四射。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ODkyNTE3MTlmMDg2ZDBiY2FmNDgx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Y2M2NTBjMTcyY2IwMDVjODdkZjhi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTFhNmZiMTI3OGM3NzBjZWQ0Mjhl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZGJlOTJlYTIwMzJlMGE0MGI2NzIy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NGM4NjNjYjExMmQ3ODY0MGY4ZGU0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">冰冰的美丽发型秘密你get到了吗？对！就是齐刘海和浪漫卷发的搭配，赶快学习起来吧！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NWJhMWZmNjdjMmY1MjYyMjZiZGQ1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>