<div class="left_art_zw"> 
 <h1>Rebecca 携手吴昕化身时尚艾米丽</h1> 
 <p class="left_art_zw_zz"> 来源：??贝卡时尚假发供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/5 13:54:28 </p>  
 <p class="dd"> 吴昕的瑞贝卡内扣BOB头搭配艾米丽同款妆容，简单随意的刘海配上“波普轻运动”造型，让她得古灵精怪。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在近期的一组芭莎杂志大片中，吴昕摇身一变，成了《天使爱美丽》中的艾米丽，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">想不想看看她是怎么做到的？没错，就是这款Rebecca内扣BOB头搭配艾米丽同款妆容，简单随意的???海再配上“波普轻运动”造型，让她变得古灵精怪的同时又显得时髦优雅。这样轻松的转变，你也可以尝试下哦！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDY1NjU5M2NmNWY4ZjViOTlmZWFk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmZkOWExNzM5MmE4ODVkNjI2Njhj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTZhN2FmZDNhMzY0MjU1OWY2ZGVl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Mjc4ZWFiNTQ0ODFjNTU0ZjU2Yzk0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDJlOWFjNjAzM2FlMGYzZThlMWZl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NjYwMWY1YzgxNzdkYWI3OGRjOGM1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmRkODY1NjI0OTgwMWE1MjNjYmEz.jpg" alt=""><br> </span> </p> 
  <p> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjFiMTIwNGQ5MWE2MzQ4OTEzZDcz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>