<div class="left_art_zw"> 
 <h1>Rebecca VS 张静初，“文艺女神”也可以很酷</h1> 
 <p class="left_art_zw_zz"> 来源：瑞贝卡时尚假发供稿&nbsp;&nbsp;&nbsp; 时间:2016/9/24 14:13:54 </p>  
 <p class="dd"> 最新娱乐圈八卦，文艺女神张静初在近期拍摄的一组时尚大片中忽然变成了帅酷女孩，瑞贝卡女神一手资讯。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">近期张静初拍摄一组时尚大片，被叫做“文艺女神”的她忽然变成了酷女孩。这样的她，哈妹只想说：太酷啦！一头帅气的中发代替了原本的长直发，利落潇洒，演绎出叛逆有道的优雅??魂。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTUwYjYxOWM0YmJkNzQ4YzdhZTc5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTMxNTA3MTQ4Y2IzODQ5YzdmN2Fj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzBlYWI1ZWUwYjcxYjYxMDM0NmI3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzc5YTc4Nzk2ZWMzN2M0ZmEzMWQ2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmE5NGFkOGM1NTU3ZDkxN2E4NTY5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWYxYzQ2MjgzZWZlMWVjZmZlMGE0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTE3MzdmMDRjZTYzY2EwZjdjZDcz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWIyOGZiYTk4NDA2YzQzODBiNTRm.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDNkNmZlMWFhOTg3NDQxYjUyM2Yy.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>