<div class="left_art_zw"> 
 <h1>ReMINGLE睿阁是赋予女性自信的源泉</h1> 
 <p class="left_art_zw_zz"> 来源：ReMINGLE睿阁上海艺术研习中心供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/20 12:56:27 </p>  
 <p class="dd"> 短发盛行，即潮流又不失个性，ReMINGLE睿阁，推荐一些加了颜色的短发，多款发型供你选择。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">寻找独一无二的你，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优雅自信是女人的特权，我是赋予他伟大的设计师。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">短发盛行，即潮流又不失个性</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">如果你还没有尝试，或者你身边没有一个短发妹，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">为了让短发看起来更时尚更漂亮，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">今天推荐一些加了颜色的短发，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">带你一起玩转色彩。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YjUzN2ZkZjE2ODNhZDcwYjEwYTBm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjgxODUyODRmYmVlNWRiMWJjNGNj.jpg" alt=""></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>魅惑、</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>个性</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Yjk1OWQ1ZDQyMTMzZmQ1OTU0Mjc5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTdlM2RmNjVjOTAwYzllM2FmNzBh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>进化&nbsp;</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><img src="/image/information/ZTQyYWRhMWRjY2MxOTNhN2YzODIw.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><img src="/image/information/NzdkNTE4YmIwMGY2NzczZTgxNzJh.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><img src="/image/information/MWNiNzcyNzZlNmQ4Yzg5ZTYyYzky.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/M2Y5NjEzMTI0NmQzNDlhZjljYjhk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZjY3NjFjM2E3ZmFjNjQxNzNkMGVj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YmVjY2QwMjAxMmUzMzY2NjVmMTI0.jpg" alt=""></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTdjMmU3OTA0ZGI0MTNmYjk2NGFl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OGFkNGZkOGM1ZTQyN2NmOWY2N2Ey.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YjdkYzhiMWU5YTY4Mzc1MTAyMzRl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzIxNzVmNWFiMmExOTY5Y2VkMjBm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>强烈推荐学院7~8月学习高峰期的热门课程</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>经典剪裁课程 + 剪 烫 染商业课程、</strong></span><strong>经典剪裁技术 | 商业剪发与商业染烫的配合课程</strong> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">时间：7月5号~14号 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：10000 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现优惠价8000，报三送一。并赠送酒店住宿</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YWZiZWMyN2U4NDlkNGU0ZTZiMDhi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>经典剪裁课程|最新第四代|课程、</strong></span><strong>与伦敦同步发布 | 含金量最高级别剪发技术课程</strong> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">时间：7月5号~9号 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：5000 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现优惠价4250，报三送一。并赠送酒店住宿 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NDFjNjFkNmM1ODRhZGQ4MWE3ZjA0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>剪 染 烫商业课程、</strong></span><strong>商业剪发与商业染烫的配合课程</strong> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">时间：7月10号~14号 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：5000 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现优惠价4250，报三送一。并赠送酒店住宿 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzI0YzVhZjI4NDYyMGY1NjA1MGUz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>大师班课程：</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>捕获瞬息间的创意灵感</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">时间：7月19号~22号 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：7500 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现报名优惠价6000，并赠送酒店住宿 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDhiY2UyZTNjNTIxMTAxNTlkZmJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>色彩玩家课程、</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>极致炫色搭配和创意色彩课程</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">时间：7月19号~23号 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：5000 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现优惠价3500，报三送一。并赠送酒店住宿 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NDk4ZWE0M2I4NTU2NzZlM2UyYWYx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>8月学习高峰期的热门课程</strong></span> </p> 
  <p> <strong>经典剪裁课程 + 创意组合课程、</strong><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>经典与创意的纯粹技术演绎</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">时间：8月2号~11号 &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：10000 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现报优惠价8000，报三送一。并赠送酒店住宿 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDFiYTc3NGVmYWIyM2UxM2E5MDFl.jpg" alt=""></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>创意组合课程：</strong></span><strong>捕获瞬息间的创意灵感</strong> </p> 
  <p> 时间：<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">8月7号~11号 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：5000 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现优惠价4250，报三送一。并赠送酒店住宿 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjEwY2QwZDliY2VkZGVlZTAzMzY3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>沙龙商业短发课程、</strong></span><strong>专属短发特色配合极致色彩课程</strong> </p> 
  <p> <span style="line-height:1.5;">时间：</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">8月23号~27号 &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">学费：5000 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">优惠期间：现优惠价4250，报三送一。并赠送酒店住宿 &nbsp; &nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开课形式：影 .音.图.画 &nbsp; 授课方式：手把手指导练习</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZWYxZDdmNTE3NjZlZjZiNTViN2U4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>2016学院推出沙龙技术系统导入项目：</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MWU1YzYyMmZiZWJjMDY5MzYwZDhk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>亲传弟子内训班30周，学费80000元，（学院储备导师专用）</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NjVkYjg0ZDNmNmU2YmI2NmExMTM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">ReMINGLE 睿阁坚信：</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">不管在任何行业，教育都是成功地关键因素，并且贯穿整个职业生涯，特别对日新月异的<a href="/cg/2.shtml" target="_blank">美发</a>而言，持续不断地教育是成为一名出色发型师所必备的条件。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzZiMGY5ZjM3NGViOGRjNWE3YzQ0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>学院地址:</strong>上海市（外滩）哈尔滨路160号A106，老洋行1913.</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>艺术空间地址:</strong>上海市（外滩）哈尔滨路160号A102，老洋行1913.</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>交通路线 ：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">线路1---浦东机场乘2号线地铁到南京东路换乘10号线(海伦路站)2号出口步行5分钟</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">线路2---虹桥机场 虹桥火车站乘10号线,(海伦路站)2号出口步行5分钟</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">线路3---上海南站乘1号线到人民广场换乘2号线到南京东路换乘10号线(海伦路站)2号出口步行5分钟</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">线路4---上海火车站乘4号线(海伦路站)2号出口步行5分钟</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">欢迎全国<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>连锁组团以及美发产品商来洽谈合作</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程咨询电话 ：021-56318622</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">13661460320 &nbsp; &nbsp; &nbsp;18621855029 &nbsp; &nbsp; 13818067900</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YzVhYmEwZTk2MDJiNjA2NDA4NTM1.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGM5NDJjYTdlZWQ1NTI1Mjc2NGRj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>