<div class="left_art_zw"> 
 <h1>SCCP提交染发剂备忘录 欧委会开</h1> 
 <p class="left_art_zw_zz"> 来源：中国质量新闻网&nbsp;&nbsp;&nbsp; 时间:2007-5-24 15:41:00 </p>  
 <div class="wz"> 
  <p>　　日前，欧盟消费品科学委员会（SCCP）提交的一份备忘录引起了欧委会的注意。该备忘录称：目前使用的许多染发物质可能对皮肤有过敏反应，有些物质可能致癌。</p>
  <p>　　该报告提出，染发产品对消费者健康存在着潜在危害。为了全面评议染发产品与消费安全之间的关系，SCCP做了大量的调查工作。如染发物质的使用频率、使用量、有潜在影响的民众比例、影响的种类和严重程度等，而在此之前，并没有关于染发剂使用者发生过敏情况的系统数据。</p>
  <p>　　目前，SCCP已经对46种染发物质进行了评议并按其皮肤致敏能力进行了排序。这46种物质中有10种被发现是极其严重的致敏物质，13种为严重致敏物质，4种为中等致敏物质。</p>
  <p>　　使用持久性染发剂，还可能患膀胱癌。根据SCCP的规定，染发剂生产企业要提供安全性资料，如对生产持久性染发剂的企???，其配方中复合物质资料的提交日期为2007年12月31日。届时，对未提交安全性资料的企业，SCCP将提出禁售要求的评议，在给出的评议意见中，致敏特性也在其中。</p>
  <p>　　根据SCCP备忘录所作的致敏特性分类，欧委会的相关机构将展开评议，以确保染发剂安全性，尽可能减少由染发剂造成的过敏反应。</p>
  <p>　　鉴于过去10年使用染发产品人数的大量增加，欧委会于2003年就力争建立一个行动计划（在欧盟各成员国允许使用的染发物质的肯定列表），并采取了一些措施，如2003年在化妆品指令（76/768/EEC）中，要求一般染发剂生产企业，必须在2005年7月31日前提交安全性资料，同时规定了持久性染发剂企业的安全资料提交期限（即上述的2007年12月31日前）。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjMyNGU3NzM1ZmNhZTJiYTUxMzcz.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>