<div class="left_art_zw"> 
 <h1>SK - II重返中国后天羊城上柜</h1> 
 <p class="left_art_zw_zz"> 来源：南方日报&nbsp;&nbsp;&nbsp; 时间:2006-12-1 9:54:00 </p>  
 <div class="wz"> 
  <p>　　根据准确消息，SK - II将于本周日启动重返中国市场的计划，广州市广百百货SK - II专柜可能是其国内第一个恢复销售的柜台。据了解，宝洁公司计划在12月中旬前推出第一批重新开张柜台。</p>
  <p>　　宝洁相关方面的人员这几天很忙。据悉，SK - II品牌将于后日下午在广百进行“携手真情路，再续美丽缘———SK - II广百百货专柜重张仪式”。宝洁公司将其看作“极具纪念意义的时刻”，公司大中华区高层将出席仪式。</p>
  <p>　　据广百内部员工向记者透露，公司内部还并未最后决定恢复SK - II柜台运营，双方还在就某些条件进行最后的谈判。宝洁方面有消息传出，广百专柜将是第一个。</p>
  <p>　　因被检测出违禁成分铬和钕引发退货潮，SK - II 9月22日被迫宣布退出中国市场。10月23日，国家质检总局和卫生部联合声明称，SK - II所含违禁成分系原料带入所致，正常使用含微??铬和钕的化妆品对消费者的健康危害较低。</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGNmZWNmZTRkMmRlYWFhYjViZjQ4.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>