<div class="left_art_zw"> 
 <h1>SK-II 产品退货暂无门 北京商场</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-9-24 13:47:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 昨天宝洁公司突然宣布在中国停售所有SK-II产品，暂停专柜运作，取消临时退货点，转为热线电话处理退货。今天，记者了解到，目前热线电话也并不能处理退货，SK-II“退货无门”。 
  <br>
  <br>　　三个临时退货服务中心撤&nbsp; 销客服热线称具体流程两三天内公布目前无法处理
  <p>　　SK-II 产品退货暂无门</p>
  <p>　　员工带薪休假商场暂时保留专柜 </p>
  <p>　　本报讯（记者王立莉）昨天宝洁公司突然宣布在中国停售所有SK-II产品，暂停专柜运作，取消临时退货点，转为热线电话处理退货。今天，记者了解到，目前热线电话也并不能处理退货，SK-II“退货无门”。</p>
  <p>　　今天上午7时50分，记者拨通了SK-II的客服热线。电话拨通后，首先播放的是语音的SK-II声明。然后接线员告诉记者，SK-II这几天暂停退货，因为全国退货的流程不统一，目前公司正在制???统一的退货流程，两三天内会公布出来，到时候，怎么退、退哪些款产品等才会知道，目前热线电话也无法处理退货。</p>
  <p>　　昨天，几乎各商场一开门，SK-II的专柜就已经全部撤空了，销售小姐也都不见人影，而本来计划保留到周日的友谊宾馆、德宝饭店、兆龙饭店三个临时退货服务中心也都在昨天撤销，消费者现在完全找不到SK-II的处理退货人员。</p>
  <p>　　留在各商场SK-II专柜上的热线电话号码，成为消费者寻找SK-II退货渠道的唯一线索。但接线员告诉记者，现在只能等流程统一以后再退货，大家需要耐心等待几天。</p>
  <p>　　员工</p>
  <p>　　带薪休假不知何时上岗</p>
  <p>　　某商场一位SK-II销售小姐告诉记者，21日晚，该商场6名SK-II销售人员接到通知，要求撤柜，并且回家待岗。她说，目前总部并没有通知她们何时恢复上班，只是通知她们此次是带薪休假。</p>
  <p>??　据这位销售小姐介绍，SK-II专柜销售人员的工资由底薪加提成组成，但提成并不高，所以带薪休假，收入不会受太大影响。</p>
  <p>　　“但如果SK-II公司下一步对我们有不公待遇的话，我们也会一起提出抗议。”她告诉记者，目前她最大的心愿就是恢复上岗。</p>
  <p>　　据悉，SK-II在全国约有400名美容顾问，即销售人员。</p>
  <p>　　商场</p>
  <p>　　保留专柜空置一段时间</p>
  <p>　　记者在中友百货、新世界百货、王府井百货大楼、复兴门百盛等商场了解到，目前商场都保留了SK-II专柜。</p>
  <p>　　据悉，SK-II在北京的商场内设置的专柜面积还比较大，目前这些专柜都是空置在商场内。中友百货相关负责人表示，目前商场没有接到摆放其他化妆品的通知。</p>
  <p>　　新世界百货公关部一位负责人告诉记者，SK-II并未说要退出北京市场，撤货只是暂时的，所以商场目前会保留SK-II专柜，空置一段时间。</p>
  <p>　　相关报道</p>
  <p>　　宝洁上海分公司遭围堵</p>
  <p>　　据《新民晚报》报道，昨天14点左右，宝洁上海分公司遭二三十名SK-II事件抗议群众围堵，玻璃大门在冲突中被损坏。</p>
  <p>　　新加坡检出违禁成分</p>
  <p>　　据新加坡媒体报道，新加坡卫生部门最新消息称，已经结束了对当地销售的六种SK-II产品的测试。测试结果显示，SK-II中确实含有铬与钕两种物质，是以痕量杂质的形式出现的。</p>
  <p>　　同时，新加坡卫生部门称会继续关注事态发展，并会对所有在新加坡销售的化妆品提高警惕。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自: 法制晚报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDA2Zjc4NTg1NDIzNzQyNDVkNGJm.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>