<div class="left_art_zw"> 
 <h1>SK-II再度上市，蜜丝佛陀黯然离</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-10-26 10:18:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp; SK-II在华暂停销售之后，SK-II可能退出中国市场的传闻近来不绝于耳。记者昨日突然收到一个“内部消息”称，SK－II欲在近期重新上市，并且在全国市场进行销售。
  <p>　　“我们对此消息不作任何评价，但SK-II不会永远退出中国市场。”宝洁中国的一位员工向记者证实，就在SK-II的产品退出市场之后，宝洁负责SK-II产品的所有工作人员依然“照常工作”。</p>
  <p><strong>　　SK-II坚决不会退出</strong></p>
  <p>　　宝洁(中国)有限公司有关负责人对记者表示，SK-II不会退出中国市场，一是因为它在中国成长良好；二是因为关于铬钕含量一事，目前宝洁正在加紧与政府进行沟通。另外，宝洁也在加紧进行恢复销售的工作，但目前还没有具体的时间表。他强调，SK-II不会就此退出中国。</p>
  <p>　　据宝洁中国一位员工透露，SK-II在中国建厂的计划??到一些影响。据他介绍，去年消费者状告SK-II风波之后，SK-II的销售恢复得很好，已经超过了官司之前的水平。于是宝洁打算在中国设立SK-II生产线，将生产本地化，但铬钕风波再度使这一计划受到影响。</p>
  <p>　　记者了解到，虽然SK-II已经停止销售一段时间，但是宝洁中国负责该品牌的员工依旧照常工作，SK-II专柜小姐也是在家待命，准备重新上市。据一位经销商向本报记者透露，SK-II在中国内地成长良好，在铬钕风波之前，日均销售额约1000万元，节假日可能达到两三千万元。目前，SK-II新的退货方案仍没有制定出来，但销售小票、销售记录等证明仍是必须提供的。</p>
  <p><strong>　　“蜜丝佛陀”黯然离开</strong></p>
  <p>　　一方面，SK-II表示坚决不离开中国；另一方面，宝洁另一化妆品品牌却在悄悄撤退。宝洁有关人士证实，去年上半年才引入中国的高档彩妆品牌“蜜??佛陀”(MAXFACTOR)已经退出中国。</p>
  <p>　　“蜜丝佛陀”去年3月被宝洁公司引入中国，由于宝洁同期还引入了大众彩妆品牌封面女郎，这被业内认为是宝洁决定在华由以日化为重点转型为以化妆品为重点的企业。一位知情人士对本报记者透露，今年上半年“蜜丝佛陀”的所有专柜都撤下了，产品也被销毁。</p>
  <p>　　而一位曾经负责“蜜丝佛陀”品牌的宝洁员工则表示，“蜜丝佛陀”撤出中国并不只是因为销售业绩，而是总部的全球策略。在收购了安娜苏等香水品牌之后，宝洁美国总部对一些品牌架构作了调整计划，“蜜丝佛陀”不仅退出中国内地，而且也已经退出经营了十多年的中国香港、中国台湾地区。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:中国化妆品网</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTVkNjNlOGFhYWFlODllN2IzMjJm.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>