<div class="left_art_zw"> 
 <h1>SK-II复出面临三道坎</h1> 
 <p class="left_art_zw_zz"> 来源：新京报&nbsp;&nbsp;&nbsp; 时间:2006-11-10 13:05:00 </p>  
 <div class="wz">
   11月7日，宝洁出面否认SK-II率???在东北某城市恢复专柜销售的传闻，称“仍在和零售客户进行积极的沟通”。 
  <br>
  <br>　　而自10月23日，国家相关部门对SK-II的安全性进行了说明之后，长达半个月SK-II在恢复销售上一直没有动作，那么SK-II恢复销售究竟卡壳在哪？ 
  <p><strong>　　买断形式加大商场风险</strong> </p>
  <p>　　一位商场从业人士透露，国家相关部门所做的安全性说明，是SK-II得以恢复销售的第一前提，但是消费者信心受到的影响，短时间内并非一个安全性说明就能重建。 </p>
  <p>　　商场方面对恢复销售后的市场存在怀疑是肯定的，因此提出一些条件要求宝洁有一定的销售承诺保证，也在情理之中。 </p>
  <p>　　赛特商城公关经理鲍简介绍，此前商场方面和宝洁的经销商签订合作合同，实行“买断”模式，即用现款和经销商直接结算，“一手交钱一手交货”，鲍简称，像SK-II这样的一线品牌“名气大”，和商场合作方面更趋主动性，和商场的合作一般都是此种形式。商场中的柜台直接由宝洁自己负责，包括专柜设计以及维护，美容顾问的派遣等。也就是说，宝洁设在各个商场的专柜销售商场的产品。 </p>
  <p>　　鲍简表示，商场进驻比较大的化妆品品牌，最少也要考虑半年的时间。 </p>
  <p>　　商场需要慎重考察一个即将进驻的品牌所带来的赢利，SK-II这个“名气大”的一线品牌，经过此次风波之后，将用多少时间来达到原有的销售水平，这对于宝洁和商场都是一个未知的问题。而实际上，由商场方面担负的风险早已发生——因SK-II停售，而产生了大量的柜台空置费用。 </p>
  <p><strong>　　恢复销售谈判细节繁杂</strong> </p>
  <p>　　现在商场方面意识到将要承担的风险，向宝洁寻求更大的保障，双方在恢复销售上的沟通难免会遇到问题，这直接导致恢复销售谈判的烦琐。 </p>
  <p>　　宝洁公司公关经理梁云表示，目前正在和包括经销商、商场终端以及“更广的”商业合作伙伴进行沟通，将制定系统的恢复销售程序，包括重启之前已经在中国内地暂停投放的广告等等，“很多具体的细节都要进行沟通”。 </p>
  <p>　　SK-II在京地区经销商，北京一商美洁有限责任公司宝洁部总经理冷女士也表示，正在和宝洁进行协商，恢复销售过程“手续比较麻烦”。 </p>
  <p>　　日化行业营销分析师李海龙称，宝洁、经销商和商场三方需要沟通的问题很多，像之前由商场代理接受消费者的退货需求，在执行过程中是否会出现偏差，商场的人力和精力支出，以及退货的款项支付等，都是需要沟通的具体细节。另外被迫中断的广告合同、空置柜台损失、以及合同中其他的细则怎样计算等问题都需要沟通。 </p>
  <p>　　此外，还要考虑商场方面和经销商蒙受的损失，??洁是否会做出赔偿及未来的承诺等。 </p>
  <p>　　这些沟通的细节都将对SK-II的重归产生影响，如经销商和商场方面，是否会像之前一样接受SK-II大牌身份的现款买断制，会直接影响在广告投入巨大的情况下，SK-II是否有足够资金进行周转，以及是否还会给SK-II商场中最好的位置，都将影响其重回市场后的市场推广。 </p>
  <p><strong>　　复出成本巨大</strong> </p>
  <p>　　渠道的公关和重振，对于SK-II来讲，将是一笔不小的复出成本。日化营销研究者张兵武表示，广告冲击一定会被宝洁再次启动，“以广告代公关”进行品牌推广。SK-II在中国内地最大的经销商，上海东纺宝洁总经理翁志刚也预期，宝洁会通过促销和广告投入两个方面加大力度。 </p>
  <p>　　每一项复出成本，对于SK-II来讲，是巨额的资金投入，也是SK-II在此次风波之中遭到的损失。宝洁方面称，在此次风波中的损失目???还没有一个明确的数字，但风波中的这些资金损失，对SK-II复出也会造成资金周转的压力。 </p>
  <p>　　北京赛特商城公关经理鲍简透露，在SK-II宣布暂时退出中国市场之后，由商场方面垫付资金办理的退货投入了100万。这和之前一个月正常销售额相等。商场方面办理退货的一个条件就是产品在该商场购买，因此可反映原销售量和退货量大致比例关系。 </p>
  <p>　　翁志刚透露，他所经销的SK-II专柜平均每月的销售额约为40万-50万元，在中国内地共97个专柜中，东纺宝洁的40多个专柜去年整体收入不到2个亿，据他估计，SK-II一年的销售额约为3亿多人民币，平均一天全国专柜的销售额能在100多万。 </p>
  <p>　　按照每天100多万、退货投入和一个月的销售额持平计算，可大约估算出由商场方面进行代办退货的资金，至少应该在3000万。而宝洁开始接受退货，到暂时宣布退出中国内地市场之前，都由专柜进行办理，而且还在一些城市开设了集中退货点，显而易见，事发之初的专柜退货和集中退货点的资金投入上会更大。 </p>
  <p>　　宝洁从商场收回的退货都将做废弃处理，这些产品也是一项巨大损失，这和为消费者退货的投入基本等同。 </p>
  <p>　　到昨天SK-II风波事发已56天，尽管宝洁称专柜销售“快了”，但尚未有明确的时间表，停售还仍在继续，因此按照每天100多万的估计，因停止销售而减少的损失预计就至少在6000万以上。 </p>
  <p>　　除了停售、产品废弃以及退货最直接的损失之外，SK-II还面临着原广告投放档期的延迟等损失，另外，SK-II在全国400多位销售人员带薪休假也一个半月有余。</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDFiNmMwODgxMDVhNTQ4YmU3Zjli.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>