<div class="left_art_zw"> 
 <h1>SK-II专柜重现上海商场 现场记者</h1> 
 <p class="left_art_zw_zz"> 来源：中新网&nbsp;&nbsp;&nbsp; 时间:2006-12-16 10:26:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 15日上午，SK-II在上海东方商厦南京东路店的专柜开始重新营业。宝洁公司透露，下周SK-II将在上海恢复更多专柜，销售其全线产品。　　 　　 
  <br>　　
  <br>　　令SK-II专柜销售小姐意外的是，上午9时30分，东方商厦南京东路店刚开门就迎来了第一笔生意，一对老夫妻为远在国外的女儿购买了2个粉饼的粉芯。新民晚报记者在现场看到，柜上摆满了SK-II的各种试用装，SK-II的销售小姐也面带微笑迎接重新上岗的第一天。　　 　　 
  <p>　　但上午光顾SK-II专柜的顾客并不多，现场的记者明显多于前来咨询的顾客。销售小姐表示，SK-II重开专柜特地推出了促销活动，尽管如此，上午到SK-II专柜咨询并购买产品的消费者还是寥寥无几。宝洁公司对外事务部经理梁云表示，此次在上海恢复销售的SK-II产品全部为原料配方产品，与全球其他区域的产品原??一致。上海原有14家SK-II专柜，目前恢复的专柜聘请的仍是原班人马。　　 　　 </p>
  <p>　　从本月3日起，SK-II陆续在内地部分城市恢复专柜，目前SK-II在内地重开的专柜数量已达10个。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjJlNTg3MzI4Y2NmMGI1NDAyOTVk.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>