<div class="left_art_zw"> 
 <h1>SK-II撤出福州市场将确定不再复</h1> 
 <p class="left_art_zw_zz"> 来源：福州日报&nbsp;&nbsp;&nbsp; 时间:2007-1-7 14:07:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SK-II在成都、重庆等城市陆续恢复了专柜销售，不过记者5日从大洋百货得到证实，SK-II已撤出福州市场，不再复柜。
  <br>　　
  <br>　　据了解，去年9月份，SK-II被曝有问题，并于当月撤柜。但大洋百货始终保留着专柜以等待其复柜。去年12月初，SK-II先后在北京、广州等地恢复上柜后，SK-II有关人士曾表示，将在随后的计划中安排在福州重新上市。
  <p>　　但5日，大洋百货化妆品区相关负责人告诉记者，SK-II已经确定不在福州复柜，同时也撤出厦门市场。据悉，SK-II在福州市场表现良好，销量一度排名前列。</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MTZjYmJjMWNkYTkyNmVkOTIxN2Vi.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>