<div class="left_art_zw"> 
 <h1>SK-Ⅱ下月或重登广百柜台</h1> 
 <p class="left_art_zw_zz"> 来源：广州日报&nbsp;&nbsp;&nbsp; 时间:2006-11-23 10:33:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 宝洁发表声明称12月初北京、上海等地部分SK-Ⅱ专柜将恢复销售.虽然宝洁官方仍然表示具体时间、专柜地点还未确定，不过昨日记者得到消息称，因为有许多条件要谈判，12月初华南恢复销售的只有广百、武汉广场两个专柜。业内人士认为，SK-Ⅱ要想恢复元气，恐怕要很长一段时间。 
  <br>
  <br>　　14日，宝洁发表声明称SK-Ⅱ会先在北京、上海等各大城市部分商场恢复销售。昨日，宝洁大中华区对外事务部部门经理刘玲对本报记者表示，广州的专柜也和北京上海同时在12月初恢复销售，且SK-Ⅱ的价格没有调整。 
  <p>　　昨日，记者从SK-Ⅱ一位经销商处了解到，12月初，整个华南地区恢复销售的只有广百和武汉广场专柜，而东部包括上海还都不知道具体时间。之所以迟迟未确定专柜名单以及各专柜恢复销售的时间不同，是因为宝洁和商场要重新??条件，比如位置、分成等。 </p>
  <p>　　据记者了解，广百的SK-Ⅱ专柜一直保留着，广州市广百股份有限公司策划部李展敏对本报记者表示，并不清楚广百SK-Ⅱ专柜恢复销售的时间，目前还在谈判。友谊商场的SK-Ⅱ专柜已经暂做他用。 </p>
  <p>　　业内观点　消费者不信任心理仍将持续 </p>
  <p>　　一位业内人士对本报记者表示，SK-Ⅱ若想恢复到风波前的销售水平至少需要一两年，根本原因是消费者已经对其安全性产生了怀疑，而这种心理还会持续很长一段时间。铬钕风波使得商场对其前景产生怀疑，“以前SK-Ⅱ的位置都是商场的一线，现在谁还敢把一线的位置给它？”如果拿不到一线位置，有些专柜可能就要重新制作，这又是一大笔费用。而时间拖得越长，宝洁损失就越大。 </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YmI1Njc5ODlkYTBiOWY2ZjA4N2Y1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>