<div class="left_art_zw"> 
 <h1>SK－Ⅱ玩失踪 行政处罚不能玩失</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-9-25 9:57:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 23日上午10时左右，当上海《东方早报》记者赶到环球世界大厦SK－Ⅱ退货点时，发现大厅里围了众多激动的消费者。不少女士手里紧紧捏着一张纸，并不停地拨打手机。而前天的退货点2501室空无一人。消费者顾女士拿着那张《声明》，气愤地说，“我昨天来过了一趟，工作人员告诉我说10月5日前一直在这里的，看到这么多人，让我明后天再来，没想到他们这么不讲信用。”（据9月24日《东方早报》） 
  <p>　　近年来，跨国公司在华出现的产品质量事件逐渐增多，但在民众印象中，尤其在国内制假贩假一度猖獗的映衬下，它们似乎还是企业信誉的维护者。笔者不知道，这次宝洁公司的出尔反尔会不会彻底摧毁国际跨国公司在消费者心中的光辉形象，但确实应该给消费者一个教训：在利益面前，没有哪家公司是天生的圣人；追求利润的最大化，??企业的天然使命。所谓的信用，所谓的商誉，只不过是保证这个使命完成的手段。 </p>
  <p>　　不良商家应该得到应有的惩罚，这是起码的准则。否则，其榜样力量将诱导更多的企业肆无忌惮地损害消费者利益。一般说来，惩罚有两种；市场惩罚和行政处罚。现在SK－Ⅱ不但名誉扫地，被清出中国市场，而且面临着退货、退款的压力，市场性惩罚可谓已经达到。但行政处罚呢？很遗憾，我们没见到。 </p>
  <p>　　众所周知，按照最基本的权责利原则，政府相关职能部门的唯一使命，是最大程度上维护纳税人的权益。既然质检总局认定SK－Ⅱ含有有毒物质，相关的执法部门为什么不对其予以处罚？SK－Ⅱ可以玩失踪，消费者哭诉无门，但其在中国并非没有生产基地，为什么不果断扣押其设在中国的工厂？须知，任何一个国家的法律和规章制度都旨在保护自己的国民啊！ </p>
  <p>　　跨国公司的傲慢，跨国公司的双重标准，近年来愈来愈明显，是不是与我们的职能部门的过度宽容有关，笔者不敢妄下断言。只是，近年来不断出现的国际巨头的违规事件，如，鲜奶风波、PVC保鲜膜事件、苏丹红事件、雀巢奶粉事件、杜邦不粘锅风波等等，很少看到它们受到什么来自相关职能部门的处罚。 </p>
  <p>　　和国际接轨，是国内垄断行业、管理部门和政府职能部门的出国学习考察任务。但是，国外对本国企业严厉实施的惩罚性执法，我们却一直而不见。国际巨头为什么在其母国安分守己？并不完全是民族情感的原因，乃是因为头上悬了一把达摩克利斯之剑——只要你敢越雷池半步，动辄十几亿甚至上千亿美元的惩罚性罚款，足以叫你倾家荡产，永世不得翻身。如果说，过去发展经济是各政府部门的中心任务，现在随着改革的深入，相关的职能部门再不??循规蹈矩了，而应该紧跟形势，把工作的中心转移到为纳税人服务、维护纳税人权益上来了。如此一来，SK－Ⅱ玩失踪，怕什么？跑得了和尚，还能跑得了庙？</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:中国青年报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Zjg0N2NlNjRiZDM1OTVjOWRkMDUz.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>