<div class="left_art_zw"> 
 <h1>SOKA简亨王府井分店开业招聘火热进行中</h1> 
 <p class="left_art_zw_zz"> 来源：哈发网自主采编&nbsp;&nbsp;&nbsp; 时间:2016/8/3 13:54:45 </p>  
 <p class="dd"> SOKA简亨王府井分店开业招聘火热进行中！ </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">继6月18日恒大绿洲店开业后，又将迎来8月王府井店的开业，SOKA 正以潮鸣电挚的速度席卷龙城 。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzUzM2QwYzY5MzYxZDFlZDQyYjM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTlhYzk0ZmZkOTUxZjMxOTUyNmRj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">SOKA企业(香港)是一家集发型、洗疗、养生、护肤、酒店、餐饮、健身、娱乐于一体的综合性服务机构，旗下开设了多个系列高端品牌，SOKA 简亨(香港)成立于2002年，主要布局于全国一、二线城市，公司秉承诚信做人，团结做事的企业态度；顾客至上，信誉为先的企业宗旨，迅速获得广大顾客及同行的一直认可，随着太原分公司的成立以及王府井店的即将开业，特面向美业诚聘以下英才：&nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODY2Y2VkMTk3ZDM2ZWNmYzlmMTgy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmI0YzgxNTZlY2M2NGRkMGIwZjhi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>招聘职位：(公司)</strong> &nbsp; &nbsp; &nbsp;&nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">财务经理2名 &nbsp; &nbsp;年薪15万</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">办公职员10名 &nbsp; 年薪6万</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">平面设计师3名 &nbsp; 年薪8万</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">仓储配送5名 &nbsp; &nbsp; 年薪5万</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/N2VjNjZlNDcxZmEyYjhjNzhmZWU3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>招聘职位：(门店)</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">总经理：5名：年薪60万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 美容经理：5名：年薪40万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; <a href="/cg/2.shtml" target="_blank">美发</a>经理：5名：年薪40万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 美容导师：10名：年薪30万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 总 &nbsp; &nbsp; &nbsp; 监：5名：年薪25万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 首 &nbsp; &nbsp; &nbsp; 席：5名：年薪20万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 美 &nbsp;容 师：30名：年薪15万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 美 发 &nbsp;师：30名：年薪15万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 技 &nbsp; &nbsp; &nbsp; 师：10名：年薪10万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 美容学徒：20名：年薪6万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 美 甲 &nbsp;师：5名：年薪5万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 接 &nbsp; &nbsp; 待：5名：年薪4万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 保 &nbsp; &nbsp; 洁：5名：年薪3万起</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmY1NTE4OWIxNWViMzM0MjFkZjYx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>招聘范围：</strong>中国大陆及香港</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>设计师招聘要求：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、形象好气质佳，熟练当代时尚<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>技术；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、五年以上设计师经验，剪法精准细致，吹风造型功底深厚，设计理念时尚而有品位；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、沟通能力好，能够为顾客提供优质服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>美容职务招聘要求：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">女、形象好、气质佳、有亲和力、沟通力强、学历不限。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>工作职责：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">细心对客户进行美容美体等相关服务；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">耐心对客户的各项咨询作出讲解；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">积极对会员进行及时回访及沟通；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODE0NTZmNjk4NDE0NzRlNDMyMGQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>任职资格：</strong>身高156cm以上，美容护理专业者优先考虑。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">你可以不会，你可以理解慢，你可以提要求，但是你要踏实，你要稳重！期待您的加入，让我们一起携手共进，一群人一件事一辈子！不抛弃不放弃，进工厂5年后你还是工人（依然在流水线上），做美发五年你可以拥有永远值钱的手艺和个人能力形象的提升，还有干工厂可能需要20年才拥有的财富，一个永远不被淘汰的行业，随着生活品质的提高，越来越多人需要注意形象和健康！消费处于上升趋势。不被机器取代，客人也没有办法自己美发，美发不像服装和其它行业，这行不受网络影响??永远不会失业！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTZiOWI0NWM5ZDNlMzc3MGQ4MTMy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">联系人：沙总 13861680995、赵总 13916428121、车总 18888038929、徐总 18351519818、吕总 18261580163 &nbsp;微信同步</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">长期招聘有上进心、务实的人，力在本市打造一个高素质的技术团队，给大家搭建一个更宽广的平台，造福顾客；成就自己——SOKA 简亨（香港）。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODY4ZThjOTdmYTkxM2NkZDkxN2Rm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>