<div class="left_art_zw"> 
 <h1>SPA在中国市场悄然兴起</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网&nbsp;&nbsp;&nbsp; 时间:2006-10-21 9:55:00 </p>  
 <div class="wz"> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 随着生活水平的日益提高，人们对于生活质量的要求也越来越高，并且由于现在大量的外来文化进入我国，使得人们在观念上得到了改变，更愿意追求生活上的享受，再加上如今生活节奏的不断加快，社会各个方面给人们带来越来越多的压力，促使大部分在周末空闲的时间，作一些事情让自己的身心得到更好的放松，于是SPA在我国市场上占住了一席之地。<br><br>　　SPA是希腊语SOLUSPARAQUA的缩写，意为健康在水中。是指人们利用天然的水资源结合沐浴、按摩和香薰来促进新陈代谢，满足人体视觉、味觉、触觉、嗅觉和思考，达到一种身心畅快的享受。从全球范围来看SPA已形成了一股风潮，这种由专业美疗师、水、光线、芳香精油、音乐等多个元素组合而成的舒缓减压方式，能帮助人们达到身、心的健康，是现代都市人追求身心健康的一种???然需求。于是在上个世纪末，这股热风吹进了中国市场。<br>&nbsp;<br>　　如今在中国，我们所见的SPA馆的规模大小不一，有占地面积达一两千平方米的大型综合会所，也有二三百平方米的温馨小店。但是每个店都尽可能推出各自较为突出的特点，在环境和装修上大多注意营造自然清新、典雅幽静的氛围。在服务项目的设置上也具有极大的多样性，内容丰富而全面，讲究个性化服务。并且通常会把国外传入的SPA理疗与中医传统养生法如中医理疗、草本疗法、经络针灸疗法、全息反射疗法、中草药浴汤、玉石引流、刮沙、推拿等结合起来成为一种有中国特色的新SPA。<br><br>　　如今专门面向男性消费者开放的SPA正在我国悄然兴起了，或许在不久的将来SPA也会随着SPA自身在我国市场上的不断兴起和发展，慢慢的也会朝着细分化趋势靠近，并且更大范围的普及，在日益激烈???行业竞争下价格上随之下调，这样一来，更多的消费者就可以享受到它，也将成为促进我国美容行业经济发展的一支不可忽视的队伍。</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjgwZDNiNzkzNmQ1NjAyZjgzM2Iz.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>