<div class="left_art_zw"> 
 <h1>SSR级美业级减龄发术！不是谁都抢得到。</h1> 
 <p class="left_art_zw_zz"> ???源：歌薇专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2016/11/12 15:18:25 </p>  
 <p class="dd"> 减龄发术启发自韩国美容潮流，从时尚之都首尔直送最新潮流。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">THE SWEETHEART - ADORABLE &amp; CHARMING SMOOTH WAVES AND AN ASYMMETRIC BOB CREATE THAT CERTAIN SOMETHING</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">光滑的卷发配合不对称BOB发型创造独特的魅力。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2IzZTU0ZWNhOGI4YTllY2QzZDE2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWNhZWNkMmJlNjQ2Y2Q5MGJkYWU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CLIENT WISH 客人期望：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Kalin希望拥有富有动感，可以有多变的造型，自然而润泽的卷发。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">SERVICE RECOMMENDATION 服务推荐：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">配合不对称的形状和卷曲度达到修饰脸型的效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">BEFORE SITUATION 发质分析：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">长度：肩膀位置 &nbsp;发质：直发 &nbsp;发量：一般</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDQyODY4YWQ4OWI3YjI5MTE4Zjdl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjAyMDgzZWFkZGFjNjMxODIwMGZl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、 使用蒂仙净爽修护洁净洗发水清洗头发。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、 使用姬丽丝角蛋白发膜调整发质结构，停留5分钟冲水。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、 首先在耳下4cm建立一条底线决定长度。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、 利用斜线分区剪法，形成对角线令枕骨下方增加丰盈度，然后枕骨以上头发修剪层次延伸至前方，令头发增加方向感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODI1MTg0MDE4NmNlMWU2ZDIyMjcw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjY3YWZmMTVlNGEwNzMxZDdjNmJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、 在后颈区开始上卷；两层18mm电发芯。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、 后顶部分用上20mm电发芯，分三层垂低角度卷至枕骨位置。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、 把前方分界位区分，然后把长刘海向后垂低倾斜按发量厚薄平均卷上20mm电发芯。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、 两旁最底部用反卷技术把头发垂低卷上20mm电发芯。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、 选用亚洲版绿叶烫发水1号，操作时间15分钟，冲水后用毛巾抹干。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6、 使用中和剂，按时拆下电发芯后冲水。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWU3MGFjNDk2MzI4OTQwYTc1MDIy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWFiY2E3MDA0NGNhMGJjYTVlNDll.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、 涂上蒂仙柔卷修护精华露和创意造型系列丝丝光彩霜于毛巾拭干的头发上。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、 首先用圆刷或用手抬起发根吹干，令头发保持松度。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、 将右方的头发向后扭曲吹干，保持卷曲度。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、 最后使用创意造型系列丰盈强劲喷雾作定型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWUwOWI3YWE0ZTk0MzRjZTVkMDAx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGNjNTk4MjAyMDBmMjVmNmE0OGQw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">建议使用蒂仙柔卷修护系列产品作家居护理。创意造型系列丝丝光彩霜令头发造型润泽，保持理想的自然效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>跟进服务：</strong>建议客人六星期后修剪头发，保持发型层次感及烫发效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2U4OTU0NjI5NmE2ZWI2YTg0Yjdh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGQ0MDM0Y2YxNjJkZjU3ZGRiOTdm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">减龄发术启发自韩国美容潮流，从时尚之都首尔直送最新潮流。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MmJmY2IzNWMxZjEwYjgxOGZiOThm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>