<div class="left_art_zw"> 
 <h1>TONI&amp;GUY携Rebecca 定制化创意剪裁课程已上线</h1> 
 <p class="left_art_zw_zz"> 来源：TONIANDGUY供稿&nbsp;&nbsp;&nbsp; 时间:2016/9/3 12:38:37 </p>  
 <p class="dd"> 什么最能够彰显个性？当然是创意发型。TONI&amp;GUY携Rebecca定制化创意剪裁课程应运而生。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创意发型，能够彰显人的个性， 满足时尚人士对于潮流趋势的追捧，易于在沙龙中推广，具有很强的商业价值。备受期待的TONI&amp;GUY和Rebecca定制化创意剪裁课程，在TONI&amp;GUY中国区及南半球教育总监BillWatson和TONI&amp;GUY中国行政总裁及艺术总监FrankieChan的精彩演绎下完美收官。Rebecca作为享誉全球的时尚假发品牌，需要培养出一批优质的创意发型师。此次课程，结合TONI&amp;GUY最新趋势创意剪裁手法，针对假发的发质和特点，充分融入时尚元素。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWU0ODFlYmRjN2E0NzJkZDA5NmMx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课堂上，细致讲解每款发型的剪裁技术与色彩来源。课堂下，发型师们各抒己见，与讲师积极互动。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>回顾每一抹精彩瞬间：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">完美的课堂展示离不开团队的充分准备。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTgwOWU5MWY1OGJkOGE2ZjZiZGQ3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">认真的听课态度是决定学习效果的关键因素。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDFkMTY1MjdhNjA5MDUzMDEyMmU0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Rebecca定制TONI&amp;GUY趋势创意剪裁课程。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTUzYmRkMjU4MmU4N2YyODE3NTEy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">根据新一季服饰和妆容的流行动态量身打造，将修剪技巧、色彩运用和时尚趋势紧密结合，运用特殊分区，不同经典技术搭配及个性化处理与时尚流行元素配合，营造出更具代表性的尖端发型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTZjZmNiN2U4MTkyYWYyZTg2Y2M2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">借助真人模特的示范课程，通过这种边操作边答疑的方式，深度解析最新趋势造型的奥秘。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NThmYWNjZWE4ZGQwNmRiOGVkYmVj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>硕果展示：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MzY0ZDA0MGY0OTY4YTYwZDFlZDMx.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>左图：THE IKON</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>剪裁：</strong>Prada年度展览“Iconoclast”邀请了众多设计师重新诠释品牌作品。借助这样的想法，TONI&amp;GUY艺术团队也重新演绎了Sacha的过往作品，并赋予其全新活力。本款短发灵感来自知名摄影师 David Simms拍摄的英国超模Erin O’Connor，通过双层刘海技术，为整体造型增加了一丝“神秘而古怪”的美丽。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>颜色：</strong>颜色是饱和的复古红，配合细微的色彩提亮。IKON女孩应该是不服从和个人主义的体现，而Prada Iconoclast 展览的第三章正是一个红发的女孩，模特Natalie Westling为Marc Jacobs演绎的复古红发造型也是灵感之一。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>右图：THE INSTALUX</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>剪裁：</strong>本款发型将头发的纹理和动感与90年代摇滚范儿的剪裁结合起来，配合使用了最新的<a href="/cg/2.shtml" target="_blank">美发</a>科技产品。其灵感源自三个设计师：纹理感来自Tom Ford，刘海来自Marc Jacobs，而刘海那种好似长长后的感觉来自Onitsuka Tiger，有一点柔和，正好位于眼睛上方，性感微现。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>颜色：</strong>富有金属感的紫罗兰、夕阳余晖般发红的暖紫色，就好像一千年前日本和服布???的染色工艺。其染色非常复杂所以十分昂贵，犹如花朵的颜色般罕见。颜色的对比让人印象深刻，犹如在发间藏了闪电。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>实操环节，导师一对一指导，激发创作细胞。</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmU1Mjc4YjZiYjhlYmI2NTZkNWU3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程精髓：</strong>TONI&amp;GUY创意剪裁课程为热爱<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>事业的你找到更高的起点，???拓全新的方向，真正实现既可以为客户打造与众不同的时尚发型，凸显自己的技巧，又可以满足高端客人的定制服务，彰显他们的个性。有助于发型师提升业绩，帮助发廊增加客源。该课程所教授发型，全方位满足客人对当下潮流趋势的审美。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Nzk1ZGVjOWZjOTIyNDI4Nzg3OWQw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作为一个创造美的行业，我们应该坚持不断完善自我、不断提升自我的技能，为我们的客户带来最有品味、最时尚、最适合自己的造型。如果你希望在技术上能有更高提升，有更加时尚的灵感和创作，TONI&amp;GUY 新趋势创意剪裁课程永远欢迎你！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>热门课程，高能预告。</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">TONI&amp;GUY未来本质色彩课程已经上线，学位剩余不多，谁手快谁先掌握一流技术！同时，TONI&amp;GUY经典基础剪裁课程，将会于10月24日开课，满足助理升发型师、初级发型师的学习需求，欲报从速，现在报读优惠多多！单人报读经典基础剪裁课程享8.5折优惠，一带一同时报读经典基础剪裁课程，第二人享7.5折优惠。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTQxMjkwYjQwNzJmM2RiNmMyNDU1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>