<div class="left_art_zw"> 
 <h1>TONI&amp;GUY 秀发头等舱</h1> 
 <p class="left_art_zw_zz"> 来源：TONIANDGUY 供稿&nbsp;&nbsp;&nbsp; 时间:2016/9/1 14:13:59 </p>  
 <p class="dd"> 趁着午后时光静好，TONI&amp;GUY携手巴黎卡诗举办了一场“黑钻发质 ? 专属非凡“的奢华美妍会。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTI1NTliMTYyMGMwZDI5MDlmYjhh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">品味午后时光的静好，感悟焕活发丝的力量，一次非凡的美丽体验，一次秀发的魅力绽放。现场布置幽谧高贵，鱼子酱系列产品光彩熠熠！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDg3ZTg2ZDA0MGFiODlmMzk4YTli.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTMzMTI5OTkwNGIwYTc1NGM0MjRl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">今天下午，TONI&amp;GUY携手巴黎卡诗举办了一场“黑钻发质?专属非凡”的奢华美妍会。北京东方广场TONI&amp;GUY专业秀发护理空间，20多位社会各界高端人士在此相聚，从而拉开了 TONI &amp;GUY品味时光美丽讲堂系列活动的序幕。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>这是一场什么样的盛会？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZjlmYzZlY2VlMDNhMTRmYmI3YTkw.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">TONI&amp;GUY秀发护理空间经理William Wu 先生率先开场感谢各位嘉宾的热情到访。卡诗全国培训经理kenny深度剖析源自太平洋火山海源微生成分的黑钻凝时鱼子酱4S功效，感受 “松、软、滑、亮”的神奇效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2Y3OWIxMjJiYjhmNGZjMmExOWNj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">而后，欧莱雅高档化妆品培训部郑经理一开讲迅速凝聚全场的注意力，利用短暂的几十分钟分享给大家简单实用的日常护肤、彩妆技巧，课后还耐心得为众多嘉宾亲自演示彩妆画法，将此次沙龙活动气氛推向高潮。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>体验&amp;互动，全场沸腾。</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZTc1MmM4Zjg2YWE1MTFmYTY5ZjRm.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MjQxZDkzOGM4ZTAxMDFiNTE2ZTc2.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">贴心负责的一对一头皮检测是专业秀发护理必不可少的环节，能帮助检测头皮酸碱度值以及来衡量头皮是否健康，从而更具针对性地帮您找到最适合自己的护发产品。体验黑钻凝时香氛修护油，奢华质地，怡人香氛???光彩耀人。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTBhZWZjYWQ0ZmI3YjhjOTRhYzE1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">置身于如此灵动的护理中的 “头等舱”，生活中的疲累与压力必将渐渐散去，内心开始回归原始的平和与纯净。TONI&amp;GUY东方店的发廊总监们为每位嘉宾量身打造秀发造型，美女们可以光彩照人地去赴约咯！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">错过这期的小伙伴别着急，下期 TONI&amp;GUY 美丽沙龙讲座将会于9月23日开讲，赶快拨打电话预约起来吧！咨询电话：010-85182646。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NGY4ZmU4NDc4YzZiZTI1OGU4NWM1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>