<div class="left_art_zw"> 
 <h1>Trendsformer day丨施华蔻带你重温奇妙焕彩之旅！</h1> 
 <p class="left_art_zw_zz"> 来源：施华蔻美发世家供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/25 14:14:35 </p>  
 <p class="dd"> 施华蔻Trendsformer day屈臣氏门店活动已圆满结束，带你重温奇妙焕彩之旅。 </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">施华蔻Trendsformer day屈臣氏门店活动已圆满结束，今天就为大家来回顾一下这场盛大而难忘的潮色派对，带你重温奇妙焕彩之旅！</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ODE1YmZkMDVjNzY0NDc0Y2RiYjdj.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">寒冷枯燥的季节让生活氛围倍感阴郁，临近年末的忙碌使工作环境分外压抑。11月6号，施华蔻打破冬季沉闷，在全国各大屈臣氏门店送上炫酷到炸裂的Trendsformer day！</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZDgxMTgyM2FhNzY2YWFkODY2Y2Rj.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">got2b Trendsformer幻变焕彩系列发蜡 2 in 1 有型有色，集聚超强塑型力与焕彩效果于一体。一抹即炫 一冲即净，让你的秀发一秒颜值爆表，送给???个寒冬一抹炫酷的好心情。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NjJmYWJiYTk5NTk0ZjcwMjAyOGVh.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">在本次活动中，小施已经和大家一起玩玩玩玩脱啦！解放自我，随心渲染、各路造型，创意无限总有一款令你折服！</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NjBmMzUwNjU5YWJlZDdmMDZjNjUz.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">慵懒长发，渐变炫粉，又“作”又美，持续吸睛，做一个有气质的ins 网红。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NmY3NTAxZjkxZWU0ZWZhNzJkY2Iy.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">朋克短发，炫酷潮蓝，时尚升级，魅力无限</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YTc5ZDI2NDNmMGYzNWIyZDM3ZjBi.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">蓬松短发，经典野灰，潮流达人，自在随型！来一个用后脑勺就能秒到你的禁欲欧巴。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NTlmZmM0MGYzZjRkODRiNjAwZTBi.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">还有一波个性撞色随意搭配，任心塑型，释放自我，强势打call！有“颜”任性，不服来战。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MTRlYjUxMjczZmVkYmNiZTA2N2Qw.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">最美马尾，舍我其谁</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/Mjk1NjMwYzgyMDVlZWE2MzlhNTJj.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">活动于</span><span style="font-family:Microsoft YaHei;font-size:14px;">11月20日圆满落幕，火爆状况有数为证。日均投票11,003人次！总投票165,048人次！那么神秘大奖，究竟鹿死谁手呢？前方号外中奖名单，现已出炉更有一位幸运儿，荣获潮流达人之最！</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YmJmMzE3N2JmM2YwNDA4ODMyNmFj.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWQyZmYzOGEzOWQxM2YyNzQwZmE2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>