<div class="left_art_zw"> 
 <h1>TREVOR SORBIE中国携手TRIBU-TE雀缇，打造金秋英伦美发嘉年华</h1> 
 <p class="left_art_zw_zz"> 来源：TrevorSorbie特孚索彼供稿&nbsp;&nbsp;&nbsp; 时间:2017/6/17 13:54:41 </p>  
 <p class="dd"> 魅力英伦·时尚之都 身为孕育潮流的摇篮 伦敦诸世纪以来都是全世界瞩目的焦点 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">魅力英伦·时尚之都，身为孕育潮流的摇篮，伦敦诸世纪以来都是全世界瞩目的焦点，四大时装周之首LFW总是引领着趋势，此中·<a href="/cg/2.shtml" target="_blank">美发</a>当仁不让，担当着聚焦镁光灯的点睛??笔，全球美业的弄潮儿们总会聚首在此，煮酒论英雄</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDZjNzU1NjhiYzZlNTkxNTdjNzgz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">而每年的金秋十月，对欧美乃至世界的优秀发型师们，都是寓意非凡的嘉年华，美业大咖云集·各大品牌趋势发布会，都会在此期间降临伦敦·连番上映，为此，TREVOR SORBIE中国携手TRIBU-TE雀缇，特辟金秋英伦<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>嘉年华，2017·LONDON FASHION CARNIVAL</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTAwNzc5YTBjZmQ1ZTAyMTI0YmZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">TREVOR SORBIE，享誉世界数十载的美业传奇，是欧美各大发型盛宴的座上宾，TRIBU-TE</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作为时尚媒体的绝对标杆，在英伦也拥有着无与伦比的影响力</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1.Day 1 ·周五· 10.13</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2MzZjFiMzhiOTBkNmE5YmEyMDRj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全体人员在上海集合，乘国际航班前往伦敦，同一天抵达酒店，办理入住</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2.Day 2 ·周六· 10.14</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全天参加2017年度Salon International国际沙龙展，自1973年举办以来，它已成为英国最大的美发沙龙大展，更被业界标榜为带领美发沙龙创意，灵感，引领世界流行风潮的专业展览会</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTU3NmI4ZDc5ZGY3MzMxZGFkMzA2.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzlkZDE3ODQzZTA0YWI3YjJhNzQw.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWNkMWU5YjJmNmYxNzE0ZWNmNGNj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGRkMjg3Y2UyMzZmMDgwYzBjNWY4.jpg" alt=""></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">各类现场Live Show演出，色彩缤纷兼具创意的发型设计，最新的产品包装及服装展现，每年都吸引超过40000位专业人士到场参访</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3.Day 3 ·周日· 10.15</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTViZWVmNjZkZmIxNzZmNzcwZjJm.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGIxYTQxNWU4N2QxNmFiMGEzMTJh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWE3NGY3OGVlYzlhNGRjMzQzNTNk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmM3YWI4ZmY5ZDNkYTJlYjM2MmZm.jpg" alt=""></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全天参加2017国际沙龙展，上午10:30——观看Trevor Sorbie MBE发型秀，晚上TRIBU-TE发型秀</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4.Day 4 ·周一· 10.16</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzI5MjQ3ZjA2ODk1MGU0NjVlMDY2.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDRiMzE1YWFkYjhlMzU0NzQxOTRj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2EyMzIxNjdmZDNmMDViMWYyYmJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">参观英国王室享誉世界的Windsor Castle·温莎城堡，体验皇室尊贵礼遇·尊享英伦经典下午茶，参观久负盛名的伦敦地标——着名的Big Ben大本钟</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWExMmI3ODliMjg2NGZjZGYwOWY2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">尊享专属London Eye伦敦眼包厢，从不一样角度全方位认识伦敦</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2VjMzdiMTIzYmIwZDViNzQ1NDZm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">安排泰晤士河上游船晚宴，河畔夜景尽收眼底</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5.Day 5 ·周二· 10.17</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmMzNzc2YmI2NzI5YWE0MWM5NmIz.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjIwOWRhMzZlZGUwYjIxZTc3OTJl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzNkMzBkY2Y5ZmMzN2I0NGYwY2U4.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTYxM2I4YzgzM2UyNTVjOGEwYjY1.jpg" alt=""></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全天在TREVOR SORBIE学院总部，参加Trevor Sorbie·2018年度发型剪染课程，可获得TS英国创意团队成员亲自指导</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6.Day 6 ·周三· 10.16</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在伦敦最着名百货公司之一的</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTQ0OWE2ZDJhODgxMmFiYTkxMDQ0.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmQ4ODI5MDc5ZmIwMzA0NGI3ZmFl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzI0ZjljMjJiOTYwMzVhMzc2ZGJi.jpg" alt=""></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Selfridges &amp; Harrods购物</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">或游览Notting Hill·诺丁山尽情享受伦敦街道的时尚气息</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjcwOGVlMzNiNDQ0OTFjMzhiYzk3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">或去Bicester·比斯特购物村尊享奢华购物体验</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">7.Day 7 ·周四· 10.19</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTFiYTk0NWNhYWI1OGZmZDE3ZWY2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">上午自由活动，中午出发返回上海</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">8.Day 8 ·周五· 10.20</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">抵达上海 行程结束</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGZjMTFlYWVkYjE5YjhkOTIyYWYw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">值此强强联手之际，我们向中国美业的佼佼者们，发出荣耀的邀请</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">请加入我们十月英伦嘉年华的团队</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&gt;&gt;&gt;幸运的您更将有机会获得神秘惊喜&lt;&lt;&lt;报名截止：2017.08.15</span> </p> 
  <p> 咨询电话：400-650-5205 </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YmQwZjUwYTQyZjhjZjZjZDc1NmE2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>