<div class="left_art_zw"> 
 <h1>TS2017趋势发型，中国元素遇上西方创意</h1> 
 <p class="left_art_zw_zz"> 来源：TrevorSorbie特孚索彼供稿&nbsp;&nbsp;&nbsp; 时间:2017/1/21 13:54:14 </p>  
 <p class="dd"> 近日TS为LUISAVIAROMA拍摄的一组春夏大片中，以十二生肖为元素，打造了一系列创意大片。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>创意生肖?惟妙惟俏Chinese Zodiac Hairstyle 当中国元素遇见西方创意</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">下周末就是中国传统农历新年啦，各位脑洞大开的发型师们是否曾几何时?灵光乍现，想过以中国的传??——十二生肖来刻画出艺术感十足的发型呢？今天哈妹想与大家分享的是来Trevor Sorbie英国创意团队的天才发型师——Adam Szabo为LUISAVIAROMA.COM拍摄的一组以中国十二生肖为元素主题的春夏大片。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>发型：</strong>Adam Szabo（Trevor Sorbie高级发型师）</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>摄影：</strong>Kiki Xue</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>时尚编辑/造型：</strong>Carmel Imelda Walsh</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>化妆：</strong>Michiko Ikeda</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>模特：</strong>Eveline Rozing,Konan Hanbury</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OTBlZmVkYzY3NWE0NzRiNGNhMjdh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NzhiOGUzZDJhYTNkOTk3YmJkODE1.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NTYxNWU3MmMxZDA1MDkxODY2NDM4.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NzU2YzgwNWQ5NmYxOTAzYWY2ZjA3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NTc2ZTNlMTAwMmMyMTRhMGUzMjY5.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YzY3Yzg4ZDg4MmIwYzI5YjY5NWZi.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZDFjOTVkOTgzMDM0ZjMzYzcyOTFl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZDdlYjBkN2E3NTc0OGVhMzk2Mzc0.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTNlZjE3MGM2MDFjMmRmOWNiYTk5.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTg3ZTFhMjAwZTM0MzFmMzVlZTI1.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MmZiYjFhZjMwNGY2NGY2NmNkNjlh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">每款发型皆由Trevor Sorbie英国创意团队精雕细琢，力求将潮流时尚前沿趋势第一时间带到给各位钟爱英伦<a href="/cg/2.shtml" target="_blank">美发</a>的发型师们，该系列的剪裁与染发手法会在2017年TS年度剪染课程中进行教授，今年学院课程安排已出炉敬请来电咨询以及线上预订。学院热线：400-650-5205。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">16年的最后一周Trevor Sorbie中国推出了新年限时课程钜惠，获得了广大发型师们的追捧，目前只有少量名额虚位以待，敬请致电抢购。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><strong>人气课程——TS经典课程&amp;当代I染发课程</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">半折优惠：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">1、5天TS经典课程5 Days Trevor Sorbie Classic Course</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程详情：帮助学员进一步巩固基础剪裁技巧，系统构建专业剪发思维与理念。通过导师的示范，结合实操，将TS经典技术与沙龙实用技巧融为一体，迅速提升<a href="/cg/2.shtml" target="_blank">美发</a>技艺，为助理升发型师的必备课程。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程亮点：简明易懂，含TS经典萤火虫发型</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程价格：原价8000元、现半价4000元</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2、5天当代I染发课程5 Days Contemporary Color I Course</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程详情：针对性的染发手法教导，全面完善挑染核心技术。发挥无限创意，将TS的色彩理念转化成沙龙商业利润，用经典的技巧丰富您的染发模式，适用于有志于进一步提升染发技艺的技师，或有意探索色彩艺术的发型师。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程亮点：巴黎染，像素染，勾染，倒梳染</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">课程价格：原价5000元、现半价2500元</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/N2VlY2RhMThkYzA5ZTI0ZGNlNmU2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>