<div class="left_art_zw"> 
 <h1>T台天后莫万丹牵手传奇护肤品牌</h1> 
 <p class="left_art_zw_zz"> 来源：人民网&nbsp;&nbsp;&nbsp; 时间:2007-1-9 10:20:00 </p>  
 <div class="wz"> 
  <p align="center"><img height="365" src="/image/information/Njc4ZmNiY2FhZmU1MzJkZGU0OGRk.jpg" width="506"></p>
  <p align="center"><img height="362" src="/image/information/ZDczYWYzMjNhNDkxYWQyMWM5ZjIz.jpg" width="506"></p>
  <p align="center"><img height="364" src="/image/information/MTE5YTUzOWI3MDBlMTc3N2YwNzA0.jpg" width="514"></p>
  <p>　　1月8日，2007年的第二周，北京饭店内四处洋溢着新年的新气象，一场别开生面的新闻发布会，吸引了京城各大媒体的关注。中国T台新天后，有着百变新星之称的2006年中国首席名模莫万丹正式与广州市澳大生物美容保健科技开发有限公司签下代言协议。成为其旗下传奇护肤品牌“十八变”的形象代言人。具有传奇经历的美容护肤界新宠、中国T台最闪亮的明星，国内模特行业创纪录的签约费用。这些元素交织在一起，构成2007年中国时尚界诱人眼球的头号新闻。这也是莫万丹代言的第一个国内化妆护肤品品牌，同时是中国模特至今为止得到的最大一笔合约。而中国着名时装设计师张志峰，着名化妆造型师毛戈平，着名影视导演周晓文，首席名模、着名时装设计师马艳丽等业界权威人士也通过视频对双方的合作表示了祝贺。庞大的媒体阵容，热烈的现场提问，将整场发布会推向高潮。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWY3OTk5NjJhNWU4NmI4N2RlZmI1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>