<div class="left_art_zw"> 
 <h1>VSxGD见面会 仅剩3天！6大亮点提前剧透！</h1> 
 <p class="left_art_zw_zz"> 来源：沙宣专业美发供稿&nbsp;&nbsp;&nbsp; ??间:2017/9/7 11:30:16 </p>  
 <p class="dd"> VSxGD见面会进入倒计时 ，六大亮点剧透！ </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">见面会进入倒计时</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">距离</span><span style="font-size:14px;font-family:&quot;">GD空降HK 仅剩3天！</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">颠覆</span><span style="font-size:14px;font-family:&quot;">DNA 瞬间激发唤醒</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">叛逆基因</span> <span style="font-size:14px;font-family:&quot;">开始全身窜流</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>&nbsp;</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>你，准备好了吗！</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/YTM0OThmNmJjZGM0ZDBiZTViMDEw.jpg" alt="">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>VSxGD见面会 六??亮点剧透</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>&nbsp;</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>&nbsp;Kiss Cam</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">与龙哥的亲密合影，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">想好摆什么姿势了吗？</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span><span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>零距离接触</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">你有保持沉默的权利，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">但你提的所有问题，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">龙哥也许会随机回答。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>唤醒大挑战</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">现场千人版</span><span style="font-size:14px;font-family:&quot;">“假人挑战”，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">等待被龙哥</span><span style="font-size:14px;font-family:&quot;">“唤醒”……</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>造型接班人</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">沙宣<a href="/cg/2.shtml" target="_blank">美发</a>学院陪同评审，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">谁将是龙哥心中最</span><span style="font-size:14px;font-family:&quot;">Break The Rules的造型王？</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>2000人大合唱</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">所有</span><span style="font-size:14px;font-family:&quot;">VIP和龙蛋宝宝们，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">为龙哥入伍前最后打</span><span style="font-size:14px;font-family:&quot;">Call了！</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">与唯权志龙吧一起，献上给龙哥最好的礼物。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>终极大合影</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">龙哥亲自掌镜</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YmI1OTRmZjZiZDQ4YjM1NGEwOWJk.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>9/9当天13:30即可陆续入场等待龙哥；</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>14:30开始一起Break The Rules！</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">三大粉丝站</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">＠</span><span style="font-size:14px;font-family:&quot;">G-DRAGON吧、＠唯权志龙吧、＠BOBOG-DRAGON吧</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">也将与我们一起直击</span><span style="font-size:14px;font-family:&quot;">#VSxGDBreakTheRules#现场！</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">赶紧<strong>关注话题页围观</strong>，同时留下你想对</span><span style="font-size:14px;font-family:&quot;">GD提的问题，</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">说不定会被现场主持人抽中，当场问龙哥哦！</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span><span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;"><strong>入场粉丝注意事项</strong></span><span style="font-size:14px;font-family:&quot;"><strong>:</strong></span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">1.一人一票，该二维码仅可扫描一次有效，入场时必需持有有效门票。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">2. 请在指定渠道获得门票，否则出现不良后果如假票等，由获票者自行承担。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">3. 敬请小心保管阁下的门票！如有遗失；将不获任何补发。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">4. 严禁炒卖，转卖门票。一经发现,门票作废。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">5. 请勿在二维码及其一厘米内涂写，折叠，损坏，否则造成二维码无法识别而不能入场，由持票者自行承担责任。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">6. 该门票仅限出席活动，因参加活动涉及的长途差旅费用（包含机票，酒店等）非活动主办方承担。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">7. 门票赠出，恕不退换。门票赠出后因严重自然灾害，洪水，地震等不可抗力因素造成演出时间推迟，延时，或无法演出，主办方将提前通知。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">8. 具体入场时间以场馆规定为准。活动当日场地入口于12:30向观众开放，所有观众均可抵达候场。为了维护入场秩序，我们首先安排站立区观众先行排队候场，座位区观众为减少等候时间建议13:00抵达，并在13:30后陆续进场（在站立区观众之后入场）。场地及活动方因为安全考量，保留调整进场顺序的权利。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">9. 只限12岁或以上及身高140cm或以上;</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">10. 请观众着装整洁，服从现场工作人员管理，依序入场。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">11. 请自觉接受安全检查。严禁携带枪支弹药，管制道具等违禁物品，严禁携带打火机等易燃易爆物品、玻璃樽、液态物品入场（包括水和各种饮品）。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">12. 场馆范围内不准进行未获授权的摄影及录音。观众进入场馆前，须接受手提袋检查。38 X 30 X 20 厘米 (15 X 12 X 8寸) 以上手提袋、荧光棒、横幅、灯箱等道具、所有专业相机、摄录及录音器材、矮凳/可折叠式座椅及长伞均禁止带进场馆。如有上述限制物品，请寄存于礼宾服务处或地下的自助储物箱。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">13. 基于安全理由，场馆范围内不准携带「自拍棒」。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">14. 不准发放烟花、烟火、及使用激光仪器。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">15. 场内禁止吸烟，禁止踩踏座椅，禁止站于座椅上，禁止投掷物品，禁止翻越隔离设施。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">16. 禁止携带外来食品及饮品进入亚洲国际博览馆。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">17. 严禁携带玻璃樽进入表演场内。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">18. 于亚洲国际博览馆范围内严禁售卖或派发未获授权的商品或其他物品。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">19. 迟到的观众请适时入场，请勿妨碍他人。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">20. 严禁炒卖门票。门票如被其他机构使用或转售、或作其他商业用途，筹办机构保留取消门票之决定权。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">21. 活动结束后，请观众有序退场，请勿滞留。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">22. 任何持有或使用门票的人均被认为已经阅读，理解并接受了以上条款。</span> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">23. 该活动最终解释权归由活动主办方所有。</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span><span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NmYxMmE1ZTFlNjViYzZkYjQwOTY3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>