<div class="left_art_zw"> 
 <h1>VSxGD要放?大?招?了！权志龙香港见面会你“玩型一夏”！</h1> 
 <p class="left_art_zw_zz"> 来源：沙宣专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/2 11:19:50 </p>  
 <p class="dd"> 终于在“巨星”服兵役前，VSxGD要放?大?招?了！ VSxGDbreaktherules珍贵见面会 </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">跨世纪发型界传奇x当代潮流音乐先型者，VSxGD跨界合作近一年，共同演绎了许多“Break the Rules”的大事件，屡屡在时尚界与潮流圈掀起巨大热潮！</span><span style="font-family:&quot;font-size:14px;">终于在“巨星”服兵役前，VSxGD要放大招了！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>VSxGDbreaktherules珍贵见面会</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">这次，我们要向全国集结所有，有“型”敢“玩”的Rule Breakers，于9月9日在香港举办#VSxGDbreaktherules#见面会！这是一场向全世界宣告自我的年度狂欢！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/N2U0MjBmNDkxMjM0NWEyMDU3MWMz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>GD本人 亲临见面会</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">9月9日活动当日，除了??请多位品牌好友出席，VS更力邀了品牌代言人G-Dragon亲临现场！此次活动也将是GD服兵役前，与我们再次Break the Rules的珍贵机会。和他一同打造最in造型，近距离欣赏他的各种swag小表情。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">关注话题页#VSxGDbreaktherules#，并留言与我们互动。我们将在这里持续剧透更多见面会相关消息。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">同时，该话题页粉丝数破一旦冲破8.8万，VS即开放机会与GD同台型秀！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjY1YzMzYTdhZmM3ODI1MWFkZTQ3.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YmFmNTcxOGMyNjA1MjhlNDI4NmQ3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>