<div class="left_art_zw"> 
 <h1>what？你的头发“发烧”了？！</h1> 
 <p class="left_art_zw_zz"> 来源：沙宣专业美发供稿&nbsp;&nbsp;&nbsp; 时???:2017/7/10 10:35:54 </p>  
 <p class="dd"> 出门前打扮2小时，出门后毁型只要5分钟…！ 颜值再高，恐怕也抵挡不了#头发中暑#的窘境。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NDZkZmY0NDIwOTQ1MWM3MDgxOWRh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">BAD NEWS：</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">酷！暑！降???临！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">伴随热浪而来的，是各种各样的造型问题。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">头皮爆汗、发丝黏腻、造型扁塌，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">出门前打扮2小时，出门后毁型只要5分钟…！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">颜值再高，恐怕也抵挡不了#头发中暑#的窘境。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmZhYjM3MmJiYTMwZWE4MjU3NDA3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">要知道，阳光直射的就是头发，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">因此头发接收紫外线的量，是脸多出两倍以上。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">“热到头顶发烫”，真的不是瞎说说。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">为了更直观地展现烈日可怕的“摧残力”，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">VS最近联手不少美妆博主，用温度计亲测“头发温度”，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">力证自己的头发，正处于亚健康的“中暑状态”。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">结果竟频频爆出，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">高达40度以上的发温！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">原来我们夏天发型“不持久”的原因，就是</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">发！温！太！高！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTQ4ZGJlZDU4MmRiZjk0NjZmNDE2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmY3YTI1Njk1MDI5ZTUwNzk5NmQ5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ODM1NTNlY2FhMjYyMzAyZDA3YTgx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Mzg3MjIxNzg2MzFiNWExNDJhZTNj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">毕竟“热疯头”很难打理出好造型。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">头发温度，多少决定了你的造型时尚度。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">所以，夏天拗造型前，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">请先了解你的发温哟。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmI4YjAwZGEzODkxMDE0NWRhZTVh.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YTdlMmU3YjYzODExNWFmMTM2NGUz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>