<div class="left_art_zw"> 
 <h1>WUWAKEUP美发研修带你学习非洲脏辫编制技巧</h1> 
 <p class="left_art_zw_zz"> 来??：WAKEUP美发研修商学院供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/4 14:53:02 </p>  
 <p class="dd"> WUWAKEUP美发研修脏辫非洲辫造型课程将于9月开始。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程名称：脏辫非洲辫造型课程</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员对象：造型师、<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>师、化妆师、影视综艺从业者、对非洲辫感兴趣者</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">时间：三天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">日期：9月27日-29日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学费：3900元</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">WUWAKEUP学院地址：杭州市江干区九和路17号九和商务楼2号楼一层</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">报名热线：15824429998、13396504646、0571-85332890</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">前几天和基友闲扯聊到脏辫，"那么粗的辫子，一看就很难打理，肯定很久才洗一次吧，难怪叫做脏辫"。哈妹找到了国内为数不多的脏辫专家——大飞先生，和他进行了亲切的交流。于是，在征得大飞先森的同意之后，哈妹做了这期内容。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>关于脏辫的历史？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">脏辫可以追溯到很久很久以前。有人说是常年在海上的水手和海盗因为缺乏淡水不能经常洗头，所以会弄成辫子。也有人说源自非洲，因为炎热并且防止虫子之类的进到头发里。后来被牙买加的拉斯塔法里教派作为一种教派的象征，（他们都是留着脏辫和胡子的一个很奇怪的教派）其代表是鲍勃马利，推广流行的。我理解的脏辫是来自黑人的发型，因为发质与我们不同，他们的头发会很容易的形成脏辫。而上面说的牙买加他们也基本都是黑人血统。所以脏辫源自黑人。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWE1ODA1MTgwY2E2NDUzZjlkNmNj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>脏辫怎么洗？脏辫能洗吗？需要拆开洗，然后再编上吗？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">随着技术的不断提升，脏辫已经可以正常去清洗了。如果你的脏辫师和你说做完回去一星期不要洗之类的，那完全可以跟他说拜拜了。做完辫子可以正常去洗头，不需要拆开再编上什么的。你唯一要注意的就是冲洗干净，尽量不要让洗发水残留这辫子里。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjBjZWE4NTdmMmYzOTIxMDczYjhk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>做脏辫伤头发吗？做完脏辫头发是不是都废了？能拆开吗？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">我现在的做法是不伤发的，可以拆开恢复原样。这也正是纯手工的优势，并且符合国情。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDQ4Y2IxMjdhNDE0OTU1ZmI3OTc3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>脏辫有好坏吗？什么样的脏辫才是好的？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">通常我们都会手工去做脏辫。因为手工的脏辫可以控制分区，可以接长瞬间达到理想的效果。但是你要知道最牛逼，最纯正的脏辫是自然形成的。怎么形成呢？你只要不理它，任期自然生长，这会是一个很漫长的过程。自然形成的辫子就像博彩，辫子的粗细，好不好看这些只能凭运气了。当然能不能形成辫子也要凭运气。我们亚洲人的发质很难养成，所以会借助纯手工制作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTliMmY0NzM0YWI5NDNlYTc5ZmQ2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>脏??造型师——大飞先森简介：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTQwZTEzNTMwYzQ5NmNjYTU5NmVl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTc2NDg0YjE1NmM0ZDM1OTA4M2Iw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1999 年进入造型行业；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电视台特约造型师；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2008 年赴英国学习??修；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">首届全国东方舞大赛唯一指定造型师；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2009 年开始接触牙买加脏辫文化；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中国专业脏辫造型师及脏辫推广第一人。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDdjNDY2MzEzYmE0MDZkMTc3MzY2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njc4ZDQ0YjAwNmVmYzRiNjk4OTY2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmI0ZTk0ZWYyODcwMDVhZTY0NTU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全新的时尚元素融入人们的视觉，你是否看到呢？来吧加入我们的圈子，让我们来一起引领这个趋势。做第一批玩辫子的人，玩出时尚，玩出彩来！脏辫其实并不脏，只是中国人在引进的时候给它取了个名字叫“脏辫”。它在国外叫做“Dreadlocks”，是锁住的头发的意思，不是脏辫的意思，只是我们中国人在引进的时候根据它的外型给它取了个名字叫脏辫。大飞脏辫纯手工脏辫制作可接驳、可作色、可清洗、可拆卸。很多人被各种洗发水广告洗脑，而觉得脏辫就是??种很脏的辫子，相反要经常清洗，保持头发的生机和固有的性质，更能使辫子漂亮。脏辫开始蔓延，别在执着于传统的发型了，整一头属于自己的辫子吧！大飞老师以独特的教学方式，常年开设精品小课班，手把手教学三天包教会，终身免费复学。具体授课内容如下：牙买加脏辫、非洲脏辫、影视剧造型脏辫、扭驳辫。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjNlODE3YjY5MmY3NDBhMTY4MDk0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">做：不伤头发，不添加化学物质，正常洗头。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">接：看不出痕??，瞬间达到理想效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">养：定期把新长出的头发做成辫子可以蓄养一辈子。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">拆：恢复原样。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDMzMDYwZWZhYjJmZmNmOTNiNDJk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>学脏辫的疑问：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、我很笨，能学会吗？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">答：做脏辫不同于美发，不用造型，不用担心把头发??掉，因为根本不用剪发和烫染。而且一般人不超过一周就可以学会。我们承诺包教包会，学不会退学费，而且可以终身免费复学！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、做脏辫赚钱吗？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">答：现在国内脏辫师不超过500人，他们的收费从三五千到上万，而且脏辫顾客每隔一两个月就要打理一次，收费在三五百一次以上，而成本更是0元，全是手上的功夫，用一本万利来形容最贴切不过了。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、什么样的人适合学脏辫？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">答：纹身师、美发师、美甲师、纹绣师、自由职业者等，有自己店面的人都可以学，而且学完马上就可以在店里为顾客制作，不需要单独设立工作区，一把椅子即可。还有刚毕业的学生党不知道做什么，想学一技之长的人，都适合学脏辫。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWFlNDY3ZmVhZTQxOTRhMTdlOTg4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDFhY2ZiYjMzODc5ODM0Mjk5OTY5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">来吧，加入我们的圈子，让我们来一起引领这个趋势。做第一批玩辫子的人，玩出时尚，玩出彩来！脏辫是一种文化，脏辫是一种生???态度！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzRkZDQ2NDZkN2RiM2Q4MDIwYjMw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>