<div class="left_art_zw"> 
 <h1>XL号的美！胖女孩照样可以酷到不行！</h1> 
 <p class="left_art_zw_zz"> 来源：塞巴斯汀专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/19 12:01:07 </p>  
 <p class="dd"> 超强持久定型， 维持全天候干爽， 不仅能强力定型， 还满足塑造油头所需的光泽。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img src="/image/information/NTA1OTk1OWRlNjMxOGIzNGI3Mzc4.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:&quot;">在浮华时尚圈，大家似乎都将美与瘦之间划上了等号。体重成为了女孩们不可告人的秘密，小肚腩变成了罪恶般的存在。但是美又怎会只有一种模样，这位叫“Tess Holiday”的女孩，虽然没有普罗大众眼中的“好身材”，但是她却呈现了另外一种XL号的美！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjU2NDVhOTU2YTI0MDE1YWRiNGYy.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">身高164cm、衣服尺码为22号、体重217kg的美国模特Tess Holiday，以超大号的身材以及挑战大众审美观的态度赢得了许多粉丝，这使得她成为史上第一个也是最大码的签约国际模特公司的模特。</span> </p> 
  <p style="text-align:left;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjI0ODI4NjdkZDNmODdhZjVhNDAx.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:&quot;">“我们的身体充满了故事，每个人的生活轨迹不同，每个人的身体都不一样，它们是独一无二的，是美丽的。而唯一的问题则在于，不是所有的人都能尊重和领悟到这一点。我们不需要都拥有一个标准身型，或者一个完美的健康体型。这个世界上还有很多人关注我们，他们想方设法地影响我们。为什么我们要成为自己的敌人？就算你是单身狗，不用穿衣服给男朋友看，你也可以穿给自己看。身体和自身的关系才是最重要的。”</span> </p> 
  <div style="text-align:right;"> 
   <span style="font-size:14px;font-family:&quot;">——Tess Holiday</span> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MmU4YWVkMTcyNTVlNjJiYmM0NDAw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">活得自信的她，展现着专属自己的美，表达着自己的时尚态度，勇敢地爱着！</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/N2NkMzFjYTIxMmRkYTM5YTRhNThl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <div style="text-align:left;"> 
   <span style="font-size:14px;font-family:&quot;">一直以来，大胆前卫的塞巴斯汀不断探索着美，与众不同的美、被人忽略的美、不敢想象的美...这一次，塞巴斯汀北美地区携手Tess Holiday再次开启灵感碰撞之旅——SHAPE THE WORLD，定义你的世界！</span> 
  </div> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NWI4YzVhOWFkMmZlNjM2Y2RmNmIw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">塞巴斯汀创意团队成员，知名造型师Anthony Cress为Holiday专属打造了利落的假日造型。</span> </p> 
  <p style="text-align:center;"> <span><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/MzRhNjg2OTQzZjUzYzMxOTA1Y2Vm.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">当特例独立的他们相遇，主动会擦出不一样的火花！</span><br> <span style="font-size:14px;font-family:&quot;"> 你也同样可以与塞巴斯汀一同</span><br> <span style="font-size:14px;font-family:&quot;"> SHAPE YOUR LOOK</span><br> <span style="font-size:14px;font-family:&quot;"> SHAPE YOUR STYLE</span><br> <span style="font-size:14px;font-family:&quot;"> SHAPE YOUR EXPERIENCE</span><br> <span style="font-size:14px;font-family:&quot;"> SHAPE YOUR WORLD</span><br> <span style="font-size:14px;font-family:&quot;"> SEBASTIAN SHAPER FIERCE</span> </p> 
  <p style="text-align:center;"> <br> <strong><span style="font-size:14px;font-family:&quot;">塞巴斯汀狂感定型喷雾</span></strong> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODAxNWIzZjIzYzA2Mzg1NTRlYmU4.jpg" alt=""> </p> 
  <p> <br> </p> 
  <span style="font-size:14px;font-family:&quot;">超强持久定型，维持全天候干爽，不仅能强力定型，还满足塑造油头所需的光泽。以上单品在塞巴斯汀合作沙龙、丝芙兰均有同步发售噢！</span>
  <br> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YmRiMDljMmFkNTE1ZmQ5ZWU0NGQw.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/M2I3MGY1NDI2ZjNiOTY4NzQ0YTY5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>