<div class="left_art_zw"> 
 <h1>YESIDO椰岛美妆学院8月第十期韩式半永久纹绣课程邀您参加</h1> 
 <p class="left_art_zw_zz"> 来源：YESIDO椰岛造型供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/5 13:59:49 </p>  
 <p class="dd"> 8月YESIDO椰岛美妆学院第十期韩式半永久纹绣课程即将开启。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">韩式半永久纹绣技术，是一种非常健康自然的妆容理念，起源于韩国、介于整形美容术与普通化妆术之间的美容技术，可以让爱美的女性轻松拥有自然、完美的眉形和眼线，还能进行发际线的成型与改善，解决色素的脱落等问题，定妆更为自然与持久，真正达到裸妆美女的效果。这种技术一经面世便受到市场的热烈追捧。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTIyZDU1OWEwZTI4ODc3Zjk0OTE4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">其实，韩式半永久化妆技术的学习也并不困难，只要找对了培训学校，一切难题都会迎刃而解。YESIDO椰岛美妆学院向学员提出5大保证：保证正规科班老师授课，保证不推销产品，保证按照课程标准授课，保证免费复修，保证后期解答问题。本着理论课一定讲明白，操作课一定让学员动手实操的要求，YESIDO椰岛美妆学院会给学员提供丰富的动手操???机会，培训合格后免费赠送相关资料及学习证书，并且共同组建同学交流平台，最终让广大美容师、纹绣师在美业的道路上走得更远。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yjg5MzdiNjk1MzRjZjI2MzI3MDgw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjVmNGZiZmY5Yzg0NTMyMjNjOWQx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程概况：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>学习课时：</strong>6天（8月29日-9月3日）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>学习内容：</strong>①眉毛 ②美瞳线 ③唇 ④发际线 ⑤驻颜粉底 &nbsp;⑥漂乳晕 ⑦营销技巧</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>授课老师：</strong>何琼</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>郑重承诺：</strong>一次交费终身免费进修，无任何隐形消费，优秀学员直接加入YESIDO椰岛纹绣团队，海量顾客让你做！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>暑期专享：</strong>特惠价6800元/人</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2MwMDkxYWRkOWNkODRiMDU0NDkw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>纹绣导师：</strong></span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>何琼老师</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2E4YjY3YzFiZDZmNTU2NDhlZmFj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">ID禧形运色纹饰技艺与教育系专家顾问；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">多家美容美体机构特约纹绣师；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">以精致细腻的手法着称；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">为众多艺人明星、模特儿、高贵女性们实施了完美形象的升级换代；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第六届国际健康纹饰美容技艺大赛眉部季军；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">CBI健康饰艺专业委员会主任委员；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第七届中国国际纹饰技艺大赛“十佳设计技术奖”；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">ID禧形运色纹饰技艺大赛眉、眼、唇全能金奖。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDc4MWE5MTdlMmI4YWZmNjhhMjMz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2U1Zjg5OTkwNDQ0YzNjMjVmZGY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>见证蜕变：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">名师引领，剖析纹绣的种种困惑，绘制寻找专业的地图，拨云见日，走出纹绣路上的迷雾；不是头脑层面的知识累加，而是身心的当下放下和重塑；粉碎并重建我们潜意识深处弱势的纹绣程序，提升内在的力量；轻盈的再一次出发，游刃有余地处理好各方面的关系，做一个真正的人生赢家！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>教学优势：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、顶级专家：ID禧形运色纹饰技艺与教育系专家顾问何琼老师亲自教学。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、权威证书：学习结束通过考核后，均颁发结业证书。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、包教包会：丰富的教学经验，科学的教学管理，一次缴费，终身免费学习。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、专家支持：对所有学员提供全方位的技术指导方案及营销方案，所有学员可免费加入技术指导平台。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>答疑解惑：学习过程各种疑虑剖析解答。</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、 没有化妆功底，是否能学好半永久技术？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">答：我们都知道大部分学员都非常担心给顾客设计眉形或唇形，但是我们有专业的学习教材，教材里有根据不同脸型设计的眉形、眼线、唇形说明图。而且老师会手把手指导如何根据不同脸型进行设计，并且我们还安排现场设计环节，通过老师的实操演练环节也能学习到设计，所以不必担心。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、 通过6天的学习课程，我是否可以完全掌握技术呢？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">答：6天的学习，可以掌握所有的操作技法，而且通过不断的实操眉毛、眼线、唇部位，可以掌握操作手感和力度。后期毕业后，学员需要通过及时复习，不断的练习技???，增加熟练度就可以了。如果真有学员6天没有学会，我们给予学员无限次免费学习的机会，包教包会，保证对每一个学员负责到底。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、 我学完后，能给真人操作吗？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">答：我们的课程安排中百分之八十以上的实操练习时间，为的就是让学员在老师的指导下快速掌握操作技巧，同时掌握力度和手感，帮助学员建立自信心，确保学员毕业后能够独立完成操作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>报名须知：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一、开课前提前至少提前7天报名，填写报名信息。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二、预交500-1000元报名定金，开???前补齐尾款即可。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三、提交身份证复印件。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">报名热线：400-028-4447 &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">报名地点：武汉市江岸区永清路5号</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">现在预约报名送价值980元化妆课程或价值980元美甲课程，另外送纹绣工具一套！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjM0NDZkZDE4MDZhZjFmNTI0ZWFl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>