<div class="left_art_zw"> 
 <h1>YIRUSE牵头 韩国展团首次亮相美博会</h1> 
 <p class="left_art_zw_zz"> 来源：美博会???稿&nbsp;&nbsp;&nbsp; 时间:2016/8/25 15:27:16 </p>  
 <p class="dd"> 9月4日，中华全国工商业联合会、美容化妆品业商会、中韩美业文化交流委员会，在广州琶洲成立。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDYxNzcxMDhmN2NiYTNjZDA5OTJm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">以文化带动产业为基准，为企业搭台唱戏为原则，以28年???史民族美博会为纽带，“中华全国工商业联合会美容化妆品业商会中韩美业文化交流委员会”将于9月4日在广州琶洲?南丰朗豪酒店3楼大宴会厅成立。 作为美博会品牌运营总监、国际事务总监、独立董事Miss LinLin联手YIRUSE掌门人LEEJUHYUNG先生成立的“中华全国工商业联合会美容化妆品业商会中韩美业文化交流委员会”，将肩负两国本土企业的优秀产品的展示、宣传、流通的责任，搭建拥有中韩两国本土企业为重心的多元化交流方式，共同推动行业发展。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWE4NjFkNmRkNzgwZjRjZmM3OGIz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">9月4日，以“中华全国工商业联合会美容化妆品业商会中韩美业文化交流委员会”为纽带，韩国仁川市政府带领自然乐园、可莱丝等30多家韩国企业面对面交流对接，韩潮精品展示，OEM、ODM特色企业首次亮相美博会第二届绿色供应链大会为您在广州南丰朗豪酒店奉上一场美容盛宴！本次大会由联合国教科文组织、全国工商联美容化妆品业商会、阿拉善SEE生态协会、水美中国组委会共同支持，目的是从源头抓起，持久共建行业绿色供应链体系，推动化妆品产业绿色、可持续发展。共分为品牌企业展示和四大主题论坛，从原料研发、资本对接、生产制造、科技品牌等方面助推产业绿色革命，通过供应链上游绿色驱动，实现“天然原料、可持续研发、绿色生产、再生包材、环保设计”，从而引领化妆品行业的绿色发展。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzZjZDI5ZWE3ZjRiZmExNzBmYjkw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>