<div class="left_art_zw"> 
 <h1>“A型肉毒素”被叫停 宁夏7家美</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-5-21 14:30:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;昨天，国家食品药品监督管理局向全国各地发出紧急通知，在全国范围内查封由石家庄市南枫医药科技发展有限公司生产的假药“A型肉毒素”。宁夏药监局已根据国家局提供的假药流向表通知银川市和石嘴山市药监局立即查封。 
  <p>&nbsp;&nbsp;&nbsp; 据了解，“肉毒素”是肉毒杆菌在繁殖中分泌的一种A型毒素，也是一种有毒性的蛋白质。战争中，军队曾将之用于生化武器；医学上，它被用于治疗面部肌肉痉挛。1986年，加拿大一位眼科教授发现这个用来麻痹肌肉神经的药物可以使患者眼部皱纹消失，于是被广泛使用于美容行业。宁夏药监局市场管理处梁得林处长告诉记者，注射用A型肉毒素是一种治疗类生物制品，在2到8摄氏度避光保存和运输。假药“A型肉毒素”造成皮肤溃烂，对人体产生一定伤害。根据河北省食品药品监督管理局???供的线索，宁夏已有7家美容院购进了331支假药“A型肉毒素”，梁处长表示，目前宁夏药监局没有接到这方面的投诉。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:宁夏日报&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmIyZjkxZmEwOTg4NDQyYWM3YzQx.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>