<div class="left_art_zw"> 
 <h1>“SK-Ⅱ”和世界杯商标均有假冒</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网－南方日报&nbsp;&nbsp;&nbsp; 时间:2007-4-25 10:17:00 </p>  
 <div class="wz"> 
  <p>　　广东省和广州市分别公布十大知识产权典型案件</p>
  <p>　　“SK-Ⅱ”和世界杯商标均有假冒</p>
  <p>　　本报讯　当今世界，经济全球化趋势深入发展，知识产权的重要性已经渗透到经济活动和社会生活当中。在“4·26”世界知识产权日前夕，省政府知识产权办公室于昨日向社会公布十个知识产权典型案件。 </p>
  <p>　　据了解，这次公布的十个典型案件，是由我省专利、商标、版权等知识产权行政管理部门和省公安机关、省高级人民法院以及海关总署广东分署提供。其中，在专利案件方面，许诺销售侵权行为的领域不断扩展，专利权权属纠纷冰山渐露；在商标案件方面，假冒国际着名商标和国内知名品牌的现象时有发生，侵权人的手法越来越隐蔽且不断翻新；在着作权案件方面，信息网络传播权保护问题日渐突出，侵犯电子出版物着作权等侵权现象较为严重。另外，如何平衡权利人、网络服务提供者和作品使用者之间的利益是值得大家共同关注的问题。在反不正当竞争案件中，侵犯知识产权的违法行为在发展变化上呈现出新的特点。省知识产权局副局长唐毅认为，公布这些案例旨在提醒全社会重视知识产权，形成一个及时有力、处理公正高效、违法犯罪必究的法治环境和社会环境。</p>
  <p>　　另悉，昨日上午，广州市中级人民法院召开新闻发布会，公布了2001—2006年广州地区法院知识产权案件的审判情况和2006年广州市十大知识产权案例。</p>
  <p>　　以下为广东省和广州市知识产权典型案件特点及案例。</p>
  <p>　　■特点一</p>
  <p>　　侵权产品就在我们身边</p>
  <p>　　案件一▲</p>
  <p>　　侵权药品竟参加投标</p>
  <p>　　天津某制药公司发现广州市某医药公司以东莞某厂生产的“养血清脑颗粒”，参加去年驻穗医疗机构药品招投标采购活动，于是向广东省知识产权局提起处理请求。2006年4月10日，省知识产权局勘验检查，认定该“养血清脑颗粒”的生产侵犯了天津公司的发明专利，责令广州公司停止侵犯专利权行为。利害关系人东莞某制药公司不服，遂向广州市中级人民法院提起行政诉讼。法院经审理，作出维持省知识产权局处理决定的判决。</p>
  <p>　　案件二▲</p>
  <p>　　地下工厂制售“国际名牌”</p>
  <p>　　在2005年，四川省警方侦办一宗特大制售假冒“SK-Ⅱ”、“LANCOME”等品牌化妆品案件，发现这些假冒化妆品的货源，均来自广州市兴发广场某档口，于是将案件移送广东警方。广东省公安厅及广州市公安局经过缜密侦查，于去年7月13日，联合广州市工商局开展统一行动，一举捣毁了生产销售假冒知名品牌化妆品的地下工厂1宗。</p>
  <p>　　案件三▲</p>
  <p>　　???外品牌在我国成功维权</p>
  <p>　　法国路易威登马利蒂(LouisVuittonMalletier)起诉谭慧开侵犯“LV”商标专用权。后被告侵权人既受到行政处罚，又被判侵权及赔偿。该案成为境外知名品牌权利人在我国维权的成功案例之一。</p>
  <p>　　■特点二</p>
  <p>　　“名案”层出不穷</p>
  <p>　　案件一▲</p>
  <p>　　“美在花城”起波澜</p>
  <p>　　广州电视台前广告部主任华佛尘称，自己策划了“广告新星大奖赛”方案时，为其冠上“美在花城”之名，并参与筹措比赛。华佛尘提出，自己拥有“美在花城”这个名词和大赛策划方案的着作权，要求广州电视台停止侵权，并赔偿近1000万元。法院审理后认为，《美在花城》是影视作品，广州电视台有摄制许可证，是该节目真正意义上的制片者，享有节目的整体着作权。而“美在花城”一词类似一般的口号、标语，并不具有独创性，不受着作权法的保护，因此驳回原告华佛尘诉讼请求。</p>
  <p>　　案件二▲</p>
  <p>　　“诸葛酿”闹出四胞胎</p>
  <p>　　原告A酒业公司是知名商品“诸葛酿”酒的独创人和制售者。该公司在广东市场上发现被告B公司、C酒业公司生产及被告湛江某超市销售名称同为“诸葛酿”、注册商标为“诸葛亮”的白酒，遂将三被告诉至法院。</p>
  <p>　　法院审理认为：本案所涉两种产品的名称完全相同，包装和装潢相近似，足以使消费者产生误认和混淆，说明被告存在主观故意。据此，依法判决三被告停止侵权行为，并在《南方都市报》等发表声明。另外，B公司、C酒业公司共同赔偿原告经济损失30万元。</p>
  <p>　　■特点三</p>
  <p>　　科研成果权属纠纷频起</p>
  <p>　　案件一▲</p>
  <p>　　华农大农药专利获赔50万</p>
  <p>　　华南农业大学诉云大科技股份有限公司三个单位侵犯“印楝素混配农药制???及其制备方法”发明专利权纠纷案。由于华农大的有关专利及其发明人多次获奖，专利技术含量高，因此，法院在酌定赔偿数额时，以法定最高限额判决被告赔偿50万元，充分保护了权利人的合法权益。</p>
  <p>　　案件二▲</p>
  <p>　　集体成果岂能独吞</p>
  <p>　　1997年，东北某大学与TCL公司签订合作技术开发协议，开展“超级电视墙”项目的研究开发工作。教师吴某作为校方代表，担任该项目技术主要负责人。</p>
  <p>　　2002年，吴某以其妻姜某的名义申请了名称为“非相干光全谱域调制技术及其视频投影光机”的发明专利。大学与TCL公司发现后向深圳市中院提起诉讼。</p>
  <p>　　一审法院认为，原告组织项目科研人员，购买相关科研设备，投入了大量的人力和物力。吴某作为某大学的代表，开发超级电视墙是其本职工作。因此，该技术应属于职务发明创造；姜某不是??技术的发明人。有关的发明专利申请权归原告共同共有。被告不服，上诉至广东省高级人民法院。二审法院经审理，依法作出驳回上诉、维持原判的终审判决。</p>
  <p>　　■特点四</p>
  <p>　　侵犯商标产品伪装出口</p>
  <p>　　案件▲</p>
  <p>　　假“世界杯”商标上了书包</p>
  <p>　　2006年6月，广州某公司申报出口至摩洛哥的15600个尼龙书包，其中夹藏1600个书包标有“FIFA　WORLD　CUP(世界杯)”商标标识，涉嫌侵犯国际足球联合会的商标权。广州海关依法没收了上述1600个侵权尼龙书包，并对当事人处以罚款人民币3600元。</p>
  <p>　　■特点五</p>
  <p>　　电子侵权现象严重</p>
  <p>　　案件▲网站下载服务惹麻烦</p>
  <p>　　随着电子服务项目的增多，有关的侵权案也迅速上升。去年，美国出版协会(AAP)向国家版权局投诉，称中国有人涉嫌侵犯该协会会员的着作权。于是，广东省版权局对???案立案调查。</p>
  <p>　　经查，赖某所办的网站“全方位下载”，擅自从国外一些网站下载他人的作品，上传到其网站，并向社会公众提供下载服务。</p>
  <p>　　省版权局认定，赖某的行为侵犯了着作权人对其作品享有的复制权和信息网络传播权，亦损害了公共利益，对其予以行政处罚。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YTY3MTdmMjliZGFhNDFmMmI0NDlh.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>