<div class="left_art_zw"> 
 <h1>“五一”小长假结婚大军已在???上，不要方，造型师看这里</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/21 13:50:41 </p>  
 <p class="dd"> 近日，北京毛戈平形象设计学校学员优秀作品已经新鲜出炉啦！ </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDk5MDYwNTAwYWVlNGY0MDgxZmQx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：王丹</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：通过镂空赫尔纱表现女人的性感，整体流动的线条和花的装饰表现女人的优雅，整体以白色为主，衣领的链条钻的装饰，使整体感觉朴素而不失华丽，两钻的花纹表达了印记的主题。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODQxMDQxOTJlZTVhZmIzY2YyYTM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：王丽红</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：作品构思来源于花朵的绽放感觉，运用水墨画的图案花纹和无纺布的结合成形花瓣的纹理样式。表现女人的高贵，端庄，优雅的感觉，腰间的钻饰更好的提现了女人的华美之面，中间运用薄纱为了表现出整体感觉的柔美之意！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTg3ODQxOWQ2NjI1NGQyNmE4ODJi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：刘永</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：颜色选用灰色，加入了现代印染技术当中的特殊工艺，从服装的工艺款式和色彩等方面着手对现代印染技术在服装中的表现，设计当中的运用鱼尾款的服装廓形展现女性的曲线美，亮钻的点缀，整体体现出优雅的感觉！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjM5Mjk3N2U3MWFmNjgwNWI4ZGQx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：刘旭文</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：用黑白灰的颜色彰显大气的格调，上身的硬朗与下身的轻柔面料相融合，相对比反差，凸显了现代服装的个性表现，巧妙的结合相得益彰则又到达了巧妙的平衡和中和，服装的印花设计凸显了主题的内涵。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDZhYWFkMmIxYWY0YmU3ODVmMWZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：梁辰</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：作品通过结合主题“苒-印记”，整体衣服色调以黑白灰贯穿，简明时尚。以几何图形为元素，立体修身的设计凸显现代摩登的感觉，搭配金属质感的配饰，将率性的风格发挥到极致。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjczYmM5YmQ2YWRkMzVjZjUyNzMz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：张思萌</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：通过运用皮革与无纺布的结合，皮革表现女性的硬朗，无纺布的小鱼尾裙摆表现女性的柔美，合身的闪钻来表现女性的高贵整体造型体现女性柔中带刚的华丽个性效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWMxZGU1MjYwMWE2ZWJkM2UxMjI4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：郭双丽</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：通过运用高贵而又神秘的黑色和紫色搭配，表现了优雅、魅惑的人物形象，服装中添加的水晶则代表印记了永恒的青春记忆，从而生成表达女性的成长之意。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Mzc3MGE1YzM3MzU2YWQzYjdiZTUw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆造型：应博</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">班级：化妆造型全科班</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品主题：苒-印记</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：作品主要以流动的线条为主，运用色彩的叠加予以深浅的变化，体现女性的柔美，线条的曲线，钻饰的添加给服装增加了气质与灵动感绿色给人以清新的感觉，绿色中叠加白色，使绿色显得更加通透，从而表达主题中印记在青春的回忆中。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjI0ZWE2MTI2Y2IyNjAxYzI1ODRm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>