<div class="left_art_zw"> 
 <h1>“今???有约”与你相约第七届亚洲美业金紫荆大奖盛典！</h1> 
 <p class="left_art_zw_zz"> 来源：哈发网自主采编&nbsp;&nbsp;&nbsp; 时间:2017/11/27 17:42:30 </p>  
 <p class="dd"> 2017第七届亚洲美业金紫荆大奖盛典暂落帷幕，这是一场属于所有亚洲美业人的盛会。 </p> 
 <div class="wz"> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>“今生有约”与你相约第七届亚洲美业金紫荆大奖盛典！</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">2017年11月20日第七届亚洲美业金紫荆大奖盛典在享誉全球的度假胜地印度尼西亚巴厘岛隆重举行，今生有约</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">美容连锁机构创始人祝良斌携手今生有约发型师团队共同亮相盛典现场与亚洲美业各级人士，以及国际品牌代表和嘉宾，共聚美丽平台，共享美业盛事。</span></span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZWM0NGIyMjg2YzRhYmNiYWY0NWQ5.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/NDllZDk0ZDQyNTlhNTA3NmVmN2Fj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/OTNhMDdlMjM0Y2I1NDEwOTY5Mzdj.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NTI5Mzg0MGFmZGI3OTQwOWU2ZGY1.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MGM1YjZjZGI5NjIxZWU5ZmZkMDI3.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MzYzODZmMTM5NTdjNDc1Mjc4Njhk.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/N2I4NjRkYmQ5NjViMmNhZjFlY2I3.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NTc3N2Q1NzY2ODVjMDExZTY2N2Ni.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZDRmNDRjMjQ2N2VhNTFmYzdhNWU5.jpg"></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">亚洲美业金紫荆大奖盛典为了促进亚洲各国美业领域技术、人才、教育、信息和产业的交流与发展，鼓励和表彰亚洲美业优秀人才和企业，经过组委会申报、提名委员会初选入围后提交评审委员会，再由评审委员会审核评选出年度亚洲美业金紫荆大奖。经过层层严格的筛选，此次今生有约美容<a href="/cg/2.shtml" target="_blank">美发</a>连锁荣获“2017亚洲美业最具价值品牌金紫荆大奖”及多个造型师个人奖项！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;<img src="/image/information/NjM2MTIyZmIxYmViMmM5M2IyNTAy.jpg" alt=""></span></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MjRjM2ZiMmYyYWEyNTAwNjYxMGUy.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NDg0MzNjODg2ZTcwY2I2MzM3Mzky.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ODM1YmI1Mjc5NDk1MzM5YTVjMWYx.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NzUxNDVkNGZlYzZhY2FjZjc0ZWNi.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MjAxNTA3OTdjOTQxZjk4Y2EwZjAz.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MDMzYmM5NmZjOGQ0MjZjZTk3MjUw.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/YmQzNTM1YTQ3MWVjYWMzMzU5NTA2.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MzkwZTJhYzRkMDkwYTkwOTJmNjEx.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ODNkOTlkY2M0YzJkNzk3YTA3ZDc1.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NzRjOGE0ZjkzYzBmOTg4YTI0ZDc3.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/Yzc2NTk2ZjZiMjkzMTdjMTdjZTBm.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NWU5ODQyN2JlZWY4ZTFhZDQyMzVj.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/N2UwMWM4YjIyOTE4ZTU5MjM5ZjBi.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MGM5OWRkYzUyM2JlODI3ODc4YTFh.jpg"></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">自2011年创立以来,亚洲美业金紫荆大奖盛典就一直备受瞩目，盛典每年在亚洲不同国家地区举行，集顶级时尚发布、国际交流论坛、明星酒会和颁奖典礼于一体，汇聚了来自中国、印度尼西亚、泰国、马来西亚、新加坡、韩国、日本、越南、缅甸、印度、菲律宾等亚洲国家和国际美业精英共襄盛事！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MmEyOThlNzE5YmNkNzVhM2YyYmM3.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">年度盛典，荣耀亚洲！2017亚洲美业金紫荆大奖盛典上一场融合潮流的时尚发型秀正在上演，中外最具权威的发行团队相聚于此，让现场观众感受最潮最新的发型元素！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NmVmYjNhOWE1MDc2ZDFlMDE2YzAx.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MzE3OTdhNDNjMTE4NWQ1MjJkZDU0.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NTU1M2RhYWJmNTM0MGRlYWQyNzc0.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZDc4YWNhMzJjNzhiZGYyOGFkZDc1.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZjVlODkyNDY3NzIxY2VmYzVmODFk.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NWQ4NWI4NmRmNDVhYjNkZjdlYzg1.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/NDdkMmRkNjdjYjNjYTAxMzFlMTg2.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ZjgyNDIzYjk0YWE3YWIwMWM2OTRk.jpg"></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/ODYwOTg5YjA1ODFhNTM1Yzk3MmQy.jpg"></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">2017第七届亚洲美业金紫荆大奖盛典暂落帷幕，这是一场属于所有亚洲美业人的盛会。再次祝贺今生有约团队老师获得亚洲金紫荆大奖，这是他们的荣誉，也是对美业执着追求的印证！愿所有前行路上的美业人都能让世界看到你们的光芒。新的美业征途正式开始，2018第八届亚洲美业金紫荆大奖盛典，我们再见！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Mjk4NTQ0ZjJkYzkxNjE5NDBlMTk3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>