<div class="left_art_zw"> 
 <h1>“三八” 瞄准她们的口袋</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-3-8 10:55:00 </p>  
 <div class="wz"> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp; “三八”节的到来，商家们都把销售目光瞄准了女性用品市场，贵阳各大商场超市纷纷推出以庆“三八”为名的打折送礼促销活动。市内各大旅行社也专门针对女性推出多条特价线路。就连贵阳城郊的度假村或农家乐也沾了“三八”节喜庆，呈现出热闹的景象。</p>
  <p>　　商场女士购物送水果</p>
  <p>　　记者昨日在国贸、百盛、星力等商场看到，以“三八”节为名的促销活动成了商场的主题。百盛推出女士用品单张蓝票满238元送精美礼品一份，而国贸节日当天购物女士送甜蜜水果一份。</p>
  <p>　　贵阳各大超市都推出了专门的女性用品促销活动，从美容养颜茶到各类洗发护发产品，都有不同折扣的优惠，或是赠送各类小礼品。</p>
  <p>　　农家乐女职工们“包场”</p>
  <p>　　“三八”节的到来，省内旅行社也迎来了春节后的又一个旅游小高潮。不少旅行社???推出了专门针对女性的特价线路。记者从贵州海外旅行社了解到，他们推出的北海双汽4日游、桂林双汽4日游以及省内游目前已有很多人报名，游客大部分都是省内各大单位组织女职工出游的。</p>
  <p>　　“我打了十几家度假村或农家乐的订座电话，都没有位置了!”前天，刘女士焦急地告诉记者，“三八”节，单位准备组织女职工去度假村或农家乐玩一下，她就提前预订位置，没想到问了十几家，全都没有位置了。随后，记者从贵阳城郊的度假村或农家乐了解到，早在半个月前，就有单位陆陆续续来订位置了。</p>
  <p>　　业内人士认为，近年来，随着人们物质生活水平的逐渐提高，“三八”节等过去不太受重视的节日越来越受关注。而女性消费市场巨大的潜力也逐渐吸引了商家们的眼球，因此“三八经济”越来越受商家们的重视。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:贵州都市报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTQ2N2I1NWM5M2M3YWFlZDZkYjc4.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>