<div class="left_art_zw"> 
 <h1>“一家人、一条心、共创共赢” 呈美第四期美容学员班即将开班！</h1> 
 <p class="left_art_zw_zz"> 来源：飘渺坊美业供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/21 13:21:47 </p>  
 <p class="dd"> 呈美美业是一家专注于美容美发事业的优秀企业，一直追求积极、快乐、团结、相亲相爱的企业文化。 </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">呈美简介</span></strong> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">呈???美业由董事长程福林先生创立于</span><span style="font-family:Microsoft YaHei;font-size:14px;">1998年，是一家专注于美容</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">事业的优秀企业，多年来不断积累经验、循序渐进、开拓进取、精耕细作，秉承“全国加盟连锁，全球模式运作”的企业愿景，以“育人才、树品牌、回报社会”为企业发展使命，把“一家人、一条心、共创共赢”作为企业的核心价值观，将美业精神发展到扩大到全国各地。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">30多家直营美容<a href="/cg/2.shtml" target="_blank">美发</a>综合连锁店遍布无锡大大小小街道巷落。为广大客户群众带来健康，美丽和自信。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">19年的发展公司现拥有数百名员工，门店日均客流量达3千人以上。公司以管理完善，技术精湛，热情服务受到消费者的一致好评，公司一直追求积极、快乐、团结、相亲相爱的企业文化。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NjIzMmE2MjJlYWY5ODE3ZDRiMmI3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">呈美总部环境</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/NWE3N2QwY2NhZjEzZmU2NWM5OGQ3.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">呈美荣誉</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/OWYzNDBlOTA0YjJiYmVkZjJhZjFk.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">女子会所一角</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/MTVlZTJhYTQ5MThmMGQzNjU0OTBl.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">美容家人技能提升</span></strong><strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/NzQ2MWE1ODYxNGZiYjQ4YThhZWQw.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>公司</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;">18周年庆典精彩瞬间</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/Yzg4MzZlNjY4NTZhMmMwOTJiMGRm.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/MjAzMThhY2E3NjU4N2M1YjZjNzI2.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">会员沙龙</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YjFlYjk1MjE4MzBiNzIyNGNiZjQ3.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">员工家人旅游</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/YTIzOTEwYjhkZDM2ZjE3OGEzNDVm.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/YjdiOTI2MTQ1MzVjMDM0ZDA3YzZi.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">员工家访</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NTQxNjY4MTk1NDExZjFkMzY4YTA5.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/MmU3YWQxOGI2ZjcyNDhiYTA1NGZi.jpg"></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">敬老院关爱老人</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/YmVhN2NkYTQ1ZDZjNGRkZDkxMWQ5.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">美容团队展示</span></strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NTYzYTIyODE5NjU4MzM3MTY4NTFj.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">呈美美业</span><span style="font-family:Microsoft YaHei;font-size:14px;">19年一路走来。公司的快速发展离不开每位家人的努力的付出、离不开顾客的信任支持以及离不开各界人士的支持，在此向各位表示衷心的感谢！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MmZkMTQxZDgwZDIxZTRlNTFjOGFi.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>