<div class="left_art_zw"> 
 <h1>“一带一路”时尚产业“借船出海” ，让中国时尚经济走出去，靠你了！</h1> 
 <p class="left_art_zw_zz"> 来源：美博会供稿&nbsp;&nbsp;&nbsp; 时间:2017/7/13 13:41:30 </p>  
 <p class="dd"> 7月10日，《“一带一路”商贸展望论坛暨中国国际轻奢时尚周新闻发布会》在广州成功举办。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/N2NhMGQ4ZjkxYzdlZGU4YTVjN2Rj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YTE1ZjI1YjFjN2VlN2U2Mjc5NWI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">7月10日，由中华全国工商业联合会美容化妆业商会轻奢品牌专业委员会与一带一路智造联盟联合主办，中华全国工商联美容化妆业商会轻奢专业委员会配饰分会、一带一路智造联盟配饰分会、旭平首饰联合承办的《“一带一路”商贸展望论坛暨中国国际轻奢时尚周新闻发布会》在广州成功举办。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NmY5MTEyYjNlZGQzNTQwMjc3N2Y1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 论坛现场）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">中华全国工商联美容化妆业商会会长、轻奢品牌专业委员会主任、一带一路智造联盟名誉主席马娅会长，轻奢品牌专业委员会配饰分会会长、一带一路智造联盟主席团主席、旭平首饰董事长潘旭平先生，轻奢品牌专业委员会服装分会会长、一带一路智造联盟主席团主席、着名服装设计设邓兆萍女士，轻奢品牌专业委员会鞋包分会会长、一带一路智造联盟主席团主席、步天鞋业董事长李健祥先??，轻奢品牌专业委员会珠宝筹备委员会负责人、一带一路智造联盟主席团主席、文庭国际董事长梁文锐先生，轻奢品牌专业委员会常任副主任兼秘书长、一带一路智造联盟执行主席张赵原先生，以及轻奢六大领域多位事企单位领袖、着名学者、设计大师针对在“一带一路”倡议的时代背景下，时尚产业如何“借船出海”，如何打通“产、学、研、企、融”各领域合作交流的渠道，怎样发掘“一带一路”倡导下世界互通合作的新时代下时尚经济的新机遇，从而开辟崭新局面，使得中国时尚经济走出去，立得住，大家互相交流了看法，碰触智慧的花火。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OTJiZmYwYmNmN2MwNzRiZDRkMGY0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">(图 马娅会长发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">论坛嘉宾互动环节提到：中国政府提出“一带一路”倡议，形式上是为广大发展中国家和民族搭建一个合作共赢的平台，但本质上是提出一种新的发展路径，推动现有国际政治经济秩序向着更加公正合理的方向发展。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OTIyZDJlNzYxY2RkNGJmNDM3YWZm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 潘旭平董事长发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">习近平主席所强调的以和平合作、开放包容、互学互鉴、互利共赢为核心的丝路精神并不是简单的道德导向，而是现代商业逻辑的本质要求。“一带一路”是推动这一伟大变革的原动力。我们有理由相信，“一带一路”建设必将成为和平之路、繁荣之路、开放之路、创新之路和文明之路，造福世界，造福人民。这是一个伟大的时代，因为它充满了各种希望和可能。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MDZkNzIwZWRkNTEwMjg5ZTUzMzNj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 冯敏教授发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">其中马娅会长做了深入分析了“一带一路”倡议下轻奢时尚行业的新形势新机遇。并力推中国国际轻奢时尚周，进一步让轻奢品牌走向“一带一路”。她还在现场强烈表示美博会愿与轻奢产业所有商企勠力同心，共创共荣。潘旭平董事长以多年以来从事海外贸易的经验以及辗转世界各国的经历，畅谈国内轻奢智造产业在国际市场的机??与挑战，乘“一带一路”质变飞跃。邓兆萍老师谈及轻奢服装领域多年演变以来的新业态，并在现场力荐“金国奖”，号召全体轻奢设计师踊跃参与，全面提升中国轻奢设计。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">广东省珠宝玉石交易中心总经理黎志伟先生就国内珠宝市场疲软与文化缺失等业态进行阐述，并为如何打造中国百年珠宝品牌指出高见。步天鞋业董事长李健祥先生谈到轻奢鞋包品牌跨界联动，如何沿好一带走好一路。张赵原秘书长解读了“一带一路”与产能战略。华南理工大学中国民间艺术研究中心主任、设计学院硕士生导师冯敏教授详细介绍了政府关于“一带一路”的倡议和产业布局。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YTZkNTZkYjg4NTg5ZDJlZGE5M2Q3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 黎志伟先生发表讲话）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">“一带一路”商贸展望论坛汇聚了时尚产业各界人力，打通“产、学、研、企、融”各领域合作交流的渠道，据悉今后这样的论坛还会不断展开，以达到推动国内轻奢产业兴旺发展的最终目标。中国的时尚经济适逢此际最佳时机，尤其地处广州，昔日海上丝绸之路的重要港口，具备地利优势，更能快人一步抢占先机???实现“一带一路”沿线时尚经济交易布局，促进国内时尚品牌进出口供销两旺。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/YWJjODEyM2VmN2NhYjNmMjI5MWU4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 邓兆萍老师发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">轻奢时尚处于时尚经济中上游区域，产业方兴未艾，如今正是借“一带一路”开创新局面和转型的最佳契机，因而，中华全国工商联美容化妆业商会轻奢专业委员会将以轻奢为主题举办中国国际轻奢时尚周。“一带一路”商贸展望论坛之后，中国国际轻奢时尚周组委会举行了中国国际轻奢时尚周新闻发布会。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZjA3MWExYmQ1MGI2NzdjMGJiZTJj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 李健祥会长发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MDEwNGJhNjU2YjFmYzgxNGUyYWZm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 张赵原秘书长发言）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/NjBkMTVhZmQzNTVlYjgxMmY5NzFl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（“一带一路”商贸展望论坛成员合影）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">此次新闻发??会在众多中国轻奢行业领袖见证之下隆重启动，共同为轻奢美丽盛典举杯。据悉，中国轻奢时尚周将于9月1日至5日于广州塔举办。不仅如此，由马娅会长发起，张赵原秘书长统筹与策划、邓兆萍老师等中国轻奢产业领袖力荐的轻奢产业第一权威大奖“金国奖”中国国际轻奢设计大赛，正在如火如荼的报名中。据了解，大赛分为服装、配饰、珠宝、鞋包、家饰、形象六大专业，坐等群雄逐鹿“轻奢”。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/OTk1NmE1OGRkZDk1YTMyNmZkNDg1.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ODhkZjYzMzNlMjY1Y2Q4ZmI0Y2Y4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/N2E1ZDk0YWU4YzU3NzE5YjZjMjBi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/ZDFkMWJhZDZlODk4MjgyYzNiMDI2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MTUwNWE2NDY4MmIxZWU0YWQzMjZi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MzA0NGVjOTMwZmQ1ZTNhYjdjNDZi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;">（图 中国国际轻奢时尚周新闻发布会）</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">中华全国工商联美容化妆业商会轻奢专业委员会分服装、珠宝、配饰、鞋包、家饰、形象设计六大专业设立委员会，实现行内联盟，发挥群策群力的效能，开拓思路，合作共赢。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">全球产业布局，借船出海，此处扬帆。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzJmZDQ3NTRjY2QzNjVmNTgyZjRj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>