<div class="left_art_zw"> 
 <h1>“中国头皮健康日——2017年养丝 . 中国沙龙健康发展论坛”即将召开！</h1> 
 <p class="left_art_zw_zz"> 来源：养丝国际供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/21 11:09:49 </p>  
 <p class="dd"> 2017年养丝 . 中国沙龙健康发展论坛研讨沙龙未来发展新方向：将头皮项目与沙龙日常业务完美融合！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">杭州养丝化妆品有限公司，</span><span style="font-family:Microsoft YaHei;font-size:14px;">秉??“世界头皮健康日”的理念，</span><span style="font-family:Microsoft YaHei;font-size:14px;">首次提出了中国头皮健康日! </span><span style="font-family:Microsoft YaHei;font-size:14px;">即将—2017年11月1日</span><span style="font-family:Microsoft YaHei;font-size:14px;">中国头皮健康日，</span><span style="font-family:Microsoft YaHei;font-size:14px;">也将迎来新的篇章。</span><span style="font-family:Microsoft YaHei;font-size:14px;">届时，</span><span style="font-family:Microsoft YaHei;font-size:14px;">美业大咖、业界精英，</span><span style="font-family:Microsoft YaHei;font-size:14px;">将齐聚千岛湖，</span><span style="font-family:Microsoft YaHei;font-size:14px;">共论美业新力量——头皮健康。</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/YTYwZDJiNzJkNTg5ZGI4YmNiMzc2.jpg"> </p> 
  <p align="left"> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">此次活动主题，</span><span style="font-family:Microsoft YaHei;font-size:14px;">11.1中国头皮健康日——</span><span style="font-family:Microsoft YaHei;font-size:14px;">2017年养丝 . 中国沙龙健康发展论坛。</span> </p> 
  <p align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>研讨沙龙未来发展新方向：</strong></span><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>沙龙财务体系精准化运营；</strong></span><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>头皮健康产业——引领沙龙可持续增长；</strong></span><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>沙龙互联网效益解析。</strong></span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">重在宣传头皮健康，</span><span style="font-family:Microsoft YaHei;font-size:14px;">将头皮项目与沙龙日常业务完美融合，</span><span style="font-family:Microsoft YaHei;font-size:14px;">将头皮护理普及到消费者个人。</span><span style="font-family:Microsoft YaHei;font-size:14px;">让头皮健康理念深植于广大群众的心里，</span><span style="font-family:Microsoft YaHei;font-size:14px;">让头皮健康护理真正落实到行动上来。</span><span style="font-family:Microsoft YaHei;font-size:14px;">头皮健康不再是一句口号，而是一次行动。</span> </p> 
  <p> &nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>大型颁奖典礼</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">论坛结束之后，</span><span style="font-family:Microsoft YaHei;font-size:14px;">还有一场盛大的颁奖典礼。</span><span style="font-family:Microsoft YaHei;font-size:14px;">对头皮健康发展有突出贡献的个人或团体，</span><span style="font-family:Microsoft YaHei;font-size:14px;">养丝作为主办单位，</span><span style="font-family:Microsoft YaHei;font-size:14px;">将给予嘉奖和奖励。</span> </p> 
  <p> &nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>豪华晚宴</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">一天的会议讨论后，</span><span style="font-family:Microsoft YaHei;font-size:14px;">更有一场豪华晚宴。</span><span style="font-family:Microsoft YaHei;font-size:14px;">与会的嘉宾，</span><span style="font-family:Microsoft YaHei;font-size:14px;">都将在这里度过一个欢庆的夜晚。</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/NDViOTNhZjZiYWFmYjE4ZGRlOWVm.jpg"> </p> 
  <p> <br> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">（图为2016年时的盛况）</span> </p> 
  <p> <br> </p> 
  <p align="center"> <img alt="" src="/image/information/ZTI5MWIzNWRmOGQzZTE1NmZiMDM4.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">千岛湖，</span><span style="font-family:Microsoft YaHei;font-size:14px;">位于浙江省杭州市淳安境内，</span><span style="font-family:Microsoft YaHei;font-size:14px;">国家5A级旅游景区。</span><span style="font-family:Microsoft YaHei;font-size:14px;">湖中大小岛千余个，</span><span style="font-family:Microsoft YaHei;font-size:14px;">风景如画，吸引了大量游客。</span><span style="font-family:Microsoft YaHei;font-size:14px;">千岛湖水，更是被誉为“天下第一秀水”</span><span style="font-family:Microsoft YaHei;font-size:14px;">而此次论坛就在这里召开。</span> </p> 
  <p> <br> </p> 
  <p align="center"> <img alt="" src="/image/information/NzBlNzcyODA0MzdhN2RjN2U4M2Jh.jpg"> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">千岛湖全景图</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/ZTc3MjIxYTBhM2Y2M2RiMDc0ZTgw.jpg"> </p> 
  <p> <br> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">杭州千岛湖绿城喜来登酒店</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZjIzNjEzY2IyM2QyYTkxODdkOWMx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>