<div class="left_art_zw"> 
 <h1>“一瞬之美，一生之美”——资生堂抗皱技术新突破</h1> 
 <p class="left_art_zw_zz"> 来源：资生堂专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/28 11:41:50 </p>  
 <p class="dd"> “一瞬之美，一生之美”’ 是资生堂追求美的目标，资生堂对“美”的研究可谓是全身心的投入。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'font-size:14px;">“一瞬之美，一生之美”，</span><span style="font-family:'font-size:14px;">是资生堂追求美的目标，</span><span style="font-family:'font-size:14px;">资生堂对“美”的研究可谓是全身心的投入，</span><span style="font-family:'font-size:14px;">尤其在皮肤抗老化领域上，</span><span style="font-family:'font-size:14px;">今年，有了新的研究与突破，</span><span style="font-family:'font-size:14px;">发布了一项独家技术成果——纯维生素A。</span> </p> 
  <p> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><img alt="" src="/image/information/ZWJjZGIwMzlhZDBhMDYzMTkwMTEy.jpg"><br> </span> </p> 
  <p> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;">维生素A研究开发的经历</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'font-size:14px;">历经28年，</span><span style="font-family:'font-size:14px;">凝聚了140名研究人员的力量，</span><span style="font-family:'font-size:14px;">通过提升透??质酸含量，</span><span style="font-family:'font-size:14px;">以增强保水效果，</span><span style="font-family:'font-size:14px;">9周即可改善平均等级为4级的深度皱纹，</span><span style="font-family:'font-size:14px;">还首次获得了日本厚生劳动省，</span><span style="font-family:'font-size:14px;">“改善深度皱纹”新效果的认证。</span> </p> 
  <p> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><img alt="" src="/image/information/OTZiMjkzMWJkZDUzN2UzNThhMTIw.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;">凝结了资生堂独家技术的成分——维生素A</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'font-size:14px;">并且还在，</span><span style="font-family:'font-size:14px;">上海美博会，</span><span style="font-family:'font-size:14px;">2017个人护理品技术高峰论坛，</span><span style="font-family:'font-size:14px;">全球化妆品流行趋势发布会，</span><span style="font-family:'font-size:14px;">广州美博会，</span><span style="font-family:'font-size:14px;">杭州聚美丽</span><span style="font-family:'font-size:14px;">等，</span><span style="font-family:'font-size:14px;">活动上进行了巡讲。</span> </p> 
  <p> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><img alt="" src="/image/information/YWJiMmQzOTA4MTlmMGM3MjY5MmFj.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;">全球化妆品流行趋势发布会 &nbsp; 田村总经理</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><img alt="" src="/image/information/YjVhNWZkN2RhZDUxYjlmYzViNjk2.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;">2017个人护理品技术高峰论坛 &nbsp; &nbsp;岑晓娟高级经理</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><img alt="" src="/image/information/YmE3NDY1MTA1OGI1MmQ0ZmQ1NmUy.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;">广州美博会 &nbsp; &nbsp;田村总经理</span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'font-size:14px;">还与观众们进行了互动，</span><span style="font-family:'font-size:14px;">现场气氛非常活跃，</span><span style="font-family:'font-size:14px;">通过巡讲，</span><span style="font-family:'font-size:14px;">资生堂让大家认识了维生素A这个突破性的研究，</span><span style="font-family:'font-size:14px;">并得到了很大的反响。</span> </p> 
  <p> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><img alt="" src="/image/information/Nzg3MTg5MDdiNTdhOTM1NTgxYmQx.jpg"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'font-size:14px;">现场互动画面</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZDRlNDVjMDQwMWFlMmJjOWY2MGQ1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>