<div class="left_art_zw"> 
 <h1>“以前剪头发剪到一半就会烦燥，现在越剪越有想法”什么课程这样神奇？！</h1> 
 <p class="left_art_zw_zz"> 来源：中国发哲大师学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/4 12:07:02 </p>  
 <p class="dd"> 未来20年的基础尽在这5天中Basic Chinology发哲精剪入门班课程中。 </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;<img src="/image/information/NDBhMzlmY2U2MzllNGY0ZmJlM2Ey.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">— &nbsp;Chinology-Shanghai —</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">— 入门介绍 —</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>1 、</strong><strong>5日Basic Chinology发哲精剪入门班</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>&nbsp;</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程时间：</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">9月15日-9月19日</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">10月15日-10月19日</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">11月15日-11月19日</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">12月15日-12月19日</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>费用：</strong></span><span style="font-size:14px;font-family:'Microsoft YaHei';">4840RMB/5天 &nbsp;&nbsp;&nbsp;（优惠：两人同行9折）</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程内容：</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">准发型师及年轻发型师、初级发型师报读</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">教授</span><span style="font-size:14px;font-family:'Microsoft YaHei';">5款商业实用发型，带出学员对不同头型及不同立体的认识，加强手感技巧等训练，每款裁剪包含3种造型练习及染 、电介绍分析。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>2 、</strong><strong>Norman老师专为年轻精剪入门班学友设计7寸直剪，限量60把，现开始预定，售完即止。</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">限定</span><span style="font-size:14px;font-family:'Microsoft YaHei';">1号班学友购买，优惠价?1500</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span><span style="font-size:14px;font-family:'Microsoft YaHei';">入门班学员回馈：</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">学完发哲手法给我的整体感受就是，剪出来的线条柔美又有个性，解决了中国人头大头发粗硬轮廓不凸岀的烦恼，剪的时候思想与技术同行，所有的手法都非常实用，剪出来每款发型都很有动感走向强，以前剪头发剪到一半就会烦燥，现在越剪越有想法，可以自由发挥，因为自己本身功底还不够扎实，还需要时间去加强练习，慢慢沉甸！</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">—— （广州）Faye·Blue</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">学完一号班差不多有两个月了，经过这两个月的一些练习加上Tigi老师和校长的指点，慢慢感受到发哲手法的强大。以前的湿剪剪完吹干还要去修，而现在的干剪加上内弯手感，更快更准，感觉非常不错。我觉得这次学习不仅仅学到技术，在思想上也学习不少，以前老是想着怎么样跟客人玩套路，到现在能够踏踏实实静下心了剪好头发，个人感觉非常棒。明年也会去上海学经典班，在此也感谢Tigi老师和校长不仅教会了我剪发，还让我真正爱上剪发。</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">——（广州）Johnn 庄尼</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">通过入门班5天课程，内弯手感视觉角度、半干湿等技术吊足了我的兴趣，原来还可以这么玩。深入的了解了其中的奥妙，5款发型不在于发型，感谢两位导师的用心教导，感谢学院工作人员周到的服务，感恩遇见同学们及所有人有缘相遇。</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">—— &nbsp;徐枝勇（温州）</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">通过这次发哲学习这五天 感触颇多，内弯手法很好用 回店后实用性特别高 剪完发型还原性特别强 ，而且现???剪发特别柔和 不会像之前那么死板，谢谢两位老师的悉心教导，还有美女前台们的服务也是特别到位。还会继续深入发哲系统。</span> </p> 
  <p class="MsoNormal" style="text-align:right;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">—— &nbsp;莫斯宁（常州）</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>入门，也许你还需要这件东西来帮助你</strong></span><span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>……</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODUzMzlkODAyZGUxMjMwZjYwMjI5.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTQzNTAxMDA2OGNiYWIwZTFhZmY4.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2EyZDViM2QwOGQ2OGQxNWYyMjY0.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>入门班现场教学花絮</strong></span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZTYzYTk3NTZiMWIwZjBhN2I0ZjUx.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NGUyMDhmYTI3MjhiNjBlMWRiY2Ji.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MzIzNWY4NGM3NjBhM2U3NTkyNTNh.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NzE2YzdjYWNkYThmOWE0NDFiODIz.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ODkyM2Q5NDJhNmEzOGY0Mzk5ZGNk.jpg" alt="">&nbsp; </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MWQwMTU2NzEwYWU2NTM4OGRlYzFi.jpg" alt="">&nbsp; </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/MmVlNDVkM2Y1ODViMTJjZGRlZTRh.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZDQxZmMxNjZhYjE2ODQ0YmI1N2E4.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NjA4Y2NlYTFkNmM0OTZlY2FiNGI4.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/Mzc1YjM5MGZiMGMwODVkODc4M2Rh.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> &nbsp; </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZmRhMDkxYTMwYTNiMDQyNzFmNGQz.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZjI1ZGZlYWE4NTNlOWE1MzVjOWMz.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ZmFhNjllYjUyNjEwOTVlM2M5NjI1.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/OTVlY2MzZDkzYmRkMjExYjQ4NmY0.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/ODJiMTIzOGM0NmQyNDIyNTY1YTdi.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/YTIyN2Q3NDI3ZjU3ZmYyNGUxOTQ3.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/NzMwNDM0NmJhZTQyNTJmOTgyYjli.jpg" alt=""> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img src="/image/information/YjRkYmU4MWIwOTU4MGQyM2IwN2Iy.jpg" alt=""> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">联系电话：</span><span style="font-size:14px;font-family:'Microsoft YaHei';">021-60910575</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">微博昵称：</span><span style="font-size:14px;font-family:'Microsoft YaHei';">CHINOLOGY</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">微信昵称：</span><span style="font-size:14px;font-family:'Microsoft YaHei';">CHINOLOGY</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">QQ:18918082545</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">网址：</span><span style="font-size:14px;font-family:'Microsoft YaHei';">www.chinology.com.cn</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:'Microsoft YaHei';">地址：上海市黄浦区建国中路</span><span style="font-size:14px;font-family:'Microsoft YaHei';">25号（8号桥创意园）9号楼206室（地铁9号线打浦桥下）</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDkzOWY3OTA0NmQwNDg5MDhkZTky.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>