<div class="left_art_zw"> 
 <h1>“做人先学礼” ???珩礼院打造BTT美媛素千店连锁&amp;礼仪赢天下课程圆满结束</h1> 
 <p class="left_art_zw_zz"> 来源：思珩礼悦供稿&nbsp;&nbsp;&nbsp; 时间:2017/10/21 11:16:37 </p>  
 <p class="dd"> 思珩礼院携手BTT美媛素，开启“礼仪赢天下”卓越团队素养管理训练！ </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">精彩</span><span style="font-size:14px;line-height:1.5;font-family:'Microsoft YaHei';">的课程开始啦！</span><span style="font-family:'Microsoft YaHei';font-size:14px;">掌???有请美媛素千店连锁企业</span><span style="font-family:'Microsoft YaHei';font-size:14px;">创始人——赵佩俞主席为大家带来精彩课前致辞!</span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"></span> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTcxMTMzMGI0NzFkMWZiOTg2OWMw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="color:#000000;line-height:28.44px;font-size:14px;font-family:'Microsoft YaHei';">思珩礼院院长——吴霞老师</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28.44px;">莅临美媛素为我们带来精彩分享!</span> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'sans serif', tahoma, verdana, helvetica;font-size:12px;line-height:1.5;"></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NzhiODU5NGZhODNkNDFlZTRmN2Nl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjQ1NWZjMTBkYzNiMTQxMTUxNGQ5.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTc3MDExMjNhMWMwNmEzNzAyMzVh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDNlNjBmNWUwNzA0Y2JlNjQ4Zjk1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MmUwOGI4MWJhZmQ0NGI4ZjBjZjBm.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:27px;color:#000000;">“做人先学礼”</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:27px;">礼仪教育是我们人生的第一课，</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:27px;">而礼仪是必须通过学习、培养和训练</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:27px;">才能成为人们的行为习惯！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjczNTc5NmUxYWRiZGVhMTI5ZGJj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YmU0MjZkYjYxOTQ0ZWIwOTQxZWE4.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDcyN2RmMWMzMzhiZjRkZmRjNmUz.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;color:#000000;">求形质之文明易，求精神之文明难。</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">精神既具，则形质自生；</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">精神不存，则形质无附。</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">然则真文明者，只有精神而已。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ODY1NmQ3YjQ0ZDBmNTY5N2I2Y2Q1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZTM3YWU2ODUyNTM2M2RiMzUxMGFj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MmZiZjk0MWQ2MzQ5Mjg5YTAwMTI5.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MmUzYjBkZjNiMzYxODhkOTExZmUz.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="color:#000000;font-size:14px;font-family:'Microsoft YaHei';">PK赛冠军组！大家</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">一起来分享喜??！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OGVjMzNlZjQ3ZTgzYzBkNTJiMzMw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/M2ZjMDM3Y2MxMTBmZjU0ZDlmOTM3.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTY0MGVhNDUwOTlkZjliMjAwYzRh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MGYzYzYxMmU4ZTkwZGQxYWU0YjQy.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:22.4px;background-color:#FFFFFF;">感谢一直陪伴大家成长的教官们！</span> </p> 
  <p style="text-align:left;"> <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:22.4px;background-color:#FFFFFF;"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTY3YmMzNzMyMmY1YzZiMjUxNmNk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZWU5OGI0ZjhjODdiYzQ1NTc1MmVl.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDJlMjY0YTQyZDVlMGUzMDE3NjY4.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDAwYTIxMTZmMDI5NmRjNzQzMGUw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;color:#000000;">只有胸怀坦荡的人，才会用人性的善良，</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">去理解别人的需求。</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">当心灵没有累赘时，当回忆没有悔恨时，</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">那就是幸福的源泉！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MThhYjNhZmNjMzA0ZTQzODc1ZTAw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/M2RjZmRmNWQ5NDAzYjEwOTFkZjkx.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MDJlODIyMGZjMGY5YWI2NmMzNmMw.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YjUxYmRiMmEyNDkzNDJkNzQ5MmZh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YmZlMGYyMWMwNDJlNTgxZjkzNWI4.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;text-align:center;background-color:#FFFFFF;"> <strong><span style="font-family:'Microsoft YaHei';color:#000000;font-size:14px;"><span style="font-size:14px;line-height:22.4px;font-family:'Microsoft YaHei';color:#000000;">恭喜团队季军</span></span></strong> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NzM1ZGU0MTkyY2M3MjZiZWVkMWFj.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:'Microsoft YaHei';color:#000000;font-size:14px;"><span style="font-size:14px;line-height:22.4px;font-family:'Microsoft YaHei';color:#000000;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;color:#000000;"><span style="line-height:22.4px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;">恭喜团队亚军</span></span></strong></span></span></strong><span style="font-family:'Microsoft YaHei';font-size:14px;color:#000000;"></span> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:'Microsoft YaHei';color:#000000;font-size:14px;"><span style="font-size:14px;line-height:22.4px;font-family:'Microsoft YaHei';color:#000000;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;color:#000000;"><span style="line-height:22.4px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;"><br> </span></span></strong></span></span></strong> </p> 
  <p style="text-align:center;"> <img src="/image/information/NjIyYTUxMDQ4Nzg2YjE0NmYxMTA1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:'Microsoft YaHei';color:#000000;font-size:14px;"><span style="font-size:14px;line-height:22.4px;font-family:'Microsoft YaHei';color:#000000;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;color:#000000;"><span style="line-height:22.4px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;">恭喜团队冠军</span></span></strong></span></span></strong><span style="font-family:'Microsoft YaHei';font-size:14px;color:#000000;"></span> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:'Microsoft YaHei';color:#000000;font-size:14px;"><span style="font-size:14px;line-height:22.4px;font-family:'Microsoft YaHei';color:#000000;"><strong><span style="font-family:'Microsoft YaHei';font-size:14px;color:#000000;"><span style="line-height:22.4px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;"><br> </span></span></strong></span></span></strong> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZmRiY2EzZTI3ZTAwY2RhNGY5ODY1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTUyZTMzMTYxNzIwOTYyYzQ3Yzg5.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:23px;">越积极乐观越勇敢面对，好运就越青睐。</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:23px;">只有勇于低头并清醒认识自己的人，</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:23px;">才能够在人生波峰浪谷间笑傲风尘，</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:23px;">祝愿每位朋友在事业道路上绽放光彩 ！</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-size:14px;color:#000000;font-family:'Microsoft YaHei';"><strong>美???素 企业文化</strong></span> </p> 
  <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">传承历史，引领未来，追求纹绣事业发展的可持续，塑造时尚之美！</span> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:28px;color:#000000;">1、企业愿景：</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">让中国纹绣像韩国整形一样享誉国际</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">2、经营理念：</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">以质量为基础，以技术为支撑，以市场为导向，以客户为中心</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="line-height:28px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;">3、使命：</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">为纹绣师成长助力 &nbsp;&nbsp;&nbsp;&nbsp;创五星标准纹绣店</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="line-height:28px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;">4、管理理念：</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">以人为基础，以系统为保障，以文化为指导，搭建管???金字塔，实现“关爱、共赢、责 &nbsp; 任、担当”齐发展</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';line-height:28px;font-size:14px;color:#000000;">5、人才理念:</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">四原则，两标准</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">&nbsp; &nbsp; &nbsp;四原则：不拘一格选人才、创造条件育人才、提供舞台用人才、长效激励留人才</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="line-height:28px;font-family:'Microsoft YaHei';font-size:14px;color:#000000;">&nbsp; &nbsp; &nbsp;两标准：公司企业文化认同、公平、公正、公开</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';line-height:28px;font-size:14px;color:#000000;">6、团队理念：</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">打造动车式的速度型和谐团队</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:28px;color:#000000;">7、核心价值观：</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">诚信 &nbsp;责任 &nbsp;创新</span> </p> 
  <p style="color:#3E3E3E;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:16px;background-color:#FFFFFF;"> <span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;"><span style="font-family:'Microsoft YaHei';line-height:28px;font-size:14px;color:#000000;">8、“美媛素”</span></span><span style="color:#000000;font-family:'Microsoft YaHei';line-height:28px;font-size:14px;">人工作态度</span><span style="color:#000000;font-family:'Microsoft YaHei';font-size:14px;line-height:28px;">一勤天下无难事</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTk5ZTM4MzVjMmQyYjRhYzUzZDJh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>