<div class="left_art_zw"> 
 <h1>“健康美发，时尚生活”—韩国伊</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-12-15 16:31:00 </p>  
 <div class="wz"> 
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162010.jpg" target="_blank"><img style="WIDTH: 404px; HEIGHT: 124px" height="160" src="/image/information/ZGU2NjFhOTBlMTViZWI2YTY2YmVi.jpg" width="498" border="0"></a></p>
  <p align="center">伊诺思cynos&nbsp; <br>伊诺思品牌1993年在韩国诞生，已有13年浓郁的历史背景，是韩国首屈一指的专业美发品牌，至今伊诺思已拥有8组针对不同市场共100多种单品，覆盖世界各大城市，并得到世界美发界的推崇。伊诺思的成功在于它从开始就给了自己一个准确的定位，“健康美发，时尚生活”——这一理念已被时间所证明。CYNOS即“Cycle Natural Original System”的缩写，中文含义为“自然、循环、再生系统”。伊诺思所有产品上均有“CRP System”标记，即“Cleansing 、Repair 、Protect System”，中文含义为清洁、治疗、保护系列。健康、时尚的理念渗透到产品方方面面。　　伊诺思的使??是支援及帮助美发机构的相关工作者；伊诺思的目标是促进业界之间的交流与合作，努力与外界建立良好的合作关系，用全新的目光看待世界，肯定自己的专业性并用实践证明出来；伊诺思的客户价值在于：积极地开展交流活动、分享经验、不排除异己、扞卫职业伦理、互相提携。&nbsp; </p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162117.jpg" target="_blank"><img src="/image/information/MDE0YzhjYmRjZjU3MWVjNTE1NDNi.jpg" border="0"></a></p>
  <p align="center">&nbsp;</p>
  <p align="center"><br>■ 半胱胺酸冷烫精 <br>含有从头发中提取的天然半胱胺酸配合氨基酸、卵磷脂等，通过高效聚合物、渗透剂，<br>均匀、快速渗透至头发内部，使头发上卷更容易，同时可充分保护发质，使烫后的头发光泽自然、充满弹性、曲发效果更持久。</p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162247.jpg" target="_blank"><img src="/image/information/MDQyMzdhMGEyODkyN2E4MDEzYTQ4.jpg" border="0"></a></p>
  <p align="center"><br>■ 酸性烫发水&nbsp; <br>成份：氨基酸、卵磷脂、天然半胱胺酸、高效聚合物、软化剂、渗透剂等。<br>在烫发过程中补给头发营养并维持头发的水分，恢复弹力，使严重受损发质依然可以烫出比较有弹性的发花。</p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162347.jpg" target="_blank"><img src="/image/information/NmVjMzEyYjc1ZTZlODcyZmJkOTlj.jpg" border="0"></a></p>
  <p align="center">&nbsp;</p>
  <p align="center">■ 毛鳞片修复液 <br>本品含天然霍霍巴油、深海鱼油及维他命B等头发营养修护成份。<br>活性游离氧原子促进营养成份被头发吸收，从而全面均衡修护发质，使头发光亮柔顺，飘逸自如。<br>抗热、防静电、紫外线、补充头发间充物质、去除染烫后残留在头发皮质内部的有害物质，<br>改善毛鳞片光泽和柔软度，为一种长期疗发品，建议长期使用效果更佳。</p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162425.jpg" target="_blank"><img src="/image/information/MjA5MDEwMWU3YTU5N2QwYWE3NjE2.jpg" border="0"></a></p>
  <p align="center"><br>■ 浓缩活性角蛋白补充剂 – PPT<br>可成以迅速激活头发内部游离的营养成份，分子颗粒更细小，渗透及护理功能更好，其有效成份及时锁定受损部位，使受损伤发质也能染烫出满意的效果。是健康烫发染发的一个保证，可用于烫中护理，（与烫发水混合使用），染中护理（与染膏混合使用），冷烫前先将本品均匀涂抹于受损部位，然后进行烫发操作，烫中及染中时，将本品与烫发水和染膏混合，比例为 1:15 。 受损发质护理时可直接与LPP混合使用。</p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162555.jpg" target="_blank"><img src="/image/information/MjA3ZjcwMWZjNjMzNzA3MmY1MjBk.jpg" border="0"></a></p>
  <p align="center">&nbsp;</p>
  <p align="center">■ 去屑精???&nbsp; [新品]<br>功效特点： 本品采用芦荟、天然野菊花等本草中药之精华，并配以抑制真菌的ZPT成份，<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 对因真菌引起的头皮屑能有效地达到预防并去除的功效。 <br>产品成分：&nbsp; 芦荟、天然野菊花、ZPT成份 <br>其他介绍： 若涂抹本品时有刺痛感，请立即用清水冲洗头皮，并停止使用。 </p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162641.jpg" target="_blank"><img src="/image/information/YjM0NTljOGYwYjEwZjc2MThiNTVi.jpg" border="0"></a></p>
  <p align="center">&nbsp;</p>
  <p align="center"><br>■ 柔顺洗发露<br>功效特点： 阳离子聚合粒子能深入彻底地清洁秀发，使头发增加弹性和柔顺感，防止秀发干枯，B3能有效地滋养秀发并渗入发根及秀发内部，葡萄籽油小麦蛋白能坚固头发使用秀发表面光泽出众。 <br>产品成分：&nbsp; 富含维生素B3,阳离子聚合粒子,葡萄籽油及小麦蛋白 <br>其他介绍： 此产品共分三种规格:200ml 400ml和800ml. </p>
  <p align="center"><a href="/manage/manage/upload/upfiles/20061215162755.jpg" target="_blank"><img src="/image/information/N2EwOTQzNjQ1MzdmMGE4YTc4NDE1.jpg" border="0"></a></p>
  <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 地址：伊诺思(中国)商务中心&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 电话：020-86271923&nbsp; 86271231&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 传真：020-86272315 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 邮编：510400&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 网址：<a href="http://www.u-broad.com">http://www.u-broad.com</a>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email：<a href="mailto:u-broad@u-broad.com">u-broad@u-broad.com</a>&nbsp; <br>&nbsp; <br><br></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzYyMWVmOThmNWYwNTRmOTJiOTVl.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>