<div class="left_art_zw"> 
 <h1>“宝比珊”化妆品深圳撤柜</h1> 
 <p class="left_art_zw_zz"> 来源：晶报&nbsp;&nbsp;&nbsp; 时间:2007/8/7 9:36:00 </p>  
 <div class="wz"> 
  <strong>&nbsp; “宝比珊”化妆品深圳撤柜</strong>
  <p><strong>&nbsp;&nbsp;&nbsp; 未取得卫生许可批准文号，消费者可凭购物小票退货</strong></p>
  <p>　　深圳市食品药品监督管理局发出“宝比珊”系列化妆品安全警示，指出16种标识为德国产的“宝比珊”系列化妆品在未取得卫生许可批准文号情况下冒用其他产品批准文号进口销售。要求全市各化妆品经营单位停止销售。</p>
  <p>&nbsp;&nbsp;&nbsp; 近日卫生部紧急通知全国各地查处“宝比珊”系列化妆品，市食品药品监督管理局为保护消费者健康，根据《化妆品卫生监督条例》及《化妆品卫生监督条例实施细则》，要求全市各化妆品经营单位和消费者停止销售、购买、使用相关产品。对销售这些产品的经营单位，按《化妆品卫生监督条例》严处。</p>
  <p>&nbsp;&nbsp;&nbsp; 据了解，宝比珊妇婴护肤系列??品来自德国，至今已有50多年生产及研发历史。随后，记者随后致电在北京的宝比珊总中国区总代理处，一位姓赵的工作人员告诉记者，他们的产品由于之前是托人委办的生产批号，所以的确存在上述问题。公司内部已开过相关会议，现产品正在收回过程中。但该工作人员强调：“产品本身没有质量问题，仅仅是生产批号出现的一些问题，并且现在正在解决之中”。该人士透露，他们的产品主要在一些婴童用品店和“丽婴房”开设专柜。</p>
  <p>&nbsp;&nbsp;&nbsp; 随后记者致电东门附近的婴儿用品专卖店“丽婴房”，该店服务人员称，以前销售还不错，但现在他们已不卖“宝比珊”的产品了，并表示目前还不清楚为什么停卖此产品。对于已经购买“宝比珊”产品的消费者如何退货，宝比珊总中国区总代理的工作人员表示，所有购买“宝比珊”的顾客可以凭购物小票到购买??进行退货。由于“宝比珊”主要通过专柜销售，并不在网上售卖，所以在网上购买的顾客并不能进行退换。</p>
  <p>&nbsp;&nbsp;&nbsp;<strong> 16种问题产品</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 宝比珊妊娠活肤舒缓沐浴露、宝比珊婴儿沐浴露、宝比珊润肤油（金盏花系列）、宝比珊妊娠复原防皱按摩油、宝比珊婴儿油、宝比珊婴儿润肤面霜、宝比珊婴儿洗发露、宝比珊洗发沐浴双效洁净露、宝比珊婴儿滋润乳液、宝比珊润肤乳液（金盏花系列）、宝比珊妊娠复原锁水保湿乳液、宝比珊沐浴精油（金盏花系列）、宝比珊莹润泡泡清颜慕司、宝比珊润肤保养面霜（金盏花系列）、宝比珊果萃呵护面霜和宝比珊婴儿护肤霜。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODFiMjdmZWZkMzJhNzU4ZGQ2NmQ3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>