<div class="left_art_zw"> 
 <h1>“匠心 色彩”2017 YESIDO中国匠心色彩大???赛精彩回顾！</h1> 
 <p class="left_art_zw_zz"> 来源：椰岛造型供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/15 11:51:04 </p>  
 <p class="dd"> YESIDO椰岛造型教育部团队负责本次造型创意秀的发型、妆容、服饰搭配，为这次大赛带来精彩的表演！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">8月14日下午，2017 YESIDO中国匠心色彩大师赛在椰岛总部成功举办，YESIDO椰岛造型高层、行业大咖以及特邀评委等出席了大赛，共同见证这一场独具匠心、探索潮流的时尚盛会。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDk4MzEwNDIzZTc2NjU0ODNmMDE0.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YmU4Mjc0YzQyNjI1OTVjMTc4N2Uy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">时尚风格瞬息万变的当下，没有亲临现场？</span><span style="font-family:&quot;font-size:14px;">没关系，小编为大家图文直播，让你零距离观赏一场最具品质的T台大秀，不留遗憾！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>大赛第一弹</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>比赛现场</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">整个大赛分为3个组别进行比赛，每组参赛选手们都热情高涨，拼尽全力，用其精湛的发艺以及独特的时尚创意灵感，为观众演绎最新色彩潮流风尚。</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">部处长赛</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTA2Y2M5Y2NiMjI0ZTBjYzg1OWYx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTM5ZDUwYzVmMzA1MGZhM2E0MjQx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTM2ZjE1MWM4NTExZTgzODExZjI5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">区域总监赛</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjQ1ZTdjYWIwMGYyNDMzNTRkNWJl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTkyYWYwYjhmMDgwOGExM2E5MDA3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NGQwMjgxZDY0MzAxMjllZmEzYmJi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">店长总监赛</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDg2ZTE3YzY5YjEzNjQ2ZTA5MTNh.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MmFmNzFiZWIyMTJmYWIxYjViOGIx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/N2ZjNWJkMjk5YTE5ZWQ0ZmY4N2M1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>大赛第二弹</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>造型创意秀</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">YESIDO椰岛造型教育部团队负责本次造型创意秀的发型、妆容、服饰搭配，为这次大赛带来精彩的表演！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">现场实操</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTdhOWUwYzhhNGM3ZjQ4ZmNiYWEz.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGYyNGVhMDYxMjk2YWU3MjNiOWQz.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzhiNTRmZWY4Y2I5ZGY3MGNjODQ0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">教育部老师们在T台上娴熟地展示流畅精湛的染发技艺。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">夏日风情</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjBmMmY4MmYyNmVlYjU4ZGU1ZDM0.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NTA1ZGUzNjgxODJkNjVkNDg1NmE0.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTY3NDA5MzRiNDNjOWIxMzZiMDAw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">长发尤物、碧海蓝天、缤纷泡泡……满屏的夏日浪漫风情~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">都市印象</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTY5NjliNzg5MDk2NTNmN2U4ZGU4.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTI2M2Y4YjRhOTgxYjE4NzgxYzVj.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTg2ZjNjYjFhZjc2NDM3MTY0Y2Rh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">精致干练的贵妇品味红酒、畅谈生活这一画面给繁华大都市增添了一丝慵懒华贵的气息。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">本次 2017 YESIDO中国匠心色彩大师赛将“匠心 色彩”作为主题，旨在鼓励发型师们坚守匠心用色彩打造属于中国人的时尚发型，让中国人美丽起来！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NmQ2ZGQwM2M3M2UxNjY5M2FlZTdl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>