<div class="left_art_zw"> 
 <h1>“头皮的卸妆神器”？颠覆???规的头皮护理项目顾客才喜欢</h1> 
 <p class="left_art_zw_zz"> 来源：施华蔻美发世家供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/13 11:22:55 </p>  
 <p class="dd"> 施华蔻专业资深护理专家，为我们解读如何抓住头皮护理时机，创造私人订制护理的秘籍。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">你知道头皮头发都在经历着什么吗？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">① &nbsp; 炎夏将至，头皮油脂分泌加速，油脂堆积</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">② &nbsp; 天气越来越多变，沙尘暴说吹就吹，</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">③ &nbsp; 空气污染越演越烈，雾霾说来就来，</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">④ &nbsp; 染发烫发吹风，甚至清洁都会造成秀发和头皮的损伤。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjRkNDk0YWFhZmQyMTczYTAwM2Qy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>头皮护理</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">大多数女性认为，头皮??发状况与自信心有着紧密的关系，而发型师作为女性“美丽使者”，应该倾尽所能帮助女性“提升自信”。所以，头皮护理旺季如何把握好时机，为客人提供更优质的服务，也能提高自己的业绩？这是所有发型师关注的话题！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">今天小编特邀施华蔻专业全国资深护理专家Johnson Zhao，为我们解读如何抓住头皮护理时机，创造私人订制护理的秘籍。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWM0NjczOTNmOWNlYzQwMTEzMzFi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">Johnson现为施华蔻专业,南区技术部主管，全国资深护理专家，,曾为国内知名全国连锁沙龙（3家门店）,创造洗护单周48万业绩</span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjgxNjQyMDI5YWE4NjRhM2JmNGQz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzEwNWJhN2MzOTBiZDg1MTdhZDYy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWYyNzc5YjZkZjU5MDczOGRjYmYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTYxNzk1ZTE1MTVhYmM5YzE0YzU2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>两种客人类型</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1.从未尝试头皮护理</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第一步：普及头皮知识——“头皮与脸皮是一张皮”，为预防皮肤老化、松弛带来的各种头皮问题。定期的头皮护理能为秀发创造一个良好的生长环境，头皮健康，秀发自然顺滑亮泽。现实生活压力大，头皮紧绷，引发头痛等问题，定期的头皮护理能帮助舒缓解压，缓解头痛问题。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第二步：头皮现状检测——可运用仪器或者口头诊断的方式来判断客人的头皮环境</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第三步：头皮护理服务推荐——根据客人头皮问题，结合店内促销活动，或推荐首次头皮活动优惠的方法，体验头皮护理服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjhlM2VmZmUxOThiOGFkYWUxZDY3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2.曾经体验过头皮护理</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第一步：新服务，新故事——用2017年新项目故事说服客人，比如保丽洗护系列 “鸡尾酒护理疗程”，可根据客人不同时期的头皮及发质情况，进行调配，私人定制化的护理服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第二步：问题解答——遇到客人的困惑，要有目的地引导。例如，客人质疑频繁做护理，产品是否会对头皮造成刺激和伤害？回答：选对产品至关重要，施华蔻专业头皮系列配方均提取自天然草本植物，温和清洗的同时滋养呵护。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">第三步：头皮护理服务推荐——这类客人容易反感年卡，对于当下服务的立竿见影性很看重，应根据客人头皮情况，推荐次卡服务，当然，结合头皮仪器可帮助提升专业度。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmUxYmEyOGM1Y2FjMWQyMWRkYTBh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>3大系列 个人定制化头皮护理</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">清爽洁净系列：专为易出油头皮定制</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">祛屑控油系列：专为头屑问题头皮???制</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">秀发强韧系列：专为易断发掉发，发量稀疏等头皮问题定制</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">清爽洁净系列</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">配方中蕴含天然草本萃取成分，温和清洁、滋润头皮头发，薄荷提取物为头皮带来清凉愉悦体验。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTBhYjQ0NzgzZGQzOTkyNDhhNmE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">祛屑控油??列</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">天然草本配方能温和去除头屑，镇静并舒缓头皮，柑橘及柠檬草的香味带来清爽体验。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzMzYmRiMWJiMzdjN2I0YmQwYTM1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">秀发强韧系列</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">草本植物高能营养成分，能在温和清洁的同时补充头皮所需营养。配方中有效成分，能抗氧化，延缓头皮衰老；同时提高头皮免疫力，促进组织生长，打造丰盈秀发。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTFiYzY4Zjk1NWViZTZmYzA2YmQx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">清爽洁净洗前啫喱</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">被誉为”头皮的卸妆神器“，温和去角质，提取自美洲珍贵的天然植物霍霍巴油，制成去角质小球状磨砂微粒去除多余老化角质，毛孔不堵塞。含丰富维生素D及蛋白质，可保持皮肤水分平衡，沙龙头皮护理“零“步，颠覆常规头皮护理项目。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjYyNjdhZDRjYzNjY2YxODk3NTY3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">感谢Johnson老师的分享，发型师朋友们一定要抓住这一年一度的“头皮护理旺季”，挖掘更多商机，提升服务价值，创造更多业绩。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDI3OGRlNTUxYzZhOTQ4MTAwMWQ4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>