<div class="left_art_zw"> 
 <h1>“姬秀纺”人去楼空 美容院会员</h1> 
 <p class="left_art_zw_zz"> 来源：中国国际美容网-西安晚报&nbsp;&nbsp;&nbsp; 时间:2007-4-9 13:31:00 </p>  
 <div class="wz"> 
  <p>　　在姬秀纺美容院办了会员卡的李女士，做了几次美容护理后。昨日，当她再一次去做美容时，发现该美容院竟然人去楼空。而与李女士有同样遭遇的还有50多名姬秀纺美容院的会员。 </p>
  <p>　　昨日，李女士向本报反映，她在姬秀纺美容院花了一千多元，办了一张年卡，至今她只做过三次护理。昨日上午，当她来到该家美容院时却发现店内已经空无一人了。记者来到名为姬秀纺的美容院内看到，这里已经是人走楼空。房东告诉记者，4月5日晚，姬秀纺的工作人员就将美容院的东西搬走了。姬秀纺美容院的会员李女士还说，当天她还在这家美容院做过一次美容护理，当时美容院的严老板并没有告知她要搬走的消息。 </p>
  <p>　　李女士拨打严老板的电话。严老板告诉李女士，她和另一家美容院合并，让李女士去明德门的一家美容院，并称已经将李女士以及其他会员的资料都转到那家美容院了。 </p>
  <p>　　下午3时许，李女士和其他四五名客户来到了严老板所说的那家美容院。负责人却说，已让严老板将会员资料取走。目前，姬秀纺与他们美容院没有任何关系。姬秀纺的会员只好再次拨打严老板的电话，严老板告诉她们：“我已经和那家美容院谈好了，答应给你们继续做护理。”并对会员们说，她下午6点到明德门和会员说清此事。晚7时，等待严老板的会员们，始终没有见到对方。拨打电话，严老板的手机一直没人接听。李女士等会员决定，她们将向公安机关报案。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NGZjY2Q0ZGNkYTU2ODZhMTYxYTcy.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>