<div class="left_art_zw"> 
 <h1>“发型能量，裂变行动”，新美业不可缺少的??场盛宴邀你一起参加！</h1> 
 <p class="left_art_zw_zz"> 来源：国际欧芭供稿&nbsp;&nbsp;&nbsp; 时间:2017/6/10 13:12:34 </p>  
 <p class="dd"> 新美业不可缺少的一场盛宴，你来了吗？ </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img src="/image/information/MDM3MzBmNThlOGZiYmMwNzVmOGZk.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YjA1MTI2N2QxMjM1YTYyMDI0ZGE3.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MDUzNzQ2NGQ5NjhjMWYxMDgyNTQ1.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjBkNDU1YjdjYTg5NDE4N2ZjYjMy.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MTMzN2Y0MDgxNzYxNzJhYjJlZDc1.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTNhNTM5OWQwYmM0NjIzNDRhMWUy.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>