<div class="left_art_zw"> 
 <h1>“化妆上瘾”是种心理疾病</h1> 
 <p class="left_art_zw_zz"> 来源：瑞丽论坛&nbsp;&nbsp;&nbsp; 时间:2006-11-2 10:44:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 澳大利亚着名心理学家兼医学美容顾问利奥·丝荣告诫女性：切勿过分迷恋化妆，否则化妆将成为一种自我虐待。 
  <p>　　有家心理诊所接诊了不少因化妆导致心理疾病的女性患者，她们的症状是过分依赖化妆，如果没有化妆就不敢出门，对自己的容貌完全没有自信。这些女性的先天条件非常好，按常理来说，她们应该非常自信，但事实上，病情最严重的反而是那些先天条件最好，学历最高，身材最好最漂亮的。</p>
  <p>　　她们时刻渴求自己保持最完美的姿态，包括仪态、容貌和举止等各个方面。任何一个方面的丝毫不完美，都会引起她们严重的焦虑。实际上，这些重症者中绝大多数人即使不化妆，她们的美貌也足以令人倾倒。</p>
  <p>　　患者中有位37岁的医学博士，她看上去显得很年轻，身材苗条、匀称，白皙而俊俏的脸上有着一双迷人的大眼睛，可??却总是怀疑自己有这样那样的缺陷，不上妆决不出门。</p>
  <p>　　每天清晨，她都要花上两个小时来打扮自己，有时会因为一点点不完美而重来，宁肯上班迟到也要化妆到自己满意为止。身为医学博士，她很清楚这是一种病态心理，她无奈地说：“哪怕遇到火灾或地震，我也不会不化妆就跑出来。”</p>
  <p>　　心理学家认为，这类女性患者通常对自己要求过高，她们的潜意识里一直在不懈地追求完美，但社会或生活中的某些不完美却让她们感到很失望。所以，她们就会把注意力转移到自己身上，竭力想用自己的完美来弥补社会和生活中的不完美，也就是心理学上所谓的“心理补偿”。</p>
  <p>　　她们在任何一件与自己有关的哪怕是鸡毛蒜皮的小事上也一丝不苟，容不得半点马虎。渐渐地，她们便会从自尊、自爱、自我要求过高转化成为自恋，以致出现化妆“上瘾”的心理障碍。</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YTI4YTY1YTQwZjFlOTFlMWE4ZDAw.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>