<div class="left_art_zw"> 
 <h1>“公益出行?让爱回家”捐款支票去了哪？</h1> 
 <p class="left_art_zw_zz"> 来源：今生有约美容美发连锁供稿&nbsp;&nbsp;&nbsp; 时间:2017/7/19 14:19:52 </p>  
 <p class="dd"> 今生有约美容美发连锁携手南通市川渝商会驱车从西昌赶至大凉山昭觉县东启石笑霖希望小学进行慈善捐助。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">NICE TO MEET YOU，</span><span style="font-family:&quot;font-size:14px;">爱心起航，</span><span style="font-family:&quot;font-size:14px;">趁阳光正好，趁夏意正浓，</span><span style="font-family:&quot;font-size:14px;">趁爱依旧在路上??公益等风也等你！</span><span style="font-family:&quot;font-size:14px;">LOVE FOREVER。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>途中</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YmFmYTA3ZTE3M2MyN2M2MTZlZGI0.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">017年7月9日，经过一天的舟车劳顿，终于抵达西昌。老天爷似乎都在垂青着心怀大爱的人们，连日的雨水在我们踏上西昌的土地后不见踪影，天空一碧如洗。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;&nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">7月10日，天微亮，还来不及停歇，今生有约美容<a href="/cg/2.shtml" target="_blank">美发</a>连锁携手南通市川渝商会一行15人驱车从西昌赶至大凉山昭觉县东启石笑霖希望小学，只因承载有上百位爱心人士的爱心，此行注定不一般。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>学校</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZjMwZmE1NGMyZTg1Yjk4OTY4ZDE0.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">初至小学门口，姐弟俩又惊喜又疑惑地看着我们，丝毫没有畏惧，估计猜到我们是和善的叔叔阿姨，是给他们带吃的来的。布满泥土的衣服里是何等纯净的心灵！商会一行人不忍鼻尖酸涩。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Yzk4MWM1ODA2MTIzODJjOWE2NTRk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">推开学校铁门，操场上成都某大学的志愿者已然和孩子打成一片，轻熟的动作俨然不输彼此。墙上的欢迎标语似乎早已在等待着我们的到来 ??? ??? &nbsp;&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NGQwM2FiODg4MGE2OTczNTE1ZDI3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">我们没有一丝丝准备，他们也没有一丝丝防备，两个篮球就这么活跃在我们和学校两方之间，在蓝天白云的映衬下显得特别融洽和自然。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>教室</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/Y2I1MWZlYTE0ZmRjYWIwYmQ1ZWEz.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/YmE1ZWFkYjUxMGQ3NTVmOTBkM2E4.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NDQ1MjZkZjc0MjVkYzBhZTllMmJk.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">窗明几净的教室，丰富多彩的生活，整齐排放的牙具，让我们得以安心，大山里的孩子虽然贫穷，但有个良好的学习环境，如若师资力量跟上，思想能够慢慢??变， 从而走出深山，走向外面的世界。 &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;&nbsp; &nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>午餐</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NzgzN2RjYmYyNDQ0NDU4ZWE2NjE2.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">亲身经历过，这所希望小学与外界有一个小时的路程，学校依旧为远道而来的我们准备了丰富而具有当地特色的午餐，大块的坨坨肉代表了他们最盛情的招待礼仪，一切只是为了感恩，为???孩子。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>休息</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NzA4YTVjMDc5NmJkODE2YjI4Yzdj.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">蹲下身来，问问小男生为何不开心？我们希望每个孩子的脸上始终洋溢童年的快乐。 &nbsp;&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWJlNTJkMzdkYzg2MjA4OTkwMGM1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">五子棋是他们仅有的可以和城市小孩相媲美的玩具，一旁观战指导，更大的赛场在向你们招手。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MDFjZmE0OGZkYzNkMWM4YjcwMDEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;&nbsp; &nbsp; &nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">与地面近距离接触的游戏，玩的不亦乐乎，似乎真有那么一场战役要打响的样子。你一抬头，眼眸里深藏的纯净令人满生怜爱 ??? ???&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NGRkZTU3MjdhYjk1ZTU4MjI0ZjU2.jpg" alt=""><br> </span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">彼此认识的开端就是，我主动把名字告诉你，你乐意分享你的名字。即使粉笔字略显简单，笔画略显生硬，也足够让我体会到你们对待它的态度。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MWNhZDhlZTdiMzk5NmU2ODhiM2Jh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">坐坐他们平时上课的板凳，摸摸课桌上有意或无意涂过的痕迹，让自己完全沉浸在充满希望的课堂上，感知心与心的碰撞，思想与思想的交??。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>座谈</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/M2MyZDdmOGU3MTg1YWJiZDgxNTNh.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">学校负责人海峰邀请今生有约及商会一行人至办公室休息，并给大家介绍学校相关情况以及自己的公益路程。 &nbsp;&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTA5Y2E2N2ZiOTI4NjU2NzVlYzVl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">海峰的坚守大家有目共睹，爱心使然，值得尊敬！</span><span style="font-family:&quot;font-size:14px;"></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">双方互相交谈，在某些方面达成共识，针对学校现状提出建议和意见。最终只为了一个目的：让学校的孩子从思想上得到转变，长大后能够凭借双手去创造属于自己的未来。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>捐助</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NDcwNzFjODU5NzI3MmU1NjMyN2Uw.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZjQ3YjRmNWI5ZjI3Y2E0OGFkYjUw.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">行虽微，善乃大。下午15:00整，南通市川渝商会会长欧显忠，今生有约美容<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>连锁董事长祝良斌把满载着上百位川渝爱心人士、今生有约员工及VIP顾客祝福的善款共计45583.6元捐赠给东启石笑霖希望小学，用于学校的拓展建设。学校负责人海峰郑重接过捐助款项，对商会及今生有约到访的一行人表示诚挚的谢意，并承诺一定将所有款项落到实处，把希望小学建设的更加美好。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OTI5NDNkMzJhMDBiOGZjMWI4YmU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">今生有约携手南通市川渝商会一行人与孩子们合影留恋。温暖人心的一幕，愿孩子们在叔叔阿姨的庇护下茁壮成长，长大后成为对社会有用的人。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWM5MWJlMTMzNDJiMTE2ZDVlOWJh.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWVmOGYxNjQyNjQ2NzJkMDk5NDVk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjgxNTA4NjRiNGU3YmY3YTlmODRh.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTk2ZmRkMmEzY2Y2ZjFiODAwYWEx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">分??爱心零食，羞怯的“谢谢”声中抑制不住的开心和喜悦。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>走访</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ODMyZTYwNTAwZDZkZmJmNmQ1YWRl.jpg" alt="">&nbsp;</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/NTNhOTQ0NWVlOGUwZGFkZDBmNGFl.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">在海峰的指引下，今生有约及商会一行人分为两组共走访了5户困难中的特困学生家庭，为他们送去大米和菜籽油，以此表达一点心意。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/YjhiODZjNzRhNDdhNDYxZTI0ZDgw.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YzlmY2Q5Y2QxNTQwNTBiZmEwOGNk.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OTRiOGMxYTBhMWE2YjA2MmFlY2Vi.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YjVhMjk0NDBhM2ZmYTU0ODhiOTQ3.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZDRiOTMwOTIyOTA2NmFmOThjMGVj.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YWQ0Nzk3M2UxYTgyM2Y0MWZhNjRj.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">身体力行，手捧菜籽油，肩抗大米。商会走进学生家庭，送去温暖。山路陡峭，小路泥泞，每一步都必须认真对待。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">走访学生家庭内部环境</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YThiOGViZDkyYjJlMmYyYzg1Yjdk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">家里唯一的一口大锅，</span><span style="font-family:&quot;font-size:14px;">负担着人和畜的伙食。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTVlMjc1NzU3MzJiMjkwZDk4M2Zl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">见被褥上厚厚的一层，</span><span style="font-family:&quot;font-size:14px;">心痛的感觉呼之欲出。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YWM0MTc3NTUwMDc0ZjgwN2NhODQw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">送来的米和油，</span><span style="font-family:&quot;font-size:14px;">想必是家里最干净的东西了。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjgyZmM5YmI3YzNhZjc3M2U5ZWMz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">每户家庭的陈设都不尽相同，</span><span style="font-family:&quot;font-size:14px;">再也没有更多。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzM2MmQ0Y2JhNmRmOGFlNmFkZjg0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">土豆，一日三餐的代表食材，</span><span style="font-family:&quot;font-size:14px;">蒸煮煎炸炖，抬头不见低头见。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzM4ODc5MzlhNTI2MmIwYjc2YTJl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">只有一盏钨丝灯照亮所有角落，</span><span style="font-family:&quot;font-size:14px;">看清她们的脸，看清她们的家。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YjI1ZmZlZThmYzllZjFkNWM0ZDI2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">奶奶热情留我们吃饭，还要装点土豆给我们带回去，一片热情化在我们听不懂的彝语中。眼角星星点点泛着泪花，在微弱的灯光下晶莹剔透，格外闪耀。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NWI2ZjdhODY5MzAyMzczODg1YTAz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">离别那一刻，</span><span style="font-family:&quot;font-size:14px;">终究要来到，挥挥手，</span><span style="font-family:&quot;font-size:14px;">祝愿老人家身体健康，孩子们快乐成长。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>公益出行?让爱回家</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/Njg2NGQwMTQ4YTEzNDNlZTRiMmNk.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>“公益出行?爱心之旅”人员：</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">南通市川渝商会会长欧显忠</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">商会秘书长、今生有约董事长祝良斌携父亲和儿子</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">商会常??副会长何成勇携爱人</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">商会副会长程欣、王强、李林昔及朋友</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">商会副秘书长兰华英</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">商会秘书江帆</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">启东分会周红梅、张碧玉携孙女</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">今生有约员工与VIP客户</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">广大在通川渝爱心人士</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZGQ2MThmMjczNWJiMjJlMTk3ZDA2.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZGQzMTlkZjk2MjliNDYwNmMwYjA1.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OTg2MmIyOGVhOGU0MmZmYmJmYjI1.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NGYyNjc3M2JiN2E3NWVlYjM4MGQ4.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MWZlODk2NDVkN2Y5MDcyMWVhM2Ez.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>