<div class="left_art_zw"> 
 <h1>“前台”到“钱台”的距离只差一个“全台”</h1> 
 <p class="left_art_zw_zz"> 来源：国际欧芭供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/23 16:15:05 </p>  
 <p class="dd"> 欧芭三天两夜系统化打造前台的“标准化、专业化、人性化”，激活前台思维，从“心”出发，用“爱”工作。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程主题——《如何缔造灵魂团队之前台管理》</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWZlNzBjNmM0MGQ4Y2FiMjIyNGMw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程时间/地点：5月16-18日、江西赣州新东芳美业</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzMxZmJjMjY2Y2JhODZhZmQzZGQw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">前台是门店的核心之一，是全店顾客必经的流程，顾客的回头率80%是死在前台。所以，单一的“收银”功能已远远满足不了现代沙龙的运营需求。发廊前台标准化系统的建立，不仅是提升发廊的品牌形象，真正满足顾客需求，实现顾客回头率最大化，带动发廊的业绩提升。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDRlNGRkYmFlZjY1ZDAzMmVjNWFl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">那么：“前台”的职责是什么？“前台”的价值体现在哪里？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWU2ZTlmMzI2NDgwZTU1NzdhZWNl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">“前台”到“钱台”的距离只差一个“全台”。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDhiNDRkMDI3MjNlYTcyMDIyYzE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">现代沙龙前台必须具备的六大核心功能</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2VkODA0ZmE5NmQ5N2UxZGFiNjc0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、沙龙门店形象的代言功能；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、沙龙现场排兵布阵的指挥功能；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、沙龙运营数据的管理功能；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、沙龙客户满意度的维护功能；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、沙龙节能减排的监控功能；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6、沙龙服务正能量的传播功能；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">《如何缔造企业灵魂团队之前台管理》</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmEyZjFjNTQ4ZjdhYTViOTkzY2Ri.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzg3ZGRmMTBhNjdmZWViOGE2YWIx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三天两夜系统化打造前台的“标准化、专业化、人性化”，激活前台思维，从“心”出发，用“爱”工作，创造价值。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTMxODEzNDMwZGRjMWJkNTJjYmI3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">主讲老师——国际欧芭陈阳艳</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTYyNDhkODFkMjYxYThmYzE5ZDk2.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YmNiYWM2NDkxM2YzNDhhNWM1MWY4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>