<div class="left_art_zw"> 
 <h1>“养生”成全民话题，那什么样的美容养生??才最受顾客信赖？</h1> 
 <p class="left_art_zw_zz"> 来源：江苏省美发美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/19 11:48:22 </p>  
 <p class="dd"> 近日，常州花之裕健康养生中心正式开业啦！ </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">常州花之裕健康养生中心于4月15日正式开业，江苏省<a href="/cg/2.shtml" target="_blank">美发</a>美容协会会长王建、江苏省<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容协会常务副会长羊建国、江苏省美发美??协会副会长、常州美发美容协会会长朱月珍、江苏省美发美容协会副会长孙骏飞、江苏省美发美容协会副会长郭枫等领导到场祝贺。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDgzNGU4OTJlNzk2NmY4MzU5NDQ0.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGE0YzU3ZWJhYTU4NDczMzFmMzZh.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGFmZTJmYWM2MTE1Zjg2ZTJlOGVm.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njc1ZTY4MDE5Yjk2MTkzYzllYTJm.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTJmODMzNzEwMDRhYjI4N2ZiOWQz.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGU4MzEwMzQ3ZDI4NWU0MWMxZTI3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjU5N2JmZmZlZTdlNDZhYzkxMTBk.jpg" alt=""></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzJiYjhkZjZjNDc5ZGZmY2IzMDFi.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>