<div class="left_art_zw"> 
 <h1>“异想”“敢想发”用音乐同发型带领大家穿越时??！</h1> 
 <p class="left_art_zw_zz"> 来源：Estetica艾丝供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/14 11:47:29 </p>  
 <p class="dd"> 今次表演主题为 "异想" ，希望表达到一个团队中可以有很多不同的想法而在大家的想法与想法之间如何共处 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGNjNTI5ZTdlOTI4NDAwYzk2Zjhi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTYwODA1N2MzZjUxMzIwMTliMTEx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWMxNjBiYTRhMGRlNWU1NzI1ZTE5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>异?常热情</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">异常是指非正常的；有别于平常的。</span><span style="font-family:&quot;font-size:14px;">热情是指人对待某事物所表现出来的热烈，积极，主动,友好的情感和态度。</span><span style="font-family:&quot;font-size:14px;">热情是跟人生观及价值观有莫大关系，可以代表一个人的态度、兴趣。</span><span style="font-family:&quot;font-size:14px;">异常热情是一个人的价值观影响到自己对某事物非正常地热烈，积极，主动的态度。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>CK WONG的异.常热情</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">入行30年并拥有20年管理发廊经验的CK乐观,积极,充满正能量。</span><span style="font-family:&quot;font-size:14px;">在CK的态度中会感觉到一种＂有教无类＂的感觉，同时会感受到他的慈和。</span><span style="font-family:&quot;font-size:14px;">他认为当自己饰演一个表演者时，自己务必有责任令观众有所得着。</span><span style="font-family:&quot;font-size:14px;">希望以自己的经验去启发他人的思想，非常执着于每个学徒能否拿捏到自己对发型的触觉。</span><span style="font-family:&quot;font-size:14px;">今次??演主题为 "异想" ，希望表达到一个团队中可以有很多不同的想法，而在大家的想法与想法之间如何共处？</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MzQ0ZjY2MzE3YWY1MjUyNjA5MDli.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzIyYzNjMzI4ZjE0MTkzZWE5MWJk.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWRmYWUwNWNlYzdjMDhiOGY3Y2Q2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>DARRIN的异.常热情</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">在97年已经踏足香港的 Darrin 热爱香港，认为香港是一个很可爱的地方。对他来说，香港是一个小小的盒子，但却有无穷无尽的可能性。同时 Darrin 的思想比较开放，他察觉到香港大多数人都害怕改变，往往停留在自己的安全空间。他希望大家可以勇敢地踏出自己的安全空间，只需要踏出一小步，往往就可以体会到不一样的领域。 Darrin 团队的表现主题为「异变」，希望让大家感受到变化虽小，但却海阔天空。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGUzZGNiNzM4M2Y1ZmUwZWI5MTE2.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YjYyNTE2MDNmOTI2MTgwYzQzYzJh.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/Y2I0MjgzYWVmZDYyNGE1OTI0Yzgz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>JOHN的异.常热情</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">鬼马好动，大胆创新，追求完美的 John 将自己的性格，完完全全地呈现到他的作品上。他习惯以自己独特的演绎方式去说他心中的故事。表面看似跳皮的他，背后却是极度认真及一丝不苟，原因是他热爱自己的工作，热爱头发。同时他希望这种精神可以传承下去，因为只有热爱自己的工作，才可以真真正正地感染他人。John 团队的表现主题为「异类」，希望可以启发到观众日常的思想与观点，对每件事情都多面思考。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/OWYyNGRkZGZkZjUxYjUwYTE1Zjlk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><strong>敢想发</strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">团队 Salon Aqua 是任何时候都有种朝气勃勃感觉。他们的表演内容会着重于一体性和平衡，这与团结的精神不谋而合。他们认为做任何事，都需要认真地投入及享受过程，而全程投入就是他们的态度。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjFlNTY3OWIwOTk4N2YyNmU3MjJi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NDI2MGMxMGE2OTljNmUyNGIwM2Q4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">团队Rainbow Salon带着一种踏实的气息。作为发型师，他们非常尊重自己的行业，认为这门专业是不一样的。虽然现在有很多事情都变得机械化，但发型师的一双手永远都不会被机械取代。他们希望可以唤醒大家对香港发型行业的热情。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YzUxMzE5YTk1ODViY2YzMzYwOTIx.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NzYzYmExNWVkNTU1NWQyY2JkNzIx.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTU2Njk3NTA2Y2Y0NDNhYWJmYWI3.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p style="text-align:center;"> <img src="/image/information/MTNhNWRhZTMwOTEzNTFkZDhhYTM0.jpg" alt="">&nbsp; </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjNhZWZiNjdiODAzYjdmMGI2N2Qx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>