<div class="left_art_zw"> 
 <h1>“全国牙防组”认证资格被“喊停</h1> 
 <p class="left_art_zw_zz"> 来源：春城晚报&nbsp;&nbsp;&nbsp; 时间:2006-11-25 10:00:00 </p>  
 <div class="wz"> 
  <p>　　曾经备受争议的“全国牙防组”非法认证口腔保健品案又有新进展：近日，国家认证认可监督管理委员会已联合卫生部叫停“全国牙防组”对口腔保健品的认证活动，相关认证管理办法正在拟订中。认监委与国家质检总局计划在全国范围内开展清理整顿非法认证活动的专项治理工作。对此，昆明市场又有何反应呢？</p>
  <p>　　近日，记者走访了昆明部分商店和超市发现，曾经标有“全国牙防组”认证标识的产品，其外包装上的认证标志已被悄然“褪去”。在昆明一大型超市，记者发现：像“佳洁士”、“高露洁”、“冷酸灵”、“两面针”等牙膏以及乐天木糖醇口香糖等这些曾被“全国牙防组”认证的产品，其外包装上认证标志已经“消失”。对此事件一直关注的消费者马女士说：“如果不是‘全国牙防组’被起诉，我们在??费的时候恐怕还会过分信赖所谓权威机构认证的商品。希望相关主管部门在管理上更加规范，这样消费者才能避免被‘忽悠’！”“我就说怎么以前的那个标志不见了，原来是认证资格被取消了！”正在买牙膏的许女士说。在采访中，记者了解到大多数消费者还是坚持希望主管部门能规范权威机构，让消费者权益得到更好的保护。</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MmE0Y2M0MDVhN2I3MjE1MzdlYjY1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>