<div class="left_art_zw"> 
 <h1>“奶奶灰”过时后，这款发色的迅速走红让发型师措手不及</h1> 
 <p class="left_art_zw_zz"> 来源：巴黎欧莱雅沙龙专属专业版供稿&nbsp;&nbsp;&nbsp; 时间:2016/11/17 14:44:42 </p>  
 <p class="dd"> 选择巴黎欧莱雅沙龙专属美丝丽染膏，迅速提浅发色，打造完美粉色秀发。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2M5NWUzOTYyNjk3MTk0MzNhNmI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">听说，你还在为头发染什么颜色而纠结？整个2016，我们都被各种标新立异的发色刷屏，一沉不变的黑发色已经不再流行，浅色系发色才能让你走在潮流的最前沿。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016的上半年，满城皆是“奶奶灰”。如果你后知后觉，现在才考虑是否要染一个灰白色头发的话，哈妹希望你手下留情，因为“奶奶灰”已经过时，樱花粉才是时下最IN的潮流发色！就让巴黎欧莱雅沙龙专属为你解析一下这个最浪漫最治愈的发色吧！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzdkNTIzNzU4NGZhN2Q0NGUzYzc3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">水果姐Katy Perry早已先拔头筹，染了一头樱花粉的发色。热衷于尝试各种发色的水果姐，染过很多风格迥异的发色，黑色、紫色、水蓝色等等，相比她过去尝试过得多种发色，樱花粉的头发减龄效果显而易见。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWZmMTkyY2VmNDZlMGQyZTA0NmZj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">但你是否时常会听说，像这样特别的发色，只有欧美人才能hold住这种说法？哈妹这儿就要给这种说法画一个X。时下大热的樱花粉正是亚洲人掀起??时尚潮流。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDVhMzczMmIzYmJjNDE3NmZhOGE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">新晋华裔超模Fernanda Ly，因为一头樱花粉色的头发，成为时尚圈的当红炸子鸡。她特别的发色引起了T台的一股二次元风潮，成为媒体争相报道的焦点。樱花粉会让整体造型更加具有如春日的微风般柔和温暖的感觉，同时让人仿佛化身二次元，增添了古灵精怪的可爱气质。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2U0YzQ3ZGM5NzFiMzhmNWU4NDM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">亚洲也有无数明星已经尝试了樱花粉发色，少女时代的泰妍，F(x)的Krystal郑秀晶，以高颜值配合最流行的发色，让原本白皙的皮肤更加吹弹可破，时尚感爆棚。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjJmNjU1NmI1ZTYzN2ZmMmI2ZTVi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">不仅仅是女生，男生也可以驾驭樱花粉色，Big Bang的TOP和EXO的吴世勋就为大家做了最好的演示。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2ZiMjMzZjZhMzBjMDQwZTc1MDJj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">当然，作为“时尚大王”的巴黎欧莱雅沙龙专属品牌代言人小花老师宋佳，也早已尝试过樱花粉色发型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>如何打造樱花粉发色？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">亚洲人的发色偏深，如果想要染到和明星一样轻透、纯净的樱花粉色，需要先将头发进行漂浅。漂浅的步骤可以帮助亚洲人的黑发褪去红色素，让染后的秀发呈现更加纯净的颜色。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzhiNDZmNTQ1ZGNhOWI5OThlOGIw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在做过漂浅处理的秀发上，使用巴黎欧莱雅沙龙专属Majilift美丝丽染膏，12.26亮嫩金色色号，赋予秀发轻透的樱花粉色。作为巴黎欧莱雅沙龙专属Majilift美丝丽染膏作为品牌明星提浅染膏，能够迅速提浅发色，让亚洲人秀发呈现更纯净的浅色效果，打造出完美的粉色秀发。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>如何打造低调粉色？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">如果你觉得像明星超模一样的浅樱花粉系秀发不够日常，既想要走在潮流最前端，但又想低调一些，巴黎欧莱雅沙龙专属INOA伊诺雅染膏可以帮你办到！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmRhYTA0ZjBhM2UwODZhM2RjMjI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">巴黎欧莱雅沙龙专属INOA伊诺雅染膏全新推出轻透琉璃棕色号，其中大热的P6.42樱花粉金及P7.42浅樱花粉金色号，能够完美契合这个需求。巴黎欧莱雅沙龙专属INOA伊诺雅染膏标志性无氨配方，让染发的过程无惧异味，无惧损伤，用无比自在的心情享受时尚的发色。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTNjM2YzYmUyNTgyZTFhOGI4YTMz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">这个发色非常适合日常上班的白领们，低调自然但是又不失粉色系的甜美可爱感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>如何呵护染后秀发？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">氧化是秀发褪色，发色不正的根源问题，染后秀发就如玫瑰般脆弱易褪色。夏日充足的紫外线日照，度假出游时海水及氯水侵袭，城市生活的烟尘及大气污染，日常造型时吹风机、卷发棒的电热伤害，不当的梳理习惯等原因都让脆弱秀发褪去其原本鲜艳的颜色，光泽不在。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjU0NWI5ZjFkMzVjNjVjOTUxMjdh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">巴黎欧莱雅沙龙专属绚色润采系列独具抗氧化护色成分：Tocopherol Panthenol维生素E、泛醇，Neohespiridin新橙皮苷，更能给秀发增添UV Filter紫外滤膜，有效隔离日照UV伤害，让发色持久闪耀，锁住动人魅力。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTI1NGZlMmFhM2I2NDVjMDc2MmY0.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>