<div class="left_art_zw"> 
 <h1>“卷钱”美容院尚未立案处理</h1> 
 <p class="left_art_zw_zz"> 来源：新浪&nbsp;&nbsp;&nbsp; 时间:2007-5-9 10:05:00 </p>  
 <div class="wz"> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1日，本报报道了《美颜生活馆突然关门》事件后，昨天，消费者张女士打来电话向记者反映，她和报道中的刘女士有共同遭遇，她在“久丽健康美颜生活馆”存有近2000元的现金和美容产品，被女老板“海平”“卷走”了。连日来，两位消费者多次奔走公安、工商部门，却都没有得到立案处理的答复。<br>　　<br>　　昨天，记者分别联系到刘女士和张女士，两人分别在4月28日和30日发现该美容院突然人去楼空，并先后到负责管理该辖区的邮政派出所报案。邮政派出所办案人员对张女士说：“该美容院涉及的金额不足构成诈骗罪，所以不能立案，应该到工商部门投诉。”昨天，记者联系到该美容院的管理部门———邮政工商所，工商所负责人告诉记者，因为经营者携款潜逃，涉嫌刑事犯罪，已不属于工商部门的管理范围，刘女士应投诉公??部门处理。“五一”前后，两位消费者为追回近4000元的美容款奔走了多次，可两个部门管理人员都说无法联系到美容院老板“海平”。对此，刘女士和张女士呼吁：为了他人不再受到“海平”坑害，希望有关部门尽快处理此事。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzVmMWEwZDAyODRhNDg5OTc2YTIx.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>