<div class="left_art_zw"> 
 <h1>“凯润婷杯”第七届ABF亚洲美妆师节暨亚洲美妆师大赛和亚洲艺术纹饰大赛在北京圆满落幕！</h1> 
 <p class="left_art_zw_zz"> 来源：形象中国网供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/15 13:11:27 </p>  
 <p class="dd"> 10月29日，“凯润婷杯”第七届ABF亚洲美妆师节暨亚洲美妆师大赛和亚洲艺术纹饰大赛在北京圆满落幕。 </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YmFjNTkyM2E3OTg4ZTQwNWZmNGQx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">10月29日，“凯润婷杯”第七届ABF亚洲美妆师节暨亚洲美妆师大赛和亚洲艺术纹饰大赛在北京圆满落幕！ABF亚洲美妆师节由ABF亚洲美妆师节组委会、中卫安（北京）认证中心、世界形象设计行业协会主办，全球美业传媒网、ABF亚洲美业赛事委员会、形象中国网承办，中国社区教育人才网、韩妮绣妆国际半永久培训学院、上海首尔亚美美容学院、世界美业网协办，北京凯润婷产业发展中心总冠名，吸引了全球各地美业人观看比赛。ABF亚洲美妆师节暨大赛得到国内外近百家媒体报道，受众面之广、影响之大，实为少见，更是成为美业人对外宣传的一张靓丽名片。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Yzk5ZWE5M2NkYzcxZDdhY2YzOTRi.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>行业大咖出席大赛</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;">·为选手助威为美业喝彩</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">本届大赛在武警卫生部原部长李深先生、国家卫计委办公厅原副巡视员齐平江先生、中国抗衰老促进会适宜技术推广分会会长肖连敏先生、中国卫生安全认证中心主任郑浩斌先生、民政部中社基金会副秘书长谢发全先生、亚洲美妆师节执行主席耿朝晖女士、凯润婷医疗美容集团董事???何军先生、全球美业传媒网代表丁薇女士、韩妮绣妆国际半永久培训学院陈思玉女士、上海首尔亚美美容学院胡庆月女士和来自全国各地方的领导及美业精英的共同见证下正式启动。</span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">领导致辞</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/NmY0MGM3Yzg5NWI0ZmQzMWM1NjRi.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>亚洲???妆师节执行主席</strong></span> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>耿朝晖女士致辞</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/MDhkZDc5ZDIwMDBlZTYzODgyZDFi.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>武警卫生部原部长</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>李深先生致辞</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span><strong><br> </strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/MzM1YTFmNWZlYWJlMDI4MGRhNWU3.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>中国卫生安全认证中心主任</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>郑浩斌先生致辞</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/M2MxYjk4MmNlZWVmYjE4ZmE4MmNh.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>凯润婷医疗美容集团董事长</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>何军先生致辞</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/ZGUwYTVhMjUzMjY2ZmNjZTE0NzUy.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>着名歌手</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>许佳慧女士致辞</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/MTQ1ZGRhNTU4Mzg1MzZlMGE0MTUz.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>着名歌手</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>崔天琪女士致辞</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span><strong><br> </strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NmMxMjI1MTQ1Y2M4NDkxOGVhZjAy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>韩妮绣妆国际半永久培训学院</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>陈思玉女士致辞</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span><strong><br> </strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><img alt="" src="/image/information/YzUwNGFhMmQ5Njc2ZjUwNWI1OTUz.jpg"><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>上海首尔亚美美容学院</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;"> &nbsp;</span></strong><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>胡庆月女士致辞</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>重量级评委彰显公正公平</strong></span><strong><span style="font-family:Microsoft YaHei;font-size:14px;">·权威性</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Microsoft YaHei;font-size:14px;">本届大赛是一项开放性、世界性的大型美业形象艺术国际大赛，为了举办高质量、高规格的比赛，使参赛选手充分地体验真正的公平、公正、公开，大赛评判员和仲裁委由国际评判、国家级评判、特邀评判及各省和各地市选派担任，彰显了本次大赛是一场业界重量级赛事、一场全球国际美业最透明的公正大赛、一个美业人向全行业展示美丽的顶级盛事，本届大赛将是美业历史上一个重要的里程碑，相信这一天???被所有美业人记住，更是让全世界记住了</span><span style="font-family:Microsoft YaHei;font-size:14px;">ABF亚洲美妆师大赛。</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZDM0ODhmZjkxMjgzYWY1YmE3YjM2.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NjVjYzYzZDgwY2IyMTlmNThhOGI4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YzhkZWUxOTJiOWZhYTE1ZGY1ODQ5.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/N2JkYzM0ZTJmZmZjM2NkYmU0YTY4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">T台秀争奇斗艳 &nbsp;亚美赛奇幻动人</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;此次ABF大赛有来自全国各地的参赛选手，人才济济，必定能擦出不一样的火花。看着他们，化妆刷更像是他们手中的画笔，彩妆品像是他们手中的颜料，她们仿佛就像是画家，在打造属于他们自己的美丽作品！华丽的服饰，精致的妆容，只为赢取那份至尊荣耀！下面让我们一同走进ABF大赛走秀的现场吧！</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZDc4MWQyMzUyZjlmNzFiOGEwNzBh.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MjdjOWI5MDUxODY0N2EzMmY2YmU4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Mjk1YjAxOWUwZWZkM2FlM2Y2MmU4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/M2M4OTljNzA3MjNkYjM0MTIxNzQ3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OGEwZWE4NDdhNzhiNzNmZWM2N2I3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YTJlN2E4MTQ4ZmRjMzExYzI3MjY2.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YTkwNGIyYjNmYjgxNzU0Nzg5NTdm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OTg4ZDlkZGQyZDhhZmZiYWFlMDJi.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NGQwYWZiOGYxMDA0OTM0Nzg3YmVi.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <span style="font-family:Microsoft YaHei;font-size:14px;">在美业不断发展的今天，我们一起缔造和见证了一个个辉煌历史的呈现，再次感谢此次大赛所有的支持主办单位、协办单位、承办单位以及总冠名的鼎力支持，大赛不仅拓宽了参赛选手以及从业人员的视野，促进了美业交流和发展，带动行业的健康发展，更推动了美业走向国际！</span> </p> 
  <p class="MsoNormal"> <span><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">精彩花絮</span></strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong><br> </strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ZDczZTQ5NTRlNDdjNDQ0OGM1Y2Vl.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZDE5NGI1NDFlNTY0Y2ExN2IzN2Vh.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OWVlOWJmZTI3YmM1Njg5YzcxNjQ0.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NTg2NjFlYzQ4MTMxZjJiNDcxOWZk.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OWE5YjA1ZjljNjc5ZDZlZGE0NjIx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YjkxNmVkZDgyMzdiZjMxZmQ0ZDVl.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YTdlMGRlOTk3MmY0NTJlYjc0MGE0.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NzBlMTk4MjBjYjA3NjYzZmE0NWJh.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZGNiYWMyY2QxZTY0MTg2YWE4M2M0.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZDljNWI2YzNhZjFkMDU4YzI4NWQy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NGFmY2FkZmExYWRkMWIwYzVjY2Ez.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NGI4MTBkYjcwMTNhZjQxMmJiYjM3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/N2U0YjRkZGI5MDYyNTUwYWU4YzIw.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YzI4NjliOTY1ZjUxOTQ0ZjgxNGM3.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/YTVjNGExZjU3ZWQ4MmFjZTc4Yjdm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NTIzYjFiYzgyYTc0MDBhMTA4Yzg4.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Yzg4ODU3ZDNiNjY3NzMwZDAzMTJl.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MTA2YjY5N2M0NmU2NDc0ZjI0Nzcy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MGNmNWZmOWQ4MTYyY2EwNmM5ZjIx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/Yjk0NWU5ZDA1MWQwMzE0MWJiZTZm.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OGEyNGNjNTc0NWZmYTRiMWEwZTcy.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MzZkMjViMDdhMDAyNTRjMGQ5MWNm.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDk1MTJkYzQ2OGUxOWI1NDFlMjQ2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>