<div class="left_art_zw"> 
 <h1>“时尚派对”毕业主题作品展，这样的毕业大秀值得围观！</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/26 13:46:19 </p>  
 <p class="dd"> 2017.11.29下午1点，武汉毛戈平形象设计化妆造型全科班毕业作品展在学校金色大厅精彩上演。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">2017.11.29下午1点，武汉毛戈平形象设计化妆造型全科班毕业作品展在学校金色大厅精彩上演。本次毕业展以“时尚派对”为主题，现场灯光闪耀，众模特倾情演绎，精美的妆容和独特的造型作品震撼全场~</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjhlMzhiYTYzMzAzNjQ1YTczNGI2.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">“时尚派对”延续摩登、硬朗的气质，大气的裙摆加上立体、镂空、流苏等表现手法愈发时尚动人。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTMwZGNkYzIyNjBkZDExMzk3ODkz.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWYzNjU0MjkyNDk2MzE0ZDZiNTRm.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDcxMjM5NjQ2N2M1ZGZkMmQ4MmFi.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmRiMGY4ZDk1OWZhMGZjNzFlOGE4.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">作品展上所有展示的作品，都是同学们半年以来的学习成果，从创意构思到整体造型的最终完成，凝结了每位同学的心血和汗水，整体造型风格，服装立体剪裁、制作，妆面设计，饰品搭配，每一个过程都是成长。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGQwYmIzZThkYTNkOTM1NDIwY2U2.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Y2E2NGNiMjZhZTNiNzIzODAyYzMw.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">最后，校领导及彩妆讲师为获奖学员颁奖，并祝福同学们坚持梦想、勇往直前。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmU4YzQ2MmJjY2M1N2JiY2JiZTlm.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmY3Njg4OTExNzZlODNjMzdjMDM0.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Zjg1YWUxZDI0N2JhNzM4MWM5MDNj.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Njg4ZmRkM2U5ZDI1NmM4NzI0YWEy.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">武汉毛戈平形象设计衷心地祝愿每位同学都能在未来的职业生涯中开拓出一片自己的天地！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWZiMTY2MjJmYWQ1NDQ1MzgyZTNh.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjcwMTM3Y2VkODI5NDZmNWI2YTM4.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZWQ5MGQ2NTk3YzBlZmNlM2MzMWYx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>