<div class="left_art_zw"> 
 <h1>“毁容”化妆品“隐身”出售</h1> 
 <p class="left_art_zw_zz"> 来源：都市时报&nbsp;&nbsp;&nbsp; 时间:2007/7/17 9:55:00 </p>  
 <div class="wz">
   　　日前，省卫生厅对宣称祛斑或美白功能的化妆品进行了国家卫生监督抽检。南京市禹娲生物保健品厂生产的“白棉花斑根断膏”、 玉溪市汝智美容有限公司生产的“汝智玉颜美白晚霜”、“曹大夫雪颜祛斑霜”、“艾雪儿植物DNA美白按摩霜”4种化妆品因汞和氢醌被省卫生厅叫停。昨天，在昆明市检查到的“毁容”化妆品已经撤下柜台。
  <p>&nbsp;&nbsp;&nbsp; <strong>4种化妆品被叫停</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 5月，云南省抽检祛斑或美白功能化妆品中的汞、氢醌、苯酚指标。其中，南京市禹娲生物保健品厂生产的“白棉花斑根断膏”化妆品，限期使用日期为（2008/10/03 jBT10AF），检出汞含量超过《化妆品卫生规范》限用量6万余倍。而玉溪市汝智美容有限公司生产的“汝智玉颜美白晚霜”限期使用日期为（PBOOCOAE20090101）、“曹大夫雪颜祛斑霜”限期使用日期为（PBOOCOA18E20090318）、“艾雪儿植物DNA美白按摩霜”生产日期和保质期为（20070224/保质期18月）化妆品，均检出氢醌，氢醌含量超过《化妆品卫生规范》限用量。</p>
  <p>&nbsp;&nbsp;&nbsp; 使用汞、苯、铅严重超标的美容产品，在短时间内能美白祛斑，但长期接触皮肤，就会造成毛细血管扩张，导致皮肤角质层变薄，削弱原有保护作用，还可能影响造血系统、神经系统、肾脏和免疫系统等。当即，省卫生厅立即叫停销售和使用这些产品，并于当天通知南京的生产企业停止发货和生产。</p>
  <p>&nbsp;&nbsp;&nbsp;<strong> 小店仍在兜售“毁容”化妆品</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 检查发现，在昆明市只有青年路附近一家名为顺彩的化妆品店中有南京市禹娲生物保健品厂生产的“白棉花斑根断膏”出售，其他商场等均无此产品销售。省卫生执法监督局工作人员介绍，在对化妆品进行采样后发现其中的汞含量竟然超过6万余倍，这太可怕了。这样的化妆品不仅不能起到美容的效果，反而会对消费者的身体健康构成危害。</p>
  <p>&nbsp;&nbsp;&nbsp; 昨天，记者再次来到位于青年路上的这家化妆品经营店，发现被查处的问题化妆品已经下柜。带着试试看的心态，记者问道：“你们这有白棉花斑根断膏卖吗？”店员兴冲冲地说道：“有啊。”正准备从柜台里面拿出存货时，店主“敏锐”地发现了异样，马上奔过来一把捂住店员正要拿出商品的手，赶紧圆场：我们这已经没有啦、没有啦。“是卖完了还是以后都不卖了？”记者追问，“没有了也不进货了。”店主一直重复着这句话。可是，就在店主以迅雷不及掩耳之势挡住店员时，记者还是分明看到了“白棉花斑根断膏”几个大字，而就在原先摆放白棉花斑根断膏的柜台里面，也分???看到了一些日前被卫生厅叫停的“毁容”化妆品。</p>
  <p>&nbsp;&nbsp;<strong>&nbsp; 省卫生执法监督所进一步查处</strong></p>
  <p>&nbsp;&nbsp;&nbsp; 目前，生产企业、经营店和美容店公告收回已售出产品。省卫生厅提醒消费者不要使用这些产品，如有发现经营店和美容店销售和使用这些产品，请向当地卫生监督机构举报；各级卫生行政部门发现以上产品，依法没收销毁。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjRmM2UwMGQ3YjRlNTEwNzU2MjVh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>