<div class="left_art_zw"> 
 <h1>“汞超标门”事件穗生产厂家喊冤</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-9-29 9:35:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 近期，广州某企业生产的祛斑化妆品被检出汞含量竟然超标9万倍，这些化妆品消费者使用后，神经系统、肾脏等多个器官将大受损害。这些企业在违规生产后还打出祛斑“7天就能见效”的广告推销产品。据报道，汞超标产品在广州不少化妆品企业中均有存在。这样的产品是如何流入市场的呢？
  <p>　　祛斑霜“汞超标门”事件，将化妆品生产厂家与品牌商之间的矛盾浮出了水面。生产厂家喊冤：我们在为无良品牌商背黑锅。到底谁才是替罪羊？“谁生产谁负责”的监管体制到底有没有漏洞？</p>
  <p>　　专家预测，未来5-7年是化妆品行业发展的“黄金期”，但近日，SK-Ⅱ、迪奥、兰蔻等进口名牌化妆品被指有问题。众多行业大牌纷纷被挑落马下，使消费者信心大受影响。厂家、品牌商被笼罩在诚信危机的阴影下。广东化妆品OEM企业的???路在哪里？</p>
  <p>　　“汞超标门”事件使广东化妆品行业陷入一场诚信危机。近日，部分化妆品生产厂家称，一些“三无”产品流入市场系品牌商造假所为，广东的化妆品生产厂家为无良品牌商背黑锅由来已久，这几乎成了业内“公开的秘密”。</p>
  <p>　　李鬼”三招害惨“李逵”</p>
  <p>　　广东的化妆品行业发展一直走在全国前列，统计数据显示，目前全国已经注册的4000多家化妆品厂中，广东占了70%，以OEM（贴牌生产）加工为主。今年3月份开幕的第24届广州国际美博会总成交额达到了创纪录的265亿元。但良好的前景之下却潜伏着一场危机：“汞超标门”使危机浮出水面。而厂家将矛头指向了品牌商，“我们拒绝再为‘李鬼’埋单！”</p>
  <p>　　“三无”化妆品是一颗“毒瘤”，是谁将这颗“毒瘤”送入市场？“谁生产谁负责”的监管体制将生产厂家揪了出来。但一些生产厂家却指认品牌商才是真正的“李鬼”。“生产厂家非常被动，为品牌商背黑锅在业内司空见惯。”一位从事化妆品生产行业多年的专家透露，无良品牌商坑害生产厂商主要有三大招数：“三无”产品冒名顶替、“偷梁换柱”私改配方、私自扩大合同的合作范围。</p>
  <p>　　「招数一」</p>
  <p>　　“三无”产品冒名顶替</p>
  <p>　　据卫生部公布的《化妆品卫生监督条例实施细则》规定，祛斑、防晒等特殊用途化妆品产品包装上一定要有特殊类化妆品批号，且特殊用途化妆品批准文号每四年需重新审查一次。因此，合法产品就必须具备特殊用途化妆品批准文号，每个批号只能生产对应产品。令人吃惊的是，记者通过卫生部的官方网站查询后，发现被曝汞超标9万倍的由美、春之尚、金芦荟、斑干净、国药祛斑等化妆品都是伪造或者冒用了广州OEM化妆品企业的特殊用途化妆品批准文号。</p>
  <p>　　化妆品行业进入门槛低、投资少、利润高的特点，使其成为热门行业。记者在兴发广场等市场调查发现，一些品牌商并没有特殊用途化妆品的批准文号，根本不具备生产祛斑类化妆品的资质。这些商店中，既有销售化妆品原料的，也有销售化妆品瓶嘴、瓶盖等配件的。</p>
  <p>　　而记者在白云区瑶台的广州美博城发现，这一全国有名的化妆品集散地有大量标称斑干净、国药祛斑等祛斑霜的包装盒。据销售人员透露，这些包装盒是按照一些化妆品经销商的要求印制的。他们只卖包装，里面的祛斑类化妆品膏体大部分来自北方厂家。</p>
  <p>　　「招数二」</p>
  <p>　　“偷梁换柱”私改配方</p>
  <p>　　据介绍，化妆品生产厂家与品牌商之间签订合同，合同期一般为2至3年。“一些品牌商在合同期满以后，在厂家不知道的情况下就‘续约’了”，一位业内人士透露，“商品外包装上仍然写明原来的生产厂家，内容物则是私改配方后由‘三无’作坊提供的”。</p>
  <p>　　个别品牌商甚至恶意采用这样的手段：印刷了3000瓶的外包装，生产厂家也被标注在上，但灌了200瓶以后，对方就要求终止生产，包装则由品牌商自行处理。“很多时候，我们会发现这些包装仍被继续使用，内容物与我们毫无关系，但出了事就找到我们这里。”一位从事化妆品OEM加工多年的老板表示，“这样的合同本身就有问题，对方明摆着就是来骗取厂家‘三证’的。”</p>
  <p>　　品牌商骗了“三证”、私改配方的原因是什么？“利字当头就不管不顾了。”业内人士称，化妆品保养改善皮肤是一个长期的过程，但消费者的心态总是希望见效快，为了迎合消费者的这种心理，一些产品就标榜“一星期见效”甚至“3天见效”，从专业的角度来看，这根本不可能，除非添加不安全的违禁成分，如：汞、激素等等，对皮肤损伤极大。</p>
  <p>　　据了解，以祛斑产品为例，原本应该使用从植物中提取的熊果苷等安全原料，但这些原料价格贵，且祛斑效果比较慢。一些无良品牌商抓住了市民急于求成的消费心态，把汞含量从超标几十倍、几百倍，提高到最新曝光的9万多倍。一瓶超标的祛斑产品成本只有几元钱，但是销售价格却翻了几倍、几十倍甚至上百倍。</p>
  <p>　　「招数三」</p>
  <p>　　私自扩大合同范围</p>
  <p>　　“品牌商经常会私自扩大合同的合作范围，将一些本不是我们的产品冠上我们的名号，将非合同规定的项目以厂家名义上市”，一位化妆品厂家的老板告诉记者，“很多时候连我们自己都没见过这些号称是我们厂生产的产品。有时候他们以‘统一包装’的名义将全部产品都印上我们的厂址。假设合同规定的合作项??是20个，但市面上可见的我厂生产的该品牌产品却多达50种。有些缺乏诚信的品牌商甚至将‘三无’作坊出产的‘产品’也以‘统一包装’一齐上市。”</p>
  <p>　　对一些规模较小的厂家而言，明知是黑锅也非背不可：因为品牌商是“衣食父母”，厂家要生存就不敢得罪。“作为品牌商而言，可以选择合作对象，而厂商则很被动。”一位老板坦言。而一些实力较强的大规模生产厂家则坚决抗议品牌商的“瞒天过海”，因为他们已经具备了挑选合作伙伴的实力。</p>
  <p>　　 OEM （ O rig in al Equip m ent Manu - facturer）：指生产厂家根据另一家厂商的要求，为其生产产品和产品配件，亦称为定牌生产或授权贴牌生产。</p>
  <p>　　ODM （ O rig in al Desig n Manu - facture ）：原始开发商应客户要求对产品作较大改进、改型的加工，或者是根据客户需要重新设计订制产品的加工。</p>
  <p>　　化妆品行业如何应对“黄金时代”</p>
  <p>　　专家预测，未来5至7年将是我国化妆品行业高速发展的时期，身陷“诚信危机”的化妆品行业，将如何应对即将到来的“黄金时代”？</p>
  <p>　　高速发展催生“急功近利”</p>
  <p>　　广东的化妆品OEM加工经历了三个发展阶段，目前已进入OEM、ODM多种模式并存时期，从上世纪90年代末至今，OEM发展为技术型和品牌概念型两类。</p>
  <p>　　化妆品行业的高速发展还将持续相当长一段时间，高速发展使政策、体制等方面的脚步有点跟不上了，更催生了急功近利的不良心态。高速发展带来的可观利润吸引力巨大，无论是生产厂家也好、品牌商也好，心态偏差、损害消费者的利益，必将使自己陷入“诚信危机”，而缺乏诚信的个体面临的必然后果就是被市场所淘汰。因此，从某种意义上说，“诚信危机”是通往“黄金时代”的关口，经受不??考验的只能止步于此，反之，则可大踏步地迎接美好的前景。</p>
  <p>　　自有品牌成OEM企业“鸡肋”</p>
  <p>　　据介绍，单纯的OEM加工，获得的利润仅占品牌商成本的1‰-2‰，却要承担巨大的风险，一旦出错，品牌商可能拒绝付款或是延期付款，甚至背上黑锅。既然屡屡被不良品牌商坑害，OEM生产厂家为何不建立自有品牌？为何不寻求自身利润的最大化？记者在调查中了解到，OEM厂家建立自有品牌的风险极大，几乎到了一不小心就全军覆没的境地。</p>
  <p>　　“建立自有品牌会流失OEM大客户。”从事化妆品生产多年的工程师钱凤英告诉记者，很多大型的正规品牌希望，所有的产品最好由同一个OEM厂家生产，有的还建立了合作研发的关系，要求厂方将最新技术用于自己的品牌设计和生产。如果厂方建立了自有品牌，客户将无法信任厂家能够“无私”地将所有新技术用于ODM，转而选择其他专门的OEM厂家合作。</p>
  <p>　　在损失大客户的前提下，OEM厂家做自有品牌就完全处于孤注一掷的境地。技术型的OEM还要面对营销上的风险，如职业经理人的流失、技术的流失等；品牌概念型的OEM则要面临技术人员流失的风险。自有品牌是OEM的一种转型模式，但并不是唯一的模式，目前有成功的案例，但更多的是转型失败的例子。而事实上，很多失败的经验表明，OEM厂家缺乏营销渠道，自有品牌在市场上的失败拖垮了整个企业。</p>
  <p>　　专业OEM将与自有品牌长期并存</p>
  <p>　　“化妆品行业发展的必然趋势是市场的细分。”钱凤英表示，未来相当长一段时间内，品牌商的自有工厂、OEM厂家的自有品牌和专业的OEM厂家将共同发展，无法互相代替。</p>
  <p>　　“进入21世纪以来，业内的普遍状况是，单纯的OEM加工厂活不过3年，技术决定了市场竞争力，只有能够进行配方设计的ODM才有活力。”钱凤英表示。OEM要在激烈的市场竞争中生存下去，必须要注重技术的研发，提供符合市场需求的产品。随着市场分工的细化，一些品牌商不但拥有自建的OEM厂，同时也会选择和专业的OEM厂合作，以期降低成本，争取利润最大化。</p>
  <p>　　“黄金时代”的到来，是化妆品行业各种从业主体的机遇，谁能安然通过“诚信危机”的拷问，谁就能获得更大的市场空间，走得更远。</p>
  <p>　　生产厂家质疑</p>
  <p>　　“谁生产谁负责”难以监管品牌商 </p>
  <p>　　“生产商只负责内容物的生产，而产品包装、标签、标识等是由品牌商负责，如果出现内容物与标签不符的现象，生产商就比较被动了。”钱凤英告诉记者。她表示，一些厂家多次通知自己的各个品牌商客户，一定要严格按照国家有关规定进行产品的销售，特地印发给客户人手一份国家相??规定的文件资料，但他们可能看都不会去看一眼，“所以我们建议在加强对OEM生产企业监督的同时，也应该加强对品牌商的监管”。</p>
  <p>　　据悉，目前祛斑类化妆品主要通过两种渠道来销售：一部分卖给各地美容院，由美容院自行分装后卖给顾客；另一部分是卖给经销商，由经销商进行分装然后批发到化妆品商店。有关部门多次抽检发现，通过这两种渠道销售的祛斑产品大多是假冒的。</p>
  <p>　　钱凤英表示，“李鬼”防不胜防成了很多厂家的心病。于是，“一分为二”成了行业内的普遍做法。很多生产厂家选择另行注册开办新厂，既是扩大生产规模的需要，也是为自己“留一条退路”。一般来说，旧厂用来延续原有的业务，并担负起考察品牌商是否诚信的“重任”，被证明可信赖的品牌商会被引入新厂洽谈进一步的合作，“毫无疑问，新厂保存了元气和实力。???一位老板告诉记者，建立这样的“保护机制”是不得已。</p>
  <p>　　而广东省食药监局保健品化妆品处郑彦云处长表示，“谁生产谁负责”的监管体制有利于政府部门从生产源头查处不合格的生产企业，目前这种体制符合市场发展要求。品牌商“偷梁换柱”私改配方及私自扩大合同的合作范围都属违法行为，生产厂家可用法律的武器来维护自己的利益。</p>
  <p>　　郑彦云认为，生产企业一旦发现自己的产品被假冒，要及时向相关职能部门举报，及时将假冒伪劣斩草除根，以此维护生产厂家的利益。其次，生产企业要选择与有诚信、有生产资格的品牌商合作。最后，生产企业要和品牌商签订合同，产品的化学成分、化学成分的用量、产品数量等都要在合同中标明。规范、明确的合同可以使生产厂家避免被动挨打的地位，一旦出现问题，生产厂家可以根据合同来维护自己的利益。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">转自：南方日报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODg1ZjFjZWJjZWYyMTg4YmU0MTRk.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>