<div class="left_art_zw"> 
 <h1>“柔丝”“丽娜”染发剂不合格</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-9-19 11:17:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 西安市质监局近期对西安市场上销售的染发剂产品进行监督抽查发现，“柔丝”“丽娜”等品牌染发剂不合格。质监部门已责令经销不合格品的单位停止销售、将不合格品清退出市场。对涉及外埠生产企业的产品，通报当地质量监督部门给予监督整改。&nbsp;
  <br>&nbsp;
  <br>　　本次监督抽查的范围主要是西安市部分染发剂产品的经销单位，如商场、超市、专业批发零售商店、以及美容美发店等。质监人员共抽取了38个生产企业的40个批次产品。本次抽查的检验项目为：①理化指标：PH值、耐热、氧化剂含量；②有毒物质限量项目：铅、汞含量；③限用物质项目：对苯二胺含量。抽查的3个不合格样品主要质量问题是氧化剂含量不合格。
  <p>　　质监人员介绍，作为特殊用途化妆品，染发剂的选用应该谨慎，染发剂中的氧化剂浓度直接影响染发过程中氧化反应的完全程度，如果氧化剂含量偏高，将增加对头发角蛋白的破坏力，对头发造成损伤。经常使用氧化剂含量偏高的染发剂，会使头发枯燥、发脆、开叉。</p>
  <p>　　抽查不合格的染发剂：</p>
  <p>　　①西安市新城区美容美发商行经销的标识为广州市润民精细化工有限公司生产的“柔丝”牌染发剂[规格型号：100毫升*盒（浅褐红色）；生产日期：2004.03.02；不合格项目：氧化剂含量]</p>
  <p>　　②西安市新城区开诚美容美发用品店经销的标识为广州市海妮化妆品有限公司生产的“丽娜”牌染发剂[规格型号：100毫升*盒（4.4）；生产日期：2005.09.18；不合格项目：氧化剂含量]等。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">转自：华商网-华商报<br></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGZiMTUyMDE1MTYwMTMxZTIzNDFh.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>