<div class="left_art_zw"> 
 <h1>“清扬”去屑剑指百亿市场</h1> 
 <p class="left_art_zw_zz"> 来源：中国现代企业报&nbsp;&nbsp;&nbsp; 时间:2007-5-31 10:18:00 </p>  
 <div class="wz"> 
  <p>　　洗发水也分男女？4月27日，快速消费品巨头联合利华在北京高调宣布，该公司十年以来推出的第一款新产品、全国首款“男女区分”去屑洗发水“清扬”正式上市。联合利华大中华区总裁薄睿凯表示，联合利华从今年开始将凭借“清扬”在全球去屑洗发水领域的专业优势抢占中国去屑洗发水市场。</p>
  <p>　　据介绍，清扬进入中国以前，已是南美、欧洲及东南亚地区去屑市场的领袖品牌，并被数亿消费者证实了其在去屑方面的功效，联合利华方面表示：“针对性的产品空缺，是当前去屑市场所面临的最大问题，联合利华对清扬在中国市场的表现充满信心，而依托于数十年的专业去屑研究经验，清扬也敢于作出承诺，带领中国消费者打破20年头屑魔咒。”</p>
  <p>　　一线明星助阵启动千万人体验近日，“清扬”广告充斥各电视台，台湾明星徐熙娣（小S）等向人们诉说“清扬”的好……</p>
  <p>　　清扬品牌负责人说，请小S作为代言人，除看重小S在中国内地的人气外，更重要的是希望小S能够将清扬的品牌个性与承诺向大众传递。其透露，目前清扬已在各终端、网络等渠道开展了以“百分百挑战头屑不再来”为主题的千万人去屑大挑战活动，消费者可通过试用产品、进行专业头皮和发质测试等活动直接体验和感受清扬的去屑功效，这也是中国洗发水市场上有史以来最大规模的消费者体验活动。薄睿凯表示：“希望这样的活动能够让消费者对清扬产品有更直接地体验和信心。”</p>
  <p>　　颠覆去屑理念打破20年魔咒作为联合利华十年来最重要的新品，清扬在产品理念上拥有更多的颠覆性元素———首次提出“男女区分”去屑概念，并提供男士专用去屑产品；首次提出“深度头皮滋养”去屑方案，并在全线产品中??加“维他矿物群”，种种特性都标志着中国的去屑市场将迎来新一轮的革命。</p>
  <p>　　据2007年中国保健协会发布的《中国居民头皮健康状况调查报告》数据显示，自1988年国内首次出现去屑产品以来，中国民众的头屑问题不但未降低，反而还持续恶化，头屑人群从原有70%上升到了83%。对此，专家们指出：洗发水男女混用、重冲洗轻滋养、头皮营养失衡、洗发护发习惯不良已成为20年来中国人面对头屑问题时的四大误区。</p>
  <p>　　而正是基于当前国人所面临的这些头屑困境，联合利华着手将清扬引入中国。</p>
  <p>　　剑指百亿市场三年内成为领袖据了解，目前每年国内洗发水销售总额已近200亿元，这其中，超过50%的需求是去屑产品，而这一市场仍然随着大众健康意识的提高继续攀升，庞大的市场总量无疑是吸引清扬的一大理由。</p>
  <p>　　而除消费者本身的需求以外，???益显着的市场细分需求更为清扬这一专业去屑品牌的进入提供了绝佳的机会。</p>
  <p>　　薄睿凯表示：“在过去的十年中，虽然中国市场还远没有达到高度细分的状态，但随着消费者意识的提升，对头发各方面健康的关注已被提上日程，中国的洗发水市场的成熟，正带动洗发功能性产品市场的发展，例如：专业去屑和头皮护理类产品。”</p>
  <p>　　无论如何，联合利华方面已明确地表达了清扬必胜的信念，在被问及未来的目标时，薄睿凯表示：“在2-3个月的时间内，我们将至少让1000万以上用户直接体验清扬的卓越去屑功效，而3年内，清扬将全力出击，成为中国洗发水去屑市场上的领袖品牌！”</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzA0ODllMjVlNzljNGU5ZWQ5MWM3.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>