<div class="left_art_zw"> 
 <h1>“武汉市美发美容协会半永久化妆专业委员会”正式??立</h1> 
 <p class="left_art_zw_zz"> 来源：武汉市美发美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/6/6 12:59:07 </p>  
 <p class="dd"> 武汉市美发美容协会半永久化妆专业委员会正式成立！ </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;"><img src="/image/information/MjQ0YjFjNzg0NGI3ZThkZGQyY2Q0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2017年6月4??，由武汉市<a href="/cg/2.shtml" target="_blank">美发</a>美容协会主办【武汉市<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容协会半永久化妆专业委员会】正式成立大会在维也娜酒店如期举行。中国美容领袖年会主席、中国整形美容协会医学美学文饰分会会长、医学美学杂志社辛映继社长；中华全国美容美发化妆品协（商）会联盟执行主席、中国整形美容协会医学美学文饰分会副会长、湖南省化妆品经营行业协会易敬平会长；武汉市美发美容协会雷三林会长；程广副会长（威龙公司）；曹骋副会长（椰岛连锁）；李汉宁副会长（发源地一部）；孙万林副会长（发源地二部）应邀出席大会。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZGU2MjQ4N2JmYzVlYmIyY2ViMzNj.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">长期以来，文饰行业一直处在野蛮生长的状态，发展势头惊人，从业人员增长到上百万，可文饰从业者的技能水平却良莠不齐，因为行业的不规范，入行门槛低，没有技术标准、职业标准和健全的发展体系，存在大量的隐患，大量未经训练的初从业者以不规范的操作，出现失败率高、客户纠纷严重等问题，严重影响消费者对文饰行业的看法，制约了文饰行业的良性发展。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">为此，武汉美发美容协会研究决定，组织文饰行业有信誉和影响力的有志人士，本着具有权威性、广泛性、代表性的原则，成立武汉美发美容协会半永久化妆专业委员会，并通过文饰专业委员会逐渐为行业制定标准，为本行业的良性发展做出贡献。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YmYwYjliZmRhYmI3ZjQyMmY3NGQx.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">宗旨、使命、愿景</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">宗旨：为文饰从业人员及文饰行业提供全方位服务！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">使命：致力推进文饰行业规范、健康，可持续发展！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">愿景：实现文饰行业有证上岗！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OGE4OTgyMjcwNzMyZWE4N2Y3ZDZj.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">武汉美发美容协会半永久化妆专业委员权益及义务：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">1、武汉美发美容协会半永久化妆专业委员会副主任头衔；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">2、文饰专委会官方网站会员单位或个人介绍；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">3、参与研讨《武汉美发美容协会半永久化妆师行业标准》教材的编写；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">4、自动成为专委会每年举办的文饰大赛支持单位；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">5、获得专委会每年举办的行业大赛代理单位；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">6、有权招募专委副主任、协会常务理事、理事、会员；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">7、参与由专委会授权的高端培训，全国文饰技术交流等活动；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">8、可享受专委会提供的法律???助；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">9、可以参加全国文饰教育委员会湖北分会的各种高端培训，行业竞赛活动；</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">10、经专委会审核批准可以导师、讲师身份共同参加由专委会组织行业课程授课。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZmRhOWYwZDBlM2Y4NTUzN2M1ZGE2.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NTMwYTdmMTY4NzRiNGJiODRhNzBk.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">半永久化妆专业委员会立足于文饰行业，本着为行业发展服务的宗旨，将不辜负全行业赋予的使命，把文饰行业引领到一个规范、健康、有序、并可持续发展的轨道。目前文饰行业乱象丛生，三无产品横行，培训教育无标准……为了行业的发展大家有责任共同维护行业发展，目前半永久专业委员会正式成立，将来的工作中大家群策群力共同创建文饰行业的繁华。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjYwODgxMzhlMjRhMmQwMzYwZTM5.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">武汉市美发美容协会正式成立半永久化妆专业委员会，委员名单：</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">主 任：王春花</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">秘书长：操明杰</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">顾问：徐映红 周薇</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;">副主任：</span> </p> 
  <p> <span style="font-size:14px;">陈方晓、刘凌菡、张芸、袁冉、张利、徐瑞泉、朱海锋、何琼、赵芳、毛兰芝、罗莹、林娟、黄菲、段艳芳、黄利玲、徐远红。</span> </p> 
  <p> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/MDk5Y2FkN2Y0OGFjM2Y4YWU0OTEw.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZjQ2ZTM5NDUxZTZlOTUzZTMzNmRj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>