<div class="left_art_zw"> 
 <h1>“我的化妆品为何不让带走”</h1> 
 <p class="left_art_zw_zz"> 来源：今晚报&nbsp;&nbsp;&nbsp; 时间:2007-1-20 10:20:00 </p>  
 <div class="wz"> 
  <p>　　随着春节的临近，美发美容业迎来了消费高峰。一些消费者为了美丽和少一点染烫发带来的损害，往往情愿忍受店员的“温柔一刀”，选择了售价相对较高、具有滋养发丝功能的染烫发用品。而一些细心的消费者却发现，这些整套的高价用品在给顾客使用时却时常被偷工减料。</p>
  <p>　　高价品往往不给用完，“剩余”为何</p>
  <p>　　据一些消费者反映，为了减少对头发的伤害，他们往往会在美发美容店店员的推荐下购买对头发有养护效果的烫发剂、染发剂，这类套装盒内除了烫发剂外还有小瓶的营养性护发用品。一位中年消费者说：“这些所谓好点儿的产品价格都挺高的，当时店员向我推荐的是一款1200多元的芦荟乳内酯烫发剂，见我担心自己头发短用不完时，店员信誓旦旦地表示肯定都用得了。为了保护发质我一狠心便将其买了下来。但在烫发过程中??却发现，工作人员只用了其中一部分，瓶内至少还剩了三分之一。”几位结伴来烫发的年轻顾客在接受采访时说：“我们在同一家形象美发店曾购买使用过不同的产品，结果发现标价二三百元的烫发剂很少被剩下，而标价千元左右甚至更贵的烫发剂却经常会有剩余。我们注意过，这些烫发剂的容量基本都相等。”</p>
  <p>　　剩余拒绝“打包” 理由牵强</p>
  <p>　　采访中了解到，对于没有给顾客用完的产品，当消费者提出带走时，往往会遭到商家的拒绝。消费者赵女士气愤地说：“一次，我烫完发才发现自己购买的套装里还有一小瓶护发精华根本还没开瓶使用呢，我当时要求带走，可是工作人员却说他们有规定，没用完的产品不能带走。”另一些消费者对此也表示不满：“我们就不明白，为什么自己花钱买下来的东西，所有权却不归我们？”记者在某形象美发连锁店暗访时询问工作人员，顾客购买后没有用完甚至根本未使用的产品为何不能带走时，有的店员支吾不语，有的只强调这是店里的规定。一位工作人员小声地告诉记者：“这些产品都是我们独家进购的，老板不愿包装外流，而且有的还能循环使用呢。”</p>
  <p>　　一些消费者在接受采访时认为，个别美发店的此种做法让顾客无法理解，而且更让人生疑的是，这些没有用完甚至未开瓶使用的美发产品“剩余”后会被商家如何处理。一位消费者直言：“‘不愿包装外流’不过是商家的借口，他们很可能会将这些包装进行‘回收再利用’；尤其是那些根本还没开瓶使用的护发用品完全可以进行再销售，牟取多次利润。” </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZjY3OTY1NmQ0MjA4OWVhODUwOTI1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>