<div class="left_art_zw"> 
 <h1>“美丽健康·清科领航”中清科华集团15周年庆典精彩回顾！</h1> 
 <p class="left_art_zw_zz"> 来源：中清科华供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/26 13:40:19 </p>  
 <p class="dd"> 12月23日，“美丽健康·清科领航”中清科华集团15周年庆典在成都世纪城洲际酒店水晶厅隆重举行 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Yzg0NDAwZDNjZTlkYzhlNDFiNDlk.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;12月23日，“美丽健康·清科领航”中清科华集团15周年庆典在成都世纪城洲际酒店水晶厅隆重举行。来自全国各地、社会各界的千名嘉宾与中清科华集团共同见证和分享15年的成果和喜悦！</span> </p> 
  <div>
    &nbsp; 
  </div> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YjAxMjUwOGJjY2NhN2RiZjYwMjMw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">中清科华集团董事长赵峻先生、中清科华集团董事姚金彤女士携中清科华集团高层及专家团出席本次庆典，并盛情邀请到：四川日报报业集团川商传媒总经理、青年川商全国理事会理事长王镇先生，以及环球夫人大赛成都赛区主席周颖女士等嘉宾共同出席本次盛典。</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWFmZGQ1NzgxZjUyMmM0MGIyN2Iy.jpg">&nbsp; </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">中清科华集团董事、清优雅女子学堂校长姚金彤女士为本次盛典致辞</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODU1NjI4MWE4NzMyOWJkOWNkNGFj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzMwZGZlNDY0ZDdmNTI2MWQxZWY4.jpg"> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">由中清科华集团各部门代表人员所组成的精英团队登上舞台，一场气宇磅礴、激情昂扬的咏读表演《在路上》，为现场所有观众展示了中清科华人志存高远、永不言败的团队灵魂，这也是中清科华集团15年来一路前行成就行业领跑者的精神基石。</span> 
  </div> 
  <p> &nbsp; </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDMxNDdhYjg1MzAzNWZmMTEzNWQw.jpg"> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">清优雅女子学堂校长姚金彤女士、中清科华集团副总裁王沙女士、清优雅女子学堂副校长许诗力和李雄先生以及环球夫人大赛成都赛区主席周颖女士共同为中清科华集团清优雅女子学堂揭牌。清优雅女子学堂是中清科华集团全新打造的女性高端服务平台，汇集行业顶尖导师团和资源，旨在通过婚姻与亲子教育、国学与家风文化、旅游与养生、茶艺与花艺、美容与健康等精彩课程与活动，真正关怀女性心灵与精神层面的需求，打造中国领先的女性理想生活方式探索与实践平台。</span> </p> 
  <span></span>
  <span></span> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDMxZmE5YzU0NjY2YzI1ODc0YzI1.jpg"> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">清优雅女子学堂名誉校长李姿熠女士登台接受聘书，并做精彩分享。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmM0ZGVmYWY3ZGZmMjIyOGQxMjUy.jpg"> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">清优雅女子学堂首批终身会员颁发仪式</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzExNTMzNGIxNzZkNDBjMWQ1ZTdj.jpg"> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">中清科华集团副总裁、成都高新清科医院总经理王沙女士为到场的嘉宾带来精彩的形象管理课程。</span> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWE3MmU3MjU2MzE5OWM5NzRlZGE5.jpg"> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p style="text-align:center;" align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;">中清科华亚健康及抗衰老专业高级咨询专家冯硕教授向嘉宾们讲授中清科华全新王牌项目血液管家以及血液系统的健康课程。</span> </p> 
  <div> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTRlYTBmYWQ2MTVjMzNiNTQ3ZDM3.jpg"> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NGMyMjAzNjY0NDk3MDEzNDg4MTYx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGM2NTFlZjUyNmFiMjk1YTM5ZmIx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGViZDQwMGFhOWM4Njc2ZGEwYTll.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODllNzdlZDQ4YTljNzM3NDQzZmM0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">清优雅女子学堂首批终身会员登台做精彩的风采和才艺展示，将东西方高雅文化演绎地淋漓尽致。</span> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWU2ZjZjNDAwYjBhMWQ5ODZkYjM2.jpg"> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">中清科华集团的忠实客户登台做精彩分享，将自己因中清科华而实现健康美丽幸福人生的案例娓娓道来，切实分享了蜕变过后的人生感想。</span> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OGQ5MWZkY2UwMGI3NTAxYTA0Y2I0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTcwYzllYjYyYmM3MzA4ZDJiNTUz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">年终盛典豪礼大放送，嘉宾们纷纷赢取奢华奖品，与中清科华一同分享年终成果的喜悦。</span> </p> 
  <p style="text-align:center;"> &nbsp; </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTk5ZTE5YzhlMDk0NmRiOTAxZjgy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2017年，对于中清科华来说也是收获最多的一年。这一年，我们在全国范围内品牌知名度日益增强，我们的科技、产品、服务得到了市场的高度青睐。这一年，更多优秀的人才加盟中清科华，成就了一支更专业、更具凝聚力的团队，为客户带去更好的科技、产品和服务。2017年，中清科华集团全??科研大楼落成开放，标志着中清科华集团在干细胞和再生医学科研领域迎来全新的飞跃式发展。紧接着，第三届国际再生医学健康产业论坛在蓉圆满举行，中清科华集团作为承办单位，又一次成功组织了一次大型国际性医学会议，成功推动个性化医疗新发展，引领健康产业新时代。</span> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;"></span>&nbsp; </p> 
  <div style="text-align:center;"> 
   <img alt="" src="/image/information/YzIyNDIwMDM2NzE3ODU2MjNjMGYz.jpg"> 
  </div> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">与此同时，今年中清科华与环球夫人国际联盟联合打造了“中清科华杯·2017环球夫人大赛（成都赛区）”的比赛，整个赛季硕果累累，不仅让众多梦想女性圆梦舞台，也真正坚实地推动了中国女性健康美丽和公益事业的发展。这一年中清科华还成立了中清科华清优雅女子学堂，让中清科华对于当代女性理想生活方式的探索真正得到更好地落实和实践。2017年的收获太多，为集团发展，为客户的健康美丽，以及国内大健康产业的推动进一步助力。 未来，中清科华将一如既往保持以科技为本、以服务为先，为更多人带去健康美丽、幸福安康！</span> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmI1MzAzYmM2MzU2NDVkNWZlNDEw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>