<div class="left_art_zw"> 
 <h1>“爱?波动”第十一届亚洲发型师节完美落幕</h1> 
 <p class="left_art_zw_zz"> 来源：亚洲发型师协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/7/6 15:29:17 </p>  
 <p class="dd"> 由亚洲发型师协会主办的“爱?波动”第十一届亚洲发型师节在上海跨国采购中心完美落幕。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">2016年6月24日，由亚洲发型师协会主办的“爱?波动”第十一届亚洲发型师节在上海跨国采购中心完美落幕。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YzQ2MTlkYTY5Njk0ZDllNmI5YmM1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">2016年6月24日，为期三天的由亚洲发型师协会主办的“爱?波动”第十一届亚洲发型师节在上海跨国采购中心完美落幕。整馆面积达20000平方米，参与品牌200多个，现场人流高达12万余人次。本届节会是史上规模最大、参展商数量最多、质量最高，嘉宾阵容最强、活动内容最为丰富的一届。第十一届亚洲发型师节给我们带来了<a href="/cg/2.shtml" target="_blank">美发</a>业不同凡响的全新感官饕餮盛宴：亚洲发型师大赛激烈的角逐中，完美艺术随着精湛的技艺而绽放；国际<a href="/cg/2.shtml" target="_blank">美发</a>大师秀带来最新流行趋势，震撼而炫目的呈现着中国对世界美业的诠释！亚洲专业<a href="/cg/2.shtml" target="_blank">美发</a>用品展，引领美业尖端潮流；由AHA创始人赵劲松为策展人的跨界艺术展，展示了一幅幅能唤起你心里暖意的画作，陈列着让你感觉舒适的设计家具，践行了我是发型师，我不仅仅是发型师；上海时尚节，有时尚买手从世界各地甄选的潮流服饰以及独立设计师们的全新美服，引领了时尚潮流；亚洲连锁沙龙高峰论坛，全新升级，两场激情碰撞，业内大咖唇枪舌战辩论出未来美业的趋势；三天23场密集的大师培训课程，引导着发型师们如饥似渴的追求，展示了亚洲发型师节专业地位和水平。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NWY4YzdiYzJhMzYwODE1ODBhYjQx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTZkYmI5NzMyMTFmMGI3ZGYxMTVm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">亚洲发型师大赛作为亚洲发型师节的重要一环，其对有潜力的新锐发型师具强大的推动及塑造力，使得广大发型师趋之若鹜地参与其中,本届亚洲发型师大赛分为新秀赛和精英赛两部分，来自中国、台湾、韩国、日本、马来西亚、菲律宾等多个国家和地区的数百名选手经过激烈角逐，颁出2个组别，4个项目共计56个奖项，其中来自吉林长春的刘静获得2016亚洲发型师大赛精英赛全场总冠军，来自广东珠海的焦建龙、江苏盐城的卜长金、广东广州的龙明骏分别获得精英赛的染发组、烫发组以及剪发组冠军；来自韩国的Han Mi Hong、中国江苏连云港的马超分别获得新秀赛的剪染组、剪烫组冠军。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YTYxOWY1M2U0OWY5MTA3ZGQ2OTg5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ODlkM2IzOTk4YjU3MmI3MTNhZWEx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmRhNTQ4MjliMzc4ZmU0YjI2Yzcz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">活动更有蜜蜂少女的倾情献唱。而穿插在颁奖晚会中的国际<a href="/cg/2.shtml" target="_blank">美发</a>大师秀以及流行趋势发布环节，来自韩国Ker Ker、马来西亚A Cut Above、英国Electric、澳大利亚 Clip Joints Education、香港发哲学院、EG<a href="/cg/2.shtml" target="_blank">美发</a>教育学院、北京舟造型、共想学院、上海DX<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>学院发型大师等团???，用发艺演绎未来，无论是从主体演绎、还是光影呈现、音乐配合，皆攀至艺术巅峰，一场场的大师秀将现场气氛推向一个又一个高潮！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzcxNzAyM2ZiMzk5MTJhNzZjYzc4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">蜜蜂少女</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTJiMzdhOTQ1ZGJhMzQ5ZTFlMTBk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">韩国Ker Ker</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2Q3NDI5NTM2YTdkMGVlODhiN2Qx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">马来西亚A Cut Above</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjlmYmZkZWE3YThkYWQwOGJjM2Jk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">英国Electric</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmU0NThlMThlZGU0YjI0MGZlNWY0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">澳大利亚 Clip Joints Education</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTdmN2U0MDBhOWJhNWU3MGQzNmQx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">香港发哲学院</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODZjNzMzMDFiNGEzMTdlZjQ4MmU5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">EG美发教育学院</span><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><br> </span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><img src="/image/information/NjM2YzlmODA3ZDAwMDQ2OTI5MjM1.jpg" alt=""><br> </span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><br> </span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">北京舟造型</span><br> </span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><br> </span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><img src="/image/information/MDhkNWE5YTk3NjE5M2NiZDEyZTVj.jpg" alt=""><br> </span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><br> </span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">共想学院</span><br> </span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><br> </span></span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><img src="/image/information/NTI2YTU2OTA3MTJkN2NmNDRhZDA1.jpg" alt=""><br> </span></span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><br> </span></span></span></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;">上海DX美发学院</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:21px;"></span><br> </span></span></span></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程培训：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">今年发型师节突出专业培训特点，三天集中开设23场专业课程培训，极大满足了发型师们对技术提升、管理服务、未来发展定位等多方面的需求。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTQyYzYzZjUxYTYxZWNiZmZiZTZi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDRmMWRkZDk2OWY5ODUwMmQ5NWNh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTU4ZjYwYjcwMmVmNGY2MzEyODY5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmM5NmQxMjBkMmJhNjI0NzRmNDM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmFkZDhhYWEwZTI1MTQwYzFmNDI2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZWVjZTIyNDQyNjkwYWUxMDI2MDQx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MmE5ODk5ODU3NmQ1OWMyZGIzMjBl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzliZmY2ZWRkZTgzZjc2ZDAwY2Iy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NGZkYmI1ZDI1MzE4MmY2YzZlOTIy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzQ4YjJmNThhNDNhYTY1MTEyNzVk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NzQxNDA3NDcxOTQ0OWY5MWEzYTcy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZDg1OTY3ZDQ3ODU5MmYzZDRiMzYy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZWI5NTZhZDM1MDZjZmUxMjU3YzM5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmUxMDhiNjUwZWY3ZWRiMjk2MTY4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTBhMjc4MmNiMzIyNzZiMWUxMTUy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjcwM2U3NzAyMzhhYjYyMjhkNDI0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDI3YjljYTUyMGVjOWY0NjViOWU0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTEwZjMzNjY4OTk0ZTRlOWNiNTg5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTg5NmM1OTBlYmY2Y2E2MDBmZjdj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTM2NWM4Mzg2MTRiZDRmOWVhN2I3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmQ1OTk0YTM2YTk4ZGVhM2Y2MTBm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>亚洲跨界艺术展区</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">今年亚洲跨界艺术展，有田野、迟宝绿等多位国??新锐艺术家的画作、雕塑、藏品等高雅审美艺术品以及来自宝岛台湾HappyHair的【公益X印象】摄影照片，现场还展出了石大宇先生的“椅君子”、“椅刚柔”、“椅优弦”三把最具代表性竹椅，更有蒂凡尼总经理Peter Ma亲笔提字的“发”，名师大家的作品深深打动了不少的美发从业者，引起了大家对艺术创作的共鸣。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:left;"> <strong></strong> </p> 
  <p style="text-align:center;"> <strong><img src="/image/information/YTFmNGIzMWViN2QxNGJmNzhiMTkz.jpg" alt=""><br> </strong> </p> 
  <p style="text-align:center;"> <strong><br> </strong> </p> 
  <p style="text-align:center;"> <strong><img src="/image/information/NDlkOTFmNWRlNTVjMzdmMDcwM2Rh.jpg" alt=""><br> </strong> </p> 
  <p style="text-align:center;"> <strong><br> </strong> </p> 
  <p style="text-align:center;"> <strong><img src="/image/information/YmMzMGFjNDNkZWFlZTMxZjI4MjE1.jpg" alt=""><br> </strong> </p> 
  <p style="text-align:center;"> <strong><br> </strong> </p> 
  <p style="text-align:center;"> <strong><img src="/image/information/YzY4YTdkOWZiY2VmMDczNjExOTZl.jpg" alt=""><br> </strong> </p> 
  <p style="text-align:center;"> <strong><br> </strong> </p> 
  <p style="text-align:center;"> <strong><img src="/image/information/ZDc5OTk0MzI5MTE5MGJlOWM2NmNk.jpg" alt=""><br> </strong> </p> 
  <p style="text-align:left;"> <strong><br> </strong> </p> 
  <p style="text-align:left;"> <strong>爱心慈善酒会</strong> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">亚洲发型师节作为一个时尚品牌，环保、公益、慈善是品牌内核。心灵方能手巧，我们在帮助别人的同时，净化着自己的心灵，指引着自我充满正能量的前行。所以更每年，在AHA协会官员的积极号召之下，越来越多的发型师投身到爱心行动中，???极践行着“让爱心成为一种自觉习惯、让公益成为一种行业风尚、让慈善成为一种随手行为”口号。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Yzk4NGMzMTc0OWE5N2NiODQ0ZmYz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MDVmOTIxNzNjMjIwNWEzNDUyMDE2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YWU3NGQwMTE1YzhhMjMzODM0ZDk4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <strong><br> </strong> </p> 
  <p style="text-align:left;"> <strong>爱心亮灯仪式</strong> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">爱心慈善晚会，他们用爱心帮助需要的人，更有捐赠亮灯仪式，美业大咖们用自己的力量点亮孩子的希望！AHA中国区常务会长 &nbsp;江苏华仔美业集团总裁更是一举将满满都是孩子心愿的“爱心手作画”以一万五千元人民币纳入。到现在为止已经有四所爱心小学正式落成，第五所也已敲定选址，这其中，功不可没的善长仁翁包括：AHA创始人赵劲松、AHA终生荣誉会长Winnie Loo、AHA中国区第二任会长黄明海、AHA爱心计划执行主席LULU、AHA爱心计划执行副主席张展东、AHA中国区副会长叶芳、李善芝等等，他们作为发型行业的领头人，积极投身AHA爱心助学计???，因为爱，而坚持奉献。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MGI4ODNlY2E5ZjAyNGE0Y2Q1Yjlj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTUzY2E5N2QyYzExN2FmZGFhOTdl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>崇加勇对话90后</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在亚洲130000的美发人中，90后占到了三分之一，这些富有朝气、冲劲十足的年轻人，有想法、有态度，他们要向世人大声宣告自己的未来和野心。美业大咖与这帮年轻人的对话虽然在节会的最后一天，全场爆满，分享过程中没有人随意走动，整场充满了感动和能量。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">亚洲发型师节在第二个十年的开始，以更加时尚、丰富的姿态呈现在大众世人眼前，也为更多美发人提供了展示自我的舞台。在这个发型师的盛会，有来自各个国度、区域的美发人士的参与，在这里不仅仅能看到行业动向，更可以知道世界的美发趋势在如何变迁发展！作为行业的标杆，我们势将完成一次次超越，为了中国美业的未来而不断进步、前行！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MmQxNzBiYzY4ZWM0NzEwMzg5ODA2.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>