<div class="left_art_zw"> 
 <h1>“百商万人”献血公益，欧芭再创生命奇迹</h1> 
 <p class="left_art_zw_zz"> 来源：国际欧芭供稿&nbsp;&nbsp;&nbsp; 时间:2017/1/16 14:27:23 </p>  
 <p class="dd"> 近日，欧芭集团董事长蔡艺卓先生带领九十多位志愿者参与“百商万人，献血公益”活动。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2M2MTZjMTc3ZDM0YjBmZWU0N2Y0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YThmZWYxYjgxMzg2NTM1ODQ4YmU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">欧芭志愿者参与爱心献血活动合影</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">血是生命之源，爱是生命的曙光，为有需要的人点燃生命的希望！血液是生命的礼物，血液是人间传递爱心的红色纽带，献血是一种爱和奉献。现场欧芭志愿者们也呼吁更多人加入到这项爱心行动中来！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmY5NTMwMjM2ZDY4MGVmYzEyMDdk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">14日下午国际欧芭集团董事长蔡艺卓先生带领90多位欧芭志愿者参与由厦门市<a href="/cg/2.shtml" target="_blank">美发</a>美容化妆品行业西湖、厦门市无偿献血者协会、厦门市中心血站联合举办的『百商万人 献血公益』活动。蔡艺卓先生现场讲话：“每一份献血都是生命的礼物，积极参加爱心献血，是这个冬季给生命最好的礼物，将会产生巨大的作用。”</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWVmOGRkMGJhMmM0NTZmZWQ4MmU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">国际欧芭集团董事长蔡艺卓先生现场发言</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjA3ZmJlMWVmM2YwZTQyOGI5MjUy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">欧芭家人咨询填表</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">献血现场，在采血站工作人员的指引下，欧芭家人积极领取登记表填写信息，量血压，验血型，抽血。工作人员还向大家宣传有关献血常识，叮嘱献血者在献血之后的注意事项，并积极主动做好服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGJmMTdlMmE0MGNjNmQ4NWZkYmMy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">欧芭家人抽血检查</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">献血的行动虽小，爱心却无价。欧芭家人们希望通过献血的行动，尽自己一份社会责任，救助他人，挽救生命。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDIxNzU2MzkyOTI5Nzc3MTgxOGI2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDRhMGZiNmE0MjFmNTZiOTEzYTVj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDlmYTk2ZmI4N2ViMWQ3OWM1NzY1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2ZiZjdiOGVkMDZhNDhhYzAxMTdh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">欧芭家人献血中</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">看着鲜红的血液通过针管缓缓流进采血袋，感受到欧芭人的爱心源源流向社会，温暖人心。他们中有的是献血站“常客”，更有的是初次上阵的“新兵”，整个献血现场充满了温暖和真情，充分体现了该公司作为省级文明单位的社会表率作用。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTI2NzUyMGY0ZDE1ZTQyYjAxZmQz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjEzNjU3MTdiZThkNTEzN2Y2Mjhj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDY2ZmNkZTJjMWNmZjFlNGJhOTJl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>献血的好处：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一、利于血液???成。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二、降低或延缓疾病的发生。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三、科预防心脑血管疾病。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">四、献血还能够减少癌症发病率。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">五、可促进、改善心理健康。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTQzNmViMzVkMGMxN2VmMDZkOWFh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>