<div class="left_art_zw"> 
 <h1>“男女同款，跨越界限”！东田造型合作taoraytaoray，寻找纽约时装周模特！</h1> 
 <p class="left_art_zw_zz"> 来源：东田造型供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/13 11:55:43 </p>  
 <p class="dd"> 东田造型合作taoraytaoray，寻找纽约时装周模特！ </p> 
 <div class="wz"> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">9月1日，大家都开学的日子。</span><span style="font-family:&quot;font-size:14px;">taoray taoray在环球港开业啦！</span><span style="font-size:14px;font-family:&quot;">现场试衣</span><span style="font-size:14px;font-family:&quot;">high玩，更???情侣直接下单情侣装，</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">倾情演绎</span><span style="font-size:14px;font-family:&quot;">“男女同款，跨越界限”！</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/YzM0YWE1ODExMjY2YjM0MjEyYmI4.jpg" alt="">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">还有爱奇艺名美女主播现场直播试衣体验</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">动态展示百搭造型！</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/ZGQxOTM4Y2U5YzlhZjQzOTUzYjUz.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">taoraytaoray 的设计师 王陶 是一个土生土长的中国人，2016年3月其同名品牌TAORAY WANG在纽约时装周新开辟的官方秀场上发布2016秋冬系列。</span><span style="font-size:14px;font-family:&quot;">说起王陶，大家更为熟知的或许是她的品牌</span><span style="font-size:14px;font-family:&quot;">“Broadcast: 播”，以及高端品牌Taoray Wang已经连续四次登上纽约时装周。</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span><span style="font-family:&quot;font-size:14px;">TAORAY WANG 为蒂芙尼特别定制款为纯白大衣随父亲入主白宫，蒂凡尼仪式当天所展现出来的优雅与从容、稳重而??有责任感。迅速占领各大综合类及时尚类媒体头条</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/MWFiYThjMDcyYTk1NjRhMmYxNmU5.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;"><strong>上海</strong></span> <span style="font-size:14px;font-family:&quot;"><strong>的亲故们有福了，</strong></span><span style="font-family:&quot;font-size:14px;"><strong>体验店入驻上海的同时</strong></span><span style="font-family:&quot;font-size:14px;"><strong>&nbsp;taoray taoray</strong></span><span style="font-size:14px;font-family:&quot;"><strong>纽约时装周</strong></span><span style="font-size:14px;font-family:&quot;"><strong>18秋冬模特招募!</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>只要你，</strong></span><span style="font-size:14px;font-family:&quot;"><strong>够自信</strong></span><span style="font-size:14px;font-family:&quot;"><strong>??</strong></span><span style="font-size:14px;font-family:&quot;"><strong>有个性</strong></span><span style="font-size:14px;font-family:&quot;"><strong>??</strong></span><span style="font-size:14px;font-family:&quot;"><strong>有态度</strong></span><span style="font-size:14px;font-family:&quot;"><strong>??</strong></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/ZTVlNTQxODg1ZmYzZmUyZTczMzBi.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span><span style="font-size:14px;font-family:&quot;"><strong>想不想去纽约的街头走一走？</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><strong>&nbsp;</strong></span><span style="font-size:14px;font-family:&quot;"><strong>上海东田造型团队助你一臂之力！</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">时间：</span><span style="font-size:14px;font-family:&quot;">9/7-9/12</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">上海东田造型团队在环球港等你</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">免费为参与活动的素人模特化妆</span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/NTljODY4YmQ5NGFhOTQ2OWJiNWY3.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/YjU3MTI0ZjRkMGYyMGRiNWY0YTdl.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/NTA1N2Q4ODQ1ODg4M2Y0NTJkNDdj.jpg" alt=""></span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">为了让每一位素人模特有一个完美的亮相，</span><span style="font-family:&quot;font-size:14px;">上海东田造型的伙伴们。</span><span style="font-family:&quot;font-size:14px;">细心地为模特做发型、妆面、服装的准备工作，</span><span style="font-family:&quot;font-size:14px;">每个环节他们都力求完美！</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/MGI3MmRhNTM3YmNlMDdiZTNmMmRl.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">东田造型对国际流行元素的敏锐理解和把握，</span><span style="font-family:&quot;font-size:14px;">始终引领行业潮流，</span><span style="font-family:&quot;font-size:14px;">正是这样专业的技术。</span><span style="font-family:&quot;font-size:14px;">让最后展现出来的每一位模特</span><span style="font-family:&quot;font-size:14px;">都是那么的时尚迷人，让人眼前一亮！</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;">&nbsp;<img src="/image/information/NTQ3NDYxNDliYzBiZjg4ODNiMmMx.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">产品支持：</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">东田奇幻唇膏，</span><span style="font-family:&quot;font-size:14px;">东田奇幻唇釉，</span><span style="font-family:&quot;font-size:14px;">东田奇妙塑型眉笔！</span> </p> 
  <p class="MsoNormal"> <span style="font-size:14px;font-family:&quot;">&nbsp;</span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/YzZmNzIwZmNiNjlkN2ExZmU2NzBl.jpg" alt=""></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><br> </span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span style="font-size:14px;font-family:&quot;"><img src="/image/information/MjM3OWU5M2FlZjc2MDcyZjRlMTY2.jpg" alt=""><br> </span> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTAxZWU4ZWFlMjFlYmU5N2FmZWIz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>