<div class="left_art_zw"> 
 <h1>“第十一届中国电影电视化妆金像奖”得主揭晓</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2016/11/9 15:22:19 </p>  
 <p class="dd"> 近日，毛戈平老师荣获“第十一届中国电影电视化妆金像奖“。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年11月6日晚，由中国电影电视技术学会化妆专业委员会举办的“第十六届中国电影电视技术学会化妆专业委员会年会、第十一届中国影视化妆金像奖颁奖盛典暨2016中国影视时尚化妆造型大赛”在北京盛大举行。国际彩妆大师毛戈平老师凭借舞台话剧《武则天》，荣获“2016第11届中国电影电视化妆金像奖”。自1995年至今，毛戈平老师共四次荣获这一殊荣！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTRiMTMwZDI3MDZmNDZlYjVhN2Ux.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2MyYTEwODA3ZTU3YzQ3MjVmNGNi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">毛戈平老师（右2）上台领奖</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTRmMzMzNzcwYzg2MzIyYjczYmVi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">舞台话剧《武则天》海报</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">本次盛会评委席阵容强大，来自全国的众多知名专家、影视导演、表演艺术家等专业大咖应邀参加，共同见证了这一荣耀时刻。在热烈的掌声中，毛戈平信步上台领取“中国电影电视化装金像奖”，并真挚地表示感谢，发表获奖致辞。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmMxOTVhZWUwM2Y3ZDVlM2Q0OTY3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">毛戈平老师上台领奖</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWRkNzYwMzlmMTBlN2RiM2E3MmYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzRiNWE3OTU1MjExODRmN2Q0MTRl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">毛戈平老师发表获奖致辞</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDg0ODFjODE1MDg2MTMxOWIxZTVl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">毛戈平老师任颁奖嘉宾，颁发“名校奖”“名师奖”</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWIwZjQwOTg2NTUxODM3NGYzYTg1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">毛戈平老师与业界专家、同行合影</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中国电影电视化妆金像奖是影视界化妆造型的最高级别、最权威的奖项。毛戈平老师凭借对彩妆造型艺术的一丝不苟和创新精神，以及对梦想的执着追求，共四次荣获这一荣誉。20多年的坚持，足以证明，毛戈平老师在中国化妆艺术、影视及时尚领域中做出的???出贡献！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NjJlNWJhZmE5YTZjMmI0YTRmZTM4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>