<div class="left_art_zw"> 
 <h1>“生发”黑科技登陆上海，生发行业成为医疗健康领域新热点</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/16 11:42:21 </p>  
 <p class="dd"> 近日，一个以黑科技着称的近红外线生发体验店，在上海市仙乐斯隆重开业，吸引了众多业界大佬到场。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">早在2000年前，先贤就开始研究脱发问题，时至今日由于个人病理差异，脱发仍是世界性难题！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWI4ZDgxMDBjMjk0NDAyZjlmMDBk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">近年来随着全球脱发比例急剧上升，生发行业成了医疗健康领域的新热点。近日，一个以黑科技着称的近红外线生发体验店，在上海市中心人民广场仙乐斯隆重开业，吸引了众多业界大佬到场。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODVjYTgyYjExNjQ3YzM0NmVhNDU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>业界“大佬”齐聚，“顶尖”新体验开业即“轰动”</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4月21日，有着“开启国人生发新法则”之称的新发则生发上海人民广场旗舰店隆重开业，来自日本近红外线专家，天使投资第一人薛蛮子、长江商学院多位风投精英，以及众多脱发体验者，齐集一堂，共同为新发则人民广场旗舰店开业剪彩。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">与传统生发店不同的是，新发则生发体验店，以具有科技感的蓝色为基调，装修高档温馨，配备十余台日本进口的专利生发设备，由多位客户现场体验所散发出的暖红光，让整个门店充满着神奇和科技感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">开业当日现场大咖云集，热闹非凡，不仅有早就按耐不住寻求合作之心的投资商争相咨询，更有众多新发则老客户积极参与现场体验。天使投资人薛蛮子现场更是力挺新发则，称“潜伏生发行业7年，就为了等这个项目”。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一家店为何博得众多大佬关注？一个近红外线暖红光生发技术背后藏着哪些神奇？</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGJlMDVlZWM4MDEwNjIyN2U5NmI3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmE5OWY3NGIzM2JiOTQ5NjYzZjVl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">新发则旗舰店开业剪彩</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>风靡全球的黑科技，30万人见证一道红光的奇迹</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">据最新公布的《中国脱发人群调查》数据表明，我国脱发人数约2亿，发病率以每年至少15%的速度递增，脱发年轻化趋势明显，35岁以下占脱发人群75.2%，形式严峻。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">据悉，近红外线随着近年来广泛应用在临床医学上，很多人可能并不陌生，??不知道还有如此强大的功效能够治愈脱发。据日本生发专家入谷清春介绍“在日本很多人用药物治疗脱发问题，副作用很大，作为生发领域的研究人员为了从根本改变这一现象，决定选用高效安全无副作用的近红外线进行尝试，经过十余年的探索，终于在2012年取得突破，经过日本皮肤科学会认证，治疗多种脱发效果显着，被业内认人士称为生发领域的黑科技，开启了科技生发技术革命。”</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">随着近红外线在日本生发市场得到广泛应用，据不完全统计，仅在日本，3年时间就帮助超过30万脱发患者实现生发梦想。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjEyODU4M2EzNTAxMmNhOTRkNWIy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGI2MjI2ZGM3YjkzYWI3M2IzYmRk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">日本近红外线生发技术的相关报道</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>近红外毛囊激活技术，为中国2亿脱发患者带来曙光</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">从现场了解到，为了寻找更适合中国人的生发方法，新发则在10年大数据研究的基??上，将这技术引进到中国，并集合中国中医生发原理加以改进。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">新发则创始人表示“传统治疗手法效率低下，无法有效帮助庞大的中国脱发人群摆脱困扰，国人期待更加有效的防脱生发方式，而新发则生发，将近红外线生发原理和传统中医生发理论相结合，标本兼治一站式解决脱发问题。”</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">根据实验数据表明，近红外毛囊激活技术针对脂溢性脱发、白发转黑、产后脱发、去头皮削、烫伤疤痕、头皮疮病等都有显着疗效，在治疗3个月之后就可将83%冬眠期毛囊激活为活跃期从而看到明显的生发效果，生发成功率高达86%。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">生发成功率86%是个什么概念？据专家介绍，传统脱发治疗方法成功??不到10%，植发最终成功率也仅有50%，且见效缓慢，86%代表了生发技术一个质的飞跃。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">近红外毛囊激活技术为什么能打破2000年来的生发僵局？据介绍，其背后原理主要是中西结合，内养外治。通过中医原理来调节身体的大循环与微循环，从内改善头发的生长环境。再利用近红外线的温热效应来扩张血管，激活头发从而实现缓解压力、补充营养、修复疤痕的金三角治愈效果。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">脱发10年的使用者老周表示“感谢新发则，没想到真的让头顶这块老旱地又生机勃勃了，现在很多脱发老战友在新发则接受治疗，效果也都是看得见的。”</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MThhMjJlNmJlMjViNGM5OGU3Yjc5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGVkMDZjYzIyNDVkMDk5NTU3MGVj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmNmYWNhMTY0Mzc5YmQ5YWU3ZWQy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">新发则旗舰店开业当天患者体验照</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>潜伏行业七年，天使第一人薛蛮子为何相中新发则？</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在开业现场，我们见到了一贯低调的天使投资人薛蛮子，热情为新发则点赞。据采访，薛蛮子尽管投资重点一直在互联网领域与通信领域，但早在7年前就开始关注生发领域，只是当时市场仍处于初级阶段，仅有常规性的项目，并不能很好地带来投资回报。直到7年后遇到了新发则，感觉终于等到了，这才果断出手。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">薛蛮子认为判断一个项目是否为优质，根源性产品与商业模式缺一不可。在4000亿的生发市场下，拥有能够真正解决问题的蓝海问题还不够，好的商业模式才能让项目具有更好的成长性。16年新发则创新推出消费众筹模式，让脱发患者一边治疗一边当股东赚钱，迅速在全国扩张，抢占市场。同时新发则具有良好互联网思维，又有多家实体门店作为支撑，与马云提出的新零售概念有异曲同工之妙，或许是下一个黄金投资点。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGYzM2Q0MTcwOTI3NTJkN2RmNjhm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YThlOWNkNWQxMzVkMWViMWMzODUy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">新发则旗舰店开业当天薛蛮子接受采访</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGY0YWU5YjMyYTA4NTIyYmMxMzU3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>