<div class="left_art_zw"> 
 <h1>“美丽产业”越做越“美丽”</h1> 
 <p class="left_art_zw_zz"> 来源：茂名日报&nbsp;&nbsp;&nbsp; 时间:2007-5-22 10:52:00 </p>  
 <div class="wz"> 
  <p>　　经营店铺增多 投资力度加大</p>
  <p>　 “美丽产业”越做越“美丽”</p>
  <p>　　本报讯（记者 陈全武）日前，记者从我市美容美发协会了解到：我市以美发美容、健身养生为主体的“美丽产业”经营者不断增加，投资力度继续加大。业内人士认为，投资者经营的“美丽产业”正成为我市继房地产、汽车、电子通讯、旅游之后的又一消费热点。</p>
  <p>　　“美丽产业”快速崛起</p>
  <p>　　近年来，我市投资者经营的美容美发机构不断增加，产业链从传统的理发发展到美容美发培训、美容美体、化妆品、减肥、护肤、香薰、彩绘、美甲、推拿、医学理疗、足浴、水疗、瑜伽、纳米黄金美容养生等不同项目。“美丽产业”链的扩张，带动了生产企业、服务店铺、物流配送、媒体广告、展览、演艺等行业的发展。市民不难发现，从城市到乡村圩镇、??主要街道到商住小区，从高档宾馆到街头巷尾，各式各样招牌的美容美发店、减肥会所、康复中心、足浴桑拿中心、美体（SPA）会所、瑜伽馆随处可见。由于这些场所能满足不同层次的消费需要，经营这类产业的商品也越来越多，有的商家开设了洗涤用品专卖店，有的开设了美容美发用品专卖店，所有大型超市、商场都开设了各类相关产品专柜。记者在市区一家商场看到，与“美丽产业”相关的商品琳琅满目，指甲油、护手霜、眼霜、润肤乳液、面膜、眼膜、防晒油等，其中不乏有欧莱雅、丁家宜、玉兰油、羽西等知名品牌。据市美容美发协会杨秘书长介绍：目前，我市有大小经营“美丽产业”的相关门店3600多家，从业人员6万多人。从业服务员月收入800元至1800元，有些培训老师和管理人员月收入超过2500元；投资美容美体、瑜伽等经营超过30万元以上的逐年增加。据了解，今年以来投资者更向高档次迈进。京艺美容美体养生旗舰店投资260多万元，拥有1300平方米，设有豪华会议室和瑜伽室，其迎宾连锁店装修为养生为主的欧版风格；最近，广州郭健瑜伽馆投资40多万元在市区建立茂名瑜伽分馆，具有浓郁的印度文化氛围。这些都反映了我市“美丽产业”越做越大，越做越美丽。据市统计局有关资料，富裕起来的居民非常注重自己的形象设计，在化妆品、美容美发用品和服务上舍得花钱打扮自己，使得居民家庭用于购买各类杂项商品及服务支出明显增多，第一季度，人均杂项商品及服务支出为82．39元，同比增长48％。</p>
  <p>　　“美丽产业”特色经营方兴未艾</p>
  <p>　　我市“美丽产业”的服务项目主要有美发、美容、美体、减肥、护肤、香薰、彩绘、保健养生、美甲、医学理疗、足浴、水疗及培训等。近年来，我市投资该产业??年年增加，促使竞争更为激烈，经营者纷纷寻找差异性经营。在采访中记者了解到，京艺美容美体连锁机构近期引进了美容行业2007年最主打流行趋势的纳米黄金特色养生项目融入经营中，成为高层客户群体追求的新亮点。此外艺匠组合专业发型美容美发连锁机构和莱莉莎美容美发职业培训学校的人才培养、姗拉娜美容纤体会所的女性减肥、圣水伊人SPA休闲生活会馆的水疗和瑜伽健身等都有自己的经营特色。我市该产业经营者经过业主的苦心经营寻找到适合自己发展的定位和消费群体，使自己的事业不断发展。茂名市美容美发协会副会长、广东省美容美发大赛评委陈剑红认为：连锁经营已成为现代美容美发行业的一种发展趋势，目前茂名美容美发连锁机构正处于市场导入期，但与传统的终端零售点争锋抗庭已为时不远，连锁店不要一味以价格最平的概念来引导消费??入场消费，而是以实实在在的品质、切身的服务感受赢得消费者青睐。只有这样，美容美发连锁机构生命力才会旺盛、持久，美丽产业才能更加美丽。</p>
  <p>　　“美丽产业”前景美丽但需规范经营</p>
  <p>　　近年来，我市“美丽产业”能快速崛起，这与众多的经营企业本身的努力推动有关，并得到市场的逐渐认识，但美容和化妆品消费也成为投诉热点。市消委会有关人士提醒消费者在消费时要注意查看服务机构是否有正规资质，消费前选择具有正规资质的服务机构，查看所用美容产品是否合格和适合自己的肤质，消费后还应索取消费证据（发票），便于出现意外后向工商部门投诉，维护自己的权益。另外部分经营企业服务技师技术素质良莠不齐；化妆品市场鱼龙混杂，有些化妆品更是水货横行，这些都有待监管部门的规范监管。企业经营者更需持证诚信经营，努力???高员工技能水平和服务素质，诚心为消费者服务，只有这样才能使该行业实现可持续发展。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODI0MTc4OTZhZGY5MDg1ZTM1Yzhm.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>