<div class="left_art_zw"> 
 <h1>“美博会”将成为长春第四大国际</h1> 
 <p class="left_art_zw_zz"> 来源：新华网&nbsp;&nbsp;&nbsp; 时间:2007-3-8 10:54:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;第二届中国长春国际美容美发及化妆用品展（简称“美博会”）将于４月１３日至１５日在长春举行，有专业人士指出，“美博会”将成为“汽博会”“农博会”“东北亚博览会”之后，在长春举办的第四大国际性精品展会。 
  <p>&nbsp;&nbsp;&nbsp; 此次展会由长春市政府主办，长春贸促会、吉林省美发美容行业协会承办，通过展示国内外美容美发最新产品、技术、材料，开拓国内外市场，促进我国相关产业全面快速发展。展会总展览面积达１万余平方米，展位数近３００个，特装展位近４０％。 </p>
  <p>&nbsp;&nbsp;&nbsp; 此次展会将安排以展览、洽谈、论坛、赛事、参观等五大板块为主线的十几项活动，包括“登喜隆”杯美容美发化妆造型大赛、文身纹绣展演赛、美容行业管理技术免费培训、瑜伽文化节等活动。届时，将有１万余名美容化妆品行业的专业人士到场，预计参观总人数将达到１０万人。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjUwZTUxZjBmYmVlYWQxYmNhOTIw.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>