<div class="left_art_zw"> 
 <h1>“王一刀”传艺数十载小镇人发型</h1> 
 <p class="left_art_zw_zz"> 来源：长江日报&nbsp;&nbsp;&nbsp; 时间:2007-1-21 13:08:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp; 大冶市保安镇年近8旬的理发师傅王首征，人称“王一刀”。不仅自己手艺了得，几十年来还培养了包括自己儿女在内的300多名理发师傅。 
  <p>&nbsp;&nbsp;&nbsp; 王首征自幼因家中无钱供他读书，10岁时就被父母送到族中一位长辈门下学理发。5年后，他便将长辈最拿手的“花样磨刀” 、“剪头出样子”、“刀刮无痕”、“刀橇洗眼”和“小刀掏耳”等绝活全部掌握。1942年，他在传统发型基础上，探索创新出“鸭舌”、“螺旋”、“小平顶”、“菊花”和“西派”等十几个男式发型，深受顾客喜爱，并一直流传了几十年。解放后，他将自己的独门绝技传给了儿女。 </p>
  <p>&nbsp;&nbsp;&nbsp; 在“王一刀”的5个子女中，手艺见长，生意红火，能赚大钱的数他的大女儿王梅。 </p>
  <p>&nbsp;&nbsp;&nbsp; 王梅早在17岁就跟随父亲学手艺，出师后，她在??安老街办起了“王梅美容美发店”。凭着对理发和美容的热爱，在学得父亲理发功夫的基础上，又自费到上海学习了美容和做保健技术。1985年初，她将原来的店面扩大，并改成“王梅美容美发厅”，同时招进10来个18至25岁年纪的年轻男女学徒，既保留了剪头、刮脸、洗眼睛、挖耳朵的传统项目，又增加了干洗头发，水蒸气络膜面和掐筋松肌等保健内容，一时间，“要想漂亮去找王梅”的说法在全镇传开。 </p>
  <p>&nbsp;&nbsp;&nbsp; 32岁的王忆是“王一刀”最小的儿子，为人理发、刮脸、抓脑壳，做保健等收入，远比姐姐王梅多。他从1989年3月在保安镇的新街上开办“王忆发艺厅”，到1998年便将店面开到了大冶城关。短短几年工夫，除了在保安购了房子，他还分别在黄石、大冶两处购置了房屋，银行的存款也达7位数。 </p>
  <p>&nbsp;&nbsp;&nbsp; 老王家的理发生意让镇上的许多人??慕不已，一些初中毕业生和高考落榜青年纷纷慕名找“王一刀”学艺。一些徒弟们学成后，到上海、南京、武汉、黄石、大冶等地当起了理发老板。</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzI5NTNjNjRkYTgyN2U2ZDQ4NGVh.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>