<div class="left_art_zw"> 
 <h1>“男色时代”漂亮5准则</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-8-21 11:06:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;《王的男人》的主演李俊基以美色打动人心
  <p>　　编者按：我们所说的“男色时代”并非重提古时的陋习，而是希望表扬一下那些对自身外表及生活有追求的男性。他们的细致周到与追求精致的态度丝毫不逊于女性。</p>
  <p>　　如果说4年前F4的出道唤醒了只关注于女性美的人们，并将他们领入“男色时代”，那么今时今日，主演《王的男人》的韩国男星李俊基和铺天盖地的小美男们，身体力行地证明了“新男色时代”的来临――修眉毛、戴美瞳、拍写真、眼迷离、嘴微启，原本让男男女女看了起鸡皮疙瘩的“娘娘腔”，在漂亮之下获得了颠覆性的胜利。</p>
  <p>　　Example 榜样</p>
  <p>　　新男色时代，其实是一种审美回归。搬上银幕被大家熟悉的有，电影《霸王别姬》中扮花旦的程蝶衣（张国荣饰）、《王的男人》中演假面舞剧女角的孔吉（李俊基饰）……这一个个???比女人还漂亮的男人，比女人还娇媚的男人”怎能不叫人动心？</p>
  <p>　　“新男色时代”里的男人又是大胆的，讲究细节的。ChristianDior女装设计师约翰?加里亚诺在每次秀场谢幕时，都会穿着盛装出现在众人的聚焦中。曾经完美塑造《乱世佳人》中白瑞德的演员克拉克?盖博是个喜欢打着圆点领带、别着白色茶花的美男子，他对细节的精准把握似乎比女人还要考究。综观这些美丽的榜样，“娘”只是偏颇的评价。男人爱美，男人扮美，只是他们对自身要求的一种外部体现，这与强壮的体魄、阳刚的气度丝毫无关。相反，男色将跻身城市生活美学的主题之一。</p>
  <p>　　Simple Print 印花</p>
  <p>　　各花入各眼，男色亦如花。</p>
  <p>　　印花上衣是今年夏天男人的必备单品。曾几何时，男人们开始厌倦黑、灰，渐渐地，男人们需要用花哨来调剂，一开始是肩膀、袖口，到仲夏衣服上已经布满了一整片、一整片的繁花。ETRO选择将男人们浸泡在花的海洋里，细碎的野花、大朵的月季、抽象的不知名的花，从衬衫、外套到长裤、头巾无一没有花的踪迹；服装设计师的印花灵感大多来源于自己的度假旅行，DonatellaVersace本季男装的悠闲风格就是从自己那趟棕榈泉之旅中收获而来，印有各种抽象花卉的洛可可式的丝绸衬衫，虽然不适合穿去上班，但为了参加派对或飞往南方岛屿度假，爱漂亮的男人绝对不会遗漏它。</p>
  <p>　　Pink 粉色</p>
  <p>　　一直以来，粉色是男人不敢轻易触摸的“雷区”，因为穿上它，显嫩，显甜。从色彩艺术上来说，粉红色是种给人以香甜味道感觉的颜色。但是，在“新男色时代”，男人就是要细皮嫩肉，就是要甜美可人，这不是娘，而是一种温柔。</p>
  <p>　　今时今日，男人对女人着装放任自流的同时，于自身的服装也渐渐宽容了起来。Agnes‵b．2006春夏推出的LesDandy系列运用了大量的粉红色，西裤、外套、帽子，模特留着卷发，蓄着胡子，穿着一身粉红色，温柔中夹杂气概，阳光中不失羞涩。一名穿着粉红色套装，系着粉红色领带的金发男模躺在花海中，从眼神、姿态到打扮，一改男性耿直、刚烈的形象，源源不断地散发出浪漫与温馨，这种感觉对女人而言想必更加强烈。Valentino新一季男装海报就以这种“新男性”形象，抡出把“温柔刀”，将男男女女统统征服。如果你无法接受大片的粉红色，不妨挑选粉红色的领带、粉红色的衬衫，让自己稍稍沾染点甜美。</p>
  <p>　　Short 小号</p>
  <p>　　或许，过于窄版瘦削的剪裁，会让男人看起来永远不曾长大。这一季，DiorHomme赋予了“新男色时代”又一个特征―――穿小号的服装。别看T台上的男模个个穿着短了一截的长裤、上衣，窄长的吊带又???裤子看起来更短，但是这些呈现出柔弱姿态的男装，统统来源于设计师HediSlimane对摇滚乐的理解与展现，而这种音乐是最具有雄性力量的。柔弱与力量，原本就是男人与女人最大的区别，HediSlimane将两大矛盾的特征归属于同一套服装，让人又联想到了女人的恬静与男人的呐喊，刚柔并济。</p>
  <p>　　但说老实话，短一寸的长裤对男人来说好坏并存，好的是穿上它看起来轻巧，坏的是你需要添置几双好看的袜子来搭配，才能做到无懈可击。</p>
  <p>　　Skin Care 护肤</p>
  <p>　　Jean Paul Gaultier推出男性彩妆产品，意在让男人爱上镜中的自己，理由是男人也开始挑剔自己的容颜，希望它能好一点，再好一点。更何况这年头，女人只能容忍天才不修边幅，如果你不是，就别再让自己灰头土脸了。</p>
  <p>　　说到男人美容，各个国家的男性各有各的偏好。法国男人喜爱戴上卷翘的假睫??，塑造深邃的双目；韩国男人热衷于修甲和清洁毛孔，打造整洁的形象；日本男人会将眉毛修剪得又细又长，突出清秀的脸庞……</p>
  <p>　　既然男人们渐渐开始有了美容的需求，各大品牌自然也积极满足。除了Jean Paul Gaultier推出了史上第一个专门的男士彩妆品牌，各大美容品牌也相继推出了从洁面、去角质、润肤到眼部保养、面膜一整套美容产品，甚至还有夹杂着香草味的男士唇油。这个6月，囊括了从碧欧泉到倩碧等几乎所</p>
  <p>　　有国际知名男士化妆品牌的SEPHORA丝芙兰专卖店，借由其全新研发的自有男士护理系列上市之机，在店内举行了一场“男色天堂”派对，将男性美容护理潮流在中国引爆。最新推出的七款男士护理系列包括了面部清洁、保养和发型整理等，通过采用高效创新的男士美容科技，结合萃取自月桂、薄荷等植物的天然有效成分，该系列旨在激??男士科学保养冲动，带给他们全新的护肤、护发体验。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:新闻午报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWY5ODk0N2EwMDExZTQ0ZWZjNGY5.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>