<div class="left_art_zw"> 
 <h1>“花仙子”被前员工告上法庭</h1> 
 <p class="left_art_zw_zz"> 来源：海南经济报&nbsp;&nbsp;&nbsp; 时间:2007-7-4 10:00:00 </p>  
 <div class="wz">
   　　“海口花仙子美容有限公司没有经过我的同意，就私自将我的照片印在宣传单、价格表上做宣传，给我的身心造成严重伤害。我就此事多次要求花仙子停止侵权，但对方口头上承诺，却仍在四处散发这样的宣传单。”海口市民卢小姐以侵犯肖像权为由，要求６家花仙子美容公司停止侵权、赔礼道歉，并赔偿损失６万元。７月３日上午，海口市龙华区人民法院开庭审理了此案。
  <br>　　
  <br>　　卢小姐称，２０００年８月，她在花仙子美容美发学校留用学习，１２月３０日正式与海口花仙子美容有限公司签了３年的合约，任花仙子的咨询员。２００３年上半年的一天上午，她和一个河南籍的女孩子正在上班，被单位负责人拉去拍服装照片，说是讲课之用，先后共拍了１０张。２００３年的１２月３０日合约到期后，她便离开了花仙子美容美发学校。２００６年欢乐节期间，她请朋友吃饭时，有朋友无意说起她的照片被花仙子美容院用作商业宣传。她知道后很生气，便向花仙子美容美发院企划部负责人邓某提出交涉，要求他不要再用该照片作广告了，这样的照片别人看见不好，使人产生误会。邓某只是一笑了之。
  <br>　　
  <br>　　卢小姐说，今年１月２５日，她从海口金龙路某饭店出来，发现车前玻璃窗上被人压着花仙子的宣传单，有朋友取下一看，上面竟是在校时拍的裹着浴巾的照片，朋友们看到后，都觉得她轻浮。
  <br>　　
  <br>　　卢小姐称，１月２７日下午，她和朋友在金龙路再次发现花仙子的员工，仍在四处散发印有她照片的宣传单，便当场制止。约１０分钟后，花仙子企划部邓某打电话对她解释相关事宜，并保证不会再使用其照片。可１月２９日下午，她发现花仙子的员工仍在四处散放印有她照片的宣传单。她认为花仙子未经她同意，滥用其肖像照片，导致男友分手，给她的身心造成严重伤害。要求海口花仙子美容有限公司及其５家连锁店立即停止侵权、赔礼道歉，并赔偿损失６万元。
  <br>　　
  <br>　　法庭上，海口花仙子美容有限公司答辩道，无法证明照片上的女人就是卢小姐本人，也无法证明这些广告就是他们６家公司印刷的。同时，从时效上看，从２００３年到现在，早已超过两年的诉讼时效。因此，原告的诉请缺乏事实和法律依据。
  <br>　　
  <br>　　庭审结束后，法庭没有当庭宣判，将择日另行判决。
  <br> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjAwOGFkM2ExOWQ0NmI5ODE0MzZi.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>