<div class="left_art_zw"> 
 <h1>“预付卡放心消费”活动，教???如何旺季更盈利</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2017/1/9 15:12:27 </p>  
 <p class="dd"> 近日，上海美发美容协会六届八次会长会议在昆山举行，会长董元明就16年的工作进行了简要的回顾。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODgzYjczYmY3OTE1NjI3MTg4ZTg3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODdkY2RjYmMxNzM5ZTI2YWQ2MmRl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">六届八次会长会议6日于昆山举行，上海<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容行业协会会长、副会长、秘书长及副秘书长出席会议。会议由上海美发美容行业协会会长董元明主持。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWM1NjAwZDQwNGQ5OTBlOWNlNTli.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">董会长首先就16年工作进行简要回顾，充分肯定第十五届上海国际美发美容节各方面工作和大家的共同努力，并阐述本次会议主旨是听取意见，群策群力，规划全年，推动工作。为推进行业转型，将计划成立协会健康管理专业委员会事项提交会议讨论。希望从积极开展“预付卡放心消费”活动入手，真正做好行业春节期间服务工作，为消费者营造良好消费环境。2017年鸡年，我们大家应该以勤为先，工作抓早，建言献策，携梦起航。与会者积极发言，会议气氛热烈。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDVlYzRlZmEwN2VmZDVlYTM5MzA1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长刘莉莉女士就成立健康管理专业委员会作重要发言：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、对健康管理专业委员会做简要介绍。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、宣读健康管理专业委员会管理办法细则。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、专业委员会架构。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、活动资金及资金来源渠道。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、健康管理专业委员会办公地址。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6、上海美发美容行业协会健康管理专业委员会管理规定。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWQ0MDFiNWNhN2Q1ZTczZjMwNTY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长毛申媚就行业诚信建设工作作重要讲话：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、17年将继续进行行业大师、名师、星级企业及优秀企业管理者的评审工作。严格做好复审及新申报企业的考评工作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、美甲行业星级企业评审工作通过16年初步试验后，希望17年相关企业能够更进一步积极参与，从而带动美甲行业的全面进步。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、今年协会也将继续推荐一批全国??级企业，并进一步加大优秀企业管理者的培训工作，促进行业的交流、沟通，推动行业的共同发展。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmY2M2FmMDUzYjNjYzgwZmUxOTA3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">美甲专业委员会主任，副会长郁苗对美甲专业委员会工作作简要说明：17年美甲专业委员会希望能够吸纳更多的企业参与，扩大美甲专业委员会的组织架构，继续完善美甲专业委员会的组织工作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTU3ZjBiMWYxYWIxODQ5YzgyZTM4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGVlMzI1MjFhZmE3ZDYwN2I0ZGRj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长、美甲专业委员会副主任周炳锋及副会长杨跃（代表）提出，2016年参与协会的各项工作，能够感受到协会的飞速发展和不断进步，今后会继续努力，为行业出功出力，配合主任工作，为美甲行业的进一步发展做贡献，积极分享资源，互通有无，引进国际技术、产品，带动行业共同进步。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzYzOGZiYTA1MDQyMjcwMmI4NWQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">美容专业委员会主任、副会长张文英提出：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、希望协会能够对16年美容节参与单位进行回访，收集意见建议，更好地指导工作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、希望专业委员会能够突破框架，与时俱进，更好的回馈企业和会员单位。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、在技术上多作培训、展示和学习。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、建立长期的研发部门，接轨劳动局的培训科、考务科、鉴定科，加入时尚及经典的培训内容，严格考证把关工作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、希望协会能够吸纳更多人才，将行业中青层代表纳入行业骨干队伍。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGY1OWU2YWM2ZTljMjg5YzIwM2E1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">美发专业委员会主任、副会长丁家庆对第十五届上海国际美发美容节美发专业委员会的参赛情况进行总结，希望17年能够更早准备，把第十六届上海国际美发美容节做的更好，同时加大力度考察美发考证这一块工作，为行业输送更多人才。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2I1OTUzMWZjZGI1YWIwMDcyY2I2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长马月芳提出，新的一年，将会投入更多精力于健康产品及活动的倡导，关注市场热点，爱健康，爱美丽，倡导匠心精神。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2NjNjMyOGMzMTQ0ODczOWFlMTI1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长刘万军提出希望协会新的一年中在美容节产品展览方面更加努力，为上海，为协会，为行业增光，起到引导作用，并表示会投入更多精力支持协会工作，促进行业的发展与进步。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGJjZjc0NWQ0YThiZTczOWU1NzQx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长徐扣发提出，要勇于创新，热爱自己的本职工作，服务对企业的发展起的非常重要的作用，因此要用心服务，提升服务质量。希望协会提供平台，引进世界高水平服务标准，举办服务培训活动。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjdiYWNkYTIxNDYxZjZmOTkyYzNi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长马宽明提出三点：带好头、做好事、做好人。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDllMGIxYzBlNTc1YTlhMGM2ZjBk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长夏利华提出要有敬业精神，时刻为提升行业形象，提升行业知名度而努力，要与???俱进，更多的结合互联网营销模式，拓展行业的业务范围。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWUzZjMzMjIxYTUxMGUwMzA3ZTlj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长吴国明对16年协会工作高度肯定，并希望大家携手再创辉煌。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmVhZDA0OTJlZTkyZjhlYWYwY2E0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">秘书长张晓玲提出：16年协会的工作体现了空前的凝聚力，各位会长及秘书长为协会工作投入了宝贵的精力和时间，使得协会的工作和美容节的成功举办得到了政府领导和兄弟协会的一致肯定。17年协会将再接再厉配合政府工作，继续抓诚信建设，为会员单位的服务发展做更加细致的工作，为行业树立典型，加大行业企业的互作交流，大步迈开更广泛的参与国际交流，引进新技术，不断创新，继续拓展协会的大平台，为行业搭建合作桥梁。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGY5MGUyNmZmMDFjYjYxZmJmMDk0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副秘书长石恒喜对第十七届上海国际美发美容美甲邀请赛的突破发展对各位会长及副会长、秘书长、会员单位的共同支持表示诚挚谢意，并提出希望新的一年大家通力合作，继续开发大赛的潜力，争取取得更大的突破。关于培训和考证工作，也将继续创新，希望大家积极给于意见和建议，帮助协会将培训和考证工作进一步完善与发展。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTgwZjg5ZWI1NzkzMDc5ZDQ2NmQ3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副秘书长姜海平通过对美发行业现状的分析，提出互联网商业全面营销模式下，O2O不断升级创新，各种营销模式大范围引入，而美发行业对技术的要求却在不断退步，如何提升美发技术，当代的美发大师如何奉献、传承技艺，继续发扬上海的海派文化成为了行业转型的迫切需要。希望协会针对技术传承多举办一些公益活动，将行业文化、传统技艺进行保护和保留。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDBkMWNjMzIxYTQ2YjNiMzE1Mzhm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副秘书长李国双表示会继续加大精力做好协会工作；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njc1MTEzMjgwZjA3NTJiM2ViZmRk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副秘书长殷学华表示会进一步关注行业的新变化，新热点，新发展；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzYzMmJkN2EyZTFkNGNiN2ZhZjk3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副秘书长吴国芳希望协会多举办一些活动，深入挖掘开发行业的宝贵资源，提供互动学习平台，尽快将有关活动提上日程。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDVkYTU4MWY2MTNkYmEwYTVjZDBm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjdmYzgwMDRjMDhjN2RiODQwODg2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副会长单位诚美及文峰与会代表肯定了16年对协会工作投入取得的成绩，表示今后将继续深化合作，支持协会的工作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmQzNmYzOTFkMDk0NDJiMmY3NGY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">会议最后，会长董元明总结会议内容，提出17年协会的工作主题将带领行业关注实体经济，传承匠心精神，续写行业文化，结合时代潮流，依托互联网推动行业发展，纠正完全依靠营销模式发展的风潮，回归技术，认真经营；继续落实美容节博览会工作，成立专门组织做好展位工作；全面打造美容节文化，在去年的基础上有质的飞跃，进一步接轨国际，扩大行业知名度。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzU5ZWZkYjBkZTM5OTM5OGI1NzZk.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjRmYjEzOWMyODE3NTkzYWVkNzNj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>