<div class="left_art_zw"> 
 <h1>“邋遢大叔”一键切换“硬朗型男”的秘密在这里！</h1> 
 <p class="left_art_zw_zz"> 来源：塞巴斯汀专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/3 11:08:50 </p>  
 <p class="dd"> 告别了2017，终于迎来了新一年！在寒风凛凛的冬日，黑白灰成了此时的主旋律。 </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">告别了2017，终于迎来了新一年！在寒风凛凛的冬日，黑白灰成了此时的主旋律。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWIyYWFkYzdmZWMwM2JjMTJmOTEy.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">在经历了春的undercut、夏的skinhead和秋的side-part之后，面对灰调沉闷的冬季，需要用怎样特别的发型来点亮呢？</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">塞巴斯汀的答案是各式各样的长发！今年vintage风格即将回潮，一头经典复古的长发造型，不仅时髦，更有着实用的保暖作用~</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>顺柔中分</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">如果你的头发比较顺直，捎带一点弧度，那摇滚老将Kurt Cobain的发型会很适合你。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img alt="" src="/image/information/MzBkZjRlNTEzZWY1NTMwOGJhMWVm.jpg"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">具有贵族气质的柔顺中长发，有些优雅和慵懒，却又不显凌乱毛躁。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGE2MjM5Y2IxZDE1NTY4YTA4YTBk.jpg"> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>蓬松波浪卷</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">海浪一样的波纹很有光泽感，可以瞬间点亮黯淡的冬季。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">这样的发型需要一定程度的打理，用以维持自然的蓬松感。但也不要太过刻意去打造卷度，只要轻松地拨到一边就够有个性了！</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDMzOGZiMmEzZGIxN2E1OTlhN2M2.jpg"> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>背头小卷</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">今年背头小卷又有所回潮，在各个时尚街拍和高定秀场都时常出现。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MTEwM2NmZTY4ZTI1OTg0NGEyYmM3.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">少女们最爱的琼恩?雪诺（Kit Harington），就拥有一头标志性的背头小卷，不仅没有丝毫的土气和过时，相反备显优雅和时尚，配合情深似海的眼神更加分~</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzU5MTI0MDUxM2Q5MWQwMzg0ZjY0.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">如果你也打算留这样的背头小卷的话，记得留胡子会更好看些噢。</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>丸子头 Man Bun</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">头发较长的男士，如果发质不巧属于粗硬、毛躁类的，那么任期自然披散会显得非常凌乱，也不适合日常上班出行。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">此时的最优选则是男士丸子头(Man Bun)。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjI0ZWIzYTU5ODRmZGI0NjU4MGNh.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">饱满的Man Bun和男士的组合，有一点成熟，有一点浪漫，显得非常时髦和奇妙，不管是硬朗派还是柔和派都能hold住。发量稀疏的朋友还可以用它来稍加掩饰~</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ODExYzJhZTI1YjZmZWU4YzA2M2Ex.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">值得注意的是，要保持发顶到丸子部分的质感，别将“随性”打造成了“蓬乱”。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>新年发型焕亮组合</strong></span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">神器①</span><span style="font-family:Microsoft YaHei;font-size:14px;">塞巴斯汀酷黑焕亮凝露</span><span style="font-family:Microsoft YaHei;font-size:14px;">Drak Oil</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">它是油，也是啫喱。摒除了发油的厚重与啫喱的僵硬，</span><span style="font-family:Microsoft YaHei;font-size:14px;">1秒，滋养秀发。1滴，定义焕亮。1抹，锁定造型。</span><span style="font-family:Microsoft YaHei;font-size:14px;">Dark，but light !</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmJjYTNhMDVmMjkzNjdjMjUxOTBl.jpg"> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">复制￥zctj09oHbQ0￥</span> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">打开手机淘宝即刻下单</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">神器②</span><span style="font-family:Microsoft YaHei;font-size:14px;">塞巴斯汀随心所欲发泥</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">天然矿物成分，能够创造熔岩般的哑光质感。从发根起有效消除油腻，重组秀发纹理。</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NWFmNmI3ZDY2YjFkMjliNmI3ZDUx.jpg"> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">复制￥pV0R09osy50￥</span> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">打开手机淘宝即刻下单</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">神器③</span><span style="font-family:Microsoft YaHei;font-size:14px;">塞巴斯汀灵动焕亮发泥</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">3D动感塑型，释放钻石光耀，打造多的维度立体光泽！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MzFkZjJkYjc3NWIwNWU4MTE0NDhk.jpg"> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">复制￥PRZv09oHdrH￥</span> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">打开手机淘宝即刻下单</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">拒绝黯淡无光，点亮冬季时尚。塞巴斯汀大胆无畏，邀你一起颠覆平庸，释放不凡！</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZWVlOTU1NzI5NDlkNDczMmRlZjcx.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NGYxYmIzOTM3MDY2ZGM1YzNmYmVk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>