<div class="left_art_zw"> 
 <h1>“问题”SK-Ⅱ月底要返京</h1> 
 <p class="left_art_zw_zz"> 来源：北青网&nbsp;&nbsp;&nbsp; 时间:2006-11-14 10:51:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp; 核心提示：停售了近两个月的SK-Ⅱ如愿卷土重来，虽然宝洁方面不愿透露具体的上市时间，但记者还是从商场了解到，“问题”SK-Ⅱ将于本月底重新在京上市。据了解，中国是SK-Ⅱ全球第二大市场，仅次于日本。 
  <br>“问题”SK-Ⅱ月底要返京
  <p>　　竞报记者刘晨报道 停售了近两个月的SK-Ⅱ如愿卷土重来，虽然宝洁方面不愿透露具体的上市时间，但记者还是从商场了解到，“问题”SK-Ⅱ将于本月底重新在京上市。SK-Ⅱ公关部负责人昨天接受记者采访时没有否认此消息，只是透露，目前有关上市具体时间以及专柜的运作等问题，均在和合作伙伴商讨中，并会尽快公布。</p>
  <p><strong>　　探营：黄金位置依然为“伊”保留</strong></p>
  <p>　　京城各大商场均给予了SK-Ⅱ重整旗鼓最大的支持，不仅保留原有的柜台，还无条件欢迎SK-Ⅱ的“回归”。昨日，一???大型商场的相关人士透露，将于本月底恢复SK-Ⅱ的销售。</p>
  <p>　　记者了解到，新世界、赛特、翠微等商场的SK-Ⅱ专柜依然空置；而有些商场已经把SK-Ⅱ专柜暂改他用，例如中友的SK-Ⅱ专柜现在已经变成了一个化妆品的展销区域，目前正在展销的同是来自宝洁旗下的化妆品牌illume（伊奈美）。该专柜的导购告诉记者，待SK-Ⅱ月底重新上市后，这个柜台还将归还给SK-Ⅱ。</p>
  <p>　　<strong>幕后：</strong></p>
  <p><strong>　　SK-Ⅱ与商场结成利益体</strong></p>
  <p>　　业内人士认为，SK-Ⅱ能在短时间内“起死回生”，并且能得到各大商场的支持，最重要的因素是“利益”。据了解，中国是SK-Ⅱ全球第二大市场，仅次于日本。</p>
  <p>　　据SK-Ⅱ方面透露，该品牌在中国内地主要以授权专柜的方式在大城市销售，目前全国共设立了90多个专柜。而宝洁的分销商反映，SK-Ⅱ在北京、上海、广州等大城市的专柜每月销售额高达50万－100万元人民币，其零售终端有20%－30%的利润空间，这也成了商场难以舍弃SK-Ⅱ的原因。</p>
  <p>　　而对于重返商场的SK-Ⅱ能否保持曾经的辉煌？“担心是肯定的，毕竟SK-Ⅱ的品牌受到了很大的影响。”一家大型商场公关部负责人直言，SK-Ⅱ短期内销量可能难以恢复到以前的高度，但商场不会因为其遭遇一时的困难而抛弃这个品牌，该负责人表示，商场方面不会增加任何附加条件。</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDc0ZTg2MmNlOGVhNGMxMDVkMzZi.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>