<div class="left_art_zw"> 
 <h1>“飘飘理容”用“肉毒素”除皱致</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-9-18 13:24:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9月4日一大早，哈尔滨市香坊区通天派出所就来了3位报案者，她们在一家理容店注射除皱针后，分别出现瞳孔放大,视力模糊，舌头、嘴僵硬，呼吸困难等症状。而造成伤害的罪魁祸首竟是来历不明的巨毒药品———A型肉毒素。派出所民警经请示香坊公安分局告诉黄女士，由于美容造成的伤害，应由卫生或药品监督部门负责，不属公安机关受理范围。
  <p>　　祸起美容院里的除皱针</p>
  <p>　　据受害者黄女士介绍，不久前，她听人介绍说到美容院里打一种去皱针，可将脸上的皱纹一下子都除掉。于是，黄女士便和几个朋友一同来到位于哈尔滨市香坊区公滨路280号的飘飘理容连锁机构，理容店老板推荐一种“一针除皱”的美容产品，并说这种除皱针效果非常好，除皱后3年都不起皱纹，每针价格为500元。黄女士和几个朋友相信了这些??绍，决定在这里进行美容除皱手术，并和美容院签订了美容手术协议书。</p>
  <p>　　8月6日起，黄女士连续注射了两针除皱针，打完后她当时感觉皮肤确实很光滑，皱纹也减少了，心里很高兴。可打完针的第三天，她便出现了异常反应。“先是眼睛看什么都不清楚，瞳孔放大,而且伴有幻觉，渐渐地舌头也不好使了，不能说话，无法吃饭。”黄女士的几个朋友也相继出现了相同的症状。</p>
  <p>　　为什么在眼角周围打了除皱针后会普遍出现异常反应？美容院究竟注射的是什么药？带着疑问，黄女士等人找到了美容院询问原因。美容院老板却很轻松地说：“这是术后的正常反应，问题不大，过几天就好了。”可是在随后的几天里，几个人的症状并没有像美容院老板承诺的那样越来越轻，相反除了视力模糊外，几个人还出现了眩晕、恶心以及呼吸困难等症状。最先注射去皱???的陈女士反应最强烈，从14日开始不能进食，16日，陈女士的家人急忙将她送到了黑龙江省医院抢救，随后黄女士和赵女士等人也被紧急送进了医院。</p>
  <p>　　除皱针怀疑是巨毒药品</p>
  <p>　　见到黄女士等人的症状，省医院的医生当时也很困惑，他们以前没有见到过这样的病症，经过会诊，专家们一致怀疑，黄女士等人注射的除皱针医学名称为A型肉毒素，是一种巨毒药品。</p>
  <p>　　据省医院医生介绍，这种A型肉毒素是一种含有剧毒的物质，在国外用于生化武器中，亿万分之七克的含量进入人体就可以致人死亡。A型肉毒素是肉毒杆菌在繁殖中分泌的一种有毒性的蛋白质，专用于治疗斜视、眼肌痉挛、面部抽搐、肌肉痉挛性斜颈及痉挛性发声困难等疾病。1986年，加拿大一位眼科教授发现此种麻痹肌肉神经药物可使眼部皱纹消失，于是广泛用于美容行业。据介绍，因A型肉毒素毒性极强，能引起全身麻痹，在医学上，使用方法和用量都是要经过严格控制的。打针的部位一旦超越区域，就有可能造成下压眉、眼袋翻出，严重的出现发烧、乏力、食欲欠佳、吞咽困难、呼吸困难等症状，甚至危及生命，除抗毒血清外，目前尚无有效的解毒药。</p>
  <p>　　医生诊断黄女士等人的症状正是由于摄入了过量的A型肉毒素出现了不同程度的中毒反应。医生表示，他们从来没有治疗过这样的患者，黄女士等人的病症目前在黑龙江省尚属首例，没有任何的临床经验。</p>
  <p>　　记者在黄女士提供的药品说明书上看到，上面注明该药品叫(美博士)去皱生物素，但在整个说明书中并没有标明药品的产地、厂址和联系电话，只有一个网址。记者登录说明书上的网址试图与厂家取得联系时，却发现这个网址所对应的并不是什么药厂，而是北京的一家美容整形???构。记者随即与该美容机构联系，接电话的工作人员称，他们那里没有这个产品，这种(美博士)去皱生物素和他们没有任何关系。</p>
  <p>　　美容店被封，店老板“失踪”</p>
  <p>　　据黄女士介绍，刚开始她们还能找到店老板，但他百般推脱责任，随后就再也不露面。无奈，她们投诉到哈尔滨市香坊区消协。</p>
  <p>　　消协工作人员告诉记者，接到消费者投诉后，他们积极展开调查，发现这家美容连锁机构经营范围是理发和生活美容，进行医疗美容属超范围经营。使用的除皱针也是没厂址、没联系方式的三无产品，来路不明。起初美容店老板还接受消协的调查和调解，随后便没了踪影。</p>
  <p>　　记者按照消协提供的店老板电话打过去，不是没人接听就是停机。记者从香坊区安埠工商行政管理所了解到，目前该店因涉嫌超范围经营已被该所查封。</p>
  <p>　　黄女士等3人是在家人的搀扶下到处为自己的“中毒”讨说法的。尽管已经过去了二十几天，但几个人的视力依然模糊，白眼球浑浊，手放在眼前摆动眼睛丝毫没有反应，而且面部僵硬没有表情，尤其是头晕、恶心、头部不敢摆动、反应迟钝等症状。黄女士不无忧虑地告诉记者，由于没有“解药”，她们只能硬撑着，真怕眼睛会残疾。她们感到很无助：“美容院被查封了，店老板没影，我们该向谁讨要损失？”她向记者表示，她们将通过法律途径维护自己的权益。</p>
  <p>　　仍有美容院在使用A型肉毒素</p>
  <p>　　近日，记者对哈尔滨市的几家美容院进行了一次暗访，结果发现一些小型美容院仍然在使用A型肉毒素为消费者进行除皱手术。</p>
  <p>　　9月14日，记者走进一家位于南岗区果戈里大街上的美容院，问能否进行“一针除皱”术，工作人员回答可以，但需要预约。工作人员说，她??这里有两种产品，一种是注射后除皱效果可以保持一年，每针需要500元。另一种注射后除皱效果可以保持3至5年，每针价格980元。当记者问到，注射的药物是否就是肉毒素时，工作人员十分肯定地回答：“是的。”</p>
  <p>　　在采访中，一位从事多年医疗美容的专家告诉记者，肉毒素除皱的原理是将肉毒素注入肌肉后，阻断皮肤神经和肌肉的连接，让肌肉的收缩能力暂时瘫痪，从而除皱。A型肉毒素是一种剧毒药，用它来治病、去皱是医疗行为，决不是商业美容院的项目。操作者必须是经过培训的医生，决不能滥用。只有具备相应资质的医疗机构才能开展这项业务，对操作医师也有严格要求。从事医疗美容项目的美容机构必须取得《医疗机构执业许可证》，美容人员必须取得执业医师资格。消费者在接受这一美容项目时，如果使用的是进口产品，要看进口包装上有没??国家的批准文号，国产的应认准生产厂家。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">转自：东北网</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGM3OWViMDlkMTA4NDA4YmUwZjQ4.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>