<div class="left_art_zw"> 
 <h1>“雅芳”如愿先拔头筹，中山直销</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-3-12 16:05:00 </p>  
 <div class="wz"> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2月22日，商务部正式批复“雅芳”成为我国第一家直销企业。在浩浩荡荡的“申牌”大军中，“雅芳”如愿拔得头筹。<br>　　 <br>　 “雅芳”成为“吃螃蟹”的第一人后，之前宣称要争夺第一张直销牌照的各大直销巨头似乎都暂居下风。但几家大型直销企业中山分公司的有关负责人接受采访时均表示，“雅芳”拿到第一张直销牌照对他们并没有什么影响。“我们的各项工作都在按部就班地进行着。”中山完美日用品有限公司法务部徐经理说。那么，直销企业在本地的经营状况以及将来的发展策略究竟如何呢？ </p>
  <p align="center"><img border="0" src="/image/information/MDRkN2M4YTgwZGMyNGJkZDk5OTZh.jpg" width="300" height="309"></p> 
  <p align="center">作为直销业巨头，“安利”对申领直销牌照一直都很积极。</p> 
  <p>　 “雅芳”：专卖店是“生命线”</p> 
  <p>　　由于雅芳（中国）中山分公司最近正在进行人事变动，新的主管负责人尚未上任，记者暂时无法了解“雅芳”在中山市场的最新情况。但雅芳（中国）总公司曾表示，获得首张直销牌照后，将把直销试点的经验和模式——也就是“专卖店＋直销员”，从试点城市向全国范围推广，专卖店将成为其“在中国发展的生命线”。据介绍，“雅芳”将以专卖店为基础，为直销员及广大消费者提供服务。“雅芳”直销员由公司及其分支机构进行招募，专卖店和直销员之间为“并行关系”。业内人士分析，这种模式意味着“雅芳”的专卖店不仅仅销售产品，也为直销渠道提供服务。至于业界最为关注的计酬方式，“雅芳”仅表示是单层次计酬，具体方案将在未来公布。</p> 
  <p align="center"><img border="0" src="/image/information/MGUzNjY4MmNjZDk3MDMxOTEwZWZi.jpg" width="300" height="224"></p> 
  <p align="center">“雅芳”成为“吃螃蟹”的第一人。（资料图片）</p> 
  <p>　 “安利”：中山已获认可函</p> 
  <p>　　 作为直销业巨头，“安利”对申领直销牌照一直都很积极，并希望能在第一批获发。但现在“雅芳”率先拿到牌照，就此情况，安利（中国）董事长郑李锦芬曾说：“001号牌照对安利来说不是最关键的。拿到牌照后，业绩才是最重要的。其他的都是形式，也可能是一种虚荣。”<br>　　 <br>　　安利中山分公司营运主任邓大成就此解释道，中国有2800个县，“安利”的网点已经覆盖到其中的1700多个。这一次申领牌照，“安利”除了把原有的网点全部上报之外，还要争取把剩余的网点都覆盖并上报，因此需要一段比较长的时间，估计几个星期后就可以完成此项工作。对还没有网点的县市将采取两种方式进行覆盖：第一，直接开设网点；第二，把当地比较成熟和有信誉的经销商发展为网点。<br>　　 <br>　　邓大成告诉记者，安利中山分公司已经在2月底获得中山市外经贸局的认可函。“安利”相信，公司的业务调整及申领牌照等工作顺利完成后，企业的综合服务水平会跃上一个新台阶。在获得直销牌照之前，“安利”将按照国家的相关规定，继续以“转型企业”的模式进行经营。<br>　　 <br>　　据介绍，自《直销法》去年底正式实施以来，“安利”对现有营运状况进行了全方位的检视和规划调整，取消了团队计酬方式。计酬方式的改变在一定程度上影响了原经销商的收入。为了“稳定军心”，“安利”除了给予一次性经济补助之外，还开始加大品牌的宣传力度。以前“安利”很少做广告，现在几乎各大时尚杂志上都可以看到“安利”代言人俞飞鸿的玉照。为了在申请牌照前更好地管理和规范经销商队伍，“安利”已于去年12月中暂停了特约???销商的资格申请。<br>　　 <br>　　虽然取得直销牌照后的发展方案暂时不方便公布，但邓大成认为，经销商和直销员“两条腿走路”的经营模式不会有太大的改变。他说：“就中山市场而言，经销商的业绩比直销员的业绩稍好，但取得直销牌照后，加强直销员的发展力度也是有可能的事情。”</p> 
  <p align="center"><img border="0" src="/image/information/MmI0ZmU5NTg5NDhmY2M1ZmZiNzhj.jpg" width="300" height="195"></p> 
  <p><br>　　 <br>　 “完美”：加快“申牌”步伐</p> 
  <p>　　 中山完美日用品有限公司（以下简称为“完美”）法务部徐经理告诉记者，他们正在加紧补充申请直销牌照所需要的相关材料，争取尽快完成这项工作。<br>　　 <br>　　徐经理表示，一直以来，“完美”的发展方向都是积极倡导专卖店的经营模式，推销员次之。他表示：“目前中山约有6家‘完美’专卖店，基本可以满足本地市场的需求。”<br>　　 <br>　　至于拿到直销牌照后会否增加专卖店，徐经理表示要根据市场需要和国家政策而定，目前还没有详细的方案。“我们会按照实际情况一步一步踏实地往下走。”徐经理说。此外，由于《直销法》对直销人员提高了“入行门槛”，因此“完美”在招募直销人员时除了考虑市场需要之外，还会考察其综合业务素质。<br>　　 </p> 
  <p>　 “仙妮蕾德”：本地业务稳中有升</p> 
  <p>　　 记者从仙妮蕾德（中国）有限公司（以下简称为“仙妮蕾德”）中山分公司陈经理处获悉，“仙妮蕾德”的“申牌”工作正在有条不紊地进行。陈经理表示：“在取得直销牌照之前，将继续沿袭特许经营店的模式，不允许任何个人经营。”<br>　　 <br>　　陈经理告诉记者，“仙妮蕾德”目前在中山约有150家特许经营店，业绩普遍良好，并没有受到申领直销牌照一事的影响。“中国人始终比较认同店铺消费。虽然店铺的营业增长率时高时低，但一直都在稳步上升。”陈经理说。<br>　　 <br>　　据了解，“仙妮蕾德”在1998年放弃了招收直销员的营销方式，推出特许经销店的店铺经营方式。2006年1月，经广州市对外贸易经济合作局批准，“仙妮蕾德”获准增加商业特许经营范围。目前，特许经营店铺是“仙妮蕾德”在中国大陆的惟一合法销售渠道。据介绍，取得直销牌照后，仙妮蕾德天津企业有限公司将全面负责直销业务，而仙妮蕾德（中国）有限公司仍继续管理特许经营店铺，两者业务将严格区分，互不交叉。<br>　　 <br>　 “仙妮蕾德”创办人陈德福曾表示，即使将来取得直销牌照，仍将店铺经营作为业务重点，直销只是现有店铺模式的补充。“仙妮蕾德”希望在今年内将特许经营店增至20000家。</p> 
  <p><br>　 “玫琳凯”：暂不方便发表??论</p> 
  <p>　　 玫琳凯（中国）化妆品有限公司中山分公司委婉地拒绝了记者的采访要求。其城市经理透露，上海总部表示将在取得直销牌照之后再与媒体进行沟通。</p> 
  <p>　　资料链接：</p> 
  <p>　　直销与传销的区别</p> 
  <p>　 “直销”属于无店铺销售形式中的一种，它的特点是需要有销售人员参与，分单层次直销和多层次直销。在中国，“雅芳”是单层次直销的代表，“安利”则是多层次直销的代表。<br>　　 <br>　　无论是单层次还是多层次直销，直销人员的收入都跟销售额挂钩。即完成的销售额越高，提成比例也越高。<br>　　 <br>　　直销与传销最大的区别之一就在于获取收入的方式，直销收入应该主要来自于销售商品，而传销收入则不靠销售商品获得，即通过发展下线，并强迫下线消费来获取提成。<br>　　 <br>　　不过，对于多层次直销的团队计酬提成差额???不算直接来自销售，仍有争议。“雅芳”此次直销试点方案中“不允许团队计酬”因此也成为敏感话题。<br>　　 <br>　　在国外，直销是不允许被当作一种快速致富的手段来做宣传的，而在中国早期却出现过一些误导。团队计酬<br>　　 <br>　　团队计酬的销售方式，每个直销员的计酬方式不再局限于他本人所直接吸收培训发展的直销员，由他发展的直销员所发展的其它直销员所销售的货物也在一定程度上计入他名下。</p> 
  <p>　　记者手记：</p> 
  <p>　　如何换汤又换药？</p> 
  <p>　　 记者从各大公司获得的信息看来，“申牌”的进程正在正常有序地进行。虽然对于第二批直销企业何时能获得批复的许多因素尚未明朗，但相关企业似乎都波澜不惊。一位不愿意透露姓名的某直销企业员工直言不讳地对记者说，团队计酬其实并没有真正取消，只不过外在形式变了，一切都???是“换汤不换药”。她认为，这并没有什么不合理：“只有这样，经理或主管才会公平地、齐心协力地和团队一起工作。这难道不是一种正常的激励机制吗？”或许，持有这种论调的人并不在少数。<br>　　 <br>　　有专业人士认为，团队计酬本来就是直销业的“核心”所在，只是中国直销业在成长的过程中走了许多弯路。当人们无法区分合法直销与非法传销的时候，就难免谈虎色变。现在国家要给直销业一个名正言顺的身份，直销业也很配合地作出适当改变，以迎合国人的消费心态，对消费者而言无疑是一件好事。只不过，作为一种“舶来”的经营模式，直销企业要真正“换汤”又“换药”，在经营理念与心态上恐怕仍需要一段较长的磨合期。</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p align="right">来??:中山商报</p> 
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzYxYjQyZmY4MjUwZDc1NGNlZGE0.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>