<div class="left_art_zw"> 
 <h1>《七月与安生》染发效应，发型师必学的闺蜜染</h1> 
 <p class="left_art_zw_zz"> 来源???施华蔻美发世家供稿&nbsp;&nbsp;&nbsp; 时间:2016/12/22 14:23:40 </p>  
 <p class="dd"> 施华蔻特邀专业技术主管何西宁亲授闺蜜然独家秘方。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">随着“七月与安生”这部电影在口碑和票房上的双丰收，两位女主角又在金马奖上同时斩获最佳女主角的奖项，“闺蜜”热潮再度卷土重来。几乎在每个人的成长经历中，尤其是对于80、90的独生子女来说，“闺蜜”更有着举足轻重的分量，他不仅是朋友，更像是亲密无间的好姐妹。也许有些精明的发型师，已经猜到了哈妹本期的意图。没错，当满大街还只是在为闺蜜们拍摄写真留念的时候， &nbsp;“闺蜜染”（特指两个闺蜜之间的同款色染发概念）——绝对能脱颖而出引爆染发潮流，快让你的客人约上自己的闺蜜，染一个只属于两个人的闺蜜色吧。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjVhMTE4YTJkMDQ3ZTgzZDUxNjg0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">看到这里，你也许还没有概念，觉得不知从何下手？没关系，本期哈妹特邀施华蔻专业北区技术主管何西宁（Gino He）亲授闺蜜染独家秘方。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzU0ZmFhMDE1MTFlMDhjZGVhZTY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">Gino He何西宁</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2008年加入施华蔻PPS团队；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2013至今，成为Color Force施华蔻色彩大使的一员。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">正片开始之前，Gino老师友情提醒各位：闺蜜的感情固然深厚，但请千万记得，颜色可以同款，但绝不能百分百一样，这样才能避免争执。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>闺蜜染主题色No.1——暖冬蜜棕（专为甜美系闺蜜打造）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">这款发色听到名字就觉得超级甜蜜啦，色泽低调自然，非常显白，很适合亚洲人肤色。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">短发款</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWZjYWIyYjcwMTQ2NzI5NWQxYjFi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>独家配方：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、7-57+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、9-98+E-1+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">长发款</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDYyODY4NTc2YzllMGNlYjUxZjY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>独家配方：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、7-57+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、L-57+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、12-0+12%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWM0YTk0MDQ4YjUxYmFmMmU2MDQ1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>闺蜜染主题色No.2——摇曳酒红（专为御姐系闺蜜打造）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">摇曳酒红色突显强大气场，御姐范儿势不可挡。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">短发款</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2Y0NGViMDMxYzQ2OTZhZTBkOGEz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>独家配方：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">底色5-99+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">刘海区L-88、9-98、L-89+12%交替片染</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">长发款</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTRhNzcxMDUxYTE1ZDM4YmMwY2Qw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>独家配方：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">底色5-88+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">刘海L-88区域染，边缘加一片6-99+9%</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzMyMTYwYmJmYzRhZWY4NzRhMWQy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>闺蜜染主题色No.3——冷艳酷灰（谁说闺蜜必须都是女生）</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">冷艳酷灰，张扬???属于自己的个性，不屑世俗桎梏，独特帅气。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">精彩亮点：当今社会，闺蜜早已不限于女生和女生之间，越来越多的女性身边都有男闺蜜的存在。男闺蜜身兼“男人”与“姐妹”两个角色，他能为女人提供一种不同性别的视角看世界。如果你身边正巧有个男闺蜜的话，赶紧带上他来个闺蜜染吧。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">短发女款</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWIxMDdiMmQ0MjcxYTMwMDI2ZWMx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>独家配方：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">漂粉+6%（1:2）褪浅到9度</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">12-19+0-22+3%（25:1:51）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">短发男款</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzYwMDAxNjgxOWEyMTQ5MjljZGEx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>独家配方：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">漂粉+6%（1:2）褪浅到9度</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">底色12-0+6%（1:2）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">挑染区域配方为9.5-1+0-11+0-33+3%（20:10:1:31)</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2JlYmVhYjk1ZmQ5ODc5ZTYwNjE5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三款闺蜜色已全部分享给大家。现在你们要做的，就是奔向告走，为你的客人推荐最新的潮流“闺蜜染”。既能见证她们彼此间的深厚友情，又能提升店内业绩，何乐而不为。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MTNmYzZiYzcwY2FmNDljZjA3Yzcz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>