<div class="left_art_zw"> 
 <h1>《健康相关产品卫生行政许可程序</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-5-25 9:57:00 </p>  
 <div class="wz"> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp; 《健康相关产品卫生行政许可程序》将于2006年6月1日起正式实施。为配合《程序》的实施，卫生部制定了《健康相关产品生产企业卫生条件审核规范》、《卫生部化妆品卫生行政许可申报受理规定》、《卫生部消毒剂、消毒器械卫生行政许可申报受理规定》、《卫生部涉及饮用水卫生安全产品卫生行政许可申报受理规定》及相关许可申请表。<br>&nbsp;&nbsp; <br>　 《健康相关产品生产企业卫生条件审核规范》所指健康相关产品生产企业卫生条件审核是在健康相关产品卫生行政许可实施前对该产品生产环节有关内容的核实，并应在向检验机构送检产品前完成。该《审核规范》要求在下列情况下需要进行生产企业卫生条件审核：国产化妆品、消毒剂、消毒器械和涉水产品首次申报许可；已获得许可的国产化妆品、消毒剂、消毒器械和涉水产品因变更或增加实际生产现场申请变更许可批件；许可过程中认为需要进行生产企业卫生条件审核的情形。<br>&nbsp;&nbsp;&nbsp; <br>　 《审核规范》提出，申请单位应当向该产品实际生产现场所在地省级卫生监督机构提出申请。《审核规范》规定了相应申请单位应提供的材料。省级卫生监督机构在接受申请后10个工作日内出具书面审核意见，需要现场审核的，应于接受申请后5个工作日内指派2名以上（包括2名）工作人员（至少2名为监督员）前往现场执行审核任务。健康相关产品生产企业卫生条件审核分为现场审核和资料审核两种方式：消毒剂、消毒器械和涉水产品采用现场审核的方式，并采样封样；化妆品一般采取资料审核的方式，根据以往对生产企业许可和监督情况，对企业提供的文本资料进行核对。<br></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:中华人民共和国卫生部</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDdhMzMyMzFhOTI1MTg2MjA1NTI5.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>