<div class="left_art_zw"> 
 <h1>《奇幻魔发师》8月3日爱奇艺独家首播！谨以此片，献给所有用辛劳创作美的发型设计师们！</h1> 
 <p class="left_art_zw_zz"> 来源：沙龙会供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/1 17:27:50 </p>  
 <p class="dd"> 近日，中国首部发型师题材的网络大电影《奇幻魔发师》即将在爱奇艺VIP会员独家上线。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>狂妄青年的奇幻经历</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>发现真我改变人生</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZGVmNDQ1OTg2NjM2NmE1MTM5ZTY2.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><span style="font-family:&quot;font-size:14px;">扫描下方二维码观看视频</span><span style="font-family:&quot;font-size:14px;"></span><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><img src="/image/information/ZmUxMDg0MzhhNzdkNTFhN2MyZGFi.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">近日，中国首部发型师题材的网络大电影《奇幻魔发师》即将在爱奇艺VIP会员独家上线，爱奇艺VIP会员可在爱奇艺多终端享受《奇幻魔发师》高清优质的观影体验。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjVhYmMzYzlkYzU4ZTc5OTUyMTcx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YTI4ZDcwZWMyZDVlYTFlMTI1ZmQw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">《奇幻魔发师》主打奇幻、喜剧元素，讲述一个狂妄青年奇幻变身后，经历了一系列事情从而成长发现人生真谛的故事。《奇幻魔发师》以一种十分欢快的喜剧展现手法，传递了一个正能量爆棚的中心思想。兄弟之间的反目成仇，到重新交好。女友之间的形同陌路，到破镜重圆。影片虽然是讲述一个奇幻的故事，其实在号召年轻人勿忘真我的坚持。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjY5ODc3ODUwYmRhOGRiYzlkN2Vj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">据了解，《奇幻魔发师》由??州微木文化传播有限公司出品，北京溢彩影视文化传媒有限公司独家发行，出品人沙龙会、微木影视，王子建、邓雅云监制，导演林可昕执导，洛奇、肖炽彬编剧，高锵制片，香港TVB花旦杨思琦、内地着名歌手海鸣威、青年演员郑建鹏、着名笑星刘汗领衔主演。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjRkMGVmOTliZjE3MGU4MDgyMmU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">《奇幻魔发师》主要讲述国内知名造型机构总监Andy和前女友、好兄弟决裂后，驾车远离闹市，到达一个偏僻的小巷看见一家叫“从头开始”的发型屋遇到一名神秘老人，神秘老人舒展魔法将其变成另一个普通人模样，一无所有的他通过努力一步一步往上爬，并找回一度失去的爱情与友情的故事。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDE5MjRjM2FhMmM3MDZjZDkyNjI3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>狂妄青年的蜕变之旅</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">当今是一个浮躁社会，狂妄自大青年层出不穷。影片《奇幻魔发师》以男主角Andy的故事展开，演绎了一个狂妄自大男青年的奇幻自我救赎经历。影片通过奇幻元素包装，讲述男情人成长的励志故??。虽然看似是一部喜剧，但是却能够引发人深思。因此，影片可谓是年轻人在成长过程中值得观看的一部影片。在题材丰富的网络电影中，《奇幻魔发师》无论从题材还是制作，都称得上是一部网络电影中的精品佳作。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTg4M2Q2ODcwNDYzZjM5MTM4ZTMx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">《奇幻魔发师》将于2017年8月3日在爱奇艺VIP会员独家上线，爱奇艺VIP会员可在爱奇艺多终端享受《奇幻魔发师》高清优质的观影体验，暑期热映，发型师盆友们和发型师的顾客盆友们，我们共同期待！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OGM2NWJjNDhiMzllNTcyODFlNWRm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>