<div class="left_art_zw"> 
 <h1>《志明与春娇》即将上映，春娇同款短紫发要点发型师必须Get</h1> 
 <p class="left_art_zw_zz"> 来源：肯洲美发学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/24 14:30:12 </p>  
 <p class="dd"> 百搭朦胧棕、梦幻人鱼蓝、纱雾粉棕、紫檀雅黑，肯洲潮色汇，一周一度色彩配方，解密当下最新时尚潮色。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">百搭朦胧棕——空气般的质感，由此带来的慵懒效果，充满光泽感的发色，更衬出皮肤白皙。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmMyM2YyNmJkYjU1MWUzNDc4MzBm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">梦幻人鱼蓝——时尚个性的色彩演绎出不一样的你，亮眼发色增添青春活力，让你在人群中脱颖而出。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzY2YjBmNTMzNDlmMjU2MzM2NDkz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">纱雾粉棕——粉粉嫩嫩的发色和它的名字一样清新柔美，俏皮可爱的风格，显得青春活泼，减龄效果出色。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjgzZmJlN2RlYmVlZTI5ZTU5OTky.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">紫檀雅黑——极具光泽感，看起来更是自然优雅，高贵迷人的紫色，打造出不一样的神秘感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmI3ZjhjNjRhNTE3OTBlMjhhZjVl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">奶茶栗棕——甜美的发色，而且很显皮肤嫩白，瞬间变身时髦girl，越看越吸睛！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWU2ZGNjYTNiZTg3Yzk4NTM4YTEw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">清新芥末绿——带来了安宁的感觉，也是和大自然的一种连接，潮流时尚，彰显个性又不过分张扬。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDI4NmM5ZTBjNTlhZWQ0NzM0ZDcw.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MjMzZjU5MWQ5OGJjYzcwMzBmNTI4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>