<div class="left_art_zw"> 
 <h1>《奇幻魔发师》顽少海鸣威邂逅杨思琦???奇幻爱情再续前缘</h1> 
 <p class="left_art_zw_zz"> 来源：沙龙会供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/4 16:13:17 </p>  
 <p class="dd"> 中国首部发型师题材网络奇幻爱情大电影《奇幻魔发师》正式在爱奇艺VIP视频独家热映。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTljNDIzNjQyYzc3MjlmYTBjMWM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">今日，中国首部发型师题材网络奇幻爱情大电影《奇幻魔发师》正式在爱奇艺VIP视频独家上映了，爱奇艺VIP会员可在爱奇艺多终端享受《奇幻魔发师》高清优质的观影体验。影片通过一个奇幻的理发店，讲述了Andy从头再来的人生，先抑后扬的叙事过程也体现了不骄不躁积极向上的中国梦，以及社会主义正确价值观。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzBlOWZmMWY5ZGM4Y2JhNTA3MTUw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">《奇幻魔发师》由广州微木文化传播有限公司制作，微木影视与沙龙会出品，北京溢彩影视文化传媒??限公司独家发行，导演林可昕执导，王子建、邓雅云监制，洛奇、肖炽彬编剧，高锵制片，香港TVB花旦杨思琦、内地着名歌手海鸣威、青年演员郑建鹏、着名笑星刘汗领衔主演。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWEyZDY5ODdkMjZlNWMzODJmOTM4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">《奇幻魔发师》主要讲述国内知名造型机构总监Andy和前女友、好兄弟决裂后，驾车远离闹市，到达一个偏僻的小巷看见一家叫“从头开始”的理发店遇到一名神秘老人，神秘老人舒展魔法将其变成另一个普通人模样，一无所有的他通过努力一步一步往上爬，并找回???度失去的爱情与友情的故事。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDYxMmI4ODJiZmQ3ZWYwZjNlMGI0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzE3ZDBkZDcwM2IwZTRlNDZiZmZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">本影片通过对造型师安迪从学徒生涯接触到了很多富贵和落魄的客人，从中得到反思和激励，觉得自己不能安于现状，生活及工作懒懒散散，要作长远规划和打算，于是决心要开创一番大??业，以及对年轻人创业的激情与梦想、创业过程的困惑与辛、年轻人爱情生活、年轻人的友谊等记叙，表现了国内理发行业年轻人辛苦劳作、拼搏进取，又积极向上的事业图景，生动地展现中国梦，展现当下中国年轻人的追求奋斗和时代精神，弘扬中华优秀传统文化，反映年轻人的心愿和心声，关注时代发展和进步，给人以昂然向上的精神力量，增强对美好生活的信心和向往。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTMyYzkxOGI2OTI1ZmYwNzI2NzM1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2ZmNjZmOTZlNzVkODU4MTE1MGM5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp;本影片用社会主义核心价值观和人类优秀文明成果滋养社会，为广大网民特别是青少年营造风清气正的网络空间。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作为中国首部发型师题材的影视巨作，该片打破了发型师在大众脑海中“洗剪吹”的偏颇印象，让沙龙的顾客们更多地了解发型师的情感、追求与梦想！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <span style="font-size:14px;font-family:'Microsoft YaHei';"> 
   <div style="text-align:center;"> 
    <span style="line-height:1.5;"><strong>《奇幻魔发师》，爱奇艺VIP视频??家热映中。</strong></span> 
   </div> </span> 
  <p> <br> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MjFkMDQ1YWIwZWRmN2ZjNDZjNGIy.jpg" alt=""> </p> 
  <span style="font-size:14px;font-family:'Microsoft YaHei';"></span> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzExZTJkMzM0MDZkMzQzZGMxYjZm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>