<div class="left_art_zw"> 
 <h1>《百变物语》教你盘起美美的芭蕾舞演员发髻</h1> 
 <p class="left_art_zw_zz"> 来源：人民邮电出版社供稿&nbsp;&nbsp;&nbsp; 时间:2016/7/18 14:33:55 </p>  
 <p class="dd"> 美眉们也许会被芭蕾舞演员的编发惊艳到，想和她们一样拥有美丽的发髻，《百变物语》教你轻松做编发达人。 </p> 
 <div class="wz"> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>教你盘起美美的芭蕾舞演员发髻：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">大多数女芭蕾舞演员喜欢??自己的头发扎成一个紧紧的芭蕾髻，简单的发型，也有许多创意有趣的方法装饰。古典唯美、文艺范儿十足哦！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">开始之前你需要准备一个盘发器，如果你没有盘发器，可以把袜子的脚趾部分剪掉，然后将它卷起来做成一个盘发器。好了，我们开始吧！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTAxMTdlYTQ2ODJkN2ViZDU5ODUz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">1、这就是盘发器，看起来很像甜甜圈。我所使用的是深色的盘发器，这样你就可以清楚地看到我是怎样用它的。你只要选择和你发色类似的盘发器就好了。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MjI3NThhYzc1MGI3NDlkNzg4N2Iw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">2、将头发拢成一个高发尾，并将马尾穿过盘发器的洞。盘发器要放在马尾根部的位置。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YmEyZjhjNTExOTk5NDM4N2Q0ZTM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">3、将头发如图包住盘发器。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YjhlNjRmZmZlMjYxYmJjY2E4YjUy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">4、用一根细的发圈扎住盘发器。这一步是为了整理好所有的头发给后续编发腾地。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NzMwNjQ2OTYwYTc0OGI4NWZhMzAx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">5、从前部取一小束头发并分成三份。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZTkzMDIzZDgwYmNjZTkxNzM5OGQ5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">6、现在你要做的就是将靠近头部的那一束（底部发束）放在中间发束之下。把靠近发髻的那一束也放在中间???束之下。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OGUxNmE5OTQwNGQ4NTBhZGI3MDA2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">7、往底部发束加入新的发束，将它织在中间发束之下，并将顶部发束也织在中间发束之下。注意！不要往顶部发束加入新的头发。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZmVjYjA0MWZiZmUzMTIyOTA5YzVj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">8、继续绕着发髻编发，这一步你需要把手移到前面来开始向上编。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/ZGE4ZTlhYTg5NGQ5MzE5YjNiYTMy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">9、当所有的头发都加进去了，继续织三股辫直至发尾，用透明发圈扎住发尾。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OTliYzM4ZDIxOTVjYjA5YTcxMDE1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">10、用你的非惯用手抓住发髻，另一只手去掉发圈。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/OWJjZmY3ODc4MmM3MTI0MjFhZDYy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">11、这一步是可选的：如果你想要更厚实的辫子，可以将辫子稍稍拉松。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTQ3MzNmNTA5YmM1OTg5MmE2OWZm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">12、现在我们要固定发型，将辫子绕在发髻周围。一边绕一边把发尾部分塞在固定马尾的发圈里。最后喷上定型喷雾。如果后颈处有很多烦人的碎发，将它们梳上去并用夹子固定。你可以把刘海拉出来，如果你有着齐刘海，配这款发型十分好看！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MzUzNDdjZDNlOTcxYzkzODMyZTNm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>小贴士：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">快速复习：做荷兰法式编发时，是将外层的发束往中间发束之下来编。至于侧分，就是说每次你只需要加入一束发束而不是两束。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">将辫子尽可能地织紧并且尽可能靠近发髻，织得太松可是需要重做的。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">以上内容节选自人民邮电出版社《百变物语：一分钟???手编发60例》</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YzY4OTM2ZWI5MzdjZGNhNmM3OTdj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">ISBN 978-7-115-40085-7</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>作者:</strong>（美）史密斯</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>定价：</strong>39元</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>购买链接：</strong>http://item.jd.com/11775559.html</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>内容提???：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">本书通过经典编发案例，详细分解当下流行的英伦编发款式。书中从基础的发质类型、基础保养、编发工具与基本手法讲起，深入浅出，分享了9大类（基础辫、荷式/法式辫、鱼尾辫、马尾辫、正装辫、扭辫、打结/发髻、扭转辫、拉花辫）共60款编发案例，适合休闲、上班、晚宴、婚礼等各种场合。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>作者简介：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">Abby Smith是网络<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>达人，通过一系列的编发视频教学广受网友的喜爱与追捧，三年的时间里，Abby Smith在Youtube上的粉丝越来越多，人气越来越高。于是，她相继出版了三本关于编发的图书，并建立了自己的编发网站???http://www.twistmepretty.com）。</span> </p> 
  <p> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGE2NDNkYTFkMzk1ODBjZmZlN2Fm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>