<div class="left_art_zw"> 
 <h1>《规范》禁止化妆品虚假夸大用语</h1> 
 <p class="left_art_zw_zz"> 来源：北京商报&nbsp;&nbsp;&nbsp; 时间:2007-1-11 9:55:00 </p>  
 <div class="wz"> 
  <p>　　卫生部监督局将于今日公布《化妆品标签标识管理规范》。《规范》中，将禁止化妆品在其包装上使用抗皱、“高效”、“全效”等虚假夸大用语。</p>
  <p>　　笔者在刚看到这条规定的时候，还有些疑惑，好像所有的化妆品都说自己“抗皱”，难道这也是夸大？</p>
  <p>　　笔者特意查了一下化妆品抗皱的测试资料。路透社援引一份由欧洲一家专门测试化妆品实验室的测试结果。测试选取市场零售价在19到355美元的多种化妆品，请30至70岁的女性试用，每种产品20人左右试用。</p>
  <p>　　参加实验的人，只在一侧脸上涂抹抗皱产品，经过12周的时间，只有少数产品有效，并且即使效果最好的产品，减少皱纹深度的程度也不超过10%，肉眼完全无法分辨。</p>
  <p>　　这让笔者联想到一句经典的广告词：“今年19，明年18。”可以不客气地说，现在国??的药品、医疗、化妆品等广告，夸大、虚假成风。</p>
  <p>　　频频有各类广告，用专家、用户、外国人向消费者赞扬自己产品的神奇疗效。前段时间，曾有化妆师站出来，证明所有的化妆品广告所展示的疗效都是化妆的结果。</p>
  <p>　　笔者曾看到一个号称祛斑的美容产品，在电视里做实验，当时就能把金鱼身上的斑纹洗掉，花金鱼变白金鱼！笔者当时一阵眩晕，这样明显违背客观事实的广告居然能够播出，实在令笔者难以接受。如果真有这种改变物种的神奇化妆品，绝对能够获得诺贝尔医药奖了。</p>
  <p>　　各类误导、夸大、甚至是欺骗的广告能够堂而皇之地上各个媒体，可以说是监管问题，但是归根结底是企业的诚信问题。一个整天把心思放在忽悠消费者上的企业，很难想象它能做出什么有价值的产品。</p>
  <p>　　建立企业的诚信体制，才是解决这类问题的根本，??则，今天你不让它说“抗皱”，明天它就说它的化妆品能让你“长生不老”。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODdkOGZjMjBiYmExZmJhMTQzZjAw.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>