<div class="left_art_zw"> 
 <h1>《鉴别报告书》显示天龙</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-8-13 12:40:00 </p>  
 <div class="wz">
   新华网河南频道8月11日讯&nbsp; 河南商报报道：（记者谢朝红沃林婀娜实习生谢虎）郑州上百家超市涉假宝洁一事有果。 
  <p>&nbsp;&nbsp;&nbsp; 宝洁公司的鉴别报告显示，天龙公司配送的产品８０％以上都是假的。 </p>
  <p>&nbsp;&nbsp;&nbsp; ７月６日和７月７日，本报连续对郑州百家中小超市销售“郑州二七区天龙洗化商行”所提供的宝洁系列产品疑为假冒产品作了重点报道。 </p>
  <p>&nbsp;&nbsp;&nbsp; 昨日下午，记者获悉，工商和 </p>
  <p>&nbsp;&nbsp;&nbsp; 宝洁公司打假人员７月６日在家中福中原店等超市抽检的“潘婷”、“飘柔”、“海飞丝”、“伊卡璐”洗发露和“玉兰油”沐浴露等宝洁产品的鉴定书已经做出。 </p>
  <p>&nbsp;&nbsp;&nbsp; 在棉纺路工商所，记者看到宝洁公司的《鉴别报告书》中，宝洁公司对家中福中原店送检产品定下结论：“除５瓶为真产品外，其余４７种属于假冒宝洁公司厂名、???址以及侵犯宝洁公司注册商标专用的产品。” </p>
  <p>&nbsp;&nbsp;&nbsp; 南阳新村工商所副所长赵华告诉记者，他们一个月前查扣的２４０５瓶宝洁“问题”产品，只有２０％是真货，有８０％都是假冒产品。</p>
  <p>&nbsp;</p>
  <p align="right">引自：河南商报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NWMyZmRiNmFlZWYwODNjMmFhMGE0.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>