<div class="left_art_zw"> 
 <h1>「金圣美」美颜霜水银超标须停用</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-10-7 13:59:00 </p>  
 <div class="wz"> 
  <p align="center"><img src="/image/information/ODIxNzVjMGMwMjdlMTMzZTM2NmVk.jpg"></p>
  <p>　　卫生署今天证实1宗水银中毒报告，并呼吁市民立即停用名为「金圣美」的美颜产品；并已设立热线2125 1133，接听市民查询。有关个案已转交海关调查。</p>
  <p>　　&nbsp;热线今天运作至晚上8时，周一（10月9日）起在办公时间内接听市民查询。</p>
  <p>　　有关个案的患者是名34岁、声称曾使用该这产品的女子，因足部及面部肿胀，9月14日到伊利沙伯医院求诊，发现血液含高水银量。</p>
  <p>　　该名女子表示，曾使用「金圣美」美颜霜，以及两种没有标签的美颜霜；有关产品均是今年较早前从深圳的朋友取得。</p>
  <p>　　医院管理局的毒理参考实验室从她取得该3种产品作化学分析，结果显示，「金圣美」美颜霜的水银成分为百万分之74,810，其他两种美颜霜的水银成分，分别??百万分之31.5及百万分之38,040。</p>
  <p>　　国家标准的化妆品卫生标准列明，化妆品水银限量为百万分之一。根据欧盟有关化妆品的指令，水银不可成为化妆品的成分，但容许如在良好制造过程中，技术上不能避免产生微量的有关物质。 </p>
  <p>　　卫生署设有有效的机制，监测重金属中毒个案。今年至今未有收到与其他美颜霜有关的水银中毒报告。</p>
  <p>　　根据《消费品安全条例》，任何人不得进口、制造或供应消费品，除非该等消费品符合一般或认可的消费品安全标准规定，否则即属违法。</p>
  <p>　　违例者首次定罪可被罚款最高10万元及监禁1年，其后各次定罪最高可被罚款50万元及监禁两年。</p>
  <p>　　消费者如对不安全消费品有任何疑问或投诉，可致函北角渣华道333号北角政府合署11楼海关消费者权益保障及检控事务科，或致电海关热线2545 6182。 </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">转自：香港政府新闻网</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZTcyN2U4ZmRlM2FjYjYxM2JlZmM5.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>