<div class="left_art_zw"> 
 <h1>【品牌课程】东田国际造型师全能班报名预定???!</h1> 
 <p class="left_art_zw_zz"> 来源：东田造型供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/30 15:41:18 </p>  
 <p class="dd"> 12月18日，东田造型学校北京校区带来国际造型师全能班，你想知道的那些干货技巧，这里应有尽有。 </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">12月18日，东田造型学校北京校区带来国际造型师全能班，你想知道的那些干货技巧，这里应有尽有。</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTg0ZjJjYmQzYjQyNDljMjI2ZGQ3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmI5OWRiMmVmMDdjM2IzMTMxYTY5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmRiOGI3YTAxNmI0MDFkMzU3NTI2.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGUxMzRmMDdjMTMxZDk5NGQzOWNk.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>