<div class="left_art_zw"> 
 <h1>??个能做百年头皮的产品真的能解决客户头皮健康吗？</h1> 
 <p class="left_art_zw_zz"> 来源：资生堂专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2016/9/14 16:07:02 </p>  
 <p class="dd"> 近日，第八届中国发博会在上海隆重举行，作为参展方之一的资生堂专业美发倾力献上资生堂百年头皮护理展。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年9月9日—11日，第八届中国发博会暨2016上海国际发型时尚周于上海世博展览馆隆重举行！作为重要参展方之??的资生堂专业<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>于T5展位倾力献上资生堂百年头皮护理展，让我们一起去回顾展会的现场</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">吧。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmVjMDUyOWQ1MGZjN2NmNzMwMWUx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDllNGEyZjY2NGI3NWU3NjMyYTg1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在T5展位现场，???示着资生堂专业美发的百年历史，自资生堂首任社长福原信三先生研创FLOWLINE开启了百年头皮守护之旅起至今的点点滴滴。与之对应的照片墙上，则记录着之前历时3个月，席卷全国各大城市的“头皮百年，不老传奇”头皮能量科技奢享体验会系列活动的精彩瞬间。历史与今天在这里完美融合！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTRiMDFhY2FjYjc4NzUyMzcyNDAw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTA4NzY3ZGEwNjJjZDRiMzQ1YThk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmU2YWJjMDQ5ZGU1YzNiMDBmYTQx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在现场，更是展出了资生堂专业美发的护理道全系列产品，包括新品护理道芳氛头皮活泉系列哦！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmRmOWJmMmNmNDFmMzM4Mjc3NTRm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTc1ZmE4YzM4NjgwMzQzMWFmMTA5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGU2ZmExYWI4MjNjYzMwODAxY2Fk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGJiN2VmYTljYWFmMjg2MWI4MzJj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjJkMTdlYWQ4YjkwMDJjYTM2ZmM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmI1ODc4NTgzMjViMjczNjVhNmM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">展会期间，资生堂专业美发还携手宝贝蒙，在现场设立头皮护理空间。体验现场人头攒动，而资生堂全球专业美发事业部高级副总裁Katharina女士与资生堂中国专业美发事业部长吴忆慧先生也亲临展会现场，共庆百年盛典。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjU5NDc4MGIzMWZiMDFkNzI4ZTkz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjIyMGY1NTlkNzFiMDFlZmI1NzA2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmJkZjBhZjQ4NGRhYTY1NjkyMTJk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGU2N2JhZWEwNDJiYjcxOGMyZTQ3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njg2MTg2M2ZhNTkzODc0Y2UzM2E5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">这场吸引了50000余名来自世界各地的发业大咖与名人、全球150多家影响力媒体矩阵全程报道、覆盖传播的盛会也为我们“头皮百年，不老传奇”系列活动画上了一个完美的句号。但资生堂专业美发在头皮护理的道路上会一直不断前进，希望能与您一起孕育健康秀发，缔造至美新生！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YTQwM2QyZTQ1NWFlMzk5NzhhYWEy.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>