<div class="left_art_zw"> 
 <h1>一个专属于技术进修者和创意大师的定制???程，揭秘独家设计公式</h1> 
 <p class="left_art_zw_zz"> 来源：肯洲美发学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/8 11:55:14 </p>  
 <p class="dd"> 一发千色，匹配度才是发型设计的极致体现。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/MDNkYTkzZTEyYThhZDJmMTczYzE4.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/OTdiZTIxNTlhYzY0M2NiMGYxMTRm.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/NDk2ODQ2ODVlNGM1MWYyOTYwYmEz.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/ZGY1YjQ5NDJhYjk2Yzk1ZWMyMjg2.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/OGFmMDY5NTE0ZTBlNTg4NDYyYTQw.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/NzhhMmMzNzY3ZDRiOGNiODc4OGU5.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/ZGY0MGIxZTI5OTU0YzQ2ODA2YzJl.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;"><img src="/image/information/NzY2YjM4ZGE0MmVjN2M2MzUzNDRl.jpg" alt=""><span style="font-family:Microsoft YaHei;"></span></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Njg1ODNlMmVkNzNmOTJhNWU3M2Nl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>