<div class="left_art_zw"> 
 <h1>一场美发界的奥林匹克！2017威娜国际趋势公开赛英国伦敦总决赛精彩落幕！</h1> 
 <p class="left_art_zw_zz"> 来源：Wella威娜专业美发供稿&nbsp;&nbsp;&nbsp; 时间:2017/10/16 11:19:06 </p>  
 <p class="dd"> Mana Dave 和 Kylie Hayes 分别荣获总决赛铂金奖，摘下全球桂冠！ </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OWQ3NjA2NTA4M2UxMzMxYjY2NTE0.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:';font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">素有“</span><a href="/cg/2.shtml" target="_blank"><span style="font-family:Microsoft YaHei;font-size:14px;">美发</span></a><span style="font-family:Microsoft YaHei;font-size:14px;">界奥斯卡”美誉的威娜国际趋势奖，昨日在英国伦敦举行 2017 年威娜国际趋势公开赛总决赛!</span></span><span style="font-family:Microsoft YaHei;font-size:14px;">来自世界42 国的 82 名顶尖<a href="/cg/2.shtml" target="_blank">美发</a>师云集一堂，以他们的<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>天赋演绎出全球最新趋势发型，争相角逐这一发艺殿堂的冠军头衔！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">代表各自国家出赛的选手高举旗帜缓缓入场，宛如一场美发界的奥林匹克！</span><span style="font-family:Microsoft YaHei;font-size:14px;">本年度奖项覆盖全球美发行业从业人员???入围者从数十万报名者中遴选而出。他们都获得了本国的国家趋势奖，才有机会到达梦寐以求的时尚之都。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MGQ5ODI3MzkzMjc1NjhlYzYxNjQy.jpg"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">每个人都准备了富有创造性的杰出作品，以展示他们在各自特定领域、如色彩或创意领域的技能。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/ODU0NmRlMWRlODNmYTBjMzVjZDAx.jpg"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">经过激烈角逐，来自新西兰国家的Mana Dave 和 Kylie Hayes 分别荣获 2017 威娜国际趋势公开赛伦敦总决赛铂金奖，摘下全球桂冠！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><img alt="" src="/image/information/YTgzZTExMzM0Njg0NTA0M2NjNjVm.jpg"><br> </span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>Mana Dave</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><img alt="" src="/image/information/M2NjYjQxNTZmMWMzOTMyOTM4NGQz.jpg"><br> </span> </p> 
  <p> <span style="font-family:';font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>Kylie Hayes</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">活动现场还隆重发布了2018 年威娜春夏趋势。极具创意的高级定制发型与个性化趋势发型，融合了时尚及创意产业最为前沿的潮流与最具影响力的造型，带来全新视觉享受和趋势演绎的饕餮盛宴，不断为全球的造型师注入创意灵感！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/MGMxZjZkMWRhMmI5ZTIzNTgwODlk.jpg"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">值得一提的是，来自中国的参赛选手黄正元、苏少波先生，凭借着对威娜发型趋势的独特演绎、精湛的修剪及染发技艺，在赛中博得了评委及国际造型师的好评，中国的美发实力以及潮流触觉已经被国际大师所肯定！</span><span style="font-family:Microsoft YaHei;font-size:14px;">中国美发师能站在这个舞台上，证明了中国美发行业新生力量的不断壮大，不断崛起！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><img alt="" src="/image/information/NDRhMjIxZDM3ZGRjNzUyZDYzNzA2.jpg"></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">在当今的时尚界，中国文化正越来越受到广泛重视，很多大师都将中国元素融入他们的作品，中国博大精深的文化给了我们无限探索的激情。</span><strong><span style="font-family:Microsoft YaHei;font-size:14px;">而在美发界，中国实力也正逐步征服着每一个人！</span></strong> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">中国美发师在威娜国际趋势奖的舞台上以精湛娴熟的修剪技艺、对色彩的淋漓尽致的诠释以及对所演绎趋势的深刻理解，为全球发型师奉献了一场澎湃激情，绚丽夺目的视觉盛宴。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:';font-size:14px;"><img alt="" src="/image/information/Y2JhNGMxNzNkNzBlMWRlZTBlMWNi.jpg"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">威娜国际趋势公开赛是一场真正激发灵感的盛典，完美展现了多元化发型和无边界之美。美发趋势在东西方文化交融下擦出全新时尚火花！</span><span style="font-family:Microsoft YaHei;font-size:14px;">作为时尚引航者，威娜专业美发还将继续努力，带来更多美发奇迹！</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MTRjNTE2MGNjZWJlM2NmYzI0Y2Y5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>