<div class="left_art_zw"> 
 <h1>一家酒店SPA会所开业，他们请??了东田造型为50多人打造妆发……</h1> 
 <p class="left_art_zw_zz"> 来源：东田造型供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/29 14:00:08 </p>  
 <p class="dd"> 近日，东田造型成都店携手东田造型学校，助力费尔蒙酒店SPA会所开业。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">近日，成都费尔蒙酒店SPA会所（蔚柳溪）开业，东田造型成都店以及东田造型学校（东田教育）成都校区共同助力会所开业，为所有体验嘉宾、VIP客人以及模特打造时尚造型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzc1NjUzNWZkZDVlNDFiN2VkY2Q2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>忙碌的后台</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">东田造型成都店以及东田造型学校（东田教育）成都校区专业老师为50多人打造妆发造型，辛苦咯！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzM2ZjU4MTdkMjM5MmRiYWZiNjVh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDU0YTU0NTljY2RjN2NlZDU1MTAx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWI5YzIyOThkZmQ4MTYyYTk5Mzkz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">发型师——高源泽</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">东田造型学院讲师；东田造型资深发型总监。</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">媒体合作：昕微、瑞丽、各大综艺节目、国际车模大赛</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">合作艺人：薛之谦、何炅、张杰、魏晨、朱珠等</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTdlZDhkYzEyMWM2NDI1YmNkMGMw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDUwOTgyZDExMTk1MDk4ZDZhNzA1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTYyNWZlYjRmYWNiMGJmOTY4MmU4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">化妆师——游松 &nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">东田造型（成都）学校执行校长；国际认证高级化妆讲师；国家高级化妆师；国家高级形象设计师；国家电影、电视化妆协会会员；北京奔驰新车发布会化装造型设计等。</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">合作艺人：巩俐、谢霆锋、郑佩佩、吕燕、刘雯、马苏、张靓颖、李宇春、艾敬、黄英、张卫健等</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">合作品牌：卡宾、班尼路、欧时力、速写等服装品牌</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">成都棕榈泉费尔蒙酒店蔚柳溪水疗SPA会所开业，带领客人们度过了一趟精彩的生活方式旅程，向他们全方位展示了中心的各项设施与服务，也让客人们体验了一次无与伦比的造型服务。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzFkY2ZkN2Y0Zjc3NTFlZDhmZTI0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWU3NGU2MWIwZjk1NzYyZjIzNjg4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWI0OGI1M2UxZjkwNGY5ZDJlNDY3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDM5MWZhMzlhMTYwNDM0ZjJiMTBh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">别犹豫了，东田造型打造的了舞台妆，更能让你美的在生活里脱引而出。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>东田造型成都店</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">坐标：成都市锦江区东大街99号晶融汇商场2层211</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">电话：028-86586036</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTU2Y2VmZGU0MTFhOTExZGJhNmQz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmYxMTQ3MTk0YTgzZWI5NzRkM2Nm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzQ2MGZjY2Y2NTM5MjMzNjI5MGFi.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OWZiNjFmMTAyZDNjZDVmM2JlMjVi.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>