<div class="left_art_zw"> 
 <h1>一家三代手艺人，创造了100余年历史的品牌沙龙</h1> 
 <p class="left_art_zw_zz"> 来源：蕴特专业供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/21 14:12:56 </p>  
 <p class="dd"> 最近，蕴特国际总经理陈熠华先生参加了一场中日美业考察交流大会！ </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">最近，我们蕴特国际的总经理陈熠华先生参加了一场中日美业考察交流大会！没错，你没看错，就是中日美业考察交流大会！而且此次中日美业考察交流会，是由中国<a href="/cg/2.shtml" target="_blank">美发</a>美容协会发起的！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTRjN2I2YzkyMzkxN2JkYTE2OTM5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中国<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容协会（CHBA）是经中华人民共和国民政部正式批准注册为行业内唯一的一家全国性的社团法人机构，1990年4月16日成立，国务院国有资产监督管理委员会管理。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmYyNTlmZTE3NjE2MDQ5NjRmYjNj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">此刻，你应该知道：蕴特的国际地位有多大吧！广州蕴特国际，自2003年瑞士蕴特化妆品国际集团强势登陆中国大陆正式创立，如今已专注美发行业14年！其集研发、生产、营运、教育与服务于一体，旗下有清妙、优能、赋活、蕴草集等众多知名品牌，享誉国内外，是中国美发行业的领导企业！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjE0YmQ2YWI2NDIzY2JlOTZiMWU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">当然，此次中日美业考察交流大会，我们是带着谦卑的心去游学的???今天陈总一行人与日本好莱坞艺术形象设计学院理事长中山祥弘先生、日本理容协会理事长大森利夫先生和根津英和先生一起探讨了国际美业发展趋势，并参观了日本京都府理容美容专门学校。据知，这是一家开了三代，且有102年历史的百年老店。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDEyZGI0MDljYmIwZWJlYjkyZTE5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzMyODNiYTMyYWU4NTE3NmUxMDBm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmZiNjk5NTYyOGNkZTM5YTg4YWVj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGQzNDQwNzBkY2M2MmRjYTJkYWM5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">同时，今天谷雨时节，也是《蕴特2017蝶变领袖特训营》完满落幕的大好日子！陈总特别从日本发来贺电：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzU3MmI5ZjRmYmYxMGExYTdjYWI1.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NWM5NzkwYWQ1NDhiOTI3ZGU5ZGRm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>