<div class="left_art_zw"> 
 <h1>一堂解读“明星脸”的东方美学课程</h1> 
 <p class="left_art_zw_zz"> 来源：安东尼美发学院专业供稿&nbsp;&nbsp;&nbsp; 时间:2017/1/22 14:13:55 </p>  
 <p class="dd"> 安东尼时尚设计学院东方美学课程，在全球通行的美发技术与设计上，打造适合国人脸型头型的发型结构。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/YWY5OWQxMDJlZGQwYTY4MDVmMzQ4.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>主讲导师：</strong>Anton老师</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程时间：</strong>4天</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程费用：</strong>6800</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>适合人群：</strong>总监、设计师、督导</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程时间安排：</strong>3月11--14日、4月15--18日、5月12--15日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程摘要：</strong>东方人的特征</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">东方人的骨骼比例、发质、脸型、头型特征</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDI3NmE4N2Y0YWYzOGQyZGVkOGE2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTQ2YjMyOTdkMmZlMzBjZjNmNjQ5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">解读西方美学设计</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDRkM2I3N2QwNzRkYTIwYTIxOWU3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">人物风格气质</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjJlZjgxZDM2MWYwZDEzNzdlZDIx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTBhOWExYWMzNDFlZjM3MDkwZjU5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODExMTE0YjQxNTMyNDFhZTkxMzc0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzFlNzMxYjMwN2UyMjJiYWVhYzgz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">当代设计风格</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDI1ODllNjE5NjdiOGU2MTViNWNl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzdkZTY3MjAzZWFiNzRmODhmMzFh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">东方设计元素</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzVjMGQ4N2QxMDAyNDljZDAxZjlm.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Njc2N2Y2NjIyMDQ2M2IwNGE5ZjUz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>