<div class="left_art_zw"> 
 <h1>一抹上色，一洗即净？！换色新选择，让你潮百变！</h1> 
 <p class="left_art_zw_zz"> 来源：施华蔻美发世家供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/6 11:01:21 </p>  
 <p class="dd"> 2018，新年来临 是时候换个全新的幸运发色了，施华蔻幻变焕彩发蜡轻松DIY打造百变色彩新造型。 </p> 
 <div class="wz"> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">2018，新年来临，是时候换个全新的幸运发色了可漂染后头发干枯分叉受损的头发什么发色也驾驭不了，就没有什么一抹上色，一洗即净的造型神器吗？</span>
  <br> 
  <br> 
  <div style="text-align:center;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">施华蔻got2b Trendsformer幻变焕彩系列发蜡</span></strong> 
  </div> 
  <strong> <p style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">（野灰+炫粉+潮蓝）</span></strong> </p> <p style="text-align:center;"> <strong><br> </strong> </p> </strong> 
  <p align="center"> <img alt="" src="/image/information/Y2MyMjgwOThhNTQ5ZGZlYzUxNGEx.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">不仅拥有超强的定型塑型力，</span><span style="font-family:Microsoft YaHei;font-size:14px;">更能瞬间为发丝焕彩。</span><span style="font-family:Microsoft YaHei;font-size:14px;">轻松DIY打造百变色彩新造型，</span><span style="font-family:Microsoft YaHei;font-size:14px;">发色再深，也可一抹变色。</span> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">经典野灰</span></strong>&nbsp;<strong><br> </strong> </p> 
  <span> 
   <div style="text-align:left;"> 
    <span style="font-family:Microsoft YaHei;font-size:14px;">风靡ins的“奶奶灰”发色并没有随着时间流逝而被遗忘，反而后劲十足地向全世界的潮人们展示着独属于灰色系的隽永时尚感。</span> 
   </div> </span> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZGExYTgyMjY2YzIwODY5M2EyMWUz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">不仅仅是光泽感的背头造型，</span><span style="font-family:Microsoft YaHei;font-size:14px;">充满凌乱感的头发造型，</span><span style="font-family:Microsoft YaHei;font-size:14px;">也和“奶奶灰”发色十分相搭。</span><span style="font-family:Microsoft YaHei;font-size:14px;">苍白的色调，灰冷的视觉感，</span><span style="font-family:Microsoft YaHei;font-size:14px;">带有冷淡情绪感的色彩，</span><span style="font-family:Microsoft YaHei;font-size:14px;">依然是潮人镜头里的宠儿。</span><span style="font-family:Microsoft YaHei;font-size:14px;">可新年伊始，单调的灰色难免少些元气，</span><span style="font-family:Microsoft YaHei;font-size:14px;">新奇色彩，个性混合才能更出彩。</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p align="center"> <span style="font-family:Microsoft YaHei;font-size:14px;">施华蔻为你推荐两款新年开运DIY发色，只需“悦”动色彩，时髦随手拈来。</span><br> <br> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">「桃花粉——开启新年桃花运」</span></strong> </p> 
  <p> <b><br> </b><span style="font-family:Microsoft YaHei;font-size:14px;">桃花粉比普通粉色，视觉上更加柔和，很好的弥补了浅色发丝的毛躁质感，使整??看起来更具有时尚感与高级感。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/N2Q0NjFlNDVjYTkxNDg3ZTAyZDI3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:left;" align="left"> <span style="font-family:Microsoft YaHei;font-size:14px;">无论是单簇挑染桃花粉色，还是在集中发尾幻变色彩，都给人留下甜美清新的外在印象。同时令气质中散发出活泼的亲和力，因此，常常被明星红人所青睐，无论是街拍还是日常，都很抢镜。</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZjY3OGE1NWM2ZDcxMTUxMjVkYWQz.jpg"> </p> 
  <p style="text-align:center;"> <br> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">施华蔻焕变ING</span></strong> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">「野灰+炫粉」</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">Step 1 将需要上色的发丝均匀涂抹灰色发蜡，提浅发色；</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">Step 2 取适量灰色和粉色发蜡混合调出桃花粉色，在发丝上均匀涂抹。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">Step 3 用吹风机和小梳子整理发丝，如果想要发型更持久，可以搭配发胶定型。</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">这款2018开运 DIY桃花粉发色打造完成。</span> </p> 
  <p style="text-align:center;"> <br> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">「迷雾紫——预示新年梦幻神秘」</span></strong> </p> 
  <p style="text-align:center;"> <b><br> </b> </p> 
  <div style="text-align:left;"> 
   <b><span style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">出挑又不失神秘沉稳的紫色，</span><span style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">预示你的新年会有神秘梦幻的惊喜，</span><span style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">紫色一直是偏欧美潮人的心头爱</span><span style="font-family:Microsoft YaHei;font-size:14px;font-weight:normal;">青春率性的迷雾紫，更是无敌显白。</span> </b> 
  </div> 
  <p align="center"> <br> <img alt="" src="/image/information/NGRmYTYxMjM2MDIxMDdlNWI0MzE3.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">吸睛的迷雾紫披肩发，温柔又不失个性</span><span style="font-family:Microsoft YaHei;font-size:14px;">和黑色上衣完美相搭，</span><span style="font-family:Microsoft YaHei;font-size:14px;">既蓬松随性，又酷劲十足。</span> </p> 
  <p style="text-align:center;"> <br> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>施华蔻焕变ING</strong></span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">「野灰+炫粉+潮蓝」</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZTc2ZTBjNGYxOWU5MmM5ZTcyYzU1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWQ3MWQxNzAxODYxNGU5NjY3ODFj.jpg"> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">施华蔻got2b Trendsformer幻变焕彩系列发蜡</span>,<span style="font-family:Microsoft YaHei;font-size:14px;">带你轻松解锁2018新年开运发色!</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/M2FlZTczMjU2ZTEzYWUzMjUzYzI5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>