<div class="left_art_zw"> 
 <h1>一恒造型 最具国际化的时尚培训基地</h1> 
 <p class="left_art_zw_zz"> 来源：一恒造型机构供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/24 15:38:33 </p>  
 <p class="dd"> 一恒造型最具国际化的时尚培训基地，提供了专业色彩诊断、礼仪、心理学及服饰搭配理论等学科内容。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">当你的能力还驾驭不了你的目标，那你就沉下心来历练；当你的才华还撑不起你的梦想，那就静下心来学习！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">2016中国优秀化妆师选拔第一季天津七强选手已进入化妆名师特???阶段，现第二季选拔已火爆天津全城！两周的选拔筛选，天津区域4强也已诞生！四名选手全来自天津名师名校一恒造型：李京亚，张红，董艳，谢子寒。</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">媒体圈美传一句话：化妆找一恒，保证事能成！</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>以下为部分化妆师选拔作品</strong></span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YTQ5ZmMzNTU5MWJjZDZlMzRjZWJm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MWZiOWRhMzMyNzlmMTRkMjRmNTJj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/Y2NiNWM5M2ZkM2QzZWFhZTBhYjhj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NTYxNWZlOGNmOGNmOTIxYzhiODM1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/MGNjYjRjZmExNzAzNmMwZDQ4NDc0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NmQzZWQ5MDZlZjZiNDMwN2I2OWI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">天津一恒造型培训机构，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">成就时尚魔法师，将时尚传递世界！</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">天津最具国际化的时尚培训基地——天津一恒造型培训机构。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">天津一恒造型培训机构，自创办以来，一直立足时尚产业，服务社会。造就明星艺人、新娘、影楼、舞台等影视方面的高端化妆造型师人才，也是天津最具国际化的时尚打造基地。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一恒造型培训机构设置个人扮靓，新娘跟妆师，影楼化妆师，艺人化妆造型四个不同专业课程，课程内容为理论与实践国际时尚元素接轨，</span><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">专业的造型教学涵盖了绘画、色彩、美学等各类造型设计，针对各类化妆技巧及手法，提供了专业色彩诊断、礼仪、心理学及服饰搭配理论等学科内容。总之：想变美，想变帅到天津就找一恒造型就OK咯！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/Yzg2YzBlMTcwYjVmY2M1NDlhZGQ5.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>