<div class="left_art_zw"> 
 <h1>一把“爱心剪”换来的财富是不可计算的！</h1> 
 <p class="left_art_zw_zz"> 来源：苏豪路易士嘉玛形象设计机构供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/10 11:27:09 </p>  
 <p class="dd"> 2007年起都会穿梭在各个社区为居民提供义剪服务，为居民送上一份关爱，为有需要的人士提供免费剪发服务 </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">作为扎根广州多年的企业，苏豪路易士?嘉玛形象设计机构一直为公益事业不遗余力，从2007年起都会穿梭在各个社区为居民提供义剪服务，为居民送上一份关爱，为有需要的人士提供免费剪发服务，苏豪人，一直用心在行动。</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong>苏豪，义剪</strong></span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><strong><br> </strong></span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月2日，苏豪义剪小分队来到广东省人民医院，为病人送去一份关心~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MGI4NmViNzhmNmI1MDBiNjFhZDc3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ODZmOTA2MDEwZTU1ZTMzOWQzY2Y4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">一把“爱心剪”，换来一个新的发型和一张开心的笑脸..这就是苏豪人的骄傲~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MTExMWQyYjk4N2MzMjI0Y2ZhMWY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">Sam是金沙洲万达店的成员，他是一个非常热衷于义剪的小伙伴。虽然只是帮小朋友铲平头，他都会非常认真仔细..</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YWM3OTRhY2FmMDVmZDRlMmRmZmZl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">Man是白天鹅店的小伙伴，Man用自己的手中“带有”开心魔法的剪刀，为小朋友拨开愁云~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NGEzZWM2MDkwZTBiMjE0NmMzYTdk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">两位理发师忙了一天，又匆忙赶回店里工作。他们表示，既能帮助到有需要的人，又能提升自己的剪发技艺，是一件非常有意义的事情~苏豪人，加油！</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">白天鹅店：</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">广州市荔湾区沙面大街1号白天鹅宾馆4楼</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">TEL:020-81788382</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">金沙洲万达店：</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">地址：</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">广东省佛山市南海区建设大道中段</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">金沙洲万达广场3楼3026</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">TEL：0757-8592 9502</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/YTFjMDhkZTg4ZDEwYWI0MDg3ZWVi.jpg" alt=""> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月4日，苏豪路易士?嘉玛发廊金沙洲万达店义剪分队来到广州第一批经适房，为需要帮助的居民义剪~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjQwYjczYWYzZTk0NWI1MzE5MzQ0.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjhkMTQzZGEwY2NlZjgzZDQ0ZDVh.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZGIwYzI3ZmMzMWZjMThlZjc5YjYy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">(总监就是不一样，Jacky在理发的时候，有好多粉丝，排队等着他理发~)</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDM4NWZmN2M3YzJmZjEzMmU0OTcw.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjBmZWJkOTkyOWVlYTg2OTliNTM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">星级发型师hervey认真帮老人理发~</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YmQ1YjRkNmE0OGZiNGMyNjI5MWRi.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjcxZmI3Mzc0ZDljZGJhNmEzZTJi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">Sam化身义剪??能手~频频参与义剪活动哦~</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/YzFlNWIwMzFjMGQ4ZGYwODE2Nzkx.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MmQ2NzE1MjRlNGUyZTU3OWUzYWIw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">JJ也不服输，咔擦咔擦，乱糟糟的头发马上焕然一新啦~</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">义剪完成后，居民都对我们的剪刀手们点赞的时候，他们却说：“爱心义剪是会上瘾的，今天的义剪还只是个开始，我们还会去帮助更多人！”</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">8月6日一大早，金沙洲万达店的小伙伴来到沙面新城，开始当日的义剪~当日的天气，那是一个热字啊！看来太阳公公也感受到苏豪人的爱心~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZWVlNTI3N2EyZTA5Zjk1MjczMjgx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">老人开心的理发，不断地对我们说谢谢~</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/M2VkNGQxZDAxYWMwMzJmMzRlNjU5.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjgyYTI2NDFlMzMxYTQ3ZDcxMzE2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;">哇，在Michael哥哥的陪伴下，小朋友也变乖了~</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/NjQyNjJhZjQ5MTZhOWY0MzNjN2E3.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZDJjZjYxOTNiNDBlMjRiNTY1NjFl.jpg" alt="">&nbsp;</span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZmJlODAzMjIyZDkzNjRmMzM2NDgw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">这么炎热的天气，完全没有影响到苏豪人的心情。大家都在用心工作，为沙面新城居民带来一丝关心。看到那么温暖的发型师，你还不去金沙洲万达店去撩一下各位帅气的发型呢~</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/ZjkyYmUxNjhhZTJmNTc0MmNjNzZl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">金沙洲万达店：</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">地址：</span><span style="font-family:&quot;font-size:14px;">广东省佛山市南海区建设大道中段&nbsp;</span><span style="font-family:&quot;font-size:14px;">金沙洲万达广场3楼3026</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">TEL：</span><span style="font-family:&quot;font-size:14px;">0757-8592 9502</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">义剪，十年</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">因为这分爱，让我们不忘初心。义剪，苏豪是认真的！下次，苏豪义剪分队会到哪里义剪？一起期待吧~</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NzZjZDZkNmJkNGFmZTdmNzc5MGNj.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ODZiZmIxYWM4YWVmM2QwYWFmMmQw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>