<div class="left_art_zw"> 
 <h1>一款风靡全球的造型课堂开课了，你还不赶紧来看看！</h1> 
 <p class="left_art_zw_zz"> 来源：肯洲美发学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/8/16 15:44:01 </p>  
 <p class="dd"> 肯洲王牌课程，肯洲先生油头课程开课时间：8月24日（广州），马上联系课程顾问报名吧！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:&quot;font-size:14px;">肯洲王牌课程，肯洲先生油头</span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:&quot;font-size:14px;"><img src="/image/information/MjUzMjllMDc2ZjZmMmNlODM2MGY0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;"><br> </span> </p> 
  <p> <span style="font-family:&quot;font-size:14px;">课程开课时间：8月24日（广州），马上联系课程顾问报名吧！全国统一咨询热线：400 6161 800。</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/OTE0N2UyOTA3NWJjNzA4MWE3MDU4.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/M2RkZDcwYTVlZTViOGVkNDc3OTdl.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MDA3NzRjM2EzOWQ1MjY0N2MxODUx.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MGM2NGY5ZjViOWUwZTEwYzgyYTI0.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/MDUyNTY0M2ZlNDM4MGViMmRjNzli.jpg" alt="">&nbsp; </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/NmY2ZWE2MGE0MGQxNjJmZmJhZDkz.jpg" alt=""> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YTRhNTE5Y2FkMWU4ZjZiN2QxZmI0.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>