<div class="left_art_zw"> 
 <h1>一瓶五十年的护发精油，号称无论什??发质都可以完美修复</h1> 
 <p class="left_art_zw_zz"> 来源：巴黎卡诗供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/17 13:49:13 </p>  
 <p class="dd"> 无论你是什么发质，想要拥有怎样的造型，全新升级的神仙金油都足以让你的秀发由内而外的再次滋养。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1989年，由日本漫画家士郎正宗创造出的《攻壳机动队》，描述了远在2029年的未来人类世界，虽然风格灰暗，但其专业的剧情设置和深刻的寓意还是震撼了当时的日本各界，它的出现，搅动了当时、乃至今日的人类思想，令人们开始正视自己和后代的未来。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDM4ZjY2ZjA1YTNmODA0ZjVkMTU1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一时间，政治、哲学、宗教、科技成为了人们津津乐道的话题，而这也促使《攻壳机动队》成为了当之无愧的科幻代表作品，甚至连大名鼎鼎的《黑客帝国》的灵感都是来源于这部漫画。而这部由同名经典漫画改编的真人版IMAX3D《攻壳机动队》于4月7日已经正式登陆全国各大IMAX影院，以更高科技更炫画面再现当年经典。巴黎卡诗为粉丝带来???专属福利，只要参与文末互动，即有机会赢取奖品！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGYzNDMyZmNkN2Y3NmE2YWRjMWZm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">故事带我们穿梭在生化人、仿生人与人类共存的日本未来社会。为了应对日益增多的犯罪，一支由草薙素子等成员组成的“攻壳机动队”应运而生。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGEwZGJlNmYxYmNkZTY0OTA1MTky.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在IMAX影院，你将跟随冷艳性感的“草薙素子”破窗而入独战艺妓傀儡，亦或飞檐走壁在一次次街头飙车、枪战对战场景中置身神秘莫测的未来世界，体验未来对战中的险象环生。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODc3NmEyNmMwNjZiMGI1ZDIyZmRh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">科技感十足的全息投影呈现、传统东方符号的巧妙融合，通往未来世界的大门已经正式开启，一起去IMAX一睹未来世界的光怪陆离！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzZmZDJhNTU1MDk5YzY4YWQ2OTRl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">而除了《攻壳机动队》之外，巴黎卡诗跨越半个世纪而来经典再现也绝不能错过。始于1964年，始终专业专注于秀发之美的巴黎卡诗殿堂级明星单品「双重菁纯修护精油」超越自我，升级再现，从瓶身、配方，到用法都更加趋于完美，只为带给你最上乘的秀发呵护。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTVkNDZkMzIzZjIwMWRlODM3MzBh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>1、TEXTURE</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">奢美瓶身，艺术感设计，握感更舒适，璀璨玻璃质地，闪耀晶透。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>2、FORMULA</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">配方升级，玉米胚芽油——滋养同时，稳定抗氧化，长效亮泽；油茶籽油——蕴含多种油酸和营养成分，更易被吸收；摩洛哥坚果油——修护、强人秀发的“液体黄金”。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>3、USAGE</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">用法加成，突破传统，全新“金油72计”，洗发前使用，舒缓头皮，帮助清洁。吹风前后使用，隔热，滋润，保湿。日常使用，更加轻盈，柔软，顺滑。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjMzNTBlMjZmMGYwOTg4MzRlNWU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">无论你是什么发质，想要拥有怎样的造型，全新升级的神仙金油都足以让你的秀发由内而外的再次滋养、柔亮、轻盈，轻松拥有一头仿佛柔焦过一般的优质秀发，从“头”开始，全面提升你的优雅气质。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDAwMzY4MmVhZTIxNWE3N2M0ZmFl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>