<div class="left_art_zw"> 
 <h1>顾客不够大胆，告诉她脏辫也能小清新</h1> 
 <p class="left_art_zw_zz"> 来源：创星学院供稿&nbsp;&nbsp;&nbsp; 时间:2016/10/27 14:50:40 </p>  
 <p class="dd"> 近日，创星全新潮牌技术课程脏辫接发已经结束了。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmNlZGI4NzQwZDM4YTA0MTMwMTNm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年10月24日，脏辫接发课程，全新潮牌技术课程脏辫接发于11月26日结束，创星Eva老师倾力打造年底赚钱技术课程，想要经营一家口碑良好的潮店吗？11月04创星贵阳学院继续有课哦！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课堂剪影：</strong>在老师的指导，学生认真练习中！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDg1Yzc5NjVhZTU1NjgyNDY5NzRh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjJlYTE1M2NiYzVkNGYzYTQ1MzMz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">真人模特实操开始了！只有自己实践，才能掌握导其中的技巧</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODdiZmVhNjM0MjZlYWY2YzUxYWE1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTljM2QzZmQ5YzhiNzRjNzVlYTBj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>作品分享：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NWJkNzg0ZTA2YmIxYTU5MDk0Nzcz.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/YTVlZTk5NzQ4NzVkMjNkMGMzNjU3.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">毕业快乐！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDU2N2QzZjA1OGMzMDhjYzg2Zjhi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>下期时尚接发课程3天 贵阳站</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>授课时间：</strong>11月04日</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>原价：</strong>1980元，老学员与星粉们仅需480元 &nbsp;</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>课程内容：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">课程让你分分钟引爆业绩！老板再也不用担心业绩不增啦！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">创星独创梦幻水晶接、纳米接、片接等多种实用无痕接发，全面技术分析商业落地发型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">当季???款幻变电棒水波纹造型和脏辫非洲辫造型和最新羽毛接发造型：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、16微型新潮接发 &nbsp; &nbsp; &nbsp;2、极色发片渐变接</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、电棒水波纹造型 &nbsp; &nbsp; &nbsp;4、快速简编发造型</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、脏辫非洲辫造型 &nbsp; &nbsp; &nbsp;6、最新羽毛接发</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZThlMWZhOGFmYWQ5MzgxOTIwNWVj.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>