<div class="left_art_zw"> 
 <h1>七款发型让她的脸看起来有减肥的效果</h1> 
 <p class="left_art_zw_zz"> 来源：肯洲美发学院供稿&nbsp;&nbsp;&nbsp; 时间:2017/5/3 14:27:08 </p>  
 <p class="dd"> 肯洲创意染发配色课程，针对两年以上染色基础的设计师，独家创意公式，将视觉艺术和商业理念完美结合。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">肯洲王牌课程——创意染发配色</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTM2MmExNzVhN2Y0YmVlZWU1ODJk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <img src="/image/information/MWE5YmY3MDg1Yjc0ZGE3MmViZjZh.jpg" alt=""> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img src="/image/information/ZjE1M2IyZmEwOGQ3ZTRmYmIyM2E2.jpg" alt=""> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDU2ZjQ5NjViMWNmZGY1MmQzZWJj.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MGRhZTA5NzFkYjdjZDdkMTUwODVm.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2Y0NDlmYzcwMzk5YzE5NTMwZTM0.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjQzZDJiYTgyOWM1YWEwZGY2ZGE3.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWY4NzU5OTJjZGI0YWM0MzUyNzI5.jpg" alt=""></span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OGFhMzMzMTRkZWM0NjM5Yjk3MWYz.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>