<div class="left_art_zw"> 
 <h1>万千少女瞬间失恋，婚礼上他还是凹着最爱的油头~</h1> 
 <p class="left_art_zw_zz"> 来源：望子菲灵专业供稿&nbsp;&nbsp;&nbsp; 时间:2017/12/9 12:02:09 </p>  
 <p class="dd"> 菲灵油头粉面系列开启亚洲人油头时代让你出众，与众不同，让你的头发硬派有型，时尚奢华。 </p> 
 <div class="wz"> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">前几天余文乐在微博和ins上，宣布自己和女友王棠云结婚，看到这个消息多少迷妹失恋。</span>
  <br> 
  <br> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzViMmRkMzY5ZjAwYjFmYzk1NDBl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">从爆出的婚礼现场图片来看，</span><span style="font-family:Microsoft YaHei;font-size:14px;">现场也是相当甜蜜了。</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NDY3YjE3YTFmMzcyNWQ3OTRhZjcw.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">在感受男神的幸福甜蜜的同时</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">小编发现</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">已经36岁的余文乐还是那么帅气</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">而婚礼上的他已然凹着他最爱的油头造型</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjYwZTU3MjE2NGQwYjBlNDIxNGJl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">作为油头党的忠实爱好者，</span><span style="font-family:Microsoft YaHei;font-size:14px;">油头造型可谓是余文乐最常见的发型了，</span><span style="font-family:Microsoft YaHei;font-size:14px;">可以说是一位行走的发型教科书了~</span> </p> 
  <p style="text-align:center;"> <br> <span style="font-family:Microsoft YaHei;font-size:14px;">约会的时候是油头造型</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGY4OGU5Y2U1ZTk1MmZhYmQ0ZTM1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">度假的时候是油头造型</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/OTg0NDI1OTUwY2JkMmZhMmViODVj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">朋友聚会的时候是油头造型</span> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MDU1ZDVkYTg4YmUyYjRmZjFkMmQx.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">平时拍摄杂志是油头造型</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzhkMGJjNGRlMjM5NjFhN2JiY2Vl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">正式场合出席活动还是油头造型</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">（以上图片均来自于网络）</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MWVhZGQxYzRlYzkxOTE4NjMxYmVj.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>油头党：</strong></span><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>余文乐</strong></span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">发型：Undercut侧分油头</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">身为潮流icon的余文乐剪的是undercut侧分线油头，两边铲光，在侧分线上稍微铲深一些，这样在用发蜡做造型时可以更分明一些。</span> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Nzc2YWZiMGNmYWFiODJlODgwYjIz.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span></span> </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">undercut，顾名思义就是将鬓角和后脑头发打得很薄，头顶的头发留长并向后梳，最后记得使用理发定型工具哦。</span> 
  </div> 
  <span></span> 
  <p> <br> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTI3NmM5YmJiM2ZmZWNkODg0OGU1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">初级版呢</span><span style="font-family:Microsoft YaHei;font-size:14px;">就是将头顶的头发留长向后梳</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">先上个三百六十度无死角特写好了！</span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/M2UwNGZmNGRlMzQwY2NhOGExZTU5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">无论是长刘海亦或短刘海</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">往头顶翻上去一样干净又帅气</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NTNlZTI4MmZjNDMwNzg2MWU4ZDRi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">升级版短卷发undercut</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">余文乐hold住完全没问题~</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YTcxYjc5MWMwNTlhMTI3OGViYjhi.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">将留长的头发找你的凯文老师烫卷即可</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/Y2M1NWZiODZhZWZmYWU0MTUwYTQ0.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">这个侧分线油头的好处是十分容易打理</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">潮气之余又能把男人独有的成熟味展现出来！</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MmI4ZmE2ZGIyNDYyZDY4NDg2YzE2.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">余文乐的侧分线油头合适喜欢短发的人群</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">这样的短发在一般不焦的状态下也能保持造型</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">看看余文乐头发湿润后的效果就???道了</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjljYzM2YTQ5ZTg2Y2FiMDZiZDlh.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">胡须较为浓郁的人</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">可以尝试一下留两鬓与下额附近的胡子</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">这样搭配能令油头的魅力发挥120%</span> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzhhMDhkNWM2NGJjOTEzNGU0ZmFl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZmY2OWZhYjU5MTc0ZDk3OWYyZWQ5.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <span style="font-family:Microsoft YaHei;font-size:14px;">有没有爱上这款undercut侧分油头？</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">即使是冬季也非常方便打理</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">帅气又有型</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">各种场合百搭</span><br> <span style="font-family:Microsoft YaHei;font-size:14px;">关键非常适合亚洲人发质特点</span><span></span><span></span><span></span><span></span><span></span> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NzM5ZTUwNjA5MTFkOGE2MTQ0ODYz.jpg"> </p> 
  <br> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">菲灵油头粉面系列开启亚洲人油头时代</span> 
  </div> 
  <div style="text-align:center;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">让你出众，与众不同，让你的头发硬派有型，时尚奢华！</span> 
  </div> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGZiNDUwNDM0YTQyYTllMzJkMDg4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>