<div class="left_art_zw"> 
 <h1>万基药业进军美容业</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-3-11 10:50:00 </p>  
 <div class="wz"> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 香港上市公司万基药业（0835.HK）昨日发布公告称，该公司已经与四名卖方订立协议，同意以总代价999万元，向其收购化妆及美容产品生产商Procare的全部权益及股东贷款，万基将按每股0.153元（较其停牌前收市价有11.68%溢价），配售6531万股新股，占现行股本10%，相当于万基扩大后股本的9.09%。<br>&nbsp;&nbsp;&nbsp; <br>　　据了解，此次收购的Procare公司从事市场推广、生产化妆品及美容产品，其于2005年3月底经审资产净值为135万元，截至2005年3月底止年度除税后纯利57万元，而收购代价为其同期除税后的17.56倍。万基药业董事会认为，同类上市公司市盈率约6倍至23倍，此项交易非常合理，并可促进企业的下一步盈利。<br>&nbsp;&nbsp;&nbsp; <br>　　在香港上市的深圳万基药业的前身是联交所上市的EHA，2003年7月31日更名为“万基药业”。此后，该上市公司的经营主业一直围绕着以???旗参系列为主的医药保健品、以孔府家酒为主的酒类以及医疗设备而展开，但近年来业绩发展一直不尽如人意。<br>&nbsp;&nbsp;&nbsp; <br>　　据记者了解，万基药业截至去年9月底中期业绩，期内亏损324万元，每股基本亏损0.6元，而去年同期亏损223万元。“为配合集团的长远业务规划，公司已削减了广告与推广活动成本，并暂缓开发海外地区的新分销网络，同时也不放弃任何业务延伸的可能。”该公司发言人表示，“万基”花旗参等主打产品系列市场竞争激烈，医疗设备产品销售也受到冲击。因此收购盈利率高的美容化妆类企业可有效地促进企业发展。<br>&nbsp;&nbsp;&nbsp; <br>　　公告称，此次收购完成配股后，万基大股东兼执行董事郭永亮持有BillonPacificVentures对集团的持股量，将由原来59.19%摊薄至53.81%。另外，万基药业董事会建议，将该公司中文名称改为“汇保集团控股???限公司”。<br></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:东方早报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZjU2N2Q5Yjk2MGFlMjljNDJjZGY4.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>