<div class="left_art_zw"> 
 <h1>万圣节玩发色，炫彩和大胆最配</h1> 
 <p class="left_art_zw_zz"> 来源：TONIANDGUY供稿&nbsp;&nbsp;&nbsp; 时间:2016/10/26 14:19:13 </p>  
 <p class="dd"> TONI&amp;GUY玩转发色，推出万圣节炫彩造型魅惑礼遇。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTExOWM0MTRiODEwYjExZjk1YmU5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjRlMmUxNDcwNTMwMzQ5Zjc3MTFm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">还有6天就到万圣节了，您的装扮准备好了吗？必须充满创意、潮酷律动，还得有足够的胆量，才能玩转这神怪与鬼魂的节日。殊不知，打造完美的鬼怪盛装，在头发上也要花点心思才行！到底怎样的头发，才能和这个节日更配呢？莫急莫慌，TONI&amp;GUY帮您解决这个难题。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>万圣节玩转发色 炫彩造型 &nbsp;魅惑礼遇一</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/ZmZkOGYzNDhiNzVhMWM0YTlkYjI4.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">我们可以量身定制适合顾客的几何颜色可以是这样的</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzE2ZGFjMjA0ODg2YWU2NTFhN2Zh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">或这样的</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Mjg4ZTljYzFmNDdjY2M3ZmFmNmVi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">还可以是这样的</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTU2MmY1YzQ4ZjNkZDk4ZGY1MzNj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">万圣节活动期间，在TONI&amp;GUY指定店内消费的顾客均可免费体验TONI&amp;GUY万圣节炫彩发色造型服务一次，使用欧莱雅限量版发妆彩液根据顾客需求进行上色造型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>魅惑礼遇二</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/MzAwNTVmZGUwY2ExMWU4N2RjOGI3.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/OTgwY2Y3YzkwYzg5MTM0MzJhNmQ5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NWZmMzBkMTc5NzViMzMyYWM3YTFm.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">万圣节活动期间，在TONI&amp;GUY指定店内消费满1500元即可免费获得欧莱雅限量版发妆彩液一套。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>魅惑礼遇三</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/Yzc0YWUyYThlMjliMGZiODExNjQ5.jpg" alt=""><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NzA3NDM2MzA2NjlhMWJlMjIzMTk0.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">万圣节活动期间，在TONI&amp;GUY指定店内消费的顾客均可免费体验TONI&amp;GUY万圣节炫彩造型大片拍摄一次，永远记录下这奇幻的一刻。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NTE0YzhiZWIwMzZiMGMwZGQ0NzM3.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>