<div class="left_art_zw"> 
 <h1>三云企或引爆全国面膜战</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-6-24 10:33:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 圣火制药、云南白药、滇虹药业以药企身份先后进入面膜市场
  <p>　　全国面膜市场新一轮大战，很可能将由云南三家制药企业引爆。</p>
  <p>　　继圣火制药的面膜产品进入市场后，云南白药也计划在面膜市场创造一个年销售上亿元的新产品，目前已报国家药监局等待审批，滇虹药业的面膜产品则正在研发中，预计明年上市。</p>
  <p>　　白药面膜强调治愈率</p>
  <p>　　“这是云南白药推出牙膏等拳头产品之后，在产品线扩延方面进行的全新尝试。”云南白药副总裁杨昌红昨日表示，云南白药面膜将特别强调有效性和治愈率，其活血化淤、消炎止血的特殊疗效，对因淤血不畅而引起的青春痘和色斑等皮肤问题会有独特的作用。</p>
  <p>　　从最初的散剂，到后来的气雾剂、酊剂、胶囊以及牙膏和刚刚研发出的面膜产品，云南白药近几年在产品线上的延伸表现得??别突出。据杨昌红介绍，他们一直在探究云南白药止血活血的神秘原因，但截至目前，包括美国哈佛大学专家在内的全球顶级专家，都没有找出其神奇功效所依靠的分子结构。“我们希望通过对云南白药的深度开发，能逐渐靠近其神秘功效的源点，而这些新开发出来的产品都是我们在研究云南白药功效时的成功创新。”</p>
  <p>　　实际上，包括牙膏在内的云南白药新产品，其实都是从消费者的实践中得到的启发。杨昌红说，在没有云南白药牙膏之前，他们发现不少消费者在牙龈出血时会把云南白药粉涂在患处，效果很不错，于是，云南白药就推出了牙膏系列产品。牙膏产品出来后，他们又发现一些女士用牙膏涂青春痘，希望缓解疼痛，而且也有效果，所以，云南白药经过研究开发出了面膜产品。</p>
  <p>　　据了解，在云南白药的计划中，其面膜产品的年销售收入将在???亿元。</p>
  <p>　　三云企或引市场大战</p>
  <p>　　在面膜市场中，圣火制药相对进入较早。</p>
  <p>　　2005年，圣火制药斥资3500万元打造中医SPA美容第一品牌——“十二味中药美容坊”，并推出以“十二味中药美容坊”为主品牌、涵盖中医美容、中医美体化妆品和口服营养保健品三大范畴的近300种系列产品，大举进军美容市场。</p>
  <p>　　圣火制药一高管昨日表示：“我们的面膜产品强调内调外养改善肤质，市场走势一直不错。云南白药推出的面膜产品有其自身的特点，而我们也有自己的优势，并且我们还将对面膜产品作进一步优化。” </p>
  <p>　　记者了解到，滇虹药业也正在研发自己的面膜产品，预计将在明年上市。但是滇虹面膜的特性目前还不得而知。 </p>
  <p>　　有业内人士认为，就在全国其他制药企业在面膜市场相对“沉默”的时候，圣火制药、云南白药和滇虹药???的先后进入，很可能引发全国面膜市场新一轮的战火。</p>
  <p>　　而在这场关乎面子保养的商战中，这三家公司在市场定位、铺货渠道、价格政策以及后续研发支撑方面会采取什么策略，业界及消费者将拭目以待。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="right">来自:生活新报</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YzYyN2I0OTI5NmZhZDQwNGRmNGJi.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>