<div class="left_art_zw"> 
 <h1>三大看点，坐拥北方国际美容产业博览会</h1> 
 <p class="left_art_zw_zz"> 来源：辽宁省美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/12/3 11:48:17 </p>  
 <p class="dd"> 2017年3月29日-3月3日在辽宁工业展览馆即将举办第18届中国北方国际美容产业博览会。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzcyMDFmYmEwNzQ3YTgxNTgwYTdh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>展会日期：</strong>2017年3月29日——3月31日（9：00-16：30）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>展会地点：</strong>沈阳——辽宁工业展览馆1、2号展厅（沈阳市和平区彩塔街38号辽宁电视台对面）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2NjOTcwNWM2NTFhYThjMzQ0YmZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>参展范围：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、美容及护肤产品：专业美容院护肤品、纹绣、香薰、美甲；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、水疗及纤体减肥：高端美容产品及仪器、水疗产品及仪器、美容减肥纤体产品及设备、瘦身仪器、保健瘦身内衣、美体贴身用品；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、个人护理用品：香水、护肤品、彩妆、化妆用具、个人护理、孕婴童护理用品、药妆；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、中医养生与保健产品：中医（药）养生产品、温灸、美胸、药浴、保健理疗用品、营养保健品；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、医疗美容及整形：美容整形产品、医疗整形美容机构、医疗美容整形仪器及工具、整形医院；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6、包装材料：包装、灌装设备、OEM、ODM等；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">7、<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>产品：洗护染烫产品、发制品、养发育发产品；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">8、其它：微电商产品、管理软件、美容院装饰。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Yzc1YTQ5MjZiY2FiZThmOTIzZTVi.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>乘车路线：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">沈阳站 地铁1号线到青年大街站，换乘2号线到工业展览馆站（C出口）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">沈阳北站 地铁2号??到工业展览馆站（C出口）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>公交线路：</strong>109路，117路，126路，132路，134路，135路，152路，166路，169路，173路，188路，212路，214路，222路，225路，238路，239路，244路257路，265路，272路，282路，286路，289路，333路，334路，388路，389路，390路，394路，395路，800路，k801路，k802路，环路，旅游观光一线</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>主办：</strong>辽宁省美发美容行业协会 沈阳市美发美容行业协会</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>协办：</strong>北京市美发美容行业协会、天津市美发美容行业协会、吉林省美发美容行业协会、黑龙江省美发美容行业协会</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>支持：</strong>辽宁省商务厅、沈阳市服务业委员会、世界美容美发产业协会</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>承办：</strong>辽宁《美容通道》杂志社、辽宁美业广告传媒策划有限公司、沈阳不倒翁传媒有限公司</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>组委会热线：</strong>024-25670055、25606377、13889239777</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2I4ODg4ZDk1YTQ5ODdjNzUyYmY1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Mzg5OWY5MWFjZjIzZTdjMzAyNjEz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmY5N2ZhZDAwZDE0NDJiNzY1MmI1.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YjI3YWQxNjEyNzZiYmJjNGNmZjQ4.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>