<div class="left_art_zw"> 
 <h1>三大明星导师首度联手为你揭秘顶级造型的核心灵魂！</h1> 
 <p class="left_art_zw_zz"> 来源：LINMAKEUP岳晓琳供稿&nbsp;&nbsp;&nbsp; 时间:2017/11/27 11:32:56 </p>  
 <p class="dd"> 2017年末最值得投资的重磅精品课，明星御用名师首度联袂开讲。 </p> 
 <div class="wz"> 
  <p class="MsoNormal" style="text-align:center;"> <strong>2017年末最值得投资的重磅精品课</strong><strong>&nbsp;</strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <span><strong>倒计时：</strong></span><strong>22 天&nbsp;</strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong>黄金席位仅剩：</strong><strong>88 席</strong> </p> 
  <p class="MsoNormal"> &nbsp; </p> 
  <p class="MsoNormal" style="text-align:center;"> &nbsp;<img alt="" src="/image/information/NDJhNzc0N2YxMTg0Njk2YTE0Y2Fl.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> 12月15日-12月16日 </p> 
  <p class="MsoNormal" style="text-align:center;"> 中国创意化妆造型艺术家岳晓琳老师、 </p> 
  <p class="MsoNormal" style="text-align:center;"> 资深整体化妆造型导师罗涛老师、 </p> 
  <p class="MsoNormal" style="text-align:center;"> 明星御用时尚发（造）型师郝晨老师 </p> 
  <p class="MsoNormal" style="text-align:center;"> 首度联袂开讲课 </p> 
  <p class="MsoNormal"> &nbsp; </p> 
  <p class="MsoNormal"> 一场囊括时尚美妆、唯美新娘、星级男士发型的全能精品课，即将揭秘顶级造型的核心灵魂，三位导师全方位演示如何将时髦的造??理念落地到具体手法。 </p> 
  <p class="MsoNormal"> &nbsp; </p> 
  <p class="MsoNormal"> <span>探秘美妆造型流行趋势，解析时尚造型核心技巧</span>——“2018时尚美妆造型趋势发布公开课”，从理念到技法、从时尚到实用、从局部到整体、从风格到产品，突破传统，全面提高造型师视野与能力。 </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> &nbsp;<img alt="" src="/image/information/NjJlNTNhM2ZhZjYyOTAxMzNiODdh.jpg"> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong>&nbsp;</strong><span><strong>课程时间</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong>12月15日—12月16日</strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong>AM 9：00—PM 18：00</strong> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong>苏州虎丘婚纱城</strong> </p> 
  <p class="MsoNormal"> &nbsp; </p> 
  <p class="MsoNormal"> &nbsp; </p> 
  <p class="MsoNormal"> <strong>&nbsp;</strong><span><strong>第一天：岳晓琳老师</strong></span><strong>【</strong><strong> 2018 &nbsp;LIN派整体化妆造型设计全解析】</strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <strong>上午：</strong><strong>2018/ss时尚美妆趋势理念及整体造型演示</strong> </p> 
  <p class="MsoNormal"> 1：2018春夏时尚美妆色彩搭配 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 2：LIN派FACE OF BEAUTY美妆造型 </p> 
  <p class="MsoNormal"> 3：美妆作品创新趋势理念分享 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> &nbsp; </p> 
  <p class="MsoNormal"> <strong>下午：LIN派时尚轻奢明星美妆+发型设计</strong> </p> 
  <p class="MsoNormal"> 1：明星定制式妆发概念及手法细解 &nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 2：多款轻松UP气质发型 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 3：快速变化发型&amp;整体搭配风格切换 </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> &nbsp;<img alt="" src="/image/information/NWNhNTA5MGNkYTA5NDYxMWQzMzBi.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MTljYTEyY2VmNGNlYzM0MTU0ZjA1.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/N2JjZjBjYWU2OTYwNWFkZDc0ODFi.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal"> <strong>&nbsp;</strong><span><strong>第二天：郝晨老师</strong></span><strong>+罗涛老师</strong> </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal"> <strong>上午：</strong><strong>郝晨老师</strong><strong>——2018明星男士造型全解析</strong> </p> 
  <p class="MsoNormal"> 1、星级时髦男士造型理念 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 2、灵动发丝处理精髓解析 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 3、心机发型形状轮廓打造技巧 </p> 
  <p class="MsoNormal"> 4、发型产品甄别与控制能力 &nbsp;&nbsp; </p> 
  <p class="MsoNormal"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> &nbsp;<img alt="" src="/image/information/OTM0ZjRiYzYxNmUwY2VhZTI5NjI1.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/MGFjNzM1NjQ1OThmMTc0ZDgyMTQx.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/ZWE4NWMwNDIyODQwOTM3ZTk4ZWEz.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:left;"> <br> </p> 
  <p class="MsoNormal"> <strong>下午：罗涛老师——2018 时尚浪漫新娘造型</strong> </p> 
  <p class="MsoNormal"> 1、如何打造柔软润泽的皮肤 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 2、氧气眉形的设计 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 3、柔软水润的眼神打造方法 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 4、年轻腮红的打法 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 5、少女唇的打造要点 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 6、浪漫卷发的要点 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
  <p class="MsoNormal"> 7、柔软发丝的处理及空气感的打造 </p> 
  <p> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/M2E4ZDBiZTcyOTBjZTdjZGQ3NmU0.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/NjYyNDllMjY2YjdhMjU5ZjBjN2Fj.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <img alt="" src="/image/information/OTRhOThiMzhlYThjMDgyYTBhODli.jpg"> </p> 
  <p class="MsoNormal" style="text-align:center;"> <br> </p> 
  <p class="MsoNormal" style="text-align:center;"> <strong>&nbsp;</strong><span><strong>课程价格</strong></span> </p> 
  <p class="MsoNormal" style="text-align:center;"> 1 人 ： 980元 </p> 
  <p class="MsoNormal" style="text-align:center;"> 3人以上：780元 </p> 
  <p class="MsoNormal" style="text-align:center;"> 5人以上：580元 </p> 
  <p class="MsoNormal"> <span>（注：</span> <span>座位按转帐先后顺序排列，以转账时间为准，不予口头保留，转账第一时间截图，留下身份证姓名电话，转账后概不退款）</span> </p> 
  <p class="MsoNormal"> <span><br> </span> </p> 
  <p class="MsoNormal"> 联系咨询:阿楠老师| 2462365190 </p> 
  <p class="MsoNormal"> <br> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NzdiOTAwMDY5OGRkNjBkMGQ0ZmNh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>