<div class="left_art_zw"> 
 <h1>三八节美丽经济升温</h1> 
 <p class="left_art_zw_zz"> 来源：武汉晨报&nbsp;&nbsp;&nbsp; 时间:2007-3-9 9:53:00 </p>  
 <div class="wz">
   &nbsp;&nbsp;&nbsp; 三八节前，一些美丽行???的商家纷纷推出“惊喜体验价”、“优惠套盒”等活动，希望女士们慷慨解囊。 
  <p>&nbsp;&nbsp;&nbsp; 汉口香港路几家美容院门前，均在显眼处贴出巨大的活动标语，“惊喜体验价”、“新春大礼”……除了在视觉上吸引顾客眼球，很多美容院还采 <br>用“温馨”短信的方式拉拢人心，“春天到了，您的肌肤也要换新装了，本店特为您准备了免费体验……”让爱美的女性们看了心痒痒。 </p>
  <p>&nbsp;&nbsp;&nbsp; 化妆品商家也不甘示弱，近期的优惠活动层出不穷。安尚秀日常护肤推出满即赠的活动；美宝莲买100直接减20；武汉广场里十二大知名品牌全面出击，以“空瓶抵换现金券”的方式热力助阵。 </p>
  <p>&nbsp;&nbsp;&nbsp; 一商场人士称，春季本身就是化妆品、美容品销售的旺季，很多女性开始要购买新一季的美白、防敏等产品，加上“三八”妇女节的节日效应，美丽经济升温在??理之中。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MGU0NjQ1ZWY0ZTU0OGJkNWExZTk3.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>