<div class="left_art_zw"> 
 <h1>上半年最值得关注的医美大事——国际医美产业创新大会4月强势来袭！</h1> 
 <p class="left_art_zw_zz"> 来源：中国整形美容协会供稿&nbsp;&nbsp;&nbsp; 时间:2018/1/12 12:09:52 </p>  
 <p class="dd"> 由中国整形美容协会互联网医美分会联合上海万怡会展主办的“2018国际医美产业创新论坛将盛大召开。 </p> 
 <div class="wz"> 
  <p style="text-align:left;"> <span style="font-family:Microsoft YaHei;font-size:14px;">2018年4月27-28日，由中国整形美容协会互联网医美分会联??上海万怡会展主办的“2018国际医美产业创新论坛(IMCI2018)”将于上海神旺大酒店盛大召开。</span><br> <br> <span style="font-family:Microsoft YaHei;font-size:14px;"> 届时，600+位国内外医美上游供应商、院方代表、民营医美机构、医美器械代理/厂商、医美020企业、消费金融公司、医美保险企业、医美营销公司、投资机构、律所咨询机构等高层代表，将齐聚IMCI2018，以“把握发展新机遇，构建医美新生态”为主题，围绕“医美运营管理与产业发展”、“新技术与医美新发展”、“医美消费金融与医美保险”、“互联网+时代下的医美营销”四大板块，共同探讨消费升级下如何把握新机遇，共同构建医美新生态！</span> </p> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/NjA0ZDMxMjNhMmNlNWUwYTllN2Iy.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:left;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">1</span></strong><strong><span style="font-family:Microsoft YaHei;font-size:14px;">– 关于IMCI2018主办方</span></strong> </p> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">中国整形美容协会医美互联网分会是中国整形美容协会的二级分会之一，是中国整形美容协会首个跨界分会。分会整合了权威医美专家、医美机构、器械和耗材供应商、投资机构等机构。分会紧跟互联网时代发展步伐，顺应互联时代发展潮流，协助相关行政执法部门建立医美行业互联网自律体系，推动医美新技术和新企业发展，同时确保互联网医美的健康可持续发展，建设互联网医美生态圈，引导互联网医美走向移动医疗、智慧医疗新阶段。</span> 
  </div> 
  <p style="text-align:left;"> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MjZhN2JjNWRmNDlmMmYxZDJiZTVl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <span> 
   <div style="text-align:left;"> 
    <span style="font-family:Microsoft YaHei;font-size:14px;">上海万怡会展管理股份有限公司是中国领先的品牌会议策划运营机构，作为国内首家挂牌新三板的专业学术会议服务企业，万怡会展致力于打造行业代表性系列品牌会议，积极推动中国医疗产业的创新发展。由万怡会展主办的千人盛宴“全球精准医疗（中国）峰会WPMCS”、“国际智慧医疗创新论坛暨eHealthcare智创奖颁奖典礼”、“人工智能+医学影像菁英汇”等品牌会议已成为各行业的会议标杆。《杀死一只知更鸟》是公认的美国文学经典，而它在教育领域的意义却使其突破了国界，成为世界上最有名的成长小说之一。</span> 
   </div> </span> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/ZDc3NzViZjBkYWZjYzEwZTg3NGRl.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <p style="text-align:center;"> <strong><span style="font-family:Microsoft YaHei;font-size:14px;">2</span></strong><strong><span style="font-family:Microsoft YaHei;font-size:14px;">– 关于IMCI2018</span></strong> </p> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/MGIyMWQxOTYwYjAxMzk3OTQ5OTg1.jpg"> </p> 
  <p style="text-align:center;"> <br> </p> 
  <div style="text-align:left;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></strong>
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">首个关注医美全产业链发展的商业高峰论坛</span></strong> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">“2018医美产业创新论坛”将聚焦在医美全产业链中的商务合作、干货分享、经验交流和投融资对接等板块。旨在为医美行业参与者提供一个高效、直接的商???交流机会。</span> 
  </div> 
  <div style="text-align:left;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">提供跨界合作的产业交流平台</span></strong> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">IMCI2018不仅为国际医美产业上游供应商和中游医美机构提供广阔的商务对接平台，同时也为互联网医美平台、医美消费金融公司、投资公司、律所保险机构等提供跨界展示、交流的互动平台，共同探讨互联网+时代下如何跨界合作，助力中国医美规范化和创新性发展。</span> 
  </div> 
  <div style="text-align:left;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">国际间的医美合作机遇</span></strong> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">中国医美市场作为国际最大的医美市场之一，近年来随着国际医美市场日渐饱和，国外医美机构纷纷寻找进入中国医美市场的机会；同时，中国医美机构也正积极对接国外优质医美机构来提升技术，以此满足日益增长的消费需求。IMCI2018将邀请到国外优质医美机构，搭建国际间的医美合作桥梁。</span> 
  </div> 
  <div style="text-align:left;"> 
   <strong><span style="font-family:Microsoft YaHei;font-size:14px;">医美新技术展示机会</span></strong> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">近年来，随着消费者抗衰老的需求日益高涨，基因测序、基因组学、再生医学、干细胞等新兴技术开始应用于医美领域；同时，人工智能、整形机器人、3D技术在医美整形临床应用也日益受到广泛关注。IMCI2018将为具有创新技术的企业提供直面客户的高效展示平台，特设主题演讲、圆桌头脑风暴、投资人商务对接、展台等多样化展示机会。</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span> 
  </div> 
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">3</span></strong>
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">– 热门话题设置</span></strong>
  <br> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">医美民营机构管理运营经验分享</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">公立医院医美品牌建设与营销策略</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">医美机构并购与上市经验</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">医美医生创业 &amp; 医生个人品牌营销</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">投资人谈医美投资前景：医美材料&amp;设备/医美机构/医美O2O</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">互联网+医美，是蓝海还是泡沫？</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">当医美遇到消费金融，如何助力“颜值经济”</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">医美营销时代大变革，医美O2O的现状与未来</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">医美+保险如何擦出新火花</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">新技术在医美临床实践中的应用</span>
   <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;……</span> 
  </div> 
  <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span>
  <br> 
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">4</span></strong>
  <strong><span style="font-family:Microsoft YaHei;font-size:14px;">– 报名参会</span></strong>
  <br> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">更多会议详情请登录会议官方微站。</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">标准注册：1800元/人（含午餐，茶歇，会刊材料）。</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">中整协会员单位享优惠票价：1200/人（含午餐，茶歇，会刊材料）。</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">观摩票：600元/ 人（含茶歇，餐食需自理）。</span> 
  </div> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">李女士 Mavis LI/电话： +86-21-6445-9670#851 &amp; 15502124800 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> 
  </div> 
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> 中国整形美容协会介绍</span>
  <br> 
  <span style="font-family:Microsoft YaHei;font-size:14px;"> （Chinese Association of Plastic and Aesthetics ,CAPA）</span>
  <br> 
  <div style="text-align:left;"> 
   <span style="font-family:Microsoft YaHei;font-size:14px;">中国整形美容协会是经中华人民共和国卫生部审核批准、民政部登记成立的国家一级民间社会团体，成立于2009年，是由从事整形美容临床、教学、科研管理等相关单位和个人自愿结成的行业性的全国性的非营利性的社会组织。</span> 
  </div> 
  <p> <br> </p> 
  <p style="text-align:center;"> <img alt="" src="/image/information/YzhhZmMzMDFlZjFlYjVhMTdkMTli.jpg"> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZGI2MGQwYWFlMzEyMjk3NjZlYTZh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>