<div class="left_art_zw"> 
 <h1>上海代言欧莱芭 亚洲斯诺克顶尖</h1> 
 <p class="left_art_zw_zz"> 来源：哈发&nbsp;&nbsp;&nbsp; 时间:2006-5-19 12:20:00 </p>  
 <div class="wz"> 
  <p> </p>
  <p align="center">&nbsp;</p> 
  <p align="center">&nbsp;</p> 
  <p align="center">&nbsp;</p> 
  <p align="center">&nbsp;</p> 
  <p align="center">&nbsp;</p> 
  <p align="center">&nbsp;</p> 
  <p align="center"><img border="0" src="/image/information/NWY0NTViZWU4YWMwNzE5YTNlNGQx.jpg" width="500" height="332"></p> 
  <p>　　昨天，亚洲斯诺克顶尖球手傅家俊先生（Marco Fu）作为欧莱芭 Europa GERMAINE FOR MEN男士系列的品牌代言人现身上海，这个纵横赛场数载的体育健将以亲身体验告知现场嘉宾，目前欧洲男士的时尚新潮流。记者获悉，15岁就和丁骏晖认识的傅家骏将在今天去丁爸爸的台球馆与小晖"一决高下"。</p> 
  <p>&nbsp;&nbsp;&nbsp; 傅家俊：男人也要保养 </p> 
  <p>　　在接受记者采访时他说：首先感谢欧莱芭贸易有限公司给我这个机会，让我和国内的朋友们能够做更多的交流和沟通。而且作为GERMAINE FOR MEN的品牌的代言人，也是我的荣幸！ </p> 
  <p>???　其实我很少接受代言，因为我会考虑两个问题：一是这个品牌是否值得信赖？二是我是否适合表达这个品牌？我希望两者都吻合才是对朋友们负责。 </p> 
  <p>　　但是当我接触到GERMAINE FOR MEN的时候，才发现其实我很早就听过这个品牌，在欧洲比赛的时候，有很多当地的朋友就曾经向我推荐过，许多欧洲的时尚人士都很推崇这个品牌。也让我十分讶异，欧洲男士对于自身风格和美感的塑造，是如此地注重和投入。 </p> 
  <p>　　但是在真正了解了GERMAINE的服务之后，我真切地感受到他带给我的，不只是美容、塑身这么简单，而是一种生活的理念。就是"享受完美新生活"！ GERMAINE崇尚自由和创造，追求工作的成功，也决不忽略对生活的享受，这和我对于工作和生活的态度是非常吻合的。 </p> 
  <p>　　通常面对每一场比赛，我都必须全神贯注，和对手拼、和自己拼，不放弃每一个机会。但比赛结束之后，我都尽量不再出席什么大的场合，而是花更多的时间来放松自己，享受生活。而GERMAINE是在我休闲的时候，能够帮助我从身体到内心，都迅速的完全的放松下来，让精神在细致的服务氛围中得到满足，同时肌肤、身体也都得到非常专业的呵护，很快，就会呈现出一个更加神采奕奕的你，在拼的时候就会以一种更好的状态出现。 </p> 
  <p>　　以前我觉得男人没有什么可保养的，只要适当锻炼就足够了。我现在明白男人也要保养，不只是保护肌肤和塑造肌肉，更是在塑造一个更加健康、更加自信的精神状态。 </p> 
  <p>　　因此，我非常希望大家也能够和我一样喜欢欧莱芭给我们带来的理念，真切地体验到GERMAINE这个品牌的产品和服务给生活带来的变化。我们都要不断地去尝试和突破，才能够享受到属于自己的完美新生活。 </p> 
  <p>&nbsp; 　绽放在??国的欧洲之花：欧莱芭 Europa </p> 
  <p>　　欧莱芭 Europa，来自欧洲最热情奔放的城市：巴塞隆纳Barcelona，着名的欧洲之花。 </p> 
  <p>　　欧莱芭承袭着这份热情，并以认真谨慎的心，将"欧洲最先进"的美容．美体及手足美甲护理引进中国，并期许能够以国际品质，带动中国美容界的"三项"新潮流。 </p> 
  <p>　　这三项新潮流分别为《科技服务新潮流》：欧莱芭首创美容中心，SPA水疗馆专用企业资源自动化管理系统，以提高美容中心的运作效率，提升服务素质，并减低成本。其次为《专业支持新潮流》：欧莱芭的培训团队，集结了欧亚二地资深的专业人士，致力协助客户培育高素质、高水平的专业美容．美体及美甲师。还有一项是《完美生活新潮流》：欧莱芭的品牌宗旨"爱美，让您更精彩"，诠译了高质量的生活，不再只是物质需求，而是对于美的精神渴求，以及丰富生活???享受。 </p> 
  <p>　　欧莱芭代理的三大品牌，包括：专业美容护肤品GERMAINE DE CAPUCCINI（纤蔓绮丽），为欧洲美容生化科技权威卡门、维尔德女士Carmen Vidal创办。从产品品质到精致外盒包装，彰显维尔德女士的理念"美丽无极限"。使得GERMAINE DE CAPUCCINI（纤蔓绮丽）深受西班牙女皇的青睐，并且在"时尚大国"意大利，拥有第一位的市场占有率。 </p> 
  <p>　　专业美容仪器品牌SORISA（舒丽），产品包括了美容、塑体、及集合七项水疗功能于一体的梦幻水疗飞机AQUAFLY等仪器。SORISA之所以在欧洲被誉为"美容高科技先驱"，凭借着就是33年不断地投入研发工作，以时间累积经验，以心血实现理想，打造了永远走在尖端的品牌价值。 </p> 
  <p>　　专业手足护理，美甲系列THUYA（都雅），是全世界唯一将用于面部护理的技术，用于手足保养的品牌．THUYA在西班牙文中的意思是"你的"。对于??护细节美丽的都雅而言，"量身订作"的时尚风格，才是决定品味的关键，女性的一举手，一投足更决定了魅力的强弱指数。 </p> 
  <p>　　2006年5月17日至19日《第十一届中国美容博览会》，是欧莱芭初次绽放于中国时尚美容舞台的日子。在展会的同时也举行品牌发布会，欧莱芭代理的三大欧洲品牌首次来沪，以现场演绎系列活动，将最先进的欧洲美丽信息，同步引进中国。 </p> 
  <p>　　今后，欧莱芭的热情将永无止境地挥洒，以上海为起点，一朵朵地绽放至中国的每一个角落。</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
  <p align="right">来自:上海热线</p> 
  <p></p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MTI3MTg1NjRhNzUwZWViNGRjNjE5.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>