<div class="left_art_zw"> 
 <h1>上海毛戈平学校平面特色班封面女郎获奖作品??析</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/9 15:11:17 </p>  
 <p class="dd"> 上海毛戈平平面特色班这一届的主题正是以视觉系及复古等来表现的封面女郎。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在视觉消费的今天，我们已经在不知不觉中进入了读图时代，杂志作为“读图”的高度集中载体，潜移默化的影响着我们的审美与观念。在观者和自我的双重凝视下载自我构建，那么我们这一届的主题正是以视觉系及复古等来表现的封面女郎。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDA5MzNhMmM2ZjcwMGM3Y2E0ODU5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一等奖 学员冯丹</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：材质以纸质材料为主，提倡环保的概念。色彩自古是最具张力的视觉表现符号，用色彩表达各种情绪，用在视觉传达设计中。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjI5YTljMjM4ZWQxZGQ1Y2Y4MjBh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二等奖 学员刘潇颖</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：用上扬的粗眼线和凌乱有序的发型体现出摇滚女郎野性不羁的酷感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTE1OTZkOGU2MGFkN2MyM2RjZDJh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二等奖 学员李雅琦</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：以黑白撞色为灵感??强调整体造型的视觉感。大面积给色眼影的晕染于整齐划一的刘海，突出女性的简约和现代女性的性格特征。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTVmNDM4OGI1OWRiYmI5MDBlZTNh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三等奖 学员蒋颖婷</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：以玛丽莲梦露的形象来构思整张照片，整个妆容以偏优雅复古的紫色为底色，底妆偏灰调，黄色为背景，用了擦除效果，给人时尚，神秘、优雅不失性感的感觉 。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2IzZjYxNzM1ZGI5NmE2N2FjZDRm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三等奖 学员徐苗苗</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：以黄色为主，黑色为衬托加上灯光的结合有很好的视觉效果。背景用抽象的布局来突出前卫。体现出硬朗，现代感十足的理念 。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDgyMzU5YmRmNGZlY2E1YmEyMzg2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjkxMjhkNjdiNmVlNDZiZTQ1NDgx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2M3MTg2OWM3Y2MzOWU4OTViZWZk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">封面作为杂志的最有力的象征符号则是吸引读者甚至购买的最佳有效途径，现在“封面女郎”已经成为一种无所不在的审美器官。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTY3MTYxMjk2NWY1NDE5OWEwM2Jm.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>