<div class="left_art_zw"> 
 <h1>上海毛戈平学校平面班毕业作品视觉赏析</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/15 11:59:55 </p>  
 <p class="dd"> 上海毛戈平学校平面班以一个生理学词汇——视觉，作为他们毕业作品主题。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">视觉是一个生理学词汇。光作用于视觉器官，使其感受细胞兴奋，其信息经视觉神经系统加工后便产生视觉。以“视觉”为主题的作品对感官冲击强度决定了其精彩程度！准备好接受“视觉”的冲击了么！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWVhMGI4YThiZTJmNzcwMDhkMTRj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一等奖 &nbsp; 学员 &nbsp;冯丹</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：材质以纸质材料为主，提倡环保的概念。色彩自古是最具张力的视觉表现符号，用色彩表达各种情绪，用在视觉传达设计中。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmUxNmM1YWM0NjhiYjllNzYzYzYy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 &nbsp;代皓皓</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：浓重的深蓝和黑色眼妆色彩加上上扬的眼影显得更加冷酷不宜接近。油彩和彩绘膏，用油漆刷来上色，随意和大胆，突显出了作品中的模特不羁的个性。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MmY4ZjZkMGI5ZjQ1MjkzMGQyZjVm.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 &nbsp;徐苗苗</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：以黄色为主，黑色为衬托??灯光的结合，有很好的视觉效果。背景用抽象的布局来突显前卫。体现出硬朗，现代感十足理念。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDUyYzRmYTRmN2E1YWMwNTU1Mzkx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 陈娇娇</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：绿色代表朝气向上，代表着希望和未来。眼妆当中加入了一些不同的色彩，体现出不一样的视觉冲击力。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjJiNGU3OTM1ZWNjMzA2MTQyMDQy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 &nbsp;夏小金</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：视觉感颜色的对比强烈，给人感觉炫眼亮丽鲜艳！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MDZkODEyYTc3MGY1MTZkMjhhYTJj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 &nbsp;张思林</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：主要以黑色、金色、咖色以及裸色???表现，再以一颗颗黑色小钻石、点缀作为面饰，增加五官和面部的立体感；整体色调偏深偏暗，体现了视觉上的个性，时尚和酷感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWI2N2E1YzhhZTlhNzIxZjZmM2Q3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 &nbsp;周睿娴</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：彩妆广告片不仅要具有观赏性，还要具有艺术性和商业价值，这组片子以蓝色为主题，给观众一种神秘的感觉。眼影运用了烟熏的手法，层层渐变，突出眼神的表达。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTUxYmRiN2RiODZmNTFkZDAxZjNk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">学员 &nbsp;李雅绮</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">作品构思：以黑白撞色为灵感，强调整体造型的视觉感。大面积的黑色晕染与整齐分明的短发，突出女性简约又不是前卫的个性特征。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTI0Nzg1Y2M0ZGFhOTQ5NGEzMWJl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>