<div class="left_art_zw"> 
 <h1>上海毛戈平学院惊现大波丧尸，诡异造型吓坏路人</h1> 
 <p class="left_art_zw_zz"> 来源：毛戈平形象设计艺术学校供稿&nbsp;&nbsp;&nbsp; 时间:2017/1/17 15:33:48 </p>  
 <p class="dd"> 近日，上海毛戈平学校特效化妆兴趣班完美结业，各路牛鬼蛇神齐出动，展示了各自的创意特效造型。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">特效化妆是影视剧组化妆师的一个必备技能，厉害的化妆师不仅能把人变美，更能做出各种诡异的特效造型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGM1YTRkZDkyNTVjMmM1OWRlOWE0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">小伙伴们一定还记得曾经给我们带来过许多精彩喷枪化妆作品的Ricky老师，在这次刚刚结束的特效化妆兴趣班中，他用各种特效工具结合喷枪，给同学们展现了各类异形及创伤妆面。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWRiNTVmNjQ1NTk4MDBkMTc4YmM5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGQxMGUwYTIwMWJjYjYzNTU5NDdm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDVmZmZmYWNkZGI5Yjc2MmJmNjg0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">那位血流不止的同学你还好吗！大波丧尸来袭，还是赶快逃命！同学们在学习制作的过程中也是热情高涨，创意层出不穷！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDQ4Y2QyMTEyODY3YjFiZTkxODcy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTYxZDFlYjZhNzk0NDMzYzU4OTZh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YjcwY2M3NWI1ODRkYzY3N2MzNTkz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NGY2NWY3ODQ4OTI2NTI0NGQyNzQ2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2EyZWNhYmI1MTQ1MTZjNTE2MTdl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">没想到吧！化妆也有这样的一面！本期特效化妆兴趣班完美收官，前来学习的同学们都表示收获满满呢！</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/OTVmODgyZjE1MGJjMjFiY2U0NTZl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>