<div class="left_art_zw"> 
 <h1>上海美博会无体验不??费，这才是美容化妆品市场的未来</h1> 
 <p class="left_art_zw_zz"> 来源：上海美博会供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/24 14:51:57 </p>  
 <p class="dd"> 近日，中华全国工商业联合会美容化妆品业商会轻奢品牌专委会暨一带一路智造联盟成立筹备大会在广州召开。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2017年4月22日，中华全国工商业联合会美容化妆品业商会轻奢品牌专委会暨一带一路智造联盟成立筹备大会在广州美博城召开，专委会与???盟的各发起单位、企业、协会领导出席了会议。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzllYjAxMTIyMTllZGVjNjMxNWY1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立筹备大会</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">中华全国工商业联合会美容化妆品业商会马娅会长在成立筹备大会中致辞并作重要讲话。筹备小组副组长张赵原先生在会议中进行了筹备工作报告，”服装、配饰、珠宝、形象管理、鞋包皮具、时尚生活家???“六大板块领域行业代表发言人就各自领域发展作了相关介绍。大会结束后，筹备小组成员举办了轻奢交流晚宴。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZmQ2Zjc3MGM5MTBkZDI4MTRiNjdj.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">大会成员合影</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在全球经济疲软的大时代下，各行各业面临着重新洗牌。在国内，珠宝、鞋包皮具、家饰类等众多行业已经到了发展的十字路口。在国家大???倡导供给侧改革的背景下，消费升级成为当下的热门话题。行业之间的互联互动，共筑产业生态圈，全方位覆盖大众主流轻奢时尚生活，已成为现下行业发展的破局之道！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">在此背景下，轻奢品牌专业委员会与一带一路智造联盟的筹备成立，预示着中国第一个以轻奢为主题、第一个以推动中国轻奢创意产业发展为使命、第一个全国性打造轻奢生态的专业委员会与行业联盟即将登上历史的舞台。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDI4YTUzNjcwNWZhOWZjM2Q1MjNk.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">大会现场</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">马娅会长在大会深刻阐述了大会成立的意义，她表示鉴于美容化妆品业在中国取得的瞩目成绩，对于珠宝、鞋包皮具、配饰、服装等发展疲软的轻奢品牌行业，与美容化妆品业具有极高的相关匹配度，完全具备创新联动，跨界共赢的基础。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">改变行业现状正值此刻，我们需厚积薄发，一触即发，带着推动中国轻奢行业发展的责任感和使命，我们将与致力于美业和轻奢行业发展的同仁带上激情、斗志、理想情怀去充分做好这件伟大的事情。我们将以成立筹备大会为起点，通过搭建官方的全国二级专业委员，同时开设六大板块，并在六大板块之下，下设中国各地的中心，以全面的网状布局，将中国所有企业、个人共同联动起来。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">同时将以一带一路智造联盟，搭建中国行业协会间的桥梁，聚集力量，凝聚成一股绳。由此，我们将很快将中国所有企业带动起来，特别是一些面临出局的中小型企业，将在我们的带领和帮扶下焕发新春。马娅会长还在会中透露，在五年之内，轻奢品牌展览与美博会展出比例将达到1:1。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWJhMDgwYjExNWRjODFhNTJmMmUx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">马娅会长发言</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">筹备小组张赵原先生在大会上表示，目前，轻奢品牌在中国具有广阔的市场空间。首先,消费观念的变迁使得中国消费者更加注重品质和个性化消费。其次，中国中产阶级人口早已突破1亿人,位居世界第一，为轻奢品牌奠定了客群基础。再者,轻奢品牌在中国的渗透率较低,中国轻奢市场具有巨大的发展潜力。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">轻奢专委会的成立旨在在团结全国轻奢品牌的企业、相关机构及知名人士，繁荣和开拓中国轻奢品牌市场发展，架设轻奢品牌企业之间产能合作、互利共生的桥梁纽带，服务轻奢品牌企业经营运行，维护轻奢行业企业权益，同时全面推进新轻奢时尚产业与美业跨界发展，打造由内而外的整体形象塑造，演绎新时代时尚格调，推动新轻奢主义概念的发展和传播，开辟新市场、新领域。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">然而，在全球化进程和“一带一路”大战略的实施过程中，尚处于时创产业初级阶段的中国企业单打独斗的劣势是显而易见的，通过联盟的大平台和产业链有机结合策略，将形成市场的合力，集合优势力量、突破发展瓶颈，合作和联盟是必走之路。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDk4YTAwMDVjMGM0NmVmNGFjZjQ5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">筹备小组副组长张赵原先生发言</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">现场会议中，配饰界以广东省时尚首饰及配饰协会代表邓钜晖会长为代表、服装界以中国顶尖设计师邓兆萍代表，珠宝界代表广东省金银珠宝玉器厂商会李菲为代表、鞋包皮具界以白云区鞋业皮具商会李健祥会长为代表，形象管理界以中国轻医美界大咖陈刚先生为代表在会上对各自领域发展做详细阐述。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWMwN2JjMTAyYzhhNWUwMDM5NWFh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">广东省时尚首饰及配饰协会邓钜晖会长与谭亚平秘书长</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDg1NzZhZGQ5ZjRjY2QxN2QyYTM0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">马娅会长与邓兆萍女士</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Mjk1ZjdhNTYyZDJkZDUxMzU3NjI5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">顺德区珠宝首饰商会会长李菲</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWM0MDY4ZWNlN2RmN2U3M2M3ZDJi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">李健祥会长发言</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">未来，成立后的轻奢品牌专业委员会与一带一路智造联盟将开展轻奢产业方向的跨行业、跨地域合作，为轻奢产业人才及中小机构提供项目孵化和金融对接服务，建立产业相关从业规则和自律准则，组织开展产业调研，为制定产业发展政策、确定产业发展方向，完善产业发展环境等提供可供政府部门及企业参考的各类研究报告。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">轻奢品牌专业委员会与一带一路智造联盟将以产业聚集化、聚集高端化、高端品牌化、品牌国际化为目标，大力促进我国经济转型和创新产业发展，也欢迎全国轻奢产业相关企业、协会和有识之士加盟，共创中国轻奢产业未来。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzdmYTA1ZWFkYTg5MWJhMjM0ZGMx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">成立筹备大会晚宴</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">据悉，轻奢品牌专业委员会发起人筹备小组成员：马娅、张赵原、邓兆萍、李健祥、刘小虹、林俊亿、卢锦华、彭怀成、陈浩壳、张馨匀、吴兴杰、洪雁、潘旭平、萧兹文、岳清波、姚永高、罗冬菊、吴伟国、白中玉、李力、陆志华、徐学文、李思斐、吴建明、王佳伟、李菲、梁宝转、粱立锐，黄建民、吴凤玲、赵年华、谭亚平、傅深根、雷军，???维平、陈刚、段语桐、罗惠烽、黄俊霖、庞炳燊、邓钜晖。共计41人。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MzI5ZDliMWNhMDY5ZmJlOTY4MmE1.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>