<div class="left_art_zw"> 
 <h1>上海Rebecca专柜开启素人???身季！抓住机会蜕变美丽！</h1> 
 <p class="left_art_zw_zz"> 来源：瑞贝卡时尚假发供稿&nbsp;&nbsp;&nbsp; 时间:2017/9/23 11:31:24 </p>  
 <p class="dd"> 你是否早已厌倦一成不变的发型？你是否纠结过你是个毫无存在感的人？其实每个女人都应拥有美的权利！ </p> 
 <div class="wz"> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">你是否早已厌倦一成不变的发型？你是否纠结过你是个毫无存在感的人？你是否幻想有一天可以像灰姑娘一样华丽大变身？其实每个女人都应拥有美的权利！</span> </p> 
  <p> &nbsp; </p> 
  <p align="center"> <img alt="" src="/image/information/M2JlZjhmOGIzOGU5MTk2ZjBjOTA4.jpg"> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">9月23日16:00-17:00，Rebecca时尚假发将于上海来福士Rebecca专柜开启素人变身季，为有强烈欲望想要改变的你提供一场惊喜“蜕变”的时尚盛会。百变的发型，玩转至IN潮范儿。现场会有KOL美妆博主直播素人大变身。您只需要点击识别下方的天猫微信号即可进入直播间参与弹幕互动。</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>除了可以量身定制一款自己的专属美丽，还有精美礼品相赠哦！</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"><strong>活动时间：2017年9月23日-9月24日</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">◆ 观看“素人大改造”直播并参与弹幕互动，凭截图可到来福士店领取品牌化妆包一个；</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">◆ &nbsp;凭“Rebecca素人大改造直播截图”，即可参与粉丝特供款优惠购买。</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;"><strong>活动时间：2017年9月21日-9月24日</strong></span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">◆ &nbsp;扫码关注有礼：购16，17新品，满3000元可使用200元优惠券；购16，17新品，满5000元可使用300元???惠券；</span> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">◆ &nbsp;&nbsp;满赠有礼：满5999元送欧舒丹护手霜套装；满3999元送摩洛哥护发精油；满2999元送手镜和按摩梳两件套；</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-family:Microsoft YaHei;font-size:14px;">这是一场关于“梦想”，“惊喜”、“玩味”、“创新”的时尚盛宴，Rebecca时尚假发期待你的到来，敢想敢变从这里开始。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YWRiNjA1OGNkMzM0MTJmY2EzYmFl.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>