<div class="left_art_zw"> 
 <h1>上海美协会召开教研组--课题研讨选题会</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/6/18 14:17:44 </p>  
 <p class="dd"> 6月14日下午，上海美发美容协会专业委员教研组在上海市开放实训中心召开《教研组--课题研讨选题会》。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NzgzOWM4ZTY2NDU4NDUyMGViZDcz.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6月14日下午，上海<a href="/cg/2.shtml" target="_blank">美发</a>美容行业协会<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>专业委员会教研组在上海市商业学校开放实训中心，召开《教研组--课题研讨选题会》。上海美发美容行业协会副会长、美发专业委员会主任陈林声以及教研组的12位委员全员出席。</span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/YmE0MmRkYzAzMTA1YmI0MmVhZWVk.jpg" alt=""></span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><img src="/image/information/NzY3YTQ0ZTZhNmNiYzJjY2ZmZGQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><strong>本次会议的主要议程:</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一、传达美发专业委员会2016年工作会议精神</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二、传达美发协会六届三次会员大会精神</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三、讨论2016年教研组工作计划并布置 《教研组研讨课题》</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">四、讨论《美发专业委员会会员证》设计方案</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">五、会议总结</span> </p> 
  <p> <br> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">根据会议精神，美发专业委员会设立了2016年美发教研组研讨课题，课题项目都落实到小组和组员（见下表）。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTU4NTU0NDYxZjljYThlYzI3NzNh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">会议中，每位会员都积极提出了自己的观点、意见和看法，并表示在接下来的时间里将会对课题进行完善，并会以书面的方式逐项、逐条的提交教研组，由教研组汇总后上报；另外会上还确定了会员证的设计方案；最后由美发美容行业协会副会长、专业委员会主任陈林声，对本次会议进行了总结，对会议的内容和会议的形式及氛围进行了高度评价。简述了协会今年来所完成的一些工???，特别提出了举办“十七届美发美容美甲邀请赛”的意义、目标、任务以及要解决的一些问题等。本组的全体会员都抱着积极的心态，投入到宣传和招募参赛人员中，积极参与大赛和协会的各项工作。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZmIxOGM0N2JmMDkxMDBhZWYwOWMx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>