<div class="left_art_zw"> 
 <h1>上海将成立“美丽救助站”为见义</h1> 
 <p class="left_art_zw_zz"> 来源：羊城晚报&nbsp;&nbsp;&nbsp; 时间:2007-1-12 9:57:00 </p>  
 <div class="wz">
   　&nbsp;&nbsp; 上海女青年钱瑛，因勇斗劫匪而负伤，脸上留下一道长长的刀疤。1月8日下午，美容医院主动上门会诊并将免费为她做美容手术。由此，该美容医院决定和上海市综治办合作成立“美丽救助站”，使那些在见义勇为中容颜受损的人找回昔日的美丽。
  <p>　　去年10月23日凌晨3点，25岁的钱瑛下班回家，途中突遭一男子持刀威胁并被抢去手机。在受到刀伤的情况下，钱瑛奋力反抗，并从该男子手中夺回了手机。面对钱瑛的勇敢抗争，歹徒只得落荒而逃。警方接报后将正在逃跑的歹徒抓获。事后，钱瑛被上海综治委授予“上海见义勇为先进分子”光荣称号。</p>
  <p>　　与持刀劫匪狭路相逢的时候她没有退缩，但当知道自己脸上留下长长疤痕后，年轻的姑娘害怕了，从事化妆品推广工作的钱瑛，深知这道疤痕对她未来工作的影响；以及???怕看到正在热恋中的男友。</p>
  <p>　　钱瑛的事迹经媒体报道后引起天大美容医院的注意，该院通过市综治办与她取得联系，表示愿意为她免费进行美容手术。经过一段时间的协商，上海天大美容医院和上海市综治办合作成立一个“美丽救助站”，凡是上海市评为见义勇为先进分子的，由市综治办出具有关证明材料后，他们的面容损伤和严重的身体疤痕都将得到该院免费治疗。</p>
  <p>　　据悉，目前上海至少有十位以上的见义勇为先进分子的容颜有不同程度损伤。</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p> 
  <p align="center" class="wz_tp"> <img src="/image/information/ZWJjZDk3OWVkNmY2YTBhNmE1ZGM1.jpg" alt=""> </p>  
  <div class="xuxian">
   --------------------------------------------------------------------------------------------------
  </div>  
 </div> 
</div>