<div class="left_art_zw"> 
 <h1>上海时装周关你什么事？3款最具代表性的秀场发型告诉你沙龙还缺什么</h1> 
 <p class="left_art_zw_zz"> 来源：Estetica艾丝美业供稿&nbsp;&nbsp;&nbsp; 时间:2017/4/12 15:58:16 </p>  
 <p class="dd"> 近日，巴黎欧莱雅沙龙专属倾力加盟2017秋冬上海时装周LABELHOOD先锋时装艺术节。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTAxYzA4ZjhmYWFjNzFkZDAxMmQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">（2017年4月7日 – 10日）巴黎欧莱雅沙龙专属倾力加盟2017秋冬上海时装周LABELHOOD先锋时装艺术节，为参展的18位独立设计师品牌打造个性发艺，共襄这一国内顶尖时尚盛宴。在为期4天的日程中，巴黎欧莱雅沙龙专属造型师团队共计为近200名模特打造了风格各异的前卫发型，以契合LABELHOOD反精英主意的时装态度，并诠释当代年轻人的超前审美取向。其中，甄选了3款具有代表性的秀场发型，均以质感、纹理为共同的标签，演绎细节迷人的下一季秋冬！</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>先锋时尚 发间铸就</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">巴黎欧莱雅沙龙专属倾力打??</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWZiZGNlN2UwN2RhZTJlMGQyNDA1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTNhMTk4NjRhZThlNzFmNTAzODlm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODU1NDYzYzQxMDBhNzY3ODk4ZWI4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWI3NTc4MGRlNmY0MWRmY2UyZDcw.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>趣味8字辫 - FFIXXED STUDIOS</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">FFIXXED STUDIOS代表了一种持续的生活和工作方式，而不是专注于任何单一的想法或审美。2017秋冬线将创意倾注在发展日常基本款上，创作出了这宽松舒适并且极易穿着的单品，与当代生活方式的各个角度都能无缝衔接。入微的细节和用心的制造，使得FFIXXED STUDIOS的设计在保持利落而精致的同时，依然不乏小惊喜。为呼应本季的质感主题及亮眼细节，巴黎欧莱雅沙龙专属特别打造了富有灵动细节8字辫，由低马尾绕成8字型，随意散落的发束打造出潇洒飘逸的气质。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmJhYzZhMTc1Mzc5ZDE0ODc1YmFj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2JiZmJhZGM2ODI3ZjY3Y2IxYjdk.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzU4MDJhZjc1OTQzYTUwOTg1Nzky.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>打造步骤：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、秀发自然吹顺，体现光滑质感</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、前额中分，喷少许巴黎欧莱雅沙龙专属雅蝶发胶，保持表层光滑</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、扎低马尾，向一侧拧紧发束，将发束绕成8字型</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、辫子侧面随意抽出几缕发束，营造自然随性的感觉</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWU2NGRkMTNiNzFiZTI5YmQyNWU2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjU1YjFhY2Q4YWE2YTEyNThkMjdi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDA2YTA3ZDRhMzkzZjJjOTljZmI2.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NmNlMTk3YTc1NjZkYjkzYTNlNTdj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZGU5Y2NkNDEwZjE4OTg1YWJjZjg3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>多维发髻 – YIRANTIAN</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">有感于成长的轨迹，“Growing in Silence”成为本季的表达诉求。整个系列从机能性与装饰性并重的家具中汲取元素，可调节的衣带模仿着儿童桌的桌腿，衣服可以随体型的变化而变动。厚重温暖的面料与轻盈柔软的肌理，呈现刚柔并济之美。时间不着痕迹地改变着我们的身体与日常，我们沉默的时候，衣物为我们自己发声。有感于设计师对成熟女性的自我表达，稳重的发髻成为创作基础，并力求以多维立体感表达饱满内心，像四面延展的发尾更显张力，不拘于发髻一贯的束缚感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzI2NTRhYzM3MTk5Nzg0NDQ5YTY3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>打造步骤：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、刘海区域中分，每一层用巴黎欧莱雅沙龙专属雅蝶发胶，打造干练光洁质感</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、后方发丝用巴黎欧莱雅沙龙专属前卫塑发丝胶打造出凌乱质感</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、发尾拧成自然高低错落的立体发髻，用U型夹固定</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、适度抽拉发尾，营造发尾自然散开视觉效果</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、用巴黎欧莱雅沙龙专属特立雅水光系列高光喷雾增加头发质感</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OGRlMzI2MTRiNjU2Y2UwZTU3Yzg3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZWI1NWQxOTQ2NGE2OTMyMjE0ZDRi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODJmMTg1YzdkZWJkYTFmNzAzYTZi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTI4OTg0NzM5Mzg5ZTMxMzM5MDUx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTgyMGU4Mjg2MmUxMThhMDRiNTYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTg0ZWViOGU5MGE1ZTRiNjFiYTA0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjY2YTc3YjI5YjVkMjEzMjBjOWRi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/N2ZmYjMzNjk5ZTdlYzBmNWFjYmFh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2E1NGZiMjk1MTMxY2M1ZWVkNjE5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTI1NzIxOTA3YmY0ZjUyNDIwMzQ0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OTI5OTAzNTcyZmQxMjM1NWM4MzUw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Njc2NmQ3M2NjMjUzZjdkYjRkNGE3.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>贵族感湿发 - JUNWEI LIN</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">17年秋冬系列以纽约SOHO街头看到的废弃椅子和美国抽象派画家Franz Kline对于纽约40、50年代的抽象派作品中得到灵感，带着一份动荡的情绪出发，结合了欧洲皇室婚礼以及潜水服的元素，通过生活环境的变换找到一丝安逸，通过安逸感产生一种眷恋，通过眷恋的一句歌词“I will leave my island, I will swim to you”直到最后settle的一种憧憬，在这个系列中体现出settle与unsettle的感觉。一直在路上的感觉，也因此充斥着发型的打造部分，流动的湿发透露着游离与落拓的贵族感，分明且极富亮泽感的发丝是整体的重点。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjFjMmRhNTA2NTdjNGY1ODFhOTRh.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>打造步骤：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、全头喷湿，用手指将头发向后梳理</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、用巴黎欧莱雅沙龙专属特立雅丰盈润发摩丝全头均匀涂抹，抓出纹理感</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、再配合适量巴黎欧莱雅沙龙专属特立雅劲酷塑型啫喱，揉捏发干至发尾，打造分明的发丝效果，并保持湿发的视觉感</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YmUxNzI4OWQ1ZjRlMzdmOTljOTU3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTc1ZDdjNjNjMzkzOGNhYzkzZjhm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWUwYzhiZjFkNzAyZDNiN2EyNWVh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/M2UyMDM2OGIzZGM5ZjE4MTJjMzI1.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDJjZWU4MTllYzZhMjhhZGVlZTEw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWJlZTNkZGY1YzY1YmE3ZDAwZjM5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjFkNjc0YTAxNDJkNjM2MzUxOTM2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>巴黎欧莱雅沙龙专属 发型打造产品推荐：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><img src="/image/information/NjAwNTE5OTU5YTFhMWE1Y2M1MDI2.jpg" alt=""><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">巴黎欧莱雅沙龙专属雅蝶发胶 500ml</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">全球最受欢迎的后台造型产品，高效稳定的定型喷雾，均匀附着于头发表层，质地更为细致柔和，让造型自然富有光泽，独特丁香萃取香精，使造型后头发芳香宜。并可根据需要随时反复再造型。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">产品科技：特殊高科技共聚物（Copolymer）在头发表面形成更为细腻紧致的分子膜，定型时间比一般造型品持久。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDRmYTJlNGQ0MTIwZTkzNGRiNGMx.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">巴黎欧莱雅沙龙专属前卫塑发丝胶 150ml</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">源自用于明星造型的前卫产品，能营造出独特与艺术感结合的绝妙造型，拥有晶状纤维成分，令???型光亮精致，超凡夺目并能使秀发产生凌乱随意的效果，达到层次分明、动感协调的立体美感。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZTJhNzViM2M2ZWQ2NGJjMTA3YzM0.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';">巴黎欧莱雅沙龙专属特立雅劲酷塑型啫哩 150ml</span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">抵抗地心引力的“胶水”，超强力发丝啫喱，打造极致造型风格，独特水晶纤维凝胶，可拉出如蜘蛛网般稠密丝网。超强定型???令发丝闪耀自然光泽。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">使用方法：干发全头涂抹使用，或者将头发分区逐区使用。可多次涂抹，重复造型。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/YTJkYjJkMDM3ZTY0MGNhMDc2MzMw.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>