<div class="left_art_zw"> 
 <h1>上海持久美妆技能测评考试中心技能???定站授牌仪式完美落幕</h1> 
 <p class="left_art_zw_zz"> 来源：上海美发美容行业协会供稿&nbsp;&nbsp;&nbsp; 时间:2016/7/20 14:21:01 </p>  
 <p class="dd"> 2016年持久美妆技能测评考试中心技能鉴定站授牌仪式完美落幕。 </p> 
 <div class="wz"> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWRhODM3MTlmMTNlZTU2YzhiZTYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWFiYTI3NzdlZmE0MDYwZjgwZTEy.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">持久美妆技能测评考试中心技能鉴定站所授牌仪式于7月19日上午召开。上海<a href="/cg/2.shtml" target="_blank">美发</a>美容行业协会会长董元明、副会长张文英、副秘书长石恒喜、纹饰专业委员会副主任委员杨韵及首批持久美妆考评员参加会议。会长董元明作重要讲话指出持久美妆是当今风摩市场的一大热点，从六月六日的师资研修至今，已经飞速开辟了一个新的平台，更开启了协会在行业技能考核颁证方面的先河。同时，也为其他工种的技能考证工作起到样板作用。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Y2E0OGUxMDc3MzczYjhkNzQ2OTE5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">副秘书长石恒喜重申考试细节，再次确认考试准则，一切要求必须规范并遵从劳动局的规则。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWViZTZkNTc5YWEwNTQyYTFkY2Y5.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/OWFhN2U1NWI0OTQxODFjYjhjZGQ4.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>副会长张文英详述考试内容:</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一、考试共有三块内容：理论考题、绘画、雾眉，线条眉二选一及美瞳线。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二、考试站所及证书正式正规，具有劳动局的许可，可在上海<a href="/cg/2.shtml" target="_blank">美发</a>美容行业协会官网查寻。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三、重申考试规则：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">严格鉴定，必须公开公正透明并详述评定站所的细则要求及站所报名资料；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">确认考站申报时间为每月1号到10号，申报成功后该考站考试会安排到次月；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">考试人数以20个人为一个申报批号，考试工具及模具站所自备。并希望各鉴定 站所做好申报工作，考试工作，考生工作。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">四、本批次考评员资格由6月6持久美妆师资培训会议确定。考评员需签定职业承诺书，严格考评员监考规则，确定考场及登分员打分要求。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjI1YjUyMTk1OWJjZDY3YmQ0NmQ5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">再次由纹饰专业委员会副主任委员杨韵讲解有关督考工作，何俊良老师代表督考员发表讲话。刘利敏大师分析美妆市场及今年大赛的新内容，最后由王勍老师详述考站申报工作流程。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MzBjYTA3OTc4OWViY2M1NTMwN2Q0.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MWFkMDM2M2EwMjY4NGMwODdkNTBl.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">持久美妆师资资格证书被授权于上海市劳动局，符合行业及职业证书相关规定。取得持久美妆师五级（初级）证书，考试成绩及证书二维码可在上海<a href="/cg/2.shtml" target="_blank" title="美发">美发</a>美容行业协会官网www.shmfmr.net查询。通过竞赛和理论考核成绩合格可晋级高级美妆师资资格证书，成绩优异者还可考取韩国资格证书。获得本次首批鉴定站所授牌仪式的单位共12家，考评员32位，均为行业内资深学校、企业及大师，符合相关技能考评资格，具有绝对权威性。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong><br> </strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><strong>上海持久美妆技能测评考试中心持久美妆师鉴定考核实施细则的相关信息参阅如下附件：</strong></span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">附件：关于持久美妆师鉴定考核的实施细则</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">一、对象范围：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">A、独立从事持久美妆工作的人员，均可报名参加技能鉴定考核。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">B、晋级条件：取得持久美妆师五级（初级）证书，通过竞赛和理论考核成绩合格可晋级高级。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">二、申报时间：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2016年7月开始，满20人以上方可向协会申报考试。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">三、核定首批鉴定站所单位及考评员名单：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ODc4NGU1NjJhYjI3NmYzZDVlNjc4.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YzFiN2UwN2E4MWI1NDk4YmZkNmYx.jpg" alt=""><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"></span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;"><br> </span> </p> 
  <p style="text-align:left;"> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:1.5;">四、收费标准：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/Nzc0NjNiNzk2MDUyMTUyMTVmOTM1.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">五、申报材料：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">站所收集整理后提供以下材料：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、学员报名表；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、申报单位在考试前一周把学员的花名册发送到协会邮箱；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、申报单位在考试前把学员的2寸白底电子照片（像素8KB以下）按照花名册上的编号加上名字，一人一包正确无误发在协会的邮箱里。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、注意事项：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、协会以申报单位信息为准，如有信息错误导致错证，由站所承担补证费用100元；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、错证修改须考站加盖公章及负责人签字。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">六、考站考务工作：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、考站负责制作准考证、座位贴、考生身上标贴；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、考站准备好绘画纸、假模头及附带品；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">3、考站应告知考生带好本人身份证或其他有效证件进入考场；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">4、???站在考试区公示考试须知；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">5、考站须安排好考场工作人员2人以上；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">6、考站应备好督考员和考评员的休息室。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">七、考试现场管理：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">站所负责考试的现场管理工作，协会委派督考员负责现场协调工作。督导于考试当天填写（技能鉴定记录表）交协会秘书处。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">八、成绩和证书：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1、成绩评定工作</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">a、根据考试的鉴定模式，分为理论和操作考试，</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">1）理论用笔试形式进行：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">判断题20题（40分），单选题60题（60分）</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2）操作</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">a、眉眼结构彩铅设计稿（50分钟）分值20分；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">b、雾眉操作（60分钟）分值45分；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">C、眼睫线（30分钟）分值35分；</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">2、证书发放工作：</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">考试合格后，10个工作日后申报单位来协会领证。</span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/MDg3NTJmNTcwMDJlOGE1MjI3ZGUx.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>