<div class="left_art_zw"> 
 <h1>上海力宝广场联合东田造型开启夏日激情之旅</h1> 
 <p class="left_art_zw_zz"> 来源：东田造型供稿&nbsp;&nbsp;&nbsp; 时间:2016/8/2 15:04:26 </p>  
 <p class="dd"> 上海力宝广场联合东田造型组织了一场——瑜伽、HIIT等时下最in课程。 </p> 
 <div class="wz"> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">上海力宝广场联合NikeRunning、GUAVAPASS全球健康生活社区，组织了一场——瑜伽、HIIT等时下最in课程，和爱运动的你一起竭力大喊“empower yourself”（激励自我）！于2016.7.30-2016.7.31展开，东田造型力宝店一起参与活动，现场提供参与者妆容及发型服务。现场精美的摆放着DONGTIAN PRO HAIR STUFF 东田专业发品、FANTASTIC LIPSTICK 东田奇幻唇膏、PROMESSE BY DONGTIAN LI 诺言香水，DONGTIAN&amp;MAGGIE 眼镜，让每位来体验的客人都能感受到东田多元化的产品及生活方式。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZDNhZDE1MThmNTFkNzc3MGVjYzBh.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDkwZTgyY2YyZGU3MjQyN2FlOWEz.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWE5NmZiMDZhZjY3ZjYwMDhjMzQ2.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">活动邀请到东田专业化妆师及东田力宝店资深发型师，为前来参与运动的体验者打造精美的妆容及造型，个个神采奕奕，各种扎发和马尾或是盘发的造型，让体验者在运动的同时更舒服，同时又能让她们更好地展现女性特有的魅力，更加自信！造型师现场做的发型也得到了参与者的一致好评与赞赏。让每个人都有不一样的美美的造型体验。</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NjVkOTViYWJmYTZlOTdlMmY1Mzcy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjhlZDJkYmQ5YWZmZWJhMjU2MGMw.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NWVhMDZkN2YyZDc2MTdhM2I3YjU3.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NTE0Mjk4N2IyNDkzYWY4MTQ2ZTBj.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTk5MGQ0OWMyNWVlZDRiOTUwZWEy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjI2ODg0MDdjOWQ1NjNhYzAzNGNi.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MTQwMjdkZDZmZWVlYmJjYTNjOWI5.jpg" alt=""><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';">完美的妆容搭配DONGTIAN&amp;MAGGIE眼镜，让热爱运动、充满活力的你更加美！祝贺此次活动圆满成功！你的与众不同，就在东田造型??</span> </p> 
  <p> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/MjgxNDVjYjg2YWQ4YzBjNjQ4YTNl.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YTIwMzcxYTNjNTMwMTE2NzQyMTZm.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/YWNkZDVmMWQ4NDBkMDY3N2I1ZGMy.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/NDZiNjNjYmJmM2Q3OWVjYzVmY2Ux.jpg" alt=""><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><br> </span> </p> 
  <p style="text-align:center;"> <span style="font-size:14px;font-family:'Microsoft YaHei';"><img src="/image/information/ZjMxOGJkZjdlMjJiNmU3MTdjMWJk.jpg" alt=""><br> </span> </p> 
  <p align="center" class="wz_tp"> <img src="/image/information/NDQ5MTFlODEyMTRiYTY2MDA1MjNh.jpg" alt=""> </p>  
  <!--<div class="xuxian">--------------------------------------------------------------------------------------------------</div>--> 
 </div> 
 <!--相关新闻--> 
 <div align="center"> 
  <hr size="1" style="color: rgb(152, 124, 185);margin-bottom:0px;">  
  <hr size="1" style="color: rgb(152, 124, 185);margin-top:0px;"> 
 </div> 
 <!--相关新闻--> 
 <div>  
 </div> 
</div>