<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<!--<div class="fix-box">
		<div class="w1190">
			<dl class="w600">
				<dt>展会信息</dt>
				<dd>
					<a data-type="1" class="details-a-click">国内展会</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">国际展会</a>
				</dd>
				<dd>
					<a data-type="3" class="details-a-click">美博会参展商名录</a>
				</dd>
			</dl>
		</div>
	</div>-->
	
	<div id="wp"></div>
</body>
<script id="tpl" type="text/html">
	<%var LOGO_URL = '//meibanglai.com/data/dataList.do';%>
	<%var DETAILS_URL = '/view/data/foreignexhibition.html';%>
	<%for (var i = 0; i < data.length; i++) {%>
	<div class="content">
		<div class="Exhibition_main clearfix">
			<ul class="list_a fl">
				<li class="f-w f-rem-017">
					<a href='<%:=DETAILS_URL%>?d=<%:=data[i].id%>'>
						<%:=data[i].meeting_name%>
					</a>
				</li>
				<li>地址：
					<%:=data[i].meeting_adress%>
				</li>
				<li>举办：
					<%:=data[i].organizer%>
				</li>
				<li>
					<%:=data[i].meeting_time%>
				</li>
			</ul>
			<ul class="list_c fr w-20 text-c">
				<li>
					<a href="<%:=DETAILS_URL%>?d=<%:=data[i].id%>">
						<%:=data[i].meeting_area%>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<%}%>
	<hr>
</script>
</html>