<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<!--<div class="fix-box">
		<div class="w1190">
			<dl>
				<dt>物流快递</dt>
				<dd>
					<a data-type="1" class="details-a-click">全国物流</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">快递查询</a>
				</dd>
				<dd>
					<a data-type="3" class="details-a-click">网点查询</a>
				</dd>
			</dl>
		</div>
	</div>-->

	<div id="wp"></div>
	<div id="result-box">
		
	</div>
</body>
<script src="/js/data/queryExpressage.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/public/area.js"></script>
<script id="tpl" type="text/html">
	<%var DETAILS_URL = '//meibanglai.com/view/matchMessage/';%>
	<div class="container">
		
	
		<div class="select-area text-c m-t-5">
			<div class="area">
				<select id="s_province" name="s_province" class="h-45 w-w100"></select>
				<select id="s_city" name="s_city" class="h-45 w-w100"></select>
				<select id="s_county" name="s_county" class="h-45 w-w100"></select>
				<input type="text" id="s_town" placeholder="乡/镇  如:玉溪镇" class="h-45 w-w100"/>
				<button class="btn btn-primary h-45 w-10 w-w100" id="search">搜索</button>
			</div>
		</div>
	</div>
</script>

<script id="result-tpl" type="text/html">
	<%var IMAGE_URL = '//meibanglai.com/image/logistics/';%>
	<%var DEFAULT_IMAGE = IMAGE_URL + 'default.png';%>
	<table class="table">
		<%for (var i = 0; i < data.length; i++) {%>
		<tr class="active">
			<td class="visible-lg col-lg-3">
				<img src="<%:=DEFAULT_IMAGE%>"/>
			</td>
			<td>
				<span>公司名称：<%:=data[i].ourier_name%></span>
				<span>网点名称：<%:=data[i].branches_name%></span>
				<span>网点联系人：<%:=data[i].working_people_name%></span>
				<span>联系人电话：<%:=data[i].working_tellphone%></span>
				<span>快递网点联系方式：<%:=data[i].telephone%></span>
				<span>配送区域：<%:=data[i].yes_working_area%></span>
				<span>不配送区域：<%:=data[i].no_working_area%></span>
			</td>
		</tr>
		<%}%>
	</table>
	<hr />
</script>

</html>