<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<!--<div class="fix-box">
			<div class="w1190">
				<dl>
					<dt>便民服务</dt>
					<dd>
						<a data-type="1" class="details-a-click">美容店家</a>
					</dd>
					<dd>
						<a data-type="2" class="details-a-click">装修服务</a>
					</dd>
					<dd>
						<a data-type="3" class="details-a-click">广告制作</a>
					</dd>
					<dd>
						<a data-type="4" class="details-a-click">包材包装</a>
					</dd>
					<dd>
						<a data-type="5" class="details-a-click">代加工</a>
					</dd>
				</dl>
			</div>
		</div>-->

		<div id="wp"></div>
	</body>
	<script id="tpl" type="text/html">
		<%var IMAGE_URL = '/view/data/details.html';%>
		<div class="container">
			<%for (var i = 0; i < data.length; i++) {%>
				<div class="hover-f5 b-top-f5 m-tb-10">
					<div class="row row-p m-0 f-s-1rem l-h-2rem">
						<ul class="hidden-xs col-sm-2 col-md-2 p-0">
							<li class="logy-img p-r-15"><img src="/image/logo.png" alt=""></li>
						</ul>
						<ul class="col-xs-9 col-sm-8 col-md-8 p-0">
							<li>
								<a href="<%:=IMAGE_URL%>?d=<%:=data[i].id%>"><%:=data[i].company_name%></a>
							</li>
							<li>联系人：<%:=data[i].contact_people%></li>
							<li>联系电话： <%:=data[i].contact_mobile%></li>
							<li>座机：<%:=data[i].contact_tellphone%></li>
							<li><%:=data[i].product_name%></li>
							<li>供<%:=data[i].product_describe%></li>
						</ul>
						<ul class="col-xs-3 col-sm-2 col-md-2 p-0 text-center m-t-2">
							<li>
								<a href="" class="btn btn-danger btn-sm">联系商家</a>
							</li>
						</ul>
					</div>
				</div>
			<%}%>
		</div>
		<hr />
	</script>

</html>


<script>
    //    var DETAILS_URL = "/view/data/"
    var show = document.getElementById("show");

    var row = document.createElement("div");
    row.classList.add("row");
    row.classList.add("marginTop1r");
    row.setAttribute("style","display: none;");
    var c1 = document.createElement("div");
    c1.classList.add("col-xs-12");
    c1.classList.add("col-sm-12");
    c1.classList.add("col-md-12");
    var c2 = document.createElement("div");
    c2.classList.add("hidden-xs");
    c2.classList.add("col-sm-2");
    c2.classList.add("col-md-2");
    var c3 = document.createElement("div");
    c3.classList.add("col-xs-12");
    c3.classList.add("col-sm-10");
    c3.classList.add("col-md-10");
    var showData = function (data) {
        var a = document.createElement("a");
        a.setAttribute("style","color: #000000;");
//        a.setAttribute("href", "/view/data/details.html?d="+data.id);
        var h1 = document.createElement("h1");
        h1.innerHTML = data.company_name;
        a.append(h1);

//        var img = document.createElement("img");
//        img.setAttribute("src", data.image_url);
//        img.setAttribute("class","details-1-img");

        var p = document.createElement("p");
        var span = document.createElement("span");
        var p1 = p.cloneNode(true);
        var p2 = p.cloneNode(true);
        var p3 = p.cloneNode(true);
        p1.append("所在地："+data.company_adress);
        p2.append("联系人："+data.contact_people);
        p3.append("联系电话："+data.contact_mobile);
        if (data.fax != ""){
            var span1 = span.cloneNode(true);
            span1.append("　　　　　传真:"+data.fax);
            p3.append(span1);
        }
        if (data.contact_tellphone != ""){
            var span1 = span.cloneNode(true);
            span1.append("　　　　　座机:"+data.contact_tellphone);
            p3.append(span1);
        }
        var p4 = p.cloneNode(true);
        var p5 = p.cloneNode(true);
        var p6 = p.cloneNode(true);
        p4.append(data.product_name);
        p5.append(data.product_describe);

        var Nc1 = c1.cloneNode(true);
//        var Nc2 = c2.cloneNode(true);
        var Nc3 = c3.cloneNode(true);
        var Nrow = row.cloneNode(true);
        Nc3.append(p1);
        Nc3.append(p2);
        Nc3.append(p3);
        Nc3.append(p4);
        Nc3.append(p5);

//        Nc2.append(img);

        Nc1.append(a);

//        Nrow.setAttribute("href",);
        Nrow.append(Nc1);
//        Nrow.append(Nc2);
        Nrow.append(Nc3);

        show.append(Nrow);
        show.appendChild(document.createElement("hr"))
    }

</script>

