<html>

<head>
	<link rel="shortcut icon" href="/image/logo/favicon.ico"/>
    <meta charset="utf-8">
    <!-- 强制ie用最高模式渲染 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- 强制ie用最高模式或者谷歌frame渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 移动设备优先(优先栅格布局-水平排列) -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- 移动设备优先(优先栅格布局-水平排列) 进制用户缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/css/public/rasterize.css" rel="stylesheet" type="text/css" />
    <link href="/css/public/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/public/meanmenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/public/navbar.css" rel="stylesheet" type="text/css" />
    <link href="/css/user/personal.css" rel="stylesheet" type="text/css" />

    <meta name="Keywords" content="美帮来美业服务，行业招聘；品牌招商；美业资讯；培训学校等综合平台"> 
    <meta name="Description" content="美帮来提供美容美发、仪器、衣包、微雕、美容床品；行业招聘；品牌招商；美业资讯；培训学校信息等行业批发市场的美业服务平台">
    <title>美帮来 用户中心</title>
</head>

<body>
<div id="header_html"></div>

    <div class="container">
        <div class="row">
            <div class=" col-sm-3 col-md-3 col-xs-12" style=" text-align: center; padding-top: 1%">
                       <a href="http://www.meibanglai.com/">
                <img class="img-responsive center-block" src="/image/public/blank.gif" data-echo="/image/logo.png">
           </a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 marginTop30" style="padding-top: 1%">
                <div class="marginNone search-div">
                    <div class="search ">
                        <input name="" type="text" class="input-text radius size-S">
                        <a>&nbsp;搜&nbsp;&nbsp;索</a>
                    </div>
                </div>
                <div class="hidden-xs" style="padding-left: 10%">
                    <a class="search-a hidden-xs">美容 | 美发 | 美甲 | 纹绣 | 化妆 | 足疗 | 养生 | 仪器 | 培训 | 招聘</a>
                </div>
            </div>
        </div>
    </div>



    <!-- hidden-xs -->
    <!--     <div class="container-fluid  marginTop30">
        <div class="row" style="background-color: #FF008C;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-6 col-sm-2 col-md-2">
                            <img src="../image/logo.png" width="100px" height="30px">
                        </div>
                        <div class="col-xs-6 col-sm-10 col-md-10 hidden-xs">
                            <nav class="row">
                                <ul>
                                    <li class="col-xs-12 col-sm-1 col-md-1 navbar">
                                        <a>品牌招商</a>
                                        <ul class="ul-hidden">
                                            <li>
                                                <div>1ssss</div>
                                            </li>
                                            <li>
                                                2ssss
                                            </li>
                                            <li>
                                                3ssss
                                            </li>
                                            <li>
                                                4ssss
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1 ">
                                        <a>培训机构</a>
                                        <ul class="ul-hidden">
                                            <li>
                                                1ssss
                                            </li>
                                            <li>
                                                2ssss
                                            </li>
                                            <li>
                                                3ssss
                                            </li>
                                            <li>
                                                4ssss
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1">
                                        全球展会
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1">
                                        美妆资讯
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1">
                                        店家招聘
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1">
                                        门店转让
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1">
                                        物流货运
                                    </li>
                                    <li class="col-xs-12 col-sm-1 col-md-1">
                                        便民服务
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container-fluid hidden-xs marginTop30 ">
        <div class="row" style="background-color: #FF008C;">
            <div class="container">
                <nav id="detailed ">
                    <div class="nav">
                        <div id="nav-detailed">
                            <!--<a>商品分类</a>-->
                            <ul>
                                <li class="nav-detailed-li" title="1" id="nav-detailed-li_1">个人中心</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <!-- 手机导航栏 -->
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 hidden-md hidden-sm hidden-lg" style=" text-align: center">
                <header>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">账号设置1</a>
                                <ul>
                                    <li>
                                        <a href="#">1账号安全</a>
                                        <li>
                                            <a href="#">1密码设置</a>
                                        </li>
                                        <li>
                                            <a href="#">1我的资料</a>
                                        </li>
                                        <li>
                                            <a href="#">1我的资料</a>
                                        </li>
                                </ul>
                                </li>
                                <li>
                                    <a href="#">账号设置2</a>
                                    <ul>
                                        <li>
                                            <a href="#">2账号安全</a>
                                            <li>
                                                <a href="#">2密码设置</a>
                                            </li>
                                            <li>
                                                <a href="#">2我的资料</a>
                                            </li>
                                            <li>
                                                <a href="#">2我的资料</a>
                                            </li>
                                    </ul>
                                    </li>
                                    <li>
                                        <a href="#">账号设置3</a>
                                    </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </div>

    <!-- 电脑导航栏 -->
    <div class="container-fluid" style="background-color:#F4F4F4; min-height:700px;">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-2 col-md-2 ">
                <div class="row tabBar-outerBorder marginNavigation" style="min-height: 750px">
                    <ul class="ul1">
                        <li class="col-xs-12 col-sm-12">
                            <a>
                                <strong>＋</strong>账号设置</a>
                            <ul class="ul-hidden ul2">
                                <li>
                                    <a href="personal.html">
                                        账号安全
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        密码设置
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        我的资料
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        认证管理
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-xs-12 col-sm-12">

                            <a>
                                <strong>＋</strong>账号设置
                            </a>
                            <ul class="ul-hidden ul2">
                                <li>
                                    <a>
                                        账号安全
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        密码设置
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        我的资料
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        认证管理
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-xs-12 col-sm-12">
                            <a>
                                <strong>&nbsp;&nbsp;</strong>账号设置</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="row tabBar-outerBorder marginTop15 ">
                    <div class="col-xs-12 col-sm-2 col-md-2" id="userImage" style="text-align: center; padding: 10px">
                        <!-- <img src="/image/black.png" class="img-responsive round userImage"  > -->
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="row marginUserinfo" id="username">
                        </div>
                        <div class="row marginUserinfo">
                            账号安全等级
                            <div class="progress" style="width: 100%">
                                <div class="progress-bar">
                                    <span class="sr-only" style="width:75%"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row marginUserinfo">
                            安全手机
                            <span class="badge badge-warning radius" id="phone"></span><a href="#">&nbsp;&nbsp;&nbsp; 修改</a>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="row marginTop15">
                    <div class="col-xs-12">
                        <div id="tab_demo" class="HuiTab marginNone tabBar-outerBorder">
                            <div class="tabBar clearfix">
                                <span class="">我的收藏</span>
                                <span class="current">我看过的信息</span>
                                <span>我的关注</span>
                            </div>
                            <div class="tabCon content" style="display: none;">
<!--                                 <p>1欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
 -->                            </div>
                            <div class="tabCon content" style="display: block;">
                                <!-- <p>2欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
                                <p>1欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
                             --></div>
                            <div class="tabCon content" style="display: none;">
                               <!--  <p>3欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。3欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。3欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
                             --></div>
                        </div>
                    </div>
                </div>

                <div class="row tabBar-outerBorder marginTop15">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 youLike">猜你喜欢</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bottom_html"></div>

</body>
<script charset="UTF-8" type="text/javascript" src="/js/public/jquery-3.2.1.min.js"></script>
<!-- <script charset="UTF-8" type="text/javascript" src="../js/public/bootstrap.js"></script> -->
<!-- <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" /> -->

<script type="text/javascript" src="/js/public/echo.js"></script>
<script type="text/javascript" src="/js/public/jquery.meanmenu.min.js"></script>
<script charset="UTF-8" type="text/javascript" src="/js/user/personal.js"></script>
<!--  $('#id').slideup(); -->
<!-- <script type="text/javascript" src="/js/public/H-ui.js"></script> -->

<script>
    $("#header_html").load("/headerN.html");
    $("#bottom_html").load("/bottom.html");
    Echo.init({
        offset: 100,
        throttle: 100
    });
    jQuery('header nav').meanmenu();

</script>

</html>