<div class="exhi_content"> 
 <h1> 2016第8届韩国国际美容博览会</h1> 
 <div class="exhi_time">
   展会时间：2016年10月13-16日
 </div> 
 <div class="content"> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span> 展会名称：2016年第8届大韩民国美容博览会 展会时间：2016年10月13-16号 展会地点：韩国国际会展中心 主 办 方：KINTEX展览集团 中国代理：香港汇展国际集团 展会周期：一年一届 韩国首尔京畿道主办的，由KINTEX、KOTRA主管的韩国最大规模的美容博览会——“第八届大韩民国美容博览会(K-BEAUTY EXPO 2016)”将于10月13日——10月16日，在位于京畿道高阳市的KINTEX举行为期四天的活动。每年都会吸引海内外4万多名的参观人员到场的“大韩民国美容博览会”召集韩国最多的美容业相关企业集聚一堂，是韩???规模最大的美容产业专业展示会。尤其今年汇聚了韩国美容业最受瞩目的各家企业和韩流明星的化妆、发型秘诀等K-Beauty的最先进技术，预计将有500多家企业700个品牌参展。 展会期间将举办多场商业配对活动 ?邀请国内外客户，一对一进出口洽谈 ?邀请海外媒体褒奖创新产品 ?邀请国内外流通领域采购商，融入流通网咨询及采购洽谈会 ?化妆品海外市场打入战略研讨会 ?与美容导师共享美容讲座及音乐会，现场直播美容电视购物 ?演艺明星美妆、发型形象等演示节目 上一届展会在韩国国际汇展中心成功落下帷幕，共计28个国家的42946位专业观展商前来观展，展位面积达到32，157平方米，吸引了来自世界各地的397名参展商前来参展，2015年达成历年最高水平的出口洽谈成果(合约推进额约726亿韩币)，KOTRA通过124个贸易馆及全球韩人贸易协会，邀请了150???专业买家，通过事前商务对接与现场展位一对一洽谈达到洽谈成果最大化(事前将参展商信息提供给海外买家，充分熟悉后参加现场面谈)，参加出口洽谈会的海外买家国家 : 泰国、越南、台湾等28个国家或地区，提供与韩国内流通企业MD入驻店铺洽谈机会 。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span>自20世纪60年代以来，韩国政府实行了“出口主导型”开发经济战略，缔造了举世瞩目的“汉江奇迹”。是拥有完善市场经济制度的经合组织发达国家。也是未来11国中唯一一个发达国家。韩国是全球第三大化妆品代工国家，依据韩国化妆品协会统计，2013年韩国化妆品产值达73亿美元，占韩国GDP之0.6%，化妆品制造商共有800多家，所生产之产品项目达87,000多种。韩国在产品研发、包材设计、精密制造均具有一定影响力。美容展结合韩国各大美容、美发、健康、医疗、Spa…等专业领域，是韩国与邻近国家参展商展示最新产品的良好契机。该展已经成为了韩国乃至亚洲美容行业专家和精英们聚集交流的专业平台，也引领着世界美容化妆品行业的趋势与未来。该展也为中国化妆品企业学习交流技术产品，宣传自我品牌提供了大好机会。 韩国也是世界美容市场增长最刺激，增速最快的国家之一，它拥有业界领先的创新技术及引领全球潮流的趋势，2013年韩国美容市场&amp;个人护理零售行业同比增长5.8%，较英国增长2.1%，美国3.9%，其潜在的市场能力不容小觑，随着2015年6月1日中韩自由贸易协议的签订，中韩两国“产品税目”的90%和贸易额的85%都将实现自由化，也就是关税降为零。今年前8个月，中国出口韩国化妆品的份额高达28%，包括中国地区内的其他市场,比如台???和香港，市场份额达到55%。</p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 韩国首尔 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 首尔京畿道 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> KINTEX、KOTRA </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="http://www.hktexpo.hk/" target="_blank">http://www.hktexpo.hk/</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 程家俊 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 18899810503 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>