<div class="exhi_content"> 
 <h1> 2016第23届中国国际美容博览会（上海光大展)</h1> 
 <div class="exhi_time">
   展会时间：2016年10月26-28日
 </div> 
 <div class="content"> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span> 第23届上海国际美容美发化妆品博览会(春季)于3月29日上午九时在上海光大会展中心隆重开幕，来自日本、韩国、法国、中国台湾的美业同仁与上海美发美容行业协会的领导共同出席开幕式为开幕剪彩。并给予此次美博会衷心的祝福和高度的赞扬。 来自韩国、日本、法国、澳大利亚、英国、泰国、马来西亚、德国、加拿大、中国香港、中国台湾及中国大陆28个省市自治区的300多家企业共聚于此。吸引了国内34个省、市、自治区以及来自海外10多个国家和地区的38600多人次参观，其中海外观众4153人次，展会现场签单活动热火朝天。本届展??会从展览规模、展品质量和档次、展示的综合水平、参展商和专业观众数量、组织管理和服务水平等方面都有很大提高，为上海乃至全国的美容美发化妆品市场搭建了强大的商贸和交流的桥梁。 第23届上海美容美发化妆品博览会将于2016年10月26-28日在上海光大会展中心举办，期待您的参与！</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p><b>展会名称</b>：2016第23届中国国际美容博览会（上海BHC)</p> 
  <p><b>展出时间：</b>2016年10月26—28日</p> 
  <p><b>展览地点：</b>上海光大会展中心（徐汇区漕宝路88号）&nbsp; </p> 
  <p><b>布展时间</b>：2016年10月24日-25日</p> 
  <p><b>撤展时间</b>：2016年10月28日15:00</p> 
  <p><b>主办单位：</b>上海美发美容行业协会&nbsp;</p> 
  <p><b>承办单位</b>：上海秀博展览有限公司&nbsp;</p> 
  <p><b>参展联系</b>：高先生13917694548 021-54971522</p> 
  <p><b>参展范围：</b></p> 
  <p>1.美容及护肤产品：专业美容院护肤品、纹绣、香薰、美甲;</p> 
  <p>2.水疗及纤体减肥：高端美容产品及仪器、水疗产品及仪器、美容减肥纤体产品及设备、瘦身仪器 保健瘦身内衣、美体贴身用品;</p> 
  <p>3.个人护理用品：香水、护肤品、彩妆、化妆用具、个人护理、孕婴童护理用品、药妆;</p> 
  <p>4.中医养生与保健产品：酵素，养生产品、温灸、美胸、药浴、保健理疗用品、天然及营养保健品;</p> 
  <p>5.医疗美容及整形：美容整形产品、医疗整形美容机构、医疗美容整形仪器及工具、整形医院;</p> 
  <p>6.美发产品：洗护染烫产品、发制品、养发育发产品</p> 
  <p>7.包装材料：包装、灌装设备、OEM、ODM等供应链产品;</p> 
  <p>8.其它：专业媒体、管理软件、美容院装饰与设备。</p> 
  <p><b>参展费用：</b></p> 
  <p>㈠9㎡标准展位收费</p> 
  <p>1、展位内设施包括：铝合金围板、一张咨询桌、两把折椅、两只射灯、一个220V/500W的电源插座、展位内满铺地毯、楣板上书中英文公司名称</p> 
  <p>2、国际区展位：RMB18800/9m2 A区展位：RMB9800 /9m2 B区展位：RMB7800 /9m2&nbsp;</p> 
  <p>㈡室内光地收费&nbsp;</p> 
  <p>[不提供任何设施]（光地地毯、水、电、气及特殊装修管理费等另算）</p> 
  <p>国际区：RMB1800/㎡ A区：RMB900元/㎡ B区：RMB800元/㎡</p> 
  <p>折扣优惠：光地36平米（含）以上9折优惠，光地54平米（含）以上8.5折优惠，光地72平米（含）以上8折优惠，光地90平米（含）以上7.5折优惠</p> 
  <p><b>参展要求：</b></p> 
  <p>● 具有企业法人营业执照；</p> 
  <p>● 经营进口化妆品需有：商检合格证、卫生合格证；</p> 
  <p>● 厂家需有生产许可证、卫生许可证、不经营假冒伪劣产品等。</p> 
  <p><b>参加本届展会的预期收益</b></p> 
  <p>1、宣传推广品牌，扩大知名度和美誉度；</p> 
  <p>2、约见老客户，开拓新客户；</p> 
  <p>3、寻找经销商和代理商，建立销售渠道，扩大销售网络；</p> 
  <p>4、开展国际贸易，扩大进出口业务量；</p> 
  <p>5、与终端用户见面，进行洽谈交流；</p> 
  <p>6、与同行见面，开展技术合作、代加工业务；</p> 
  <p>7、获取最新工程、采购信息和投标机会；</p> 
  <p>8、认识新的供应商和合作伙伴。</p> 
  <p><b>为展商提供的服务</b></p> 
  <p>● 在大会官方网站上免费为参展企业做长达一年的广告宣传;</p> 
  <p>● 免费为参展商提供公共责任保险、展场清洁、24小时场馆保卫等服务；</p> 
  <p>● 大会将编印精美会刊，免费为参展企业刊登200字左右公司简介；</p> 
  <p>● 大会提供交通运输、展具租赁、礼仪等服务，展商根据情况选用；</p> 
  <p>● 大会指定二星--五星各档???店，展商凭证入住将享受超级优惠。</p> 
  <p><b>参展细则</b></p> 
  <p>1、填写参展申请及合约表邮寄或传真至组织单位；021-51714528</p> 
  <p>2、展商签订展位销售合同后三个工作日内支付50%展位费或全款至承办单位作为定金，余款在2016年10月1日前付清，逾期未支付定金的单位，主办方有权终止其签订的合同、并取消、出售和调整该展商预定的展位；</p> 
  <p>3、2016年10月1日后报名的参展单位，须全额一次付清参展费；</p> 
  <p>4、展商在汇出各项费用后，请将银行汇款单传真至组织单位并注明公司名称；</p> 
  <p>5、组织单位收到参展申请及展台费用后，将于2016年10月1日前寄《参展商手册》给参展商；</p> 
  <p>敬请参展企业及时与我们沟通联络，获取最新展会信息上海秀博展览有限公司&nbsp;</p> 
  <p>&nbsp;地 址：上海市漕宝路80号D座802室</p> 
  <p>&nbsp;邮 编：200235</p> 
  <p>电 话：+86-21-54971522</p> 
  <p>传 真：+86-21-51714528 Q Q：332474936 联系人：高 鑫 13917694548 </p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 上海市漕宝路88号（上海光大会展中心） </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 上海美发美容行业协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 上海秀博展览有限公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="www.meirongexpo.com" target="_blank">www.meirongexpo.com</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 高鑫 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 021-54971522 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>