<div class="exhi_content"> 
 <h1> 2016年第22届西安西??国际美容美发化妆品 暨日化洗涤新产品博览会</h1> 
 <div class="exhi_time">
   展会时间：2016年09月20-22日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201607251619572968.jpg" alt="2016年第22届西安西部国际美容美发化妆品 暨日化洗涤新产品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>西安美博会是西安市商务局重点扶持展会之一，展会设国际标准展位268个，位置优越，每次展会来自全国超过18个省市的200多家企业上千品牌参展(2016年春季会还吸引了多家外国知名化妆品厂商参展)，届届爆满，西安美博会自2009年始规模稳居全国地方美博会前列，???届会参观人数平均超过2万人次，对象主要来自西部五省的美容院日化店、白领阶层、时尚女性、高消费人群等。 西安美博会在市商务局的大力扶持下，不断创新，健康发展，为引导消费者放心消费，搭建厂商、企业、院店、消费者交流平台，推动西部美容美发化妆品行业繁荣做出了突出的贡献。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p><b>媒体支持</b>: 西安晚报、华商报、西安电视台、《138新传媒》《当代女报》、《粤之风》、《发现资源》、《中华美容》、《美业品牌》、《品位女人》西北五省版、《魅力广告》专业版、日化版、全国版，《美尚日化》、《阳光丽舍》、中国美博网、中国日化网、等</p> 
  <p>&nbsp;主要内容1、美容、日化、美体、化妆、洗涤新产品、新技术展销及???示。2、美容、美发、人体彩绘时尚技术发布演示。</p> 
  <p><b>规模</b>　　 展场面积10000平方米，设置国际标准展位260个；预计省内外参展企业200家，参会客商及观众3万余人。<span style="line-height:1.5;">组委会下设办公室、招展部、广告宣传部、安全保卫等四个工作部门，具体负责博览会的组织工作。</span></p> 
  <p><b>收费标准</b>1.国际标准展位(3M×3M)4000元／个2.其它广告收费标准：门票广告：5000元／万张 汽拱门：5000元／个汽球广告：1000元／个 户外广告350元／平米 &nbsp;<span style="line-height:1.5;">博览会冠名权赞助100000元</span></p> 
  <p><span style="line-height:1.5;"><b>参展报名时间及要求</b>　1.参展报名时间：2016年9月20日－2016年9月15日 2.布展时间：9月19日　　 <b>布展期间</b>，每个展台发4张布展证（仅限于9月19日布展期间使用），招展部负责协助各展团展品的提取、运输。</span></p> 
  <p><span style="line-height:1.5;">参展要求参展单位应提供营业执照、产品生产许可证、产品质检报告及其它相关证件；（注：肉毒素、玻尿酸一类的产品谢绝进入本展馆）进口化妆品必须有商检证；没有特殊原因，未经组委会同意，参展企业不得提前撤展。</span></p> 
  <p><span style="line-height:1.5;">前期工作联系：西安美容美发化妆品业协会　</span></p> 
  <p><span style="line-height:1.5;">地址：西安市碑林区环城南路68号外贸大厦 邮编：710001电话： 陆虎 15691956100</span></p> 
  <p><span style="line-height:1.5;">网址：中国美博网：www.xambh.com</span></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 陕西西安大华1935-N2馆 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 西安美容美发化妆品业协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 西安美容美发化妆品业协会 爱华广告公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="www.xambh.com" target="_blank">www.xambh.com</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 陆虎 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 029-87528110 15691956100 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>