<div class="exhi_content"> 
 <h1> 2016上海国际美博会暨国妆产业创新博览会</h1> 
 <div class="exhi_time">
   展会时间：2016年05月16-18日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201601081622520156.gif" alt="2016上海国际美博会暨国妆产业创新博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>2016第45届中国（上海）国际美博会 2016年5月上海大虹桥美博会 时间：2016年5月16日-18日 地点：上海国家会展中心（虹桥） 展会规模：19万平方米 主办单位：中华全国工商业联合会美容化妆品业商会</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p>　　<b>2016上海国际美博会暨国妆产业创新博览会</b></p> 
  <p>　　<b>时间</b>：2016年5月16日-18日</p> 
  <p>　　<b>地点</b>：上海国家会展中心(虹桥)</p> 
  <p>　　<b>展会规模</b>：19万平方米</p> 
  <p>　　<b>主办单位</b>：中华全国工商业联合会美容化妆品业商会</p> 
  <p>　　中国国际美博会创办于1989年，已成功举办了42届。从2016年起，每年3届，三、九月在广州·中国进出口商品交易会展馆举办，五月在上海·国家会展中心(虹桥)举办;年展览面积达71万平方米，已跃升为全球第一专业展览会，日化线、专业线、供应线，全产业链涵盖。展会共吸引了来自中国大部分省份以及亚洲、欧洲、美洲、大洋洲等国家和地区的企业参展。此外，美容美发专业培训学校、专业媒体和各地的商会、协会等也到会宣传，中国国际美博会已成为中国美容行业最大最权威的信息资讯交流平台。</p> 
  <p>　　中国国际美博会名品荟萃、精英???集，是业内人士实现一站式采购计划的理想平台。此外，展会期间举行系列兼具学术性及商业性的精彩活动及高端论坛，涵盖微商、零售、面膜、大医美、纹绣、养发、美甲等多个主题，特邀专家学者、行业精英，和与会业内人士共同分享最新科技、市场、潮流资讯，帮助业界寻找商机及掌握市场动态。</p> 
  <p>　　立足长三角，服务全中国，面向全世界，大虹桥大未来</p> 
  <p>　　国家会展中心的横空出世为中国(上海)国际美博会提供了更广阔的发展空间。作为国家商务部和上海市政府合作共建的国家会展项目，她以突破性的设计，完善的功能，立足长三角，服务全中国，面向全世界。</p> 
  <p>　　这是世界上面积最大的建筑单体和会展综合体，是全球展览人的目光焦点。其40万平方米室内展厅和10万平方米室外展场的展览规模、完善和人性化的餐饮酒店配套设施、便??的交通条件，能够满足中国(上海)国际美博会的发展要求。参展企业更可以乘此契机，重新确立展位布局，满足企业规模日益扩大的需求，为今后发展打造一个全新的格局。</p> 
  <p>　　交通利好、商务配套利好、总部经济利好，决定了虹桥发展充满正能量。明年，中国(上海)国际美博会将在上海虹桥国家会展中心扬帆起航，与您共同开创一个更大虹桥!</p> 
  <p>　　<b>展品范围</b>：</p> 
  <p>　　北厅：专业美容</p> 
  <p>　　2号馆：专业美容、养生、美甲、纹绣、美睫</p> 
  <p>　　3号馆：大医美、国际展区</p> 
  <p>　　4.1号馆：微商区、个人护理品、彩妆、O2O连锁加盟、日化潮流体验区</p> 
  <p>　　4.2号馆：面膜、日化代工、包材、原料、设备</p> 
  <p>　　广东省美容美发化妆品行业协会</p> 
  <p>　　广州佳美展览有限公司</p> 
  <p>　　联系人:李雯 15000025450</p> 
  <p>　　传真：020-62912576</p> 
  <p>　　邮箱：120617079@qq.com</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 上海国家会展中心（虹桥） </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 广东省美容美发化妆品行业协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 广州佳美展览有限公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="http://www.chinainternationalbeauty.com/" target="_blank">http://www.chinainternationalbeauty.com/</a> </td> 
    </tr> 
     
    <tr> 
     <th> 参展联系人 </th> 
     <td> 李雯 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15000025450 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>