<div class="exhi_content"> 
 <h1> 2016中国国际酵素产业博览会</h1> 
 <div class="exhi_time">
   展会时间：2016年09月07-09日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201601121709048281.jpg" alt="2016中国国际酵素产业博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>2015年全球酵素市场规模已超50亿美元，其中食品酵素与人们生活饮食密切相关，发展空间及增长潜力巨大，年增长率达30%以上。如今，国内酵素市场应用越来越广泛，食品加工业、洗涤化工业、农牧养殖业、美容、临床、保健等诸多领域都其应用，尤其在保健和医学领域，酵素发挥越来越重要的作用。中国作为世界人口大国，食品、医学、保健品、健康产业市场广阔，酵素产业的商机无限。本届展会将设立国际酵素品牌形象展示区，将???请日本、香港、台湾等国外知名品牌组团参加，同时现场召开产品推介会和品牌链接加盟会，为酵素产业搭建一个沟通合作、品牌推广的交易平台。 酵素对中国人来讲是一个全新的陌生的概念，但是酵素已经悄无声息走进我们的生活，逐步成为生活必需品。酵素不仅关系到人的生老病死，而且主导着人的青春的长度，人的生命是有限的（中国人平均寿命72岁，健康寿命才62岁），新的科学知识应该越早知道越好。在这有限的生命里，如何提高生命质量，预防疾病，延长生命的长度，留住年轻，在未来里，酵素担任越来越重要的角色！</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <div>
   &nbsp; &nbsp; &nbsp; &nbsp;2016国际酵素产业博览会
  </div> 
  <div>
   &nbsp;International Enzyme Industry Exposition 2016
  </div> 
  <div>
   ?? 间： 2016年9月7日-9日 &nbsp; &nbsp;地 点：上海光大会展中心
  </div> 
  <div>
   主题词：“发展绿色酵素文化??打造健康品质生活”
  </div> 
  <div>
   同期举办：绿色酵素文化体验区 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 酵素行业品牌加盟大会暨新品推介会
  </div> 
  <div>
   国际酵素产业发酵高峰论坛 &nbsp; &nbsp;亚洲酵素行业微商大会暨网络营销峰会
  </div> 
  <div>
   <br> 
  </div> 
  <div>
   主办单位：中国生物发酵产业协会
  </div> 
  <div>
   承办单位：中国生物发酵产业协会酵素分会
  </div> 
  <div>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 上海信世展览服务有限公司
  </div> 
  <div>
   支持企业: 全国酵素产业促进中心、全国酵素产品技术研发中心、全国酵素产品检验检测中心
  </div> 
  <div>
   <br> 
  </div> 
  <div>
   展会介绍: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tel:13764176651
  </div> 
  <div>
   &nbsp; &nbsp; 2015年全球??素市场规模已超50亿美元，其中食品酵素与人们生活饮食密切相关，发展空间及增长潜力巨大，年增长率达30%以上。如今，国内酵素市场应用越来越广泛，食品加工业、洗涤化工业、农牧养殖业、美容、临床、保健等诸多领域都其应用，尤其在保健和医学领域，酵素发挥越来越重要的作用。中国作为世界人口大国，食品、医学、保健品、健康产业市场广阔，酵素产业的商机无限。本届展会将设立国际酵素品牌形象展示区，将邀请日本、香港、台湾等国外知名品牌组团参加，同时现场召开产品推介会和品牌链接加盟会，为酵素产业搭建一个沟通合作、品牌推广的交易平台。
  </div> 
  <div>
   黄金时代&nbsp;
  </div> 
  <div>
   &nbsp; &nbsp; 酵素对中国人来讲是一个全新的陌生的概念，但是酵素已经悄无声息走进我们的生活，逐步成为生活必需品。酵素不仅关系到人的生老病死，而且主导着人的青春的长度，人的生命是有限的（中国人平均寿命72岁，健康寿命才62岁），新的科学知识应该越早知道越好。在这有限的生命里，如何提高生命质量，预防疾病，延长生命的长度，留住年轻，在未来里，酵素担任越来越重要的角色！
  </div> 
  <div>
   展会亮点
  </div> 
  <div>
   &nbsp; &nbsp; 1、国际酵素产业发展高峰论坛将邀请中、日、韩、台湾等知名酵素行业专家学者和知名企业高层人士莅临此次论坛，并做精彩报告。论坛将从技术研发、生产工艺、产品应用等方面对酵素产业发展进行全方位多角度的交流。
  </div> 
  <div>
   &nbsp; &nbsp; 2、“酵素行业微商大会暨网络营销峰会”将在酵素展期间召开，本次大会旨在打造酵素行业产业链，会议为酵素行业提供信息发布、成果展示、技术交流、产品推介、合作洽谈、人才推荐等综合平台，会议将邀请来自中国、日本、韩国、台湾等原产地的数百个酵素企业参会，届时将近千个优秀酵素产品亮相“酵素微商大会”。
  </div> 
  <div>
   &nbsp; &nbsp; 3、“绿色酵素文化体验区”主要以推动绿色酵素文化为主题，展示酵素的绿色天然，并在现场举行：各类精品酵素产品展示、现场教授环保酵素制作方法、免费品尝酵素产品、免费体验酵素彩妆（化妆）、现场抽奖活动（领取千元酵素及精美礼品）等众多活动环节。
  </div> 
  <div>
   &nbsp; &nbsp; 4、“酵素行业品牌加盟大会暨新品推介会”由行业众多知名品牌组成，邀请美容美发、保健、养生、药店、保健品、健康、食品等众多门店加入，实现无缝对接。众多最新产品现场发布及行业技术交流。
  </div> 
  <div>
   观众来源
  </div> 
  <div>
   &nbsp; &nbsp; 组织方凭借多年丰富的展会经验，将开展强大的组织宣传工作，届时将邀请食品加工、保健品、医药、营养保健食品、健康产业、洗涤化工、美容、临床、???学、政府部门、行业组织、健康食品行业领袖企业、百强连锁、主流连锁、微商机构、微商平台、电商机构、药店联盟、优质单店、超级商超、高端会所、美容院所、养生会所、国内外酵素产品代理商、贸易商等代表参加此次展会，同时还将邀请普通群众代表及对酵素产业感兴趣人士参观展览。
  </div> 
  <div>
   展品范围
  </div> 
  <div>
   &nbsp; &nbsp; 一、酵素产品及原料：酵素粉、酵素膏、酵素锭、酵素原液、天然酵素、诺丽酵素、水果酵素、复合酵素、各种蔬果原料、保健原料、临床营养功能原料、药食同源功效原料等；
  </div> 
  <div>
   &nbsp; &nbsp; 二、酵素系列保健食品：酵素饮品、酵素饮料、酵素保养品、酵素保健品、酵素健康养生产品等；
  </div> 
  <div>
   &nbsp; &nbsp; 三、酵素日化产品：酵素化妆品、酵素护肤品、酵素香皂、酵素面膜等其他洗护日化产品，酵素OEM、酵素ODM等；
  </div> 
  <div>
   &nbsp; &nbsp; 四、酵素其他产品：宠物酵素食品、酵素饲料、酵素肥料，环保酵素等；
  </div> 
  <div>
   &nbsp; &nbsp; 五、酵素包装：包装机械、包装设计、灌装设备、封口机械、封箱机械、装箱机械、裹包机械、喷码机械、贴标机械、真空包装机、枕式包装机、液体包装机、自动包装机、充填包装机、立式包装机、捆扎打包机；薄膜、铝箔类、泡沫塑膜、胶带、粘合剂、打包带。
  </div> 
  <div>
   &nbsp; &nbsp; 六、酵素生产装备：酵素生产设备、发酵罐、糖化设备、蒸发设备、结晶设备、干燥设备、冷却设备、换热设备、搅拌设备、卫生级流体装备、流体不锈钢管道、提纯蒸馏设备、均质机械等生产设备；
  </div> 
  <div>
   &nbsp; &nbsp; 七、其他：酵素品牌策划、相关科研单位等
  </div> 
  <div>
   收费标准：
  </div> 
  <div>
   &nbsp; &nbsp; 1．标准展位9m2（3m×3m）配置：展出场地、三面展板（2.5m高）、楣牌制作、一张洽??桌、二把椅子、九平方地毯、220V电源插座一个、二支射灯；
  </div> 
  <div>
   &nbsp; &nbsp; 2．光地（36m2起租）配置：展出场地、保安服务，无任何设施，除此两项费用外搭建费、光地管理费等由企业自己承担；
  </div> 
  <div>
   参展项目
   <span class="Apple-tab-span" style="white-space:pre;"> </span>规格及要求
   <span class="Apple-tab-span" style="white-space:pre;"> </span>国内企业
   <span class="Apple-tab-span" style="white-space:pre;"> </span>外资企业
  </div> 
  <div>
   标准展位
   <span class="Apple-tab-span" style="white-space:pre;"> </span>3m ╳ 3m
   <span class="Apple-tab-span" style="white-space:pre;"> </span>10800元/个
   <span class="Apple-tab-span" style="white-space:pre;"> </span>3800美元/个
  </div> 
  <div>
   角标展位
   <span class="Apple-tab-span" style="white-space:pre;"> </span>3m ╳ 3m
   <span class="Apple-tab-span" style="white-space:pre;"> </span>11800元/个
   <span class="Apple-tab-span" style="white-space:pre;"> </span> 4000美元/个
  </div> 
  <div>
   室内空地
   <span class="Apple-tab-span" style="white-space:pre;"> </span>36m2起订
   <span class="Apple-tab-span" style="white-space:pre;"> </span>1100元/m2
   <span class="Apple-tab-span" style="white-space:pre;"> </span>380美元/m2
  </div> 
  <div>
   会刊广告：
  </div> 
  <div>
   ◇ 封面￥25000元 &nbsp;◇封底￥20000元 &nbsp;◇ 封二￥18000元 &nbsp;◇ 扉页￥18000元
  </div> 
  <div>
   ◇ 封三￥15000元 ◇彩色内页￥6000元 ◇ 黑白页￥3000元 ◇ 公司简介￥1000元 &nbsp;
  </div> 
  <div>
   <br> 
  </div> 
  <div>
   联系我们 ：
  </div> 
  <div>
   2016国际酵素产业博览会组委会 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
  </div> 
  <div>
   ADD：上海市九新公路2888号申新商务5楼E座 &nbsp;&nbsp;
  </div> 
  <div>
   TEL：(86) 21 6765 1321
  </div> 
  <div>
   FAX：(86) 21 5186 1068 &nbsp; &nbsp; &nbsp;QQ：2792095010
  </div> 
  <div>
   MOB：文生 &nbsp;13764176651 &nbsp; &nbsp; &nbsp;WEB：www.lee-china.com
  </div>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 上海市闵行区漕宝路88号（上海光大会展中心） </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 中国生物发酵产业协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 中国生物发酵产业协会酵素分会 </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 文生 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 021-67651321 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>