<div class="exhi_content"> 
 <h1> 2016第30届中国（青岛）国际美容美发化妆用品博览会</h1> 
 <div class="exhi_time">
   展会时间：2016年10月20-22日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201609121500568750.png" alt="2016第30届中国（青岛）国际美容美发化妆用品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>青岛美博会现已发展成为中国华东地区高端品牌展会，2016年青岛秋季美博会涵盖专业美容、日化、医学美容整形、发装、台湾、韩国、香港展团和专业美发五大领域，展览面积超30000平方米，汇聚近1000家国际国内参展商。历届吸引约50,000名来自山东及周边地区的行业买家到场参观采购，展商满意度达96.88%。青岛美博会是您寻找经销商、代理商、加盟连锁、合作伙伴、展示风采、向美业专家学习的有效的信息平台。 </p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p><b>2016第30届中国（青岛）国际美容美发化妆用品博览会&nbsp; </b></p> 
  <p>举办时间 2016年10月20-22日</p> 
  <p><b>展馆名称 青岛国际会展中心</b>3号馆（青岛市苗岭路9号）</p> 
  <p>■组织机构主办单位 山东美博国际文化传播有限公司 台湾国际美容交流协会 韩国大田新闻社</p> 
  <p>承办单位 山东美博国际文化传播有限公司海外招展 山东美博国际文化传播有限公司国际部&nbsp;</p> 
  <p>合作媒体 ■</p> 
  <p>展会介绍 山东美博国际文化传播有限公司专业专注于中国美容化妆品行业的品牌打造与综合服务，致力于中国美容行业16年，现为中华全国工商???联合会美容化妆品业商会大数据电商专业委员会山东省分会会长单位、山东省化妆品行业协会常委副会长单位、青岛市美容美发化妆品行业协会执行会长单位、济南市美发美容行业协会常务理事单位、山西省美容美发化妆品协会常务理事单位、云南省美容美发化妆品行业协会副会长单位、湖北省工商联美容化妆品商会常务理事单位、海峡两岸美业文化传播大使、鲁台美业联盟交流总会副会长单位、2014亚洲美业视觉艺术盛典-亚洲美业最具诚信明星企业、广东省美容美发化妆品行业协会理事单位。 全球眼光，布局中国。中国美容系列展从2000年落户山东，2010年走向全国，至今已跨过17个春秋，累计成功举办美容博览会约90余届，现已发展成中国美容行业连锁展。公司旗下有：中国美容网、青岛美博会、济南美博会、北京美博会、郑州高端美博会、武汉美博会、泛亚昆明美博会、山西美博会、厦门海峡美容展、山东省美容化妆品电商委员会、山东《红妆资讯》美容杂志、山东《如美》美容杂志、中国巡回美妆文化节、中国美容行业地级招商会、中国美容人才库等平台。</p> 
  <p><b>青岛美博会简介：</b>青岛美博会现已发展成为中国华东地区高端品牌展会，2016年青岛秋季美博会涵盖专业美容、日化、医学美容整形、发装、台湾、韩国、香港展团和专业美发五大领域，展览面积超30000平方米，汇聚近1000家国际国内参展商。历届吸引约50,000名来自山东及周边地区的行业买家到场参观采购，展商满意度达96.88%。青岛美博会是您寻找经销商、代理商、加盟连锁、合作伙伴、展示风采、向美业专家学习的有效的信息平台。■数据分析及招商板块 ■现场火爆图片 ■宣传推广及展会服务</p> 
  <p>1、专业买方市场的邀请，专业宣传队伍会前通过电话、传真、电子邮件、微博、微信、网站、邮寄、短信、请柬、拜访等多种形式发布邀请国内外的众多专业观众亲临现场；</p> 
  <p>2、专职市场专员在会前深入到所属省份的区、市、县、镇等将宣传海报、VIP参观证直接派送到美容化妆品经销商、美容化妆品商店、日化店、美容院和美容养生会所等。</p> 
  <p>3、展会将在多家报刊、杂志、网站、电视台等媒体上宣传和专题报导。及时报道展会的最新动态，在相关栏目做图片宣传及文字报道。</p> 
  <p>4、提前预约报名参观的前1000个美容院和日化店可到现场领取礼品一份。</p> 
  <p><b>■参展费用</b> 旗舰展位 标准展位收费空地收费(36 m2起租)企业性质 费用 RMB 8800元/9m2 RMB 6800元/9m2 RMB 600元/m2展位配置 在普通标准展位的基础上铺设地毯、配置高档门头、彩色企业宣传门楣、一桌两椅、地毯 包括三面围板、一张洽谈??(信息台)、两把椅子、一只电源插座（220V/5A）、中英文公司名称楣板。 特装展位不配桌椅、电源如有需要请自行租赁，特装布展时要向展馆交纳场地施工费20元/㎡。会场广告 价格 市场派发广告 价格门楼广告 8000元/展期 入场券广告 5000元/万气拱门 4000元/展期 请柬广告 6000元/万室内柱子广告 2000元/展期 参展、参观证广告 6000元/万室内、室外广告位 100元/m2 手提袋广告 5000元/一千个旗帜广告 3000元/30面</p> 
  <p>&nbsp;■<b>大会指定宣传刊物</b>-----山东《红妆资讯》杂志 封套（4P） 10000元 封 面（1P） 5000元 封面内拉(2P) 4000元封面外拉（2P） 3500元 封二、扉一(2P) 4000元 内 拉 页（2P） 2000元刊中刊（8P+2P） 6000元 封三、后扉一(2P) 3500元 封底（1P） 4000元扉页单P 1200元 扉页跨版（2P） 2000元 内页单P 800元内页跨版（2P） 1500元 发行量10000册（覆盖山东省17个地市，140个县）</p> 
  <p><b>■参展手续</b>：请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展。展位安排：“先报名、先交款，先安排”原则，组委会最终保留少量展位调动权。</p> 
  <p><b>■参展要求</b>：具有企业法人资格营业执照；经营进口化妆品须有商检合格证、卫生许可证；厂家具有生产许可证、卫生许可证；不得经营假冒伪劣产品，否则后果自负。展会组委会：山东美博国际文化传播有限公司青岛市山东路52号华嘉大厦2层 联系人:赵娟 手机：15898824328电话：0532-85010967传真：0532-85833615 QQ:1010968986邮箱：1010968986@QQ.Com 微信号:15898824328 网站：http://www.qdmbwh.com/</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 青岛国际会展中心3号馆（青岛市苗岭路9号） </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 山东美博国际文化传播有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="http://www.qdmbwh.com/" target="_blank">http://www.qdmbwh.com/</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 赵娟 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 手机：15898824328 微信：15898824328 QQ:1010968986 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>