<div class="exhi_content"> 
 <h1> 2016年第30届浙江杭州美博会</h1> 
 <div class="exhi_time">
   展会时间：2016年04月06-08日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201512031457254843.jpg" alt="2016年第30届浙江杭州美博会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>杭州——浙江省省会，是我国着名的七大古都之一，是浙江省的政治、经济和文化中心。又先后荣获中国历史文化名城、中国优秀旅游城市、全国环境保护模范城市、联合国人居奖、国际花园城市等10多项国家级、世界级荣誉称号。 杭州美容美发美体化妆用品展览会已成功的在杭州举办了29届，共有来自全国各地及海内外美发美容行业6000多家企业参与。观众有来自浙江及周边地区如江苏、上海、安徽、江西等地60多万名专业观众。2016我们又迎来了第30届杭州美容美发美体化妆品博览会。通过每次成功举办，积累了庞大专业观众的数据库，成为浙江省最专业、最规模的美容美发化妆品博览会。 </p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><b>　　2016第30届杭州美容美发美体化妆品博览会</b></p> 
  <p style="text-align:center;"><b>　　杭州个人护理用品与日化原料包装展</b></p> 
  <p style="text-align:center;"><b>　　邀 请 函</b></p> 
  <p>　　时 间：2016年4月6日-8日</p> 
  <p>　　地 点：杭州和平国际会展中心(绍兴路158号)</p> 
  <p>　　主办单位：杭州市美容美发业联合工会委员会</p> 
  <p>　　杭州市美容美发技师协会</p> 
  <p>　　组织单位：杭州新华展贸有限公司</p> 
  <p>　　宣传媒体：《粤之风》《发现资源?化妆与美??》《东方美容》《红妆》</p> 
  <p>　　《美容新风尚》 138美容人才网 中国美体网 化妆品网</p> 
  <p>　　广州美容网 中国化妆品网亚洲美容网 中国美容网</p> 
  <p>　　美容美发传播网 中国化妆品代理网中国美容美发网</p> 
  <p>　　火爆化妆品招商网 东方化妆品招商网 中国日化人才网</p> 
  <p>　　美容化妆品网 上海美容化妆品网 中美协人才网 中国精油网</p> 
  <p>　　中国美容网 中国美博城网 爱靓城网</p> 
  <p><b>　　前言：</b></p> 
  <p>　　杭州——浙江省省会，是我国着名的七大古都之一，是浙江省的政治、经济和文化中心。又先后荣获中国历史文化名城、中国优秀旅游城市、全国环境保护模范城市、联合国人居奖、国际花园城市等10多项国家级、世界级荣誉称号。</p> 
  <p>　　杭州美容美发美体化妆用品展览会已成功的在杭州举办了29届，共有来自全国各地及海内外美发美容行业6000多家企业参与。观众有来自浙江及周边地区如江苏、上海、安徽、江西等地60多万名专业观众。2016我们又迎来了第30届杭州美容美发美体化妆品博览会。通过每次成功举办，积累了庞大专业观众的数据库，成为浙江省最专业、最规模的美容美发化妆品博览会。</p> 
  <p><b>　　参 展 范 围：</b></p> 
  <p>　　专业线</p> 
  <p>　　●美容品、护肤品、美甲用品、纹绣纹刺、减肥瘦身用品、美体内衣、美容保健营养品、生物制品。</p> 
  <p>　　●美容美发瘦身仪器、设备，如激光美容仪器、SPA设备、电子瘦身仪、光子嫩肤仪、超声吸脂器等相关产业厂商及产品。</p> 
  <p>　　● 医疗整形美容机构、医疗美容院校、医疗美容中心 、医疗整形手术器械及设备、手术耗材、医疗整形材料、功能性康复仪、理疗仪、多功能护理设备等： 休闲、瑜伽健身健康器械等相关产业厂商及产品。</p> 
  <p>　　● 美容养生连锁机构、中医药美容、中医药浴、中医灸疗 、健身中心、美容教育培训机构、美容书刊杂志网络及现场演示。</p> 
  <p>　　日化线</p> 
  <p>　　●化妆品、盥洗用品、美容美发、孕宝养护用品、婴童卫生护理用品、婴童洗护用品、个人护理及家庭护理用品的原材料及辅料供应商和生产商;</p> 
  <p>　　● 日化原材料、配料、包装材料技术及生产设备，日化洗涤、足浴沐浴用品、包装机械、化妆品包装容器，实验室及产品研发、检测机构。</p> 
  <p>　　时尚美发发制品</p> 
  <p>　　●假发类;美发用品及器材类;发饰品类;包装及设备类：各类相关包装制品;各类相关配套产品及生产用机器设备等;高档发制品、原材料、饰品、假发护理品及美发用品等。</p> 
  <p>　　精彩展示:</p> 
  <p>　　参 展 费 用：</p> 
  <p>　　Δ标准展位：3m×3m = 9m2 6800元/展期</p> 
  <p>　　展位包含???一条中文楣板、洽谈桌一张、两把椅子、220V电源插座、射灯两只</p> 
  <p>　　Δ旗舰展位：3m×3m = 9m2 8800元/展期 (展位包含：铺设地毯，彩色KT 板中文楣板、洽谈玻璃圆桌一张、两把洽谈椅子、220V电源插座、射灯两只)</p> 
  <p>　　Δ光 地：680元/ m2(36 m2起租，不提供任何设施)</p> 
  <p>　　日 程 安 排：</p> 
  <p>　　2016年4月4日-5日 所有企业报到布展 (9：00—18：00)</p> 
  <p>　　2016年4月6日-8日 开幕展出 (9：00—16：30)</p> 
  <p>　　2016年4月8日 撤 展 ( 15：00)</p> 
  <p>　　参 展 要 求：</p> 
  <p>　　具有企业法人资格营业执照;经营进口产品须有商检合格证、卫生许可证、厂家应有生产许可证，不经营假冒伪劣产品、国家明令禁止产品;严禁私自转卖、拼用展位，现场不得发放赠品，医疗美容、针剂企业现场不得操作，否则后果自负，并同意承担全部相关责任;在展场内，严禁使用大功率音??，使用音响的展商，音响音量不得超过70分贝。</p> 
  <p>　　参 展 程 序：</p> 
  <p>　　认真填写回执表，保证内容真实有效，加盖公章后并连同参展企业法人营业执照复印件身份证复印件，传真至大会组委会。在7日内将参展费电汇组委会，否则展位不予保留。在汇出各项费用后，将汇款单传真组委会，发票到会期在展场财务组统一开取。展位分配原则：先申请、先付款、先分配。</p> 
  <p>　　观众组织及推广宣传：</p> 
  <p>　　组织浙江省内及周边地区各乡镇县市美容院、美容美发形象设计中心、厂商、经销商、代理商、日化精品店、终端店、生活馆、婴童品代理商、经销商、专科医院、大型桑拿洗浴健身中心、医疗整形医院、瑜伽健身用品中心、养生SPA中心及其相关行业单位来杭州参观、洽谈。通过邮寄、派送参观券及电话邀请业内外人士前来参观、洽谈订货。会前在省各地市县晚报，专业杂志及网站等刊登发布展会信息广告。</p> 
  <p>　　提 供 服 务：</p> 
  <p>　　提供入场券及请柬供参展商邀请客户使用;定期展场清洁及24小时场馆保卫;协助联络特惠酒店及返程票务预定;协助收货，展厅内代办货物搬运。</p> 
  <p>　　赞 助 和 广 告：</p> 
  <p>　　申请协办及预定展位的企业，可向组委会提出赞助或协办意向，特别协办8万元，协办单位6万元，赞助分大会赞助和酒会赞助，大会分2万，3万和6万三个级别，酒会赞助2万，冠名赞助2万。美博会海报：彩色版面4000元/5万份(广告尺寸250mm*160mmm);请柬：5000元/1万张; 门票：3000元/1万张(广告尺寸90mm×210mm);升空气球：2500元/个(球径2.5m，条幅12m*0.9m); 气拱门5000元/个(20m跨度); 彩旗：80元/面。</p> 
  <p>　　组委会联系方式：官方网站：www.hzmbh.com</p> 
  <p>　　电 话：0571 - 86521687 微 信：15990156020</p> 
  <p>　　联??人：赵丽 15990156020 Q Q： 1175148450</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 杭州和平国际会展中心 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 杭州新华展贸有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 杭州新华展贸有限公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="www.hzmbh.com" target="_blank">www.hzmbh.com</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 赵丽 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15990156020 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>