<div class="exhi_content"> 
 <h1> 2016中国西部（内蒙古包头市）美丽产业博览???</h1> 
 <div class="exhi_time">
   展会时间：2016年08月18-20日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201605301753323281.jpg" alt="2016中国西部（内蒙古包头市）美丽产业博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>为促进内蒙古地区美容美发化妆行业的发展，增进跨地区间的交流与合作，为观众呈现最新最优的产品展示，特由内蒙古包头美容美发协会主办，内蒙古中朗文化承办“天赋丽质，为美而生—— 包头美博会”，力主成为西北地区最为优质的美业博览会。展会主题为“天赋丽质，为美而生”，宗旨为“为造美者代言，向爱美者发声”，将呈献一个美轮美奂的“玩”美世界献给每一位爱美人士。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p>参展范围：</p> 
  <p>1. 专业产品类：美容院护肤品、美体产品及仪器、保健养生水疗SPA产品及设备、纹绣、香薰、 美甲产品及工具、原料、OEM/ODM等供应链产品;&nbsp; </p> 
  <p>2. 日化产品类：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品;&nbsp; </p> 
  <p>3.美发产品类：洗护染烫产品、发制品、养发育发产品、发用饰品、美发设备仪器类、沙龙家具;</p> 
  <p>4.整形美容类：整形设备、仪器、整形技术、整形机构、生物基因美容产品;&nbsp; </p> 
  <p>5.包装材料类：包装器械、各类容器、专用箱包、装潢印刷;</p> 
  <p>6.其它：专业媒体、教育培训机构收费标准：</p> 
  <p>&nbsp; A类国际展位：3m×3m，4800元/展位；</p> 
  <p>&nbsp; B类国际展位：3m×3m，4500元/展位；光地400元/平方米（18平方米起租）</p> 
  <p>注：1.以上费用只包括普通照明费、保安费、展会推广广告费；&nbsp;</p> 
  <p>&nbsp;2.特装展位需交纳现场施工特装管理费和清洁押金；&nbsp;</p> 
  <p>&nbsp;3.展位动力用电及其他非标准配置需要另行申请租用；</p> 
  <p>4.标准展位包括参展商中文名称楣板一块，围板三面（两面），一桌两椅，射灯两盏，电源插座一个 （5A,220V）；</p> 
  <p>5.空地：室内空地无配套设施，不带任何展具、电源，参展商自行设计</p> 
  <p>6.所有展位均不含吊装、搬运、用电、食宿等费用会务</p> 
  <p>广告收费：门票3000元/1万张 礼品袋：5000元/千个 彩虹门：2000元/展期 空飘气球：2000元/个 （以上服务需先缴纳费用） 注：门票、礼品袋为单面广告另：需举办讲座、研讨会、论???等其他活动需与主办方联系备注。</p> 
  <p>展会特色活动：1、内蒙古美容行业发展高峰论坛2、内蒙古美容美发行业现场技能秀免费培训3、美甲大赛4、鹿城丽人大赛展会亮点：1.追求正规，拒绝假冒2.因为专业，所以美丽3.市场磅礴，敢卖就买4.大牌云集，星光熠熠5.活动多样，精彩缤纷6.爱美自由，随心所动</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 内蒙古包头国际会展中心 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 包头市美容美发协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 内蒙古中朗文化传播有限责任公司 北京中创华信展览服务有限公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="www.nmg-mbh.com" target="_blank">www.nmg-mbh.com</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 田晓 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 13847105322 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>