<div class="exhi_content"> 
 <h1> 2016中国国际美博会暨第45届广州美容博览会</h1> 
 <div class="exhi_time">
   展会时间：2016年09月04-06日
 </div> 
 <div class="content"> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span> 中国国际美博会创办于1989年，已成功举办了43届。从2016年开始每年3届，三、九月在广州·中国进出口商品交易会馆举办，五月在上海·国家会展中心（虹桥）举办；年展览面积达66万平方米，已跃升为全球第一专业展览会，日化线、专业线、供应线，全产业链涵盖。展会共吸引了来自中国大部分省份以及亚洲、欧洲、美洲、大洋洲等国家和地区的企业参展。此外，美容美发专业培训学校、专业媒体和各地的商会、协会等也到会宣传，中国国际美博会已成为中国美容行业最大最权威的信息资讯交流平台。 中国国际美博会名品荟萃、精英云集，是业内人士实现一站式采购计划的理想平台。此??，展会期间举行系列兼具学术性及商业性的精彩活动及高端论坛，涵盖微商、零售、面膜、大医美、纹绣、养发、美甲等多个主题，特邀专家学者、行业精英，和与会业内人士共同分享最新科技、市场、潮流资讯，帮助业界寻找商机及掌握市场动态。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span>A区：1.2馆 微商、电商 2.2馆 国际品牌、彩妆、香水、美妆工具 3.2馆 个人护理、洗护 4.2馆 日化代工、包材、原料 5.2馆 机械设备、包材、原料 B区：9.1馆 养生、专业美容及配套 10.1馆 养生、国际健康产业区 11.1馆 美甲、纹绣、美睫 12.1馆 美甲及配套、纹绣及仪器设备 13.1馆 美甲及配套、手足护理 9.2馆 国际品牌、高端抗衰、产后修复 10.2馆 国际大医美 、国际展团 11.2馆 国际品牌，韩国展团、香港展团、台湾展团展区 12.2馆 国际大医美 13.2馆 国际品牌 9.3馆 专业美容、祛斑、祛痘、美白、脸部护理、纤体、美胸，连锁加盟展区 10.3馆 美容产品、抗衰美白、女性私密护理 11.3馆 专业美容、仪器设备 C区：14.1馆 日化零售体验区 15.1馆 日化零售体验区 14.2馆 日化零售体验区 15.2馆 日化零售体验区 16.2馆 日化零售体验区 南丰区：17.1馆 美发及配套、专业发品 17.2馆 美发及配套、专业发品 标准展位设施：围板、地毯、楣板招牌1个、射灯3支、插座1个、方台1张、椅子2张及纸屑篓1个 如展位多过一面开口，将会另外收附件费：5%（两面开口）7.5%（三面开口费）10%（独立展位，四面开口费） 养生馆：深绿色区域：￥16000元/9㎡（免开口费） ????????浅绿色区域：￥13000元/9㎡（免开口费） 服务费：所有9平方米展位须￥300元为服务费（含饮用水一箱及现场服务） ? 类型 名牌区 特A区 A区 选择一： 光地 ￥2,000/平方米 ￥1.380/平方米 ￥1080/平方米 选择二： 标准摊位 无 ￥1.480/平方米 ￥1280/平方米</p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 中国广州进出口商品交易会A/B/C区 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 广东省美容美发化妆品行业协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 广州佳美展览有限公司 </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 文静 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 18964627981 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>