<div class="exhi_content"> 
 <h1> 2016 国际美容与化妆品产业大会</h1> 
 <div class="exhi_time">
   展会时间：2016年06月16-17日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201604111736532187.gif" alt="2016 国际美容与化妆品产业大会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>国际美容与化妆品产业大会（BeaCos）将于2016 年6 月16-17日在上海召开。本届大会将探讨在现行法规体制下的检测、营销、包装以及研发、生产的创新突破。届时将聚拢全球前150强美容与化妆品品牌商的法规、检测、营销、包装、研发、生产等相关部门负责人以及优质供应商（原料供应商/贸易商，检验检测机构，标签及验证公司，包装设计/材料/设备供应商，生产设备供应商，营销渠道合作伙伴等）约300-500位嘉宾出席。 国际美容与化妆品产业大会（BeaCos）经过专业团队三年的精心打造，已逐步成为中国业内最高规格、最具权威度及影响力的全产业链盛会。 </p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span>大会优势1. 全产业链大会，深入产业痛点，寻求全局解决方案2. 业内最高规格、最具权威度及影响力的国际化平台3. 专业大会模式，给您大会和产业的双重专业享受4. 丰富企业资源，呈现多角度、多渠道的专业支持 大会亮点1. 新品推广，分析成功案列2. 对接客户，寻找合作商机3. 洞察趋势，订制成功战略4. 拓展人脉，累加成功的金砖</p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 上海万豪酒店 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 上海北展商务咨询有限公司（NIEC Group） </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 上海北展商务咨询有限公司（NIEC Group） </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="http://www.thebeacos.com/" target="_blank">http://www.thebeacos.com/</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 郑思思 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 021-6073-8950 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>