<div class="exhi_content"> 
 <h1> 2016第44届中国（广州）国际美博会</h1> 
 <div class="exhi_time">
   展会时间：2016年03月09-11日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201511301410567187.jpg" alt="2016第44届中国（广州）国际美博会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>2016第44届中国（广州）国际美博会 展会时间：2016年3月9-11日 展会地点：广州·中国进出口商品交易会B-C区 南丰国际会展中心/广州市阅江中路380号 展会主办：广东省美容美发化妆品行业协会（下称协会）</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p>　　<b>2016第44届中国(广州)国际美博会</b></p> 
  <p>　　<b>展会时间</b>：2016年3月9-11??</p> 
  <p>　　<b>展会地点</b>：广州·中国进出口商品交易会B-C区 南丰国际会展中心/广州市阅江中路380号</p> 
  <p>　　<b>展会主办</b>：广东省美容美发化妆品行业协会(下称协会)</p> 
  <p>　　<b>展品范围</b>：</p> 
  <p>　　9.1馆 专业美容、院线代工、设备</p> 
  <p>　　10.1馆 养生、国际健康产业区</p> 
  <p>　　11.1馆 养生、健康产业、美甲、纹绣、美睫</p> 
  <p>　　12.1馆 美甲及配套、纹绣及仪器设备</p> 
  <p>　　13.1馆 美甲及配套、手足护理</p> 
  <p>　　9.2馆 大医美，互联网+展区</p> 
  <p>　　10.2馆 国际大医美</p> 
  <p>　　11.2馆 国际品牌，韩国展团、香港展团、台湾展团展区</p> 
  <p>　　12.2馆 国际大医美</p> 
  <p>　　13.2馆 国际品牌</p> 
  <p>　　9.3馆 减肥纤体，祛痘祛斑，脸部护理，连锁加盟展区</p> 
  <p>　　10.3馆 专业美容、抗衰美白</p> 
  <p>　　11.3馆 专业美容、仪器设备</p> 
  <p>　　14.1馆 彩妆???香水，美妆用具展区</p> 
  <p>　　15.1馆 国际品牌馆</p> 
  <p>　　14.2馆 护肤，洗护，电商品牌展区(CS&amp;KA渠道)</p> 
  <p>　　15.2馆护肤，洗护展区(CS&amp;KA渠道)</p> 
  <p>　　16.2馆 护肤，洗护展区(CS&amp;KA渠道)</p> 
  <p>　　14.3馆 移动电商及跨境电商品牌</p> 
  <p>　　15.3馆 日化代工、包材原料展区</p> 
  <p>　　16.3馆 日化代工、包材原料展区</p> 
  <p>　　17.1馆 美发、养发展区</p> 
  <p>　　广东省美容美发化妆品行业协会</p> 
  <p>　　广州佳美展览有限公司</p> 
  <p>　　广州市广园西路121号(美博城)A座写字楼5楼</p> 
  <p>　　联系人:李雯 15000025450 QQ：120617079 微信：jili97661587</p> 
  <p>　　传真：020-62912576</p> 
  <p>　　邮箱：120617079@qq.com</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 广州·中国进出口商品交易会B-C区、南丰国际会展中心 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 广东省美容美发化妆品行业协会（下称协会） </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 广州佳美展览有限公司 </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="http://www.chinainternationalbeauty.com/" target="_blank">http://www.chinainternationalbeauty.com/</a> </td> 
    </tr> 
    
    <tr> 
     <th> 参展联系人 </th> 
     <td> 李雯 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15000025450 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>