<div class="exhi_content"> 
 <h1> 2017内蒙古包头美博会</h1> 
 <div class="exhi_time">
   展会时间：2017年07月14-16日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201705191509109531.jpg" alt="2017内蒙古包头美博会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会范围]</span>1.专业产品类：美容院护肤品、美体产品及仪器、保健养生水疗 SPA 产品及设备、纹绣、香薰、 美甲产品及工具、原料、OEM/ODM 等供应链产品<br>2.日化产品类：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品<br>3.美发产品类：洗护染烫产品、发制品、养发育发产品、发用饰品、美发设备仪器类、沙龙家具<br>4.整形美容类：整形设备、仪器、整形技术、整形机构、生物基因美容产品<br>5.包装材料类的：包装器械、各类容器、专用箱包、装潢印刷<br>6.其它：专业媒体、教育培训机构</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><span style="font-size:16px;background-color:#f10b00;">天赋丽质，为美而生—包头美博会华丽钜献</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;background-color:#f10b00;">2017 中国包头美丽产业博览会</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;background-color:#f10b00;">暨美容美发化妆品及日用化妆品展览会</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;background-color:#e0b800;">邀请函</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;background-color:#e0b800;">内蒙古包头美博会</span></p> 
  <p><b>主办单位：</b>内蒙古包头市美容美发协会承办单位 内蒙古中朗文化传播有限责任公司 北京中创华信展览服???有限公司</p> 
  <p><b>协办单位：</b>全国美容美发化妆品协(商)会联盟</p> 
  <p>全国美容业创新发展自律管理委员会(以下简称委员会)</p> 
  <p>包头市政府 包头商务局</p> 
  <p>中国美容博览会美业商家服务中心</p> 
  <p><b>支持单位：</b>韩国美丽产业协会</p> 
  <p>中国台湾化妆品GMP产业发展协会</p> 
  <p><b>展会时间：</b>2017 年 7 月 14 日—2017 年 7 月 16 日</p> 
  <p><b>展会地点：</b>内蒙古包头国际会展中心</p> 
  <p><b>展会简介：</b></p> 
  <p>为促进包头地区美容美发化妆行业的发展，增进跨地区间的交流与合作，为观众呈现最新最优的产品展示，特由内蒙古包头美容美发协会、内蒙古中朗文化传播有限责任公司承办的“天赋丽质，为美而生—— 包头美博会”，力主成为西北地区最为优质的美业博览会。展会主题为“天赋丽质，为美而生”，宗旨为“为造美者代言，向爱美者发声”，将呈献一个美轮美奂的“玩”美世界献给每一位爱美人士。</p> 
  <p><b>参展范围：</b></p> 
  <p>1.专业产品类：美容院护肤品、美体产品及仪器、保健养生水疗 SPA 产品及设备、纹绣、香薰、 美甲产品及工具、原料、OEM/ODM 等供应链产品</p> 
  <p>2.日化产品类：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品</p> 
  <p>3.美发产品类：洗护染烫产品、发制品、养发育发产品、发用饰品、美发设备仪器类、沙龙家具</p> 
  <p>4.整形美容类：整形设备、仪器、整形技术、整形机构、生物基因美容产品</p> 
  <p>5.包装材料类的：包装器械、各类容器、专用箱包、装潢印刷</p> 
  <p>6.其它：专业媒体、教育培训机构</p> 
  <p><b>收费标准：</b></p> 
  <p>A 类国际展位：3m×3m，4800 元/展位;B 类国际展位：3m×3m，4500 元/展位;</p> 
  <p>光地500 元/平方米(18 平方米起租)</p> 
  <p>注：</p> 
  <p>1.以上费用只包括普通照明费、保安费、展会推广广告费;</p> 
  <p>2.特装展位需交纳现场施工特装管理费和清洁押金;</p> 
  <p>3.展位动力用电及其他非标准配置需要另行申请租用;</p> 
  <p>4.标准展位包括参展商中文名称楣板一块，围板三面(两面)，一桌两椅，射灯两盏，电源插座一个 (5A,220V);</p> 
  <p>5.空地：室内空地无配套设施，不带任何展具、电源，参展商自行设计</p> 
  <p>6.所有展位均不含吊装、搬运、用电、食宿等费用会务广告收费：门票 3000 元/1 万张 礼品袋：5000 元/千个 彩虹门：2000 元/展期</p> 
  <p>空飘气球：2000 元/个 (以上服务需先缴纳费用)</p> 
  <p>注：门票、礼品袋为单面广告</p> 
  <p>另：需举办讲座、研讨会、论坛等其他活动需与主办方联系备注。</p> 
  <p><b>展会特色活动：</b></p> 
  <p>内蒙古美容行业发展高峰论坛</p> 
  <p>内蒙古美容美发行业现场技能秀免费培训</p> 
  <p>美甲大赛</p> 
  <p>鹿城丽人大赛</p> 
  <p><b>展会宣传方式：</b></p> 
  <p>1.主流网站媒体报道</p> 
  <p>2.行业专业期杂志报道</p> 
  <p>3.广播、电视报道</p> 
  <p>4.门票投递</p> 
  <p>5.微信公众平台宣传</p> 
  <p>6.城市广告投放</p> 
  <p>7.商场专区展示宣传</p> 
  <p>8.专业观众定向邀约</p> 
  <p><b>组委会联系方式：</b></p> 
  <p>地址：包头国际会展中心二楼美博会组委会</p> 
  <p>美博会热线(微信同号)：田晓18147107803 李研18748120532(招商接待)</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 田晓 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 18147107803 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>