<div class="exhi_content"> 
 <h1> 2017第8届泛亚(昆明)国际美容化妆品博览会</h1> 
 <div class="exhi_time">
   展会时间：2017年08月20-22日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201702141310220468.jpg" alt="2017第8届泛亚(昆明)国际美容化妆品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>泛亚(昆明)国际美容博览会是中国美容系列展在中国西南区域布局的重要展会，2012至2016年5年来已经成功举办7届,公司规划将昆明美博会打造成为辐射云南、贵州、广西、四川及东南亚国家的专业化、规模化的美业平台。本届展会规划展览面积20000平米，规划展位数800-1000个，本届美博会涵盖美容专业线、洗涤日化线、医疗美容、养生保健???女性时尚妆饰及供应线品类等。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><b><span style="font-size:18px;color:#f10b00;">2017第8届泛亚(昆明)国际美容化妆品博览会</span></b></p> 
  <p style="text-align:center;"><span style="line-height:1.5;"><b><span style="font-size:16px;">时间: 8月20-22日 地点:昆明国际会展中心6、7号馆</span></b></span></p> 
  <p style="text-align:left;"><span style="color:#f10b00;"><b>主 办：</b></span>中国百货商业协会健康美容用品分会、山东美博国际文化传播有限公司；</p> 
  <p style="text-align:left;"><span style="color:#f10b00;"><b>承 办：</b></span>山东美博国际文化传播有限公司、北京中百文化传播有限公司；</p> 
  <p style="text-align:left;"><span style="color:#f10b00;"><b>支持单位：</b></span>云南省美容美发化妆品行业协会、中华全国工商业联合会美容化妆品业商会大数据山东分会、云南省整形美容协会、云南省商务厅、云南省工商局、云南省质监局、云南省旅游局、昆明市商务局、昆明市劳动局、海外协办、香港东港国际展览有限公司、韩国美容整形行业协会、台湾国际美容交流协会、香港美化妆品行业协会；</p> 
  <p style="text-align:left;"><b><span style="color:#f10b00;">媒体推广：</span></b>凤凰卫视、CCTV、YNTV、KMTV、FM91.8交通之声、医学美学美容杂志、中国美容时尚报、精品时尚消费报、如美杂志、美丽容颜杂志、漂亮女人杂志、都市时报、春城晚报、生活新报、云南信息报、云南美容网、网尚美博汇、昆明信息港、百度、新浪、搜狐、腾讯、138美容人才网、火爆化妆品招商网等媒体；</p> 
  <p style="text-align:center;"><span style="line-height:1.5;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-7/201707191108475998341.jpg" alt="" border="0"><br> </span></p> 
  <p><span style="color:#f10b00;"><b>展会介绍：</b></span>泛亚(昆明)国际美容博览会是中国美容系列展在中国西南区域布局的重要展会，2012至2016年5年来已经成功举办7届,公司规划将昆明美博会打造成为辐射云南、贵州、广西、四川及东南亚国家的专业化、规模化的美业平台。</p> 
  <p>本届展会规划展览面积20000平米，规划展位数800-1000个，本届美博会涵盖美容专业线、洗涤日化线、医疗美容、养生保健、女性时尚妆饰及供应线品类等。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-7/201707191109097310041.jpg" alt="" border="0"><br> </p> 
  <p><span style="color:#f10b00;"><b>展示范围</b></span></p> 
  <p>1、 日化线：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品；</p> 
  <p>2、专业线：美容院护肤品、美体产品及仪器、???绣、香薰、美甲产品及工具、原料、OEM\ODM等供应链产品；</p> 
  <p>3、美发产品类：洗护染烫产品、发制品、养发育发产品、美发设备；</p> 
  <p>4、医学整形美容：整形设备、仪器、整形技术、整形机构、生物基因美容产品；</p> 
  <p>5、减肥养生保健类：减肥产品、减肥技术及设备、艾灸、酵素、经络魔罐瘦身、悬灸养生、熏蒸护理、能量石经脉护理、香薰；</p> 
  <p>6、女性时尚用品类：流行饰品、消费品、沙龙护肤、仪器、保健品、化妆包等；</p> 
  <p>7、包装材料类：包装器械、各类容器、专用箱包、装潢印刷；</p> 
  <p>8、口腔美容：牙齿美白、口腔护理产品；</p> 
  <p>9、沐浴洗浴：温泉、泳池、沐浴、桑拿、会所、SPA、足浴、健康产业等；</p> 
  <p>10、其它：美业微电商、专业媒体、教育培训机构。</p> 
  <p><span style="color:#f10b00;"><b>参展费用</b></span></p> 
  <p><span style="line-height:1.5;">标准展位类别请参照展位图</span></p> 
  <p style="text-align:center;"><span style="line-height:1.5;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-7/201707191109592949949.png" alt="" border="0"><br> </span></p> 
  <p>荣誉奖牌收费标准：A中国百货商业协会健康美容用品分会颁发的“诚信经营单位”5000元/块;B、青岛、厦门、济南、武汉、太原、昆明、郑州地方协会颁发的“诚信经营单位”3000元/块。</p> 
  <p>参展手续请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展。</p> 
  <p>展位安排：“先报名、先交款，先安排”原则，组委会最终保留少量展位调动权。</p> 
  <p><b><span style="color:#f10b00;">参展要求</span></b></p> 
  <p>具有企业法人资格营业执照；经营进口化妆品须有商检合格证、卫生许可证；参展品牌具有生产许可证、卫生许可证；不得经营假冒伪劣产品，否则后果自负。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-7/201707191109482111463.png" alt="" border="0"><br> </p> 
  <p><b><span style="color:#f10b00;">山东美博国际文化传播有限公司</span></b></p> 
  <p><b><span style="color:#f10b00;">联系地址:青岛市市南区山东路52号华嘉大厦201-202室</span></b></p> 
  <p><b><span style="color:#f10b00;">联系人：杨梅 手机/微信：13687636395&nbsp;</span></b></p> 
  <p><b><span style="color:#f10b00;">电话：0532-85019621&nbsp;</span></b></p> 
  <p><b><span style="color:#f10b00;">传真:0532-85833615</span></b></p> 
  <p><b><span style="color:#f10b00;">QQ：1186242869 或2214645266</span></b></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 昆明国际会展中心6、7号馆 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 中国百货商业协会健康美容用品分会、山东美博国际文化传播有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司、北京中百文化传播有限公司 </td> 
    </tr> 
    
    <tr> 
     <th> 参展联系人 </th> 
     <td> 杨梅 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 13687636395 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>