<div class="exhi_content"> 
 <h1> 2017第11届华中国际美容美体化妆品博览会</h1> 
 <div class="exhi_time">
   展会时间：2017年10月24-26日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201706021654237031.jpg" alt="2017第11届华中国际美容美体化妆品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>华中国际美容化妆品博览会(以下简称华中美博会)来源于武汉美博会，武汉美博会创始于2012年8月，是山东美博国际文化传播有限公司华中地区最为重要的战略布点，经历5年的发展，武汉美博会已由之前的辐射湖北地区发展成为辐射整个华中地区的美博会，因此从2017年春季起正式更名为华中国际美容化妆品博览会！</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><b><span style="font-size:16px;color:#d40a00;">2017第11届华中国际美容美体化妆品博览会</span></b></p> 
  <p>时间： 10月24-26日&nbsp;</p> 
  <p>地点：武汉国际会展中心东厅、西厅、中厅、二楼</p> 
  <p>主 办：<span style="line-height:1.5;">中国百货商业协会健康美容用品分会、</span><span style="line-height:1.5;">山东美博国际文化传播有限公司</span></p> 
  <p></p> 
  <p>承 办：<span style="line-height:1.5;">山东美博国际文化传播有限公司、</span><span style="line-height:1.5;">北京中百文化传播有限公司、</span><span style="line-height:1.5;">武汉美博环球文化传播有限公司</span></p> 
  <p>支持单位：<span style="line-height:1.5;">湖北省美容化妆品业商会、</span><span style="line-height:1.5;">湖北省美发美容协会、</span><span style="line-height:1.5;">武汉国际会展中心</span></p> 
  <p>协办单位：<span style="line-height:1.5;">武汉魅力通行广告有限公司</span></p> 
  <p>展会介绍：</p> 
  <p>武汉历来被称为“九省通衢”之地，是中国内陆最大的水陆空交通枢纽.是中国经济地理的“心脏”，具有承东启西、沟通南北、维系四方的作用。中部六省唯一的副省级市、国家区域中心城市(华中)，地处江汉平原东部、长江中游，是中国中部地区的中心城市，广泛的覆盖和传播环境，使商品迅速流通，成为中外商家集中采购的商业要塞。是中国辐射力最大的单一市场，是企业投资拓展市场和参加展览的首选之地！</p> 
  <p>华中国际美容化妆品博览会(以下简称华中美博会)来源于武汉美博会，武汉美博会创始于2012年8月，是山东美博国际文化传播有限公司华中地区最为重要的战略布点，经历5年的发展，武汉美博会已由之前的辐射湖北地区发展??为辐射整个华中地区的美博会，因此从2017年春季起正式更名为华中国际美容化妆品博览会！</p> 
  <p>2017年第11届华中美博会规划展览面积约40000平米，规划展位数900-1200个，本届美博会涵盖美容专业线、洗涤日化线、医疗美容、养生保健、微电商、女性时尚妆饰及供应线品类等。</p> 
  <p>活动类规划：</p> 
  <p></p> 
  <center>
   <img src="http://jmimg.138job.com/KEditorUpImages/2017-6/201706021645499045086.png" width="500" height="780" alt="" border="0">
   <br> 
  </center>
  <p></p> 
  <p style="text-align:left;">1、华中地区美业纹饰大赛</p> 
  <p style="text-align:left;">2、华中美业医美论坛</p> 
  <p style="text-align:left;">3、华中美业微商论坛</p> 
  <p style="text-align:left;">4、华中美业美容技能大赛</p> 
  <p>展示范围：</p> 
  <p>1. 日化线：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品；</p> 
  <p>2. 专业线：美容院护肤品???美体产品及仪器、、纹绣、香薰、美甲产品及工具、原料、OEM\ODM等供应链产品；</p> 
  <p>3.美发产品类：洗护染烫产品、发制品、养发育发产品、美发设备；</p> 
  <p>4.医学整形美容：整形设备、仪器、整形技术、整形机构、生物基因美容产品；</p> 
  <p>5.减肥养生保健类：减肥产品、减肥技术及设备、艾灸、酵素、经络魔罐瘦身、悬灸养生、熏蒸护理、能量石经脉护理、香薰；</p> 
  <p>6.女性时尚用品类：流行饰品、消费品、沙龙护肤、仪器、保健品、化妆包等；</p> 
  <p>7.包装材料类：包装器械、各类容器、专用箱包、装潢印刷；</p> 
  <p>8、口腔美容：牙齿美白、口腔护理产品；</p> 
  <p>9、沐浴洗浴：温泉、泳池、沐浴、桑拿、会所、SPA、足浴、健康产业等；</p> 10.其它：美业微电商、专业媒体、教育培训机构。
  <p></p> 
  <p>参展费用：</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-6/201706021647515978315.png" alt="" border="0"><br> </p> 
  <p>广告费用</p> 
  <p><img src="http://jmimg.138job.com/KEditorUpImages/2017-6/201706021648147010727.png" alt="" border="0"><br> </p> 
  <p>参展手续：</p> 
  <p>请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展。展位安排：“先报名、先交款，先安排”原则，组委会最终保留少量展位调动权。</p> 
  <p>参展要求</p> 
  <p>具有企业法人资格营业执照;经营进口化妆品须有商检合格证、卫生许可证;参展品牌具有生产许可证、卫生许可证;不得经营假冒伪劣产品，否则后果自负。</p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#fe2419;">山东美博国际文化传播有限公司</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#fe2419;">联系地址:青岛市市南区山东路52号华嘉大厦201-202室</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#fe2419;">联系人：杨梅 手机/微信：13687636395 电话：0532-85019621&nbsp;</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#fe2419;">传真:0532-85833615</span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#fe2419;">QQ：1186242869 QQ: 2214645266</span></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 武汉国际会展中心东厅、西厅、中厅、二楼 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 中国百货商业协会健康美容用品分会、山东美博国际文化传播有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司、北京中百文化传播有限公司、武汉美博???球文化传播有限公司 </td> 
    </tr> 
    
    <tr> 
     <th> 参展联系人 </th> 
     <td> 杨梅 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 13687636395 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>