<div class="exhi_content"> 
 <h1> 2017海峡厦门国际美容美发化妆用品博览会</h1> 
 <div class="exhi_time">
   展会时间：2017年11月23-25日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201612221659589218.jpg" alt="2017海峡厦门国际美容美发化妆用品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>山东美博国际文化传播有限公司作为中国美容美发化妆品行业的专业品牌打造商及综合服务机构，专注于美业16年，提供多元化服务，业务领域涵盖：展会、会议、论坛、教育、新媒体等。与旗下：郑州美展文化传播有限公司、济南美博文化传播有限公司、青岛美博国际文化传播有限公司共同打造中国美容行业连锁展，每年在北京、青岛???济南、郑州、武汉、昆明、太原、厦门等地举办美博会，累计成功举办90余届，构成覆盖中国及促进一带一路的市场网络。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><b><span style="color:#f10b00;font-size:18px;">2017海峡厦门国际美容美发化妆用品博览会</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;font-size:18px;">2017海峡厦门国际医疗整形美容及抗衰老博览会 2017海峡厦门国际美妆养生微电商博览会</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;font-size:18px;">时间：2017年11月23-25日&nbsp;</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;font-size:18px;">地点：厦门国际会展中心 (思明区会展路198号)</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;font-size:18px;">邀 请 函</span></b></p> 
  <p>组织机构</p> 
  <p>主办单位：中国百货商业协会健康美容用品分会 海名国际会展集团</p> 
  <p>山东美博国际文化传播有限公司</p> 
  <p>支持单位：台湾国际美容交流协会、鲁台美业交流总会、韩国美容整形行业协会</p> 
  <p>中华全国工商业联合会美容化妆品业商会大数据山东分会</p> 
  <p>厦门美发美容化妆品行业协会 福建省美容美发化妆品商会</p> 
  <p>承办单位：山东美博国际文化传播有限公司 厦门海名会展服务有限公司 北京中百文化传播有限公司</p> 
  <p>战略合作单位：中国化妆品招商网 火爆化妆品招商网 中国化妆品网 第一展会网 广告买卖网 138美容网等专业化妆品网站 福建如美杂志 金泉网</p> 
  <p>海外招展：山东美博文化传播有限公司国际部 香港东港国际展览有限公司</p> 
  <p>一、展览日程安排</p> 
  <p>日期及开放时间：</p> 
  <p>搭建布展期：2017年11月22日</p> 
  <p>展览展示期：2017年11月23日-25日(三天)</p> 
  <p>撤 展 期：2017年11月25日(下午15：00开始)</p> 
  <p>展览地点：厦门国际会展中心(思明区会展路198号)</p> 
  <p>二、公司简介：</p> 
  <p>山东美博国际文化传播有限公司作为中国美容美发化妆品行业的专业品牌打造商及综合服务机构，专注于美业16年，提供多元化服务，业务领域涵盖：展会、会议、论坛、教育、新媒体等。与旗下：郑州美展文化传播有限公司、济南美博文化传播有限公司、青岛美博国际文化传播有限公司共同打造中国美容行业连锁展，每年在北京、青岛、济南、郑州、武汉、昆明、太原、厦门等地举办美博会，累计成功举办90余届，构成覆盖中国及促进一带一路的市场网络。同时拥有中国巡回美妆文化节、中国美容行业地级招商会等平台，成功举办：美业文化艺术节、千人海帆之夜、合德合利合心意千人盛典之夜、海峡两岸美业盛典、山东美业资源大会、鲁台美业联盟会等活动。公司现为全国工商联美业商会大数据电商委员会山东分会会长、山东省化妆品行业协会常务副会长、台湾国际美容交流协会副会长、山东省美发美容行业协会执行副会长、青岛市美容美发化妆品行业协会执行会长、福建省化妆品协会副会长、福建、广东、湖北、山西、云南省美协理事等荣誉单位。</p> 
  <p>三、展会介绍</p> 
  <p>厦门地处我国东南沿海-福建省东南部，与台湾宝岛隔海相望。是中国沿海经济最发达的城市之一，商业繁荣，具有非常优越的办展基础。</p> 
  <p>2017海峡厦门国际美容美发化妆用品博览会是中国美容系列展在华南布局的重要市场，目标打造成辐射台湾、香港、广东、江西、浙江、福建等地区的美业盛会，构建海峡两岸美业交流平台。本次展会面向中国大陆、台??、香港、韩国、日本等东南亚国家进行招商。产品涵盖美容专业线、洗涤日化线、医疗美容、养生保健、女性时尚妆饰及供应线品类。设有专业美容展区、养生专区、美甲美睫纹绣区、日化专区、美发区、包装专区 6大专区。同期将举办行业内的各种大赛、海峡两岸美业高峰论坛等活动。本届展会规划2 大展馆，展览面积约20000多平方米，规划700个国际标准展位，目标吸引50，000名海峡两岸美业人到场参展参观。 美丽的鹭岛——厦门，恭候您的光临!</p> 
  <p>本届展会规划同期活动</p> 
  <p>2017年海峡两岸美业交流会</p> 
  <p>2017年台湾美容产品交流论坛</p> 
  <p>2017年海峡两岸大医美论坛</p> 
  <p>2017海峡两岸纹饰大赛</p> 
  <p>2017年海峡两岸美甲大赛</p> 
  <p>2017年福建省美业诚信单位颁奖大典</p> 
  <p>四、展示范围</p> 
  <p>1.日化线：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品;</p> 
  <p>2.专业线：美容院护肤品、美体产品及仪器、、纹绣、香薰、美甲产品及工具、原料、OEM\ODM等供应链产品;</p> 
  <p>3.美发产品：洗护染烫产品、发制品、养发育发产品、发用饰品、美发设备、仪器类、沙龙家具;</p> 
  <p>4.整形美容：整形设备、仪器、整形技术、整形机构、生物基因美容产品;</p> 
  <p>5.养生保健：艾灸、酵素、经络魔罐瘦身、悬灸养生、熏蒸护理、能量石经脉护理、香薰、水疗</p> 
  <p>SPA等保健养生产品及设备。</p> 
  <p>6.女性时尚用品：流行饰品、消费品、沙龙护肤、仪器、保健品、化妆包等</p> 
  <p>7.包装材料：包装器械、各类容器、专用箱包、装潢印刷;</p> 
  <p>8.其它：专业媒体、教育培训机构;</p> 
  <p>五、价格表</p> 
  <p>企<span style="line-height:1.5;">业</span><span style="line-height:1.5;">性</span><span style="line-height:1.5;">质</span></p> 
  <p><span style="line-height:1.5;">&nbsp;豪华展位</span></p> 
  <p>空地收费(36 m2起租)</p> 
  <p>费用RMB 8800元/9m2RMB 6800元/9m2RMB 600元/m2</p> 
  <p>展<span style="line-height:1.5;">位</span><span style="line-height:1.5;">配</span><span style="line-height:1.5;">置</span></p> 
  <p><span style="line-height:1.5;">展位配置在普通标准展位的基础上铺设地毯、彩色KT板企业楣板、加配高档圆形玻璃桌一张、两把洽谈椅包括三面围板、一张洽谈桌(信息台)、两把椅子、一只电源插座标准展位收费(220V/5A)、中英文公司名称楣板。特装展位不配桌椅、电源如有需要请自行租赁，特装布展时要向展馆交纳场地施工费10元/㎡。</span></p> 
  <p>1、各种展位价格表(图片仅供参考)</p> 
  <p>2、会场广告价格：</p> 
  <p>会场广告价格市场派发广告价格</p> 
  <p>门楼广告8000元/展期入场券广告5000元/万</p> 
  <p>气拱门4000元/展期请柬广告6000元/万</p> 
  <p>旗帜广告3000元/30面参展、参观证广告6000元/万</p> 
  <p>室内、室外广告位100元/m2手提袋广告5000元/一千个</p> 
  <p>3、参展手续：请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展。</p> 
  <p>4、展位安排：“先报名、先交款，先安排”的原则，组委会最终保留少量展位调动权。</p> 
  <p>5、参展要求：具有企业法人资格营业执照;经营进口化妆品须有商检合格证、卫生许可证;厂家具有生产许可证、卫生许可证;不得经营假冒伪劣产品，否则后果自负。</p> 
  <p>六、大会组委会招展办公室</p> 
  <p>青岛管理办公室：青岛市市南区山东路52号华嘉大厦205室， 电话：0532-85019625 传真：0532-85833615 联系人：张文洁 电话：15966833506微信18563983019 qq：2697937509</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 厦门国际会展中心A1、A2馆 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 中国百货商业协会健康美容用品分会 海名国际会展集团 山东美博国际文化传播有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司 厦门海名会展服务有限公司 北京中百文化传播有限公司 </td> 
    </tr> 
    
    <tr> 
     <th> 参展联系人 </th> 
     <td> 张文洁 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15966833506 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>