<div class="exhi_content"> 
 <h1> 2017中国天津国际美容美发化妆品博览会(春季)</h1> 
 <div class="exhi_time">
   展会时间：2017年05月19-21日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201702221458039218.jpg" alt="2017中国天津国际美容美发化妆品博览会(春季)" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>2017中国天津国际美容美发化妆品博览会(天津美博会)已成为华北地区最大、影响力最强的美容行业盛会，本届展览将以高端、精品、品质为宗旨，届时将汇聚国内外知名的美容化妆品行业制造商、经销商、零售商、代理商等，是美容化妆品品牌宣传推广的最佳商贸平台，是商贸洽谈、交易的重要场所，为买方和卖方市场沟通和交流合???起到了积极的推动作用。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><span style="color:#f10b00;font-size:18px;"><b><span style="font-size:14px;">2017中国天津国际美容美发化妆品博览会(春季)</span></b></span></p> 
  <p style="text-align:center;"><span style="color:#f10b00;font-size:18px;"><b><span style="font-size:14px;">2017 China Tianjin International Beauty &amp; Hair Cosmetics Expo (spring)</span></b></span></p> 
  <p><b>展览时间：</b>2017年5月19日-21日(18日为布展时间)</p> 
  <p><b>展览地点：</b>天津梅江会展中心(友谊南路18号)</p> 
  <p><b>批准单位：</b>天津市商务委员会</p> 
  <p><b>主办单位：</b>天津市美发美容行业协会</p> 
  <p>中国星际会展集团</p> 
  <p>协办单位：韩国美容产业协会</p> 
  <p>组织单位：天津星际展览服务有限公司</p> 
  <p><b>展会介绍???</b></p> 
  <p>2017中国天津国际美容美发化妆品博览会(天津美博会)已成为华北地区最大、影响力最强的美容行业盛会，本届展览将以高端、精品、品质为宗旨，届时将汇聚国内外知名的美容化妆品行业制造商、经销商、零售商、代理商等，是美容化妆品品牌宣传推广的最佳商贸平台，是商贸洽谈、交易的重要场所，为买方和卖方市场沟通和交流合作起到了积极的推动作用。展会意在打造成为天津美容化妆品行业的风向标;天津美容化妆品市场的晴雨表。</p> 
  <p>“2017中国天津国际美容美发化妆品博览会(CTBE2017)”将于2017年5月19-21日在天津梅江会展中心隆重举办，大会的展出面积将达30000m2。将吸引来自26国家和地区近60000行业买家到会交流、洽谈。我们将为您奉上最丰厚的盛宴，5月的天津让我们共赴盛会。</p> 
  <p><span style="color:#f10b00;">CTBE2017——将全力打造华北地区美容化??品旗舰展!</span></p> 
  <p><b>展示范围：</b></p> 
  <p>1.美容及护肤产品：专业美容院护肤品、纹绣、香薰、美甲;</p> 
  <p>2.水疗及纤体减肥：高端美容产品及仪器、水疗产品及仪器、美容减肥纤体产品及设备、瘦身仪器、保健瘦身内衣、美体贴身用品;</p> 
  <p>3.个人护理用品：香水、护肤品、彩妆、化妆用具、个人护理、洗涤类产品、孕婴童护理用品、药妆;</p> 
  <p>4.中医养生与保健产品：中医(药)养生产品、温灸、美胸、药浴、保健理疗用品、天然及营养保健品;</p> 
  <p>5.医疗美容及整形：美容整形产品、医疗整形美容机构、医疗美容整形仪器及工具、整形医院;</p> 
  <p>6.包装材料：包装、灌装设备、OEM、ODM等供应链产品;</p> 
  <p>7.美发产品：洗护染烫产品、发制品、养发育发产品;</p> 
  <p>8.其它：专业媒体、管理软件、美容院装饰与设计</p> 
  <p><b>展览时间：</b></p> 
  <p>布展时间：5月18???(8:30–17:00)</p> 
  <p>展览时间：5月19-21日(8:30–16:30)</p> 
  <p>闭幕撤展：5月21日 (8:30–15:00)</p> 
  <p><b>参展费用：</b></p> 
  <p>1、 标准展位: A区(豪华展区/韩国展区)：RMB 5500元/个</p> 
  <p>B区RMB 4000元/个</p> 
  <p>境外企业: 9平方米USD2000。</p> 
  <p>注：单开口展位优惠500块钱 全场统一价格!</p> 
  <p>注： 每个标准展位9平方米包括(三面围板、一张洽谈桌信息台)。</p> 
  <p>两把椅子、两个射灯、 一只电源插座(220V/5A)、中英文公司名称楣板)。</p> 
  <p>室内光地：(参展单位如租用光地;展位现场施工管理费及电箱费自理)</p> 
  <p>室内光地： RMB550/m2</p> 
  <p>注：光地36 m2起租，“光地”只提供参展空地，不含任何设施，展馆内展览期间保洁\保安。</p> 
  <p>会刊广告：(人民币) (所有会刊广告请企业自己设计!)</p> 
  <p>□封面：20000元 □封二：15000元 □彩首：12000元 □彩色：6000元</p> 
  <p>□封底：15000元 □封三???10000元 □连版：10000元 □黑白：3000元</p> 
  <p>其它广告：(人民币) (请柬、入场券3万张起印)</p> 
  <p>□请柬：10000元/万 □入场券：8000元/万 □参观证：9000元/万</p> 
  <p><b>参展须知：</b></p> 
  <p>1、具有企业法人营业执照。</p> 
  <p>2、经营进口化妆品须有商检合格证、卫生许可证。</p> 
  <p>3、厂家具有生产或经营许可证、卫生许可证、产品质量检验合格证。</p> 
  <p>4、展会期间将加强知识产权保护。</p> 
  <p>5、不经营假冒伪劣产品，出现后果责任自负。(注：以上各证自备复印件，备有关管理部门抽检)</p> 
  <p><b>参展程序：</b></p> 
  <p>1.填写参展申请表邮寄或传真至组织单位;</p> 
  <p>2.申请展位3天内将参展费用[50%(定金)或全款]电汇或交至组织单位，余款于2017年4月19日前付清;报名截止日期为2017年5月10日;</p> 
  <p>3.展位顺序分配原则：“先申请，先付款，先安排”;</p> 
  <p>4.组委会收到参展费用后将在开展前一个月邮件转发《参展商手册》，(内含展会主要日程安排及各项服务项目、展位搭建、租用展具及用电申请、住宿安排及展品运输指南)等。</p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">大会组委会：天津星际展览服务有限公司</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">地址：天津市华苑产业区海泰华科三路1号华鼎智地3号楼906室</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">电话：+86-22-83711808 83718198</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">传真：+86-22-83717618</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">E-mail：875844672@qq.com</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">联系人：吴强 13662135979(微信同步)</span></b></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 吴强 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 13662135979 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>