<div class="exhi_content"> 
 <h1> 2018第9届云南(昆明)国际美容化妆品博览会</h1> 
 <div class="exhi_time">
   展会时间：2018年05月27-29日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201711071104552861.jpg" alt="2018第9届云南(昆明)国际美容化妆品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>云南省被誉为“植物王国”“香料之乡”“药材宝库”“天然花园”，近年来，云南省食药监局高度重视生物医药和大健康产业发展，在机构设置、队伍建设、工作安排等方面大力支持，加快推进了保健食品化妆品产业发展的步伐，加强了对企业的指导和服务，全省化妆品产业呈现良好的发展势头，为云南省大健康产业注入了新的活力。云南???明国际美容博览会是中国美容系列展在中国西南区域布局的重要展会，从2012至今已经成功举办8届,已经成为西南地区美容化妆品企业与美容日化院店、经销商、代理商的专业交流服务平台，本届展会规划展览面积20000平米，规划3大展馆，同时规划医美论坛、美发大赛、纹饰大赛等活动，本届美博会涵盖美容专业线、洗涤日化线、医疗美容、养生保健、女性时尚妆饰及供应线品类等。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><span style="font-size:18px;"><b><span style="color:#d40a00;">2018第9届云南(昆明)国际美容化妆品博览会</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:18px;"><b><span style="color:#d40a00;">时间: 5月27-29日 地点:昆明国际会展中心6、7号馆</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:18px;"><b><span style="color:#d40a00;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071101064053156.jpg" alt="" border="0"><br> </span></b></span></p> 
  <p><span style="color:#48a2ff;"><span style="color:#000000;">主 办：</span></span><span style="line-height:1.5;">云南省整形美容协会、</span><span style="line-height:1.5;">云南省美容美发化妆品行业协会</span></p> 
  <p>承 办：<span style="line-height:1.5;">山东美博国际文化传播有限公司、</span><span style="line-height:1.5;">北京美博环球文化传播有限公司</span></p> 
  <p>支持单位：<span style="line-height:1.5;">中国百货商业协会健康美容用品分会、</span><span style="line-height:1.5;">中华全国工商业联合会美容化妆品业商会大数据山东分会</span></p> 
  <p>海外协办、<span style="line-height:1.5;">香港东港国际展览有限公司、韩国美容整形行业协会、</span><span style="line-height:1.5;">台湾国际美容交流协会、香港美容化妆品行业协会</span></p> 
  <p style="text-align:center;"><span style="line-height:1.5;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071103565655497.png" alt="" border="0"><br> </span></p> 
  <p>展会介绍：</p> 
  <p>云南省被誉为“植物王国”“香料之乡”“药材宝库”“天然花园”，近年来，云南省食药监局高度重视生物医药和大健康产业发展，在机构设置、队伍建设、工作安排等方面大力支持，加快推进了保健食品化妆品产业发展的步伐，加强了对企业的指导和服务，全省化妆品产业呈现良好的发展势头，为云南省大健康产业注入了新的活力。</p> 
  <p>云南昆明国际美容博览会是中国美容系列展在中国西南区域布局的重要展会，从2012至今已经成功举办8届,已经成为西南地区美容化妆品企业与美容日化院店、经销商、代理商的专业交流服务平台，本届展会规划展览面积20000平米，规划3大展馆，同时规划医美论坛、美发大赛、纹饰大赛等活动，本届美博会涵盖美容专业线、洗涤日化线、医疗美容、养生保健、女性时尚妆饰及供应线品类等。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071103428553847.png" alt="" border="0"><br> </p> 
  <p>展示范围：</p> 
  <p>1. 日化线：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品；</p> 
  <p>2. 专业线：美容院护肤品、美体产品及仪器、、纹绣、香薰、美甲产品及工具、原料、OEM\ODM等供应链产品；</p> 
  <p>3.美发产品类：洗护染烫产品、发制品、养发育发产品、美发设备；</p> 
  <p>4.医学整形美容：整形设备、仪器、整形技术、整形机构、生物基因美容产品；</p> 
  <p>5.减肥养生保健类：减肥产品、减肥技术及设备、艾灸、酵素、经络魔罐???身、悬灸养生、熏蒸护理、能量石经脉护理、香薰；</p> 
  <p>6.女性时尚用品类：流行饰品、消费品、沙龙护肤、仪器、保健品、化妆包等；</p> 
  <p>7.包装材料类：包装器械、各类容器、专用箱包、装潢印刷；</p> 
  <p>8、口腔美容：牙齿美白、口腔护理产品；</p> 
  <p>9、沐浴洗浴：温泉、泳池、沐浴、桑拿、会所、SPA、足浴、健康产业等；</p> 
  <p>10.其它：美业微电商、专业媒体、教育培训机构。</p> 
  <p><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071102437725022.jpg" alt="" border="0"><br> </p> 
  <p>参展费用：</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071102279735170.jpg" alt="" border="0"><br> </p> 
  <p>荣誉奖牌收费标准：A中国百货商业协会健康美容用品分会颁发的“诚信经营单位”5000元/块;B、青岛、厦门、济南、武汉、太原、昆明、郑州地方协会颁??的“诚信经营单位”3000元/块。</p> 
  <p>参展手续请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展。展位安排：“先报名、先交款，先安排”原则，组委会最终保留少量展位调动权。</p> 
  <p>参展要求：</p> 
  <p>具有企业法人资格营业执照;经营进口化妆品须有商检合格证、卫生许可证；参展品牌具有生产许可证、卫生许可证；不得经营假冒伪劣产品，否则后果自负。</p> 
  <p><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071102070337514.jpg" alt="" border="0"><br> </p> 
  <p style="text-align:center;"><span style="color:#fe2419;">山东美博国际文化传播有限公司</span></p> 
  <p style="text-align:center;"><span style="color:#fe2419;">联系地址:青岛市市南区山东路52号华嘉大厦201-202室</span></p> 
  <p style="text-align:center;"><span style="color:#fe2419;">联系人：杨梅 手机/微信：13687636395 电话：0532-85019621 传真:0532-85833615</span></p> 
  <p style="text-align:center;"><span style="color:#fe2419;">QQ：1186242869 QQ: 2214645266</span></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 昆明国际会展中心6、7号馆 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 云南省整形美容协会 、云南省美容美发化妆品行业协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司、北京美博环球文化传播有限公司 </td> 
    </tr> 
     
    <tr> 
     <th> 参展联系人 </th> 
     <td> 杨梅 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 13687636395 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>