<div class="exhi_content"> 
 <h1> 2018第39届（春季）成都美博会CCBE</h1> 
 <div class="exhi_time">
   展会???间：2018年04月19-21日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201801051801596944.jpg" alt="2018第39届（春季）成都美博会CCBE" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>成都美博会(CCBE)，1997年11月创办，是中国中西部地区第一个美容博览会，且已连续举办21年共计38届。2016年10月，与全球第三大会展集团——英富曼Informa联姻，是迄今为止西部第一家获外国资本的展会。主办方英富曼维纳展览(成都)有限公司是英富曼会展集团旗下又一中国顶尖美博会组展方。 2018第39届成都美博会，展出面积70，000平方米，2600个展台，将汇聚1000多家国际国内参展商，买家来自四川、云南、???州、重庆、陕西、甘肃、西藏等中西部地区以及其他省外城市，2018年春季到场参观采购的买家预估将超140,000人次。CCBE的“4+1”模式，涉及专业美容、日化线、医学整形、专业美发和国际品牌五大领域。同期行业大型活动、比赛以及峰会论坛将同场演绎，成都美博会CCBE是企业进驻西部市场的必选平台，其国际化的专业服务能力以及21年影响力，为行业搭建了高质量的贸易交流平台。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <div style="text-align:center;">
   <p class="MsoNormal" align="center"><b><span style="color:#d40a00;font-size:14px;">2018第39届（春季）成都美博会CCBE</span></b><b><span style="font-family:微软雅黑;color:#c00000;font-size:14pt;">
      <o:p></o:p></span></b></p> 
  </div> 
  <p align="center"><b><span style="color:#d40a00;font-size:14px;">展览??间：</span><span style="color:#d40a00;font-size:14px;">2018年4月19-21日</span>
    <o:p></o:p></b></p> 
  <p align="center"><b><span style="color:#d40a00;font-size:14px;">地点：成都世纪城新国际会展中心</span><span style="color:#d40a00;font-size:14px;">4/5/6/7/8号馆（成都市高新区世纪城路198号）</span>
    <o:p></o:p></b></p> 
  <p align="center"><b><span style="color:#d40a00;font-size:14px;">咨询热线：冯倩颖</span><span style="color:#d40a00;font-size:14px;">028-67936368</span><span style="color:#d40a00;font-size:14px;">&nbsp;&nbsp;13088083309</span><span style="color:#d40a00;font-size:14px;">微信同号</span></b></p> 
  <p align="center"><b><img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051749184444066.png" alt="" border="0"><br> </b></p> 
  <p align="center">官方微信号：cdmeibohui或成都美博会
   <o:p></o:p></p> 
  <p align="center">新浪官方微博：<a href="http://weibo.com/meibohui">http://weibo.com/meibohui</a>
   <o:p></o:p></p> 
  <p align="center">腾???官方微博：<a href="http://t.qq.com/chengdumeibohui">http://t.qq.com/chengdumeibohui</a>
   <o:p></o:p></p> 
  <p align="center">欧盟、韩国、台湾、香港地区咨询当地代理 &nbsp;</p> 
  <p style="text-align:justify;"><b><span style="color:#d40a00;">展览概况</span></b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">成都美博会(CCBE)，1997年11月创办，是中国中西部地区第一个美容博览会，且已连续举办21年共计38届。2016年10月，与全球第三大会展集团——英富曼Informa联姻，是迄今为止西部第一家获外国资本的展会。主办方英富曼维纳展览(成都)有限公司是英富曼会展集团旗下又一中国顶尖美博会组展方。
   <o:p></o:p></p> 
  <p style="text-align:justify;">2018第39届成都美博会，展出面积70，000平方米，2600个展台，将汇聚1000多家国际国内参展商，买家来自四川、云南、贵州、重庆、陕西、甘肃、西藏等中西部地区以及其他省外城市，2018年春季到场???观采购的买家预估将超140,000人次。CCBE的“4+1”模式，涉及专业美容、日化线、医学整形、专业美发和国际品牌五大领域。同期行业大型活动、比赛以及峰会论坛将同场演绎，成都美博会CCBE是企业进驻西部市场的必选平台，其国际化的专业服务能力以及21年影响力，为行业搭建了高质量的贸易交流平台。</p> 
  <p style="text-align:justify;"><b><span style="color:#d40a00;">组织机构</span>
    <o:p></o:p></b></p> 
  <p style="text-align:justify;"><b><span style="color:#2690fe;">主办单位</span></b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">英富曼会展集团 / Informa Global Exhibitions</p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b>承办单位</b></span>
   <o:p></o:p></p> 
  <p style="text-align:justify;">英富曼维纳展览（成都）有限公司 &nbsp;Informa&nbsp;Wiener Exhibitions（Chengdu）Co. Ltd.</p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b>主办机构</b></span>
   <o:p></o:p></p> 
  <p style="text-align:justify;">四川美容美发行业商会 / Sichuan Chamber of Commerce for Beauty &amp; Hairdressing
   <o:p></o:p></p> 
  <p style="text-align:justify;">四川省化妆品商会 / Sichuan Chamber of Commerce for Cosmetic Products
   <o:p></o:p></p> 
  <p style="text-align:justify;">四川省美容整形协会 / Sichuan Plastic Surgery Association
   <o:p></o:p></p> 
  <p style="text-align:justify;">成都市美发美容协会 / Chengdu Beauty &amp; Hairdressers Association
   <o:p></o:p></p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b>&nbsp;协办单位</b></span></p> 
  <p>
   <o:p></o:p></p> 
  <p style="text-align:justify;">宜宾市美容美发行业协会/巴中市美容美发化妆品行业协会/德阳市美容美发化妆品商会/绵阳市化妆品行业协会/遂宁市美容美发协会/眉山市美容化妆品协会/达州市美容美发行业协会/邛崃市美容美发协会/都江堰市美容美发协会/龙泉美容美发协会/川商美容美发用品协会</p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b>官方媒体</b></span>
   <o:p></o:p></p> 
  <p style="text-align:justify;">成都美博会 四川美业手机报 &nbsp;美业人</p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b>新媒体合作</b></span>
   <o:p></o:p></p> 
  <p style="text-align:justify;">138新传媒/CBO化妆品财经在线</p> 
  <p style="text-align:justify;"><b><span style="color:#2690fe;">媒体支持</span></b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">化妆品报/C2CC中国化妆品网/化妆品观察/青眼/火爆化妆品招商网/成都美容人才网/《四川美丽经典》/爱赚百万/《台湾全国美容》/《锋镝传媒》/《广州粤之风》/《美容新风尚》/meiku美酷网/读妆/E展网/好展会网/美频道/中国美容网/四川美容网/哈发时尚网/壹象网/云同盟/3158&nbsp;展会网</p> 
  <p style="text-align:justify;">更多合作伙伴，请浏览官方网站www.meibohui.com</p> 
  <p style="text-align:justify;"><span style="color:#d40a00;"><b>展馆分布</b></span>
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b>3-4/4号馆：专业线馆</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">集中展示美容仪器、医美、皮肤管理。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051751570425111.png" alt="" border="0"><br> </p> 
  <p align="center">▲第38届成都美博会之仪器区</p> 
  <p align="center" style="text-align:justify;"><b>5号馆：&nbsp;专业线馆</b></p> 
  <p>
   <o:p></o:p></p> 
  <p style="text-align:justify;">集中展示美甲美睫半永久、皮肤管理、医美。
   <o:p></o:p></p> 
  <p style="text-align:center;">&nbsp;<img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051752207867110.png" alt="" border="0">&nbsp;
   <o:p></o:p></p> 
  <p align="center">▲第38届成都美博会之美甲美睫半永久区
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b>6号馆：&nbsp;膏霜、供应链馆</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">该馆主要集中专业线膏霜类产品（如功效型护肤类、高保养护肤品等），专业线项目类合作以及OEM、ODM、包装、原料等 。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051752476226827.png" alt="" border="0"><br> </p> 
  <p align="center">▲第38届成都美博会之膏霜供应链区
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b>7号馆：专业线：高端品牌馆</b></p> 
  <p>
   <o:p></o:p></p> 
  <p style="text-align:justify;">以大医美、抗衰、健康养生、整形（项目、技术、产品）、丰胸减肥等众多特色项目云集。
   <o:p></o:p></p> 
  <p style="text-align:center;">&nbsp;<img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051755108242167.png" alt="" border="0">
   <o:p></o:p></p> 
  <p align="center">▲第38届成都美博会之高端品牌馆现场
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b>8号馆：日化线 / 国际品牌馆</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">涵盖护肤品、彩妆及化妆用具、面膜、跨境电商、进口品、美甲美睫、香水、个人护理、口腔护理、洗护产品、洗涤类、手足产品、婴童护理用品、特色品类、微商/电商等。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051755198415982.png" alt="" border="0"><br> </p> 
  <p align="center">▲第38届成都美博会之日化线区现场
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b><span style="color:#d40a00;">收费标准</span></b>
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b>1、展台类型：标准展位</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">展位规格：3m×3m&nbsp;
   <o:p></o:p></p> 
  <p style="text-align:justify;">国内客户：人民币10000/个
   <o:p></o:p></p> 
  <p style="text-align:justify;">国际客户：美元 1600/个
   <o:p></o:p></p> 
  <p style="text-align:justify;">配 &nbsp;&nbsp;置：3m×3m标准展位，2.5米高展板、1张咨询桌；2把椅子、两盏射灯、220V(500W以内)电源插座1个。
   <o:p></o:p></p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051754119793325.png" alt="" border="0"><br> </p> 
  <p style="text-align:justify;"><b>2、展台类型：豪华标准展位</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">展位规格：3m×3m
   <o:p></o:p></p> 
  <p style="text-align:justify;">国内客户：人民币12000 /个
   <o:p></o:p></p> 
  <p style="text-align:justify;">国际客户：美元2000/个
   <o:p></o:p></p> 
  <p style="text-align:justify;">配 &nbsp;&nbsp;置：3m×3m标准展位，2.5米高展板
   <o:p></o:p></p> 
  <p style="text-align:justify;">1张咨询桌、2把椅子、两盏射灯，统一制作升高楣板，展位内铺地毯，220V/500W以内插座1个。
   <o:p></o:p></p> 
  <p style="text-align:center;">&nbsp;<img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051755360098376.png" alt="" border="0"></p> 
  <p style="text-align:justify;"><b>3、展台类型：国际区展位</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">展位规格：3m×3m
   <o:p></o:p></p> 
  <p style="text-align:justify;">国际客户：美元 270/m2（标展）
   <o:p></o:p></p> 
  <p style="text-align:justify;">国际客户：美元 240/m2（光地）
   <o:p></o:p></p> 
  <p style="text-align:justify;">标展配置：3m×3m标准展位，2.5米高展板、1张咨询桌、2把椅子、两盏射灯，统一制作升高楣板，展位内铺地毯，宴会桌椅一套，玻璃柜1个，产品隔板3个。220V/500W以内插座1个(超出用电量需按规定支付特电费用)。
   <o:p></o:p></p> 
  <p style="text-align:justify;">光地：无任何配置，需自行或委托搭建商设计、装修。
   <o:p></o:p></p> 
  <p style="text-align:center;">&nbsp;<img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051755502589714.png" alt="" border="0"></p> 
  <p style="text-align:justify;"><b>4、展台类型：光地（国内区）</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">展位规格：18㎡起
   <o:p></o:p></p> 
  <p style="text-align:justify;">国内客户：人民币8000/9m2 &nbsp;
   <o:p></o:p></p> 
  <p style="text-align:justify;">配 &nbsp;&nbsp;置：无任何配置，需自行或委托搭建商设计、装修。
   <o:p></o:p></p> 
  <p style="text-align:justify;">注1：以上报价不包含特装管理费、展具租赁费及额外用电租赁安装费。
   <o:p></o:p></p> 
  <p style="text-align:justify;">注2：有关展会现场广告收费、展会服务等资料，可咨询组委会或参阅《参展手册》。</p> 
  <p style="text-align:justify;"><b><span style="color:#d40a00;">上届精彩活动及论坛</span></b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">&nbsp;<b>“王者荣耀”2017中国西部美业颁奖盛典</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">时间： 11月4日18:00-21:30
   <o:p></o:p></p> 
  <p style="text-align:justify;">地点：成都首座万豪酒店</p> 
  <p style="text-align:justify;">参会人数：1000人
   <o:p></o:p></p> 
  <p style="text-align:center;">
   <o:p>
    &nbsp;
    <img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051756360051037.png" alt="" border="0">
   </o:p></p> 
  <p style="text-align:justify;">11月4日晚，成都美博会组委会重磅打造一年一度的行业高端颁奖盛典——“王者荣耀”2017中国西部美业颁奖盛典在成都首座万豪酒店隆重举办。现场来自川商知名人士及西南五省精英近千人将齐聚一堂。并颁布了极具榜样力量的九大奖项。</p> 
  <p style="text-align:justify;"><b>2017第二届特别美势大会</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">时间： 11月4日13:00-16：30
   <o:p></o:p></p> 
  <p style="text-align:justify;">地点：成都美博会7号馆活动区
   <o:p></o:p></p> 
  <p style="text-align:justify;">参会人数：400人
   <o:p></o:p></p> 
  <p style="text-align:center;">
   <o:p>
    <img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051756577752809.png" alt="" border="0">&nbsp;
   </o:p></p> 
  <p style="text-align:justify;">11月4日下午，以“快捷美容新时代”为主题的特别美势第二季在7号馆馆尾举办。众多行业大咖聚集现场分享，共谈美容时代新模式。调研分析发布最新趋势，讲解快捷美容的必然性、运营模式、精彩案例；帮扶中小企业看清方向，稳中求发展干货满满，得到了观众一致称赞。
   <o:p></o:p></p> 
  <p style="text-align:justify;"><b>2017中国化妆品零售业大会西南峰会</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">时间： 11月3日9:00-16:00
   <o:p></o:p></p> 
  <p style="text-align:justify;">地点：成都龙之梦瑞峰国际酒店
   <o:p></o:p></p> 
  <p style="text-align:justify;">参会人数：1000人
   <o:p></o:p></p> 
  <p style="text-align:center;">
   <o:p>
    &nbsp;
    <img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051757135097527.png" alt="" border="0">
   </o:p></p> 
  <p style="text-align:justify;">11月3日，成都美博会开幕前戏——由CBE主办、欧莱雅集团主赞助的“2017 CBE商业联盟西南四省会员大会暨中国化妆品零售业大会西南峰会”，???成都龙之梦瑞峰国际酒店隆重举行。西南五省区的千余家化妆品代理商和零售商的掌门人云集大会，共商服务新消费者大事！</p> 
  <p style="text-align:justify;"><b>中国化妆品品类大会</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">时间： 11月4日13:30-16:00
   <o:p></o:p></p> 
  <p style="text-align:justify;">地点：成都美博会9号馆活动区
   <o:p></o:p></p> 
  <p style="text-align:justify;">参会人数：300人
   <o:p></o:p></p> 
  <p style="text-align:center;">
   <o:p>
    &nbsp;
    <img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051757382483768.png" alt="" border="0">
   </o:p></p> 
  <p style="text-align:justify;">11月4日，在9号馆，由C2CC传媒主办的以“特色品类”为主题的中国化妆品品类大会，汇聚化妆品行业以及跨界精英和数据专家，通过“品类大会”进行充分呈现。还在现场发布了消费者喜爱的各品类指数，零距离感受行业最新品类产品的创意和时尚。</p> 
  <p style="text-align:justify;"><b>2017中国国际纹绣锦标赛</b>
   <o:p></o:p></p> 
  <p style="text-align:justify;">时间： 11月4-6日
   <o:p></o:p></p> 
  <p style="text-align:justify;">地点：成都美博会5号馆活动区
   <o:p></o:p></p> 
  <p style="text-align:justify;">参会人数：1000人
   <o:p></o:p></p> 
  <p style="text-align:center;">
   <o:p>
    &nbsp;
    <img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051757522092969.png" alt="" border="0">
   </o:p></p> 
  <p style="text-align:justify;">11月4-6日，成都美博会CCBE携手香港环球创美会以及中国、韩国、越南、泰国、缅甸、马来西亚、摩西哥、德国、意大利、丹麦、俄罗斯等11个国家的纹绣人士共同演绎了一场精彩绝伦的国际纹绣界顶级盛事！大赛还有邀请到巴西世界小姐共聚于此，这是纹绣大赛中规格最高的一次国际性大赛。我们把最好的大赛呈现给行业，以此推动行业的健康发展。</p> 
  <p style="text-align:justify;"><span style="color:#d40a00;"><b>???体宣传</b></span>
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎韩国、马来西亚、香港、台湾等地强强携手
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎专业观众呼叫中心，一对一邀约服务，点对点邀约
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎美博会直通车，VIP专业观众免费坐车到展馆门口
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎拥有75484名粉丝的自媒体“四川美业手机报”
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎近45家全国行业媒体全程宣传推广
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎各地市州行业协会、商会、明星经销商强强协作
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎微信等新媒体、电邮、数据库营销及网络全程宣传
   <o:p></o:p></p> 
  <p style="text-align:justify;">◎楼宇广告、地铁广告等覆盖
   <o:p></o:p></p> 
  <p style="text-align:center;">&nbsp;<img src="http://jmimg.138job.com/KEditorUpImages/2018-1/201801051758172678913.png" alt="" border="0">
   <o:p></o:p></p> 
  <p align="center">▲第38届成都美博会观众入场
   <o:p></o:p></p> 
  <p align="center"><b><span style="font-size:14px;color:#d40a00;">成都——美业开发的首选之地！</span>
    <o:p></o:p></b></p> 
  <p align="center"><b><span style="font-size:14px;color:#d40a00;">欢迎您参加第39届成都春季美博会！</span>
    <o:p></o:p></b></p> 
  <p align="center"><span style="font-size:16px;"><b><span style="color:#d40a00;font-size:14px;">Welcome to the 39th Chengdu Beauty Expo(spring)2018</span></b></span>
   <o:p></o:p></p> 
  <p align="center">&nbsp;</p> 
  <p align="center">&nbsp;</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 成都世纪城新国际会展中心4/5/6/7/8号馆 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 英富曼会展集团 / Informa Global Exhibitions </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 英富曼维纳展览（成都）有限公司 Informa Wiener Exhibitions（Chengd </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="www.meibohui.com" target="_blank">www.meibohui.com</a> </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 冯小姐 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 13088083309 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>