<div class="exhi_content"> 
 <h1> 2018第27届(春季)西安国际美博会邀请函</h1> 
 <div class="exhi_time">
   展会时间：2018年04月10-12日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201711141033093735.jpg" alt="2018第27届(春季)西安国际美博会邀请函" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>国(西安)国际美容美发化妆品博览会(以下简称西安国际美博会)业已成功举办了26届。通过专业化、品牌化、市场化运作，西安国际美博会不断拓展规模、蜕变升华，业成为西部地区规模最大、影响力最强的美业博览会。西安国际美博会每年举办春、秋两届，春季为每年的4月份，秋季为每年的10月份。 2018第27届(春季)西安国际美博会暨第三届中国(西安)国际美业微电???展将于04月10-12日在西安·曲江国际会展中心隆重举办，本届博览会预计将有400家展商、1000个国际品牌、20000平米展示面积、10000人次参观，覆盖医疗美容、美容美发、美甲纹绣、化妆品、培训机构、美业微电商、中医药养生、生产包装等美业全产业链。 大美有道，美行天下，您就是美的创造者，您就是美的传播者，您也将是美的受益者，西安国际美博会期待您的加入，与您共享国际美业盛宴。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><b><span style="font-size:16px;">2018第27届(春季)西安国际美博会邀请函</span></b></p> 
  <p><span style="color:#48a2ff;"><b>一、中国西部地区专业美容博览会</b></span></p> 
  <p>中国(西安)国际美容美发化妆品博览会(以下简称西安国际美博会)业已成功举办???26届。通过专业化、品牌化、市场化运作，西安国际美博会不断拓展规模、蜕变升华，业成为西部地区规模最大、影响力最强的美业博览会。西安国际美博会每年举办春、秋两届，春季为每年的4月份，秋季为每年的10月份。</p> 
  <p>2018第27届(春季)西安国际美博会暨第三届中国(西安)国际美业微电商展将于04月10-12日在西安·曲江国际会展中心隆重举办，本届博览会预计将有400家展商、1000个国际品牌、20000平米展示面积、10000人次参观，覆盖医疗美容、美容美发、美甲纹绣、化妆品、培训机构、美业微电商、中医药养生、生产包装等美业全产业链。</p> 
  <p>大美有道，美行天下，您就是美的创造者，您就是美的传播者，您也将是美的受益者，西安国际美博会期待您的加入，与您共享国际美业盛宴!</p> 
  <p><span style="color:#2690fe;"><b>二、组织机构</b></span></p> 
  <p>主办单位：陕西省???容美发化妆品业协会</p> 
  <p>西安曲江德智行国际展览有限公司</p> 
  <p>承办单位：西安曲江德智行国际展览有限公司</p> 
  <p><span style="color:#2690fe;"><b>三、时间安排</b></span></p> 
  <p>布展时间：2018年04月08日-09日</p> 
  <p>展览时间：2018年04月10日-12日</p> 
  <p>展览地点：西安·曲江国际会展中心</p> 
  <p><b><span style="color:#2690fe;">四、展区设置</span></b></p> 
  <p>国际展团：力邀美国、德国、韩国、泰国、日本、中国香港、中国台湾等国家和地区的国际美业品牌企业将盛装参展参会；</p> 
  <p>医疗美容：医疗整形美容机构、医疗整形美容手术器械及设备、耗材，医学抗衰老(养生)系列产品，医疗美容类特殊化妆、护肤、美容产品及包材，互联网+医美等；</p> 
  <p>美容美发：专业美容减肥纤体，抗衰美白，仪器设备，养生及国际保养品，手足护理，美甲，纹绣，美发，养发，生发，专业发品，美容美发教育培训机构，专业媒体；</p> 
  <p>美业微电商：美容化妆品、营养保健品、面膜、酵素、玛卡，美业微店平台、美业O2O服务商、微运营服务商，移动互联网园区、产业园区等；</p> 
  <p>化妆品：洗护类，护肤类，彩妆类，香水类，美妆工具类，孕婴童护理类，口腔护理类，男士护理类，家用洗涤类，美容保养品类，零售连锁加盟，进口产品代理等；</p> 
  <p>美业培训机构：专业媒体、管理软件、手机APP、美容和美发教育培训机构。美容健身中心、美容保健学校、健身器材和产品、美容美发培训服务等；</p> 
  <p>中医药养生：中医养生与中医(药)保健养生产品，养生(项目、技术、产品及耗材)，温灸，药浴，保健理疗用品，天然及营养保健品，日本、泰国等地区养生机构、项目及理念；</p> 
  <p>生产包装：美容化妆品原料及配方，生产包装、灌装设备，日化代工，OEM、ODM等供应链产品等。</p> 
  <p><span style="color:#2690fe;"><b>五、收费标准</b></span></p> 
  <p>1、展位费用</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711141029374052342.jpg" alt="" border="0"><br> </p> 
  <p>a、标准展位：提供三面围板、楣板制作、洽谈桌一张、折椅两把、射灯两只、10A/220V插座一个；</p> 
  <p>b、旗舰展位：提供地毯、高档门头、彩色企业门楣、玻璃展柜、射灯两只、折椅两把、10A/220V插座一个；</p> 
  <p>c、室内、外特装展区只提供光地，不提供任何配置。</p> 
  <p>2、会刊宣传(注:尺寸为210mm×140mm)</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711141030257923847.jpg" alt="" border="0"><br> </p> 
  <p>3、广告投放</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711141030358078921.jpg" alt="" border="0"><br> </p> 
  <p><span style="color:#2690fe;"><b>六、宣传推广</b></span></p> 
  <p>1、主流媒体：在西部十二省主流电视媒体和广播电台大量投放展会广告、及时报道展会新闻；全面、高规格地对展会进行宣传报道。</p> 
  <p>2、网络媒介：通过西安美博会官网、陕西省美协官网、138美容人才网、火爆化妆品招商网、360化妆品网、3158展会网、中国化妆品行业网、中国美容招聘网、环球化妆品网、E展网、化妆品代理网、中国第一美甲网、等全国行业内300多家网站进行推广宣传。</p> 
  <p>3、报纸杂志：通过各省主流报纸、行业内专业杂志，全面宣传推广美博会及同期亮点活动。</p> 
  <p>4、自媒体：通过西安国际美博会官方微信公众平台以及业内多家微信大号，充分发挥自媒体快速传播，高交互性、高参与性的特点，为西安美博会积累一大批黏性高的优质专业粉丝。</p> 
  <p>5、在美博会举办期间，我们将邀请国内外???家媒体进行全方位的实时报道，将美博会打造成业界反响强烈的品牌盛会。</p> 
  <p><span style="color:#2690fe;"><b>七、观众邀约</b></span></p> 
  <p>1、大巴车免费接送：由组委会派专人负责西部5省区各地州市各大美业店老板与优秀代理商、经销商、批发商、渠道商、零售商的一对一邀约并设大巴车免费接送服务。</p> 
  <p>2、电话、短信邀约：通过美博会客服平台、短信平台针对全国美业专业观众开展全方位的电话、短信邀约。</p> 
  <p>3、微信平台邀约：通过西安国际美博会微信公众平台，定期向粉丝展示美博会吸睛亮点并发出热情的邀约。</p> 
  <p>4、邀请函、门票邀约：印制大量参观券，派专人在陕西及中西部各省市各大美业店、美业批发市场集中派发，紧紧锁定目标客户。</p> 
  <p>5、活动邀约：组委会组将织专人负责中西部各省市各大美业店与美业精英的一对一特备活动邀约。</p> 
  <p>6、组团参观：西安国际美博会组委会将邀请全国各省各地州市美业协会携美业精英组团参观。</p> 
  <p><span style="color:#2690fe;"><b>八、参展须知</b></span></p> 
  <p>1、填好参展申请书，经盖章签字认可后传至组委会办公室。</p> 
  <p>2、展位安排以先报名、先交款、先安排为原则，组委会有权对少量展位予以调整。</p> 
  <p>3、确认展位后七日之内将相关费用汇入组委会指定账户，款项收到后予以最终确认参展展位，否则展位将不予保留。</p> 
  <p>4、参展商不得私自转让展位和展出与展会内容无关的展品，否则取消参展资格。</p> 
  <p>5、具有企业法人资格营业执照;经营进口化妆品须有商检合格证、卫生许可证；厂家具有生产许可证、卫生许可证;展会期间将加强知识产权保护，不得经营假冒伪劣产品，否则后果自负。(注：以上各证自备复印件，备有关管理部门抽检)</p> 
  <p>九、西安国际美博会组委会办公室</p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#2690fe;"><b>地 址：西安市雁展路华侨城天鹅堡3号楼</b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#2690fe;"><b>联系人：刘萍152 0299 6599(同微信)</b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#2690fe;"><b>电 话：029-62929031&nbsp;</b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#2690fe;"><b>传 真：029-85505320</b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;color:#2690fe;"><b>邮 箱：lp_expo@163.com</b></span></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 西安·曲江国际会展中心 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 陕西省美容美发化妆品业协会、西安曲江德智行国际展览有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 西安曲江德智行国际展览有限公司 </td> 
    </tr> 
    <tr> 
     <th> 参展联系人 </th> 
     <td> 刘萍 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15202996599 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>