<div class="exhi_content"> 
 <h1> 2018海峡厦门国际美容美发化妆用品博览会</h1> 
 <div class="exhi_time">
   展会时间：2018年06月02-04日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201712191409361693.jpg" alt="2018海峡厦门国际美容美发化妆用品博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>2018海峡厦门国际美容美发化妆用品博览会是中国美容系列展在华南布局的重要市场，目标打造成辐射台湾、香港、广东、江西、浙江、福建等地区的美业盛会，构建海峡两岸美业交流平台。本次展会面向中国大陆、台湾、香港、韩国、日本等东南亚国家进行招商。产品涵盖美容专业线、洗涤日化线、医疗美容、养生保健、女性时尚妆饰及供应线品类。设有专业美容展区、养生专区、美甲美睫纹绣区、日化专区、美发区、包装专区 6大专区。同期将举办行业内的各种大赛、海峡两岸美业高峰论坛等活动。本届展会规划2 大展馆，展览面积约20000平方米，规划800个国际标准展位，目标吸引50，000名海峡两岸美业人到场参展参观。 美丽的鹭岛——厦门，恭候您的光临。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">2018海峡厦门国际美容美发化妆用品博览会邀请函</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">同期举办：2018海峡厦门国际美妆养生微电商博览会</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">时间：2018年6月2日-4日&nbsp;</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">地点：厦门国际会展中心 (思明区会展路198号)</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-12/201712191409304889699.jpg" alt="" border="0"></span></b></span></p> 
  <p></p> 
  <p><br> </p> 
  <p><span style="font-size:14px;"><b><span style="color:#0162f4;font-size:12px;">组织机构</span></b></span></p> 
  <p>主办单位： 中国百货商业协会健康美容用品分会 、厦门美发美容化妆品协会</p> 
  <p>承办单位：山东美博国际文化传播有限公司 厦门海名会展服务有限公司、北京美博环球文化传播有限公司</p> 
  <p>战略合作单位：138美容人才网、&nbsp;中国化妆品招商网、火爆化妆品招商网、中国化妆品网、第一展会网??广告买卖网 、福建如美杂志、金泉网、发现资源 、粤之风、哈发时尚网、3158展会网、360化妆品网、中国行业会展网、中国美容招聘网、东方化妆品网、美丽中国、《医学美学美容》、中国美容时尚报等；</p> 
  <p>海外招展：广州外展有限公司 香港东港国际展览有限公司</p> 
  <p><b><span style="color:#0162f4;">一、展览日程安排</span></b></p> 
  <p>日期及开放时间：</p> 
  <p>搭建布展期：2018年6月1日</p> 
  <p>展览展示期：2018年6月2日-4日(三天)</p> 
  <p>撤 展 期：2018年6月4日(下午15：00开始)</p> 
  <p>展览地点：厦门国际会展中心(思明区会展路198号)</p> 
  <p><b><span style="color:#0162f4;">二、公司简介：</span></b></p> 
  <p style="text-align:justify;">山东美博国际文化传播有限公司作为中国美容美发化妆品行业的专业品牌打造商及综合服务机构，专注于美业17年，提供多元化服务，业务领域涵盖：展会、会议、论???、教育、新媒体等。与旗下：郑州美展文化传播有限公司、济南美博文化传播有限公司、青岛美博国际文化传播有限公司共同打造中国美容行业连锁展，每年在北京、青岛、济南、郑州、武汉、昆明、太原、厦门、长沙、南宁等地举办美博会，累计成功举办90余届，构成覆盖中国及促进一带一路的市场网络。同时拥有中国巡回美妆文化节、中国美容行业地级招商会等平台，成功举办：美业文化艺术节、千人海帆之夜、合德合利合心意千人盛典之夜、海峡两岸美业盛典、山东美业资源大会、鲁台美业联盟会等活动。公司现为全国工商联美业商会大数据电商委员会山东分会会长、山东省化妆品行业协会常务副会长、台湾国际美容交流协会副会长、山东省美发美容行业协会执行副会长、青岛市美容美发化妆品行业协会执行会长、福建省化妆品协会副会长、福建、广东、湖北、山西、云南省美协理事等荣誉单位。</p> 
  <p style="text-align:justify;"><b><span style="color:#0162f4;">三、展会介绍</span></b></p> 
  <p style="text-align:justify;">厦门地处我国东南沿海-福建省东南部，与台湾宝岛隔海相望。是中国沿海经济最发达的城市之一，商业繁荣，具有非常优越的办展基础。</p> 
  <p style="text-align:justify;">2018海峡厦门国际美容美发化妆用品博览会是中国美容系列展在华南布局的重要市场，目标打造成辐射台湾、香港、广东、江西、浙江、福建等地区的美业盛会，构建海峡两岸美业交流平台。本次展会面向中国大陆、台湾、香港、韩国、日本等东南亚国家进行招商。产品涵盖美容专业线、洗涤日化线、医疗美容、养生保健、女性时尚妆饰及供应线品类。设有专业美容展区、养生专区、美甲美睫纹绣区、日化专区、美发区、包装专区 6大专区。同期将举办行业内的各??大赛、海峡两岸美业高峰论坛等活动。本届展会规划2 大展馆，展览面积约20000平方米，规划800个国际标准展位，目标吸引50，000名海峡两岸美业人到场参展参观。 美丽的鹭岛——厦门，恭候您的光临。</p> 
  <p style="text-align:justify;"><span style="color:#0162f4;"><b>本届展会规划同期活动</b></span></p> 
  <p style="text-align:justify;">2018年海峡两岸美业交流会</p> 
  <p style="text-align:justify;">2018年美业超级演说家大赛</p> 
  <p style="text-align:justify;">2018年海峡两岸大医美论坛</p> 
  <p style="text-align:justify;">2018海峡两岸纹饰大赛</p> 
  <p style="text-align:justify;">2018年海峡两岸美甲大赛</p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b><span style="color:#013add;">四、展示范围</span></b></span></p> 
  <p style="text-align:justify;">1、日化线：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品；</p> 
  <p style="text-align:justify;">2、 专业线：美容院护肤品、美体产品及仪器、、纹绣、香薰、美甲产品及工具、原料、OEM\ODM等供应链产品；</p> 
  <p style="text-align:justify;">3、美发产品类：洗护染烫产品、发制品、养发育发产品、美发设备；</p> 
  <p style="text-align:justify;">5、减肥养生保健类：减肥产品、减肥技术及设备、艾灸、酵素、经络魔罐瘦身、悬灸养生、熏蒸护理、能量石经脉护理、香薰；</p> 
  <p style="text-align:justify;">6、女性时尚用品类：流行饰品、消费品、沙龙护肤、仪器、保健品、化妆包等；</p> 
  <p style="text-align:justify;">7、包装材料类：包装器械、各类容器、专用箱包、装潢印刷；</p> 
  <p style="text-align:justify;">8、口腔美容：牙齿美白、口腔护理产品；</p> 
  <p style="text-align:justify;">9、沐浴洗浴：温泉、泳池、沐浴、桑拿、会所、SPA、足浴、健康产业等；</p> 
  <p style="text-align:justify;">10、其它：美业微电商、专业媒体、教育培训机构。</p> 
  <p style="text-align:justify;"><b><span style="color:#0162f4;">上届精彩瞬间</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#0162f4;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-12/201712121619240540971.jpg" alt="" border="0"><br> </span></b></p> 
  <p style="text-align:center;"><b><span style="color:#0162f4;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-12/201712121619331264645.jpg" alt="" border="0"><br> </span></b></p> 
  <p></p> 
  <p style="text-align:justify;">组委会在福建省内各地市设免费大巴车乘坐服务，方便快捷尽显人性化。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-12/201712121619533585469.jpg" alt="" border="0"><br> </p> 
  <p></p> 
  <p style="text-align:justify;"><span style="color:#0162f4;"><b>五、价格表</b></span></p> 
  <p style="text-align:justify;">1、各种展位价格表(图片???供参考)</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-12/201712121620129071755.jpg" alt="" border="0"><br> </p> 
  <p style="text-align:justify;">2、会场广告价格：</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-12/201712121620273250237.jpg" alt="" border="0"><br> </p> 
  <p style="text-align:justify;">3、荣誉奖牌收费标准：A中国百货商业协会健康美容用品分会颁发的“诚信经营单位”5000元/块；B、青岛、厦门、济南、武汉、太原、昆明、郑州地方协会颁发的“诚信经营单位”3000元/块；</p> 
  <p style="text-align:justify;">4、参展手续：请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展；</p> 
  <p style="text-align:justify;">5、展位安排：“先报名、先交款，先安排”的原则，组委会???终保留少量展位调动权；</p> 
  <p style="text-align:justify;">6、参展要求：具有企业法人资格营业执照;经营进口化妆品须有商检合格证、卫生许可证；厂家具有生产许可证、卫生许可证；不得经营假冒伪劣产品，否则后果自负。</p> 
  <p style="text-align:justify;"><span style="color:#2690fe;"><b><span style="color:#d6006d;">六、大会组委会招展办公室</span></b></span></p> 
  <p style="text-align:center;"><span style="color:#2690fe;"><b>青岛管理办公室：青岛市市南区山东路52号华嘉大厦205室</b></span></p> 
  <p style="text-align:center;"><span style="color:#2690fe;"><b>&nbsp;电话：0532-85019625</b></span></p> 
  <p style="text-align:center;"><span style="color:#2690fe;"><b>&nbsp;传真：0532-85833615&nbsp;</b></span></p> 
  <p style="text-align:center;"><span style="color:#2690fe;"><b>联系人：张文洁&nbsp;</b></span></p> 
  <p style="text-align:center;"><span style="color:#2690fe;"><b>&nbsp;电话：15966833506 qq：2697937509</b></span></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 厦门国际会展中心 (思明区会展路198号) </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 中国百货商业协会健康美容用品分会 、厦门美发美容化妆品协会 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司 厦门海名会展服务有限公司、北京美博环球文化传播有限公司 </td> 
    </tr> 
    
    <tr> 
     <th> 参展联系人 </th> 
     <td> 张文洁 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15966833506 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>