<div class="exhi_content"> 
 <h1> 2018年第27届中部地区医疗美容化妆品健康产业（长沙）博览会</h1> 
 <div class="exhi_time">
   展会时间：2018年06月28-30日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201712191353581930.jpg" alt="2018年第27届中部地区医疗美容化妆品健康产业（长沙）博览会" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>全新的2018中部地区美容化妆品健康产业(长沙)博览会是由湖南省化妆品经营行业协会、长沙市化妆品安全协会与长沙百商美博会展服务有限公司、山东美博国际文化传播有限公司强强联合共同承办打造，为了促进和推动湖南省美容化妆品健康产业与国际接轨，真正使我省的生活美容、医疗美容、化妆品行业走向科学化、产业化、国际化的发展之路。2018中部地区美容化妆品健康产业(长沙)博览会将在湖南国际会展中心(芒果馆)举行，展馆面积约2万平方米，可以规划国际标准展位1000余个，将划分国际展区、特装展区、旗舰展区、标准展区等展位规划，本届展会重点突出“健康美容、安全美容、时尚美容”理念，为展商及观众提供一个行业交流合作、品牌展示的线下平台，努力打造成为中国华中地区最具影响力的美妆产业盛会。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">2018年第27届中部地区医疗美容化妆品健康产业(长沙)博览会</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">同期举办：2018华中(长沙)国际医疗美容抗衰老博览会 2018华中(长沙)国际美妆养生微电商博览会</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">举办时间：2018年3月27日-29日</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">展馆名称：湖南国际会展中心(湖南广电芒果馆)</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;">(长沙市开福区浏阳河大桥东)</span></b></span></p> 
  <p style="text-align:center;"><span style="font-size:16px;"><b><span style="color:#d40a00;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071126391843587.jpg" alt="" border="0"><br> </span></b></span></p> 
  <p><span style="color:#0162f4;"><b><span style="color:#d40a00;">规划活动：</span></b></span></p> 
  <p>1、2018中部地区医疗美容化妆品健康产业(长沙)博览会开幕式；</p> 
  <p>2、2018湖南美妆文化艺术节(国内顶级美发化妆大师秀、人体彩绘大师秀、美甲美睫大赛、半永久定妆技能大赛、湖南美业演说家、美博在线·美业直播间、湖南美业创新发展论坛)；</p> 
  <p>3、2018湖南医美与生美经营管理论坛；</p> 
  <p>4、2018中部地区医疗美容化妆品健康产业(长沙)博览会答谢晚宴及颁奖盛典；</p> 
  <p>主办单位：湖南省化妆品经营行业协会、长沙市化妆品安全协会、<span style="line-height:1.5;">长沙百商美博会展服务有限公司；</span></p> 
  <p>支持单位：中华全国工商业联合会美容化妆品业商会大数据分会、中华全国美容美发化妆品协商会联盟、中韩美丽健康产业协会、台湾美容交流协会、湖南国际会展中心、台湾化妆品GMP产业发展协会；</p> 
  <p>协办单位： 山??美博国际文化传播有限公司</p> 
  <p>指导单位 ：湖南省商务厅、长沙市会展办</p> 
  <p><b><span style="color:#d40a00;">合作媒体：</span></b></p> 
  <p>138美容人才网、5588火爆化妆品招商网、《发现资源 》、《粤之风》、中企动力、美博在线、哈发时尚网、中国化妆品招商网、中国化妆品网、第一展会网 、3158展会网、360化妆品网、365美容门户网、中国行业会展网、中国美容招聘网、东方化妆品网、美丽中国、《医学美学美容》、中国美容时尚报、湖南广播电视台、长沙晚报、潇湘晨报、湖南经视、湖南都市、政法频道、三湘都市报、今日女报 等。</p> 
  <p><b><span style="color:#d40a00;">展会介绍：</span></b></p> 
  <p>全新的2018中部地区美容化妆品健康产业(长沙)博览会是由湖南省化妆品经营行业协会、长沙市化妆品安全协会与长沙百商美博会展服务有限公司、山东美博国际文化传播有限公司强???联合共同承办打造，为了促进和推动湖南省美容化妆品健康产业与国际接轨，真正使我省的生活美容、医疗美容、化妆品行业走向科学化、产业化、国际化的发展之路。2018中部地区美容化妆品健康产业(长沙)博览会将在湖南国际会展中心(芒果馆)举行，展馆面积约2万平方米，可以规划国际标准展位1000余个，将划分国际展区、特装展区、旗舰展区、标准展区等展位规划，本届展会重点突出“健康美容、安全美容、时尚美容”理念，为展商及观众提供一个行业交流合作、品牌展示的线下平台，努力打造成为中国华中地区最具影响力的美妆产业盛会。</p> 
  <p><b><span style="color:#d40a00;">山东美博国际文化传播有限公司简介：</span></b></p> 
  <p>山东美博国际文化传播有限公司作为中国美容美发化妆品行业的专业品牌打造商及综合服务机构，专注于美业18年，提供多元化服务，业务???域涵盖：展会、会议、论坛、教育、新媒体等。与旗下：北京美博环球文化传播有限公司、北京中百文化传播有限公司、郑州美展文化传播有限公司、济南美博文化传播有限公司、青岛美博国际文化传播有限公司、武汉环球美博文化传播有限公司、长沙百商美博会展服务有限公司、香港美博国际文化传播有限公司、太原中展美博会展服务有限公司共同打造中国美容行业连锁展，每年在北京、青岛、济南、郑州、武汉、昆明、太原、厦门、长沙、南宁等地举办美博会，累计成功举办100余届，构成覆盖中国及促进一带一路的市场网络。同时拥有中国巡回美妆文化节、中国美容行业地级招商会等平台，成功举办：美业文化艺术节、千人海帆之夜、合德合利合心意千人盛典之夜、海峡两岸美业盛典、山东美业资源大会、鲁台美业联盟会等活动。</p> 
  <p><b><span style="color:#d40a00;">系列展往届精彩图片：</span></b></p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071128084655472.png" alt="" border="0"><br> </p> 
  <p><b><span style="color:#d40a00;">展示范围：</span></b></p> 
  <p>1、日化线：日用化妆品、洗涤及个人护理用品、彩妆、香水、婴幼儿护肤品、口腔护理用品；</p> 
  <p>2、专业线：美容院护肤品、美体产品及仪器、、纹绣、香薰、美甲产品及工具、原料、OEM\ODM等供应链产品；</p> 
  <p>3、美发产品类：洗护染烫产品、发制品、养发育发产品、美发设备；</p> 
  <p>4、医学整形美容：整形设备、仪器、整形技术、整形机构、生物基因美容产品；</p> 
  <p>5、减肥养生保健类：减肥产品、减肥技术及设备、艾灸、酵素、经络魔罐瘦身、悬灸养生、熏蒸护理、能量石经脉护理、香薰；</p> 
  <p>6、女性时尚用品类：流行饰品、消费品、沙龙护肤、仪器???保健品、化妆包等；</p> 
  <p>7、包装材料类：包装器械、各类容器、专用箱包、装潢印刷；</p> 
  <p>8、口腔美容：牙齿美白、口腔护理产品；</p> 
  <p>9、沐浴洗浴：温泉、泳池、沐浴、桑拿、会所、SPA、足浴、健康产业等；</p> 
  <p>10.其它：美业微电商、专业媒体、教育培训机构。</p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071128295825546.png" alt="" border="0"><br> </p> 
  <p><b><span style="color:#d40a00;">宣传推广及展会服务：</span></b></p> 
  <p>1、启动大巴车服务：长沙美博会属于华中，辐射周边地级市：湖北、江西、贵州、重庆、广西等区域，因此我们在湖南省14个地级市：长沙市、株洲市、湘潭市、衡阳市、邵阳市、常德市、益阳市、娄底市、郴州市、永州市、怀化市、吉首市(又称湘西自治州)、张家界、岳阳市;(安排大巴接人)；</p> 
  <p>2、组团化：我??在各城市及地市设立专门的观众报名处，让观众更加方便的跟随团队进行参观，并对负责组织的人员进行奖励；</p> 
  <p>3、互联网宣传：通过专业的社群进行宣传，红包的派发，粉丝群的打造;专业网络媒体的付费广告形式、官方网站的推送、协会商会的链接转发等方式；</p> 
  <p>4、美妆媒体宣传：湖南专业美妆媒体杂志及周边省市美妆媒体展前的广告投放;138美容人才网、5588火爆化妆品招商网、《发现资源 》、《粤之风》、中企动力、美博在线、哈发时尚网、中国化妆品招商网、中国化妆品网、第一展会网 、3158展会网、360化妆品网、365美容门户网、中国行业会展网、中国美容招聘网、东方化妆品网、美丽中国、《医学美学美容》、中国美容时尚报等宣传；</p> 
  <p>5、一对一派送：中后期将印制5万份纸质参观指南由专业的市场派发人员进行一对一的派送到店内负责人??中，提前预览本届展会的情况，外省城市我们启动了顺丰快递的方式进行邮递，让观众快速便捷的掌握展会情况；</p> 
  <p>6、观众礼品的预约：为鼓励和回馈网上预登记和提前预约一直支持我们的专业观众，组委会准备了上千份礼品进行观众大回馈;让观众感受到真正的愉悦商务之旅。</p> 
  <p><span style="color:#d40a00;"><b>参展费用：</b></span></p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071129393468711.jpg" alt="" border="0"><br> </p> 
  <p><span style="color:#d40a00;"><b>广告费用：</b></span></p> 
  <p style="text-align:center;"><img src="http://jmimg.138job.com/KEditorUpImages/2017-11/201711071130040495093.jpg" alt="" border="0"><br> </p> 
  <p><b><span style="color:#d40a00;">参展手续：</span></b></p> 
  <p>请认真填写《参展合约书》加盖公章寄送或传真至组委会，并于七日内将参展费用汇至指定帐号，且将银行付款底单传真至组委会，以确认参展。展位安排：“先报名、先交款，先安排”原则，组委会最终保留少量展位调动权。</p> 
  <p><b><span style="color:#d40a00;">参展要求：</span></b></p> 
  <p>具有企业法人资格营业执照；经营进口化妆品须有商检合格证、卫生许可证；厂家具有生产许可证、卫生许可证;不得经营假冒伪劣产品和美容不相关产品，否则后果自负。</p> 
  <div style="text-align:center;">
   <span style="line-height:1.5;"><b><span style="color:#f10b00;">长沙百商美博会展服务有限公司</span></b></span>
  </div> 
  <p></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">地址：长沙市芙蓉区朝阳街街道五一路235号湘域中央1栋1503室</span></b></p> 
  <p style="text-align:center;"><b><span style="color:#f10b00;">&nbsp;联系人：赵亮 电 话： 15666791851</span></b></p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 湖南国际会展中心（湖南广电芒果馆）（长沙市开福区浏阳河大桥东） </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 湖南省化妆品经营行业协会、长沙市化妆品安全??会、长沙百商美博会展服务有限公司 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> 山东美博国际文化传播有限公司 </td> 
    </tr> 
   
    <tr> 
     <th> 参展联系人 </th> 
     <td> 赵亮 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 15666791851 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>