<div class="exhi_content"> 
 <h1> 第31届广东美妆节</h1> 
 <div class="exhi_time">
   展会时间：2016年03月06-12日
 </div> 
 <div class="content"> 
  <p align="center"> <img src="http://jmimg.138job.com/UploadFile\ExhibitionPic\201601111735246250.jpg" alt="第31届广东美妆节" style="max-width:900px"></p> 
  <p> &nbsp;</p> 
  <p> <span>[展会简介]</span>“广东美妆节”是由广州美博城主办的一项美妆行业的展贸会，创办于2003年，每年两届，分别于春季和秋季中旬举行。每届“美妆节”都有大量美妆行业的厂商和经销商云集参展，与会的不仅有本国企业，更有很多来自非洲、东欧和阿拉伯地区的国家的外国客商，参展商围绕产品展示、服务推广、品牌营销、渠道合作等方面集中展开参观和洽谈。同时每一次的美妆节，主办方都邀请美妆行业的知名人物到场参与，以及就美妆行业发展的前瞻性进行现场讨论与分析。另外，在活动期间，作为主办方的美博??，还会组织各种丰富多彩的活动，为大家更广泛地交流和商晤，创造更多的更有利的条件。</p> 
  <p> &nbsp;</p> 
  <p> <span>[展会详细信息]</span></p>
  <p>“广东美妆节”是由广州美博城主办的一项美妆行业的展贸会，创办于2003年，每年两届，分别于春季和秋季中旬举行。每届“美妆节”都有大量美妆行业的厂商和经销商云集参展，与会的不仅有本国企业，更有很多来自非洲、东欧和阿拉伯地区的国家的外国客商，参展商围绕产品展示、服务推广、品牌营销、渠道合作等方面集中展开参观和洽谈。同时每一次的美妆节，主办方都邀请美妆行业的知名人物到场参与，以及就美妆行业发展的前瞻性进行现场讨论与分析。另外，在活动期间，作为主办方的美博城，还会组织各种丰富多彩的活动，为大家更广??地交流和商晤，创造更多的更有利的条件。</p> 
  <p>具体参展办法</p> 
  <p><b>一、 展览会日期</b>：</p> 
  <p>1、2016年3月4-5日厂商入馆布展。</p> 
  <p>2、2016年3月6-12日展会活动、采购订货。</p> 
  <p><b>二、 品牌展示：</b></p> 
  <p>1、美容院产品、SPA水疗美容品及仪器设备、美白补水、祛斑祛痘等系列产品。</p> 
  <p>2、减肥瘦身、塑形体雕、美体仪器、纤体设备及皮肤分析检测仪器等;</p> 
  <p>3、中医养身、保健、营养及配套产品;</p> 
  <p>4、美甲产品、美体内衣、纹绣纹饰及配套产品;美发产品、仪器设备、工具及发廊配套用品;</p> 
  <p>5、彩妆、个人洗涤护理品、香水及化妆品、面膜、OEM、ODM系列产品;连锁经营及特许加盟等;</p> 
  <p>6、整形美容设备、仪器、技术及整形美容医院、医疗美容机构、品牌美容院;</p> 
  <p>7、生产设备及包装：包装机械、包装容器、化妆品生产设备;</p> 
  <p>8、美容健身中心、美容保健学校、美容教育培训机构、美容化妆现场演示等。</p> 
  <p><b>三、参展要求：</b></p> 
  <p>具有企业法人资格营业执照;经营进口化妆品须有商检合格证、卫生许可证;厂家具有生产许可证、卫生许可证;不得经营假冒伪劣产品，否则后果自负。</p> 
  <p><b>四、宣传活动：</b></p> 
  <p>第三十一届广东美妆节将联合行业媒体进行全方面的宣传报道。在广州美博城官网、公众微信平台、微博等进行全程活动追踪。同时还将举行一系列大型颁奖、论坛、大赛、表演等活动，第三十一届广东美妆节将是您更加期待的美业盛会!</p> 
  <p><b>五、报名办法：</b></p> 
  <p>第31届广东美妆节热枕欢迎您的参与，参展方法请详询电话!</p> 
  <p>联系电话：020-61149999,020-86258923.</p> 
  <p>地址：广州越秀区广园西路121号(广州美博城主楼一楼招商前台)</p>
  <p></p> 
  <p> &nbsp;</p> 
  <p> &nbsp;</p> 
  <table width="100%" border="0" cellspacing="1" cellpadding="1" class="exhi_tb info_tb"> 
   <tbody> 
    <tr> 
     <th width="16%" bgcolor="#ebebeb"> 展会举办地点 </th> 
     <td width="84%" bgcolor="#ebebeb"> 广州越秀区广园西路121号 </td> 
    </tr> 
    <tr> 
     <th> 展会主办单位 </th> 
     <td> 广州美博城 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 展会承办单位 </th> 
     <td bgcolor="#ebebeb"> </td> 
    </tr> 
    <tr> 
     <th> 展会官网地址 </th> 
     <td> <a href="http://www.gzmbc.com.cn/" target="_blank">http://www.gzmbc.com.cn/</a> </td> 
    </tr> 
   
    <tr> 
     <th> 参展联系人 </th> 
     <td> 020-61149999 </td> 
    </tr> 
    <tr> 
     <th bgcolor="#ebebeb"> 参展联系方式 </th> 
     <td bgcolor="#ebebeb"> 020-86258923 </td> 
    </tr> 
   </tbody> 
  </table> 
  <div class="exhi_recoment"> 
   <h3 class="exhi_t"> 化妆品招商品牌</h3> 
   <ul class="exhi_list"> 
    <script src="/js/exhilist.js" language="javascript"></script> 
   </ul> 
  </div> 
 </div> 
</div>