<html>
<head>
	<link rel="shortcut icon" href="/image/logo/favicon.ico"/>
    <meta charset="utf-8">
    <!-- 强制ie用最高模式渲染 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- 强制ie用最高模式或者谷歌frame渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 移动设备优先(优先栅格布局-水平排列) -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- 移动设备优先(优先栅格布局-水平排列) 进制用户缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/css/public/rasterize.css" rel="stylesheet" type="text/css" />
    <link href="/css/public/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/data/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="/css/data/details.css" rel="stylesheet" type="text/css" />
    
    <meta name="Keywords" content="美帮来美业服务，行业招聘；美业资讯；培训学校等综合平台">
    <meta name="Description" content="美帮来提供美容美发、仪器、衣包、微雕、美容床品；行业招聘；美业资讯；培训学校信息等行业批发市场的美业服务平台">
    <title>美业服务就选美帮来</title>
</head>

<body>
<div id="header-html"></div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="company-info" class="row tabBar-outerBorder" >
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="tab_demo" class="HuiTab marginNone tabBar-outerBorder">
                            <div class="tabBar clearfix">
                                <span>公司详情</span>
                                <!-- <span>公司详情2</span>
                                <span>公司详情3</span> -->
                            </div>
                            <div class="tabCon content">
                               <!-- <p>1欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>-->
                            </div>
                            <!-- <div class="tabCon content">
                                <p>2欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
                                <p>1欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
                            </div>
                            <div class="tabCon content">
                                <p>3欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。3欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。3欧莱雅集团是美妆品行业中的领导者，经营范围遍及130多个国家和地区，在全球拥有283家分公司、42家工厂、100多个代理商，以及5万多名的员工，是总部设于法国的跨国公司，也是财富全球500强企业之一。</p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="table-responsive marginTableNone">
                            <table class="table table-border table-bordered table-striped " style="width: 100%">
                                <tr class="text-c" id="firstTr">
                                    <td>发布时间</td>
                                    <td>招聘职位</td>
                                    <td>薪资</td>
                                    <td>工作经验</td>
                                    <td>招聘人数</td>
                                    <td>所在城市</td>
                                    <td>操作</td>
                                </tr>
                                <!-- <tr class="text-c">
                                    <td>是素数</td>
                                    <td>s1ss发布时间发布时间发布时间发布时间发布时间发布时间</td>
                                    <td>ss1s</td>
                                    <td>1sss</td>
                                    <td>s1s发布时间发布时间发布时间发布时间发布时间s</td>
                                    <td>ss1s</td>
                                    <td>1sss</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-3 col-md-3">
                <div class="row">
                    <!-- <div class="col-xs-12">新闻预留</div> -->
                    <div class="col-xs-12">
                        <img class="img-responsive center-block" src="/image/public/blank.gif" data-echo="/image/hot4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div id="footer-html"></div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script charset="UTF-8" type="text/javascript" src="/js/data/details.js"></script>
<script type="text/javascript" src="/js/public/echo.js"></script>
<script src="/js/public/template.js"></script>
<script>
	$("#header-html").load("/topbar.html"); 	$("#footer-html").load("/footer.html");
    Echo.init({
        offset: 100,
        throttle: 100
    });
</script>

<script id="tpl" type="text/html">
	<%var LOGO_URL = '//meibanglai.com/data/getData.do';%>
	<table class="table">
		<tr>
			<td class="col-sm-3">
				<img src="<%:=data.image_url%>" style="max-height: 180px; max-width: 240px;">
			</td>
			<td>
				<span style="font-weight: bold;font-size: 2rem;">公司名：<%:=data.shop_name%></span>
				<span>手机号码：<%:=data.phone%></span>
				<span class="show_box1-context_product">地址：<%:=data.product%></span>
				<span>关注：</span>
				<span>更新时间：</span>
				<span class="starts">
					<ul id="pingStar">
						<span>评价:</span>
						<li rel="1" title="特别差，1分" class=""></li>
						<li rel="2" title="很差，2分" class=""></li>
						<li rel="3" title="一般，3分" class=""></li>
						<li rel="4" title="很好，4分" class=""></li>
						<li rel="5" title="非常好，5分" class=""></li>
						<span id="dir"></span>
					</ul>
					<input value="4" id="startP" type="hidden">
				</span>
				
			</td>
		</tr>
	</table>
	<hr>
</script>

</html>