<html>
<head>
	<link rel="shortcut icon" href="/image/logo/favicon.ico"/>
    <meta charset="utf-8">
    <!-- 强制ie用最高模式或者谷歌frame渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 移动设备优先(优先栅格布局-水平排列) 进制用户缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/data/invitation.css" rel="stylesheet" type="text/css" />
    <link href="/css/data/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
    
    <meta name="Keywords" content="美帮来美业服务，行业招聘；品牌招商；美业资讯；培训学校等综合平台"> 
    <meta name="Description" content="美帮来提供美容美发、仪器、衣包、微雕、美容床品；行业招聘；品牌招商；美业资讯；培训学校信息等行业批发市场的美业服务平台">
    <title>美业服务就选美帮来</title>
</head>

<body>
<div id="header-html"></div>

<div class="container-fluid" style="min-height: 850px">
    <div id="wp">
    	
    </div>
</div>

<div id="footer-html"></div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="/js/public/template.js"></script>
<script charset="UTF-8" type="text/javascript" src="/js/data/invitation.js"></script>
<script>
	$("#header-html").load("/topbar.html"); 	$("#footer-html").load("/footer.html");
</script>

<script id="tpl" type="text/html">
	<%var educationToString = function(education) {
	        if(education == "0") return "无";
	        if(education == "1") return "高中";
	        if(education == "2") return "大专";
	        if(education == "3") return "本科";
	        if(education == "4") return "本科以上";
	   };
	%>
	<%var jobToString = function(job) {
	        if(job == "0") return "全职";
	        if(job == "1") return "兼职";
	   };
	%>
	<div class="container p-t-2">
		<div class="position_start clearfix">
			<div class="fl w-100 bg-fff list-fl">
				<ul class="clearfix p-t-1">
					<li class="pos_title fl pox_block"><%:=data.jod_name%></li>
					<li class="fr f-rem-2 p-r-2 c-red pox_block p_l_2">月薪：<%:=data.treatment_leve%></li>
				</ul>
				<ul>
					<li class="li-e">
						<span class="pos_welfare">饭餐</span>
						<span class="pos_welfare">产品福利</span>
						<span class="pos_welfare">底薪+提成</span>
						<span class="pos_welfare">岗前培训</span>
						<span class="pos_welfare">季度奖</span>
						<span class="pos_welfare">年终奖</span>
					</li>
				</ul>
				<ul class="p-l-2">
					<li class="p-b-5">招聘人数：<%:=data.recruitment_pepole%></li>
					<li class="p-b-5">学历：<%:=data.degree_required%></li>
					<li class="p-b-5">工作经验：<%:=data.work_experience%></li>
					<li class="p-b-5">联系人：<%:=data.job_HR_pepole%></li>
					<li class="p-b-5">电话：<%:=data.job_tellPhone_number%></li>
					<li class="p-b-5">地址：<%:=data.jod_release_address%></li>
					<li><button class="btn btn-danger ">申请职位</button></li>
				</ul>
	
				<ul class="p-l-2">
					<li>
						<h2>职位描述</h2> 
						<%:=data.job_description%>
					</li>
				</ul>
				<ul class="p-l-2">
					<li>
						<h3>公司介绍</h3>
					</li>
					<li>老板招人太忙啦，没时间填写公司简介。</li>
				</ul>
	
			</div>
			<div class="fl w-30 m-l-1 bg-fff list-fr" style="display: none">
				<ul class="p-l-2">
					<li>高新区红姐美业誉峰会所</li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	
	</div>
</script>
<script id="tpl2" type="text/html">
	<%var educationToString = function(education) {
	        if(education == "0") return "无";
	        if(education == "1") return "高中";
	        if(education == "2") return "大专";
	        if(education == "3") return "本科";
	        if(education == "4") return "本科以上";
	   };
	%>
	<%var jobToString = function(job) {
	        if(job == "0") return "全职";
	        if(job == "1") return "兼职";
	   };
	%>
	<div class="row" style="background-color: #F9F9F9; padding-top:10px">
		<div class="container">
			<td class="row" style="background-color: #FFF;padding-left: 10px;">
				<!--标题 公司-->
				<div class="col-xs-12 col-sm-12 col-md-12">
					<table class="table row marginBottom15">
						<tr>
							<td class="col-xs-12 col-md-8" style="padding-top: 20px;">
								<span class="invitation-name"><%:=data.jod_name%></span>
								<span id="company-name"><%:=data.company_name%></span>
							</td>
							<td class="col-xs-12 col-md-4" style="padding-top: 20px;">
								<span class="treatment"><span style="color: red">月薪：<%:=data.treatment_leve%></span>
							</td>
						</tr>
						
						
					</table>
				</div>
				<!--要求-->
				<table class="table col-xs-12">
					<tr>
						<td class="border0">
							<span>招聘人数：<%:=data.recruitment_pepole%></span>
						</td>
					</tr>
					<tr>
						<td class="border0">
							<span>学历：<%:=data.degree_required%></span>
						</td>
					</tr>
						<td class="border0">
							<span>工作经验：<%:=data.work_experience%></span>
						</td>
					</tr>
				</table>
				<table class="table">
					<tr class="col-sm-12 col-md-12">
						<td class="welfare">
							<a>提供饭餐</a>
							<a>星期天休息</a>
							<a>公司产品福利</a>
							<a>多劳多得(底薪+提成)</a>
							<a>岗前培训</a>
							<a>季度奖励</a>
							<a>年终奖</a>
						</td>
					</tr>
				</table>
				<!--面试联系方式-->
				<table class="table col-xs-12 col-sm-12 col-md-12">
					<tr>
						<th class="col-xs-12 col-sm-12">面试联系方式</th>
					</tr>
					<tr>
						<td class="col-xs-12 col-sm-12 col-md-12 ">
							<span class="contact-detail">
								<img src="/image/public/call.png">
								电话：<span id="phone"><%:=data.job_tellPhone_number%></span></span>
							<span class="contact-detail">
								<img src="/image/public/phone.png">
								联系人：<span id="people"><%:=data.job_HR_pepole%></span></span>
							<span class="contact-detail">
								<img src="/image/public/map.png">
								上班地址：<span id="address"><%:=data.jod_release_address%></span></span>
							<button class="btn btn-danger">申请职位</button>
						</td>
					</tr>
					<tr>
						<th class="col-xs-12 col-sm-12 col-md-12">
							职位要求
                    	</th>
					</tr>
					<tr>
						<td>
							<%:=data.job_description%>
						</td>
					</tr>
					<tr>
						<th class="col-xs-12 col-sm-12 col-md-12">任职资格</th>
					</tr>
				</table>
			</div>
		</div>
		<div class="hidden-xs col-sm-3 col-md-3">
			<div class="row">
				<!-- <div class="col-xs-12">新闻预留</div> -->
				<div class="col-xs-12">
					<img class="img-responsive center-block" src="/image/public/blank.gif" data-echo="/image/hot4.png">
				</div>
			</div>
		</div>
	</div>
</script>
</html>